[2020-06-13 05:57] harshavardhana commented on #9822
It will not be same @andemi https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html

[2020-06-13 08:00] Oleg26Dev opened #9823 "MinIO Docker: cannot run"
I try to run the MinIO Docker.
Windows 7, dick D: has 80 GB free space

[code]

[2020-06-13 08:19] kofiasare commented on #7936
To preserve host using nginx,  I added
[code]

[2020-06-13 14:14] harshavardhana commented on #7936
All the necessary settings documented here https://docs.minio.io/docs/setup-nginx-proxy-with-minio.html

[code]

[2020-06-13 14:17] harshavardhana commented on #9823
Docker on windows is not necessarily great thing that works, just use our windows binary directly for windows as

[code]

Also please use the issue template properly next time, we painfully write these templates to ensure that you send us all the necessary details for us to respond appropriately.

Incomplete issues like this shall be closed.

[2020-06-13 14:17] #9823 closed

[2020-06-13 15:27] itzsimpl opened #9825 "Performance/config issue?"
## Expected behavior

Minio Erasure Code in 12 drive setup (minioEC) performance to be more on par with Minio with zfs raidz2 pool of 12 drives (minioZ). Is there a way to help minioEC with cache drives? On upload there is a substantial difference also between minioZ and minioZC.

## Actual behaviour

Performance almost 10x slower on many small files upload.

## Steps to reproduce the behaviour

_

[2020-06-13 15:48] itzsimpl opened #9826 "Cashed pipes from minio storage to host"
My use case is to use minio as a data storage. I would use parts of this data (not entire buckets, or subfolders, only some files from those and not always the same ones). The software that I use is limited to POSIX io. The mc client supports piping data from host to minio storage, but not in the other direction.

My feature request would be to provide piping from minio storage as well. If you add

[2020-06-13 15:49] harshavardhana commented on #9825
Don't use ZFS, just give all drives to MinIO on JBOD mode and use XFS (our recommended FS)

[2020-06-13 15:59] itzsimpl commented on #9825
I had the same low performance for uploads even with XFS.

[2020-06-13 16:04] harshavardhana commented on #9826
@itzsimpl we implement S3 API and do not plan to break this anytime in future.

If any special work is needed you would need to come onboard as a customer to influence these decisions if you must which are then delivered as part of the stack.

S3 API is the bounds where we would work under, so unfortunately this feature request is out of scope.

[2020-06-13 16:04] #9826 closed

[2020-06-13 16:28] harshavardhana commented on #9825
To perform real numbers look at warp https://github.com/minio/warp

[2020-06-13 17:13] itzsimpl commented on #9825
Thank you for the link; I've ran the tests with warp mixed, and here are the results:

minioZC:
Mixed operations.

Operation: DELETE
 * Operations: 3333 (10.1% of operations)
 * Throughput: 17.28 obj/s (3m12.954s, starting 16:38:41 UTC)

Operation: STAT
 * Operations: 9996 (30.4% of operations)
 * Throughput: 51.80 obj/s (3m13.004s, starting 16:38:41 UTC)

Operation: GET
 * Operations: 14956 (45.4

[2020-06-13 17:15] harshavardhana commented on #9825
NOTE: to get distributed numbers you need to run them with higher concurrency and also with equal number of client nodes.

Look at how to run distributed numbers using warp.

[2020-06-13 17:23] itzsimpl commented on #9825
I apologise, but can you be more specific? I'm running warp via `docker run minio/warp`. Could you provide the parameters that should be run?

[2020-06-13 17:29] harshavardhana commented on #9825
Increase the file size for PUT and GET --obj.size 32MiB ?

[2020-06-13 17:43] harshavardhana commented on #9825
Also what you are seeing is the parity also being written basically 250MiB .. is basically 500MIB writes to disk the default parity.

This is perhaps shows how much is each drive capable really..

So looks like it is a good number for the drives you have, you will get better numbers from more concurrency and bigger filesizes.

[2020-06-13 18:04] itzsimpl commented on #9825
Ok, I assume that by increasing the obj.size (leaving out obj.randsize) the test will be more skewed towards larger files, thus reducing the influence of transmitting small files (where there's really a big difference between in displayed performance of the underlying backend; xfs jbod vs zfs).

"Also what you are seeing is the parity also being written basically 250MiB .. is basically 500MIB writ

[2020-06-13 21:15] itzsimpl commented on #9825
I've been playing a little bit more; "Also what you are seeing is the parity also being written basically 250MiB .. is basically 500MIB writes to disk with default parity."
If I understand correctly by setting MINIO_STORAGE_CLASS_RRS=EC:2 and MINIO_STORAGE_CLASS_RRS=EC:2 the minioEC and minioZ should write the same amount of parity bits:

MinioEC:2
Mixed operations.

Operation: STAT
 * Operations:

[2020-06-13 21:56] SoftBoil opened #9827 "Copy fails for files larger than 2GB"
I'm testing copying to my MinIO Server with 3 different video files: 1 GB, 2 GB, and 3GB.  The smaller files complete copying but the 3 GB file fails with error. I get the same error from different files greater than 2 GB.

## Expected Behavior
Successful transfer with: "mc cp --debug test3G.mp4 myminio/test"

## Current Behavior
At some varying point after 2GB the copy fails with the error:

mc:

[2020-06-13 21:58] harshavardhana commented on #9825
Not RRS it is _STANDARD Afaics there is no issue, it's what your drives are capable of.

So that's basically 370*2 = 740 is your actual write throughput.

[2020-06-13 21:59] harshavardhana commented on #9827
@SoftBoil upgrade to latest and let us know if you see the same issue.

[2020-06-13 22:07] SoftBoil commented on #9827
I updated both the client and server earlier.  I have the latest versions according to:
https://github.com/minio/minio/releases and https://github.com/minio/mc/releases

Is there a different version that I should try?

[2020-06-13 22:09] harshavardhana commented on #9827
Looks like an issue with mc can you update to latest master ?

[2020-06-13 22:19] harshavardhana commented on #9827
Is this reproducible all the time @SoftBoil ?

[2020-06-13 22:20] harshavardhana commented on #9827
Can you share the entire --debug log?

[2020-06-13 22:22] itzsimpl commented on #9825
I apologise, made a mistake in copy pasting, I've set both to EC:2.

What I'm noticing is that at least on smaller files, there seems to be a noticeable difference in what type of setup MinIO Server runs on (Erasure Code or zfs), and it's visible both via minio/warp, as well as by a normal user via `mc cp`.

[2020-06-13 22:22] SoftBoil commented on #9827
I'll attempt to compile from master.  I haven't compiled with go before so it might take a while.

[2020-06-13 22:25] SoftBoil commented on #9827
Yes, it fails every time I try to copy.  But the exact progress point that it fails varies.  For example over 4 attempts the last progress is:
1) 3.05 GiB / 3.15 GiB
2) 2.14 GiB / 3.15 GiB
3) 2.39 GiB / 3.15 GiB
4) 2.14 GiB / 3.15 GiB

[2020-06-13 22:37] SoftBoil commented on #9827
Sure, I'll attach the debug output.
[debug.txt](https://github.com/minio/minio/files/4775614/debug.txt)

[2020-06-13 22:46] SoftBoil commented on #9827
@harshavardhana I built mc from the master branch but got the same error.

Release-Tag:DEVELOPMENT.GOGET | Commit:DEVELOPMENT. | Host:REDACTED | OS:darwin | Arch:amd64 | Lang:go1.14.3 | Mem:464 MB/2.1 GB | Heap:464 MB/2.0 GB

[2020-06-13 22:58] harshavardhana commented on #9825
Small files you need to bring in some SSDs or NVMe . HDDs are not that suitable for small file workload.

[2020-06-13 22:59] harshavardhana commented on #9827
Thanks will investigate looks like a regression @SoftBoil

[2020-06-13 23:05] harshavardhana commented on #9825
I don't think we have any issue here, let's close this issue. It is working as expected for the hardware.

[2020-06-13 23:05] #9825 closed

[2020-06-13 23:08] itzsimpl commented on #9825
That was my initial question; Is there a way to add SSD or NVMe cache to a MinIO Server running EC on pool of rust.

However, this still does not answer the source of the difference in performance between two, basically, equal setups.

[2020-06-13 23:12] harshavardhana commented on #9825
ZFS does its own stuff which changes performance behavior.

There is no such thing possible adding caching is superfluous, and it is not useful the issue here is the hardware is not capable of what you want.

[2020-06-13 23:13] harshavardhana commented on #9827
is this setup do you have 4 separate drives? @SoftBoil

[2020-06-13 23:19] harshavardhana commented on #9827
I was able to upload fine

[code]

And I don't even have 4 separate drives

[code]

[code]

[2020-06-13 23:19] itzsimpl commented on #9825
Based on observations of how much the network was saturated during the minio/warp runs, and how much data the drives were actually writing, it seemed that in the case of zfs a lot more data was being written. Hence the higher numbers. It seems to me that the hw might be capable of more than what I'm getting.

[2020-06-13 23:22] SoftBoil commented on #9827
Yes, 2 SSD and 2 HDD on the same host.

[2020-06-13 23:25] harshavardhana commented on #9827
don't have such disparate setups. use homogenous setups to expect consistent behavior in performance.

[2020-06-13 23:33] SoftBoil commented on #9827
I understand that it is not ideal.  Would you consider this an unsupported scenario? Or is there a way to compensate, maybe "reduce your request rate" as the error message suggests?

[2020-06-14 00:03] harshavardhana commented on #9827
I think I found the issue its not related to your config, will be sending a fix @SoftBoil

[2020-06-14 00:38] SoftBoil commented on #9827
Thank you. I would be happy to test it.

[2020-06-14 07:34] imclaren commented on #9827
I am also seeing this bug.  I am using 4 identical drives using erasure code mode.  Thanks.

[2020-06-14 14:43] #9827 closed

[2020-06-14 14:44] harshavardhana commented on #9827
The bug is fixed please don't use master branch yet, because you won't be able to revert back to older releases from that.

Will push this fix to release branch where you can build and test locally.

[2020-06-14 19:25] harshavardhana commented on #9827
No need we made a release anyways..

[2020-06-15 01:35] tooptoop4 commented on #9370
@harshavardhana i would like to have a 'go' at fixing this. can you suggest any pointers like which file the changes should go into?

[2020-06-15 01:37] harshavardhana commented on #9370
You may have to do the necessary digging yourself, mostly in minio-go repository.

Before one dwells into that please test the functionality in latest release..

[2020-06-15 01:42] JankyGaming opened #9830 "Unable to read 'format.json' from.....EOF when trying to start Minio in distributed mode"
## Expected Behavior
When I run ./minio server http://hdd{1...2}.mydomain.com/hdd{1...2}/minio-data I expect it to say "Waiting for a minimum of 2 disks to come online (elapsed 1s)" (Like my other node does, port forward is correct on both networks, testing with nmap while waiting).

## Current Behavior
I get a wall of errors, as well as the "Waiting for a minimum of 2 disks to come online (elapse

[2020-06-15 02:15] harshavardhana commented on #9830
@JankyGaming this doesn't make sense, can you state which version are you running? specifically

`minio --version`

[2020-06-15 02:24] JankyGaming commented on #9830
minio version RELEASE.2020-06-14T18-32-17Z

[2020-06-15 02:27] JankyGaming commented on #9830
I suspect that it might have something to do with my router in hindsight because it looks like 0 packets have gone through port 9000 since the port forward despite being able to nmap the port when the server is waiting

[2020-06-15 02:27] harshavardhana commented on #9830
Are you sure your networking everything is fine? @JankyGaming

A simple setup seems to be working fine are you sure your networking is all in place? try a fresh setup by deleting everything on the backend drives?

[code]

[code]

[2020-06-15 02:28] harshavardhana commented on #9830
are you trying to set this one up behind a NAT to another NAT?

[2020-06-15 02:32] JankyGaming commented on #9830
Im not 100% sure what you mean by "to another NAT". I have a Mikrotik router with a dst-nat routing traffic on port 9000 to my local machine on port 9000. I also have a "hairpin nat" fix set up which I can elaborate on if it seems necessary.

Just to clarify, I can successfully nmap port 9000 from inside AND outside of my network and get "open" when minio is waiting for drives, despite throwing th

[2020-06-15 02:35] harshavardhana commented on #9830
AFAICS there is some networking setup issue on your end - I can deploy easily deploy a 10 node setup on local k8s cluster. There is nothing we can do, you may fix your networking problems first.

Make sure all TCP traffic can go through and also preferably use the distributed setup on the same subnet, distributed MinIO is not designed or tested to work across high latency networks.

[2020-06-15 02:42] #9830 closed

[2020-06-15 02:48] gravitionium commented on #8831
@Lukas012 Did you ever figure this out? if so, can you share your build/deploy templates?

[2020-06-15 03:00] harshavardhana commented on #8831
Since the advent of operator model it is worthwhile @gravitionium for you to look at

https://github.com/minio/minio-operator

[2020-06-15 04:49] harshavardhana commented on #9814
@Srikanthshetty here is how to run this successfully

[code]

Followed this article for vault setup https://learn.hashicorp.com/vault/kubernetes/sidecar

and here is a successful setup

[code]

[code]

[code]

[2020-06-15 04:49] #9814 closed

[2020-06-15 06:13] tooptoop4 commented on #9370
latest release still has issue

[2020-06-15 06:22] alexklu2 commented on #9818
Hello,
sorry i'm new here.

But your answer did not answer my question.

My question is how can i install SSL certificates for the Server on a **QNAP System** and not windows?

[2020-06-15 06:23] muzaffar-omer commented on #9072
Thank you @harshavardhana for your follow up on the issue. Much appreciated

[2020-06-15 06:27] harshavardhana commented on #9818
We don't know what QNAP is, you need to ask QNAP vendor for those specifics.

[2020-06-15 06:28] harshavardhana commented on #9370
Feel free to send a PR

[2020-06-15 06:32] alexklu2 commented on #9818
So this is not offically by you?
https://qnapclub.eu/de/qpkg/632

[2020-06-15 06:45] harshavardhana commented on #9818
Nope MinIO is our brand and product, QNAP is a different product which packages MinIO we don't officially package it..

[2020-06-15 06:59] harshavardhana commented on #9072
It is more comprehensive PTAL #9815

[2020-06-15 07:19] just3019 opened #9831 "SimpleXML (latest version 2.7.1) is vulnerable to an XXE vulnerability resulting SSRF, information disclosure, DoS and so on."
I refer to Minio via Maven。
[code]

I found security issues with Simple-XML from Dependency - Check。

result:**SimpleXML (latest version 2.7.1) is vulnerable to an XXE vulnerability resulting SSRF, information disclosure, DoS and so on.**
[cve-uri](https://nvd.nist.gov/vuln/detail/CVE-2017-1000190)

[2020-06-15 07:51] alexklu2 commented on #9818
Okay thanks for your answer.

But maybe you can help me anyway.

This is the config.json. Maybe you feel familiar with it and you can see how I can add a statement with path to ssl certificates and the directory etc.

`{
"api":{"_":[{"key":"requests_max","value":"0"},{"key":"requests_deadline","value":"10s"}]},

"audit_webhook":{"_":[{"key":"enable","value":"off"},{"key":"endpoint","value":""},{"k

[2020-06-15 08:34] damikun opened #9832 "Update/Correct error messages in Minio Web-client"
Currently if you try to create new bucket under minio server web-client  with some uppercase you will get not correct error response message:

Bucket name: Images (Incorrect because has Upper "I") but error message says nothing about the problem:

![image](https://user-images.githubusercontent.com/54806834/84635067-fdb46c80-aef2-11ea-8709-8c585e33260a.png)

If you try to use some special character

[2020-06-15 13:28] klauspost opened #9835 "Excessive memory allocations on ListObjects"
On `RELEASE.2020-06-03T22-13-49Z`

## Expected Behavior

Server uses a reasonable amount for ListObject calls.

## Current Behavior

Server Uses 27GB of RAM for ListObjects calls.

![image](https://user-images.githubusercontent.com/5663952/84663008-6ee32800-aed1-11ea-96d6-8d400be981f5.png)

## Steps to Reproduce (for bugs)

Memory trace supplied.

## Context

Investigate if we can make this scale

[2020-06-15 13:33] jdheyburn commented on #9593
This looks to be related to #9178 - in that both tickets are requested bind user to perform username logins in AD.

[2020-06-15 14:04] jdheyburn opened #9836 "Cannot log into MinIO GUI with LDAP STS Temporary Credentials"
## Expected Behavior
If using [LDAP Auth](https://github.com/minio/minio/blob/master/docs/sts/ldap.md), the temporary credentials obtained from STS following successful LDAP authentication should then allow the user to log into the GUI with the provided access and secret key.

## Current Behavior
When the obtained access and secret keys are using in the GUI, an error message is returned indicating

[2020-06-15 14:05] jdheyburn opened #9837 "Ability to log into MinIO GUI with LDAP Credentials"
**Is your feature request related to a problem? Please describe.**
Given a MinIO server has been correctly configured with LDAP for identity authentication, users should be able to log into the GUI using their LDAP credentials. This allows for SSO for MinIO for users.

**Describe the solution you'd like**
On MinIO GUI, users enter their LDAP/AD username in the Access Key field, followed by their p

[2020-06-15 15:59] harshavardhana commented on #9837
This is on purpose avoided you should look at our

 https://github.com/minio/mcs

This shall primarily replace all the UI related functionality, PTAL.

[2020-06-15 16:00] harshavardhana commented on #9836
STS creds are meant for API access, by applications which are aware of temporary access

UI is an anti-pattern for this that's why we wrote mcs

This is on purpose avoided you should look at our

https://github.com/minio/mcs

This shall primarily replace all the UI related functionality, PTAL.

[2020-06-15 16:02] harshavardhana commented on #9593
Yes it is, we may do it in future.

[2020-06-15 16:04] harshavardhana commented on #9835
@klauspost the PR referenced is not the regression it is perhaps the higher dentry memory pool that we use now .

Are you using Linux or Windows?

[2020-06-15 16:08] harshavardhana commented on #9072
https://github.com/minio/minio/pull/9815 is merged which can be used here, we will make a release in another couple of weeks.

[2020-06-15 16:08] #9072 closed

[2020-06-15 16:16] klauspost commented on #9835
Linux. It is not me, but reported here: https://minio.slack.com/archives/C3NDUB8UA/p1592209733069700

[2020-06-15 16:38] stefanfritsch opened #9838 "ISO 8601 format not accepted"
If you provide the date header in a PUT request to minio in ISO-8601 format you get the error:

```Invalid date format header, expected to be in ISO8601, RFC1123 or RFC1123Z time format.```

## Expected Behavior

Either you support ISO datetimes or you return an error that specifies that ISO datetimes are not supported.

## Steps to Reproduce (for bugs)

Use the following script and fill in the va

[2020-06-15 16:41] harshavardhana commented on #9838
We support what AWS S3 supports @stefanfritsch cannot support time formats beyond that.

[2020-06-15 17:49] Srikanthshetty commented on #9814
Thanks for the solution it worked for me with above entry point commands.

[2020-06-15 20:12] theriverman commented on #9746
Thanks for taking the time to check out my issue, @ebozduman

I have modified the permissions as you've requested, but no luck :(
[code]

I'll do my best to give you some more hopefully useful information, but should you have any idea, I'm absolutely happy to give it a shot and hunt down this bug(?).

So far, out of curiosity, I have created a new folder with my `minio` user in `/media/pi/Toshiba`

[2020-06-15 20:48] ebozduman commented on #9746
@theriverman
This is great debug information. Thank you very much.
I'll go through the new debug information one more time and discuss the case with my colleagues to decide what improvements we can do to make the process more clear and user friendly.

[2020-06-15 22:01] chilicat opened #9841 "Gateway startup leaks a Etcd connection"
The Gateway startup leaks an Etcd connection because `lookupConfigs` is called twice. The `lookupConfigs` method sets the global variable `globalEtcdClient` which means that on the second call we have a leaked Etcd connection

See: https://github.com/minio/minio/blob/master/cmd/config-current.go#L332

The easiest way to see that it is called twice is to configure Etcd to a non-existing endpoint, i

[2020-06-15 22:05] harshavardhana commented on #9841
This is doesn't say anything @chilicat globalEtcdClient is only initialized if its successfully connects, if it can't nothing is initialized.

[2020-06-15 22:11] chilicat commented on #9841
In my testing the method is also called twice if you connect successfully, I just used the error case since I show nicely the trace code (which helps maybe to understand why it is called twice)

[2020-06-15 23:28] #9838 closed

[2020-06-16 05:50] harshavardhana commented on #9788
Fixed by #9842

[2020-06-16 05:50] #9788 closed

[2020-06-16 05:51] harshavardhana commented on #9841
Fixed by #9842

[2020-06-16 05:51] #9841 closed

[2020-06-16 07:04] anthu commented on #9443
The bucket policy would need to be applied to a bucket, so we are talking about creating a bucket AND applying a policy.

My gut feeling is due to the rather individual nature of use-cases this should be a task for the developer to create an docker image and do whatever needs to be done to the instance.

Maybe we could provide a docker image including server and client so one could just customize

[2020-06-16 07:08] ebozduman commented on #9746
@theriverman,

I see the issue.
Several options if you would like to start minio server as a different user:

1. You can use a different data directory for each user,
2. You can use a non-existing data directory and have minio create it for your user,
3. Or if you use an existing data directory that was created for another user, hit the error and follow the `"HINT"` provided in the error message (

[2020-06-16 08:13] theriverman commented on #9746
Thanks for the investigation, @ebozduman !
I cannot remember seeing and/or executing the hinted text, but your described scenario is pretty similar to what I might have had. I'm happy with the proposed change, thank you!

[2020-06-16 08:37] ebozduman commented on #9746
@theriverman,

Of course, I was just guessing. I kind of relied on your very first failure example where your data directory's owner and group name was mixed. (I don't know why Toshiba also has the similar mixed owner and group setting though)
[code]
Somehow the `chown pi <dir-name>` command is run without changing the group name. This is actually the opposite of my assumption. My guess about ever

[2020-06-16 08:48] chilicat commented on #9841
@harshavardhana thanks for the fix.

I believe that the CoreDNS implementation leaks another Etcd connection:
https://github.com/minio/minio/blob/release/cmd/config-current.go#L358

[2020-06-16 09:02] timhughes commented on #9767
Thank you, I can confirm that the logs are no longer being sent to the audit webhook endpoint.

[2020-06-16 10:10] jdheyburn commented on #9836
This looks very cool @harshavardhana. Can you let me know if the below diagram indicates where mcs fits in the rest of the stack?

[code]

I just tried the above, but was not able to log into mcs with a local user and password, while I could use the same credentials for the MinIO server. I raised an issue at that repo for this error-  https://github.com/minio/mcs/issues/176

I also tried the same

[2020-06-16 10:31] stefanfritsch commented on #9838
@harshavardhana it's not working as intended if the error message is blatantly wrong.

[2020-06-16 10:33] klauspost commented on #9835
@harshavardhana The PR linked makes it 5x worse, so that is at least part of the problem.

[2020-06-16 11:25] Cal30 commented on #2111
Hi,
using 'master' branch where the PR is merged throws always 'Missing Content-MD5 header' error if using 'aws-sdk-java' dependency as they don't include that header when enabling/disabling versioning.

I've been checking your addings and I can see that for Minio is required. Usingin minio-client dependency works but I want to know if this feature could be reviewed or not.

Thanks in advance

[2020-06-16 13:24] OzqurYalcin opened #9847 "Download server too slow (location: germany)"
![Ekran Resmi 2020-06-16 16 15 39](https://user-images.githubusercontent.com/24687234/84779333-f2456c00-afec-11ea-8fe1-224ac3df9ee5.png)

Are you aware of this issue which has been going on for months ?

[2020-06-16 14:58] harshavardhana commented on #9847
We will check it's hosted ok DigitalOcean we will see why is that the case .

@aead do you see this on your end?

[2020-06-16 14:59] harshavardhana commented on #2111
Use it and report issues if you must . We would like community to use it .

[2020-06-16 15:53] klauspost commented on #9847
@harshavardhana I've been seeing this as well as @vadmeste - it runs very fast and then suddenly slows down.

[2020-06-16 16:25] harshavardhana commented on #9847
Hmm not sure why DigitalOcean would be throttling..

[2020-06-16 20:18] haxqer opened #9853 "hdfs gateway error: put big file to hdfs throw append error"
environment :
- hdfs version: `2.7.7`
- minio version: `RELEASE.2020-06-14T18-32-17Z`

error info:
[code]

[2020-06-16 20:31] harshavardhana commented on #9853
NOTE: This gateway is meant for reads only for you to migrate not meant to actively use HDFS and perform writes. Feel free to send a fix if you want this fixed.

https://github.com/minio/minio/blob/release/docs/gateway/hdfs.md

Thanks shall close this for now.

[2020-06-16 20:31] #9853 closed

[2020-06-16 21:28] cscetbon commented on #9357
@harshavardhana, I found some time to test it and unfortunately I still have the same issue
[code]
I'm using the last version of minio
[code]

[2020-06-16 21:41] harshavardhana commented on #9357
are you using FS mode? @cscetbon

[2020-06-16 22:06] cscetbon commented on #9357
@harshavardhana I don't know what is FS mode. I use virtual hosts and here is my deployment file if it can answer your question https://pastebin.com/raw/7n17qsjw

[2020-06-16 22:22] jtolio opened #9855 ""Invalid argument" errors due to setrlimit calls on macOS"
Hello!

When using MinIO on macOS, we frequently see log lines that look like the following:

[code]

These are ignorable and everything seems to work, but still annoying. After a bunch of debugging, we tracked this down to how MinIO is trying to increase rlimits in https://github.com/minio/minio/blob/release/cmd/server-rlimit.go#L25-L55, and in https://github.com/minio/minio/tree/release/pkg/sys

[2020-06-16 22:25] harshavardhana commented on #9855
This log has been removed from server code, we shall remove from gateway as well. It's not meaningful to print this error.

[2020-06-16 22:33] #9746 closed

[2020-06-17 02:09] #9855 closed

[2020-06-17 02:31] phonique commented on #9256
Same issue, except with nginx (1.15.6) as ingress on rancher 2.2.8.
minio RELEASE.2020-06-14T18-32-17Z
mc RELEASE.2020-06-16T19-24-41Z

[2020-06-17 04:29] jtolio commented on #9855
removing the log doesn't fix the problem though - the purpose of setMaxResources is to actually setMaxResources, and because get_rlimit returns values that set_rlimit won't work with on macOS in Go - setMaxResources is not actually setting max resources.

Shouldn't the fix here be to make it so the call to set_rlimit is valid?

[2020-06-17 04:30] jtolio commented on #9855
here's an example fix:

[code]

[2020-06-17 04:32] jtolio opened #9857 ""Invalid argument" errors due to setrlimit calls on macOS"
I'd like to reopen #9855, as I don't believe the fix provided is actually solving the real problem. The real problem is setMaxResources doesn't work on macOS.

[2020-06-17 04:53] harshavardhana commented on #9857
If it's not allowed it inherits what is maximum for the user. This what we can do best, we can't set to arbitrary high value if it's not possible.

[2020-06-17 08:19] kotso commented on #9847
yes, noticed last couple weeks, when need to download client, speed varies a lot.

testing from various locations of central and eastern EU.

[2020-06-17 09:43] fdefilippo opened #9860 "Feature request: x-minio-origin-endpoint key with Host header"
**Is your feature request related to a problem? Please describe.**
In the json that minio sends in the webhook posts it would be better to have the x-minio-origin-endpoint key  with the http Host header instead of  the ip that is used today.

**Describe the solution you'd like**
x-minio-origin-endpoint:${HTTP_HOST}

thank you.

[2020-06-17 09:59] #9860 closed

[2020-06-17 12:25] aead commented on #9847
Hm interesting. For me it starts quite slow (`~200 KiB/s`) but after a 15/20s or so it becomes quite fast `> 10 MiB/s`. After about 15% it starts speeding up..

[2020-06-17 12:54] klauspost commented on #9847
Yeah, it is very intermittent. Sometimes starts fast, stuck at 40% for minutes, then suddenly resumes.

[2020-06-17 14:18] hassanbabaie commented on #9510
@harshavardhana I understand what you're saying but you should not apply that to an application that by design leverages the account management (and it's username/password rules) of another system.

I can understand 100% why it would be this way on Minio Server, but it should not be set this way on an S3 Client or S3 Gateway that is designed to connect to systems other than Minio Server. It doesn'

[2020-06-17 14:45] vadmeste commented on #9847
I tested from a dedicated server in France and it works fine.. but seeing the issue while using my local machine.

`ping -c dl.min.io` can show mdev value.. which high values mean less bulk data transfer quality

[2020-06-17 14:48] #9857 closed

[2020-06-17 14:52] jtolio commented on #9857
Thanks!

[2020-06-17 23:21] harshavardhana commented on #9508
Fixed in #9808 and #9858

[2020-06-17 23:21] #9508 closed

[2020-06-18 02:22] quaff opened #9865 "Not full compatible with Amazon S3"
It's common to use an empty(zero length) file simulate directory hierarchy.
[code]
using s3 java sdk
[code]
error message:
[code]
Amazon S3 and Ceph Object Gateway both has the expected behavior.

[2020-06-18 02:49] harshavardhana commented on #9865
Not doing to support this model as this is not worth the effort for us @quaff this is explained repeatedly many times.

https://github.com/minio/minio/issues/7335#issuecomment-470683398

If you need this feature then you should use AWS S3, MinIO is not planning to fix this any time soon.

[2020-06-18 02:49] #9865 closed

[2020-06-18 04:10] balamurugana opened #9866 "DeleteObjects API times out for deleting object versions"
When running below `minio-java` test, server fails to return response and make the test timing out.

[code]
[code]

The same test works fine with AWS S3.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`): Development build using commit id `72743d15902717bb

[2020-06-18 04:26] balamurugana commented on #9866
`mc admin trace` output

[code]

[2020-06-18 10:07] MGlolenstine opened #9868 "Cannot compile with Go 1.14"
When trying to install GitPod onto a server with Go 1.14 installed, the installation fails with the output below.
## Expected Behavior

Expected successful MinIO installation.
## Current Behavior

MinIO throws an error related to Go 1.14 update, as there are some unnecessary parentheses in a check.

[code]
## Possible Solution

I think that the "bug" could be solved by updating the templates that

[2020-06-18 13:19] JankyGaming commented on #9830
@harshavardhana I have fixed my networking issues (verified by seeing traffic routed in my router, and also by starting single drive non-distributed servers and navigating to the domain.com:9000 and seeing the minio ui and tested upload and download) and I am still getting this error, except now the error is more balanced. Each side of the cluster seems to fail with

`Unable to read 'format.json'

[2020-06-18 14:13] xoxys opened #9869 "SSL cert expired for https://dl.minio.io/"
The SSL cert for `https://dl.minio.io/` is expired today. Looks like the "new" ULR is `https://dl.min.io` but what about this "legacy" URL?

[2020-06-18 16:30] harshavardhana commented on #9869
We shall fix it soon @xoxys thanks for reporting.

[2020-06-18 17:09] harshavardhana commented on #9868
@MGlolenstine this is already fixed in https://github.com/helm/charts/commit/89a712556d2e3bb8c18acc350dca0bc9a5baba8d

[2020-06-18 17:11] harshavardhana commented on #9837
This functionality is slated to move to mcs closing here.

[2020-06-18 17:11] #9837 closed

[2020-06-18 17:11] harshavardhana commented on #9836
This is the correct stack @jdheyburn

[2020-06-18 17:12] harshavardhana commented on #9836
It doesn't support gateway yet, please use the MinIO server mode - gateway is not our primary focus - it was primarily implemented for users to migrate to MinIO eventually.

We are debating to support SessionToken on the UI as well we will keep you posted.

[2020-06-18 17:13] harshavardhana commented on #9835
This is fixed @klauspost ?

[2020-06-18 17:13] harshavardhana commented on #9807
Closing the issue as incomplete, nothing actionable from our end.

[2020-06-18 17:13] #9807 closed

[2020-06-18 17:14] harshavardhana commented on #9832
@damikun please fix your referenced PR appropriately - we are happy to take the change.

[2020-06-18 17:25] harshavardhana commented on #9866
Fixed by #9867

[2020-06-18 17:25] #9866 closed

[2020-06-18 17:26] harshavardhana commented on #9743
Its released now @fcomte the bucket usage should be consistent now. Closing for now please report back if that's not the case.

[2020-06-18 17:26] #9743 closed

[2020-06-18 17:27] harshavardhana commented on #9524
This should be fixed in latest release and it's released now @i0x71 the bucket usage should be consistent now. Closing for now please report back if that's not the case.

[2020-06-18 17:27] #9524 closed

[2020-06-18 17:27] harshavardhana commented on #9327
This is fixed and released as well

[2020-06-18 17:27] #9327 closed

[2020-06-18 17:30] harshavardhana commented on #8871
Incomplete issue and stale closing. Bucket notification is sent the PutObject()/MultipartUpload() is complete.

[2020-06-18 17:30] #8871 closed

[2020-06-18 18:10] harshavardhana commented on #9869
Fixed should be working now.

[2020-06-18 18:10] #9869 closed

[2020-06-18 18:29] HeavyHorst opened #9870 "Huge disk-cache directories"
**Is your feature request related to a problem? Please describe.**
We currently host about 70TB of media in Amazon S3 and and are trying to use minio in gateway mode to save some bandwith costs.

The problem is that every http-range is cached again, which leads to constantly high traffic from s3 and requires huge amounts of cache storage (people seek around in videos all the time).

For some files

[2020-06-18 18:56] harshavardhana commented on #9847
I have blocked an IP which was hogging the network on a continuous basis. Please let us know if the issue persists.

[2020-06-19 00:38] poornas commented on #9870
@HeavyHorst , will discuss internally and get back to you on making this configurable.

[2020-06-19 06:00] MGlolenstine commented on #9868
You're right! Thanks!

I'm just not sure why GitPod uses an old version then. I'll ask them and see if it's something they have to solve.

Thanks for your help!

[2020-06-19 06:00] #9868 closed

[2020-06-19 06:50] HeavyHorst commented on #9870
Thank you! That would be great.

[2020-06-19 08:12] bensodenkamp commented on #9370
It was an easy fix. The general 'gateway' case was demanding environment variables that the S3 implementation didn't need. @tooptoop4, it would be easy enough for you to make a custom build if you really need it..

[2020-06-19 08:15] jdheyburn commented on #9836
I understand gateway isn't heavily supported so I appreciate the time yourself and the team are putting into it. Perhaps it may help if I explained how we are using Minio.

Our use case is providing proxied access to S3 so that we can have control over what data leaves AWS and our VPC. Minio is in a gateway s3 mode that is only accessible from an EC2 instance in a private subnet. We've blocked all

[2020-06-19 09:42] juv opened #9875 "[NAS Gateway] Kafka notification endpoints produce duplicate events"
In MinIO `nas gateway` mode, there is a bug that ends up in duplicate Kafka messages for MinIO events such as PUT/DELETE. The error happens frequently, but is not 100% reproducible.

## Expected Behavior

MinIO events such as PUT/DELETE are produced only once into the Kafka topic

## Current Behavior

MinIO events are occasionally produced multiple times into the Kafka topic and an error is writte

[2020-06-19 09:47] klauspost commented on #9835
Yeah. Dunno why it wasn't picked up by github.

[2020-06-19 09:47] #9835 closed

[2020-06-19 12:26] juv commented on #9875
If I set the `QueueDir` argument to `""`, I am unable to reproduce this issue - which means that it is working as expected. However, I am losing the replay capabilities that MinIO offers.

When the `QueueDir` argument is not present, i.e. `""`, no queue gets created for the kafka target: https://github.com/minio/minio/blob/068ad33c9a1bf52b81597dcc271ab80390f9926b/pkg/event/target/kafka.go#L309-L31

[2020-06-19 17:45] i0x71 opened #9878 "Unable to display heal status. No such heal process is running on the server."
Server `dot9` already running the most recent version 2020-06-18T02:23:35Z of MinIO
root@sandbox:~# mc admin heal -r --scan deep dot9
 ◒  lxc/xxxxxx
    0/3,704 objects; 1 GiB in 2m5s
    ┌────────┬───────┬─────────────────────┐
    │ Green  │ 3,714 │ 100.0% ████████████ │
    │ Yellow │     0 │   0.0%              │
    │ Red    │     0 │   0.0%              │
    │ Grey   │     0 │   0.0%

[2020-06-19 17:58] vadmeste commented on #9878
@i0x71 most likely you have a load balancer which is landing the mc admin heal requests to a new node. I think I can add fix this by routing requests to the node which has the healing process information

[2020-06-19 17:58] harshavardhana commented on #9878
I don't know why you still run this manually all the time @i0x71 - is your hardware really unreliable?

[2020-06-19 18:01] harshavardhana commented on #9878
Healing currently has 4 different ways which are being converted into a single model
​
   - healing of entire namespace happens once in 30days automatically
​
   - healing of the new drives happens right away after the drive replacement is detected in 10mins the healing would start.
​
   - Any bit-rot observed during GET (reads) is automatically healed while servicing the client for the request
​

[2020-06-19 18:42] imartinezortiz commented on #9238
I can confirm that this is a problem with Keycloak. I've integrated minio and Keycloak 10.0.2 and If I do not enable all available client scopes for the OIDC client that minio will use , OIDC login does not work.

[2020-06-19 18:43] harshavardhana commented on #9238
We will add scope customization.. @imartinezortiz @WolfspiritM

[2020-06-19 19:00] i0x71 commented on #9878
@vadmeste i dont have a load balancer
@harshavardhana Reason i run it manually i because a while ago i read somewhere in the docs that you need to periodically run the heal process to scan for corruptions.
As for the hardware, i think we can all agree that there is no drive which can considered reliable  and thats why we have the need for software that handles the reliability part (hence bitrot pr

[2020-06-19 19:10] harshavardhana commented on #9878
That is true but it is frivolous and rather unnecessary to keep running bit-rot checks on your drive all the time. Bit-rots don't happen every month, they have once in 1yr to 3yr time period. IF your drives get bit-rot frequently you have bigger problems that need to be addressed.

We need to always have sufficient guarantee that hardware is reliable, MinIO cannot make your hardware reliable it on

[2020-06-19 19:12] i0x71 commented on #9878
Sounds good, thanks

On Fri., Jun. 19, 2020, 3:10 p.m. Harshavardhana <notifications@github.com>
wrote:

[2020-06-19 23:50] Rush commented on #5964
I have the same question "Do you mean 4 disks for each node? I read your comment and bought 4 drives, but the documentation suggests to me that a 2 node minio setup might need 4 drives for each node.". What does it mean 15mins between servers? Is it 15 milliseconds by any chance?

[2020-06-20 00:36] dpgarrick commented on #9608
Seems to work without error now with the following
[code]
[code]

[2020-06-20 00:36] #9608 closed

[2020-06-20 08:16] hillbun opened #9885 "[faq]Can not deploy minio from kubernetes, error: no persistent volumes available for this claim and no storage class is set"
https://min.io/download#/kubernetes

I follow this to create minio-deployment.yaml

[code]

[code]
kubectl describe persistentvolumeclaim/minio-pv-claim
Name:          minio-pv-claim
Namespace:     default
StorageClass:
Status:        Pending
Volume:
Labels:        app=minio-storage-claim
Annotations:   kubectl.kubernetes.io/last-applied-configuration:
                 {"apiVersion":"v1","kind":"P

[2020-06-20 08:43] hillbun commented on #9885
kubernetes version is v1.17.6

[2020-06-20 11:31] nitisht commented on #9885
@hillbun looks like the Kubernetes cluster doesn't support auto-provisioning. You'll need to create a PV manually. We recommend local PVs as explained here https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/

[2020-06-20 11:32] nitisht commented on #9885
Closing this as answered, feel free to reopen if there are further issues

[2020-06-20 11:32] #9885 closed

[2020-06-20 13:27] bensodenkamp commented on #9370
@tooptoop4, I'm afraid you and I have had a fundamental misunderstanding about the purpose of the MINIO_ACCESS_KEY and MINIO_SECRET_KEY environment variables. The main purpose of those variables is to set up creds for authenticating into MINIO, and for minio to use under the hood to encrypt/decrypt config values.
They are also _one_ of the places that minio looks for S3 creds when acting as an S3

[2020-06-20 13:31] harshavardhana commented on #9370
Yes that is the expected behavior.

[2020-06-20 14:06] hillbun opened #9886 "How to share object URL with no expiration?"
Share object URL with UI always with expiration, how to  share object URL with no expiration?

[2020-06-20 14:07] hillbun commented on #9886
I upload file with ui

[2020-06-20 14:46] harshavardhana commented on #9886
You can set your bucket to be download only, to allow URLs without expiration.

Share/Presigned always have an expiry implemented as per S3 spec..

NOTE: please use the issue template and fill each entry appropriately.

For regular questions like these join our https://slack.min.io

[2020-06-20 14:46] #9886 closed

[2020-06-20 20:12] tooptoop4 commented on #9370
maybe docs need improvement?

[2020-06-20 20:21] harshavardhana commented on #9370
Feel free to send an update to the docs..

[2020-06-21 02:46] findmyname666 commented on #9827
Hi @harshavardhana , I expected this issue today. I tried to upload file of size **197GB**.
[code]
MinIO runs in distributed mode e.g. 4 nodes with 4 HDD.
MC version:
[code]

[2020-06-21 02:48] SoftBoil opened #9888 "Heal aborts when run on folder with many files"
I have a bucket that is populated by ARQ backup (arqbackup.com). The backup creates a shallow but wide directory structure. Three of the significant directories are:
- /treepacks (~95 sub-folders, ~450 files, 133 MB)
- /blobpacks (~250 sub-folders, ~20k files, 7.7 GB)
- /blobs (~250 sub-folders, ~150k files, 128 GB)

Completes in few seconds:
mc admin heal -r myminio/arq/460ac29a-6921-483b-bebd-72

[2020-06-21 03:43] harshavardhana commented on #9827
Use the latest server version @findmyname666

[2020-06-21 03:51] harshavardhana commented on #9888
Duplicate of #9878

[2020-06-21 03:51] #9888 closed

[2020-06-21 04:15] SoftBoil commented on #9878
Sorry for creating a duplicate bug report. My understanding of the comments is that manual healing should no longer be needed in a future version.

However, if a manual heal is triggered should the expectation be that it can successfully complete? Currently it seems that the heal process silently aborts when operating on folders with many files (>20K).

[2020-06-21 04:18] harshavardhana commented on #9878
No it should not @SoftBoil we will take a look at the issue.

[2020-06-21 04:42] SoftBoil commented on #9878
Thank you. Please let me know if I can help provide more information.

[2020-06-21 11:39] DEVprometheus commented on #9372
Hi MinIO Community,
I am also try to setup or configure 4 node distributed MinIO on Docker Swarm mode. I have 4 servers then I defined one manager and 3 worker node on docker config. and I am using sample docker-compose yaml file from this link [https://docs.min.io/docs/deploy-minio-on-docker-swarm](url)
if you need I can share my docker-compe yaml file...I defined 4 service for each server.
I run

[2020-06-21 18:58] bensodenkamp commented on #9370
@tooptoop4, docs updated. Good to close?

[2020-06-21 19:39] harshavardhana commented on #9370
Closing, docs are updated. Please open new issues if there are further problems

[2020-06-21 19:39] #9370 closed

[2020-06-21 22:36] tooptoop4 opened #9889 "Possibility to configure S3 MinIO gateway to a single S3 bucket"
I would like minio s3 gateway UI to only show a single bucket.

attempt 1:
./minio gateway s3 --address :8787 https://s3.eu-west-1.amazonaws.com

result is all buckets are shown

attempt 2:
./minio gateway s3 --address :8787 https://mybucket.s3.eu-west-1.amazonaws.com

results is no buckets are shown, even though the minio process starts up without error

logs:

AccessKey: abc
SecretKey: redact123

[2020-06-21 22:47] harshavardhana commented on #9889
@tooptoop4 S3 gateway is purpose-built to be simple these are to quite a lot of niche use cases we are not really interested in extending.

Now you can, of course, have all the necessary policies in place for restriction in terms of which bucket has access. Then you can directly visit the browser

http://domain.com/minio/mys3bucket

The browser only shows the relevant bucket and its contents. This

[2020-06-22 02:20] bensodenkamp opened #9891 "File deletion from MinIO browser throws meaningless error (master branch)"
When deleting files (on master branch) in S3 gateway mode from the minio browser, the file deletes properly by an error message is always shown: Functionality not implemented. Looking to fix this myself. Feel free to assign to me.

## Expected Behavior

No error should be shown

## Current Behavior

An error message appears

Error message should not appear

## Possible Solution

## Steps to Reprod

[2020-06-22 02:26] harshavardhana commented on #9891
@bensodenkamp master branch is not ready for release please report the entire issue here in detail for which we can send a fix for.

If not we prefer that you use the release branch for now.

[2020-06-22 02:32] bensodenkamp commented on #9891
I understand master isn't ready. My intention here was just to track my contribution in solving the problem, and let you know what I was doing in case someone else was working in that part of the app. Is there a better workflow if I simply want to contribute?

[2020-06-22 02:34] harshavardhana commented on #9891
You may send a PR to the best of your knowledge, we will let you know if it's correct or not upon review. Or if someone gets to it first before you in that case you can help validate it.

[2020-06-22 02:53] yuyuanshifu commented on #9141
Hi, I have got the SecretAccessKey、SessionToken、AccessKeyId by with boto3 sdk, then I posted a request to minio such as:http://xxxx:xxxx?Action=AssumeRoleWithClientGrants&DurationSeconds=3600&Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiI5SFFUUzVGMzIyMFMwTzZHN0cwRiIsImV4cCI6MzYwMDAwMDAwMDAwMDAsInBvbGljeSI6IiIsInNlc3Npb25Qb2xpY3kiOiJleUpXWlhKemFXOXVJam9pTWpBeE1pMHhNQzB4TnlJc0lsTjBZW

[2020-06-22 03:08] harshavardhana commented on #9141
You have to present the JWT from your IDP not from boto3 follow the documentation properly - use the following sample code to understand how to use boto3 to use AssumeRoleWithClientGrants API https://github.com/harshavardhana/clientgrantsprovider

[2020-06-22 03:37] yuyuanshifu commented on #9141
Thanks.
I follwed the code by https://github.com/minio/minio/blob/master/docs/sts/client-grants.go.
But I replaced the getTokenExpiry with boto to get the token.
Do I have to get the token from idp?

[2020-06-22 09:10] findmyname666 commented on #9827
Cool it resolved the issue.

[2020-06-22 14:55] Marco-symplectic opened #9895 "Cannot create Easticsearch repository on minio - connection refused"
When trying to create an Elasticsearch repository I get a connection refused error.

I have a few clusters set up on the same way or very similar and on some creating  Elasticsearch repository on minio using the aws s3 client works and on others it gives me the above error

I run the following command on one of the clusters nodes to create the repository

As mentions that would work on some and wo

[2020-06-22 14:58] anandsinghkunwar commented on #8192
@wlwcjl Did you ever end up solving it?

[2020-06-22 16:18] programmierstube opened #9897 "Empty directories in minio.sys/buckets not being cleaned up"
When a file is uploaded, minio creates an fs.json file in a folder with the same name as the file inside the minio.sys/buckets folder. But when deleting a file from minio the fs.json is removed, but not the containing folder (the one with the same name as the file).

## Expected Behavior
Folder containing the fs.json should be removed as well to not end up with lots of empty folders.

## Current B

[2020-06-22 16:51] harshavardhana commented on #9895
are MinIO and Elasticsearch running on same server?

There is no such image ID which image Id are you talking about?

[2020-06-22 16:56] Marco-symplectic commented on #9895
MinIO and Elasticsearch are on the same host/server, correct.

Image ID, this is what I see.

I was trying to find a way to get minio's version but couldn't find it

[2020-06-22 16:59] Marco-symplectic commented on #9895
this is what mc return as the version

[2020-06-22 17:46] ekbfh opened #9900 "Don't copy subfolders itself when recursive"
Hello!
Recently i notice that my data was copy some wrong way:

## Steps to reproduce

I have test folders and a file at the end:
`test-q-old/1/2/3/4/5/file1`

I took some old release:
`./mc.RELEASE.2019-10-02T19-41-02Z -q cp -r test-q-old/* cdn/$S3_BUCKET/  `
and it was copied normal:
``test-q-old/1/2/3/4/5/file1` -> `cdn/test-ek/1/2/3/4/5/file1``

But latest release was:
[code]

Maybe it helps:

[2020-06-23 09:34] HeavyHorst commented on #9870
Is there an easy way to disable range-caching in the source code for testing?
Thanks in advance for your work.

[2020-06-23 14:09] isshwar commented on #9835
Hi,

may I know if this has been released.? i dont see the change in any of the recently released versions.

[2020-06-23 14:39] klauspost commented on #9835
It is merged to master which is unreleased since it has versioning changes that we are currently testing.

Changes for releases are cherrypicked and is only critical changes.

[2020-06-23 15:37] citrus-it opened #9904 "minio crash when accessed from All-in-One WP Migration tool"
##  Expected Behavior

I am trying to use the All-in-One WP Migration tool S3 client plugin to back up wordpress web sites to minio.

## Current Behavior

When I attempt to backup to minio, the plugin reports curl error 52 "nothing" returned, and the minio server logs:

[code]

Taking a packet trace shows that plugin issues three requests in quick succession, which are as follows. Only the third g

[2020-06-23 16:05] debackerl opened #9906 "Improve README on pre-existing data"
**Is your feature request related to a problem? Please describe.**
I would like to run Minio in front of a directory which is updated by another process than Minio.

**Describe the solution you'd like**
Current documentation about "pre-existing data" states that it's fine to start Minio with a directory containing files already (https://github.com/minio/minio#pre-existing-data). However, it does n

[2020-06-23 16:10] harshavardhana commented on #9906
This is not allowed @debackerl you cannot edit the backend without going through MinIO - if you do then results are undefined.

[2020-06-24 05:10] poornas commented on #9870
@HeavyHorst , you can use the patch referenced here.

[2020-06-24 10:26] klauspost opened #9910 "Consistent error on startup (healItemsFromSourceCh @master)"
## Expected Behavior

No errors are displayed on startup.

## Current Behavior

An error is consistently shown at startup.

[code]

## Possible Solution

Not sure what the solution is, maybe it should wait until there is write quorum.

## Steps to Reproduce (for bugs)

1. Build master
2. Start in XL mode.
3. Observe error.

## Your Environment

* Version used (`minio version`): master
* Environmen

[2020-06-24 11:15] romrzh opened #9911 "Add list support in the claim"
**Is your feature request related to a problem? Please describe.**
We want to use MinIO with Keycloak, and we want to map policies to the client roles, but roles can be mapped to the JWT as а list `"policy":["readwrite","test_readonly"]`, or as  а string `"policy": "[readwrite, test_readonly]"`, but for now MinIO supports only string with comma separated policies `"policy": "readwrite, test_readon

[2020-06-24 12:26] harshavardhana commented on #9911
You can provide the claims as comma separated value, this is already supported as part of multiple policies.

Note: please use the issue template appropriately, we tirelessly write code and expect a simple etiquette from community when opening issues. Manually deleting the template, we do not know what you are looking for in which version of the software.

I shall close this issue, as this is alre

[2020-06-24 12:26] #9911 closed

[2020-06-24 12:28] harshavardhana commented on #9910
Yeah the problem is healing triggers too early and prints this, we can of course not log this when server is still coming up.

[2020-06-24 18:54] szemlyanoy opened #9913 "continuous minio mirroring fails to work"
While running mirroring between two minio hosts with '-watch' flag it just mirrors whatever is on source to the remote minio but totally ignores any newly added or removed objects.

mirroring cmd
`mc mirror --watch -a --remove minio-test1 minio-test2
 0 B / ? ┃░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

[2020-06-25 02:09] kjamieson opened #9914 "GET/HEAD of object with partNumber returns entire object content/length"
Peforming a HeadObject or GetObject request against a MinIO server with a specific partNumber specified in the query parameters currently returns the Content-Length (and in the case of GetObject, the content) of the entire object rather than the Content-Length (and content) of the specific part.

This deviates from the behaviour of AWS S3 and the S3 documentation:

https://docs.aws.amazon.com/Amaz

[2020-06-25 02:32] harshavardhana commented on #9914
Right now we don't have the value at hand to return this correctly, thanks for opening we may look at fixing this in future.

[2020-06-25 07:25] HeavyHorst commented on #9870
Works great by the way!

[2020-06-25 10:31] nitisht commented on #9875
Fixed by #9884

[2020-06-25 10:31] #9875 closed

[2020-06-25 12:09] caryfitzhugh opened #9915 "Extend S3 Select To Include $path"
## Expected Behavior

When doing S3 Select queries, one should be allowed to select "$path" (or a similarly named variable) which would return the file's bucket / key string as a result.

When we want to downselect and find relevant data, we usually look for a needle in the MinIO haystack, take the files containing those records,  and ingest them into another system.  This is inefficient to do a s

[2020-06-25 12:34] klauspost commented on #9915
Removed the "bug report" template stuff.

[2020-06-25 14:57] kannappanr commented on #9915
Won't the user already knows the path when issuing a `SelectObjectContent` API?

[2020-06-25 15:10] caryfitzhugh commented on #9915
In our case, there are times when you need to look for some data like so:

[code]
The output of this will be a bunch of JSON records to STDOUT.

That keypath may have hundreds of files - but you don't know which file had the "hit" - you just get the data.

In our usecase, we often would like to use this for debugging the workflow.  We have a piece of data already in the indexed datastore (postgres

[2020-06-25 15:21] ynqjwsm opened #9916 "manage share links in browser"
need to manage share links in web-ui ,just like revoke or renew the share link etc.

[2020-06-25 15:43] klauspost commented on #9915
@kannappanr The tricky part is that it appears to be returning a single result in `SELECT $path` when the condition is hit. So it should be treated specially, though the documentation is actually not clear if only one result is returned.

Inserting it as a per record variable is relatively easy except it shouldn't be returned with `SELECT *`. So there are a couple of corner cases to handle.

[2020-06-25 15:47] harshavardhana commented on #9916
You cannot revoke shared links.

Note: please use the issue template, we painstakingly write code and try to resolve all the issues reported. All we ask is use the issue template and fill with proper details. This entire issue reporting is a classic example of how not to report issues.

I shall close this now as this issue is incomplete..

[2020-06-25 15:47] #9916 closed

[2020-06-26 08:42] duylong opened #9919 "Set IP family for minio-hl-svc"
Hi,

## Behavior

I am trying to deploy an instance of Minio, but I am stuck on a problem in my kubernetes IPv6/IPv4 cluster.

I have this error:
[code]
When I ping the minio-hl-svc service from a pod, the service only responds to me on an IPv4 address, however my services are by default in IPv6.

## Possible Solution

Kubernetes has a bug currently in version 1.18 (Issue when IPFamily service !=

[2020-06-26 09:11] duylong commented on #9919
I think we can wait for the release of version 1.19 of Kubernetes, and edit the service after creation.

[2020-06-26 09:11] #9919 closed

[2020-06-26 16:02] Marco-symplectic opened #9922 "Cannot create Elasticsearch repository on minio - Failed to create repository"
I am trying to create an Elasticsearch repository using the Elasticsearch S3 plugin to use minio as the  repository store

When trying to create an Elasticsearch repository I get a connection Unable to execute HTTP request.

My environment
- This is a 3 node Elasticsearch cluster.
- Minio is running on one of the nodes, and it is accessible to all nodes.
- Elasticsearch and minio are both configur

[2020-06-26 19:06] dominicklee opened #9923 "[wontfix] Upload files to MinIO through FTP/HTTP"
**Is your feature request related to a problem? Please describe.**
We have business clients who have **large** datasets. They want to be able to use the MinIO browser or MC command line to be able to put files that are hosted on remote URIs (e.g. FTP and HTTP) into their MinIO buckets.

**Describe the solution you'd like**
We would like a solution where the `cp` command in the MC command line can

[2020-06-26 19:08] harshavardhana commented on #9923
We natively are S3 only protocol, we have no interest in being multi-protocol @dominicklee https://github.com/matiaskorhonen/ftp2s3 is something that can be run in front of MinIO to available the same functionality.

[2020-06-26 19:20] harshavardhana commented on #9923
https://github.com/fclairamb/ftpserver other maintained alternatives here.

[2020-06-26 19:22] harshavardhana commented on #9923
If you have a commercial need please get a subscription https://min.io/pricing - for will close the issue has won't fix for now as there are other alternatives to use from.

[2020-06-26 20:12] harshavardhana commented on #9923
With this PR it will also support MinIO https://github.com/fclairamb/ftpserver/pull/34

[2020-06-27 08:05] kannappanr commented on #9889
@tooptoop4 as explained in the previous comment, you can create a S3 credential in AWS S3, that only has access to a single bucket and use it Gateway as explained in the previous comment. Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2020-06-27 08:05] #9889 closed

[2020-06-27 08:22] kannappanr commented on #9906
@debackerl closing this issue based on the comment above. Please feel free to reach out to us if you have any questions.

[2020-06-27 08:22] #9906 closed

[2020-06-27 09:52] cbou opened #9927 "Add a cookbook about anonymous access"
**Is your feature request related to a problem? Please describe.**
We currently have a min.io which stores images. Until now we were using a proxy which has the credentials to request the images and send them back to our user.

Since this proxy does not scale well, we would like to get rid of it. Actually the image are store using a hash in the filename so we do not need the min.io token for fetch

[2020-06-27 18:10] harshavardhana commented on #9904
Is this the only crash that you have? can you share the entire logs? @citrus-it

[2020-06-27 18:51] citrus-it commented on #9904
Here's the full log from minio

[miniocrash.txt](https://github.com/minio/minio/files/4841079/miniocrash.txt)

[2020-06-27 20:16] harshavardhana commented on #9904
@citrus-it would you be able to test a binary?

[2020-06-27 20:29] harshavardhana commented on #9922
@Marco-symplectic this looks like you haven't set path_style_access you need to do that with https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-client.html

[2020-06-27 20:32] harshavardhana commented on #9895
https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-client.html make sure to set path_style_access - also looks like from elasticsearch instance the container is not accessible on port 9000 that is why you are seeing `connection refused`.

[2020-06-27 20:32] harshavardhana commented on #9895
AFAICS this looks like a setup issue on your end.

[2020-06-27 20:33] harshavardhana commented on #9922
So clearly looks like a setup issue here.

[2020-06-27 21:42] citrus-it commented on #9904
Yes, I have a test environment for this in place.
minio is running on x86_64 Linux.

[2020-06-27 23:32] Marco-symplectic commented on #9895
In this case, I wasn't aware that the minio endpoint had to accessible from all members of the Elasticsearch cluster.

I thought I would be able to register a repository on an Elasticsearch cluster with minio running locally and only accessible from the node I was registering the repo from.

Turns out this should not be possible although it did work on some clusters.

[2020-06-28 00:40] Marco-symplectic commented on #9922
Hi,
Thanks, that helped, I can now create the repo with the curl command.

However, still fails with python with a similar issue

The python output is showing this error
[code]

the log files is showing this
[code]

As if again Elasticsearch is not detecting that is not an S3 bucket

It looks like the repository has been registered with **path_style_access**
[code]

Snapshot, repository names name

[2020-06-28 03:06] ysysberserk opened #9931 "File deletion is not correctly processed when a node of the cluster is down"
If a file is deleted when a node of the minio cluster is down, when the node is up and rejoin the cluster, the part of the file will not be deleted and the mc ls command sometimes will find this file as if it was not deleted.
Run mc admin heal on this file will not return any error, but the file will still can be found by mc ls.
Run mc rm --force on this file will remove the file and completely fi

[2020-06-28 03:54] harshavardhana commented on #9931
This is on purpose the quorum catches up later, the listing is not quorum based it's simply based on 3 drives shuffled across.
What we are doing is potentially to have continuous healing which would basically garbage collect these dangling objects.

[2020-06-28 03:55] harshavardhana commented on #9931
We will be addressing this in future anyways, this is part of our todo lists.

[2020-06-28 04:09] harshavardhana commented on #9922
This is not talking to MinIO from the RequestID it looks like it's still talking to AWS S3 - you need to figure out how to override the endpoint, even if they allow it or not.

But this is not our issue @Marco-symplectic it is just configuration on your end.

[2020-06-28 04:11] harshavardhana commented on #9895
As I said its a setup issue, I shall proceed to close this as there is nothing actionable from us on this.

[2020-06-28 04:11] #9895 closed

[2020-06-28 06:36] yuyuanshifu opened #9932 "Unable to initialize OpenID"
1、 I am following [https://github.com/minio/minio/blob/master/docs/sts/wso2.md](url) , when I Setup MinIO with OpenID configuration URL, I found an error occured in minio : Unable to initialize OpenID: Get https://xxxxxxxxxxxxx/oauth2/oidcdiscovery/.well-known/openid-configuration: x509: cannot validate certificate for xxxxxxxxxx because it doesn't contain any IP SANs. It seems like  that I should

[2020-06-28 09:02] harshavardhana commented on #9932
First fix the error by trusting the IDP public certificate by keeping it at `$HOME/.minio/certs/CAs`

Then rest will work..

[2020-06-28 09:48] cbou commented on #9927
I got an answer. I don't know if it's the right way but it worked for me :)

https://stackoverflow.com/a/62620169/272839

[2020-06-28 09:48] Marco-symplectic commented on #9895
Thanks for you assistance.

[2020-06-28 09:55] yuyuanshifu commented on #9932
I followed [https://is.docs.wso2.com/en/latest/administer/enabling-mutual-ssl/](url).
1、certificateVerification="want"
2、[admin_console.authenticator.mutual_ssl_authenticator]
enable = true

[admin_console.authenticator.mutual_ssl_authenticator.config]
WhiteList = ""

3、keytool -export -alias wso2carbon -file carbon_public2.crt -keystore wso2carbon.jks -storepass wso2carbon
4、copy the carbon_publi

[2020-06-28 16:21] harshavardhana commented on #9927
It is already documented in https://docs.minio.io/docs/minio-client-complete-guide.html#policy

Closing as per the document

[2020-06-28 16:21] #9927 closed

[2020-06-28 17:28] hosnas opened #9933 "Increase number of disk on distributed minio cluster"
First I started with this command:

`./minio server http://server{0...1}/mnt/drive{1...2}`

Then I tried to add more disk by this:

`./minio server http://server{0...1}/mnt/drive{1...2} http://server{0...1}/mnt/drive{1...4}
`
However I got the following error:

ERROR Invalid command line arguments: duplicate endpoints found

I managed to make minio running by this command:

`./minio server http://

[2020-06-28 17:43] harshavardhana commented on #9933
You must expand by zone based expansion https://github.com/minio/minio/blob/release/docs/distributed/README.md#expanding-existing-distributed-setup as mentioned here

If there are no bugs to report, please ask faq's on community slack https://slack.min.io

[2020-06-28 17:43] #9933 closed

[2020-06-28 17:52] hosnas commented on #9933
However I got the following error:
 ERROR Invalid command line arguments: duplicate endpoints found

Ok I will ask in slack. However I followed the documentation but I recieve this error. I think there is somthing wrong there or there should be more clarification.

[2020-06-28 17:57] harshavardhana commented on #9933
Yes your disks are duplicate you used the same disks in the first arg as part of second arg.

[2020-06-28 18:03] hosnas commented on #9933
@harshavardhana
Sorry if Im not underestanding well, but the documentation says to expand like this:
[code]
So here I see some duplication as well. both args contain {1...

[2020-06-28 18:07] harshavardhana commented on #9933
That is meant to be different hosts it's just an example, copying pasting it is not going to work.

[code]

Just this how hard can this get?

[2020-06-28 19:07] harshavardhana commented on #9904
https://harshavardhana.s3.amazonaws.com/minio-rc @citrus-it can you test this and see if you reproduce the crash again?

[2020-06-28 19:22] Marco-symplectic commented on #9922
I had a typo.

Its **endpoint** rather and **endpoints**

I think we can close this now, thanks.

[2020-06-28 20:50] #9922 closed

[2020-06-28 21:23] citrus-it commented on #9904
I tested it and it no longer crashes, thanks!

The plugin doesn't work but that looks like something about the S3 emulation (it works with Amazon S3)

[code]

[code]

[2020-06-28 21:49] harshavardhana commented on #9904
Well this is clearly because there is no bucket name in the request, looks like you need to enable path style access to get this working properly.

[2020-06-28 21:55] citrus-it commented on #9904
Yes, thanks. Adjusted the configuration and now it's working!

Thanks a lot for the help with this.

[2020-06-29 01:10] harshavardhana commented on #9904
Great and the crash is already fixed in both branches, we will be making a release on Monday.

Thanks for testing.

[2020-06-29 01:10] #9904 closed

[2020-06-29 02:31] yuyuanshifu commented on #9932
Hi, I generate the public certificate followed the up reply, but the problem is still, can you help me ?

[2020-06-29 03:31] betate opened #9935 "Access-Control-Allow-Origin: '*,*' ，browsers use has cors question"
Browsers use to Api presignedPostPolicy info upload file
The server response headers
{
Access-Control-Allow-Credentials: true
Access-Control-Allow-Headers: Access-Control-Allow-Origin, DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range
Access-Control-Allow-Methods: POST, PUT,POST,GET,DELETE,OPTIONS
Access-Control-Allow-Origin: *, *
Access-Control-Max-Age: 1728000
Co

[2020-06-29 03:37] harshavardhana commented on #9932
what is the problem really? all you have to do is put the public certificate at the location where you `~/.minio/certs/CAs` you can see where you `config-dir` defaults to by typing `minio --help`

[2020-06-29 03:46] yuyuanshifu commented on #9932
When I init my minio by docker, the problem ::Unable to initialize OpenID: Get https://192.168.207.34/oauth2/oidcdiscovery/.well-known/openid-configuration: x509: cannot validate certificate for 192.168.207.34 because it doesn't contain any IP SANs.
I am not sure where the public certificate is. I followed [mutual-ssl](https://is.docs.wso2.com/en/latest/administer/enabling-mutual-ssl/) to generate

[2020-06-29 03:48] harshavardhana commented on #9932
Since there are no user home dir in docker its at `/.minio/certs/CAs`

[2020-06-29 03:48] harshavardhana commented on #9932
Also you generated cert for a domain not an IP which is what the certificate is complaining about

[2020-06-29 05:06] AliGolmirzaei commented on #9933
@harshavardhana

maybe writing
`minio server http://host{1...n}/export{1...m} http://host{n+1...o}/export{1...m}`
instead of
`minio server http://host{1...n}/export{1...m} http://host{1...o}/export{1...m}`
help to understand it a lot better

[2020-06-29 05:06] harshavardhana commented on #9933
Feel free to send a fix the doc

[2020-06-29 06:26] zpavlig opened #9936 "standalone installation to distributed installation"
Hello.

Please tell me, is it possible to convert standalone installation to distributed installation, if there are already many files upload?

[2020-06-29 06:33] nitisht commented on #9936
@zpavlig  You'll need to manually mirror data to the new distributed cluster using `mc mirror` command https://docs.minio.io/docs/minio-client-complete-guide.html#mirror . Closing as answered.

[2020-06-29 06:33] #9936 closed

[2020-06-29 08:54] zpavlig commented on #9936
i used mc mirror, files only copy to once server, files not found for distributed servers, and files not found for UI

[2020-06-29 14:17] harshavardhana commented on #9935
The issue is fully incomplete, the user has not used issue template.

There is no sample code or reproducible steps involved.

Nothing actionable from our end.

[2020-06-29 14:17] #9935 closed

[2020-06-29 14:19] harshavardhana commented on #9932
Looks like a setup issue you should generate certs for both IP and domain if you want to use both.

Drop the public certs properly into your container at /.minio/certs/CAs and /root/.minio/certs/CAs it should work properly.

[2020-06-29 14:19] #9932 closed

[2020-06-29 17:33] Junaiid-Ahmad commented on #4557
Just checking if there is some update on this document?
I only know about the first version here https://github.com/fwessels/minio/blob/feature/design-doc/DESIGN.md

[2020-06-29 20:46] #9910 closed

[2020-06-29 20:46] #9931 closed

[2020-06-29 20:54] #9870 closed

[2020-06-29 22:03] fwessels commented on #4557
No, there's no update (and the document is getting more out of sync, so we should probably retire it).

[2020-06-29 23:20] bensodenkamp commented on #9891
FYI, this appears to be broken with the fix for versioning: https://github.com/minio/minio/issues/2111 in commit: https://github.com/minio/minio/commit/4915433bd28585868e8259996d43fbcf6b4d7b46

[2020-06-29 23:57] harshavardhana commented on #9891
This is fixed in #9938

[2020-06-30 00:54] bensodenkamp commented on #9891
New behavior: There is no error message, and objects delete successfully, however the "are you sure you want to delete" dialog does not disappear when the user clicks 'ok'. If you click 'ok' then click 'cancel', then reload the screen, only then can you see that the deleted object has been removed from the bucket.

[2020-06-30 00:57] yuyuanshifu commented on #9932
Thanks for your reply, I am trying to generate certs for domain and undstand the process.

[2020-06-30 02:27] harshavardhana commented on #9891
feel free to send a PR @bensodenkamp

[2020-06-30 08:07] brandsr opened #9942 "minio crashes on file access denied"
## Expected Behavior
Should not crash on no file access.

## Current Behavior
Minio crashes on no file access. It logs an error:

[code]
## Steps to Reproduce (for bugs)
Not exactly known. Errormessage return about every 2 hours in the message log.

## Context
Connections are killed, so io is aborted, which impacts applications using S3 storage.

## Your Environment
* Version used (`minio version`

[2020-06-30 08:11] balamurugana opened #9943 "GetObjectRetention API returns wrong XML after setting empty retention"
`GetObjectRetention` needs to return `NoSuchObjectLockConfiguration` error like AWS S3 after setting empty retention configuration.

Below is the call trace
[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. ngin

[2020-06-30 11:52] sumeetchhetri opened #9946 "Minio should be able to run on a configurable context path"
Currently it is not possible to run minio (standalone or behind proxy) on a different context path other than / (/minio).
This is required in multiple situations, for eg behind a single public facing ip address (behind a firewall) and a proxy server routing traffic to several applications using different context paths where routing to minio on / would not be possible, also adding multiple bucket r

[2020-06-30 12:51] vadmeste commented on #9946
@sumeetchhetri do you want to route S3 requests ? that's not possible because it will break S3 signature calculation

[2020-06-30 13:17] sumeetchhetri commented on #9946
Nope, not s3, generally minio should be able to run on configurable context paths instead of the current /minio.

[2020-06-30 14:57] harshavardhana commented on #9946
That is a design choice for us, we cannot allow such configuration.

We have explained why this is not necessary for us and why it creates confusion, complications in terms of documentation and overall expected behavior.

/minio is a reserved endpoint by design and cannot be allowed to be configurable. It is a niche usecase we are not interested in.

You may fork MinIO and make these changes in yo

[2020-06-30 14:57] #9946 closed

[2020-06-30 14:59] harshavardhana commented on #9942
@klauspost this was an issue with Gorilla mux already fixed in both branches master and release.

[2020-06-30 16:32] #9942 closed

[2020-06-30 21:25] RStapley opened #9949 "Unable to put object using AWS S3 Java Client and version enabled bucket"
## Expected Behavior

When putting an object into a versioned bucket it adds the object to the bucket.

## Current Behavior

I get an exception:
software.amazon.awssdk.services.s3.model.S3Exception: A header you provided implies functionality that is not implemented (Service: S3, Status Code: 501, Request ID: 161D6036D0CFAE23)

More stack trace: https://gist.github.com/RStapley/26fc475127d25653f1b

[2020-06-30 21:27] harshavardhana commented on #9949
When you clone the repo it is not using master branch - the default HEAD is `release` branch - to compile from source you need to` git clone ` and then `git checkout master`

Please do so, versioning would work. Closing this issue as working as intended.

[2020-06-30 21:27] #9949 closed

[2020-06-30 22:01] RStapley opened #9951 "Unable to put object using AWS S3 Java or .NET Client and version enabled bucket"
## Expected Behavior

Trying this again, apologize if I am just dense and missing something big here.

When putting an object into a versioned bucket it adds the object to the bucket.

## Current Behavior

I get an exception:
software.amazon.awssdk.services.s3.model.S3Exception: A header you provided implies functionality that is not implemented (Service: S3, Status Code: 501, Request ID: 161D6036

[2020-06-30 22:04] harshavardhana commented on #9951
You are missing the point @RStapley I already explained that you need to fix your Dockerfile to build from master. It is not building from the master.

Please join our https://slack.min.io to ask these questions and we can help you.

[2020-06-30 22:04] #9951 closed

[2020-06-30 22:06] harshavardhana commented on #9951
To run your program just run it again https://play.min.io our public server.

[2020-06-30 22:07] harshavardhana commented on #9951
Here are the credentials

[code]

[2020-06-30 22:16] RStapley commented on #9951
Thank you @harshavardhana.

I am still misunderstanding the Dockerfile change as it looks like step 6 already has git checkout master as part of the run steps.

Thank you for your help, I will post in the slack channel tomorrow.

[2020-06-30 22:19] harshavardhana commented on #9951
@RStapley also we do not support versioning with single disk mode so most probably that is the issue here. Just run MinIO with multiple disks by using multiple directories like this and it shall work.

[code]

[2020-06-30 22:20] RStapley commented on #9951
@harshavardhana Thank you so much!

I'll give this a try and see how it goes. I'll start with Slack from now on as well.

[2020-06-30 23:44] #9943 closed

[2020-07-01 06:53] xiaoluji commented on #9226
Why do I still get an error setting like you
./minio server --address :9010 http://10.20.31.{100...101}/data/prod{1...4} http://10.20.31.{144...145}/data/prod{1...4}
Should all server scripts be changed like this？Or only new server changes?

[2020-07-01 06:54] harshavardhana commented on #9226
all of them @xiaoluji

[2020-07-01 07:00] xiaoluji commented on #9226
i try it,but it doesn't work,server100and101 would report an error:Unable to initial backend:1st/2nd disk is already used in anthor erasure deployment.(xxxxxxx16,butxxxxxxxx8 format.json).Then quit...

[2020-07-01 07:06] xiaoluji commented on #9226
Is it because of version of minio ?or it is supported from beginning,1st version

[2020-07-01 07:33] ZhangXuYangSKR opened #9953 "Use http://host{xxx...xxx}/export{xxx...xxx} http://host{xxx...xxx}/export{xxx...xxx} mode to Extended cluster"
first,i used server 100 101,
`./minio server --address :9010 http://10.20.31.{100...101}/data/prod{1...4}`
 and upload some files,then i stoped minio,changed scripts on 100 101
`./minio server --address :9010 http://10.20.31.{100...101}/data/prod{1...4} http://10.20.31.{144...145}/data/prod{1...4}`
When i start the script,server100and101 would report an error:Unable to initial backend:1st/2nd disk

[2020-07-01 07:40] nitisht commented on #9953
Please use issue template to report issues. It is not clear what are you trying and what is not working. Closing this issue.

[2020-07-01 07:40] #9953 closed

[2020-07-01 08:02] ZhangXuYangSKR opened #9954 "ERROR when I Expanding existing distributed setup"
when I do as https://docs.min.io/docs/distributed-minio-quickstart-guide.html to Expanding existing distributed setup , report an error
First config is
[code]
New config is
[code]
When I stopped 10.20.31.100,10.20.31.101,and used new config to start 10.20.31.100/101,10.20.31.144/145,then server 100/101 report  errors:
`ERROR Unable to initialize backend: 1st disk is already being used in another e

[2020-07-01 08:15] ZhangXuYangSKR commented on #9954
sorry,the error is
`ERROR Unable to initialize backend: 1st disk is already being used in another erasure deployment. (Number of disks specified: 16 but the number of disks found in the 1st disk's format.json: 8)`
`ERROR Unable to initialize backend: 2nd disk is already being used in another erasure deployment. (Number of disks specified: 16 but the number of disks found in the 2nd disk's format.j

[2020-07-01 08:39] gwnet opened #9955 "minio EC mode cannot saturate optane SSD"
minio EC mode cannot saturate optane SSD with some reason

## Expected Behavior

when I run large object write workload. with 2 optane SSD, each drive create 2 partitions, give the 4 partitions to  minio server.

when I run the workload, backend optane can only use half its bw 2000+MB/s

Device            r/s     rMB/s   rrqm/s  %rrqm r_await rareq-sz     w/s     wMB/s   wrqm/s  %wrqm w_await ware

[2020-07-01 08:41] ZhangXuYangSKR commented on #9954
I had changed source code at storage-rest-common.go,add a new const parameter in last const parameters
`storageRESTLastRenameFile="lastRenameFile"`
And changed storage-rest-server.go at resisterStorageRESTHandler methed,

`subrouter.Metheds(http.MethedPost).Path(SlashSeparator+storageRESTRenameFile).HandlerFunc(httpTraceHdrs(server.RenameFileHandler)).Queries(restQueries(storageRESTSrcVolume,stora

[2020-07-01 15:30] harshavardhana commented on #9954
@ZhangXuYangSKR if you modify code then you are on your own. We can't help you here.

You haven't provided much details on which version you are and what are you really trying to achieve.

[2020-07-01 15:34] harshavardhana commented on #9955
@gwnet is the version field left out on purpose?

This entire issue lacks a lot of information

- how did you test?
- what was your ec configuration?
- what was your application?
- what was the average file size in those application?

Without any of this information we cannot possibly help you. Please provide as much information as you can.

Will close the issue for now as incomplete.

[2020-07-01 15:34] #9955 closed

[2020-07-02 00:10] #9891 closed

[2020-07-02 02:22] ZhangXuYangSKR commented on #9954
OK.Can you tell me its starting process?And what will happen to the cluster expansion?Only process,I will do it myself.Thanks!

[2020-07-02 02:25] ZhangXuYangSKR commented on #9954
Fine.Can you tell me its starting process and what will happen to the cluster expansion？Only process,I will work on my own.Thanks

[2020-07-02 02:28] ZhangXuYangSKR commented on #9954
Once I find the cause of the problem, I will reply to you

[2020-07-02 17:53] harshavardhana commented on #9954
Closing this until then.

[2020-07-02 17:53] #9954 closed

[2020-07-02 19:14] bensodenkamp commented on #9832
So, reviewing the code here, it looks like bucket names get checked against general minio requirements as well as requirements specific to the back end. @harshavardhana, would it be correct to assume that minio always wants bucket names to be compliant to S3 standards even if the back end is not S3?

[2020-07-02 19:15] harshavardhana commented on #9832
yes @bensodenkamp

[2020-07-02 21:37] tspoeri opened #9962 "Cannot create bucket with object lock enabled"
I try to create a bucket using mc with object lock enabled but it fails.

## Expected Behavior
Executing
[code]
should create the bucket `bucket-with-lock`.

## Current Behavior
Creation of the bucket fails:
[code]

## Context
Creating a bucket with object lock enabled is a prerquisite for locking objects as described here: https://github.com/minio/minio/tree/master/docs/retention

## Your Environ

[2020-07-02 21:42] kannappanr commented on #9962
@tspoeri object locking is not supported in `fs` mode. You need to use erasure-coded mode to use the locking feature.

[2020-07-02 21:42] #9962 closed

[2020-07-02 22:04] tspoeri commented on #9962
@kannappanr  I'm new to MinIO, is there a documentation which lists limitations depending on modes, etc?
At first sight it's not clear to me why locks depend on erasure-coded mode.

[2020-07-02 22:06] harshavardhana commented on #9962
FS mode think of it as minimal implementation, erasure coded is full fledged

[2020-07-02 23:12] gcc-master commented on #9878
Hi, I'm also having the same problem.
The cluster has six nodes. 1 node is new, it runs heal data. After a while, the process stops.
There is no activity in the cluster at the time of recovery data is not changing.
There are over 1 million objects in the cluster.
The auto-recovery of data lasts very slowly or stops at all.

all node have minio version RELEASE.2020-06-22T03-12-50Z

Here's what's in

[2020-07-03 02:25] #9020 closed

[2020-07-03 07:32] AngioC opened #9964 "Working presigned get object URL with nginx?"
Hi all. I deployed MinIO on a server as storage for images. I have also a java backend that generate presigned url  with this code:
[code]
It return:
`http://x.x.x.x:9000/bucket/name?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20181122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181122T072255Z&X-Amz-Expires=184&X-Amz-SignedHeaders=host&X-Amz-Signature=460b9b46f5fac13f29de4372dd7c1e8

[2020-07-03 07:35] juv commented on #9875
Apparently this is not fixed by #9884
It happened this night again for our cronjobs which ingest data to minio.
The deployment was running MinIO version `RELEASE.2020-07-02T00-15-09Z` with enabled queueDir

![image](https://user-images.githubusercontent.com/8269353/86444023-6cc1fb80-bd10-11ea-9ab9-1b79a46a7d4e.png)

[2020-07-03 10:00] ArkadiuszRaj opened #9965 "PostgreSQL notification bad user"
Upgraded MinIO from old version (before Nov-2019) to the most recent one.
PostgreSQL notification stopped working.

After changing connection_string still no possibility to connect.

## Expected Behavior
Shall work as previously, now with specified user in connection_string.

## Current Behavior
username is not used

## Steps to Reproduce (for bugs)
PostgrSQL is configured to accept connections fo

[2020-07-03 14:18] Goatmaster opened #9966 "memory consumption problem"
Hey,

I have a problem with MinIO. I run the MinIO version RELEASE.2020-06-22T03-12-50Z on a Debian10 virtual machine.

My problem ist that MinIO consumes all the memory of the virtual machine. I tried it with 32GB and 64GB of RAM but after 3-4 days the memory is completly used. Users than start to get problems. For example they can't reach the MinIO server or the buckets where not shown.

There i

[2020-07-03 15:00] Praveenrajmani commented on #9875
I see that this patch is not included in the release @juv

[2020-07-03 15:20] klauspost commented on #9966
Once the server has gobbled up a good amount of RAM could you try to run a  `mc admin profile start --type=cpu,mem myminio` and shortly after a `mc admin profile stop myminio` and attach the downloaded zip file here?

[2020-07-03 15:20] harshavardhana commented on #9875
It will be fixed in another release @juv feel free to use the minio/minio:edge or master branch directly

[2020-07-03 15:23] harshavardhana commented on #9966
Also explain your setup in a bit more detail @Goatmaster .  The entire issue template left out without any information regarding your application, operating system etc.

[2020-07-03 20:09] harshavardhana commented on #9643
This used to be the traditional model which led to useless logs being printed incessantly by the application, we got away from this model and built a better version which is called `mc admin trace`.

Where a client can listen for API traces from the server this is a more productive way to debug because you can see what the server is doing at the time of the request arrived and what was the reason

[2020-07-03 20:09] #9643 closed

[2020-07-03 20:10] harshavardhana commented on #9238
Closing as fixed and released.

[2020-07-03 20:10] #9238 closed

[2020-07-03 21:51] harshavardhana commented on #9878
Fixed by #9939

[2020-07-03 21:51] #9878 closed

[2020-07-03 22:29] harshavardhana commented on #9070
So @annkam I tested with docker registry and it seems to be working fine? are you using any auto-encryption with server config?

[2020-07-04 10:04] juanjoDiaz commented on #9643
Hi @harshavardhana ,

Thanks for the response.

Your response targets debugging and relies on mc.
Logs can be used for more than just debugging on the fly. For example to retrospectively look at what happened already in a running server.
Also, I use Minio as a replacement for Amazon S3 for local deployment with no access to the cloud, so I use the AWS client instead of mc.
I guess that I could run

[2020-07-04 14:08] harshavardhana commented on #9643
Retrospective requirement we have something called as audit logs, which can configured to log to any http endpoint.

You should use mc, no reason not to. AWS client is a very limited tool.

We do log, but only in cases of situations when there are unhandled errors and we couldn't write a proper error response to the client.

[2020-07-04 19:29] MortusKill opened #9973 "Security vulnerability which disclose users with valid Access Key"
Hello Minio team,
I want to inform you about vulnerability in Minio, which I discovered during an internal pentest.

**Description:**
A remote unauthenticated attacker can use brute force to identify users with valid Access Key without knowing Secret Key.

**Step to reproduce**
1. Enter valid Access Key + wrong Security Key, you will see message - Authentication failed, check your access credentia

[2020-07-04 19:38] harshavardhana commented on #9973
This is a default access secret key, you need to change it @MortusKill - this is not a vulnerability.

[2020-07-04 19:41] harshavardhana commented on #9973
Also access key is public information there is no point in hiding it, its the secret key that is used for signature calculation. So I don't see what point you are trying to make here.

For me, it looks like not a security issue from any angle. Brute force can be applied to anything, in reality, all you can do is choose sufficient entropy for your access / secret key - these are the best practices

[2020-07-04 19:59] harshavardhana commented on #9973
This doesn't mean that your secret key is correct @MortusKill it only shows that access key id doesn't exist. You cannot deduce the secret key from this.

This means that the secret key is wrong doesn't mean either that you can decide the secret key from this.

It is not possible with high entropy if you choose a character length of 20+ with different combinations of ASCII characters

20 character

[2020-07-04 19:59] #9973 closed

[2020-07-04 23:55] kannappanr commented on #9973
Also, AWS s3 returns

[code]
if Access Key is correct but secret key is wrong.

It returns
[code]

[2020-07-06 07:33] Goatmaster commented on #9966
There are informations about the setup in the issue. What more information do you need?

[2020-07-06 08:42] klauspost commented on #9966
@Goatmaster Number of disks, number of servers. Number of buckets, no of files in buckets would also help.

Please run the profile. Otherwise we will be unable to help.

[2020-07-06 09:31] PSHREYASHOLLA opened #9976 "MINIO + STS https://github.com/minio/minio/blob/master/docs/sts/web-identity.md Issue."
## Expected Behavior

## Current Behavior
Trying to implement MINIO + STS from https://github.com/minio/minio/blob/master/docs/sts/web-identity.md Issue,
https://accounts.google.com/.well-known/openid-configuration certificate is copied to \.minio\certs\CAs
Starting the server as,
set MINIO_ACCESS_KEY=minioadmin
set MINIO_SECRET_KEY=minioadmin
set MINIO_IDENTITY_OPENID_CONFIG_URL=https://accounts.

[2020-07-06 09:42] klauspost commented on #9976
@PSHREYASHOLLA  Please use the provided template and fill out the information requested there.

[2020-07-06 10:06] PSHREYASHOLLA commented on #9976
Hi Klaus,
Have updated the same, please let me know if you need more details.

[2020-07-06 11:21] 4n70w4 commented on #9267
The same issue!

[2020-07-06 15:18] harshavardhana commented on #9976
You need to trust the openid public cert

All you need to do is put the public cert from the Google endpoint to `.minio/certs/CAs`  this simply shows that your Windows setup has outdated trusted public certs.

Alternatively use a Linux system or in containers which is comes with proper updated certs..

[2020-07-06 17:08] kannappanr commented on #9976
@PSHREYASHOLLA Closing this issue as answered. Please feel free to reach out to us if you still have issues.

[2020-07-06 17:08] #9976 closed

[2020-07-06 20:56] tpresa opened #9978 "Push to docker registry fails when using minio azure gateway due to empty ListMultipartUploads"
Push to docker registry fails when using minio azure gateway, apparently due to the empty ListMultipartUploads.

I'm creating this as an issue request because I'm aware that the empty ListMultipartUploads is [a design decision](https://github.com/minio/minio/issues/7632#issuecomment-490959779). Apparently that decision assumes that the only known applications use that endpoint. The [docker registr

[2020-07-06 21:17] harshavardhana commented on #9978
@tpresa it is advised that you use azure storage backend directly, we have no plans to implement ListMultipartUploads emulation for azure gateway.

[2020-07-06 21:52] francisfontoura opened #9979 "CORS headers not sent (RELEASE.2020-07-02T00-15-09Z)"
## Expected Behavior

PUT request to presigned URL started by fetch API (browser) from another origin working.

## Current Behavior

Request not working because CORS headers are absent.

## Possible Solution

I don't know.

## Steps to Reproduce (for bugs)

1. Generate presigned PUT URL for an object.
2. Try to upload a file from browser with fetch API.

## Context

Web application of mine that us

[2020-07-06 21:57] harshavardhana commented on #9979
@francisfontoura the issue exists because of from handler re-ordering.

[2020-07-07 03:55] #9979 closed

[2020-07-07 05:43] kedarkulkarni commented on #9508
@hebe9585 does it work for you now?

[2020-07-07 06:39] PSHREYASHOLLA commented on #9976
@harshavardhana @kannappanr  As per comments I will try on Linux and get back. But What is the problem with Windows here? Can you elaborate bit?

[2020-07-07 07:30] Goatmaster commented on #9966
Updated the details in the first post.

[2020-07-07 11:10] PSHREYASHOLLA commented on #9976
Tried with linux getting,

DeploymentID: 52e94b52-e4ef-46a7-a8b2-765b8276ce71
Error: Unable to initialize OpenID: Get https://login.microsoftonline.com/b707282d-523b-4877-bdb5-492475dae437/.well-known/openid-configuration: dial tcp 40.126.18.1:443: i/o timeout
       8: github.com/minio/minio@/cmd/config-current.go:418:cmd.lookupConfigs()
       7: github.com/minio/minio@/cmd/config-current.go:570

[2020-07-07 11:55] skandragon commented on #9546
bump: it'd be nice to have this on arm64

[2020-07-07 13:28] lucasbasquerotto opened #9984 "Minio Browser - Keep Authenticated with Credentials defined in environment variables"
**Is your feature request related to a problem? Please describe.**
I use nginx to reverse proxy some services that are only accessible from specific IPs and a basic auth. If I need to rotate credentials I just need to change the basic auth credentials, which is very easy (I just need to change the file with the credentials) and it would work for all services (instead of doing it on a service per s

[2020-07-07 14:54] vadmeste commented on #9897
@programmierstube, I am not really able to reproduce this, could you tell what's your MinIO version ?

[2020-07-07 15:00] vadmeste commented on #9897
Also what operating system is this ? @programmierstube

[2020-07-07 15:12] jaken551 opened #9985 "JWT Support Group to Group mapping"
**Is your feature request related to a problem? Please describe.**
Having to extend JWTs to non-standard claims, using `policy` makes configuration of STS complicated.

**Describe the solution you'd like**
It would be nice to be able to have a group to group mapping of JWT `groups` to minio groups wherein policies can be created and attached to minio groups.

**Describe alternatives you've conside

[2020-07-07 15:31] harshavardhana commented on #9985
You can set that to whatever name you can with these configuration settings, I don't know if you looked at our documentation

[code]

One is you can set a custom name and another is to set a custom prefix

[code]

[2020-07-07 15:33] harshavardhana commented on #9985
This won't workgroups have no permissions by default, permissions have to be implied using policies alone. Map your policies to groups if necessary but you shouldn't interfere with `mc admin group` with OpenID they are not meant to be of the same world.

[2020-07-07 15:33] harshavardhana commented on #9985
Almost all OpenID identity managers either support custom claims - it is even part of the standard OpenID specification so I am not sure why it is not implemented.

[2020-07-07 15:35] harshavardhana commented on #9985
From the current solution that we provide sufficiently addresses all required use cases, we have dozens of deployment already using the existing features with similar requirements such as using `roles` instead of `policy` as they keyName in JWT from Azure AD IDP.

Will close this issue as its sufficiently fixed.

[2020-07-07 15:35] #9985 closed

[2020-07-07 15:41] harshavardhana commented on #9984
These are ad-hoc things which we cannot support @lucasbasquerotto - you simply seem to be asking us to change our auth mechanism which is really not the correct practice to ask the software to use something which is not standard which leads to satisfying your nice use-case.

The way to differentiate JWT based authorization header is that its called "Bearer <token>" , if you need to route based on

[2020-07-07 17:13] harshavardhana commented on #9546
It will be done @skandragon in future releases we already have the relevant docker files in place

[2020-07-07 17:56] lucasbasquerotto commented on #9984
Hi, @harshavardhana , thanks for the reply. With regards to some things you said:

Actually it would be more to **not authenticate** instead of **changing** it (and only if whoever runs the minio browser **chooses** it **explicitly**, be it using an environment variable or anything else). The credentials to use would be the ones defined in the environment variables (just like a CLI). I mean this o

[2020-07-07 17:56] #9984 closed

[2020-07-07 18:03] harshavardhana commented on #9976
First of all, it shows that your windows to be pretty outdated because it is not even able to trust the `accounts.google.com` which is a public domain. So you have to resort to copying its public cert,  which should be in `--certs-dir`.

So it may be that it's not correctly copied to the right location.

With this outdated nature, what is the point of using this operating system? either upgrade yo

[2020-07-07 19:00] PSHREYASHOLLA commented on #9976
Hi Harshavardhana,

Let me answer your concerns on OS first, the system we are speaking about has windows 10 Enterprise which is the latest version of windows OS available, so there is no point of upgrade here. So can you please let me know why is minio failing to read certificate?

 And as I mentioned before the certificates are copied to  %%USERPROFILE%%\.minio\certs\CAs folder. Let me know if t

[2020-07-07 19:02] harshavardhana commented on #9976
If you are using the latest Windows, then either the installation is broken or the certs are somehow not available for the user you are trying to run.

Have you tried upgrading MinIO before opening this issue?

[2020-07-07 19:48] PSHREYASHOLLA commented on #9976
Yes tried with version: 2020-07-02T00:15:09Z. Logs below,

Attempting encryption of all config, IAM users and policies on MinIO backend

API: SYSTEM()
Time: 01:11:26 IST 07/08/2020
DeploymentID: bd96ac01-e399-4ff5-a6e7-c99960265cc9
Error: Unable to initialize OpenID: Get https://accounts.google.com/.well-known/openid-configuration: x509: certificate signed by unknown authority
       8: github.com

[2020-07-07 20:57] harshavardhana commented on #9966
We need the profile output @Goatmaster not provided yet.

This doesn't make sense to run out of memory.

[2020-07-08 07:26] ZhangXuYangSKR opened #9990 "[working as intended] minio restart problem"
### version：RELEASE.2020-07-02T00-15-09Z，branch master.
I used 2 server 10.20.31.100,10.20.31.101 to start minio.
The config is

`./minio server  --adress :9010 http://10.20.31.{100...101}/home/data{1...4}`

When I killed two minio process at the same time on two servers and wanted to restart minio,I found that one server started successful but another server which run the script first  has no res

[2020-07-08 08:25] PSHREYASHOLLA commented on #9976
@harshavardhana @klauspost , As mentioned earlier sometimes the server configuration with OpenID works and sometimes it gives un trusted certificate. But when the server connects, UI login with OpenID is working but post request mentioned in https://github.com/minio/minio/blob/master/docs/sts/web-identity.md, which is http://minio.cluster:9000?Action=AssumeRoleWithWebIdentity&DurationSeconds=3600&

[2020-07-08 08:48] FirKys opened #9991 "Sync/mutex maxClients [Crash]"
Error: timed out. some connections are still active. doing abnormal shutdown. goroutines written to
Error description here: https://pastebin.com/fFMKBqCv

## Expected Behavior
The server continues to work at high load, but does not crash (just not save a file)

## Current Behavior
Server freezes, further requests do not work

## Steps to Reproduce (for bugs)

1. Start minio server in docker
2. Use

[2020-07-08 09:15] klauspost commented on #9991
Thanks for the report!

I have found a potential race in the affected code.

[2020-07-08 10:56] klauspost commented on #9966
@Goatmaster I don't see any profiles there?

@harshavardhana It is possible with a huge amount of objects not that deeply nested. I just want to confirm it.

[2020-07-08 11:28] klauspost commented on #9990
MinIO will not shut down until all running requests have finished.

It should write goroutines to a file - the name is written to the console. If not send a `SIGQUIT` `kill -3 PROCESSID` and attach the output here. I will need either output to help you further.

Please use the issue template in the future.  Could be #9991

[2020-07-08 11:39] FreeG opened #9993 "minIO returns an Error for OPTIONS request"
when sending an HTTP OPTIONS request to minio for a given resource, XMinioUnknownAPIRequest is returned.

## Expected Behavior
when sending the very same request to Amazon S3 HTTP200 with the requested data is returned:
Example here:

------------- REQUEST S3 -------------
OPTIONS http://SomeBucket.SomeRegion.amazonaws.com/some/path/to/my/file.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=202007

[2020-07-08 11:50] klauspost commented on #9993
API: https://docs.aws.amazon.com/AmazonS3/latest/API/RESTOPTIONSobject.html

[2020-07-08 13:51] flashspys commented on #9993
The last update of minio bricked our uploading, too. We're using presigned put request, so the browser can upload sth in minio, and the preflight for the PUT request is failing.

[2020-07-08 13:56] FreeG commented on #9993
i noticed the following error message in the browsers log

Access to XMLHttpRequest at 'http://localhost:9000/path/to/my/file?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200708T133819Z&X-Amz-SignedHeaders=content-md5%3Bhost&X-Amz-Expires=300&X-Amz-Credential=SomeCredential%2FSomeRegion%2Fs3%2Faws4_request&X-Amz-Signature=SomeSignature' from origin 'http://localhost:8080' has been blocked by CORS

[2020-07-08 13:58] klauspost commented on #9993
@flashspys

That doesn't seem related to the issue. If I read the issue correct this call has never been supported and as such is a feature request as far as I can tell.

@FreeG What relation does that have to the issue?

[2020-07-08 14:02] flashspys commented on #9993
No, this is one single issue. In minio/minio:RELEASE.2020-07-02T00-15-09Z the cors response of presigned-PUT requests is broken. This worked at least until minio/minio:RELEASE.2020-06-22T03-12-50Z !

As @FreeG stated correctly: The CORS handling of AWS S3  works correctly, Minio's doesn't. As a result of the broken cors response, the browser does not send the file to minio, as shown in this error

[2020-07-08 15:01] harshavardhana commented on #9993
This is fixed in #9980

[2020-07-08 15:01] #9993 closed

[2020-07-08 15:03] harshavardhana commented on #9990
@klauspost @ZhangXuYangSKR is building from master and not using the released version.

From previous issues it is indicated that there has been some custom source code modification as well.

[2020-07-08 15:17] harshavardhana commented on #9966
@klauspost not really possible, we don't even know what operations were performed it's not mentioned in the issue.

[2020-07-08 16:43] klauspost commented on #9966
@harshavardhana The crawler makes that possible.

[2020-07-08 16:48] harshavardhana commented on #9966
yeah but 104GiB? that's like if there were 1KiB files.

[2020-07-09 00:52] ZhangXuYangSKR commented on #9990
I did not make changes to this version, source code 100%.

[2020-07-09 02:08] ZhangXuYangSKR commented on #9990
Is  the version-branch master under development?I think I should use branch release......And today I use commad kill -3 PROCESSID to kill the no response process,it has many output,I can't understand what it is means.I will use branch release version to test whether this will happen

[2020-07-09 02:09] ZhangXuYangSKR commented on #9990
Is the version-branch master under development?I think I should use branch release......And today I use commad `kill -3 PROCESSID` to kill thatno response process,it has many output,I can't understand what it is meaning.I will use branch release version to test whether this will happen.

[2020-07-09 02:26] harshavardhana commented on #9990
please share the output.

[2020-07-09 02:47] ZhangXuYangSKR commented on #9990
[code]

[2020-07-09 03:03] harshavardhana commented on #9990
Which go version are you using? If you are using Go1.14 please use go1.13.12 instead..

[2020-07-09 03:12] ZhangXuYangSKR commented on #9990
My go version is Go1.14,I will try it later

[2020-07-09 03:14] harshavardhana commented on #9990
Please don't use go1.14.x yet

[2020-07-09 03:15] kongmaster2016 opened #9997 "io.minio.errors.XmlParserException: null"
code:
minioClient.putObject(PutObjectArgs.builder().bucket(bucketName).object(ObjectName).stream(in,  -1, 10485760)

exception:
io.minio.errors.XmlParserException: null
	at io.minio.Xml.unmarshal(Xml.java:68)
	at io.minio.MinioClient.execute(MinioClient.java:1050)
	at io.minio.MinioClient.putObject(MinioClient.java:7582)
	at io.minio.MinioClient.putObject(MinioClient.java:4682)
	at io.minio.MinioC

[2020-07-09 03:15] kongmaster2016 commented on #9997
<dependency>
		   <groupId>io.minio</groupId>
		   <artifactId>minio</artifactId>
		   <version>7.1.0</version>
    	</dependency>

[2020-07-09 07:36] ZhangXuYangSKR commented on #9990
I use Go1.13.12,It has same problem just like I use Go1.14,and I use branch release(version:RELEASE.2020-07-02T00-15-09Z),it happen again.As long as i stop both at same time and restart,it would happen.Stoping only one,and restart ,it does not failed.
By th way,I used crtl+C to stop the process,because it wasn't running background.Is there a way to stop minio Gracefully？

[2020-07-09 07:57] widdix123 opened #9998 "[not our bug] sts.AssumeRoleWithWebIdentity - Do not have enough permissions to access this resource on Minio Brwoser"
I am able to login to the browser using OIDC . The page gets displayed however the buckets that are created does not show up in the list

![image](https://user-images.githubusercontent.com/38529736/87012836-62f43880-c1e7-11ea-90e9-7ed9b6e0c74a.png)

## Expected Behavior

I should be able to see the buckets , run upload file, create bucket etc

![image](https://user-images.githubusercontent.com/385

[2020-07-09 07:58] widdix123 commented on #9998
I am able to see 200 stautus but no buckets are displayed to it . This needs to be on prod , can you please check this urgently

07:37:10.620 [200 OK] sts.AssumeRoleWithWebIdentity localhost:9000/?Action=AssumeRoleWithWebIdentity&Version=2011-06-15&WebIdentityToken=eyJhbGciOiJSUzI1NiIsImtpZCI6ImFmNzJiYjk0ZThlMzk2NGViZmQwNGE2OTkxN2E1ODI3Y2FkZWIzMWYifQ.asdfsdfsfsafsafsadfsd.T0dsjdaPGCUbCQwtnuEO1SXw_

[2020-07-09 08:22] ZhangXuYangSKR commented on #9990
I uesd version RELEASE.2019-09-05T23-24-38Z that I said I had changed its source code last time,It can restart successful,no matter which one restart first or stoped.And I also built it on defferent Go environment(1.13.12,1.14.2).Maybe something wrong in recent version.

[2020-07-09 08:57] WolfspiritM commented on #9238
@harshavardhana I gave this a try but it seems like minio browser still uses all scopes? Is that on purpose? Should I open a new issue for that?

[2020-07-09 09:31] imartinezortiz commented on #9238
These changes are in master branch but not in release branch, but you can try minio:edge that seems to be build from master branch

[2020-07-09 10:07] ZhangXuYangSKR commented on #9990
I find that although the failed server has no output and the web prompts `Server not initialized,please try again`,another web can creat buckets and upload files normally.The buckets will be created and files will be uploaded on the "failed" server.In a sense,it restarted successful......

[2020-07-09 10:13] PSHREYASHOLLA commented on #9976
@kannappanr @klauspost @harshavardhana  SHould I raise a new issue for the above?

[2020-07-09 10:26] klauspost commented on #9990
The server is never initialized.
[code]

It is stuck here: https://github.com/minio/minio/blob/cdb0e6ffed344ee15da5a80fa6f9d722fbb14e77/cmd/admin-heal-ops.go#L636

[2020-07-09 10:28] klauspost commented on #9990
Healing gouroutine is stuck here:
[code]

[2020-07-09 10:52] widdix123 commented on #9998
@harshavardhana  - Can you please suggest ?

[2020-07-09 10:53] ZhangXuYangSKR commented on #9990
So it's because that my server-number is not enough？But why can it upload files?Later I will add servers to test it.

[2020-07-09 11:12] ZhangXuYangSKR commented on #9990
Yes,the program will be stuck after executing method `initBackgroundHealing()` in background-heal-ops.go when I debug it yesterday,it will call admin-heal-ops.go#L636.Sorry to tell to so late...It is my first time to contact project of Go.

[2020-07-09 11:17] ZhangXuYangSKR commented on #9990
Is it a bug?Or it is because my non-standard operation.

[2020-07-09 11:25] klauspost commented on #9990
I can't tell. It isn't good that it gets stuck there without any message either way.

[2020-07-09 11:29] ZhangXuYangSKR commented on #9990
Tahnks.I will try 3 or 4 servers to start it  tomorrow,and see what it will happen.Then I will tell you.

[2020-07-09 11:31] klauspost commented on #9966
Something like it. But either way a profile could tell us instead of having to guess. Can't do anything until we get a profile.

[2020-07-09 12:14] klauspost commented on #9990
No need. Similar lockups reproduce in other cases as well.

[2020-07-09 14:02] #9991 closed

[2020-07-09 14:30] klauspost commented on #9990
If you have the option try running with `MINIO_DSYNC_TRACE=1` env var.

[2020-07-09 14:30] harshavardhana commented on #9998
First, you need to make sure you have added the policy as part of the custom JWT claim have you done that? @widdix123 without a policy there is no access granted by default.

If this is in production and if you need production support with SLA - please look at our subscription for more information https://min.io/pricing

[2020-07-09 15:12] widdix123 commented on #9998
@harshavardhana  - Thanks but is there something for Dex ? We currently are using Dex and not KeyClock

[2020-07-09 15:15] harshavardhana commented on #9998
Dex need to support custom claims for JWT @widdix123

[2020-07-09 15:19] harshavardhana commented on #9998
@widdix123 you can use  https://github.com/dexidp/dex/blob/master/Documentation/custom-scopes-claims-clients.md

You can set `groups` as your policy claim name for MinIO

[code]

From their sample JWT
[code]

[2020-07-09 15:24] harshavardhana commented on #9998
Closing this issue as this is already supported

[2020-07-09 15:24] #9998 closed

[2020-07-09 16:44] widdix123 commented on #9998
@harshavardhana  -  Still it is not clear as to what needs to be done

Not sure what needs to be done below

The env inside pods

[code]

The documents are still not clear as to what policy is required for OIDC groups ? My jwt is similar to sample

[2020-07-09 18:02] PSHREYASHOLLA opened #10001 "[not our bug] MINIO + STS https://github.com/minio/minio/blob/master/docs/sts/web-identity.md Issue."
## Expected Behavior

## Current Behavior
In continuation with #9976 The server configuration with OpenID works sometimes in Windows and sometimes it gives un trusted certificate.

But when the server connects on windows or linux, UI login with OpenID is working but post request mentioned in https://github.com/minio/minio/blob/master/docs/sts/web-identity.md, which is http://minio.cluster:9000?Act

[2020-07-09 18:16] harshavardhana commented on #9998
policy needs to map to the policy created on MinIO using `mc admin policy` MinIO expects that your JWT presents the policy

### 4. JWT Claims
The access token received is a signed JSON Web Token (JWT). Use a JWT decoder to decode the access token to access the payload of the token that includes following JWT claims:

|Claim Name|Type|Claim Value|
|:--:|:--:|:--:|
|iss| _string_ | The issuer of the

[2020-07-09 18:21] harshavardhana commented on #10001
This entirely looks like your RSA key is corrupt something is maliciously modifying the signature

[code]

[2020-07-09 18:33] PSHREYASHOLLA commented on #10001
Can you elaborate why MINIO is unable to resolve the same? As I am able to use the same web identity token(JWT) to get the access token with other applications.

[2020-07-09 18:34] harshavardhana commented on #10001
I don't know @PSHREYASHOLLA

[2020-07-09 22:10] mbklein opened #10002 "CORS prefetch (`OPTIONS`) requests fail with a `400 Bad Request`"
I am using a presigned URL to upload a file directly from the browser to S3, using minio via Docker in my dev and test environments. This has been working fine for months, but is broken as of `RELEASE.2020-07-02T00-15-09Z` and up through `latest`.

## Setup

I captured the `OPTIONS` request with the presigned URL from Chrome and tried to curl it. This URL won't work for testing; you'll need to gen

[2020-07-09 22:11] harshavardhana commented on #10002
Duplicate of #9979 , fixed in #9980

[2020-07-09 22:11] #10002 closed

[2020-07-09 22:52] mbklein commented on #10002
Agh, sorry about that. I could have sworn I looked for a dupe. Thanks; I'll keep my eye out for a release.

[2020-07-10 01:35] ZhangXuYangSKR commented on #9990
emmm...I try it,the server which run the script first has output like this:
[code]
My server(10.20.31.101)has some ssh problems,so I use 10.20.31.243 instead.And 2 disks on 1 server.
My config:
[code]

[2020-07-10 01:38] ZhangXuYangSKR commented on #9990
I think it is a bug for it doesn't have this problem before.

[2020-07-10 01:44] harshavardhana commented on #9990
@ZhangXuYangSKR it doesn't make sense if you restart lockers here you loose write quorum because of 4 node setup you only have 2 nodes, we need write lockers to be established to proceed if you restart because we need to have write quorum to perform certain maintenance operations.  Trying to gain HA based on 2 servers is not possible - to have proper HA you need a minimum of 3 servers.

2019 versi

[2020-07-10 01:48] ZhangXuYangSKR commented on #9990
You are right,the version is indeed old :satisfied:

[2020-07-10 01:52] ZhangXuYangSKR commented on #9990
So if there are some other suggestions,plz tell me:)

[2020-07-10 01:53] harshavardhana commented on #9990
you need to use minimum 3 servers

[2020-07-10 01:55] ZhangXuYangSKR commented on #9990
I try it now

[2020-07-10 02:29] ZhangXuYangSKR commented on #9990
YES!!! It restarts successful!:smiley:Minio official website doesn't seem to mention this .
Can I ask you another question?
If i have discontinuous ip like 10.20.31.**100**,10.20.31.**104**,10.20.31.**106**,how can I use the pattern: `minio server http://host{N...M}/export{n...m}`to start minio?

[2020-07-10 02:44] ZhangXuYangSKR commented on #9990
At last,Thank you very much for helping me! @harshavardhana @klauspost  👍

[2020-07-10 02:50] harshavardhana commented on #9990
you cannot @ZhangXuYangSKR we recommend that you use hostnames instead of IPs to get correct enumeration

[2020-07-10 02:50] #9990 closed

[2020-07-10 02:52] ZhangXuYangSKR commented on #9990
OK.Thank u

[2020-07-10 06:20] widdix123 commented on #9998
@harshavardhana  - I still get this error while creating the jwt policy. Not sure what i am doing wrong here

_**mc admin policy add v5 listbucketsonly minio.json --json**_

**Policy from jwt**
[code]

****Error**:**
[code]

[2020-07-10 07:24] #9964 closed

[2020-07-10 08:16] annkam commented on #9070
Hello! Yes, we use auto-encryption.

[2020-07-10 08:31] harshavardhana commented on #9998
@widdix123 this is just a configuration issue, join our slack https://slack.minio.io - these questions are beyond the scope of a github issue

[2020-07-10 08:33] harshavardhana commented on #9070
Fixed by #9970

[2020-07-10 08:33] #9070 closed

[2020-07-10 10:54] king-john opened #10005 "When a network fault occurs on one node, upload file very slow."
I run the distributed minio of four nodes. When a network fault occurs on one node, upload file very slow.

## Expected Behavior

Files are uploaded quickly.

## Current Behavior

Files are uploaded  is slow.
## Possible Solution

## Steps to Reproduce (for bugs)

1. vi /etc/hosts ,add :
server-ip1    minio-server1
server-ip2    minio-server2
server-ip3    minio-server3
server-ip4    minio-server4

[2020-07-10 11:02] klauspost commented on #10005
Upgrade to latest version which contains https://github.com/minio/minio/pull/9808 and re-test.

[2020-07-10 11:04] klauspost commented on #10005
It is inevitable that there will be an impact, but the PR above should ensure that the system will keep a server offline until it can positively be reached.

[2020-07-10 11:53] klauspost commented on #10005
@king-john

[2020-07-10 13:58] deepPsixoz opened #10006 "Expected 'storage' API version 'v17', instead found 'a1', please upgrade the servers"
## Expected Behavior

## Current Behavior
1. 、Console startup log:
minio_1  | Waiting for a minimum of 4 disks to come online (elapsed 17s)
minio_1  |
minio_1  | Unable to read 'format.json' from http://192.168.1.2:9000/mnt/data1: Expected 'storage' API version 'v17', instead found 'a1', please upgrade the servers
minio_1  |
minio_1  | Unable to read 'format.json' from http://192.168.1.3:9000/mnt/

[2020-07-10 15:03] detoxhby opened #10007 "Virtual-host style is broken with latest release"
Virtual-host style resolution does not work, no matter of the configuration or permissions. Using different region also irrelevant.

This is a regression as `RELEASE.2020-06-22T03-12-50Z` works fine.

## Expected Behavior
 - export MINIO_DOMAIN=mydomain
 - requests against sub.mydomain.com could handle the `sub` bucket

## Current Behavior
- for every permutation of settings for domain, the follow

[2020-07-10 15:13] mergewreck opened #10008 "ERROR Unable to initialize gateway backend: mkdir /.minio.sys/tmp: permission denied"
docs suggest that the .minio.xxx dirs should be user based and not sure why is / which is not writable

## Steps to Reproduce (for bugs)
$ curl -O https://dl.min.io/server/minio/release/darwin-amd64/minio
$ chmod +x minio

## Current Behavior
$ MINIO_ACCESS_KEY=minioadmin MINIO_SECRET_KEY=minioadmin ./minio gateway hdfs
ERROR Unable to initialize gateway backend: mkdir /.minio.sys/tmp: permission

[2020-07-10 15:37] harshavardhana commented on #10007
Do you have sub bucket available?

[2020-07-10 15:39] harshavardhana commented on #10008
You should provide a custom path to hdfs if you don't want us to use /tmp , we cannot really autoguess this neither hdfs is able to provide us the actual rootpath for a user.

just use `minio gateway hdfs hdfs://namenode/path`

[2020-07-10 15:39] #10008 closed

[2020-07-10 15:41] harshavardhana commented on #10006
This clearly looks like some other service is running on port 9000 or there is a proxy in between.

Can you use a different port or fix your local environment?

[2020-07-10 15:42] harshavardhana commented on #10005
This is already fixed in the latest release, upgrade is recommended .

[2020-07-10 15:42] #10005 closed

[2020-07-10 16:22] detoxhby commented on #10007
I didn't test sub buckets.

(mainly because all of the applications die while trying to get the main one and receive error 404)

[2020-07-10 16:54] satyamuralidhar commented on #4135
ERROR: 2020/07/10 16:15:05.924450 Finish LSN of backup base_000000010000000000000005 greater than current LSN

[2020-07-10 17:12] harshavardhana commented on #10007
This is because of an upstream regression with gorilla/mux introduced here https://github.com/gorilla/mux/pull/447#pullrequestreview-446563877

[2020-07-10 17:46] mergewreck commented on #10008
hdfs://namenode/path does not change the directory minio uses

$ minio gateway hdfs hdfs://namenode/path

still writes to /.minio.sys/tmp

[2020-07-10 18:01] mergewreck opened #10011 "minio gateway hdfs hdfs://namenode/path does not use /path"
See [/issues/10008] ERROR Unable to initialize gateway backend: mkdir /.minio.sys/tmp: permission denied

The justification to close the ticket does not work

i.e, "just use minio gateway hdfs hdfs://namenode/path"

hdfs://namenode/path does not change the directory minio uses

$ minio gateway hdfs hdfs://namenode/path

still writes to /.minio.sys/tmp

minio should root the gateway at the /path wh

[2020-07-10 18:05] harshavardhana commented on #10011
Not supported yet we may add it in future - thanks for the bug report.

[2020-07-10 18:49] mergewreck opened #10012 "minio hdfs gateway does not support uploading multiparts in parallel"
minio hdfs gateway does not support the multithreaded uploading of multiparts while minio server does.

The hdfs gateway raises exceptions like below:

_API: PutObjectPart(bucket=test, object=...)
Time: 12:50:18 CDT 07/10/2020
DeploymentID: 8e4a063a-d08d-4f5e-b283-63207880e299
RequestID: 1620757638A97928
RemoteHost: 127.0.0.1
Host: localhost:9000
UserAgent: MinIO (x86_64; x86_64) minio-java/dev
Er

[2020-07-10 18:53] harshavardhana commented on #10012
Multipart is not supported on purpose HDFS gateway is designed for repatriation of data from HDFS to MinIO its scope is not to perpetually continue to use HDFS

It has been added as part of roadmap https://github.com/minio/minio/blob/release/docs/gateway/hdfs.md#roadmap but we have decided to never do it.

[2020-07-10 18:53] #10012 closed

[2020-07-10 19:09] harshavardhana commented on #10012
If the requirement is always to use HDFS then use HDFS directly, there is no reason to add an S3 layer on top. The requirement for implementing HDFS gateway for us was to allow simple `mc mirror myhdfs/ myminio/` migration not the other way around.

[2020-07-10 19:10] #9832 closed

[2020-07-10 19:15] #9647 closed

[2020-07-10 19:25] mergewreck commented on #10012
Why not update the documentation:

[https://docs.min.io/docs/minio-gateway-for-hdfs.html](https://docs.min.io/docs/minio-gateway-for-hdfs.html)

**Known limitations**
Gateway inherits the following limitations of HDFS storage layer:

No bucket policy support (HDFS has no such concept)
No bucket notification APIs are not supported (HDFS has no support for fsnotify)
No server side encryption support

[2020-07-10 19:32] harshavardhana commented on #10012
Of course, I will update the docs right away to allow misuse @mergewreck - That is not the scope of this gateway. If you want it that way you are free to fork and fix it yourself. Perpetually using HDFS keeping a hybrid approach is not our goal here.

[2020-07-10 19:34] mergewreck opened #10013 "Update minio gateway hdfs documentation to clarify limitations and roadmap- Especially regarding multipart upload"
See [/issues/10012]

Update minio gateway hdfs documentation to clarify limitations and roadmap- Especially regarding multipart upload

https://docs.min.io/docs/minio-gateway-for-hdfs.html

**Known limitations**
Gateway inherits the following limitations of HDFS storage layer:

No bucket policy support (HDFS has no such concept)
No bucket notification APIs are not supported (HDFS has no support fo

[2020-07-10 19:49] mergewreck commented on #10013
Also note that minio client impl will automatically multipart behind scenes- so if not intended to be used with gateway that is a case for confusion. I do wonder if the gateway has the same 5gb upload limitation as s3. I would like to use same api impl to upload data whether historical hdfs or s3. Was looking into the hdfs gateway as an option for that.

[2020-07-10 19:51] harshavardhana commented on #10013
you can use `mc cp --disable-multipart` FWIW

[2020-07-10 19:51] harshavardhana commented on #10013
Doc being addressed in #10014

[2020-07-10 22:38] harshavardhana commented on #10013
Doc updated closing.

[2020-07-10 22:38] #10013 closed

[2020-07-11 04:36] igtm opened #10017 "Numeric name directories are not mounted on Minio"
## Expected Behavior

Any file name directories should be properly mounted.

## Current Behavior

Numeric name directories are not mounted on Minio.

## Possible Solution

I'm not sure. but something like `ListDir` function might cause this bug?

## Steps to Reproduce (for bugs)

- create 2 files. `1` and `1aaa`

<img width="179" alt="スクリーンショット 2020-07-11 13 00 36" src="https://user-images.githubu

[2020-07-11 04:41] harshavardhana commented on #10017
yes minimum requirement for bucket name is minimum '3' characters as per AWS S3 bucket naming guidelines, these directories are ignored automatically - just rename these directories  > 3 characters.

[2020-07-11 04:41] #10017 closed

[2020-07-11 04:44] igtm commented on #10017
Oh! Thank you for your quick response! I got it

[2020-07-11 08:11] leohxj commented on #9768
use this Nginx conf, it could visit Minio WEB UI, but not for share url.
example:

original Minio service is on localhost:3000, I can get and visit a shareable url, such as

http://localhost:3000/name_of_bucket/name_of_image.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20200711%2F%2Fs3%2Faws4_request&X-Amz-Date=20200711T080736Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-S

[2020-07-11 08:36] harshavardhana commented on #9546
https://hub.docker.com/repository/docker/minio/minio/tags?page=1&name=RELEASE.2020-07-11T06-07-16Z multiarch containers are published now and will be thus released for each release.

[2020-07-11 08:36] #9546 closed

[2020-07-11 08:38] harshavardhana commented on #9452
Closing as stale for now.

[2020-07-11 08:38] #9452 closed

[2020-07-11 08:40] harshavardhana commented on #9127
Closing as per this comment.

[2020-07-11 08:40] #9127 closed

[2020-07-11 08:41] darkdragon-001 commented on #9618
This is still an issue.

[2020-07-11 08:41] harshavardhana commented on #8585
The issue seems to have gone stale with no updates since 2019 closing this issue. Please re-open if the issue is still valid.

[2020-07-11 08:41] #8585 closed

[2020-07-11 08:42] harshavardhana commented on #8831
The operator model is recommended closing this issue.

[2020-07-11 08:42] #8831 closed

[2020-07-11 08:47] acsfer commented on #9452
Will do ASAP.

[2020-07-11 09:26] harshavardhana commented on #10007
Fixed with the latest release. Please read the release notes before upgrade @detoxhby

[2020-07-11 09:26] #10007 closed

[2020-07-11 09:29] harshavardhana commented on #9717
@vadmeste ping

[2020-07-11 09:44] CX32 opened #10019 "New release infinity loading screen on ARM"
## Expected Behavior
1. Accessing minio through my web browser
2. minio listing the files I have

## Current Behavior
1. Infinity loading screen

## Possible Solution
N/A

## Steps to Reproduce (for bugs)
Update from the previous version to the latest version released 3 hours ago.

## Context
I am using a Raspberry Pi 3, Debian Buster on ARM. It previously worked but since the latest update, minio

[2020-07-11 13:27] darkdragon-001 commented on #9632
Still an issue.

[2020-07-11 13:56] kannappanr commented on #10019
@CX32 Can you please let us know the command line parameters used to start `minio`?

[2020-07-11 14:31] CX32 commented on #10019
@kannappanr `./minio MINIO_ACCESS_KEY MINIO_SECRET_KEY /mnt/data/`

[2020-07-11 16:40] harshavardhana commented on #9529
A minor refactor is needed here, will send it coming week.

[2020-07-11 16:48] harshavardhana commented on #9358
Closing this issue..

[2020-07-11 16:48] #9358 closed

[2020-07-11 17:02] darkdragon-001 commented on #9531
Still an issue.

[2020-07-11 20:00] manors opened #10022 "After restarting the service, the user list is not loaded correctly"
Add two or more users, then restart the service. Only the first user will be loaded.

## Expected Behavior
All users should be loaded, even if the service is restarted.

## Current Behavior
Only the first user will be loaded.

## Possible Solution

## Steps to Reproduce (for bugs)

$ mc admin user add local test1 11111111
Added user `test1` successfully.
$ mc admin user add local test2 11111111
Ad

[2020-07-11 20:00] darkdragon-001 commented on #9409
Still an issue.

[2020-07-11 20:09] harshavardhana commented on #10022
Users are loaded asynchronously, and it should show up after all the servers quorum is established.

Do you not see that ?

[2020-07-11 20:12] harshavardhana commented on #10019
Close your browser and restart again? There is nothing changed for single disk mode which can lead to this.

Did you build the binary yourself? If yes can you try our released binaries

https://dl.minio.io/server/minio/release/linux-arm/minio

[2020-07-11 20:15] manors commented on #10022
Just use in single server mode, still not loaded in about 10 minutes.
I don't think it's a problem of asynchronous loading, I can repeat this problem on different machines. Only the latest version will have this problem.

minio start param: server /data{1...4}

[2020-07-11 20:26] BoleynSu commented on #10022
I have seen the same issue. I guess both of us are using minio/minio:latest.

After pinning to minio/minio:RELEASE.2020-07-02T00-15-09Z, the users are back.

The latest image also breaks DNS style bucket. I guess you should have more tests to make sure releases will not break existing deployments.

[2020-07-11 20:27] harshavardhana commented on #10022
DNS style buckets were fixed #10010 due to an upstream regression @BoleynSu

That doesn't make sense @manors let me check on my end.

[2020-07-11 20:29] BoleynSu opened #10023 "DNS style bucket is broken after minio/minio:RELEASE.2020-07-02T00-15-09Z"
## Expected Behavior

When MINIO_DOMAIN is set, dns style bucket should work.

## Current Behavior

It is not working.

## Possible Solution

## Steps to Reproduce (for bugs)

With the latest image, it is broken and pinning to minio/minio:RELEASE.2020-07-02T00-15-09Z will make it work.

## Context

## Regression

Yes. minio/minio:RELEASE.2020-07-02T00-15-09Z works fine,

## Your Environment

k3s o

[2020-07-11 20:32] manors commented on #10022
Yes, I have avoided using minio/minio:latest, which will cause stability problems.
Can we return to the old version? After all, it is Breaking Change and may not be forward compatible.

[2020-07-11 20:33] BoleynSu commented on #10022
1) Good to know. So the next release should include the fix, right?

2) I think it should be a regression. I can reproduce the exact behavior.

[2020-07-11 20:33] harshavardhana commented on #10023
Needs one more fix from gorilla/mux upstream issue

[2020-07-11 20:34] harshavardhana commented on #10022
Backward compatible no @manors the backend format has changed so wait for the new release.

[2020-07-11 20:35] harshavardhana commented on #10022
yes we will make a release before the weekend is over.

[2020-07-11 20:35] manors commented on #10022
thanks for your reminder @harshavardhana  :)

[2020-07-11 20:40] BoleynSu commented on #10022
@manors I agree it is a bad practice to use the latest tag. I am using it just because I do not have time to manually update the version regularly (since minio is just deployed for personal use in my home lab). Automatically update the version number is not too much better than using latest, so I am just being lazy here.

Still I think latest should be more stable. Maybe we just need more tests.

[2020-07-11 20:42] BoleynSu commented on #10023
Thanks for fixing it.

[2020-07-11 20:49] manors commented on #10022
In the case of a large number of objects, only one list_objects request is needed, and the server can be fully loaded for several hours. This is a bad experience for who using minio/minio:latest

I am going through this situation.  sad...

[2020-07-11 20:51] harshavardhana commented on #10022
Yes that is because of backend migration to newer format @manors unfortunately there is no way out of this.

[2020-07-11 20:55] harshavardhana commented on #10022
Also I found an issue fixed in #10018 which can cause some performance problems or take time.

[2020-07-11 21:03] manors commented on #10022
Just a suggestion, maybe it is a good idea to set a speed limit for backend migration.

[2020-07-11 21:03] #10022 closed

[2020-07-11 21:03] #10023 closed

[2020-07-11 21:32] CX32 commented on #10019
@harshavardhana I tried different browsers, devices etc. I'm always using the release binaries officially provided by minio.

[2020-07-11 21:36] minio-trusted commented on #10019
Just released try new release @CX32

[2020-07-11 21:37] minio-trusted commented on #10019
BTW FWIW this command line looks incorrect `MINIO_ACCESS_KEY` `MINIO_SECRET_KEY` are environment variables not command line options.

[2020-07-11 21:47] CX32 commented on #10019
Same thing with minio version RELEASE.2020-07-11T21-14-23Z :(

Yeah I just noticed that too. Apologies, I wasn't at home that time and just wrote down the way I remembered it. I am using minio as described in the systemd guide linked here: https://github.com/minio/minio-service/tree/master/linux-systemd
Anyway here are some more details: I'm starting minio with systemd, it's running behind an ngin

[2020-07-11 21:48] harshavardhana commented on #10019
Yeah, that looks like the browser bug @CX32 - can you provide more extended output from the console.

[2020-07-11 21:53] CX32 commented on #10019
@hackintoshrao I tried to pretty print the code but it still looks slightly messy. Unfortunately I don't think it's too helpful but this is what I see. Line 17 is very long so if you want any more details let me know.
![image](https://user-images.githubusercontent.com/67905257/87234479-a1e5e200-c3d1-11ea-9023-e825b5a2b1df.png)

[2020-07-11 21:54] CX32 commented on #10019
Also this is Firefox's output:
![image](https://user-images.githubusercontent.com/67905257/87234501-d194ea00-c3d1-11ea-90bc-74430a8df549.png)

[2020-07-11 21:57] harshavardhana commented on #10019
@CX32 just the console error is fine. It looks like something specific to ARM we will have to reproduce this on our own. Can't reproduce this on Linux or https://play.minio.io

[2020-07-11 22:19] harshavardhana commented on #9774
yes its

func (web *webAPIHandlers) PresignedGet(r *http.Request, args *PresignedGetArgs, reply *PresignedGetRep) error {

Yes they are supported in all variations @darkdragon-001

[2020-07-11 22:47] drauschenbach opened #10024 "Recommended systemd service file leaves stray process running after shutdown when using NAS Gateway mode"
The [recommended systemd service file](https://github.com/minio/minio-service/blob/master/linux-systemd/minio.service) works well in server mode, but in NAS Gateway mode a systemd service shutdown leaves a MinIO process running with the binary file locked.

## Expected Behavior
A reliable method of shutdown is required for headless DevOps environments where upgrades are expected to be possible.

#

[2020-07-11 23:20] #9108 closed

[2020-07-12 07:21] darkdragon-001 commented on #9774
How can I call this from the React/JS frontend to get a share-link for a prefix/folder? What would be example parameters in this case?

[2020-07-12 07:49] harshavardhana commented on #9774
a folder can be shared in AWS S3 spec using something like a form post method https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-post-example.html

But this is not directly usable for users as a share-able URL @darkdragon-001 because it requires a POST request to be initiated by the client. So it is not easy to allow a shareable folder using browser UI.

AWS S3 doesn't allow direct uploads to a

[2020-07-12 09:55] darkdragon-001 commented on #9774
@harshavardhana Thanks for the explanation. Generating a share-link to a single-file is possible that's why I was wondering if the same is possible for prefixes/folders. I agree under these circumstances it doesn't make sense to add this to the UI.

[2020-07-12 11:02] darkdragon-001 commented on #9654
Still an issue.

[2020-07-12 16:49] klauspost commented on #8904
@Praveenrajmani It seems like we will be doing a refactor of the healing process to make it more oriented towards continuous healing. So it would be reasonable to do alongside that.

[2020-07-12 18:49] vlcinsky commented on #2111
Great. Today major release was announced and it includes versioning.

https://github.com/minio/minio/releases/tag/RELEASE.2020-07-11T06-07-16Z

Thanks a lot for this feature.

[2020-07-12 19:09] #9589 closed

[2020-07-12 21:09] findmyname666 opened #10027 "lifecycle configuration - cannot create multiple rules for the same filter prefix"
I planned to create general lifecycle configuration for all object in a bucket. My idea is to use several lifecycle rules on the bucket level e.g. no prefix specified in the filter section. The rules are unique as they contain different expiration periods and they match objects based on filter's tags. Specifically i tried to create lifecycle configuration for weekly expiration of objects e.g. if a

[2020-07-12 21:43] WolfspiritM opened #10028 "Expose last crawl time, duration and next crawl time"
**Is your feature request related to a problem? Please describe.**
Currently it's very hard to figure out when a lifecycle check or a crawl in general happens. I noticed that it even depends on how long the previous run took. We have many small files and with a debug run I noticed that it's going very slow. I'm missing a way to find out when the last run was, how long the last run took (probably a

[2020-07-12 22:04] harshavardhana commented on #10028
We have moved away from this model some time ago @WolfspiritM our crawler and lifecycle are continuous now and always running at very low priority threads.

You are advised to upgrade as this feature is not that useful anymore.

[2020-07-12 22:05] somyacoup commented on #9717
We are also hitting this issue during the background-healing process which starts once in 30 days. There are active bucket notification listeners and due to that the healing process waits for 10 minutes in between every single object.

[2020-07-12 22:21] WolfspiritM commented on #10028
@harshavardhana Thanks. The version in my example is just from the docs page about mc admin info. I'm using the version from about 11 days ago. I think I got the docs wrong for MINIO_DISK_USAGE_CRAWL_DELAY then. I thought if the whole crawl operation takes 1 hour then it will wait 10 hours for the next crawl. But after reading it again I think it's If the previous file deletion took e.g. 1 second

[2020-07-12 22:21] #10028 closed

[2020-07-12 22:30] harshavardhana commented on #10028
Nope, there is no way to know precisely, since crawl will suspend itself there are active I/O in progress @WolfspiritM - it also cannot predict how many files might exist in a directory or bucket so it can clearly be never accurate.

[2020-07-12 22:56] #9224 closed

[2020-07-13 05:06] PSHREYASHOLLA commented on #10001
@harshavardhana @kannappanr  Can you please confirm if MinIO + Azure(OpenID) will work? As the same is our requirement and based on this I have to contact my Product Management team with my analysis.

[2020-07-13 05:15] harshavardhana commented on #10001
Yes it will work, you need to first understand the requirement of requesting custom claims from the Azure AD.

[2020-07-13 05:30] PSHREYASHOLLA commented on #10001
@harshavardhana  With same userID/Password I am able to login to MinIO from  browser using same Azure AD, then why is it failing for PostRequest?

[2020-07-13 05:50] harshavardhana commented on #10001
Because browser uses implicit flow, POST request requires auth flow. You need to check how to do that in Azure AD.

Do not have access to an environment test this for you.

[2020-07-13 05:51] harshavardhana commented on #10019
Please use latest release and let us know?

[2020-07-13 05:54] PSHREYASHOLLA commented on #10001
@harshavardhana

But as mentioned here, https://github.com/minio/minio/blob/master/docs/sts/web-identity.md, the custom policy in JWT token is required for UI Browser login. Can you clarify that

[2020-07-13 05:55] harshavardhana commented on #10001
Yes of course that is meant for authorization not authentication, authentication becomes implicit when server can verify the received JWT is authentic.

You will not have access to data from browser without policy.

[2020-07-13 05:58] harshavardhana commented on #10001
Login flow has two stages

- Authentication - AuthN (configuring server with proper openid discovery document which provides us JWKS URL which verifies the authenticity of JWT payload)
- Authorization - AuthZ (policy claim needed)

[2020-07-13 08:15] harshavardhana commented on #9717
ping @vadmeste

[2020-07-13 08:22] Eminem58 opened #10030 "Server not initialized, please try again"
/minio/webrpc

Server not initialized, please try again？？

[2020-07-13 08:29] king-john commented on #10005
@harshavardhana @klauspost
Uploading files is still slow after the upgrade.
I use cmd：blade create network drop --local-port 9000 --timeout 300
minio version RELEASE.2020-07-12T19-14-17Z

[2020-07-13 08:38] king-john commented on #10005
F5 minio Browser like this :
![image](https://user-images.githubusercontent.com/19261919/87282505-eb941100-c526-11ea-9843-f03b1b73930c.png)

[2020-07-13 08:44] king-john commented on #10005
Now it looks like after I injected the network failure, the first upload failed, and the next one was a quick success.

[2020-07-13 08:45] klauspost commented on #10005
Yes. That is the expected behaviour.

[2020-07-13 08:54] klauspost commented on #10030
Please use the issue template. A new release has just been made that should be addressing this issue.

Closing since you don't mention version, so I assume this is resolved.

[2020-07-13 08:54] #10030 closed

[2020-07-13 09:05] klauspost commented on #10028
Correct. That is why the variable is exposed. Of course increasing this may have a negative effect on your cluster since more resources will be used for scanning.

Also, there is a max wait of one second between operations, so it will progress, albeit *very* slowly on a heavily loaded cluster.

[2020-07-13 09:10] kaloyan-raev opened #10031 "Invalid revision to go.etcd.io/etcd in go.mod"
We are trying to update our dependency to MinIO to the latest release.

## Expected Behavior

The `github.com/minio/minio` package should install without an issue.

## Current Behavior

It fails with:

[code]

## Possible Solution

There is a `replace` statement in go.mod file that seems to work around the issue for minio builds, but causes trouble for integrators. The revision used in the `replac

[2020-07-13 09:12] king-john commented on #10005
@klauspost
I see # 9808.
When a request returns an error. The client is marked offline. But it's gonna take a minute, right?

[2020-07-13 09:16] klauspost commented on #10005
@king-john Yes. There is no way of knowing if a non-responding server is just slow or if it is offline.

To avoid throwing servers offline all the time we need a reasonably long timeout to happen before we take it offline. Calls in that period will hang, waiting for a reply, but the server will remember that disk/server as being offline until it has been contacted again.

[2020-07-13 09:21] #9198 closed

[2020-07-13 09:30] king-john commented on #10005
Thanks very much!

[2020-07-13 09:36] CX32 commented on #10019
@harshavardhana same thing with minio version RELEASE.2020-07-12T19-14-17Z.

[2020-07-13 09:45] klauspost commented on #10031
Should be fixed by #10032

[2020-07-13 10:15] kendnone opened #10033 "Config Error"
We are trying to start MinIO  using shell cmd.
## Expected Behavior

## Current Behavior

API: SYSTEM()
Time: 18:07:26 CST 07/13/2020
Error: http://10.10.90.88:9333/export1 as has incorrect configuration: remote server offline
       1: github.com/minio/minio@/cmd/server-main.go:489:cmd.serverMain()

## Possible Solution

## Steps to Reproduce (for bugs)

1.   ./minio server --config-dir /etc/mini

[2020-07-13 10:49] klauspost commented on #7550
Not sure it is positive, but this no longer seems to be the case:
[code]

[code]
Feel free to join community slack to discuss performance.

[2020-07-13 10:49] #7550 closed

[2020-07-13 10:51] klauspost commented on #10033
Please add version. If not latest, retest with latest.

[2020-07-13 11:21] darkdragon-001 commented on #9774
@harshavardhana Is there an RPC method for their creation?

[2020-07-13 12:08] Siedlerchr opened #10034 "docs.min.io is broken"
Today I noticed that the docs are broken in Firefox and also in Chrome:
![grafik](https://user-images.githubusercontent.com/320228/87302684-2770ab80-c512-11ea-88ac-efdcc2e6a63b.png)

When I click somewhere nothing happens.
Maybe it is related to the github outage earlier this day?

[2020-07-13 12:20] kendnone commented on #10033
I use this link https://dl.min.io/server/minio/release/linux-amd64/minio,It seems that there is no version in it.

[2020-07-13 12:22] ALandscheidt opened #10035 "Getting error on Bucket#clear! since release from 12-7-2020"
I use minio for local testing my aws S3 stuff with the aws ruby sdk. With the latest version of minio I'm getting the error

[code]

## Expected Behavior
The service should implement the AWS S3 interface

## Current Behavior
When calling the Bucket#clear! method I'm getting this error

[code]

## Regression
Maybe, with image RELEASE.2020-07-02T00-15-09Z it works well.

## Your Environment
* Versio

[2020-07-13 12:25] nitisht commented on #10034
@Siedlerchr we're aware. Please bear with us while we fix it, meanwhile please browse https://github.com/minio/minio/tree/master/docs

[2020-07-13 12:25] #10034 closed

[2020-07-13 12:41] vadmeste commented on #10035
@ALandscheidt could you paste a sample code which reproduces this ? or you can use `mc admin trace` and paste the failing request (make sure that you don't paste anything sensitive)

[2020-07-13 13:29] klauspost commented on #10033
Execute `minio --version`.

[2020-07-13 15:21] Nesty92 opened #10037 "Docs page is broken"
![image](https://user-images.githubusercontent.com/26422482/87322032-ee790c80-c4fa-11ea-8c4c-8eab388c5c4e.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio --version`):
* Server setup and configuration:
* Operating System and version (`uname -a`):

[2020-07-13 16:02] harshavardhana commented on #10037
Resolved PTAL

[2020-07-13 16:03] #10037 closed

[2020-07-13 16:08] #10031 closed

[2020-07-13 16:41] harshavardhana commented on #9774
It's Upload() API without a body i.e content-length 0 and append a `/` at the end of the object.

[2020-07-13 19:17] #10006 closed

[2020-07-13 19:18] harshavardhana commented on #10006
Use the latest release https://github.com/minio/minio/releases/tag/RELEASE.2020-07-13T18-09-56Z

[2020-07-13 19:18] harshavardhana commented on #10033
Use the latest release and let us know https://github.com/minio/minio/releases/tag/RELEASE.2020-07-13T18-09-56Z

[2020-07-13 19:18] #10033 closed

[2020-07-13 19:19] harshavardhana commented on #10035
@ALandscheidt use the https://github.com/minio/minio/releases/tag/RELEASE.2020-07-13T18-09-56Z latest release with multiple directories - It looks like you are using single disk mode `minio server /data` instead just provide `minio server /data{1..4}` and it should work for you.

[2020-07-13 19:19] #10035 closed

[2020-07-13 19:20] harshavardhana commented on #10001
Reproduced the `crypto/rsa` can you tell me if you are using Access Token or ID Token here as JWT to send to MinIO?

[2020-07-13 19:21] harshavardhana commented on #10019
how about https://github.com/minio/minio/releases/tag/RELEASE.2020-07-13T18-09-56Z/  - can you check also if https://play.minio.io loads on your system?

[2020-07-13 19:21] harshavardhana commented on #10019
Please share the console error if any @CX32

[2020-07-13 19:32] jamescorbett commented on #9847
I have same issue in the UK. Limiting me to kb/s

[2020-07-13 19:40] CX32 commented on #10019
@harshavardhana same thing on minio version RELEASE.2020-07-13T18-09-56Z. This is the error I get in the console: `Uncaught SyntaxError: "" literal not terminated before end of script index_bundle-2020-07-11T18-42-21Z.js:17:2744079`

[2020-07-13 21:06] harshavardhana commented on #9978
It is preferred that you use azure storage https://docs.docker.com/registry/storage-drivers/azure/ directly, there is no point using an S3 emulation of azure for docker registry.

Implementing ListMultipartUploads() will lead to complicated code, so we have purposefully left it blank - if you must feel free to send a PR yourself. But we won't be able to work on this in the near future.

[2020-07-13 21:06] #9978 closed

[2020-07-13 21:30] JosephLucas opened #10039 "Cannot delete an object throught the browser when the user has specific permissions"
Hi, I really enjoy using Minio ! I used Syncthing so far, but i had many issues with case sensitivity. Even if Minio is less easy to setup than Syncthing, Minio seems the right tool for me. Synchronizations are fast and I like the bucket browser. Thanks.

There is a very annoying problem though. When using the browser, and I log as a user with specific access rights, I cannot delete an object. An

[2020-07-13 21:46] harshavardhana commented on #10039
@JosephLucas please upgrade we fixed a whole bunch of issues regarding policy handling in browser UI - would be better if you can test that and let us know..

[2020-07-13 22:31] kannappanr commented on #10039
@JosephLucas Please test with the latest version of minio. I verified the policy that you provided with the latest version and was unable to reproduce the issue. Please upgrade to the latest and let us know if you still see the issue. Closing this issue as fixed.

[2020-07-13 23:05] harshavardhana commented on #10019
![arm32](https://user-images.githubusercontent.com/622699/87362123-9bb34b00-c522-11ea-842e-a6bc4722ab24.gif)

So I tested the binary on Raspberry PI ARM32 can't reproduce it. @CX32

[2020-07-14 00:07] CX32 commented on #10019
@harshavardhana Okay so apparently this is an nginx issue as direct access over IP works for me. I am using the nginx config provided here: https://docs.min.io/docs/setup-nginx-proxy-with-minio.html. Not sure what's wrong though. I don't see any relevant errors in the nginx error log. Version RELEASE.2020-07-02T00-15-09Z works fine with the nginx config provided but any version higher than that br

[2020-07-14 01:36] kendnone opened #10040 "server has incorrect configuration: remote server offline"
## Expected Behavior

## Current Behavior

API: SYSTEM()
Time: 09:30:46 CST 07/14/2020
Error: http://10.10.90.88:9333/export1 as has incorrect configuration: remote server offline
       1: github.com/minio/minio@/cmd/server-main.go:489:cmd.serverMain()

## Possible Solution

## Steps to Reproduce (for bugs)

1.   ./minio server --config-dir /etc/minio \
	       --address 127.0.0.1:$port \

[2020-07-14 01:38] harshavardhana commented on #10040
This means your server is offline @kendnone

[2020-07-14 01:40] harshavardhana commented on #10024
How did you figure out it is config locks? can you share more precise reproducible steps? - the systemd service seems to work fine with local testing.

[2020-07-14 01:44] kendnone commented on #10040
Yes,I hava started all servers,only this server http://10.10.10.86/export1 show this error,others show Waiting for a minimum of 2 disks to come online (elapsed 1m8s)

[2020-07-14 01:46] harshavardhana commented on #10040
if you bind your port to 127.0.0.1 - how do you expect MinIO to connect on different IPs?  Just bind to `0.0.0.0:$port`

[code]

[2020-07-14 01:53] kendnone commented on #10040
Thank you very much.Finally it works.

[2020-07-14 01:54] #10040 closed

[2020-07-14 08:47] JosephLucas commented on #10039
I confirm that the last binary release at https://docs.min.io/docs/minio-quickstart-guide.html does fix the issue. Thanks

[2020-07-14 08:51] #10039 closed

[2020-07-14 11:59] ALandscheidt commented on #10035
@harshavardhana sure if I did it right but it seems not to work for me.

I'm using Minio with docker-compose and the tests running on jenkins:

This is the last configuration I tried
[code]

This was the previous one

[code]

For now we will set a fixed working release.

[2020-07-14 14:53] harshavardhana commented on #10035
Use 4 drives instead of one as shown below.

[2020-07-14 15:28] ALandscheidt commented on #10035
I misunderstood that. I thought `{1...4}` is something like the available options 😅. It seems to work. But I'm interested in understanding why this is needed now and what this configuration does.

[2020-07-14 15:32] kaloyan-raev commented on #10031
Thank you!

[2020-07-14 15:40] harshavardhana commented on #10035
Because bucket.clear underneath uses versioning and we do not support versioning on single drive mode.

[2020-07-14 22:49] #10011 closed

[2020-07-14 22:59] harshavardhana commented on #9847
Exploring if it's possible to move to a different server or a different public IP @jamescorbett

[2020-07-15 03:14] yilezhu commented on #9966
Hi,Friend, have you solved your problem? I also encountered the same problem, I used docker mode to run Minio, but Minio occupied too much memory!

[2020-07-15 03:14] harshavardhana commented on #9966
As mentioned help us help you profile us the memory profile @yilezhu

[2020-07-15 03:28] yilezhu commented on #9966
This may be due to the object caching mechanism of Minio. It seems that the configuration of object cache cannot be customized. There are good ways to solve this problem？

[2020-07-15 03:40] harshavardhana commented on #9966
please share the profile @yilezhu use `mc admin profile --type mem` - lets not speculate

[2020-07-15 07:54] GONETHEN opened #10050 "ERROR Unable to initialize server switching into safe-mode: Unable to initialize sub-systems: Credentials missing"
## Steps to Reproduce (for bugs)

1.download
2.chmod +x ./minio
3../minio server /xxx/xxxx/minio/data
4.error

## Your Environment

* Version used (`minio --version`):
minio version RELEASE.2020-07-13T18-09-56Z
* Operating System and version (`uname -a`):
Linux ecs-45c2 3.10.0-1062.12.1.el7.x86_64

[2020-07-15 10:09] ddorian opened #10051 "Query minio to find on which node the object is located"
Hi,

To make things efficient, you need to read from the node that has the data directly. The same with write!.

3 cases:

1. Colocating compute+data. You want to execute on the node which has the data locally. Hopefully the "data" part. If not, one that has the parity parts.

2. Downloading from minio. You want to download directly from the server that has the data or partity part. This will 1/2

[2020-07-15 10:21] brandsr opened #10052 "Minio killed by OOM-killer during large uploads"
During uploads of large files minio is killed by OOM-killer. And again after first startup.

## Expected Behavior
Minio should not get into memory problems during large file uploads.

## Current Behavior
The batch (out of our scope) contains large files starts at around 02:00AM. This results in excessive memory consumption of minio and eventually being killed by the OOM-killer.

Other observations

[2020-07-15 10:24] nitisht commented on #10051
Data on MinIO doesn't reside on a single node, please refer to the docs here https://docs.minio.io/docs/minio-erasure-code-quickstart-guide.html

Also, our intention is to be S3 API compatible. We purposefully avoid adding any other custom APIs. Closing this as answered. Feel free to join us on Slack for further questions.

[2020-07-15 10:24] #10051 closed

[2020-07-15 10:25] brandsr commented on #10052
Hi,

as an addition a profile was created. The resulting files are attached.
[minio profile.zip](https://github.com/minio/minio/files/4924527/minio.profile.zip)

[2020-07-15 10:33] benitoprijs commented on #10052
The profile was created with the following options:
`mc admin profile start --type=cpu,mem myminio `

[2020-07-15 10:35] klauspost commented on #10052
Thanks for the report.

This should already be fixed with #9992 released in `RELEASE.2020-07-11T06-07-16Z`.

[2020-07-15 10:38] klauspost commented on #10052
All allocations in the profile originate from ListObjects calls and doesn't seem related to uploads.

Adding more memory would also be a general recommendation.

[2020-07-15 10:38] #10052 closed

[2020-07-15 15:38] harshavardhana commented on #10050
This is because you didn't specify the older credentials present in your env.

If you specify the right envs, it shall work fine.

[2020-07-15 15:38] #10050 closed

[2020-07-15 17:30] umbreak opened #10054 "Multipart Upload using virtual host returns wrong location field"
I run minio using the following command line

[code]

Then I upload a multipart file using the S3 API
- [Create Multipart Upload](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html)
- [Complete Multipart Upload](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html)

It works fine and the file ends up in the correct bucket. However, the last r

[2020-07-15 19:14] jdheyburn commented on #9593
Still an issue, please do not close

[2020-07-16 01:41] uucico opened #10057 "minio fails to auto heal after wiping out data directories in distributed setup."
I am evaluating minio in a 4-node setup with 12 disks each, so I have a 3x 16-disk ec sets, and storage class is ec:5.

After importing a number of objects, I wiped clean all data disks in one of the nodes and restarted.

Disk healing does not seem to work even when forced though "mc admin heal-r", all data directories are kept empty.

## Expected Behavior
Format and auto heal disks

## Current Be

[2020-07-16 01:44] harshavardhana commented on #10057
Found the fix FWIW

[2020-07-16 02:29] hangcun opened #10059 "Interface for Authentication"
In our working situation, credentials' persistence and scope will be a significant consideration for security. As the demands of security department, credentials should be kept in an high-secure internal storage. And more strictly, credentials (secret key) should not be exposed to business layer, so the authentication will not be able to be done in Minio.

In order to be easier to expand Minio for

[2020-07-16 02:43] harshavardhana commented on #10059
No this doesn't make sense for us @hangcun

[2020-07-16 02:45] harshavardhana commented on #10059
MinIO is the trusted authority here, we are perfectly capable of doing the best possible implementation of any authN or authZ layer. So I don't think we would like to extend this to something unexpected.

If you have a business requirement then you are free to become our customer https://minio.io/pricing - if not you are free to fork the project and make these in your fork we will not be officiall

[2020-07-16 02:45] #10059 closed

[2020-07-16 04:59] hungtcs opened #10061 "large picture preview width overflow modal"
## Expected Behavior

## Current Behavior

when preview a large picture, the picture overflow object modal

## Possible Solution

Add preview object width constraint

## Steps to Reproduce (for bugs)

1. upload a large picture(width is greater than 900px)
2. click preview button in dropdown

## Context

## Regression

## Your Environment

* Version used (`minio --version`): RELEASE.2020-07-14T19-1

[2020-07-16 06:11] balaKarur opened #10063 "i need to upload file from browser(i am using liferay portal ) without using presigned URl from minio ,is that possible ?"
I need to upload big file from browser (I am using liferay portal in my application ). with minio server. is possible can i upload file without presigned URL...

[2020-07-16 06:17] harshavardhana commented on #10063
Use the issue template to describe what is it that you are trying to do with more clarity.

This issue is blank with nothing actionable from our end.

[2020-07-16 06:17] #10063 closed

[2020-07-16 06:36] balaKarur commented on #10063
Thanks for your reply :)

[2020-07-16 06:45] balaKarur commented on #10063
My requirement :
i need to upload big file from browser, so i setup minio server , now i need to upload big file from bowser.
I referred this example : "https://docs.min.io/docs/upload-files-from-browser-using-pre-signed-urls.html ".  as per this exampel
i needed created " var client = new Minio.Client() " minio client object and "const server = require('express')()" http express server...
i dont

[2020-07-16 06:57] balaKarur opened #10064 "Upload file from bowser thru http"
My requirement :
i need to upload big file from browser, so i setup minio server , now i need to upload big file from bowser.
I referred this example : "https://docs.min.io/docs/upload-files-from-browser-using-pre-signed-urls.html ". as per this example
i needed created " var client = new Minio.Client() " minio client object and "const server = require('express')()" http express server...
i dont w

[2020-07-16 14:30] #10057 closed

[2020-07-16 17:46] #10061 closed

[2020-07-16 20:28] #10054 closed

[2020-07-16 21:02] estevao90 opened #10066 "Prometheus metric "disk_storage_available" always return zero"
When you check the metric disk_storage_available in /minio/prometheus/metrics route, the value is always zero, even if have space available.

## Expected Behavior

Metric disk_storage_available should show the available disk size.

## Current Behavior

The metric always return zero.

## Steps to Reproduce

1. Start minio
[code]
2. Open the metrics URL: http://localhost:9000/minio/prometheus/metric

[2020-07-16 21:02] harshavardhana commented on #10066
To be fixed in #10065

[2020-07-16 21:45] harshavardhana commented on #10066
Fixed in #10065

[2020-07-16 21:45] #10066 closed

[2020-07-17 05:28] PSHREYASHOLLA commented on #10001
@harshavardhana We are using Access Token.

[2020-07-17 05:30] harshavardhana commented on #10001
Can you try with id_token ? @PSHREYASHOLLA

[2020-07-17 06:32] Goatmaster commented on #9966
The command is not working for me.

(https://i.imgur.com/k0bxhvi.png)

I am using minio with the startup script.

[code]

[2020-07-17 07:53] PSHREYASHOLLA commented on #10001
Tried with id_token getting below error,
`<?xml version="1.0" encoding="UTF-8"?>
<ErrorResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
    <Error>
        <Type></Type>
        <Code>InvalidParameterValue</Code>
        <Message>Invalid kid value &lt;nil&gt;</Message>
    </Error>
    <RequestId>16227AA579D0F839</RequestId>
</ErrorResponse>`

[2020-07-17 07:58] harshavardhana commented on #10001
This looks like the kid is missing from the JWT claims for us to validate the token, the previous one with access_token the kid is present but the signature is wrong.

I suspect there is some issue in terms of OpenID discovery URL i.e your discovery URL pointing to MinIO is different than the one your application is using for authorization endpoint.

Can you confirm that the discovery document aut

[2020-07-17 08:13] PSHREYASHOLLA commented on #10001
Yes have cross checked the same and the configurations are proper. With access_token getting rsa error and with id_token getting kid missing

[2020-07-17 08:42] PSHREYASHOLLA opened #10070 "MinIO + HTTP Logger Issue"
## Expected Behavior
Trying https://github.com/minio/minio/tree/master/docs/logging audit logging,
Configuration is,
export MINIO_AUDIT_WEBHOOK_ENABLE_target1="on"
export MINIO_AUDIT_WEBHOOK_AUTH_TOKEN_target1="minioadmin"
export MINIO_AUDIT_WEBHOOK_ENDPOINT_target1=http://IP:PORT/bfweb/retail/EOD/minioLogs
./minio server /data/MinIO/data

Have exposed a Rest Service URL, http://IP:PORT/bfweb/reta

[2020-07-17 08:46] MikeGoltsov commented on #9966
I have similar problem. On 4 node (6 disk per node) installation I was seen 90G memory consumption. I have try to do profiling, but in that period mem utilisation was around 9-12G.
[profile.zip](https://github.com/minio/minio/files/4936668/profile.zip)
[profile2.zip](https://github.com/minio/minio/files/4936674/profile2.zip)

[2020-07-17 09:48] ethanxzw opened #10071 "Error: Storage resources are insufficient for the read operation."
Hi team, now we face a issue for minio deployment on k8s with statefulset mode as below. could you please help to check it?

API: SYSTEM()
Time: 09:22:45 UTC 07/17/2020
DeploymentID: 52640fa1-f3a6-4f9c-9cb2-129907c7ff9d
Error: Storage resources are insufficient for the read operation.
       8: github.com/minio/minio@/cmd/config-common.go:40:cmd.readConfig()
       7: github.com/minio/minio@/cmd/c

[2020-07-17 11:18] vadmeste commented on #10070
@PSHREYASHOLLA it works fine for me with the same MinIO server version and the same environment variables that you set.

[2020-07-17 12:03] PSHREYASHOLLA commented on #10070
@vadmeste  Where does minio log this traffic of calling the HTTP URL, as mentioned I am unable to find anything in mc admin trace --all myminio?

[2020-07-17 15:03] vadmeste commented on #10070
I don't think we want to log the same thing twice. You must have a typo somewhere @PSHREYASHOLLA. You can test this locally:
1. `nc -l -p 8080`
2. Run Minio server in another terminal
3. `mc ls myminio/`

[2020-07-17 15:04] edergillian commented on #9228
@TreeKat71, can you please share your K8s and Helm chart versions?
I'm facing exactly the same issue (adding a 2nd zone with 4 servers each, helm upgrade throught Rancher Apps, nodes 4 to 7 show "Waiting for first server to format the disks) and I'm using the latest chart version, which is 5.0.31; k8s cluster version is 1.18.
Thanks in advance!

[2020-07-17 15:07] harshavardhana commented on #10027
Fixed by #10053

[2020-07-17 15:07] #10027 closed

[2020-07-17 15:11] #10071 closed

[2020-07-17 16:04] PSHREYASHOLLA commented on #10070
@vadmeste, Checked the configuration again and tested in,
Linux,
export MINIO_AUDIT_WEBHOOK_ENABLE_target1="on"
export MINIO_AUDIT_WEBHOOK_AUTH_TOKEN_target1="minioadmin"
export MINIO_AUDIT_WEBHOOK_ENDPOINT_target1=http://IP:PORT/bfweb/retail/EOD/minioLogs
./minio server /data/MinIO/data

Windows,
set MINIO_AUDIT_WEBHOOK_ENABLE_target1="on"
set MINIO_AUDIT_WEBHOOK_AUTH_TOKEN_target1="minioadmin"
s

[2020-07-17 16:08] harshavardhana commented on #10070
@PSHREYASHOLLA we perform POST call is that endpoint supporting POST operation?

[2020-07-17 16:10] PSHREYASHOLLA commented on #10070
Yes service is POST method service.

[2020-07-17 16:10] harshavardhana commented on #10070
I just configured https://webhook.site/#!/32e2620f-a205-4524-8bf6-e4df8925affa/c4b89bc6-0827-4736-8a11-82b1c4fd2e24/1 you can see the messages getting posted.

It looks like the environment values are not passed into the server configuration @PSHREYASHOLLA

[2020-07-17 16:12] harshavardhana commented on #10070
Also, does your server support AUTH_TOKEN correctly? @PSHREYASHOLLA

[2020-07-17 16:12] PSHREYASHOLLA commented on #10070
So can you guide me how to confirm the same if the configurations are passed to server?

[2020-07-17 16:13] harshavardhana commented on #10070
ITs as simple as this

[2020-07-17 16:18] PSHREYASHOLLA commented on #10070
Yes as mentioned above have used,
Linux,
export MINIO_AUDIT_WEBHOOK_ENABLE_target1="on"
export MINIO_AUDIT_WEBHOOK_ENDPOINT_target1=http://IP:PORT/bfweb/retail/EOD/minioLogs
./minio server /data/MinIO/data

Windows,
set MINIO_AUDIT_WEBHOOK_ENABLE_target1="on"
set MINIO_AUDIT_WEBHOOK_ENDPOINT_target1=http://IP:PORT/bfweb/retail/EOD/minioLogs
minio.exe server E:\data\MinIO\data

Since the suspect is

[2020-07-17 16:28] harshavardhana commented on #10070
AFAIK the webhook serve is not able to read the POST request,  you can point to a public URL like webhook.site and see some other endpoint is working.

[2020-07-17 16:45] PSHREYASHOLLA commented on #10070
With linux the audit is logging for https://webhook.site/32e2620f-a205-4524-8bf6-e4df8925affa. But is not able to ping my rest service. The only difference I see here is the HTTP and HTTPS.
1) Does this expects only HTTPS?
2) If it fails to connect to the webhook URL does it log anywhere?

P.S : On windows even https://webhook.site/32e2620f-a205-4524-8bf6-e4df8925affa is not working

[2020-07-17 20:01] #7292 closed

[2020-07-17 21:42] mahomedh commented on #9267
I have also been searching for steps and documentation to do this. I have tried asking in the slack but not received any detailed steps. Klaus did give some very minimal information about using `mc` to export the config and to read the docs. Unfortunately the `mc config export/import` and even the `mc config get/set` combination did not appear to do anything and definitely has not moved across the

[2020-07-18 06:20] skandragon opened #10080 "four node cluster, 'delete pod minio-0' causes outage without recovery"
When I start a fresh statefulset deployment in Kubernetes, and kill a pod, the system does not appear to recover.

# Expected Behavior

When the pod is recreated, I expect it to self-heal.

## Current Behavior

1.  'mc' sometimes works, sometimes times out.
2.  The web interface reports 'server is not initialized'

## Steps to Reproduce (for bugs)

1.  Build a 4 node cluster using yaml:

[code]

2

[2020-07-18 06:34] skandragon commented on #10080
Running 'mc admin info' in a loop shows that my commend about recovery was premature.  Nodes are reported as up and down randomly and the UI sometimes works, sometimes reports 'not initialized'.

Logs:

[code]

[code]

[code]

[code]

The pods themselves do not restart according to Kubernetes.

[2020-07-18 06:36] harshavardhana commented on #10080
Your pod specification is wrong, here is a working example on how to use it. I delete pods and they all recover fine.

[code]

[2020-07-18 06:43] skandragon commented on #10080
Are you mounting data disks?  I'm not seeing a PVC template in your example.  Other than that one difference, I'm not sure what differences would be relevant as the cluster does come up the first time, it just doesn't recover afterwards.

[2020-07-18 06:46] harshavardhana commented on #10080
That has nothing to do with MinIO - your PVs have to be properly mounted, I showed an example without PVs to show that MinIO is recovering fine. If anything is missing perhaps your PV is getting deleted and not getting recreated.

This the most basic feature so I don't think there is any issue here @skandragon

[2020-07-18 06:47] skandragon commented on #10080
The PVCs are present:

[2020-07-18 06:50] harshavardhana commented on #10080
The first thing is to avoid NFS with MinIO - MinIO is a storage entity and expects drives not networked storage. So it is not a recommended setup to start with.

Can you reproduce this with local PVs? it may be helpful to use https://github.com/minio/jbod-csi-driver here to facilitate that instead of trying to using NFS.

[2020-07-18 06:50] harshavardhana commented on #10080
Also give it a shot with `minio/minio:edge` image as well.

[2020-07-18 07:07] skandragon commented on #10080
I'd love to do 'edge' just as soon as there is a multi-architecture image.  Note I'm using arm64.

I'll see if I can use local disks for this, but I'll wait until tomorrow.

[2020-07-18 08:24] skandragon commented on #10080
I am now using iscsi disks, which should be functionally identical in behavior to any other disk type.

I can spin up the same 4 instances, and kill minio-0, at which point 'mc admin info' randomly shows minio-0 up or down.

[2020-07-18 11:01] gwnet opened #10081 "[FAQ] how minio handle disk replacment? remove old disk, add new disk rebuild the data"
is there any instruction and best practice for this?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio --version`):
* Server setup and configuration:
* Operating System and version (`uname -a`):

[2020-07-18 12:18] bblewett commented on #9847
I'm located in Australia and have seen the same very slow downloads (initially when I downloaded it a few months ago). I didn't think much of it at the time until one of my staff commented to me about a week ago about the same issue. Just tested it again and still very slow.

[2020-07-18 15:47] harshavardhana commented on #10081
Nothing special keep servers always running

- umount  /mnt/data1
- (remove disk from the enclosure)
- (attach a new drive, format)
- mount /mnt/data1

Server will start the heal of the newly added drive 3 minutes automatically.

Wait for the new release to test this, we had some bugs which we fixed recently.

[2020-07-18 16:02] skandragon commented on #10080
BTW, it seems that the state reported by 'mc admin info' alternates between two states:  One with all nodes up, and one with nodes minio-1 and minio-3 marked as down.  I logged into each pod, and the /data directory is populated with newly created buckets and files, and the UI is not throwing any errors at this point.

[2020-07-18 17:26] skandragon commented on #10080
In this state, one pod also behaves differently.

* All four nodes respond to a `/minio` curl.
* All four nodes respond to a `/minio/health/ready` and `live` check with a 200 response.
* Three nodes respond to a get of `/` while one seems to hang.

The logs on that last node (minio-3 this time around) report:

[code]

It seems somewhat strange that it is complaining about itself, via http.

[2020-07-18 17:27] harshavardhana commented on #10080
Unfortunately, I can't see any of this on my end. I would ask you to try the new release once we make a new release today.

[2020-07-18 17:30] skandragon commented on #10080
What does it take to get the `/minio/health/cluster` endpoint to return information?  Or, any steps I can do to debug this?  It seems there is very little logging potential.  I would at least expect the nodes to log issues if a disk was not available, and it does that, but not when the disk recovers, so it's hard to look at the logs and get current state from them.

[2020-07-18 17:41] skandragon commented on #10080
Probing the json directly via `/minio/admin/v3/info` (which wasn't trivial...)

If I query minio-0, minio-1, or minio-3 all are reported as up.

If I query minio-2, I get:

[code]

I have verified minio-2 can connect to minio-3 on port 9000.

[code]

[2020-07-18 17:57] skandragon commented on #10080
I'm happy to do that.

[2020-07-18 18:00] harshavardhana commented on #10080
No, it is not complaining about itself it is simply indicating an operation timed out where the request was received. As it can be seen minio-3 is not able to talk to minio-2

That's why I suspect its something to do with the headless service definition k8s, is messing up with the networking here.  Have you tried the yaml that I pasted before? @skandragon

[2020-07-18 18:29] skandragon commented on #10080
I built an image from the Dockerfile source (multi-arch, amd64 and arm64) -- so far, everything came up and runs as expected, no changes other than adding a private repo for pull secrets and changing the image name, and re-applying the yaml.

[2020-07-18 18:31] skandragon commented on #10080
How is this log (from minio-3's log file) not indicating it is trying to connect to itself?

[code]

[2020-07-18 18:35] harshavardhana commented on #10080
No that's not what it means @skandragon it means that the request to `readConfig()` timedout on the host minio-3 which received the ServerInfo request. `Host:` is the server which received the client request `ServerInfo`

Did you test again? is it possible for you to test with the yaml I shared specifically?

[2020-07-18 18:41] skandragon commented on #10080
The YAML you shared is not significantly different than what I have -- the headless service (other than the name) is now what I'm using, and the deployment is identical other than locally needed changes like volumes and names and the image.

I can delete a single pod, two pods, three pods, or even scale the deployment to 0, wait 5 minutes, and scale it back to 4.  The cluster recovers fully in und

[2020-07-18 18:41] #10080 closed

[2020-07-18 18:42] harshavardhana commented on #10080
Making a release right now! @skandragon

[2020-07-18 18:42] skandragon commented on #10080
I'll give it a try and re-open this if it behaves differently.  Will this include the arm64 arch?

[2020-07-18 18:43] harshavardhana commented on #10080
It won't behave any differently the :edge becomes the new release and yes we release for

- ppc64le
- s390x
- arm64
- arm

[2020-07-19 03:12] justsomeguyontheinternet opened #10086 "errors/timeouts when using reverse proxy"
hello. i'm having an issue with the latest release. in the web ui, after login it says "minio server is unreachable" when trying to list the contents of a bucket. chrome shows webrpc failed with message "err_incomplete_chunked_encoding". it appears to be some sort of timeout in minio. using an application built on the minio client errors are produced about downloaded files being smaller than expec

[2020-07-19 05:32] m-h-saeedi opened #10087 "minio Systemd distributed"
hi everyoneI want start minio service on debian 10
I use this tutorials set up minio  to config that
in first step i can run minio standalone
but for distributed ,i have problem
i run minio distributed and see this
[code]

but when go to browser and type 192.168.10.10:9000
get failed and get no resultwhat is the problem?

[2020-07-19 09:15] dongbixibiX opened #10088 "directory containing more than 10000 files causes docker container OOM"
when a sub directory (depth =2) contains more than 10000(maxObjectList) files, minio consumes a lot of memory and causes docker container OOM (Over 8g)

## Expected Behavior
minio consumes reasonable memory

## Current Behavior
minio consumes a lot of memory and causes docker container OOM (Over 8g)

## Possible Solution
### solution 1
 reduce the number of files in the directory
### solution 2
i

[2020-07-19 09:16] skandragon opened #10089 "Can arm64 and amd64 hosts be used in the same cluster?"
It seems right now they cannot (rejected with ```incorrect configuration: Expected platform 'OS: linux | Arch: arm64', found to be running 'OS: linux | Arch: amd64'```

However, is this due to a binary incompatibility or an over-cautious check?

[2020-07-19 09:18] harshavardhana commented on #10089
@skandragon no it is not allowed - it is due to mainly performance differences in a distributed setup. amd64 >> arm64 unless you are using like graviton2 like ARM CPUs.

[2020-07-19 09:19] #10089 closed

[2020-07-19 20:45] dpgarrick commented on #10086
Looks like you're onto a fix but FWIW I'm getting a similar issue using caddy as a reverse proxy and I'm sure it must be related. I have been using Caddy 2.1.1 for a couple weeks as a reverse proxy with basic settings and had no issues until I updated to the latest minio. My caddyfile is just the basic reverse_proxy:

[code]
mc: <ERROR> Failed to copy `https://mydomain.com/bucket/a-1gb-file.gz`. I

[2020-07-19 20:46] harshavardhana commented on #10086
@justsomeguyontheinternet @dpgarrick please test the PR you may have to build a binary locally - use go1.13.13

[2020-07-19 21:15] dpgarrick commented on #10086
I'm running Ubuntu 18.04. Don't have time currently to build a local binary on go1.13.13 but following along in slack and this version you put on the play server DEVELOPMENT.2020-07-19T21-00-50Z seems to work on my initial testing

[2020-07-19 21:16] harshavardhana commented on #10086
Okay cool @dpgarrick - that looks correct.

[2020-07-19 22:24] dpgarrick commented on #10086
Tested that same binary some more. Uploads and downloads via mc command seem to work OK. Download from preSignedURL of >1GB file seems to also work.

However during upload of a >1GB file uploading at ~10MB/sec to a presigned URL via PUT I get a sudden failure with "Request timed out" about ~30 seconds in.

[2020-07-19 22:26] harshavardhana commented on #10086
That's fine @dpgarrick I don't think that is an issue - it is perhaps your disk is not keeping up with the writes coming in - `mc` is doing multipart uploads using single PUT would slow things down a bit depending on how much bandwidth you have.

AFAICS original issue here is addressed.

[2020-07-19 22:41] dpgarrick commented on #10086
Performing all the same mc cp and presigned url GET/PUT operations through a client on the LAN (still through the reverse proxy) consistently achieves >100MB/s up/down speeds to the same minio server (4 disk single node) so it is not a disk issue.

When I try on external WAN clients is when I start to see this occur. I have a web front end which allows users to upload files via the presigned URL d

[2020-07-19 22:43] harshavardhana commented on #10086
@dpgarrick can you try

[code]

[2020-07-19 22:52] dpgarrick commented on #10086
Same as dev, upload stops with error request timed out.

Seems to consistently time out at exactly 30 seconds upload elapsed regardless of upload filesize or connection speed. If upload requires less than 30 seconds it is successful.

[2020-07-19 22:53] harshavardhana commented on #10086
Yeah but there are no 30-sec timeouts anywhere :-) are you sure this is not a client timeout?

[2020-07-19 22:58] dpgarrick commented on #10086
Pretty sure and this does not occur on the older release.

There is a 30 second keep alive period in your PR cmd/http/listener.go line 86 which seems coincedental...
[code]
@harshavardhana Can you increase this to say 45 seconds and put a binary up for me to try?

[2020-07-19 23:00] harshavardhana commented on #10086
That is not a timeout @dpgarrick its keep-alive period :-)

[2020-07-19 23:02] harshavardhana commented on #10086
That value is same as it was in https://github.com/minio/minio/blob/RELEASE.2020-06-22T03-12-50Z/cmd/http/listener.go#L88

[2020-07-19 23:03] harshavardhana commented on #10086
https://github.com/minio/minio/blob/43dd68a58acdbf12f4809665432d0540af0cb123/cmd/http/server.go#L42

[2020-07-19 23:04] harshavardhana commented on #10086
AFAICS something has changed on your end @dpgarrick a timeout is different and perhaps triggered somewhere else. Just to quell even this situation we can even remove KeepAlive period

[2020-07-19 23:07] harshavardhana commented on #10086
FWIW here is the one play/testbucket/no-timeout-minio.gz without KeepAliveTimeout - so literally no timeout whatsoever anymore.

[2020-07-19 23:25] dpgarrick commented on #10086
Weird that this code calls it KeepAliveTimeout then ;)

We did make some other changes on our upload forms to get around CORS issues we were having with minio which were fixed in one of the recent minio releases so maybe one of our changes caused this somehow.

I just tried that new binary and it is still occurring so you are correct, something on our side must be the issue here, my apologies.

Th

[2020-07-20 00:16] #10086 closed

[2020-07-20 00:17] harshavardhana commented on #10081
Closing as answered and also new release has been made

[2020-07-20 00:17] #10081 closed

[2020-07-20 00:18] harshavardhana commented on #10019
This may be related to another reverse proxy issues we fixed in #10090

[2020-07-20 00:18] #10019 closed

[2020-07-20 03:28] dongbixibiX commented on #10088
We use minio to store spark-history logs, which can be related to this. Let's investigate the specific reason

[2020-07-20 03:28] #10088 closed

[2020-07-20 06:57] mrsrvman opened #10091 "Files in the .minio.sys/buckets directory start to occupy more than the entire storage"
Files in the .minio.sys/buckets directory start to occupy more than the entire storage
Metadata is not always removed when a file is deleted.

ncdu 1.12 ~ Use the arrow keys to navigate, press ? for help
--- /backup/offline ----------------------------------------------------------------------------------------------------------------------------------------------------
   87.3 GiB [##########] /s

[2020-07-20 06:58] mrsrvman commented on #10091
https://github.com/minio/minio/issues/5803
https://github.com/minio/minio/issues/8586

[2020-07-20 07:00] harshavardhana commented on #10091
Closing as duplicate of https://github.com/minio/minio/issues/9897

[2020-07-20 07:00] #10091 closed

[2020-07-20 07:01] harshavardhana commented on #9897
Multiple reports came in @vadmeste were you able to reproduce this?

[2020-07-20 08:57] vadmeste commented on #9897
This could be happening in Windows, I already found that the code is sometimes deleting the object's fs.json file before calling Close() function. But AFAIK, this is not a problem for Linux.

[2020-07-20 08:59] vadmeste commented on #9897
One user reported this is happening in Linux. I will try to stress test and see.

[2020-07-20 09:16] programmierstube commented on #9897
We are running minio in a docker swarm. The hosts run Ubuntu 18.04, and the folder minio uses is a NFS mount.

Here is a screenshot of the about popover in the minio UI:

<img width="630" alt="Screenshot 2020-07-20 at 11 09 40" src="https://user-images.githubusercontent.com/6953867/87920489-9487c200-ca79-11ea-8296-0d6379958e57.png">

Here is how the issue is reproducible for us:

1. Empty state fo

[2020-07-20 09:25] CX32 commented on #10019
@harshavardhana Thanks! This fixed my issue. :)

[2020-07-20 15:52] #9897 closed

[2020-07-20 16:25] alirezarahmani opened #10094 "format file erro"
I get the following error when I run start:
``ERROR Unable to initialize backend: format.json file: expected format-type: fs, found: xl``
and when I delete .minio.sys file, my file would display any more

[2020-07-20 16:27] harshavardhana commented on #10094
@alirezarahmani as the error mentioned you cannot use same backend used for FS to be used with erasure coding

[2020-07-20 16:27] #10094 closed

[2020-07-20 16:29] alirezarahmani commented on #10094
can you give me more directions, how I can fix it?

[2020-07-20 17:17] harshavardhana commented on #10094
you need to provide fresh drives for going from single drive to multiple drives - you need migrate `mc mirror`

[2020-07-20 17:22] alirezarahmani commented on #10094
I do not want multiple drives, I just stopped to renew SSL and start again it does not work. that is all

[2020-07-20 17:40] harshavardhana commented on #10094
Share your command line @alirezarahmani ?

[2020-07-20 17:42] alirezarahmani commented on #10094
minio.1 server --address ":443" --certs-dir /home/ubuntu/.minio/certs  /minio

[2020-07-20 17:45] harshavardhana commented on #10094
share your `cat /minio/.minio.sys/format.json`?

[2020-07-20 18:24] AronT-TLV opened #10096 "403 error when trying to read or write file in Minio server"
Following the instruction in [this cookbook article](https://github.com/minio/cookbook/blob/master/docs/apache-spark-with-minio.md#3-start-spark-shell) when I try the sample read test I get a 403 error
## Expected Behavior

The file should be able to read and be printed as per the test

## Current Behavior

I get the following error:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

[2020-07-20 18:27] harshavardhana commented on #10096
@AronT-TLV will get back

[2020-07-20 18:57] alirezarahmani commented on #10094
{"version":"1","format":"xl","id":"fff229d9-9224-42d9-92ed-a9ed875c57a8","xl":{"version":"3","this":"5e55ebbf-d0cf-4e68-a598-ed8a74602efd","sets":[["5e55ebbf-d0cf-4e68-a598-ed8a74602efd","ef6a3e1e-6f33-4e0e-b742-a8de7f96bf00","aaa6eeaa-6a3c-4c8f-86ab-59d2a306db76","b3576d4d-0f45-4f8d-89ad-f97b0db7b19b"]],"distributionAlgo":"CRCMOD"}}

[2020-07-20 18:59] harshavardhana commented on #10094
This drive was already used in a 4 drive setup @alirezarahmani - you cannot re-use it with single drive mode.

[2020-07-20 19:01] alirezarahmani commented on #10094
how I should use it?
which command should I run?

[2020-07-20 19:31] alirezarahmani commented on #10094
how I should use it?
which command should I run?

[2020-07-20 20:29] harshavardhana commented on #10088
Duplicate of #9966

[2020-07-20 20:30] harshavardhana commented on #10096
I just ran this without issues with spark 2.4.x @AronT-TLV can you try with spark 2.4.x?

[2020-07-20 20:46] neonanda opened #10099 "[working as intended] Env variables MINIO_STORAGE_CLASS_STANDARD and MINIO_STORAGE_CLASS_RRS not working fine"
<After setting parity value for MINIO_STORAGE_CLASS_RRS to 1, my 4 node cluster with 2 disks on each node not working fine when i stop 2 nodes with 4 disks >

## Expected Behavior
<As per my understanding if i put RRS value to 1 my cluster should work even in case 4 disks  or 2 nodes are offline, i mean i am able to download files but not able to upload any new files>
<Environment should work in c

[2020-07-20 20:49] harshavardhana commented on #10099
Loosing 2 nodes you loose 4 drives you cannot have lower parity than this. You are expecting more HA than your number of nodes it cannot be provided.

MinIO is a symmetric design i.e each server participates equal number of drives.

[2020-07-20 20:53] neonanda commented on #10099
So, is there any alternative you can suggest to use in case one of my site goes down for e.g we are using MONGO DB on same env and we have created arbitor for handling voting kind of situations, if there any kind of such thing which can help me when one site goes down.

[2020-07-20 20:55] harshavardhana commented on #10099
Add more nodes you can get more availability with 4 nodes minimum possible loss is 1 node with EC:2 and 2 node tolerance for with any value with EC:3 or EC:4

Expecting more HA than your existing nodes wouldn't work. If you bring in 8 nodes with 1 drive each then you can have easily 2 node, 3 node and 4 node tolerance.

[2020-07-20 21:58] nachtjasmin opened #10100 "Environment variables for NSQ are parsed as the wrong format"
## Expected Behavior

When following the steps of the [documentation](https://docs.minio.io/docs/minio-bucket-notification-guide.html#NSQ), I expect that the environment variables for the NSQ config to get them parsed correctly.

## Current Behavior

It seems that the current parameters are parsed as boolean, although they have the `address` or `string` type.

## Steps to Reproduce (for bugs)

By

[2020-07-21 00:28] #9966 closed

[2020-07-21 07:58] ethanxzw commented on #10071
Hi guys, we have enabled strict-o-direct options for minio volumes, but the issue still exist. could you please share the steps to enable O_DIRECT support, thanks.

Options Reconfigured:
performance.write-behind: off
user.heketi.id: b074b127532f0610d03031671a218060
transport.address-family: inet
storage.fips-mode-rchecksum: on
nfs.disable: on
performance.client-io-threads: off
performance.strict-o

[2020-07-21 09:07] AronT-TLV commented on #10096
Sure @harshavardhana Let me know first which version of Hadoop you used. Thanks.

[2020-07-21 11:04] klauspost commented on #10099
I suppose you have already seen the documentation, but for future reference:

https://docs.min.io/docs/minio-erasure-code-quickstart-guide.html
https://docs.min.io/docs/distributed-minio-quickstart-guide.html
https://github.com/minio/minio/tree/master/docs/erasure/storage-class

[2020-07-21 11:04] #10099 closed

[2020-07-21 13:22] AronT-TLV commented on #10096
@harshavardhana **Update**: there was an error in my spark shell command which caused the configuration parameters not to be passed properly, so it never went to Minio, but to AWS and that's why I got the 403 error.

I can now confirm read and write to Minio as S3 works great in Spark 3.0.0 and Hadoop 3.2.1

[2020-07-21 13:22] #10096 closed

[2020-07-21 15:13] harshavardhana commented on #10071
@ethanxzw although I gave you a workaround, we don't recommend that you use GlusterFS with MinIO in distributed mode. You can use NAS gateway mode which is recommended.

You provide direct disks to MinIO or any CSI which provides direct block devices.

[2020-07-21 17:07] jdheyburn commented on #9836
Still an issue

[2020-07-22 06:24] vasyakrg commented on #9618
+1 This is still an issue.

[2020-07-22 08:01] IsNull opened #10108 "Versioning support for gateway (azure, s3)"
**Versioning support for gateways unclear**

We can only use features which are not a lock-in on any specific platform, and minio is one of the best solutions to guarantee this for object-storage. The versioning feature was long awaited, but unless it is also supported in gateways (when the underlying platform supports versioning natively) its too much of a lock-in.

Currently it is unclear (from

[2020-07-22 08:20] harshavardhana commented on #10108
@IsNull we will not be supporting versioning for azure, s3 gateway implementations.  Gateway implementations are feature-complete and frozen not taking anymore feature requests.

[2020-07-22 08:20] #10108 closed

[2020-07-22 09:20] chalkwu opened #10109 "Install minio on windows server 2016"
When I install minio on windows server 2016 with command
.\minio.exe server (mypath)  and I encount the exception as below:

Exception 0xc0000005 0x8 0x0 0x0
PC=0x0

runtime: unexpected return pc for runtime.asmstdcall called from 0x11
stack: frame={sp: 0x379fd20, fp:0x379fd30} stack=[0x0, 0x379ff30...
...
]
rax 0x0
rbx 0x356e0c8
rcx 0x358ff80
rdi 0x215000
rsi 0x379fe60
rbp 0x379fe28
rsp0x379fd18

[2020-07-22 09:20] IsNull commented on #10108
Thanks for the fast & clear response.

[2020-07-22 09:37] PSHREYASHOLLA commented on #10001
@harshavardhana  Can you confirm what is MinIO expecting access_token or id_token or any of it is accepted?

[2020-07-22 10:22] mahomedh commented on #9267
@lucas-dehandschutter Did you workout a solution in the end?

[2020-07-22 10:26] klauspost commented on #10109
It seems that you are not the first to see this: https://github.com/golang/go/issues/21060

It doesn't appear there is much we can do from here. You are welcome to open an issue on the Go project and assist them with debugging the issue if it reproduces on several systems.

[2020-07-22 12:03] chalkwu commented on #10109
Thank you so much for your quick reply. I am a newee of github and a starter of minio. You are so kind, thank you.

[2020-07-22 12:30] klauspost commented on #10109
Sorry for not being able to help directly. Hope you figure it out.

[2020-07-22 12:30] #10109 closed

[2020-07-22 13:36] Eldorico opened #10110 "Cluster unresponsive after one node down"
We have a 4 virtual servers cluster on openstack, with a Debian 10 image containing a 80Gb disk. (no volume attached).

In order to upgrade the hypervisor, we shotdown a minio vm server.  Cluster began to be very slow and our users experienced a lot of 504. (Our 4 virtual servers are behind an haproxy server with a 50 seconds timeout).  Even `mc admin info storage2` couldnt respond and printed `mc

[2020-07-22 13:45] MikeGoltsov commented on #9966
@harshavardhana
On newest release I still have this problem. On minio-2 node about 8G memory used.
minio-u+  697129  157  3.0 9178484 7999384 ?     Ssl  16:24  29:55 /opt/minio/minio server https://minio-{1...4}.ok.loc/data/minio/data{1...6}/minio
[profile.zip](https://github.com/minio/minio/files/4960324/profile.zip)

[2020-07-22 14:00] creker commented on #9966
Looking at all profiles we've captured recently they all look the same - all the memory is being consumed by different sync.Pool's. Maybe minio should switch to a different implementation that can be bounded? sync.Pool is unbounded and theoretically can grow as much as it wants. Coupled with general inability to bound Go's heap size this sometimes leads to Go consuming all memory starving everyone

[2020-07-22 14:32] mikevink opened #10112 "Allow support for LDAP admin / service account bind"
When configuring multiple username formats via `MINIO_IDENTITY_LDAP_USERNAME_FORMAT`, all logins start to fail for users that don't match (and bind to LDAP via) _all_ formats.

## Expected Behavior
When setting up Minio to use LDAP for authentication, we configure:
[code]

Once setup and running, both `bob` (`CN=bob,OU=People,DC=example,DC=com`) and `reporting` (`CN=reporting,OU=Tools,DC=example,D

[2020-07-22 16:07] harshavardhana commented on #9966
sync.Pool is automatically cleared when they are not used, the GC cycle is governed Go's runtime if you have lower memory but higher concurrency requirement then either use a system with higher RAM or use GC value to trigger GC faster. If the memory doesn't go down then we have a leak if it does with GC change then we know it's just a GC cycle issue and that your hardware config is not capable for

[2020-07-22 16:21] harshavardhana commented on #10110
Lots of fixes gone in related to networking issues fixed in recent releases.

#10058
#9858
#9808