[2021-06-21 22:55] fcomte commented on #11303
@harshavardhana : Is `${jwt:groups[0]}` suppose to work ?

[code]

[2021-06-21 23:29] chrisharward opened #12543 "GetObject returns different response to Amazon S3"
When we do a GetObject call against MinIO with both an invalid etag in the If-Match field, and a range that's past the end of the object data in the Range field, we get a different error from MinIO than from Amazon S3.

## Expected Behavior
Amazon S3 returns the following error:
An error occurred (PreconditionFailed) when calling the GetObject operation: At least one of the pre-conditions you spec

[2021-06-21 23:30] harshavardhana commented on #12543
@chrisharward we have changed the error responses since some time now please upgrade and test.

[2021-06-21 23:38] harshavardhana commented on #12543
Also what is the big difference here anyways, are you as client expecting a particular error to invalidate some caches?

[2021-06-21 23:44] harshavardhana commented on #12543
The main difference for us is that we validate ranges first than metadata @chrisharward - Although this can be fixed - I am not sure why do we care anyways here since it clearly looks like InvalidRange is the correct error. Because client made a mistake where as `If-Match-Etag` might not be same which could be a valid situation.

Instead of not knowing that Range was wrong during `If-Match-Etag` i

[2021-06-22 00:04] harshavardhana commented on #12543
Sure just for compatibility alone, make sense.

[2021-06-22 00:34] harshavardhana commented on #11303
No it will not work yet..  https://github.com/minio/minio/tree/master/docs/multi-user#policy-variables

We need few other changes before we can make this work.

[2021-06-22 06:28] WeiTangLau opened #12546 "Feature Request: RBAC for objects in bucket"
**Is your feature request related to a problem? Please describe.**
I would like to give access of some files to other users (e.g. PDF file instead of WORD).
Thus, I should be able to define the roles, and then select the roles needed via a dropdown to be able to view & download the object.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-06-22 06:39] harshavardhana commented on #12546
We already have IAM compatible policies, per object based is already supported.

Not sure what is the ask here.

[2021-06-22 06:51] fcomte opened #12547 "OPA is not working anymore"
## Expected Behavior
I know that opa is deprecated.
I am still using it access to create rules that iterate over a claim in jwt : groups which is a list.

## Current Behavior

Version : RELEASE.2021-04-22T15-44-28Z is working for OPA access control
Version : RELEASE.2021-06-07T21-40-51Z or RELEASE.2021-06-17T00-10-46Z is not working

The sts endpoint still give me the token but when using credenti

[2021-06-22 07:01] harshavardhana commented on #12547
@fcomte the error you are describing is a problem perhaps introduced recently due to newer requirements.  It was due to the fact that we require more functionality on MinIO and we do not deploy with OPA in any of our deployments anymore.

I don't think it is feasible to support OPA anymore and unfortunate side affect.

[2021-06-22 07:06] fcomte commented on #12547
solving this issue https://github.com/minio/minio/issues/11303 would be very great for those that is trapped in OPA.

[2021-06-22 07:09] harshavardhana commented on #12547
That is going to be resolved but its currently blocked on https://github.com/minio/pkg/pull/2

[2021-06-22 07:27] rvadim opened #12548 "Improve memory usage on highly concurrent listing"
Memory leaks when running rclone backup after updating to the latest version.

## Expected Behavior
Our cluster has 8 nodes, 32 disks, 100TB of data, 3.7M objects. Rclone backsup data in 12 hours. ~ 1600 RPS and consumption of CPU and memory within reasonable limits.
![screenshot-grafana intellij net-2021 06 22-09_12_42](https://user-images.githubusercontent.com/7434399/122880342-3246d980-d33a-11e

[2021-06-22 07:44] #12546 closed

[2021-06-22 07:48] rvadim commented on #12548
Also file descriptors:
![screenshot-grafana intellij net-2021 06 22-09_48_08](https://user-images.githubusercontent.com/7434399/122885069-0548f580-d33f-11eb-961c-baf36e20b971.png)

[2021-06-22 07:49] rvadim commented on #12548
File descriptors:
|![screenshot-grafana intellij net-2021 06 22-09_49_20](https://user-images.githubusercontent.com/7434399/122885188-24478780-d33f-11eb-8ac5-3238dd130feb.png)

[2021-06-22 08:21] klauspost commented on #12548
@rvadim

While you are having the excessive memory usage, could you run `mc admin profile start --type=mem,gouroutines myminio&&sleep 10&& mc admin profile stop myminio`. It should generate a `profile.zip`; upload it here.

[2021-06-22 08:39] NoSadness opened #12549 "The first expansion was successful, but the second expansion failed"
### **MinIO Version:**
2021-06-17T00:10:46Z

### **Steps to Reproduce:**
1、Original MinIO cluster
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=miniotest
minio server http://10.3.73.{137...137}/mnt/disk{1...6}/miniodata
2、The first expansion was successful
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=miniotest
minio server http://10.3.73.{137...137}/mnt/disk{1...6}/miniodata http:

[2021-06-22 09:02] klauspost commented on #12549
Seems like one is missing the `:9000` port. Also please confirm that all your servers are the same version.

Try `minio server http://10.3.73.137:9000/mnt/disk{1...6}/miniodata http://10.3.73.140:9000/mnt/disk{1...6}/miniodata http://10.3.73.148:9000/mnt/disk{1...6}/miniodata`

[2021-06-22 09:11] NoSadness commented on #12549
I confirm that the version on each node is the same。And i set the config " --address", the complete execution command is "nohup /opt/minioexpand/bin/minio server --config-dir /etc/minioexpand --address 10.3.73.137:9000   http://10.3.73.{137...137}/mnt/disk{1...6}/miniodatatest http://10.3.73.{140...140}/mnt/disk{1...6}/miniodatatest http://10.3.73.{148...148}/mnt/disk{1...6}/miniodatatest > /opt/m

[2021-06-22 10:38] NoSadness commented on #12549
Thanks，The sechond expansion was successful When the  ‘:9000‘ port  is added to the path。I hava a question，why first expansion was successful without add the  ‘:9000‘ port to path.

[2021-06-22 10:54] klauspost commented on #12549
No idea. That is why I asked you to confirm that you are running the same version on all serveres.

[2021-06-22 10:58] NoSadness commented on #12549
I have confirmed that they are all the same version。

[2021-06-22 11:04] klauspost commented on #12549
@harshavardhana I couldn't find the place where the port is added. Could you check if there is somewhere it isn't?

[2021-06-22 11:19] olafbuitelaar commented on #12389
Being able to replicate over different cloud providers would be a great feature

[2021-06-22 11:26] rvadim commented on #12548
Hi!
Backup turned off right now, but I catch node `minio-z1-3` with high memory consumption.
![screenshot-grafana intellij net-2021 06 22-13_17_40 (1)](https://user-images.githubusercontent.com/7434399/122916597-59fb6900-d35d-11eb-8202-a78d7548e52a.png)
As you can see, "memory freeing" takes near 1 - 1.5 hours.

`findCache` or it structure may cause problems: https://github.com/minio/minio/blob/ma

[2021-06-22 12:00] klauspost commented on #12548
rclone must be issuing a crazy amount of concurrent listing operations.

That said I can't see any usage much above 1G of memory. Which server is the yellow line referring to?

[2021-06-22 12:06] rvadim commented on #12548
`minio-z1-3`
![profile002](https://user-images.githubusercontent.com/7434399/122921606-f6743a00-d362-11eb-94b8-57f6cbc37f20.png)

[2021-06-22 12:24] klauspost commented on #12548
@rvadim There is nothing unusual, except the number of listings must be crazy. I see I misspelled `goroutines` above. I suspect `*bucketMetacache.cleanup()` is also trying to clean up the previous listings.

You can set `GOGC=25` to reduce the allocation overhead. Set a lower request limit or reduce the aggressiveness of rclone.

We are working on a revision to the listing code, though this seems

[2021-06-22 13:16] fojac opened #12551 "Service minio server fails to start in Debian."
## Expected Behavior
I installed minio using the .deb at [(https://min.io/download#/linux)] in a Debian bullseye LxC container
minio server is launching fine using `/usr/local/bin/minio server --address: 9000 /tmp/minio`
I did a `wget https://raw.githubusercontent.com/minio/minio-service/master/linux-systemd/minio.service` in `/etc/systemd/system/`
I would expect to see the service minio status sh

[2021-06-22 14:09] mieseprem commented on #12381
Hi @harshavardhana - Just a follow-up message on this topic:

This issue is not fully fixed with #12489

If a user is authenticated via OpenId all is fine now. But only UNTIL the MinIO Pod is deleted/recreated but the Token is still valid. The user doesn't get something like "Session invalid, you need to re-authenticate" but is still able to browse buckets and list objects in them. But if the user

[2021-06-22 14:28] johny-mnemonic commented on #12549
I seem to have similar issue when trying to extend my cluster.
I am using systemd-service with following config:
[code]
Everything works fine with that config and cluster has 16 nodes with 4 drives per server = 64 drives in four 16-disk erasure sets.
But when I try to extend the cluster with another 8 servers (same setup with 4 drives per server) by modifying the VOLUMEs line like this:
[code]
I a

[2021-06-22 14:39] harshavardhana commented on #12549
Is the command line for expansion same across servers ? How is the input provided across servers ?

[2021-06-22 15:53] johny-mnemonic commented on #12549
For my case it is.
At least `systemctl status minio` shows this command line on all servers:
[code]

[2021-06-22 18:42] michaelyork commented on #12043
I'm also experiencing this issue with a CIFS mount (so not limited to NFS). What's the best workaround here?

[2021-06-22 18:46] redturtlepower opened #12552 "Changing policy of bucket with B2 backend (s3 compatible) throws API error"
## Expected Behavior

Changing bucket policy via web ui is possible

## Current Behavior

Changing bucket policy via web ui is not possible
Error Text: "Backblaze B2 does not support this API call".

## Possible Solution

I don't know minio source code. As I could not find the error message in the source code repo, I assume the message comes from B2 after a request from minio. Which request could

[2021-06-22 18:51] harshavardhana commented on #12552
B2 does not implement all S3 APIs @redturtlepower not sure what we can do here.

[2021-06-22 18:54] harshavardhana commented on #12549
@johny-mnemonic your issue looks like worker37 is not local to the node it's running, if this is some custom DNS it won't work.  The DNS needs to resolve to the host its running on..

The reason for the 404 error is because that it's not able to register the drives that are local to itself. Your issue is not the same as the issue reported here.

Your issue simply is a DNS setup issue IMO.

[2021-06-22 18:55] redturtlepower commented on #12552
Does minio allow public access via gateway to B2 buckets? My B2 bucket is public. This should just work. If not, I might missunderstand the purpose of minio. I want a selfhosted caching layer to a s3 compatible backend, with a web ui to browse files, and I don't care about bitrot and other advanced stuff. Is minio the right tool for this?

[2021-06-22 18:57] harshavardhana commented on #12551
@fojac you should first verify if `minio-user` is present on the system, if not create it or provide a user that exists on the system.  You also need to have minio-user provided write access to the backend.

You can't expect MinIO to just start the service upon install - it's not Nginx I am afraid. This looks like a setup issue closing the issue.

[2021-06-22 18:57] #12551 closed

[2021-06-22 20:16] harshavardhana commented on #12552
The purpose of MinIO is build an on-prem object storage server on commodity hardware.

You are trying use gateway here - we do not support all S3 compatible vendors as we do not know the level of their compatibility and we never really have bandwidth to test all of them.

I just tested MinIO gateway works with AWS S3 and MinIO server this is sufficient for us.

Beyond this feel free to debug the c

[2021-06-22 21:23] harshavardhana commented on #12549
what is the point of expanding in this manner - by expanding like this you are not gaining any HA here @NoSadness - this setup is wrong.  You are providing ellipses within the same sequences i.e 137...137 you can simply specify 137 instead directly.

Perhaps this may be the reason why your 2nd expansion doesn't work, but then expanding like this doesn't increase any HA simply creates more faulty s

[2021-06-22 21:24] dl-g opened #12553 "Object read by the client is still encrypted in server SSE-S3 mode"
Object read by the client is still encrypted in server SSE-S3 mode

## Expected Behavior
In server SSE-S3 mode, the client requests each written object to be encrypted by the server. A get/read request should receive the object in decrypted form.

## Current Behavior
We wrote 4115 objects to the minio server. All but one passed our integrity checks. The bad object received by the client seems to b

[2021-06-22 21:33] harshavardhana commented on #12553
Using this kind of key is not supported anymore @dl-g please upgrade the setup and use real KMS systems like KES. Encrypting objects like this on a production system is not supported please use https://github.com/minio/kes and https://github.com/minio/minio/tree/master/docs/kms

https://github.com/minio/minio/blob/master/docs/kms/IAM.md#kms-iamconfig-encryption

Also if `fs.json` is missing for th

[2021-06-22 21:33] #12553 closed

[2021-06-22 21:42] dl-g commented on #12553
Thanks for the response.

XXX/YYY/ZZZ are not the actual values used.  We obscured them for security.

The backend filesystem is XFS over a locally attached disk.

The question is why is the fs.json file missing for this object?

[2021-06-22 22:16] harshavardhana commented on #12553
We do not know @dl-g - since you are not using any protection mechanism on the backend - it can be gone because of many reasons. We can't really tell - you are also on a very old release so upgrade and redo your tests.

[2021-06-22 22:31] dl-g commented on #12553
the minio server runs on a dedicated environment. there are no external factors that could have removed the fs.json file. Not sure what the protection mechanism is in this context.

[2021-06-22 22:43] harshavardhana commented on #12553
There are always external factors, I don't see what else can we do here.

Please upgrade and test - also invest in setting up real KMS instances for your objects using MASTER_KEY is only meant for testing purposes, if you wish to rely on a production environment - setup KMS.

[2021-06-22 23:07] dl-g commented on #12553
It is a test&dev environment. we are ok if encryption is disabled.

Hower, corrupting objects is not ok.  Is it possible that minio missed creating the fs.json file?  It took 6+ seconds to write the object and it was acknowledged successfully.  But the subsequent read failed our integrity check seconds later.

We will try the latest version. Just wondering if there are any known issues similar to

[2021-06-23 01:45] johny-mnemonic commented on #12549
I am not sure what you mean by "worker37 is not local to the node it's running". I am not using any custom DNS and `nslookup worker37` resolves to the IP assigned to the host network interface (shown by `ip addr show eth1`).

I think I have found the issue though. I am able to `telnet workerXX 20080` even when MinIO is not running, so it seems I did some mistake while deploying these servers :-( I

[2021-06-23 02:04] tmoschou commented on #9847
Hi,

Located in Australia

This is consistently taking over 5 minutes to download https://dl.min.io/client/mc/release/linux-amd64/mc

![Screen Shot 2021-06-23 at 11 28 16 am](https://user-images.githubusercontent.com/5567550/123023562-be2e3380-d416-11eb-8ea6-7a35872bb852.png)

[2021-06-23 02:06] NoSadness commented on #12549
Thank you for your reply, I will try your suggestion 。The reason why I do this is that there are some scenarios where only one machine is needed, so I'm doing a stand-alone expansion test。

[2021-06-23 02:07] #12549 closed

[2021-06-23 02:08] JanHolger commented on #9847
I can recommend pulling the docker image and extracting the binary (:

[2021-06-23 02:36] tmoschou commented on #9847
Thanks @JanHolger

For others interested, if you are building a Docker image with `mc`, Docker has an easy way to do this with [multistage build](https://docs.docker.com/develop/develop-images/multistage-build/#use-an-external-image-as-a-stage)

[code]

[2021-06-23 02:52] harshavardhana commented on #12549
We do but it depends on the port that is already opened up as SO_REUSEPORT @johny-mnemonic - if that is done then we have no way to fail since the kernel doesn't return an error.

[2021-06-23 07:14] narutomanchester opened #12558 "Docker Minion can't build with SSL"
Hello,

I'm running Minio with Docker, and want to has https. I follow up on the tutorial:
- Gen private.key and public.key by cmd: `openssl req        -newkey rsa:2048 -nodes -keyout 127.0.0.1:9000.key        -x509 -days 365 -out 127.0.0.1:9000.crt` . And put it inside `config/certs` folder
- Docker run with: `docker run -p 9000:9000   --name minio   -v /config:/.minio   -v /DATA:/data   -e "MINI

[2021-06-23 07:22] harshavardhana commented on #12558
@narutomanchester you need to put certs at `/root/.minio/` i.e `-v /config:/root/.minio`

[2021-06-23 07:25] narutomanchester commented on #12558
It works. Thank you a lot @harshavardhana

[2021-06-23 07:25] #12558 closed

[2021-06-23 09:30] jwillmer opened #12560 "Docker Swarm Support droped?"
I saw that all documentation regarding docker swarm was removed. Does that mean it is not supported anymore? I was looking into minio for exactly that purpose. Is there some news regarding this change?

[2021-06-23 10:45] evt-byte opened #12561 "Error information in log"
K8s deployment, distributed mode, 4 pods.
After successful deployment, the host can be configured, and files can be uploaded and downloaded.

But there will be an error message:
"error":{"message":"open /export/.minio.sys/buckets/.tracker.bin: invalid argument (*fs.PathError)"

And

bash-4.4$ mc admin info myhost
...
 Drives: 0/0 OK
...
0 B Used, 1 Bucket, 0 Objects
0 drives online, 0 drives offli

[2021-06-23 10:53] klauspost commented on #12561
@evt-byte Your system is having serious issues if this is reported. Fill out the requested information instead of what you just feel like.

This is a regular file write that is failing.

[2021-06-23 11:07] evt-byte commented on #12561
@klauspost We upgraded the version of Minio to get this error log, what is the `.tracker.bin`. Does the previous version have this file?

[2021-06-23 11:26] klauspost commented on #12561
Yes.

[2021-06-23 11:28] klauspost commented on #12552
I suggest you contact Backblaze and ask them to support this API call.

[2021-06-23 11:28] #12552 closed

[2021-06-23 14:19] harshavardhana commented on #12560
Docker swarm is a dead product, use kubernetes instead.

We only support k8s for distributed clusters in production deployments.

You can still use swarm if you have the knowhow but it is not something we are planning to support in production.

The documentation is simply removed to keep things simple.

[2021-06-23 14:19] #12560 closed

[2021-06-23 14:29] jwillmer commented on #12560
Docker Swarm is dead but not [Docker Swarm Mode](https://docs.docker.com/engine/swarm/):

[2021-06-24 01:46] Shanbw opened #12567 "Policy Condition failed when policy condition contains ["starts-with","$success_action_status",""]"
The policy that we set when uploading files contains `["starts-with","$success_action_status",""]`, an error will be reported：
error message：Access Denied. (Invalid according to Policy: Policy Condition failed)

I try to change it to `["eq","$success_action_status","200"]`, or remove this Policy Condition, no error will be reported, and the upload can be successful.

But we try to use `aws` or `ce

[2021-06-24 08:46] narutomanchester opened #12569 "Can't Connect to Minio with Python API"
I set up Minio with TSL via Docker. It runs successfully. Like this
<img width="627" alt="Screen Shot 2021-06-24 at 3 43 55 PM" src="https://user-images.githubusercontent.com/18007841/123232070-fdd24980-d502-11eb-9631-1fa15d59ec70.png">
However, When I try to connect to Minio via Python, it doesn't work. It comes with an exception: `HTTPSConnectionPool(host='127.0.0.1', port=9000): Max retries exc

[2021-06-24 08:57] liutao5689 opened #12570 "bucket bandwidth limit"
I set some bucket policy download, and then I can download file in this bucket. But I want limit one bucket download speed limit to 1Mbps and the other bucket limit to 10Mbps.  So I want to use mc command like "mc admin bucket  bandwidth set 1Mbps" to limit a bucket download bandwidth.

[2021-06-24 11:03] rvadim commented on #12548
Switching to `mc mirror` helps to solve the problem. Thank you.

[2021-06-24 11:59] hkirov opened #12573 "object not available after upload with asynchronous replication enabled"
## Expected Behavior

Object to be accessible from main site immediately after upload. Secondary site to return 404 until the object gets replicated there.

## Current Behavior

Object is not accessible in main site after upload until it gets replicated. Secondary site returns 404 for the object until it gets replicated there.

## Possible Solution

## Steps to Reproduce (for bugs)

1. create buck

[2021-06-24 12:41] ivanmgb opened #12574 "Uploading files using the Java SDK results in causes a Resetting to invalid mark error when part size is more than 2gb."
We are building the Put objects argument builder as follows:

`PutObjectArgs.builder()
                .bucket("test-bucket")
                .object("test-identifier")
                .stream(stream, -1, 3000000000)
                .contentType("application/octet-stream")
                .build();`

This works well for both Minio server and Amazon S3 but we noticed that when we set the part size

[2021-06-24 14:16] klauspost commented on #12573
@hkirov The object is only ready when your upload call returns. So you should never rely on it being available before that.

However, @poornas it seems like `replicateObject` is grabbing a write lock while it is replicating.

I assume you use this since you eventually want to update the metadata. However, since the transfer can be lengthy grabbing a read lock, transferring, and then grab a write l

[2021-06-24 14:19] klauspost commented on #12570
We will consider your request, however there are no current plans for such a feature.

[2021-06-24 14:32] hkirov commented on #12573
@klauspost The object is not available after upload call returns. I do not expect it to be available before that. mc cp finished without error. After that for some time all attempts to access file on main site hangs (mc stat, mc cp, ..). I can see that there is WRITE lock on object during this time.

This is after 100GB file upload:
ico@anduril:/tmp/minio$ mc admin top locks nl
Time

[2021-06-24 15:10] munggruel opened #12575 "Implement support for php sdk，aws-sdk-php is too heavy to minio"
aws-sdk-php is too heavy to minio，PHP has 79.2% of the web market. For the development of Minio, please Official support php sdk

[2021-06-24 15:23] klauspost commented on #12575
We don't have any plans to create a PHP SDK.

[2021-06-24 15:23] #12575 closed

[2021-06-24 15:43] harshavardhana commented on #12570
Bucket bandwidth is meant for `replication` targets it is not meant to set throttling for incoming S3 API connections. You can easily do this using nginx based throttling for different bucket `locations /bucket`

This doesn't need to be present on MinIO to be complicated.

[2021-06-24 15:43] #12570 closed

[2021-06-24 15:44] harshavardhana commented on #12569
Make sure to `secure=False` in your client constructor when you are running in non-TLS mode.

[2021-06-24 15:44] #12569 closed

[2021-06-24 16:21] harshavardhana commented on #12548
Let's keep this open for the new listing changes for comparison? @klauspost

[2021-06-24 16:44] #12543 closed

[2021-06-24 17:40] klauspost commented on #12548
@harshavardhana Sure. This is for a lot, many thousands high rate listings. The memory usage is in maintaining in-memory information about caches until 30 minutes after they have been used. So there are thousands in a short timespan, probably at or above a million.

[2021-06-24 17:41] narutomanchester commented on #12569
@harshavardhana Thank you for your response. As I said above, I'm running with TLS. So I think `secure=False` is required.

[2021-06-24 18:59] harshavardhana commented on #12569
If you are running with TLS make sure to trust the certificate first either by specifying SSL_TLS_CERT env or create a custom transport.

[2021-06-24 19:00] #12547 closed

[2021-06-25 01:27] harshavardhana commented on #12573
This is expected behavior as of now @hkirov we are changing the locking semantics slightly to cater for this requirement as well.

[2021-06-25 04:15] macklin-10x opened #12576 "Server fails to initialize after upgrading from 2021-02-11T08:23:43Z to 2021-06-17T00-10-46Z"
## Expected Behavior
The server initializes correctly after upgrading to the newest version from a prior 2021 version.

## Current Behavior
After using mc admin to upgrade the server to the latest version, the server does not correctly initialize, and repeatedly logs this error:
`Waiting for all MinIO sub-systems to be initialized.. possible cause (Unable to migrate all config at .minio.sys/config

[2021-06-25 04:35] harshavardhana commented on #12576
`mc admin update`  has an issue when downloading binaries from dl.min.io - it is better you download it once and copy the binaries to all hosts to restart them together.

From whatever it looks like an unusual that you are seeing 'config not found'

Can you share your command line?  And how you are running this ?

Also you can simply do `rm -rf /backend/.minio.sys/config/config.json` .. also are y

[2021-06-25 04:38] macklin-10x commented on #12576
This is running on a single server.  Nothing special on the command line, just running `minio server /shared`.

[2021-06-25 04:40] macklin-10x commented on #12576
Even if I delete or rename `/shared/.minio.sys/config/config.json` or even rename the entire `config` directory I still get the same error.

[2021-06-25 05:01] macklin-10x commented on #12576
@harshavardhana helped diagnose this down to an issue with credential migration on top of NFS v3; he suggested running minio in nas gateway mode `minio gateway nas /shared` and it initialized correctly.

[2021-06-25 05:01] #12576 closed

[2021-06-25 05:17] harshavardhana commented on #12576
Thanks, @macklin-10x will try NFSv3 for migration.

[2021-06-25 11:38] phormanns opened #12579 "minio does not respect sgid-flag on linux filesystem"
We would like to use a group quota in the Linux file system in order to
limit the memory requirements of single or multiple buckets.

For this purpose, the rights are set as follows:

drwxr-sr-x 2 minio-user group1 45056 Jun 25 12:56 bucket1
drwxr-sr-x 3 minio-user group2    19 May 16 20:45 bucket2

## Expected Behavior

We expect files to be created in the bucket "bucket1" as follows.

-rw-r--r--

[2021-06-25 19:11] tkg61 opened #12580 "Minio S3FS XML issues"
When using the latest version of S3FS (1.86) with the latest version(s) of Minio (April, May and Junes versions), there is an XMLReadMemory error similar to #3895

Logs seem to indicate connection to minio and auth works.

## Expected Behavior
Writing files or listing the dir should work

## Current Behavior
Errors:
when listing dir:
"ls: reading directory '.': Operation not permitted"

S3FS error

[2021-06-25 19:29] harshavardhana commented on #12580
@tkg61 it doesn't make sense from user agent you are pointing to MinIO.

[2021-06-25 19:39] harshavardhana commented on #12580
Like how is this even possible

[code]

This is not MinIO server that you are pointing to.

[2021-06-25 20:07] tkg61 commented on #12580
sigh... it has been a long week. I was pointing to the console app's port running on the same server not the minio port. After changing the port i was able to perform the ls without issue in addition to being able to upload files and write new ones.

Thanks for the sanity check!

[2021-06-25 20:15] harshavardhana commented on #12580
👍🏽

[2021-06-25 20:15] #12580 closed

[2021-06-26 00:13] #12026 closed

[2021-06-26 08:39] mostafa8026 opened #12583 "Server expects 'storage' API version 'v37', instead found 'v37' - *rolling upgrade is not allowed*"
After expanding minio with operator, I got this error in the newly create server:
[code]

## Expected Behavior
expanded without problem

## Current Behavior
buggy

## Possible Solution
I changed both servers image to the RELEASE.2021-06-17T00-10-46Z, but the error insists.

## Steps to Reproduce (for bugs)

1. expand tenant with new one, older one must be RELEASE.2021-06-17T00-10-46Z
2. the newly

[2021-06-26 08:46] mostafa8026 commented on #12583
I get below error when run: mc admin update
[code]

[2021-06-26 09:28] narutomanchester commented on #12569
hello @harshavardhana. I still don't know how to fix it. Can you give me a tutorial?

[2021-06-26 09:45] balamurugana commented on #12569
@narutomanchester If you are using self-signed/untrusted TLS certificate, export env var `SSL_CERT_FILE` with path to your certificate file as value or create/pass your own `http_client` to `Minio` constructor. Refer https://github.com/minio/minio-py/blob/master/minio/api.py#L143

[2021-06-26 16:25] harshavardhana commented on #12583
Is this the same problem that was closed in https://github.com/minio/operator/issues/692 ?

[2021-06-26 16:37] mostafa8026 commented on #12583
Yes it is. Sorry. I forget to close issue in this repo.

[2021-06-27 09:58] cobolbaby commented on #12540
@nitisht Could you give some suggestions?

[2021-06-27 18:32] meeoh opened #12585 "Not able to stream audio after uploading it into minio"
Not sure if im just missing something here about how minio works, but I uploaded in m4a into minio, and when trying to visit the url in chrome I get an empty screen that looks like this and is unplayable.

The url im visiting is something like http://192.168.86.106:9000/bucket_name/filename.m4a. The audio is definitely a playable file

![image](https://user-images.githubusercontent.com/5509365/123

[2021-06-27 18:52] harshavardhana commented on #12585
First you need to make sure your object is publicly readable - have you made sure to enable your bucket to be publicly readable using `mc policy set download alias/bucket_name`?

[2021-06-27 18:54] shameelabd commented on #12585
I think it should be public, I used the browser to set a policy:

![image](https://user-images.githubusercontent.com/61977684/123556136-85b09180-d757-11eb-991e-4ece88994b7e.png)

And was able to visit the resource incognito

[2021-06-27 18:55] meeoh commented on #12585
I think it should be public, I used the browser to set a policy:

![image](https://user-images.githubusercontent.com/61977684/123556136-85b09180-d757-11eb-991e-4ece88994b7e.png)

And was able to visit the resource incognito

[2021-06-27 18:59] harshavardhana commented on #12585
Can you do `curl -v --head http://192.168.86.106:9000/bucket_name/filename.m4a` - what is the output?

[2021-06-27 19:01] meeoh commented on #12585
[code]

[2021-06-27 19:18] harshavardhana commented on #12585
@meeoh can you try `mplayer http://192.168.86.106:9000/voices/b133e3a370cc739a_1624817974888.m4a ` ?

Here is how I tried locally.

[code]

Seems to be playing fine for me.

[2021-06-28 01:23] meeoh commented on #12585
Hm it seems to be an issue with my m4a files themselves. I downloaded a sample mp3 file and uploaded that into minio and it works fine. I also renamed it to an m4a and it still worked fine. Thanks for the debugging help @harshavardhana, will play around and figure out whats wrong with my files and update this issue with any other findings

[2021-06-28 01:23] #12585 closed

[2021-06-28 07:30] rvadim opened #12586 "Listing is returing 503 upon upgrade"
Unable to cp/stat/head some objects after upgrade.

## Expected Behavior
No currupted files.

## Current Behavior
After upgrade from `2020-04-15T19-42-18Z` to `2021-06-07T21-40-51Z` and then to `RELEASE.2021-06-17T00-10-46Z` we have:
[code]
There are a lot of messages at the log like:
[code]
`Heal` reports gray status for 10% of objects.

Also I cannot delete such objects:
[code]

## Possible Solu

[2021-06-28 07:34] harshavardhana commented on #12586
@rvadim from the error that you are reporting it looks like Listing is returning such errors, can you provide `mc rm --debug` output for this?  you can also purge

and then `mc admin service restart` your deployment.

[2021-06-28 07:37] tarekabouzeid opened #12587 "volume not found error while calling ListObjectsV2 for a bucket with too many files"
## Expected Behavior
While ingesting parquet files using Apache Druid from Minio bucket with almost 8000 files each of avg. size 128 MB, All files should be retrieved from Minio.

## Current Behavior
While running the ingestion pipeline from Apache Druid, we noticed the errors in Minio logs after Apache Druid read around 1000 files only out of the 8000 files available in the Minio bucket then volu

[2021-06-28 07:44] harshavardhana commented on #12587
@klauspost if we see `file not found` shouldn't we just proceed to re-list again? and skip the entries? - it almost looks like the time between the client took time to get back to the previous listing result - where we have timed out the server-side operation and perhaps also cleaned up the stored listing.

But in such cases why not list anyways since the client is indeed interested in it.

[2021-06-28 07:45] rvadim commented on #12586
mc rm --debug log:
[code]

[2021-06-28 07:53] harshavardhana commented on #12579
@phormanns can you share how is the setgid/setuid set here?

[2021-06-28 08:05] klauspost commented on #12587
There is something wrong in this setup. Most likely your cluster is acting as independent servers and aren't linked correctly. Could you share your entire setup and config?

@harshavardhana The new listing code will fall back to a new listing.

[2021-06-28 08:09] klauspost commented on #12586
Seems like some drives/servers are offline. Attach `mc admin info --json myminio >info.json` as well.

[2021-06-28 08:15] klauspost commented on #12587
`mc admin info --json myminio >info.json` maybe can shed some light on it.

[2021-06-28 08:29] tarekabouzeid commented on #12587
@klauspost

{
  "status": "success",
  "info": {
    "mode": "online",
    "deploymentID": "15313dfa-ae71-4b9d-a474-873786ed2b28",
    "buckets": {
      "count": 2
    },
    "objects": {
      "count": 5793
    },
    "usage": {
      "size": 786585267174
    },
    "services": {
      "kms": {
        "status": "disabled"
      },
      "ldap": {}
    },
    "backend": {
      "backendType": "E

[2021-06-28 08:41] rvadim commented on #12586
[info-pretty.json.gz](https://github.com/minio/minio/files/6724757/info-pretty.json.gz)

[2021-06-28 09:05] klauspost commented on #12587
@tarekabouzeid Nothing unusual there. Could you share your config as well?

What is the approximate ingestion time of the first 1000 128MB entries? Is this consistently reproducible?

[2021-06-28 09:35] tarekabouzeid commented on #12587
@klauspost
the properties file for Minio is as below
<details>
  <summary>Click to expand!</summary>

[code]
</details>

The ingestion for those 1000 files via Apache Druid is 1 hour 15 min, using 5 parallel ingestion tasks in Druid.

Yes, that's has been the case when we tested that pipeline in AWS EC2 instances for several times, and on our on-prem infrastructure as well. We first thought its so

[2021-06-28 10:26] klauspost commented on #12587
(you should be able to simplify your setup with `http://myhost0{04...10}.mydomain:9000/data/{1...6}/minio_unsecured/data/minio/` - it should do what you expect.

Either way, I suspect the time between the ListObject calls are to big and the listing is being purged between calls.

Setting `mc admin config set myminio cycle=15m` will increase the life to at least 4 hours. This is likely due to scans

[2021-06-28 12:41] evt-byte commented on #12561
@klauspost Hi, klauspost, I have completed the relevant information. Why is there such a mistake? Is the number of drives caused by this error zero?

Thanks
BR//Evt

[2021-06-28 14:14] tarekabouzeid commented on #12587
Hi @klauspost
I have reran the pipeline after setting the above config for Minio cluster, but same exact behavior happened again. I have increased the Druid client retrial to 100 times to retry fetching the object from Minio. but After exactly 1000 files Minio error "volume not found" appeared again

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-06-28 14:25] klauspost commented on #12587
@tarekabouzeid Interesting. Could you do an ` mc admin trace -all myminio >trace.txt` of the entire run? You probably have to gzip to attach it here.

[2021-06-28 14:43] klauspost commented on #12561
This is where your problem lies. The servers are either unable to communicate or unable to access disks, looks like the latter. Since you provide no information about it, there is nothing we can do to help.

Ensure that disks are writable.

[2021-06-28 14:43] #12561 closed

[2021-06-28 14:52] tarekabouzeid commented on #12587
@klauspost
[trace.txt.gz](https://github.com/minio/minio/files/6727245/trace.txt.gz)

[2021-06-28 15:20] tarekabouzeid commented on #12587
@klauspost  i checked now the ingestion pipeline logs from Druid, i increased the number of retries to fetch object to 100, so i noticed now that in the Minio logs the below error

[code]

[2021-06-28 15:25] klauspost commented on #12587
@tarekabouzeid Could you just double check that clocks are synchronized on your cluster. Seeing 2 different timezones, but I initially put it down to formatting.

[2021-06-28 16:07] harshavardhana commented on #12586
@rvadim are you sure you didn't upgrade to any releases?  also please attach the `animated.gif` file from all the servers here? for investigation?

[code]

in between?

[2021-06-28 16:09] harshavardhana commented on #12587
Isn't the `mc admin config set alias/ api extend_list_cache_life=10m` something like this?

[2021-06-28 20:17] mrdsam opened #12591 "MinIO process gets killed by FreeBSD under load (too many threads)"
MinIO process gets killed by OS after spawning more than <kern.threads.max_threads_per_proc> (1500 or 2000) threads under high load (writing small objects).

## Expected Behavior
Process should not spawn this many threads, instead deny service to client temporarily.

## Current Behavior
Minio process spawns processes until it gets killed by FreeBSD

## Possible Solution
Implement a max_threads opt

[2021-06-28 20:25] harshavardhana commented on #12591
@mrdsam please upgrade to latest release and let us know how it goes.

If you have higher incoming requests you need to increase this value yourself, an arbitrary limit like this and pushing the server beyond this limit will definitely crash the server.

NOTE: we do not manage the threads, this is up to Go runtime - so whatever it thinks that it needs a thread it shall create on the system for fil

[2021-06-28 20:56] mrdsam commented on #12591
Thanks for quick response. At the moment, I can not upgrade. RELEASE.2021-03-17T02-33-02Z is the lastest **working** port as minio-2021.04.06.23.11.00 is not usable due to bug #12349.

Unfortunately, I haven't learned how to package ports so I depend on the port maintainer.

Another question in this context: Is MinIO using the /proc filesystem? Because it runs without, but sometimes, in rare cases

[2021-06-28 23:11] harshavardhana commented on #12591
It is only for situations if you are monitoring or running some prometheus metrics we require access to `/proc` also that information are only supported primarily on Linux.

[2021-06-29 06:38] tarekabouzeid commented on #12587
@klauspost  Yes, its just formatting issue, all timezones are the same in the machines.

@harshavardhana I have changed that config and increased to 8 hrs , that significantly increased the number of files read to 3000 files being read by Druid instead of 1000, the ingestion task kept running for 5 hrs and 4 mins.  Is there any way to make it the list cache life unlimited till the request is termi

[2021-06-29 06:51] harshavardhana commented on #12587
No, we cannot do that, this looks very weird the druid simply remembers the token on the client and then sends a listing operation after it has finished processing the first 1000 objects after many hours.

It clearly looks like a very inept implementation from the client's perspective as it's not interested in the other pages until it has finished processing the first 1000 objects and that can be

[2021-06-29 06:55] harshavardhana commented on #12587
In fact server implementation is designed for situations for clients that are interested in streaming all the pages ASAP. So I don't think this is actually a bug but instead an expected behavior as per implementation.

The newer refactor by @klauspost should address the behavior here AFAICS.

[2021-06-29 06:58] #12573 closed

[2021-06-29 07:13] tarekabouzeid commented on #12587
@harshavardhana those machines hosting Druid and Minio are physical machines and part of the same network, with network bandwidth 1 GBs. when i increased the list cache extra 8 hrs, it got terminated after 5 hrs only, do you think there might be something else to be tuned to make the list last longer ?

[2021-06-29 07:15] hkirov commented on #12573
Thanks

[2021-06-29 07:55] ragorilla opened #12594 "Unable to upload multiple files simultaneously"
When I try to upload multiple files, exactly more than 4 files, to minio at the same time, I always get the following error response:
[code]

Minio is running in distributed mode as 4 pods on my setup:
[code]

I use Java Client API (6.0.13) as minio client and I cannot find any console log related to this error.
FYI, current api throttling configuration is like below:
[code]

When requests_max is

[2021-06-29 09:04] klauspost commented on #12587
`list 40e658a5-e293-4726-81fa-2a2534ea10b4 not updated` should not happen and can indicate that one or more servers either crashed or has incorrect time settings. Check they are synchronized.

List tokens getting timed out is expected behavior. List tokens are relatively short lived, and if there are hours between requests errors are expected. We have to fairly aggressively time them out to preven

[2021-06-29 09:11] rvadim commented on #12586
I tring to prepare archives from all disks, but it is not so easy.

As I wrote, we upgrade directly from `2020-04-15T19-42-18Z` to `2021-06-07T21-40-51Z`.

[2021-06-29 09:12] klauspost commented on #12594
Could you post any output from the server logs that is produced when the error is returned?

Could you check your setup with [warp](https://github.com/minio/warp#download), for example `warp put --host=s3-server{1...8}:9000 --access-key=minio --secret-key=minio123 --autoterm`. Upload the zst output file.

[2021-06-29 09:45] rvadim commented on #12586
Can you please suggest any steps to remove the currupted files?

[2021-06-29 15:45] harshavardhana commented on #12587
Yes this may be the issue here, you may have caused the servers to die due to out of memory when running Druid/DremIO as well as MinIO on the same machine.

So you are using this on some virtual infrastructure?

[2021-06-29 16:35] Athius opened #12597 "webhook event does not send authorization headers"
## Expected Behavior
An Authorization Bearer must be present on the HTTP headers if the auth_token is set

## Current Behavior
No Authorization Bearer is present

## Possible Solution
?
I don't remember which version I had, but previously this feature worked great.

## Steps to Reproduce (for bugs)
1. .\mc.exe admin config set myminio notify_webhook:1 endpoint="https://myserver.com/webhook" auth_t

[2021-06-29 16:53] harshavardhana commented on #12597
Nothing has changed here I see that the "Authorization" header is still correctly set.

[2021-06-29 17:35] harshavardhana commented on #12586
@rvadim it would be `mc admin heal -r --remove`  this will attempt to remove unrecoverable objects, but it is important that we see these objects to ensure something odd is not causing these to simply corrupt.

[2021-06-29 17:37] Athius commented on #12597
Thank you for your answer.
I use fastapi as my webhook receiver. I didn't change anything on this part.

The only change I did was replacing the url of an existing event on minio part.

I will try to find a way to see more info inside minio logs.

[2021-06-29 17:56] harshavardhana commented on #12597
I configured a simple webhook I see "Authorization" header @Athius

[code]

[2021-06-29 17:59] harshavardhana commented on #12594
@ragorilla that doesn't really make sense - looks like either you are running out of disk space or you really have a terrible disk that is giving up on concurrent I/O.

[2021-06-29 18:14] phormanns commented on #12579
I do not understand your question. The setgid-flag is set as shown above:

drwxr-sr-x 2 minio-user group1 45056 Jun 25 12:56 bucket1
drwxr-sr-x 3 minio-user group2 19 May 16 20:45 bucket2

a file created by

  touch bucket1/testfile
  ls -l bucket1/testfile

-rw-r--r-- 1 minio-user group1 0 Jun 29 20:12 bucket1/testfile

But file uploaded by minio
-rw-r--r-- 1 minio-user minio-user 0 Jun 29 20:12

[2021-06-29 18:27] harshavardhana commented on #12579
and you set this manually after the bucket was created on MinIO @phormanns ?

[2021-06-30 01:30] harshavardhana commented on #12597
This seems to be working fine, closing this issue. Please let us know - I can't see how this is not working.  The only reason would be the server not being able to notify the webhook target due to some network issues.

[2021-06-30 01:30] #12597 closed

[2021-06-30 01:34] harshavardhana commented on #12579
also what benefit does this bring - are you trying to concurrently use the backend as well as through MinIO? .

Because setting sgid is quite meaningless from an S3 API point of view - Unix permissions are not really how you would control access to objects and buckets.

[2021-06-30 02:02] harshavardhana commented on #12579
Okay, the main reason we cannot honor this is that we write the data first at `.minio.sys/tmp/uuid` until we rename it at EOF - once all the stream is read and saved on disk.

We write it this way to provide strict consistency and other concurrency primitives - allows us to not leave any partial objects on the bucket, think of it like chrome writing a `<filename>.part` and then renames to `<filena

[2021-06-30 02:02] #12579 closed

[2021-06-30 03:22] gaoyangcaiji opened #12602 "Dose minio support zfs storage pool?"
I have 32 disks in one computer.So i use the zfs to create a strorage pool as a big   driver. but, when i use the minio to mount the path,there is an error.

here are my start cmd:
`docker run -d --name minio   --restart=always --net=host   -e MINIO_ROOT_USER=minio   -e MINIO_ROOT_PASSWORD=minio123   -v /pool-hdd:/mnt/data   minio/minio server   --address xx.xx.xx.xx:9000   http://minio-zfs-data{1

[2021-06-30 03:30] harshavardhana commented on #12602
We do you need O_DIRECT support for ZFS to use MinIO on ZFS.

[2021-06-30 03:30] #12602 closed

[2021-06-30 08:08] ragorilla commented on #12594
there is no minio pod logs that is produced when the error is returned.

minio has

[2021-06-30 09:06] ragorilla commented on #12594
@harshavardhana As your comment, I tried to change to persistent volumes provided by another storage class, then it worked without the error.

Could you provide recommended persistence volume/disk requirement to cover the concurrent I/O or how to check whether my disk infrastructure is terrible for minio?

[2021-06-30 09:21] tarekabouzeid commented on #12587
Thanks so much for you support, really appreciate it.

For the infrastructure for this POC, we have 3 nodes running druid, each running a role for the druid cluster. And we have another 7 nodes running Minio. And another 3 nodes running zookeeper. all of the 13 nodes are physical and part of the same network 1 GBs

[2021-06-30 11:38] rvadim commented on #12586
Sorry, all currupted files are under NDA. I can share one of it with you on private email with NDA if you want.

About heal:
[code]
Repeated launches give the same result.
[code]
Looks like the `--remove` no working(

[2021-06-30 13:08] tjul opened #12604 "Minio Gateway for S3: fails to list objects (The continuation token provided is incorrect)"
We use minio (minio/minio:RELEASE.2021-06-07T21-40-51Z) as a gateway for S3.
In java, when using either S3 SDK (version 1.11.415 or 1.12.14) or Minio SDK (version 8.2.2) to list objects in bucket (more than 5000 objects) when have an exception with the error message "The continuation token provided is incorrect".

## Expected Behavior
The list should returns all objects without exception, the cont

[2021-06-30 14:40] harshavardhana commented on #12594
That's exactly what I meant is that make sure to use local PVs or use direct-csi project to help provision PVs.

You already did by changing storage class it worked fine, there is no issue on MinIO end.

Closing this issue as non MinIO problem.

[2021-06-30 14:40] #12594 closed

[2021-06-30 15:57] rherrmann commented on #10849
I also ran into this issue. The docs still give a wrong advice:

It took me a while to find out that compression is actually working, but `mc ls` just shows the uncompressed size.

The documentation doesn't mention that compression is completely transparent to the outside either. Thus I made a few other attempts like `mc du`, `statObject` to get the  (compressed) size of an object.

[2021-06-30 19:21] cleveritcz opened #12606 "Minio tenant"
## Expected Behavior

Create Minio tenant svc

## Current Behavior

[code]

I can't see any service to be created. Maybe I made something wrong. I followed this documentation:
https://docs.min.io/minio/k8s/deployment/deploy-minio-operator.html

[2021-06-30 19:21] cleveritcz commented on #12606
/help

[2021-06-30 19:22] cleveritcz commented on #12606
[code]

[2021-07-01 01:35] TestMsr opened #12609 "PutObjectPart does not override the file with same part number"
## Expected Behavior

while CompleteMultipartUpload,the oldest upload part info is invalid,and get err response

## Current Behavior

CompleteMultipartUpload with the oldest upload part info ,it returns 200

## Possible Solution

1.CompleteMultipartUpload  checking the newest upload part may works
2.PutObjectPart remove the oldest part avoid racing is the best

## Steps to Reproduce (for bugs)

1.

[2021-07-01 02:33] harshavardhana commented on #12609
@TestMsr I have no idea what you are talking about here.

How to finish CompleMultipart is a client responsibility, you neet to choose which part to save.

Please provide a full reproducer, going to close this issue until then.

[2021-07-01 02:33] #12609 closed

[2021-07-01 02:34] harshavardhana commented on #12609
You are also free to upgrade to latest release and test as well..

[2021-07-01 03:16] TestMsr commented on #12609
sorry for my description @harshavardhana

step to produce:
1.NewMultipartUpload and client get upload id
2.PutObjectPart,partNumber=1,get etag c4ca4238a0b923820dcc509a6f75849b
3.PutObjectPart again ,partNumber=1,get etag c81e728d9d4c2f636f067f89cc14862c
4.CompleteMultipartUpload,partinfo(partNumber=1,etag=c4ca4238a0b923820dcc509a6f75849b),it works!

https://play.golang.org/p/hT-57og8Vxs

as mentio

[2021-07-01 03:19] rodabt commented on #8161
Mine too

[2021-07-01 04:06] harshavardhana commented on #12609
Single drive mode cannot support this behavior unfortunately @TestMsr because all parts are kept on server in single drive mode for appending the object at the end.

It is client responsibility to choose which part you are interested in. If you are willfully choosing an older part we can't do much.

We kept this behavior simple for single drive modes.. if you want S3 behavior use erasure coding.

[2021-07-01 04:15] TestMsr commented on #12609
thanks for your reply

[2021-07-01 07:05] harshavardhana commented on #12587
This issue will be subsumed by #12605

[2021-07-01 11:39] phormanns commented on #12579
Our use case: assign a linux group to each bucket to use filesystem group quota. So we would be able to assign a quota to buckets by setting the group and the sgid-bit to the bucket folder. Will there be a way to limit the size of a single bucket or better a group of buckets?

[2021-07-01 12:16] james-d-elliott commented on #11398
The OpenID Connect Core spec recommends this and does not stipulate any such flow based adjustments. While it's not *REQUIRED* it's recommended during both authorization requests and authorization responses. Unless I'm missing something it seems like the recommendation for all flows is to use the state (correct me if I'm wrong).

Citations:

https://datatracker.ietf.org/doc/html/rfc6749#section-11

[2021-07-01 12:24] georglauterbach commented on #11398
@harshavardhana Is there going to be something done about this? Redirecting users to the console is not helpful at all, especially for small / tiny MinIO instances.

[2021-07-01 14:38] harshavardhana commented on #12579
You can use `mc admin bucket quota`  for such scenarios.

[2021-07-01 15:34] roelarents opened #12611 "startAfter (start-after) is ignored on s3 gateway"
When using minio as s3 gateway, the `startAfter` parameter "falls off".

## Expected Behavior
I expected (but perhaps wrongfully) to get a list of objects whose key starts after (greater than) the one given in the `startAfter` (or `start-after`) parameter.

## Current Behavior
The startAfter parameter is ignored and all objects are returned.

## Possible Solution
* I read [something](https://githu

[2021-07-02 05:17] mostafa8026 opened #12613 "Unable to replicate large file (5 gig)"
We have problem with replicating large files (5 gig). It says:

[code]

## Expected Behavior
Other files are ok and replicated successfully, even a file of 1 gig. but this file is not replicated.

## Possible Solution
I'm using ntp to sync time between servers

## Steps to Reproduce (for bugs)
1. Upload a large file of 5 gig
2. replication is not work

## Context
Docker - Docker version 19.03.8, b

[2021-07-02 06:10] kannappanr commented on #12613
@mostafa8026 Current releases use single part for replication. https://github.com/minio/minio/pull/12535
This support will be part of the next release.
Marking this as fixed. Please feel free to reach out to us if you have further questions

[2021-07-02 06:10] #12613 closed

[2021-07-02 06:23] harshavardhana commented on #12613
This issue is your setup problem - fix your NTP settings, there is time difference between clusters and that is not acceptable.

This has nothing to do with replication support for multipart which was a separate feature we added.

[2021-07-02 06:47] Shratha4 opened #12614 "MinIO OpenId does not work after server restart"
When an environment is rebooted, Minio SSO is deactivated and the Minio UI asks for credentials.

After the environment is restarted OpenId option is not available, it asks for secret key and access key.

 Suggest a fix for the issue
![image](https://user-images.githubusercontent.com/86821151/124232206-fd533780-db2e-11eb-84ec-fa2bc223aaec.png)

[2021-07-02 06:54] mostafa8026 commented on #12613
@harshavardhana
How can I find that the ntp config is correct. I already install ntp on the main server and in the other server I add this server as ntp server. What should else I have to check?
Also, I run minio on docker.

[2021-07-02 07:07] harshavardhana commented on #12614
@Shratha4 not sure what you did - neither you have told us any details of your setup. You have willfully removed all the issue template that asks for such details.

You need to help us to help you.  Closing this issue as non-actionable with nothing relevant present in the issue to debug.

[2021-07-02 07:07] #12614 closed

[2021-07-02 07:44] Shratha4 commented on #12614
MinIO OpenId is not present after rebooting the system. After the Environment is restarted it asks for access key and secret key.

Expected Behavior
After restart of the Environment MinIO UI should be like this
![image](https://user-images.githubusercontent.com/86821151/124238579-62f6f200-db36-11eb-8131-bc2532bae510.png)

Current Behavior
After restart of the Environment MiniIo UI is likethis
![im

[2021-07-02 07:57] harshavardhana commented on #12611
Thanks for opening the issue, we shall fix it starting with minio-go

[2021-07-02 10:40] shrikantgarg17 opened #12616 "Getting connection closed after approx 15 minutes from minio"
When trying to get large file while creating inputstream from presigned download url , it gives connection closed error after around 15-20 minsutes.

Inputstream should not break and complete file should be read. In this case for example file contains 100 k records and after reading around 60k records it break.

following is the reference code
// getting pre signed url
String signedURL = getDownlo

[2021-07-02 10:43] klauspost commented on #12616
There are no timeouts in MinIO. How are you running MinIO?

You could always try upgrading to the newest version.

[2021-07-02 11:09] shrikantgarg17 commented on #12616
'Caused by: java.lang.IllegalStateException: ConnectionClosedException reading next record: org.apache.http.ConnectionClosedException: Premature end of Content-Length delimited message body (expected: 37,181,768; received: 18,350,080)\n'

This is the exception i see in logs

[2021-07-02 11:09] shrikantgarg17 commented on #12616
we are running minio in kubernetes pod in openshift

[2021-07-02 11:21] klauspost commented on #12616
@shrikantgarg17 Is anything logged on the server side? Please upgrade and report back.

[2021-07-02 12:39] shrikantgarg17 commented on #12616
Nopes ..nothing is getting in server logs

[2021-07-02 12:43] shrikantgarg17 commented on #12616
There are some random error logs but i dont think they are related to this issue
![image](https://user-images.githubusercontent.com/56015673/124276205-21c80780-db61-11eb-9e2e-8e348b757928.png)

API: SYSTEM()
Time: 23:08:02 UTC 07/01/2021
DeploymentID: b16c6dda-b08f-4fe4-ac45-3f78420d0278
Error: file not found
       4: github.com/minio/minio@/cmd/data-usage.go:421:cmd.updateUsage()
       3: githu

[2021-07-02 12:44] shrikantgarg17 commented on #12616
There are some random error logs at server but i dont think they are related to this issue

API: SYSTEM()
Time: 23:08:02 UTC 07/01/2021
DeploymentID: b16c6dda-b08f-4fe4-ac45-3f78420d0278
Error: file not found
       4: github.com/minio/minio@/cmd/data-usage.go:421:cmd.updateUsage()
       3: github.com/minio/minio@/cmd/posix.go:342:cmd.(*posix).CrawlAndGetDataUsage()
       2: github.com/minio/min

[2021-07-02 14:49] harshavardhana commented on #12616
@shrikantgarg17 please upgrade and test ..

[2021-07-02 14:51] #12611 closed

[2021-07-02 17:09] mostafa8026 commented on #12613
Is there anyway to change globalMaxSkewTime with env vars?
because I think the upload process are take more than 15 minutes.

[2021-07-02 18:20] phormanns commented on #12579
I had tried the "bucket quota" before trying to use the sgid flag as a workaround:
mc: <ERROR> Unable to get bucket quota. This 'admin' API is not
    supported by server in 'mode-server-fs'.
Is there documentation about 'mode-server-fs' and alternatives to it?

[2021-07-03 03:30] harshavardhana commented on #12579
You need to use erasure coded setup for bucket quota..

[2021-07-03 03:31] harshavardhana commented on #12613
That has nothing to do with this error @mostafa8026 this happens right during signature validation not during upload.

[2021-07-04 00:02] xuzikun2003 opened #12619 "GetObject does not support zip option"
On the minio website, a folder can be downloaded as a zip
![image](https://user-images.githubusercontent.com/25806935/124369394-5ea70380-dc20-11eb-93dd-1841db85080b.png)

However, the class GetObjectArgs provided by the SDK does not provide a zip option
https://minio-java.min.io/io/minio/GetObjectArgs.html

I am wondering why the SDK cannot support zip download but the web UI can support.

[2021-07-04 01:50] danieljakots opened #12620 "Update dependencies to use gopsutil:v3.21.6 to be able to cross compile openbsd/amd64"
Hi,

It would be great to enable cross compile builds on OpenBSD/amd64 to detect failure. The current blocker is old gopsutil. It used to require CGO for OpenBSD. Since v3.21.6 it's not the case anymore.
Once everything switched to v3.21.6, we'll be able to enable cross compiling of openbsd/amd64, see #12417.

What's in the way is: minio/minio pulls gopsutil through:
github.com/minio/mc@v0.0.0-202

[2021-07-04 06:55] harshavardhana commented on #12619
There is no download as zip API in S3, you need to write this yourself in your application.

[2021-07-04 06:55] #12619 closed

[2021-07-04 07:34] #12620 closed

[2021-07-04 07:35] harshavardhana commented on #12620
There is no direct requirement for other projects to be upgraded since we do not really have plans to make builds available for other projects under openbsd - MinIO compiles fine is enough for is and the commit #bb92989 fixes this sufficiently.

[2021-07-04 12:37] danieljakots commented on #12620
Oh I thought that everything pulling the old gopsutil needed an update.
Thanks!

[2021-07-05 01:39] Baharak12 opened #12621 "How to start using AWS Cpp-SDK for Minio"
As part of my work with cloud S3 buckets, I have already used the AWS-SDK for C++. In MINIO local server, I would like to upload some objects to S3 buckets using AWS SDK for C++ library.
Could someone please tell me how I can use the AWS-SDK CPP library in Linux to upload some files to MINIO's s3 bucket?

How can I use the library to start the connection with Minio using the entire AWS SDK C++ exa

[2021-07-05 02:07] harshavardhana commented on #12621
Moving this to discussion - this is not an issue..

[2021-07-05 02:08] #12621 closed

[2021-07-05 04:47] Shratha4 opened #12623 "MinIO OpenId does not work after server restart"
MinIO OpenId is not present after rebooting the system. After the Environment is restarted it asks for access key and secret key.

Expected Behavior
After restart of the Environment MinIO UI should be like this
![image](https://user-images.githubusercontent.com/86821151/124418927-2ca9b480-dd7a-11eb-8d4b-cbf9dc28f937.png)

Current Behavior
After restart of the Environment MiniIo UI is likethis
![im

[2021-07-05 06:10] harshavardhana commented on #12623
Please upgrade to the latest release and let us know - in container environments you need to make sure your containers are persistent.

Without persistence restarting containers you will lose the data including your OpenID configuration.

Can you share your entire environment settings?

[2021-07-05 06:34] Shratha4 commented on #12623
We have attached persistent volumes to etcd and MinIO is linked to Azure Gateway(Storage Account).
Do we need to attach a persistent even to MinIO?

[2021-07-05 07:08] harshavardhana commented on #12623
How is OpenID configured? @Shratha4

[2021-07-05 07:14] Shratha4 commented on #12623
We have configured OpenId using keycloak in etcd on MinIO gateway.

[2021-07-05 09:43] candlerb commented on #11208
FWIW, I get the same issue with `dehydrated` as well.

The EC PARAMETERS section [is actually coming from openssl](https://security.stackexchange.com/questions/29778/why-does-openssl-writes-ec-parameters-when-generating-private-key), as you can see if you do:

[code]

It's only if you filter by piping through `openssl ec` that you get just the key.  Anyway, I can fix this by using a hook script to

[2021-07-05 09:56] candlerb commented on #7698
FYI, when using [dehydrated](https://github.com/dehydrated-io/dehydrated) to fetch the certificate, the config `KEY_ALGO=prime256v1` fixes this.

[2021-07-05 14:36] harshavardhana commented on #12623
How meaning show me the environment variables..

[2021-07-05 16:25] Shratha4 commented on #12623
env:
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "minio.secretName" . }}
                  key: accesskey
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "minio.secretName" . }}
                  key: secretkey
            {{- if and .V

[2021-07-05 16:34] klauspost commented on #12623
@Shratha4 If you don't want to provide the information there is nothing we can do to help you.

You you require confidentiality look into our [subscription options](https://min.io/pricing).

[2021-07-05 16:34] #12623 closed

[2021-07-05 16:51] harshavardhana commented on #12623
There is no IDENTITY related information set here, are you trying to set using `mc admin config` ?

[2021-07-05 17:21] Shratha4 commented on #12623
![image](https://user-images.githubusercontent.com/86821151/124503542-6ebb1080-dde3-11eb-84b3-d34f33ea69a7.png)
This is the Environment variables.

[2021-07-05 18:22] harshavardhana commented on #12623
@Shratha4 are you sure that the OPENID reachable after restart?  have you seen the logs on the pods?

[2021-07-06 01:22] harshavardhana commented on #12587
This is being fixed by #12605

[2021-07-06 01:22] #12587 closed

[2021-07-06 01:45] #12604 closed

[2021-07-06 01:46] harshavardhana commented on #12548
This is fixed by #12605

[2021-07-06 01:46] #12548 closed

[2021-07-06 03:36] harshavardhana commented on #12616
@shrikantgarg17 this looks like a client-side issue, there is no real timeout on the server that times out at 15minutes from what it looks like there is a timeout at

- At load balancer let's say you are using ingress and you have perhaps a misconfigured timeout for reads such as `proxy_read_timeout`
- Or your AmazonS3Client is getting garbage collected by Java - https://stackoverflow.com/question

[2021-07-06 03:37] harshavardhana commented on #12616
Going to close this as this is not an issue on MinIO - I tested with downloading a 100GiB file and it completes fine even if it reads beyond 15minutes.

[2021-07-06 03:37] #12616 closed

[2021-07-06 07:03] Shratha4 commented on #12623
![image](https://user-images.githubusercontent.com/86821151/124556768-50dac380-de56-11eb-8744-855bc352ec97.png)
These are the logs

[2021-07-06 15:41] harshavardhana commented on #12623
Without upgrade I don't think we can help further here, can you try latest version?

[2021-07-06 16:54] esughos opened #12628 "Tenant created with no Instance/Pod running in Minio Cluster 4.0.9"
Hi Team,

We are facing one issue during spawning of a tenant for Minio Operator 4.0.9 version and in this case tenant got created but there is no instance or, pod. We have followed the below process for creating a tenant in Redhat Openshift 4.6 cluster,

Install the MinIO Operator
Install using kubectl krew
Run the following command to install the MinIO Operator and Plugin using krew:

kubectl kr

[2021-07-07 08:08] Shratha4 commented on #12623
I updated it to latest version and checked, even now I am facing same issue
![image](https://user-images.githubusercontent.com/86821151/124723239-746e3e80-df28-11eb-8dcc-9c59c5a1ae4a.png)

version- RELEASE.2021-06-17T00-10-46Z

[2021-07-07 08:13] ahocchb opened #12630 "Backup Error after 3 Weeks"
We use Veeam Backup and Recovery in Version 11 for our Infrastructure Backups. We created a Scale-Out Repository and configured our Minio Instance as S3 compatible Target. Everything works fine for the first 3 Weeks.
After 3 Weeks the first VMs run into the Error Message:
Processing BackupJob Error: REST API error: 'S3 error: The specified method is not allowed against this resource.
Code: MethodN

[2021-07-07 08:58] klauspost commented on #12630
Most likely it is trying to use `PutObjectRetention` `PutObjectLegalHold` on a deleted object.

Could you do a:

[code]

[2021-07-07 10:54] ahocchb commented on #12630
@klauspost
`
[2021-06-26 14:44:56 CEST]  20KiB ae4fc2e1-e58d-4196-a429-e5ed9790e2bd v2 PUT 33774.7dce2cdc128eb78e9f3e29369f0ab844.00000000000000000000000000000000.blk
[2021-06-26 12:10:34 CEST]     0B 2df68c64-f15d-4bc4-8bd4-c8bdb87b1194 v1 DEL 33774.7dce2cdc128eb78e9f3e29369f0ab844.00000000000000000000000000000000.blk
`

[2021-07-07 11:04] klauspost commented on #12630
Rather strange that `v1` is a delete marker, but maybe they explicitly deleted previous versions.

Harsha, just a wild guess, but maybe S3 removes delete markers if it is the the first version?

@ahocchb Is the error before or after `v2` was uploaded?

[2021-07-07 11:31] simha03 opened #12632 "Error : mc rm --versions option throws ...The specified method is not allowed against this resource"
We are trying to remove objects with mc rm --versions objects, but we are getting the error "The specified method is not allowed against this resource". when to do mc ls without versions we dont get any object. But if we do mc ls --versions we get the object with version info present.

[code]

## Expected Behavior
The objects are deleted succesfully with all versions also deleted.

## Current Beha

[2021-07-07 11:43] ahocchb commented on #12630
@klauspost @harshavardhana the error is from yesterday evening.

[2021-07-07 11:45] klauspost commented on #12630
ok, so after v2 was uploaded. It doesn't say which version it tried to modify, but it most likely tried to do it on `v1` considering the error.

[2021-07-07 11:52] ahocchb commented on #12630
@klauspost So you mean veeam should delete V2, but tries to delete V1?

[2021-07-07 11:53] klauspost commented on #12632
You appear to have object locking enabled on your bucket.

[2021-07-07 12:13] simha03 commented on #12632
yes object locking is enabled . But we do not have any retention or leagal holds set.We do  have replication enabled.
is there any scenario that minio will not allow to delete objects in above ?

[2021-07-07 14:32] harshavardhana commented on #12630
Please provide the output for `mc stat --versions` on the object and let's see the metadata on it.

[2021-07-07 14:41] cweiske opened #12633 "MinIO S3 Gateway docs: policy incomplete"
The "Minimum permissions required" policy on https://docs.min.io/docs/minio-gateway-for-s3.html is missing something.
It defines two configuratison for the same resource `arn:aws:s3:::testbucket`, and I think one of them must be `arn:aws:s3:::testbucket/*` (with a trailing `/*` to cater for files):

[code]

[2021-07-07 14:58] klauspost commented on #12630
@harshavardhana Either that, or (more likely) it attempts to set retention policy on the delete marker.

[2021-07-07 15:27] harshavardhana commented on #12630
Yeah perhaps `mc admin trace -v` output is needed here for the backup run and we can see which version of the object it tries to update.

[2021-07-07 15:27] harshavardhana commented on #12633
Sure let's fix it.

[2021-07-07 15:29] harshavardhana commented on #12632
@simha03 looks like you have default retention set - please provide output for `mc stat --versions` on the object.

[2021-07-07 15:33] harshavardhana commented on #12623
I tried locally it seems to work fine, not sure what you are doing here @Shratha4

[2021-07-07 16:19] simha03 commented on #12632
@harshavardhana  stat returns object doesnt exist.

[code]

But if i pass version in stat command i get "405 Method Not Allowed"

[code]

[2021-07-07 19:44] harshavardhana commented on #12632
can you do `mc rm --vid 98626803-a418-4022-9b69-2ce37fc10315 minio/pm-file-transfer/MRBTS/20210702/500165/A20210702.1500+0300-1515+0300_MRBTS-500165_-_1.xml`  ?

[2021-07-07 19:47] simanlx opened #12636 "在windows中 go build 完成后 登录就报 Invalid UI version in the JSON-RPC response"
在windows环境下 go build 编译后 运行 登录就报 Invalid UI version in the JSON-RPC response

看了一片文章说需要  build 参数放在 go build 之后去执行

具体需要什么参数，如何操作。

有没有相关的说明，找了好久也没有相关资料！

[2021-07-07 19:48] harshavardhana commented on #12636
You can't use `go build` with UI - you should do `make install` @simanlx

[2021-07-07 19:48] #12636 closed

[2021-07-07 22:20] simha03 commented on #12632
[code]

[2021-07-08 00:13] harshavardhana commented on #12630
@klauspost no - delete markers are set even if the object doesn't exist and `DeleteObject` was called on a non-existent object.

[code]

[code]

All the more confusing implementations from AWS S3 :-)

[2021-07-08 00:16] harshavardhana commented on #12630
Although we do not follow this and we do not create a delete marker on a non-existent object just because it's not necessary and it's frivolous.

[2021-07-08 00:25] harshavardhana commented on #12632
But this is not automatic, someone else is creating these delete markers out of band here the versionId is completely different and also there is a newer timestamp on it. Are you sure your application is not again and again sending DELETEs without versionId - this will create new delete markers.

[2021-07-08 01:07] #12633 closed

[2021-07-08 04:11] cweiske commented on #12633
Thank you!

[2021-07-08 04:59] simha03 commented on #12632
Yes our application is not deleting the file even without vesrionID.
We do have ilm of 3 days and if you see the object is already past 3 days and ideally should have got cleaned by ilm policy.
We have replication enabled also. As stat command is not working cant find the replication state of the object.
is it possible some scenario in that replication state not allowing to delete ?

[2021-07-08 05:06] harshavardhana commented on #12632
I don't see anything enabled properly on the cluster. Your ILM policy is also incorrect which is creating these delete markers.

I would suggest you buy our subscription if this is a production cluster. We will help you configure this properly and can provide architecture reviews.

This is expected with replication if you have a delete marker that has pending replication it won't be allowed to del

[2021-07-08 05:11] simanlx commented on #12636
在windows系统中

[2021-07-08 07:21] cweiske opened #12638 "s3 gateway for minio instance does not allow public access"
When running a minio gateway for a minio server, publicly accessible files give a "403 Forbidden". The gateway log says "Prefix access is denied".

The main minio server has "download" policy for anonymous users, set with `mc policy set download test-minio-main/mybucket/`.

## Expected Behavior
Fetching files anonymously via curl should work, both on the minio server and the minio gateway:
[code]

[2021-07-08 07:29] harshavardhana commented on #12638
@cweiske we do not allow this on purpose you need to set policies through MinIO for this to work. You can't expect us to send the results to the backend directly.

We are not just a proxy like nginx - we are S3 API terminator as well so the public policies need to be applied at the MinIO layer as well.

[code]

Now restart the gateway and still works fine.

[code]

[2021-07-08 07:29] #12638 closed

[2021-07-08 07:39] cweiske commented on #12638
@harshavardhana I cannot set the policy on the gateway, because I get an "access denied" for it:

[code]

I had to set the root user+password to be the readonly user of the main minio server. There is no other user on the gateway that would allow setting the policy IMO.

[2021-07-08 07:49] klauspost commented on #12636
@simanlx Use WSL/WSL2

[2021-07-08 09:40] zxxxhonest opened #12640 "to add a server pool online"
To add a server pool need to restart whole cluster, it's not good in online service.
Is there any way to add a server pool without stop the storage service.
like "nginx -s reload"

[2021-07-08 09:42] simha03 commented on #12632
@harshavardhana thanks for the information.  i will pass this info to our procurement team to get in touch.
Meanwhile , this are our developer envs and not production yet.
As we are not able to delete with mc with any option is there any other options to delete files if there is replication loss also ?

[2021-07-08 10:04] fhemberger opened #12641 "Unable to get mcConfigDir."
Using `RELEASE.2021-07-08T01-15-01Z` (linux-arm), I get the following startup error:

[code]

So far I was only running `minio` on the host, but this message [comes from the `mc` client](https://github.com/minio/mc/blob/RELEASE.2021-06-13T17-48-22Z/cmd/config.go#L72), so I tried installing it as well (without any effect). But I'm not sure why the server component would pull that in at all.

`RELEA

[2021-07-08 10:10] #12640 closed

[2021-07-08 10:40] cweiske commented on #12638
It turns out that the policy misses an action: `s3:GetBucketPolicy`. When this is added, public access to files on the gateway works fine.

Full "myreadonly" policy for the main minio server:
[code]

[2021-07-08 15:18] HaykManukyanAvetiky opened #12644 "Auto-healing doesn't work after some time or manual heal"
I have minio cluster which consist of 2 pools with 4 servers on each.
``` server http://minio{1...4}/data http://minio{5...8}/data ```
I run servers with docker-compose and using ``` minio/minio:RELEASE.2021-06-17T00-10-46Z ```  image
Each minio server/container /data dir attached to host as volume for persistent storage
```  - ./data/data6:/data ```
I am testing minio for durability and  resilien

[2021-07-08 16:41] chris93111 opened #12645 "Minio hangs on http request metrics or info when backend in GlusterFS"
Hello
When i try to recover info with mc admin --json info, they are no response of minio, the request stuck
it's same with prometheus/metrics api
the S3 is ok , i can liste user or policy and also /minio/health/live work ...

first i have found this error for metrics api:
 API: SYSTEM()
 Time: 11:25:24 UTC 07/08/2021
 DeploymentID: 516e7520-b2f5-432f-9d6f-c03dff05a671
 Error: file already locked

[2021-07-08 16:54] flixr opened #12646 "cannot login to minio console"
I upgraded from the previous RELEASE.2021-06-17T00-10-46Z to the latest RELEASE.2021-07-08T01-15-01Z and now I cannot log into the new integrated console (which looks super nice according to screenshots btw) with any of my existing user credentials (including root credentials).
Access via e.g. `mc` commandline tool works fine.

## Expected Behavior
I can login to the console, with any existing use

[2021-07-08 16:58] harshavardhana commented on #12645
@chris93111 just restart the server and this will go away - it looks like there is a previous lock on the `fcntl` that is not cleared.

are you using NFSv3 by any chance here?

[2021-07-08 17:00] harshavardhana commented on #12646
You are using incorrect certificates @flixr first, you need to fix that - your certs do not have any IP SANs information. If you have a domain cert then start MinIO server with that domain cert properly so that console can talk to

For example if your domain is example.com start the server with `minio server --address example.com:443`

[2021-07-08 17:05] harshavardhana commented on #12646
Run `minio server --address "minio.ourdomain.com:443" --certs-dir /etc/minio/certs /mnt/disk{1...4}/data` and it shall work fine - or add your IP to your certs.

[2021-07-08 17:07] harshavardhana commented on #12644
Auto healing runs but it is run as per the scanner schedule you need to wait for it to figure out this information and it is not instantaneous - if you want faster scanner times look at how you reduce the scanner intervals

[code]

[2021-07-08 17:07] #12644 closed

[2021-07-08 17:08] harshavardhana commented on #12632
If this is not a prod setup just wipe the drives and restart the servers @simha03

[2021-07-08 17:08] flixr commented on #12646
:+1:
Thanks for the super quick response, that works! At least the login...

But before I could also access the browser via the https port 433, now I apparently need a separate port...
So is there now no way to allow access to the web console via same port as with the browser before?

Also for some users I have a policy set so that they can only access their own bucket, but with these users now no

[2021-07-08 17:09] ravindk89 commented on #12646
@harshavardhana I'm going to update the docs for this, since we're not currently calling out this requirement for certs w/o IP SAN - can we generally recommend that for certs w/o that field, set `--address "DOMAIN:443`, where DOMAIN is covered by the wildcard?

Like assuming I have a wildcard cert for `*.example.net`, would `--address minio.example.net:443` work (assuming internally minio.example.

[2021-07-08 17:10] harshavardhana commented on #12646
There is no way to do that anymore @flixr we have moved on from that.

what is the policy that you are talking about?  is it anonymous ?

[2021-07-08 17:10] rherrmann opened #12647 "Example policy from documentation does not work: invalid resource"
The example policy in https://docs.min.io/minio/baremetal/security/IAM/iam-policies.html returns an error when used in `mc admin policy add myminio mypolicy policy.json`. myminio is running locally in a docker container.

## Expected Behavior
`mc admin policy add myminio mypolicy policy.json` should add a new policy

## Current Behavior
The command returns an error:
[code]

## Possible Solution
It

[2021-07-08 17:11] harshavardhana commented on #12647
You are right we will fix that // cc @ravindk89

[2021-07-08 17:14] flixr commented on #12646
Yes, that works.

[2021-07-08 17:19] flixr commented on #12646
Hm... thats a bummer... wondering how I can now give access to the console for our "outside" users...
This should have been clearly stated in the release notes, would be great if you can update them so others don't update pre-maturely and run into the same problem...

No, just allowing access to a bucket with the same name as the user:
[code]

[2021-07-08 17:20] harshavardhana commented on #12641
as you can see clearly `getent` is missing from your PATH looks like a system with standard tools removed.

This is being called because you have `$HOME` missing in your environment variable, it is failing with `mcConfigDir` error because `minio/console` package uses `minio/mc` as library for few things.

Just set HOME and this error shall go away.

[code]

[2021-07-08 17:20] #12641 closed

[2021-07-08 17:25] harshavardhana commented on #12646
If you don't want this feature you shouldn't really update and update in the future when you have figured out all the necessary details - we make releases every week as cadence. We do not expect you to keep upgrading willy nilly.  If you have a production requirement that is please test locally first that all the things that you expect work properly in a dev/stage environment.

If they don't work

[2021-07-08 17:26] ravindk89 commented on #12646
@flixr https://docs.min.io/minio/baremetal/reference/minio-server/minio-server.html#minio-server-console-address you can set a static console port if you want to - its up to you to make sure that port does not conflict with any other port on the host.

[2021-07-08 17:32] flixr commented on #12646
@harshavardhana I understand... I just tested the api access before and from the release notes just didn't expect that the console works so differently. So yes, my bad... still, a bit more hints about this in the release notes would have helped a lot.
In any case the web ui access is not crucial for us right now...

Regarding the policy: thanks for checking... let me know if I can provide more det

[2021-07-08 17:34] markovendelin opened #12648 "How can user change secret key in new console"
With the replacement of WEB interface shown to the users with console, it is not clear how users can change their secret key (aka password). The corresponding feature seems to be missing when logging in as a regular (non-admin) user.

Version:
RELEASE.2021-07-08T01-15-01Z

[2021-07-08 17:36] harshavardhana commented on #12648
Do you not see the https://play.min.io:9443/account tab? and `Change Password` button?

[2021-07-08 17:36] #12648 closed

[2021-07-08 17:39] markovendelin opened #12650 "Console does not list nor allow to add buckets by regular users"
With the replacement of WEB interface shown to the users with console, regular (non-admin) users cannot

- list their buckets
- create new buckets even if permissions are available

Users policy:

[code]

Version:
RELEASE.2021-07-08T01-15-01Z

[2021-07-08 17:44] harshavardhana commented on #12646
I was able to reproduce the problem seems like the issue is because of `dynamic` variables @flixr - and console UI is trying to interpret this policy JSON incorrectly.

[2021-07-08 17:44] harshavardhana commented on #12650
Duplicate of #12646

[2021-07-08 17:44] #12650 closed

[2021-07-08 17:47] chris93111 commented on #12645
Hi @harshavardhana yes i use glusterfs it's shared fs

[2021-07-08 17:51] harshavardhana opened #12651 "Dynamic policy variables do not work properly with embedded console"
Hm... thats a bummer... wondering how I can now give access to the console for our "outside" users...
This should have been clearly stated in the release notes, would be great if you can update them so others don't update pre-maturely and run into the same problem...
No, just a policy assigned to a group allowing access to a bucket with the same name as the user, and the users added to that group:

[2021-07-08 17:51] harshavardhana commented on #12646
Moved the issue to #12651 for better context closing this as the original issue was TLS related here.

[2021-07-08 17:51] #12646 closed

[2021-07-08 17:51] harshavardhana commented on #12650
Refer to #12651 why it doesn't work

[2021-07-08 17:52] harshavardhana commented on #12645
Ah GlusterFS @chris93111 this looks like you haven't enabled POSIX locking on it? you need to make sure to enable POSIX locking otherwise it won't work.

[2021-07-08 18:10] chris93111 commented on #12645
yes the restart don't resolve the probleme

[2021-07-08 19:43] #12651 closed

[2021-07-08 19:45] harshavardhana commented on #12645
https://github.com/minio/minio/issues/5467#issuecomment-368581860 read this historic issue on what values to set for GlusterFS to honor fcntl locks.

Closing this issue as this is beyond MinIO's scope now.

[2021-07-08 19:45] #12645 closed

[2021-07-08 20:29] chris93111 commented on #12645
thanks clear locked file resolve the problem

[2021-07-08 20:37] fhemberger commented on #12641
@harshavardhana Thanks for the help!

[2021-07-08 21:53] harshavardhana opened #12653 "warp runs with 1MiB object sizes can hang the cluster during cleanup"
## Expected Behavior
No hangs observed or at least have throttling in-place to serialize listing operations on a given bucket.

## Current Behavior
[code]

## Possible Solution
Add throttling for Listing to avoid DDOS like scenarios

## Steps to Reproduce (for bugs)
You need to have large enough setups to understand the behavior here.

[code]

## Context
Need to provide a way to serialize the call

[2021-07-09 03:32] simha03 commented on #12632
@harshavardhana  if i just delete the files that has issues from all drives and restart that should be ok right ?

[2021-07-09 04:35] harshavardhana commented on #12632
Sure that is fine @simha03

[2021-07-09 06:45] sunsdy2018 opened #12654 "Minio Server responds with "You need to enable JavaScript to run this app.""
My OS is Windows 10.

The version of minio.exe is:
![image](https://user-images.githubusercontent.com/38706610/125032045-fba1ea80-e0bf-11eb-8dd4-5f5ee92783a4.png)

Download the minio.exe with the above version from the offical website and save it to e:/software/. Open a cmd console and redirect to e:/software/ and execute the following command:
![image](https://user-images.githubusercontent.com/38

[2021-07-09 07:13] sunsdy2018 commented on #12654
The JavaScript is enabled as follows:
![image](https://user-images.githubusercontent.com/38706610/125038641-3ad43980-e0c8-11eb-9abb-4741d0121090.png)

[2021-07-09 07:40] harshavardhana commented on #12654
This a mime-type issue was reported here https://github.com/minio/console/issues/802#issuecomment-872460857

The solution is

There is a reported issue with golang & windows, on which MIME types can be changed by some applications and return non-valid MIME types: https://github.com/golang/go/issues/32350. This issue is exclusive for Windows OS and doesn't apply for Linux / Apple users

As a tempor

[2021-07-09 07:40] #12654 closed

[2021-07-09 08:19] HenkHindriks commented on #9508
So no automatic failover between nodes?

[2021-07-09 08:25] klauspost commented on #12644
@HaykManukyanAvetiky If you want to test a realistic scenario, replace an entire drive. Random files is very unlikely to go missing on disks, but full disk failure are common.

When the scanner run a cycle on the disk where you deleted the files it will notice the missing folders. However under normal circumstances there can be weeks or months between a bucket being visited on a specific disk. You

[2021-07-09 08:27] #12205 closed

[2021-07-09 08:52] flixr commented on #12651
Thanks for the quick update on this.

While now the bucket is shown for users with this policy, I cannot list it's contents. I just get `There are no Rewind Objects yet.`

In the minio log:
[code]

But the bucket does not have versioning enabled...

Also now with the root credentials, the bucket list is completely empty!
With a user with readwrite on all buckets, I can see them though...

[2021-07-09 09:24] sunsdy2018 opened #12656 "The default accessKey and secretKey counter with "unauthorized" error"
My OS is Windows 10.

The version of minio.exe is：
![image](https://user-images.githubusercontent.com/38706610/125055722-184b1c00-e0da-11eb-920e-4368dc1dc3bc.png)

Use the following command to start minio.exe:
![image](https://user-images.githubusercontent.com/38706610/125055829-331d9080-e0da-11eb-9347-1955c9b5344c.png)

Open the browser and access the url using the default accessKey and secretKey

[2021-07-09 10:04] klauspost commented on #12656
I cannot reproduce on Win 10 + `minio version RELEASE.2021-07-08T19-43-25Z`:

![image](https://user-images.githubusercontent.com/5663952/125060339-8f69bb80-e0ac-11eb-9753-d94833ce7e20.png)

![image](https://user-images.githubusercontent.com/5663952/125060647-de175580-e0ac-11eb-9d59-6e1ef024c41e.png)

[2021-07-09 11:37] ahocchb commented on #12630
@harshavardhana: Metadata for the Object:
mc stat --versions local/backup/Veeam/Archive/veeam/10b991ba-f5d0-4b2f-a50c-b6dc836edbf6/b2e4256f-8c4f-9893-a381-3ac89584afcb/blocks/4e9e2db7c4fc167a57aff1571b9330c2/33774.7dce2cdc128eb78e9f3e29369f0ab844.00000000000000000000000000000000.blk
Name      : 33774.7dce2cdc128eb78e9f3e29369f0ab844.00000000000000000000000000000000.blk
Date      : 2021-06-26 14:44

[2021-07-09 12:26] HaykManukyanAvetiky commented on #12644
The problem is not only healing , there is no alert or indication that something happened. Also I wait more than 30m,  even after restart it is still not there, it is wired guys

[2021-07-09 12:34] HaykManukyanAvetiky commented on #12644
My concern is that at least i should have some indication that I have data lose , in order to run heal manually

[2021-07-09 12:37] HaykManukyanAvetiky commented on #12644
The problem with that is , when you have data lose like I said, it need to be recovered immediately otherwise some of you servers can go offline during that time and you will be unable to get object. I just thinking to manually run heal every day or so , via cron for example to ensure that, but it is not elegant solution

[2021-07-09 13:02] klauspost commented on #12644
@HaykManukyanAvetiky When a full disk is lost it will start recovery at once and run through all your files. Deleting some random files/folders does not trigger that.

If a disk is offline when data is being written it is written with additional erasure shards to compensate for the missing disk. So if you have `EC:4` and a disk is offline, the data will be written with `EC:5` effectively. If a fil

[2021-07-09 14:37] wcedmisten opened #12660 "Documentation: Update MinIO Docker Quickstart Guide Documentation to Mention Minio Console"
**Is your feature request related to a problem? Please describe.**
When following the [MinIO Docker Quickstart Guide](https://docs.min.io/docs/minio-docker-quickstart-guide.html), no mention is made of the Minio Console which is included in the image. When following the first docker command in the guide:

[code]

The following output is shown:
[code]

**Describe the solution you'd like**
Modify th

[2021-07-09 14:43] momiji opened #12661 "Browser console hosting improvements/ideas"
## Current Behavior

The new browser UI (console) is now available on a different port when starting minio.
This seems to be a new technical choice that allows splitting between the UI and the buckets.

However I find it difficult to setup now, because the UI is now hosted on a different port, ant it is not possible to prevent the redirection to this new port.

## Possible Solution
Without reverti

[2021-07-09 15:09] xoxys commented on #12660
Minio should think about adding a breaking change section in the change log

[2021-07-09 15:17] dmaggo opened #12662 "Created service account didn't inherit permissions from parent"
After creating a service account with an existing user that have permissions to login into the console and see several buckets
![image](https://user-images.githubusercontent.com/38687952/125099702-96a6be80-e0d8-11eb-9f8a-336a6f853440.png)

the mentioned service account can't login into the console and also see no buckets when trying to access with an s3 client
![image](https://user-images.githubus

[2021-07-09 15:41] vadmeste commented on #12662
It depends on how you created the service account, could you show what you did to create the service account ?

[2021-07-09 18:03] harshavardhana commented on #12662
You can't login using service accounts again through console, console is meant for user logins only once service accounts are created use them with your application.

[2021-07-09 18:03] #12662 closed

[2021-07-09 18:12] harshavardhana commented on #12660
@xoxys We will add the "Breaking Change:" section or at least things to look out for section.

But NOTE: if you have a production setup you are always advised to test it locally in a separate instance.  Willy nilly upgrading instances in production is *naive* way to do devops and administration.

If you have questions about the release you can definitely ask at https://slack.min.io - if you want m

[2021-07-09 18:13] harshavardhana commented on #12661
This is a neat idea, and definitely worth exploring and implementing.

This is not possible anymore.

[2021-07-09 18:21] ravindk89 commented on #12660
@harshavardhana given we are moving towards podman, should we just remove this tutorial entirely? I'm planning on doing that for the nextgen [docs](https://docs.min.io/minio/baremetal/tutorials/minio-installation.html#docker-installation) as well and replacing them with the podman-focused guide.

@wcedmisten if you hit the `127.0.0.1:9000` port in your browser, does it auto-redirect? This should b

[2021-07-09 18:29] wcedmisten commented on #12660
It does redirect, but then can't it connect to the redirected address http://127.0.0.1:<dynamic port>, presumably because that port isn't exposed from the docker container. The redirect *does* work when running the command with `--console-address :9001` and `-p 9001:9001`.

[2021-07-09 18:30] ravindk89 commented on #12660
OK, good to know - thanks for checking that.

[2021-07-09 18:31] harshavardhana commented on #12656
Closing seems to be working as intended as well across platforms @sunsdy2018 - would be able to provide more information?

[2021-07-09 18:58] markovendelin opened #12664 "Allow non-admin users to create new buckets"
Continuation of #12651

With the non-admin user account, Console does not allow to create new buckets while user does have permission to do so. Filing as a bug since earlier WebUI allowed to do so.

User permissions:

[code]

Note that the permissions allow to create buckets with some specific names. I wonder whether it would make sense to show GUI buttons allowing to create buckets in "Object bro

[2021-07-09 19:04] harshavardhana commented on #12664
@markovendelin what is the error that you see can you share some screenshots?

[2021-07-09 19:08] markovendelin commented on #12664
Sorry, should have added the screenshot.

I don't see "Create bucket" button, as shown in the screenshot below (screenshot has bucket names and sizes removed, otherwise they are shown).

No error in Console UI, can't tell much about minio logs right now. Please let me know if you want me to dig them up.

![no_bucket_create](https://user-images.githubusercontent.com/3975391/125125324-15fcb800-e102-

[2021-07-09 19:09] harshavardhana commented on #12664
If you don't have this option then again its a console UI issue just like Change Password.

[2021-07-09 19:09] harshavardhana commented on #12664
Oh wait you can create the buckets in the `Buckets` section @markovendelin can you check?

[2021-07-09 19:11] markovendelin commented on #12664
No, I cannot - same as in Object browser. So, I guess it is GUI issue indeed and I should open it in Console repo. Will close as soon as will get the conformation from you.

[2021-07-09 19:18] harshavardhana commented on #12664
Yes it is console UI issue, policy is not validated correctly.

[2021-07-09 19:19] #12664 closed

[2021-07-09 19:20] markovendelin commented on #12664
@harshavardhana : thank you very much for the fast response! Issue moved to Console.

[2021-07-09 20:05] harshavardhana commented on #12630
Your object has retain until date this is why it is not allowed to be deleted @ahocchb - not sure why Veeam would try to delete this object.

Also, make sure that you have NTP configured correctly and the timing is the same on all the nodes.

[2021-07-09 21:08] ravindk89 commented on #12662
https://docs.min.io/minio/baremetal/security/minio-identity-management/user-management.html#service-accounts now explicitly mentions that Service Accounts are intended for programmatic use.

[2021-07-09 21:27] #12661 closed

[2021-07-09 23:12] ebozduman commented on #12567
@Shanbw

I can reproduce the issue.
Working on a fix.

I think this issue was supposed to be reported against minio-go.
You were using minio-go, right?
Please also copy and paste your script.

[2021-07-10 03:17] chayder commented on #12660
Hello, Excuse me, thanks for thread and information.

I have this same issue but from a .yml file for deploy a compose or stack group of services.

I haven't idea of how use this "--console-address :9001" flag in this scope. this is possible or exists any alternative? or i need to have deploy minio service how standalone service with a run command?

Excuse me if this aren't place for this question

[2021-07-10 06:34] davidhadas opened #12671 "new feature breaks backwards compatiability"
## Expected Behavior
Backwards compatibility

## Current Behavior
Running minio from latest, minio stopped working due to https://github.com/minio/minio/commit/cdeccb5510f25d0019682f978c2c0aa02a5e12bf
Reason being
1. changes in the default externalized behaviour
2. existing config led to minio not working and writing to screen the error from this code:
        "WARNING: Console endpoint is listeni

[2021-07-10 07:55] harshavardhana commented on #12671
@davidhadas there is no backward compatibility in UI - it is a project-wide decision. We are not planning to change back anything here.

Documentation is updated on what is done and release notes are updated on what to expect. If you do not wish to upgrade don't do it. If you upgrade keep in mind things to consider.

https://github.com/minio/minio#test-using-minio-console

[2021-07-10 07:55] #12671 closed

[2021-07-10 08:10] davidhadas commented on #12671
@harshavardhana
1. Classifying this as a  UI issue is wrong. UI backwards compatibility is a minor issue - this is a backwards comaptiability issue with basic service config and users will be affected
2. When projects have minor and major releases, it is expected that major releases will include non backwards compatiability  but minor changes will not include such issues.
3. Asking users to freeze

[2021-07-10 08:17] harshavardhana commented on #12671
I don't think anything of this is broken here all the features work as is @davidhadas - I tried your spec it all works fine locally for me.

You are not saying anything here other than showing what the error is.

[2021-07-10 08:23] #12656 closed

[2021-07-10 08:25] harshavardhana commented on #12632
Since we have no way to currently reproduce this closing this issue, perhaps we will have next release

[code]

Will have a for us to look at the objects to inspect them - closing until then.

[2021-07-10 08:25] #12632 closed

[2021-07-10 08:26] #12591 closed

[2021-07-10 08:28] harshavardhana commented on #12586
Unfortunately, we can't do that without a formal relationship; feel free to subscribe to our support network https://min.io/pricing - then everything can be formalized.

[2021-07-10 08:46] Stellagosa commented on #12660
version: '3'
services:
  minio-demo:
    image: minio/minio:latest
    container_name: minio-demo
    volumes:
      - ./minio/data/:/data
      - ./minio/conf/:/root/.minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server --console-address :9001 /data

[2021-07-10 09:11] gino opened #12676 "Docker & Traefik - "There are no buckets yet""
Hey everyone,

I am trying to setup MinIO through Traefik, with Docker. And I have setup two endpoints:
- `minio.mydomain.tld`, where the MinIO Console is accessible.
- `cdn.mydomain.tld`, where the actual MinIO API lives.

Both endpoints are working fine and are able to reach through the browser. However, whenever I create a bucket through the Console, my bucket does not show up in the actual ove

[2021-07-10 11:23] richardcresswell opened #12677 "Webhook notifications are delayed if queueing is enabled"
## Expected Behavior
When a queue is enabled for webhook notifications, I expect the event to persist if it is unable to be sent immediately.

## Current Behavior
All subscribed events are added directly to the queue.  The queue is flushed every 3 seconds.

## Possible Solution
This seems to work well:
[code]

[2021-07-10 12:13] kiennd commented on #12676
I've got the same issue.
After inspected i got some information:
- Api create bucket is successfull and return 201
- Api get all bucket (/api/v1/buckets) return null: {"buckets":null}
- Folder with bucket name is created.

So i think this issuce cause by /api/v1/buckets api return null.
Hope it will be fixed.

[2021-07-10 13:37] wadakatu commented on #12660
If I use the command `server --console-address :9001 /data`, I get the error like `ERROR Unable to start the server: --console-address cannot be same as --address` in the log.

Is there anyone who faced same problem?

[2021-07-10 14:35] ardinusawan commented on #12660
Hei I have similar problem but with docker compose. The file is from [official docs](https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-compose/docker-compose.yaml)

[code]

Need help 🙏

[2021-07-10 15:26] harshavardhana commented on #12677
@richardcresswell this is as per design - we queue first to ensure order of delivery.

This cannot be changed 3secs is a good window, I don't think it makes sense to have even more frequent dequeues.

[2021-07-10 15:26] #12677 closed

[2021-07-10 15:28] harshavardhana commented on #12676
We will investigate and let you know..

[2021-07-10 15:40] richardcresswell commented on #12677
Could we resolve this by either:

1. Send immediately if the target store is empty, else Put it into the store
2. Create an option to not guarantee delivery order

Thank you!

[2021-07-10 16:01] harshavardhana commented on #12660
I have no idea how you can get that error

[code]

and my `test.yaml`

[code]

[2021-07-10 16:02] harshavardhana commented on #12660
@ardinusawan what is the problem? - I don't see any problem bringing up MinIO

[2021-07-10 16:54] wadakatu commented on #12660
Thank you for your comment.
I solved the problem of `ERROR Unable to start the server: --console-address cannot be same as --address` thanks to your yml file example.

However, I faced another message.

[code]

My yml file is like this.

[code]

I read other issues which is related to this message, however I couldn't find solution.
Thank you in advance.

[2021-07-10 19:11] Chichilele commented on #12660
For those who want the console on the same port, note that the June tag works: `image: minio/minio:RELEASE.2021-06-17T00-10-46Z`

[2021-07-10 22:11] edmondburnett commented on #12676
Same issue here, running the Docker container on top of Ubuntu:

[code]

Buckets get created on the filesystem, but don't show up in the console.

[2021-07-11 07:14] invent-lwj opened #12679 "Does minio s3 gateway support more backend object storage?"
Hi, The s3 gateway is only can be set one backend object storage?
If i want to route request to more backend object storage from minio s3 gateway, how to do?
Thanks!

[2021-07-11 07:14] harshavardhana commented on #12679
@invent-lwj not supported.

[2021-07-11 07:14] #12679 closed

[2021-07-11 09:49] markovendelin opened #12680 "Service accounts: correct application of the parent user in policy"
We have `aws:username` that can be used in the polices to define buckets accessible to users, for example. With the service accounts this does not work that well, unfortunately.

For example, when user `user1` with
[code]
will make service account, the service account will not have access to bucket `user1-b1`. I presume it will work if all policies will define specific buckets.

I wonder whether a

[2021-07-11 10:09] memochou1993 commented on #12676
Same issue here

[2021-07-11 10:41] Enrico204 commented on #12676
Same issue here, however using the `mc` client I can see all buckets. So apparently the bug is in the console part

[2021-07-11 11:19] Enrico204 commented on #12676
Ok some clues: the last working version was `RELEASE.2021-07-08T01-15-01Z`. I've done these tests:

| Server version | Console version | Outcome |
| ----- | ----- | ----- |
| pre-`RELEASE.2021-07-08T01-15-01Z` | any (external) | OK |
| `RELEASE.2021-07-08T01-15-01Z` | any (external/integrated) | OK |
| `RELEASE.2021-07-08T19-43-25Z` | any (external/integrated) | Fail |

(every version was built fr

[2021-07-11 12:06] ardinusawan commented on #12660
My problem is same like the author.

[2021-07-11 12:17] gino commented on #12676
I can indeed confirm that using version `RELEASE.2021-07-08T01-15-01Z` solves my issue, as @Enrico204 said. Might help @harshavardhana investigate what's causing this issue.

[2021-07-11 13:52] Enrico204 commented on #12676
I was looking at code changes between versions, apparently the bug was added in commit 84a64a7e479e2165ef897f4f87aabffbe11dd2a5 . This commit is from this pull request https://github.com/minio/minio/pull/12652 .

I think that the idea behind [lines 987-991 in that commit](https://github.com/minio/minio/commit/84a64a7e479e2165ef897f4f87aabffbe11dd2a5#diff-ef268fe29d8a37a689fc4720dcb9feb441bb3076def

[2021-07-11 13:55] Enrico204 commented on #12651
@flixr FYI you're not the only one with this issue: https://github.com/minio/minio/issues/12676#issuecomment-877803790

[2021-07-11 14:06] Enrico204 commented on #12676
ok I think that the origin of (at least, mine) `parentUser` value is here:

https://github.com/minio/minio/blob/28adb29db335d451c186088543667f9c4ed40171/cmd/sts-handlers.go#L244-L246

Here the `parentUser` is set to the `user.AccessKey` when using an external account (STS), if I'm reading correctly. This, together with the commit mentioned above is causing issues when on STS, I think.

@gino @memo

[2021-07-11 15:14] chayder commented on #12660
Hello everyone,

I found that actual image version use two flags for define ports that are listening, you can set this ports with _--address ':[port]'_ and _--console-address ':[console_port]'_

both flags need are defining for avoid warnings.

1. For original warning: "WARNING: Console endpoint is listening on a dynamic port (40843), please use --console-address ":PORT" to choose a static port."

[2021-07-11 15:56] harshavardhana commented on #12676
@Enrico204 that part has been present this 15 months and it's also not the codepath that is used for OIDC/LDAP they have their own functions.

[2021-07-11 16:26] Enrico204 commented on #12676
There is a similar line of code in the LDAP function, actually:

https://github.com/minio/minio/blob/28adb29db335d451c186088543667f9c4ed40171/cmd/sts-handlers.go#L562-L564

And in the SSO:

https://github.com/minio/minio/blob/28adb29db335d451c186088543667f9c4ed40171/cmd/sts-handlers.go#L409-L411

These line of codes are not an issue *per-se* (I mean, they are not causing issues by themself). The p

[2021-07-11 16:32] harshavardhana commented on #12676
This line of code is specifically added on purpose to evaluate dynamic policies can you share your policies @Enrico204 ?

[2021-07-11 16:37] Enrico204 commented on #12676
Apparently those line broke everything else. Also, it doesn't seems to work, see the comment of @fixr here: https://github.com/minio/minio/issues/12651#issuecomment-877028310

Here an example of a policy that I use:
[code]

I'm applying the policy via the OIDC attribute `policy`. The same configuration is working properly when using version `RELEASE.2021-07-08T01-15-01Z` of the server, but it does

[2021-07-11 16:44] harshavardhana commented on #12676
It works fine @Enrico204 I have tested it locally - that problem is not the same as this.

[2021-07-11 16:47] gino commented on #12676
To mention, I haven't changed any policies or STS stuff. I only created a bucket through the Console and the issue immediately happened..

[2021-07-11 16:49] harshavardhana commented on #12676
Yeah I am able to test it locally, I can see the buckets getting listed even with restricted dynamic policies.

[2021-07-11 16:50] baswa-cloud commented on #9837
Hello,

I need to setup LDAP details like username and password in minio in kubernets cluster, i have seen below information but could not get ,how to to setup and where to setup and after setup, where to check if ldap details are set or not.
export MINIO_IDENTITY_LDAP_SERVER_ADDR=myldapserver.com:636
export MINIO_IDENTITY_LDAP_USERNAME_FORMAT="uid=%s,cn=accounts,dc=myldapserver,dc=com"
export MIN

[2021-07-11 18:28] harshavardhana commented on #12676
It wasn't enough because console has other bugs those were fixed on in master @Enrico204

[2021-07-11 19:31] harshavardhana commented on #12676
Okay so I found few issues

- Dynamic policies were not working with STS credentials due to `aws:username` usage this will break console usage since console uses STS APIs to list buckets etc, it works fine with explicit bucket names but not with `{aws:username}` - it required a collection of 3-4 different fixes.
- While the fix for `aws:username` broke the issue with AccountInfoHandler() since the

[2021-07-11 19:35] harshavardhana commented on #12676
This PR fixes the bugs reported here https://github.com/minio/minio/pull/12681 - thanks for all the help in tracking it down saved me a bunch of time.

🍰 @Enrico204 @gino

[2021-07-12 00:39] #12676 closed

[2021-07-12 00:39] #12680 closed

[2021-07-12 02:45] #12660 closed

[2021-07-12 04:13] ebozduman commented on #12567
@Shanbw

Please also copy and paste your script.

[2021-07-12 08:12] dmaggo commented on #12662
Just to clarify, the newest release https://github.com/minio/minio/releases/tag/RELEASE.2021-07-12T02-44-53Z fixed my problem that the newly created service account also didn't work with applications like an s3-browser.
I think this point here was the problem that you guys fixed: "Dynamic policies for users in various configurations"

Thanks.

[2021-07-12 10:01] pkavajin opened #12682 "Minio kills itself every 12 hours"
Hey,

every 12 hours we see huge IO loads from minio which basically starve the io so much, minio itself isn't responding anymore.
Might be related to minio/minio#6541

Couldn't find any documentation on how to disable the scanning, but found documentation on how to turn some screws to make it run smoother, but even when dramatically increasing these settings we don't see a change in behaviour and

[2021-07-12 15:54] harshavardhana commented on #12682
@pkavajin those settings are not the issue here.

Tell us what is the current setup like

- how much RAM do you have?
- how much I/O are you throwing at MinIO?
- share the container logs on why it dies?
- share the k8s events output on container does it restart, killed ?

[2021-07-12 16:15] pkavajin commented on #12682
Regarding IO:
![image](https://user-images.githubusercontent.com/28445986/125321119-a7f00500-e33c-11eb-94ce-e728916ee7ad.png)

And in regards of util, its pretty visible that every 12 hours something is going crazy:
![image](https://user-images.githubusercontent.com/28445986/125321244-c6560080-e33c-11eb-9ba0-4fcaa1626ba7.png)

6 Servers,
24 Disks in total
10 GB Mem + 4 CPUs per pod

Containers are

[2021-07-12 16:26] harshavardhana commented on #12682
@pkavajin

- first question are you using LVM underneath? - why do I see that you are using some LUKS encryption? - If yes please remove LUKS encryption from your disks.  You are better off using MinIO's encryption for data at rest encryption that provides tamper-proofing as well.  LUKS-based encryption is terrible for performance-driven use cases.
- you can change the logging in containers by in

[2021-07-12 18:07] AlfredSK opened #12685 "Inconsistency in README.md"
While trying to figure out how to access the 'console' if MinIO is running behind a proxy I discovered an inconsistency in the README.md chapter about the console.

See? At first the config variable is called `..._URI`. But later it is called `..._URL`.

Which one is it?

[2021-07-12 18:42] #12685 closed

[2021-07-12 20:31] thebrooder opened #12688 "new minio server won't start when using an external proxied ip address / if proxy ip disabled, SSO fails with wrong callback url"
Upgraded to release RELEASE.2021-07-12T02-44-53Z from 2021-04-22T15-44-28Z breaks mino server located on a private vlan with service externally proxied with public IP address.    minio server fails to start when --address/--console-address parameter is not validated as a local host ip address (using public external proxy ip fails to start).
[code]
If proxy config is removed by changing the address

[2021-07-12 20:44] harshavardhana commented on #12688
You can fix all of this by setting the correct REDIRECT_URL

[code]

for Console to be redirected to a custom ingress

[code]

[2021-07-12 22:50] worthwhileindustries opened #12690 "Can't get to Admin Web Console"
As a test --

`docker run -p 9000:9000 -p 9001:9001 minio/minio:RELEASE.2021-07-08T01-15-01Z server /data --console-address="127.0.0.1:9001"`

I tried running this. Everything starts up. When I try to go to the console whether I include the --console-address or not I can't seem to get to the web interface.

## Expected Behavior
Pulls up the web interface when going to the admin console

## Current

[2021-07-12 23:51] harshavardhana commented on #12690
if you run it like this how is the console supposed to be exposed to your host system? @worthwhileindustries

Just run it like `--console-address ":9001"`  you even modified the copy pasted value incorrectly.

[2021-07-12 23:51] #12690 closed

[2021-07-12 23:55] harshavardhana commented on #12688
Closing this as just a configuration issue.

[2021-07-12 23:55] #12688 closed

[2021-07-12 23:56] tmoschou opened #12692 "Azure gateway documentation is incorrect / outdated. Cannot connect to Console UI"
## Expected Behavior
The [Azure gateway documentation](https://github.com/minio/minio/blob/master/docs/gateway/azure.md#run-minio-gateway-for-microsoft-azure-blob-storage) should explain how to run Azure gateway and connect to console UI correctly.

## Current Behavior

Run
[code]

- MinIO warns about a dynamically allocated port for the console address. `WARNING: Console endpoint is listening on

[2021-07-12 23:58] harshavardhana commented on #12692
This is not supported without `etcd` in gateway read about etcd being a must for credentials to persist

This fixed in latest release do not use `:latest` tag instead pick `RELEASE.2021-07-12T02-44-53Z`

[2021-07-12 23:58] #12692 closed

[2021-07-13 00:13] harshavardhana commented on #12692
FWIW updated the docs as well here e25ae1c01f8b3f75e6a8ca392a2faea105a479d8

[2021-07-13 01:36] Shanbw commented on #12567
I did not use minio-go, I used java call

[2021-07-13 03:33] ebozduman commented on #12567
@Shanbw
Can you copy/paste your script?
I'd also like to verify the fix with your script.

[2021-07-13 10:48] capriciousduck opened #12697 "This 'admin' API is not supported by server in 'mode-server-fs'"
I am getting the following error after bucket creation. Please look into it. This is the error.

This 'admin' API is not supported by server in 'mode-server-fs'

[2021-07-13 11:46] lagand commented on #12697
i had same question, console log:2021-07-13T11:43:55.240458702Z original error -> (user_buckets.go:123: error server side encryption configuration not found)
2021-07-13T11:43:55.240511231Z friendly error: The server side encryption configuration was not found

[2021-07-13 12:59] mmukul opened #12699 "Minio supports virtual appliance image"
**Is your feature request related to a problem? Please describe.**
Does Minio supports virtual appliance image with complete minio stack

**Describe alternatives you've considered**
OVA as an virtual appliance image for minio

[2021-07-13 16:35] harshavardhana commented on #12699
@mmukul we support VMware vsphere dpp platform beyond that maintaining OVA is not planned.

https://min.io/product/private-cloud-vmware-tanzu

[2021-07-13 16:35] #12699 closed

[2021-07-13 16:48] UchihaYuki opened #12701 "AWS SDK STS requests get redirected to console when running in browser"
## Expected Behavior

It shouldn't be redirected.

## Current Behavior

It works when I set MINIO_BROWSER=off, and gets redirected to console when MINIO_BROWSER=on

## Steps to Reproduce (for bugs)

The following is what aws-sdk does in simple code
[code]
The problem is, in either environment (MINIO_BROWSER=off and MINIO_BROWSER=off). The following code works:
[code]

## Context

I want to use aws

[2021-07-13 16:54] ravindk89 commented on #12701
Note: based on some other [pulls](https://github.com/minio/minio-js/pull/929) we've had, making STS calls with JSON POST body vs query params has worked in the past.

[2021-07-13 16:56] vadmeste commented on #12701
@UchihaYuki can you paste instead that code that is using AWS SDK ?

[2021-07-13 16:56] ravindk89 commented on #12701
@vadmeste grabbed it from the Slack thread and placed it above.

[2021-07-13 17:51] hkirov opened #12703 "Unable to update replication metadata after deletion of object with replication"
## Expected Behavior

Meta data to be updated without errors. Replication Status to be COMLETE.

## Current Behavior

There is error: "Error: Unable to update replication metadata for .......(741da3e9-3d07-44e7-b6cc-8d59e5e04ec9): Storage resources are insufficient for the write operation ........ (*fmt.wrapError)"
Object stands with "Replication Status: PENDING" even after being replicated

## Po

[2021-07-13 18:25] #12701 closed

[2021-07-13 20:33] #12567 closed

[2021-07-14 07:50] xyzzen opened #12707 "The sharing function of the latest program cannot be used"
I use it on windows, stand-alone version, mainly used to share my local files to colleagues to download;
I just downloaded the latest version and found that I can’t share it;
Is the sharing function not yet made, or is there a bug?

[2021-07-14 07:51] xyzzen commented on #12707
Click to share to report the following error
![image](https://user-images.githubusercontent.com/29516370/125584338-9e84870f-09b3-49b5-bdb9-62db7eeae7ee.png)

[2021-07-14 08:29] soulwarT opened #12708 "Do not have enough permissions to access this resource"
创建用户设置策略之后还是无法创建桶
![image](https://user-images.githubusercontent.com/79443972/125589905-b1f940b0-9cc2-470e-86d0-28782b35ff7d.png)
这是策略
![image](https://user-images.githubusercontent.com/79443972/125589970-c07e4b6c-b350-4b4f-ba15-f8115bb4d0a0.png)

[2021-07-14 08:31] harshavardhana commented on #12708
Closing the issue as incomplete

- with all issue templates removed
- no MinIO version mentioned

[2021-07-14 08:31] #12708 closed

[2021-07-14 08:36] soulwarT commented on #12708
版本7.0.2

[2021-07-14 09:58] GGORG0 opened #12709 "panic: runtime error: invalid memory address or nil pointer dereference"
Starting the MinIO server fails with a SIGSEGV error
## Expected Behavior

It should just start 😄

## Current Behavior

It doesn't work 😞
(I replaced some sensitive values with `nope`)
[code]

## Possible Solution

no idea

## Steps to Reproduce (for bugs)

[code]

## Context

I was just trying to start the MinIO server, commands above

## Regression

I don't know

## Your Environment

* Version u

[2021-07-14 10:09] vadmeste commented on #12709
@GGORG0 did you upgrade from older version ?

[2021-07-14 10:22] GGORG0 commented on #12709
@vadmeste No, it was a fresh install

[2021-07-14 10:37] vadmeste commented on #12709
/mnt/data seems to contain some data already, could you run this ?

[code]

[2021-07-14 12:14] GGORG0 commented on #12709
Sorry for late reply, here is the output
[code]

[2021-07-14 12:20] vadmeste commented on #12709
@GGORG0 thanks, what about `cat /mnt/data/.minio.sys/format.json` ?

[2021-07-14 12:25] GGORG0 commented on #12709
`{"version":"1","format":"fs","id":"aaa0ceb9-ff2d-43c0-94cd-be8fd8e99624","fs":{"version":"2"}}`

[2021-07-14 16:29] georglauterbach opened #12713 "Add state parameter for OIDC"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I try to integrate MinIO into an OIDC provider, in my case Authelia, only to realize that MinIO does not support the state parameter at all. Please have a look at the comments in  #11398, especially @james-d-elliott's comments. It is a **recommended** parameter according to the RFC.

**Describe the solut

[2021-07-14 16:50] harshavardhana commented on #12713
@georglauterbach not sure what you mean we always use state parameter in our latest release.

We used to support implicit flow but we do not anymore - we specifically set state parameter since we have moved to authorization flow.

[2021-07-14 16:59] harshavardhana commented on #12709
what is your setup here? looks like something is corrupted and not accessible

[2021-07-14 17:46] georglauterbach commented on #12713
Oh. I will test the latest release and report back and close if this works.

[2021-07-15 01:27] #12709 closed

[2021-07-15 04:04] zrkcoder opened #12718 "Unable to access the website"
Minio version：
![image](https://user-images.githubusercontent.com/71759908/125727282-90ea39e7-5d64-4354-86b8-72c719918c2d.png)

Error Image:
![image](https://user-images.githubusercontent.com/71759908/125727087-2c1ddf83-6baa-4ef7-b448-d9f2d029aa55.png)

[2021-07-15 04:17] harshavardhana commented on #12718
Looks like this is a known issue with windows setting incorrect mime type

https://github.com/minio/minio/issues/12654#issuecomment-876984107

Please follow the workaround.

[2021-07-15 04:17] #12718 closed

[2021-07-15 08:06] loyalPlayer commented on #11803
@sokui Hi bro~ how to set ignore_image_defined_volumes = false? I meet this fault but I don't know how to solve it...

[2021-07-15 08:56] imkos opened #12719 "original error -> (user_login.go:50: invalid Login)"
![image](https://user-images.githubusercontent.com/17872894/125760079-f4571a27-1209-4547-9c1c-fc546e996c76.png)

image: minio/minio:RELEASE.2021-07-12T02-44-53Z

Cannot log in to the console.

[2021-07-15 09:27] georglauterbach commented on #12713
I can confirm state is now not an issue anymore. Sorry for the noise.

[2021-07-15 09:27] #12713 closed

[2021-07-15 09:54] cchris-org commented on #12719
Same here. Can't login

[2021-07-15 10:19] SteeveRan opened #12720 "LDAP auth. Group search doesn't work correct if user dn contains cyrillic symbols"
## Expected Behavior

We are using AD for LDAP authorization. Our Minio configs:

[code]

We expect minio to correctly handle user membership

## Current Behavior

If user dn contains Cyrillic characters, minio cannot find the groups the user belongs to.

## Steps to Reproduce

1. Create user with dn - "cn=Пользователь,OU=Users,OU=org,DC=example,DC=ru"
1. Ldapsearch output for user:

[code]

1. Ld

[2021-07-15 11:45] rvadim commented on #12586
Looks like removing directory by object name from all disks works:
[code]
Heal don't show any gray objects after deletion and I can upload file to minio from backup.

[2021-07-15 12:38] ramazanjusip opened #12721 "Can not put new data because of bucket quota --fifo does not remove old data on the run"
I have a test environment with 1 minio server (4 cpu, 16 RAM, 4 SSD disks with 1GB of disk space) and I'm trying to write data to minio with admin bucket quota <ALIAS/BUCKET> --fifo 1GB configured.
When I run 5 MB of file upload script (every second) minio does not delete old data to write new one and I receive such error:
`mc: <ERROR> Failed to copy test.mp4. Storage backend has reached its minim

[2021-07-15 13:08] georglauterbach opened #12722 "OIDC Console Login Fails Unexpectedly"
I'm using [Authelia](https://github.com/authelia/authelia) as an OIDC identity provider. I'm running release `RELEASE.2021-07-12T02-44-53Z` and I can click "Login with SSO", I'm redirected to Authelia where I accept the scopes. But then, I am redirected back to the login screen, not being logged in. I'm getting a HTTP 401 (sporadically) and MinIO throws an error.

## Expected Behavior

I can log i

[2021-07-15 14:09] vadmeste commented on #12719
@imkos did you open http://address:9001/ and you weren't able to login using MINIO_ROOT_USER & MINIO_ROOT_PASSWORD ?

[2021-07-15 14:10] vadmeste commented on #12720
@SteeveRan thanks. I will try to reproduce and update you.

[2021-07-15 14:34] groucho64738 opened #12723 "LDAP passwords showing up in system log again"
When trying to authenticate against the console in the latest version (RELEASE.2021-07-12T02-44-53Z), login fails, but this message is printed in /var/log/messages:

minio[7990]: debugging error: Post "https://xx.xx.xx.xx:9000?Action=AssumeRoleWithLDAPIdentity&LDAPPassword=therealpassword&LDAPUsername=username&Version=2011-06-15": x509 : cannot validate certificate for xx.xx.xx.xx because it doesn

[2021-07-15 15:28] harshavardhana commented on #12722
That is intended no more MinIO's internal user login when IDP is configured

[2021-07-15 15:30] harshavardhana commented on #12721
@ramazanjusip FIFO will not be able to act right away, its based on usage calculator and will take time. If you have a lot of I/O coming in quickly quota will be ineffective.

There is nothing we can do regarding that at this point. Quota is not hard it's only implied and soft and also with especially small tiny quotas bucket quotas are not effective.

you should find other ways to apply quota on

[2021-07-15 15:30] #12721 closed

[2021-07-15 15:32] harshavardhana commented on #12719
@imkos closing this issue

First, describe in detail what doesn't login - what is the user and level of permissions etc.  Let's reopen when you have provided such details.

[2021-07-15 15:32] #12719 closed

[2021-07-15 15:33] harshavardhana commented on #12703
I think this has been fixed by #12711 // cc @poornas @vadmeste  please confirm

[2021-07-15 15:34] sokui commented on #11803
I did not set this parameter, because I am not the admin. The solution is
to create an empty folder called /data in the k8s spec.

On Thu, Jul 15, 2021 at 1:07 AM JianZhang ***@***.***> wrote:

--
Zhiheng Xie

[2021-07-15 15:34] harshavardhana commented on #12722
Have you started MinIO with `--anonymous` can you turn it off?  and show us the real error underneath?

[2021-07-15 15:40] vadmeste commented on #12703
This doesn't seem an issue per se, the cluster wasn't able to update the replication status in the source cluster. The worst that could happen in this case is that the source object will be double replicated which seems to be acceptable.

@poornas any comment?

[2021-07-15 16:28] georglauterbach commented on #12722
Sorry, forgot to turn this off. Here it is:

[code]

[2021-07-15 16:44] georglauterbach commented on #12722
I have not configured `MINIO_IDENTITY_OPENID_CLAIM_NAME`. [The documentation](https://docs.min.io/minio/baremetal/reference/minio-server/minio-server.html#envvar.MINIO_IDENTITY_OPENID_CLAIM_NAME) yields that (some kind of) claim is missing on the JWT?

@james-d-elliott any idea? This is the link to the RFC: <https://datatracker.ietf.org/doc/html/rfc7519#section-4>

[2021-07-15 16:46] harshavardhana commented on #12722
Yes so the policy claim is missing from your JWT so we cannot authorize such requests @georglauterbach

[2021-07-15 16:47] harshavardhana commented on #12722
This defaults to 'policy' key this may not be the same for your OIDC and you have to change it accordingly, there should also be a corresponding policy present on MinIO created with `mc admin policy add ...`

[2021-07-15 16:50] poornas commented on #12703
This is not related to #12711 .
The original replication operation failed to update the metadata from `PENDING` to `COMPLETED` because of insufficient storage resources. When the scanner picks this object for healing, the replication status should update to `COMPLETED` - Note that this will not be double replicated as there is a HEAD operation to check if the object version is already replicated b

[2021-07-15 16:57] hkirov commented on #12703
This is happening on a cluster with all drives online without errors. What is causing "insufficient storage resources"?

[2021-07-15 17:01] harshavardhana commented on #12703
Temporary disconnections, network saturation, and some other underlying setup issues?

[2021-07-15 17:07] georglauterbach commented on #12722
Where / how do I execute this command?

—-

@james-d-elliott not sure about the current state of affairs but I guess such a JWT claim is not currently supported by Authelia?

[2021-07-15 17:12] harshavardhana commented on #12722
It needs to be a custom claims standard practice in OIDC https://developer.okta.com/docs/guides/customize-tokens-returned-from-okta/add-custom-claim/

You can also re-purpose any other existing JWT keys as well such as `name`, `email`

https://docs.min.io/minio/baremetal/security/openid-external-identity-management/external-authentication-with-openid-identity-provider.html#minio-external-identity-

[2021-07-15 19:22] hkirov commented on #12703
Strange. I was with the impression that this happens every time. It is the same every time when I tried that. I've tested this again in our lab instantiation and the results were the same. Can you try to reproduce it on your installation?

- create active-active bucket replication with --replicate "delete,delete-marker" (not tested on one way it may be enough)
- upload object to the bucket
- delet

[2021-07-15 20:15] james-d-elliott commented on #12722
Yep this is something we'd have to do on Authelia's end @georglauterbach (it's just not something we got around to yet in the beta, OIDC is rather chunky), or as mentioned you'd have to map an existing claim to your policies, I can potentially make a PR to accomplish a mapping between user groups and a policy after discussing it with the team.

[2021-07-15 20:30] #12723 closed

[2021-07-15 22:21] donatello commented on #12720
@SteeveRan There is something wrong with your configuration - you cannot use both lookup bind mode and username format mode simultaneously. You will get an error when the minio server starts up like:

[code]

I tried a similar setup to yours (using openldap rather than AD though) with lookup bind mode - https://github.com/donatello/minio-ldap-testing

I added the following lines to the `bootstrap.

[2021-07-15 23:03] harshavardhana commented on #12720
or

Issue is right here ..

[2021-07-16 00:49] ZxcSoft opened #12727 "MINIO_BROWSER_REDIRECT_URL not support location proxy pass"
nginx proxy minio by using location proxy . but when start minio. it seem failed.
[code]

## Expected Behavior

minio start up success，and i can acces the console page.

## Current Behavior

console proxy by nginx location proxy not support， it is only support like  http(s)://minio.example.com

## Possible Solution

## Steps to Reproduce (for bugs)

nginx config like
···
        location ^~/file/

[2021-07-16 00:59] harshavardhana commented on #12727
No we cannot support random locations - it needs to be at root URL @ZxcSoft - unfortunately this is out of scope.

[2021-07-16 00:59] #12727 closed

[2021-07-16 01:27] loyalPlayer commented on #11803
你好xiezhiheng~ 我现在是升级minio应用,原先的根目录盘下面有大量的数据,使用的是老版本的minio, 现在想升级minio但是不动数据的位置, 我看你说是如果配置了  ignore_image_defined_volumes = true 之后会不能使用根目录的数据盘, 所以想问下在哪边可以把这个参数改成false让我升级minio的同时还能使用之前的容器内挂载根目录作为数据盘而不用新建一个空目录把数据挪过去
=================================================================================
hello Zhiheng Xie~ I want to upgrade minio to a new version but I don't want to move data in /data1 and

[2021-07-16 03:59] MoonJustry commented on #4364
hi harshavardhana, that sounds great，is there any plan or roadmap to track this feature about dynamic expansion?

[2021-07-16 05:44] harshavardhana commented on #4364
It's on my laptop right now - there is no real timelimit on when it will be available all I can say is soon.

[2021-07-16 09:08] SteeveRan commented on #12720
@donatello

Sorry, I did not read the documentation carefully. Thank you for help

I also found a minibug (maybe feature): `cn=Group != CN=Group`

[2021-07-16 09:09] imkos commented on #12719
Why should I close the issue? Start this issue according to my yaml above, and the issue can be reproduced 100%

[2021-07-16 09:12] evt-byte opened #12730 "Setting the lifecycle for the bucket did not take effect"
Deployed in a k8s environment with 4 pods.
Set the lifecycle for the bucket, it is set successfully and can be queried, but the expired object is not deleted.

## Expected Behavior

Reach lifecycle expiration time, automatically delete expired objects.

## Current Behavior

The lifecycle expiration time is reached and the expired object is not automatically deleted.

## Possible Solution

## Steps

[2021-07-16 09:32] moyuanz opened #12731 "Exception after stop minio cluster and then restart cluster"
1. our cluster has 2 server pool, each node having 2 disks, each server pool having 2 nodes, like below
minio server http://minio-{1...2}/miniodata/data{1...2} \
                    http://minio-{3...4}/miniodata/data{1...2} ）

2. we already have created several thousands buckets and objects in cluster
3. stop cluster
4. restart cluster

## Expected Behavior
cluster restart normally

## Current Be

[2021-07-16 09:50] vadmeste commented on #12731
@moyuanz please follow the template next time.

What MinIO server version is this ?

[2021-07-16 09:51] georglauterbach commented on #12722
I understand :) I just wanted to understand the issue at hand a bit better.

How would I do that, I mean, what are "my policies"? Looked through the Authelia docs, but could find neither claims nor policies (I guess, `authorization_policy` is something else 😆 ).

That'd be awesome! I don't need it right away, but if this was to be noted on the roadmap I would know that I'll be able to use MinIO wi

[2021-07-16 09:53] vadmeste commented on #12730
@evt-byte, according to the S3 specification, the object will only be removed in the midnight that follows the elapsed 24 hours. You can check with `mc stat alias/bucket/object`.

[2021-07-16 09:53] #12730 closed

[2021-07-16 09:55] evt-byte commented on #12730
@vadmeste I executed this command with the following result：

[2021-07-16 09:57] harshavardhana commented on #12731
Please upgrade your server this has been fixed quite some time ago @moyuanz

[2021-07-16 09:57] #12731 closed

[2021-07-16 10:04] vadmeste commented on #12730
It is part of the S3 spec. The expiration is correct.

[2021-07-16 12:18] evt-byte commented on #12730
OK, I got it, thanks a lot. @vadmeste 👍

[2021-07-16 15:01] Martin-Hogge opened #12732 "Client fails to set alias when hostname contains a "-""
[code]

is failing with the following error:
[code]

After some trial, I figured out that the issue seems to be the dash inside the domain name.

I tried this both with the docker client and with the windows client. Both gives the same error.

## Expected Behavior
Setting an alias to a domain containing "-" should work.

## Possible Solution
Add the possibility to escape characters in the hostname

[2021-07-16 15:07] harshavardhana commented on #12732
That's not possible it looks like your local proxy is messing with the HTTP requests.

[2021-07-16 15:11] #12720 closed

[2021-07-16 18:55] djerfy commented on #12727
@ZxcSoft there are 2 options for me:

* use another domain, by example minio-console.example.com
* use `proxy_redirect` on nginx and set a custom redirection

[2021-07-16 20:18] harshavardhana commented on #12727
👍🏽

[2021-07-16 21:37] harshavardhana commented on #12732
This is because `mc` expects a XML response whereas you have proxy setup locally that responds with `HTML`

[2021-07-17 14:39] harshavardhana commented on #12586
Okay 👌

[2021-07-18 08:08] justinclift commented on #12413
Sounds like this is an _extremely_ bad problem, and there should be some way to detect the bad calculation (eg keep the code around in a callable function), then re-write it with the correct hash value.

[2021-07-18 08:21] justinclift commented on #11305
It kind of sounds like a more optimal solution would be to make the encryption scheme configurable, so less cpu-intensive alternatives to Aargon can be used.  That'd allow for Minio to better work with the use cases where the configuration data doesn't need that level of security.

[2021-07-18 15:25] haslersn commented on #12586
I experienced a 503 like this after upgrade, too. The problem was probably already present before the upgrade, but the symptom was different before the upgrade. More specifically:

1. `RELEASE.2021-04-06T23-11-00Z` (i.e., before upgrade):
   - `mc ls <object>` sometimes lists it and sometimes doesn't.
   - `mc cat <object>` sometimes returns `Object does not exist.` and sometimes returns `The spec

[2021-07-18 16:32] harshavardhana commented on #11305
This has been fixed already @justinclift

[2021-07-18 16:34] harshavardhana commented on #12413
These sanity checks are already present in all newer releases this was an internal issue to track upgrades and figure out if there is something more we can do to help @justinclift

[2021-07-18 16:39] harshavardhana commented on #12586
@haslersn we would love to see if you can share `xl.meta` from all disks and capture them as per order of the drives in your setup.

If you can share this we would love to take a look and see what might be causing this behavior. As this is unexpected and we have tried to reproduce we seem to be unable to.

[2021-07-18 17:08] a1ekseev opened #12736 "Public address doesn't work"
After upgrading to the latest version, URL downloads are no longer working.
As it worked before:

- https://github.com/minio/minio/issues/5180
- https://github.com/minio/minio/issues/7393

[2021-07-18 17:37] harshavardhana commented on #12736
@a1ekseev what do you mean is not working can you explain and provide more details?

Closing this issue as incomplete

[2021-07-18 17:37] #12736 closed

[2021-07-18 17:38] #12732 closed

[2021-07-18 17:41] harshavardhana commented on #12722
Closing this looks like there is nothing from our end to address.

[2021-07-18 17:41] #12722 closed

[2021-07-18 17:42] harshavardhana commented on #12682
Closing this issue as it looks like a setup problem if you have production-level requirements @pkavajin please subscribe https://min.io/pricing we can provide deeper investigation and architecture help.

[2021-07-18 17:42] #12682 closed

[2021-07-18 18:34] justinclift commented on #12413
Cool. :smile:

[2021-07-18 18:55] haslersn commented on #12586
@harshavardhana Do the drives have an order? How to know the order? I'm using MinIO operator. Also, I redeployed the MinIO tenant once or twice, so the order might not have been preserved. The same drives were always plugged into the same servers.

[2021-07-18 18:59] harshavardhana commented on #12586
Orders if changed can have these consequences, did you remount the drives as well in different order ?

[2021-07-18 19:41] haslersn commented on #12586
Each drives is mounted to a directory which is used as a local PersistentVolume (PV). So I don't see how mount order matters. But when creating the MinIO tenant, it will create so-called PersistentVolumeClaims (PVC) and the mapping between PVC and PV is determined essentially at random by Kubernetes.

But I certainly didn't mix drives from different pools, because I configured a different so-calle

[2021-07-19 01:35] Jam-Don opened #12737 "An exception occurred while restarting"
I'm using the latest version

our cluster has 2 server pool, each node having 2 disks, each server pool having 2 nodes, like below
minio server http://minio-{1...2}/miniodata/data{1...2}
http://minio-{3...4}/miniodata/data{1...2} ）

we already have created several thousands buckets and objects in cluster

stop cluster

restart cluster
## Expected Behavior

cluster restart normally

## Current Beha

[2021-07-19 02:01] Jam-Don opened #12738 "I used the Minio Client to query the cluster information and found that the statistics were incorrect"
I used the Minio Client to query the cluster information and found that the statistics were incorrect
## Expected Behavior
I created about 100,000 buckets and about a million files
## Current Behavior

When I use mc admin info  query for cluster information found incorrect statistics
![image](https://user-images.githubusercontent.com/57789488/126092204-9f063d42-475f-416c-8d8f-83165a6068c7.png)

[2021-07-19 02:25] imkos commented on #12719
@harshavardhana

[2021-07-19 04:48] harshavardhana commented on #12738
They will not be updated right away and take time. Come back after a day if it still reports incorrect values,

Also please upgrade to latest.

[2021-07-19 04:48] #12738 closed

[2021-07-19 04:49] harshavardhana commented on #12737
Please upgrade to latest this has been fixed many releases ago.

[2021-07-19 04:50] harshavardhana commented on #12737
Oh my bad looks like a recent issue. Let me check it out..

[2021-07-19 04:57] harshavardhana commented on #12737
First of all, it's naive to create thousands of buckets - looks like you have architectured your system incorrectly.  You should generally have fewer buckets and do not use it like some Dropbox like system providing one bucket per user.

However, the issue is weird because it looks like the crash is happening because of multiple scanner's running on the same system.

How often is this reproducible

[2021-07-19 05:16] moyuanz commented on #12738
why dose it take so long time to update it correctly?

[2021-07-19 05:28] moyuanz commented on #12737
Always.
Any suggestion to how many buckets are reasonable in production environment?

[2021-07-19 05:48] funkypenguin opened #12739 "When do hostnames cached by the distributed server process expire?"
Hey guys!

I'm using the latest bitnami image/chart, to run Minio in distributed mode as a statefulset in Kubernetes. The statefulset runs the minio server with the `MINIO_DISTRIBUTED_NODES` env var correctly set to reference the 4 members of my statefulset:

[code]

Our environment is heavily locked down, such that I have a NetworkPolicy which permits connection between the minio pods on port 900

[2021-07-19 05:54] harshavardhana commented on #12739
This is not cached by MinIO we only cache DNS up to 30secs and reattempt right after based on the DNS TTL.

Looks like your CoreDNS is hosed in your setup and not behavior correctly.

We do not know about these custom implementations - please use our operator we do not support bitnami/helm chart - please use our operator https://github.com/minio/operator

We have never seen DNS caching to be an is

[2021-07-19 05:55] harshavardhana commented on #12737
Not more than 100 @Jam-Don, 1000 perhaps the worst , 100k buckets are really a poor way to manage your deployment.

[2021-07-19 08:18] hbaiyu opened #12740 "How long will the incomplete object be deleted?"

[2021-07-19 09:07] ramazanjusip opened #12741 "Can not reach /minio/v2/metrics/cluster prometheus metrics with ssl enabled"
Hi!

I get `server returned HTTP status 403 Forbidden` on prometheus when I try to reach metrics endpoint `/minio/v2/metrics/cluster` by https (minio with ssl enabled). If I remove `--certs-dir` all works fine without ssl. S3 API works as expected with https.

## Expected Behavior
Metrics endpoint `https://<minio_server>:9000/minio/v2/metrics/cluster` must be available.

## Current Behavior
Promet

[2021-07-19 09:35] vadmeste commented on #12741
Investigating this..

[2021-07-19 09:53] vadmeste commented on #12741
This an old version and `/minio/v2/metrics/cluster` is not implemented in that version.

Please upgrade if you want more complete prometheus information.

[2021-07-19 09:53] #12741 closed

[2021-07-19 12:25] zynpsnltrkk opened #12742 "minio eating all the memory"
Minio running on 3 different hosts with 6 disks and the following is my docker-compose configuration with minio distributed erasure code
[code]
connects each other with a private network setup. (controller-{0...2}.platform.local)

the error logs from minio container
[code]
[code]
<img width="1011" alt="Screen Shot 2021-07-19 at 14 09 41" src="https://user-images.githubusercontent.com/79847905/1261

[2021-07-19 13:31] ravindk89 commented on #12738
MinIO uses a scanning process that visits each bucket and object in the cluster.  The scanner adapts to the system speed and completely pauses when the system is under load - this is intentional, as the scanner should not impact normal read/write operations.

Since the scanner is effectively "lazy", it can take time for usage to update. As cluster load increases, the scanner may back off more aggr

[2021-07-19 15:27] harshavardhana commented on #12740
24 hours.

[2021-07-19 15:27] #12740 closed

[2021-07-19 15:28] #12739 closed

[2021-07-19 16:05] georglauterbach commented on #12722
# Solution for Authelia

You can just define

[code]

for MinIO and in Authelia provide groups according to [MinIO policies](https://docs.min.io/minio/baremetal/security/minio-identity-management/policy-based-access-control.html#minio-policy) and it should work.

[2021-07-19 16:07] harshavardhana commented on #12722
Great 👍🏽

[2021-07-19 21:51] Kirill-Bugaev opened #12749 "data HA issue, autohealing not work"
I test 3-nodes minio cluster (`Erasure Set: 15` and `EC: 6`) HA. In production upload is permanent 24/7. Expected failure in our case is one node shutdown for long period of time. In this case data is written on two remaining nodes. After down node is up again, data uploaded during node down needs to be propagated to this node. If I understand correct, Minio healing process should run periodically

[2021-07-19 21:55] harshavardhana commented on #12749
Healing runs on periodic basis @Kirill-Bugaev can you share your statefulset yaml?

[2021-07-19 22:01] Kirill-Bugaev commented on #12749
@harshavardhana thanks for replay.

Here is StatefulSet
[code]

[2021-07-19 22:09] Kirill-Bugaev commented on #12749
@klauspost wrote here: [Auto-healing doesn't work after some time or manual heal](https://github.com/minio/minio/discussions/12672#discussioncomment-987659)

Does it mean that healing should start immediately after I try to get object with `mc` as I described in 1st message?

[2021-07-19 22:12] harshavardhana commented on #12630
Closing this as we don't see anything wrong here on our end.

[2021-07-19 22:12] #12630 closed

[2021-07-19 23:12] harshavardhana commented on #12749
Not sure how this can happen here what you are showing.

No, if you have drives down it chooses other disks to write the data by choosing more parity.

Can you provide some more step by steps details to reproduce this problem?

[2021-07-20 00:30] Kirill-Bugaev commented on #12749
I cant reproduce it anymore. I tried three times. Healing starts immediately after node up (I can see shards appear on minio drives). I was able to reproduce it multiple times 3 months ago and yesterday, when I have updated docker image, problem still existed. But now everything looks fine.

How I was able to reproduce it before is below.

1. 3/3 nodes up
[code]

2. Shutdown k8s worker node where

[2021-07-20 08:16] baili-tang opened #12751 "How to set the valid time of presignurl to permanent"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-20 09:12] zynpsnltrkk commented on #12742
yep I am gonna do this and share the output.

by the way we found the cause of the problem. Thanos is what increases so much memory usage in minio.
"thanos store" always crashing and thanos is doing a lot of IO on minio and Minio is caching in memory and there is no limitation in minio.  After a while, the machine becomes unusable as the memory swells.
Can we limit memory usage in the minio?  Does

[2021-07-20 10:38] MrMaxime opened #12752 "spark-select : minioSelectJSON doesn't work with "timestamp" as a key"
I try to read a JSON file from minio with minioSelectJSON and a schema, but one key of my json is **"timestamp"**, when he encounter this key it seems to excpecting something else than a simple string in the JSON file.

Here is what my JSON file contain :
```{"sensor_id":"sensorID", "deveui":"deveui", "timestamp":"2021-07-12 16:57:59", "data":"Some Data here"}```

## Expected Behavior
Read my JSON

[2021-07-20 10:42] furio opened #12753 "Minio gateway s3 mode and KES encryption"
Hi since RELEASE.2021-05-11T23-27-41Z i get errors while using minio gateway mode to s3 and KES (latest).

Minio starts this way (changed the conf to be reproducible to everyone)
[code]

while KES this way
[code]

with this config (changed the conf to be reproducible to everyone)
[code]

When I try to upload a file i get an error, while with any release <= RELEASE.2021-04-22T15-44-28Z everything w

[2021-07-20 12:42] Phynecs commented on #12751
s3 specifies a max time for signed url of 7 days, see "X-Amz-Expires" in the official documentation: https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

I don't think departing from the spec is a good idea.

There is an alternative way to do it, make a separate bucket where files are accessible without signed url, so a public bucket.
But be aware of the security considera

[2021-07-20 12:52] zynpsnltrkk commented on #12742
I upgraded the version to RELEASE.2021-07-15T22-27-34Z
here is the profile for mem for all 3 nodes
![profile003](https://user-images.githubusercontent.com/79847905/126326274-3cf0ee17-ce91-4a72-adbd-fda82aacb2df.png)

![profile002](https://user-images.githubusercontent.com/79847905/126326270-e6176855-8ea5-46b4-b0d2-9670b557643a.png)

![profile001](https://user-images.githubusercontent.com/79847905/

[2021-07-20 13:34] gcsun commented on #9493
i met the same problem.
minio version : 7.0.4
when upload a file (700M) with fput_object() function ,  the error occured.

but when upload a smaller file it's work well, such as 10M size file.

and when upload the 700M file through web browser, it's work well also.

anyone can help me, thanks a lot

here is the error message:
[code]

[2021-07-20 14:41] #12751 closed

[2021-07-20 14:43] harshavardhana commented on #12752
@MrMaxime we have no plans to support `spark-select` package and we do not maintain it anymore

You should use upstream work here https://github.com/apache/hadoop/blob/trunk/hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/s3_select.md

Closing this as non actionable, sorry.

[2021-07-20 14:43] #12752 closed

[2021-07-20 14:45] harshavardhana commented on #12742
Can you run Thanos again and see how does the memory usage grow?

You can limit the requests to MinIO by using MINIO_API_REQUESTS_MAX

[2021-07-20 22:00] vpillinger opened #12756 "STS Permissions in Assume Role Started Giving 403 Errors In RELEASE.2021-07-12T02-44-53Z"
The July 15, 2021 update of Minio broke something related to custom policies in Assume Role STS requests.

## Expected Behavior
Custom policies apply to assumed roles.

## Current Behavior
The user of the assumed role gets a 403 "Access Denied" response.

## Possible Solution
After debugging, I have no clue why the access is denied, but I tied it specifically to version minio.RELEASE.2021-07-15T22

[2021-07-20 22:07] harshavardhana commented on #12756
This needs to be base64 @vpillinger

[2021-07-21 00:19] jinjyoo opened #12760 "Object count from mc admin info doesn't change"
I have a K8s cluster with 6 Minio pods in K8s which I've been running `mc admin info <alias>` against periodically for the past two weeks in order to track object counts - but for the past few days, the returned object count has been staying static (despite high ongoing Minio activity).

## Expected Behavior

`mc admin info <alias>` returns an updated object count.

## Current Behavior

`mc admin

[2021-07-21 00:37] harshavardhana commented on #12760
Please upgrade to latest @jinjyoo

[2021-07-21 00:57] jinjyoo commented on #12760
Hm, I don't think we'd be able to upgrade for a while, but I can bring it up. For an upgrade we'd need to cycle out all the Minio pods anyway, which might help on this issue even if it's for the current older version - I'll check if we can do that.

I'll update if there's a resolution from that, thanks!

[2021-07-21 06:37] harshavardhana commented on #12760
Community support is only for newer releases,  let us know if you can see with the latest release.

If you want to have production support and more deeper engagement you should buy a subscription https://min.io/pricing

Going to close this issue.

[2021-07-21 06:37] #12760 closed

[2021-07-21 06:39] harshavardhana commented on #12749
Thanks no problem - closing this issue @Kirill-Bugaev

[2021-07-21 06:39] #12749 closed

[2021-07-21 06:41] harshavardhana commented on #12742
@zynpsnltrkk have you been able to verify?

[2021-07-21 09:07] Rozzerus opened #12761 "minio/spark-select via scala 2.12"
Hi dears collegues,
 The minio is great.
But when I try to use spark-select  I have a problem.
I use scala 2.12 in my project.
And I want to improve my performance.
But spark-select doesn't work via scala 2.12.
It's only for 2.11
Do you plan to update this and will be supporting this scala 2.12 version?
Please give me know something about this. It's really Important for me.

[2021-07-21 09:25] 030 commented on #2318
What if there a breaking changes?

[2021-07-21 12:19] gaoyangcaiji opened #12762 "Small Object Storage Very Slow,does there has any way to improve the performance?"
My minio version is:Version: 2021-06-17T00:10:46Z
My minio cluster have 4 drivers
My  driver used zfs, 30 device makes one dirver.such as:

here are my zfs speed:
![image](https://user-images.githubusercontent.com/26948255/126484348-ddadd6e7-8ebf-444a-93f5-d2166ff30b89.png)

here are my  uploading a large object  to minio server's speed:
223M/s
here are my  uploading  many small objects  to minio

[2021-07-21 13:03] studna commented on #12404
@harshavardhana We've experienced same issue. We run minio in custom gateway mode with 15k+ buckets (keys and policies stored in etcd). During the bootstrap period minio was ready to handle connections, however it takes like 5-15 mins until IAM config is fully loaded (during this period it's not possible to access API with user keys).

Another issue we had (still have actually) is that the init so

[2021-07-21 13:32] ramazanjusip opened #12763 "Configure block size"
H!

How can I configure block size of data being written to HDD disk?
Does MinIO use HDD disk's preformatted block size?
How can I check which block size MinIO put objects?

[2021-07-21 15:50] #12763 closed

[2021-07-21 15:53] harshavardhana commented on #12762
Do not use ZFS, use XFS and provide single drives directly to MinIO instead of providing single drive.

[2021-07-21 15:53] #12762 closed

[2021-07-21 16:07] harshavardhana commented on #12761
spark-select project is deprecated and not maintained anymore.

There won't be any new additional updates sorry.

[2021-07-21 16:07] #12761 closed

[2021-07-21 17:40] gitwittidbit opened #12768 "Distributed Minio: 1 of 4 nodes hogging cpu and ram"
I have set up distributed minio and all four nodes are up and running. There is no in/out traffic yet. Three nodes are using very little ram and almost no cpu. One node is using a lot ram and a lot of cpu cycles.

## Expected Behavior

I would expect to see more or less no cpu and ram usage on all four nodes (due to no traffic)

## Current Behavior

One node is using a lot ram and a lot of cpu cyc

[2021-07-21 17:43] harshavardhana commented on #12768
Really you haven't shared anything here for us to help you can you provide `mc admin profile` etc?

what your disk here?

[2021-07-21 18:02] ProgrammingPlanet opened #12769 "prefix usage is not supported"
getting this error and some functionalities not working

Error: prefix usage is not supported (*errors.errorString)
       2: cmd/admin-handlers-users.go:1110:cmd.adminAPIHandlers.AccountInfoHandler()
       1: net/http/server.go:2069:http.HandlerFunc.ServeHTTP()

VERSION:
  RELEASE.2021-07-15T22-27-34Z

[2021-07-21 18:04] harshavardhana commented on #12769
This is fixed in master ab7584eeac28cc4cb601e06dd1c759dde0b0dcef

[2021-07-21 18:04] #12769 closed

[2021-07-21 18:10] gitwittidbit commented on #12768
Attached
[profile.zip](https://github.com/minio/minio/files/6857964/profile.zip)

Each node has a separate partition on a local drive mounted into its lxc

[2021-07-21 18:19] ProgrammingPlanet commented on #12769
how to upgrade to fixed this?

because no release for commit ab7584e

[2021-07-21 18:36] alphayan commented on #12769
me too.
I google for hours!

[2021-07-21 19:00] harshavardhana commented on #12769
Wait for the release @ProgrammingPlanet or build from source `go install github.com/minio/minio@master`

[2021-07-21 19:10] harshavardhana commented on #12768
Looks like its the embedded console that is using up all the memory here

[code]

Have you run something from the console? @gitwittidbit

[2021-07-21 19:28] gitwittidbit commented on #12768
Only thing that comes to mind is the diagnostic (out of curiosity - at that time there were no issues I was aware of).

This took ages to complete (and I am not even sure it did complete - as no info was shown - the only change was that the spinning circle was gone after I looked again after a while).

[2021-07-21 19:35] harshavardhana commented on #12768
Yes that has caused the memory usage sent a fix here https://github.com/minio/console/pull/887

[2021-07-21 20:57] harshavardhana commented on #12768
This is fixed here https://github.com/minio/console/pull/887 - will be available in the next release.

[2021-07-21 20:57] #12768 closed

[2021-07-22 01:57] loyalPlayer commented on #11803
I solved it by set env MINIO_CI_CD="ci" before start minio of new version.

[2021-07-22 01:57] loyalPlayer commented on #11803
I solved it by set env MINIO_CI_CD="ci" before start minio of new version.

[2021-07-22 02:22] nathanieloon commented on #12654
@harshavardhana I've got the same issue on macOS, so it seems to be more widespread than windows?

![image](https://user-images.githubusercontent.com/5898957/126582175-302725df-9122-436b-93b8-87bbf72d4368.png)

[2021-07-22 03:43] BoilingWine opened #12774 "Exception: cannot download after uploading the same object name to cover a file smaller than 5M"
I cannot download after uploading the same object name to cover a file smaller than 5M.(< part size)

 when I download the file with sdk or http, returns an error prompt：You did not provide the number of bytes specified by the Content-Length HTTP header   ||  Can't access this website

version：version RELEASE.2021-04-22T15-44-28Z
sdk-java 8.x

[2021-07-22 04:31] harshavardhana commented on #12774
Please provide a more detailed example here @BoilingWine

- we have no idea about your setup - there are no details shared?
- is it consistently reproducible?
- what else is different in your setup?

I just tried locally there is nothing that points me to your issue, also please upgrade to latest to test again.

[2021-07-22 04:31] #12774 closed

[2021-07-22 04:43] BoilingWine commented on #12774
1. three server node, an node with two data node，use nginx as the entrance
2. Always reproduce
3.operation:  there is an file smailler than 5m，than I am uploading an file with the same object name and the size greater than 5m

[2021-07-22 04:47] harshavardhana commented on #12774
@BoilingWine just upgrade this is already fixed.

[2021-07-22 05:38] ctorrisi commented on #12654
@harshavardhana I am having the same issue on macOS.

[2021-07-22 05:38] gitwittidbit commented on #12768
Wow, that was quick - thanks!

Until the next release comes out - is it sufficient to just restart the offending node and not run diagnostics anymore?

[2021-07-22 05:40] harshavardhana commented on #12654
There is an issue with UI asset generation - making a new release now.

This was fixed in b865b9f4 - original issue is different.

[2021-07-22 05:43] harshavardhana commented on #12768
yes that is enough.

[2021-07-22 07:20] furio commented on #12753
Probably you (devs) already know this, but by doing this change => https://github.com/furio/minio/commit/f693a17b4b587cf5334ab9af9f0a25f6c48aa034

It reverts the behaviour to the april build it seems (altough probably is not wanted for non-gateway operations), i suppose if there was a flag to check if we're in gateway mode the old behaviour could be mantained easily. (i think)

[2021-07-22 12:58] zynpsnltrkk commented on #12742
After passing these two environment variables, I fixed the over memory usage.
[code]
For thanos, I upgraded from v0.9.0-rc.0 to v0.11.0-rc.1. so solved the crash situation there.
It looks like there is no problem at the moment. thanks for the support @harshavardhana

[2021-07-22 14:32] harshavardhana commented on #12742
Great 👍

[2021-07-22 14:32] #12742 closed

[2021-07-22 14:59] adamhooper opened #12777 "Copying a file onto itself does not rewrite LastModified"
If I use `CopyObject` with source=destination and metadata-directive=REPLACE, the timestamp of the file should update.

## Expected Behavior

On S3:

[code]

## Current Behavior

Currently, the LastModified of `x` won't change when I replace it with itself.

[code]

## Context

I'm trying to mark objects for deletion at a specific date using lifecycle rules and tags. So I add a tag and overwrite t

[2021-07-22 15:14] harshavardhana commented on #12777
@adamhooper AFAIK CopyObject does not change modTime in AWS S3

[2021-07-22 15:23] adamhooper commented on #12777
@harshavardhana Perhaps this has changed? I copy/pasted my session log and only changed the bucket name.

[2021-07-22 15:25] harshavardhana commented on #12777
Okay will fix it.

[2021-07-22 15:42] #12756 closed

[2021-07-22 18:41] pr0tectors opened #12779 "Backup from Cloudron over Minio dosent work"
I am using Cloudron and from 2 Apps i got only one can be backed up. This worked in the version around "MAI"
But now i always get HTTP 500 Errors

This was MAI 2021 after talking with the Cloudron Programmer

I am using a SelfSigned Certificate
## Current Behavior

Backup to Minio for 1 APP from Cloudron does not Work

## Possible Solution
Trying to debug the backtrace a bit for fun:
https://githu

[2021-07-22 18:42] harshavardhana commented on #12779
Issue seems to be that your disk is dying and returning errors.

[2021-07-22 18:47] pr0tectors commented on #12779
Well testet the External Disk on another Storage and PC works fine

[2021-07-22 19:09] harshavardhana commented on #12779
The error is indicative of a problem in the disk, there is nothing more MinIO can do here.

[2021-07-22 19:11] pr0tectors commented on #12779
So you tell me its the Harddrive where i can copy without issues everything on it? and Backup also other datas from other apps? Makes no sense but well lets se what happens if i change the Disk.

[2021-07-22 19:17] harshavardhana commented on #12779
what is the filesystem being used underneath? does it have LUKS etc?

[2021-07-22 19:25] pr0tectors commented on #12779
/dev/sda1       on  /home/pi/data                    type  fuseblk     (rw,relatime,user_id=0,group_id=0,allow_other,blksize=4096)
no LUKS

[2021-07-22 19:34] harshavardhana commented on #12779
Ah, you are using FUSE? it won't work with MinIO we need to have `fnctl` locking support on the filesystem and I am 100% sure most filesystems based on FUSE do not implement this properly. Other than GlusterFS.

If you are going to go out of your way to use random filesystems it won't work, that's why stick to what we recommend using "XFS"

Closing this issue as out of scope..

[2021-07-22 19:34] #12779 closed

[2021-07-22 21:10] serge-salamanka-1pt commented on #12727
hi, devs! this is really a breaking change for my usage case: i am using temporary docker instances accessable on ports and access service endpoints with `http://host:port/service`
This is very important and now is not possible :(

[2021-07-22 21:54] harshavardhana commented on #12727
For now, it's not supported, we shall try to support it in the future but for now, we do not have the necessary cycles to address it - Sorry.

Feel free to send a PR to https://github.com/minio/console we are happy to accept it.

[2021-07-23 21:03] cs3gallery commented on #12646
I hate to open this issue back up but would like a little more clarification in regards to clustering. How should this be done on a clustered unit? Do we use the domain of each node or the domain that is set under MINIO_DOMAIN variable which is also being used on my reverse proxy? Thoughts?

[2021-07-23 22:28] harshavardhana commented on #12646
MINIO_DOMAIN is meant for Bucket DNS support it has nothing to do with authentication here. You might be confused with something else here..

[2021-07-24 01:28] loyalPlayer opened #12784 "Clean dirty physical file in disk which minio doesn't used anymore."
**Is your feature request related to a problem? Please describe.**
None

**Describe the solution you'd like**
minio cluster of 4 instance. one of them (Let's say it's instance-3) was out of service ever, but it has been recovered now.
the file file1 was removed in minio cluster when instance-3 was out of service.
physical file of file1 in data disk should also be cleaned in instance-3 after instan

[2021-07-24 01:30] harshavardhana commented on #12784
This cleans up either

[code]

We also run auto-healing on a regular basis

[2021-07-24 01:30] #12784 closed

[2021-07-24 01:48] klausenbusk commented on #12537
Was this removed on purpose in https://github.com/minio/minio/pull/12629 ?

[2021-07-24 06:18] loyalPlayer commented on #12784
Thanks a lot! I should spend more time to research by myself, sorry to disturb by this problem of low quality...

[2021-07-24 15:35] haslersn commented on #12586
[minio-problem.txt](https://github.com/minio/minio/files/6872670/minio-problem.txt)

I couldn't upload with extension `.tar`, so I renamed it to `.txt`. It's a tar archive containing 12 files

[code]

where `<server>` ranges from 0 to 2 and `<drive>` ranges from 0 to 3.

[2021-07-24 18:58] harshavardhana commented on #12586
Can you provide the full command line? @haslersn

[2021-07-24 19:00] harshavardhana commented on #12586
@haslersn do you have compression enabled on the objects? in your setup?

[2021-07-24 19:08] harshavardhana commented on #12586
Your actual object version is perfectly fine

- You seem to have objects compressed (i.e enabled server side compression)
- You seem to have enabled versioning on the buckets as well

[code]

And this is in-tact

However you have inconsistent delete markers on the object i.e someone attempted a `DELETE` on the object of course since its versioned bucket it naturally creates a delete marker which i

[2021-07-25 09:19] haslersn commented on #12586
What do you mean? I manually set the file names of the files in the tar, but they're based on the PVC names of the PVCs created by MinIO operator.

I don't think so.

[code]

Encryption is also turned off on the specific bucket.

Yes.

`mc admin heal <object>` doesn't solve the problem. On the specific object the problem got solved automatically (maybe by MinIO's automatic healing), but there are

[2021-07-25 09:31] haslersn commented on #12586
I could solve the problem on an object by deleting the object. Then, undoing the delete and reading the object was also possible (though not required, because the object was probably deleted on purpose).

I suspect the problem appears if an object gets deleted while one of the three servers is down (i.e., 4 of 12 drives down, per pool).

Why are you sure it's not related to the issue here? Should

[2021-07-25 17:44] harshavardhana commented on #12586
Yes there is some weird problem here, this is related to something on delete markers and also delete markers written under quorum (i.e not all shards are written)

The failure is probably because of lack of quorum calculation on such objects and it's incorrect to return such errors.

I will try to reproduce this with latest version of MinIO.

I forgot to ask what is your server version?

[2021-07-25 20:44] haslersn commented on #12586
I upgraded from `RELEASE.2021-04-06T23-11-00Z` to `RELEASE.2021-06-17T00-10-46Z` to  `RELEASE.2021-07-15T22-27-34Z`.

[2021-07-26 05:21] haslersn opened #12787 "Missing delete markers don't get healed"
See https://github.com/minio/minio/issues/12586#issuecomment-886235482

## Expected Behavior

On the drives where the delete marker is missing, it should be added automatically during healing. Also, in the meantime, requests should still be served instead of responded with 503.

## Current Behavior

Error `503 Service Unavailable.` when accessing (e.g., `stat`, `cat`) such an object

## Your Envir

[2021-07-26 05:33] harshavardhana commented on #12787
@haslersn I tried reproducing this with taking down servers - it looks like it's not possible to reproduce with newer objects in a similar situation.

I think there was some release in the past that had this issue i.e it created an inconsistent `xl.meta` for delete markers that caused objects to be not readable.

Would you mind sharing an entire file that is not unreadable in this manner so that I

[2021-07-26 06:45] Champomix opened #12789 "Is there a way to limit object size when uploading in a bucket ?"
**Is your feature request related to a problem? Please describe.**
I m wondering if it is possible to limit the size of an object when uploading in a bucket  with sdk or presigned url ?

**Describe the solution you'd like**
when the object exceed the parametrized size limit (1 Mo for example), the uplod opréation (putObject or PUT/POST HTTP) would return a error with a message saying that the limi

[2021-07-26 06:46] #12789 closed

[2021-07-26 06:47] harshavardhana commented on #12653
This is sufficiently handled right now, the problems in warp also need to be fixed independently such that it doesn't send a lot of `list` requests across buckets independently to heal.

[2021-07-26 06:47] #12653 closed

[2021-07-26 07:19] haslersn commented on #12787
Here's a full object (file format is again TAR): [minio-problem.txt](https://github.com/minio/minio/files/6876283/minio-problem.txt)

[2021-07-26 13:48] nitisht opened #12792 "lambda notification using kafka authN error"
## Expected Behavior
Kafka with authN/authZ works with MinIO

## Current Behavior
Configure MinIO like

[code]

Configure Kafka like

[code]

Kafka error

[code]

## Possible Solution
NA

## Steps to Reproduce (for bugs)
See Above

## Your Environment

* Version used (`minio --version`): `2021-07-12T02:44:53Z`

[2021-07-26 14:19] georglauterbach opened #12793 "Settings alias works, but then using it doesn't"
Note: I was trying to find something about this in the docs. #7936 is the same error, but I checked that the `passHostHeader` is enabled.

I'm using MinIO `RELEASE.2021-07-22T05-23-32Z` with Authelia as my OIDC provider. When I try to set an alias with

[code]

it works, but then, using it doesn't:

[code]

## Expected Behavior

I should see my buckets.

## Current Behavior

Authentication does no

[2021-07-26 18:05] harshavardhana commented on #12787
Thanks will get back @haslersn

[2021-07-26 18:21] harshavardhana commented on #12793
@georglauterbach looks like cloudflare is sending requests to MinIO - I am not sure how much the domain is persisted here.

When it says "passHostHeader" are you able to confirm that this is correct? and its preserving the incoming host?

[2021-07-26 20:07] georglauterbach commented on #12793
I have tested the headers with the `docker.io/traefik/whoami:latest` image where I can see the headers. This is the result:

[code]

[2021-07-27 00:33] Rush commented on #4364
I have a question regarding the docs:

Does it mean that old files will not get erasure coding benefits of the expanded nodes?

I would like to all files (both new and old) to have erasure codes spread across all disks.

[2021-07-27 00:35] Rush commented on #4364
Oh I think I can answer myself. The documentation refers to clusters which are picked up with the three-dots `...` syntax. Clusters have independent erasure code sets.

[2021-07-27 01:36] harshavardhana commented on #12586
This also should be fixed with a whole bunch of fixes done here

- remove short-circuited healing optimization (#12796) (07/26/21) (Harshavardhana)
- fix: avoid removing healed parts on dstDataPath (#12795) (07/26/21) (Harshavardhana)
- improve delete-marker healing (#12794) (07/26/21) (Harshavardhana)
- add healing fixes for delete-marker (#12788) (07/26/21) (Harshavardhana)

[2021-07-27 01:36] #12586 closed

[2021-07-27 06:23] smanglapanw opened #12798 "Minio memory consumption keeps increasing."
I am performing a write load test on minio.  Minio version:- minio/minio:RELEASE.2021-07-15T22-27-34Z

1) trying with file size of 400 KB file to be written in memory
2) using the locust tool for load testing.
3) Minio memory consumption keeps increasing even on very small rps e.g. 7 or 8
4) Ran the load test for 1 hour.
memory usage of minio reached from 125 MB to 3.5 GB
5) start with a fresh min

[2021-07-27 06:46] 030 opened #12799 "Docker image contains some duplicated files according to dive"
We run wagoodman/dive in our pipeline and it seems that some files are duplicated in the Dockerfile.

[code]

[2021-07-27 06:49] 030 opened #12800 "Last user should not be root in the Dockerfile"
[code]

[2021-07-27 06:51] harshavardhana commented on #12800
@030 run as `docker --user` - we can't change the user in the Dockerfile anymore.

[2021-07-27 06:51] #12800 closed

[2021-07-27 06:53] harshavardhana commented on #12799
MinIO docker container is based on RedHat UBI image there is nothing we can do to purge these entries.

Nothing to do with MinIO containers they are fine as is.

[2021-07-27 06:53] #12799 closed

[2021-07-27 12:15] hoyho opened #12803 "verify bucket policy and IAM policy"
As I check at the policy implementation, I find the verify function here `isPutActionAllowed` in PutObject API:
https://github.com/minio/minio/blob/471b4fd0c93e0ec7e80018273e73f775dda67561/cmd/auth-handler.go#L655
It check the bucket policy(via globalPolicySys) only when AccessKey is empty. Although it also do a check on IAM policy later.
My question is why it only check bucket policy when AccessK

[2021-07-27 15:04] harshavardhana commented on #12803
Bucket policies are only meant for anonymous access.

[2021-07-27 15:04] #12803 closed

[2021-07-27 16:08] milanbalazs opened #12806 "SSL problem during Python client connecting to MinIO in Docker."
I have a complex docker-compose system which contains a `MinIO` service. I am using `HTTPS` protocol and it works as expected on my server but I cannot connect to `MinIO` with `Python` client (`SDK`).

**My MinIO service section in my `docker-compose.yml` file:**

[code]

I have generated the Cers with [CertBot](https://certbot.eff.org/).

**My Python client:**

[code]
**The getting error:**

[cod

[2021-07-27 16:45] haslersn commented on #12787
With the new release `mc admin heal -r <object>` works. But if the object is not yet healed, there's still the error `503 Service Unavailable.`. Would be cool if that gets fixed, too.

[2021-07-27 17:00] harshavardhana commented on #12787
We cannot unfortunately @haslersn you are advised to do `mc admin heal -r`

[2021-07-27 19:21] lsraj opened #12807 "minio gateway nas mode with etcd - bucket events to webhook target does not work."
I have started minio (July 22 release) in gateway nas mode with etcd as below.

[code]

I dont see any issue in server mode.

[2021-07-27 19:32] harshavardhana commented on #12807
You can't do it like this

[code]

You need to use environment values

[2021-07-27 19:56] lsraj commented on #12807
Here is what I have done (followed along https://github.com/minio/thumbnailer).

[root@raj-440 thumbnailer]# cat config/webhook.json
{
  "config": {
    "endPoint": "172.22.12.61",
    "port": 9003,
    "secure": false,
    "accessKey": "minio",
    "secretKey": "minioSecret",
    "bucket": "images",
    "destBucket": "images-processed",
    "prefix": "",
    "suffix": ".jpg",
    "events": [

[2021-07-27 20:27] lsraj commented on #12807
I made another attempt by setting env vars. etcd endpoint up. webhook endpoint up. Unfortunately this continue to fail.

[code]

[2021-07-27 21:03] harshavardhana commented on #12807
This will not work @lsraj in gateway you need to just use env variables and `mc event add` to enable the notifications that's all.

[2021-07-27 21:09] harshavardhana commented on #12807
As you can see its already configured you just need to use it on the buckets

[2021-07-27 21:10] #12807 closed

[2021-07-27 21:46] VinceAdamo opened #12809 "Support array when validating JWT token audience"
**Is your feature request related to a problem? Please describe.**
With the most recent update, you started validating the JWT token audience (by checking if it matches the OpenID Client ID provided). However, this isn't working for my setup because my JWT audience is an array (with more than one audience).

**Describe the solution you'd like**
I was just wondering if it would be possible to add a

[2021-07-27 21:56] harshavardhana commented on #12809
@VinceAdamo why do you have multiple audience if token is meant for a single service such as MinIO?

[2021-07-27 21:59] VinceAdamo commented on #12809
My auth provider (Auth0) adds the extra audience in case I need extra information about the user the token was issued to. I don't use it, but there is no way to remove it from the token.

[2021-07-27 22:11] harshavardhana commented on #12809
How is that possible I use auth0

[code]

There is no secondary audience, are you sure you don't have two different clients associated with the same setup?

[2021-07-27 22:13] harshavardhana commented on #12809
We can definitely add array support but it feels weird that there are multiple audiences for MinIO's callback URL as it shouldn't be.

[2021-07-27 22:36] VinceAdamo commented on #12809
Basically I have a client application that requires user login to get an access token for my api. The api connects to minio via python for file storage. The audience parameter in the `/authorize` endpoint that Auth0 provides is suppose to contain the auth api url, and that is what is embedded in the jwt token. When the users make requests, I use this same access token for minio. It would usually o

[2021-07-27 22:41] VinceAdamo commented on #12809
The `aud` claim in my token looks like this:
[code]

The first value in the array is the actual auth api that I am using as my audience. The second is the one that auth0 adds. If you inspect a jwt you get from auth0 you should see a similar audience value being used (with `/userinfo`).

[2021-07-27 23:13] smanglapanw commented on #12798
@harshavardhana , attached the profile dump , which I took during running of the same test.
[Uploading profile.zip…]()

[2021-07-27 23:14] puneettrehan commented on #12798
@harshavardhana I work with @smanglapanw. Can you please help answering some questions?
1. We are looking to support 400 rps read, 400 rps write simultaneously on our cluster.
2. Avg data we are reading and writing if 1MB per request.
3. We are facing 2 issues. On Write tests as @smanglapanw  mentioned we are seeing memory keep growing even when concurrent writes are ~8.
4. Another issue we are fa

[2021-07-27 23:28] smanglapanw commented on #12798
[
[Uploading profile.zip…]()
](url)

[2021-07-27 23:46] lsraj commented on #12807
This worked. Thanks @harshavardhana. Few things to notice and consideration for fixing.
`minio in server mode` does not necessarily need setting `MINIO_NOTIFY_WEBHOOK_ENABLE` and `MINIO_NOTIFY_WEBHOOK_ENDPOINT` env before starting the server - client `mc` does that magic. The advantage of this approach,  no interruption to running server. Where as `minio gateway nas` shall need these variables sin

[2021-07-27 23:53] harshavardhana commented on #12809
@VinceAdamo I am quite surprised for me

[code]

Looks like you are using incorrect tokens with MinIO how are you getting the tokens?

[2021-07-27 23:55] harshavardhana commented on #12809
I think your application is wrong you are seeing us (MinIO) access tokens instead you should be sending us id_token

[2021-07-27 23:56] harshavardhana commented on #12807
Yes it is not required - etcd is needed for IAM i.e if you want STS, Multi-users, LDAP support

[2021-07-27 23:57] harshavardhana commented on #12807
It is different because it's NAS gateway and we really don't want to encourage usage of the NAS gateway usage in perpetuity. You have a legacy requirement fine, use it.  But don't expect everything to work with NAS gateway.

[2021-07-27 23:58] harshavardhana commented on #12798
Doesn't seem like profile was uploaded.

[2021-07-28 00:00] harshavardhana commented on #12798
is the python client running on the same server as MinIO?

[2021-07-28 00:07] VinceAdamo commented on #12809
Oh yeah I’m sending access tokens. ID tokens typically aren’t used to gain access to a resource though, just to provide information about the user. I prefer using access tokens for this purpose, although I guess I can start requesting ID tokens and use those. Just wondering, is there a reason you’re using ID tokens vs access tokens?

[2021-07-28 00:08] VinceAdamo commented on #12809
Also, just to let you know, your docs say to provide an access token, which is what caused confusion I think.

[2021-07-28 00:09] harshavardhana commented on #12809
id_tokens are the ones you need to use - access_tokens are opaque values it is just that OpenID spec is not very specific about access_token being JWT. That's why you are confused.

MinIO is the service provider that needs to use id_token to validate the token we can't use access_token since we do not talk to userinfo endpoint we need a token that is fully self-describing.

Its not what you prefer

[2021-07-28 00:13] harshavardhana commented on #12809
We clearly mention this here

https://github.com/minio/minio/blob/master/docs/sts/web-identity.md#authorization-flow

access_tokens are meant for API access on IDP providers such as access_token can be used to access auth0 admin APIs.

MinIO is not an entity that knows how to deal with `access_tokens` - we know how to handle `id_token`

[2021-07-28 00:14] smanglapanw commented on #12798
no, we are sending the request through locust. Though locust and minio are in same namespace.

[2021-07-28 00:15] smanglapanw commented on #12798
[Uploading profile.zip…]()

[2021-07-28 00:16] harshavardhana commented on #12809
But FWIW I sent a PR to handle more scenarios that confused users don't have to split hairs figuring this out since clearly, Auth0 took a broken approach of sticking JWT onto access_token.

OpenID spec as-is - is terribly written, wonky on details, and allowing myriad's of implementations that confuse the heck out of developers.

[2021-07-28 00:20] harshavardhana commented on #12798
Still not there try putting the profile to `mc cp profile.zip play/testbucket/profile-github12798.zip`

[2021-07-28 00:25] smanglapanw commented on #12798
@harshavardhana , copied the profile.zip to above mentioned bucket.

[2021-07-28 00:34] VinceAdamo commented on #12809
You also mention this though:

https://github.com/minio/minio/blob/master/docs/sts/web-identity.md#api-request-parameters

I've been using access_tokens to access my apis based on what Auth0 says here: https://auth0.com/docs/tokens

But yeah, it definitely could be more clear. It makes more sense to use `id_token` here anyways. Wish that there was a more clear set of specs for OpenID as it seems e

[2021-07-28 00:44] harshavardhana commented on #12798
Looks like from the profile you are using an older version of MinIO

We do not have this package anymore in our repo anywhere and it's only used by `madmin-go` API for only specific requests so will show up only in `mc` not on the server.

There are also listing operations that seem to be spending time in allocation here, perhaps your application is doing a lot of listing operations?

Active in-us

[2021-07-28 00:50] puneettrehan commented on #12798
@harshavardhana we are using this image version minio/minio:RELEASE.2021-07-15T22-27-34Z.

Does it has to do anything with client sdk?
Our minio image seems fairly new.

[2021-07-28 01:37] #12809 closed

[2021-07-28 03:08] RysisLiang commented on #12112
Hello, I have the same problem. Is there a solution now?

Steps：
- docker run -d \
  -p 9500:9000 \
  -p 9501:9001 \
  -e "MINIO_ROOT_USER=xxx" \
  -e "MINIO_ROOT_PASSWORD=xxx" \
  --name minio1 \
  minio/minio server /data --console-address ":9001"
- mc admin config import localS3 < mycfg.txt    -- result -> mc: <ERROR> Unable to set server config: not connected to target server/service.

[2021-07-28 03:09] evt-byte commented on #11239
@gitlawr @harshavardhana I have the same problem, the version is minio-RELEASE.2021-04-22T15-44-28Z, No such host problem is how to solve?

[2021-07-28 03:15] harshavardhana commented on #11239
@evt-byte This issue has been resolved - please open a separate issue with some setup details. What you are indicating here is unrelated..

[2021-07-28 03:18] harshavardhana commented on #12798
100% guaranteed that you are not running latest from the profile output. My suggestion tear down the setup and freshly deploy and test again..

[2021-07-28 05:17] puneettrehan commented on #12798
@harshavardhana You were right. Our image was older on this cluster. We were using.minio/minio:RELEASE.2021-03-10T05-11-33Z

Can you please suggest that what could be reason for read failure at high RPS?
At 400 rps starts failing. Approx 33% reads are failing with exception
No such file or directory: 'read_1Mb.txt.b6d81b360a5672d80c27430f39153e2c.part.minio' -> 'read_1Mb.txt'
We are using python c

[2021-07-28 05:50] harshavardhana commented on #12798
Please upgrade.

This is client side failure something to do with minio-py can you share the code ?

[2021-07-28 06:55] harshavardhana commented on #12798
Please open a new issue, I don't think there is any issue here at the moment please upgrade and test. Closing this issue.

[2021-07-28 06:55] #12798 closed

[2021-07-28 07:54] Dynkine opened #12812 "Replication doesn't complete for big files"
When upload big file ~13GB replication does not completes and multipart folder grows until takes all disk space (up to five times size of a size of the file)

When upload smaller files (750Mb , 2.5GB ) replication works as expected without any issue.

## Expected Behavior

I expect file to be replicated with the same size as on master node

## Current Behavior

/mnt/minio/data0/.minio.sys/multipar

[2021-07-28 07:55] harshavardhana commented on #12812
how much disk space do you have @Dynkine ?

[2021-07-28 07:57] Dynkine commented on #12812
Hi @harshavardhana
I increased the disk on replica up to 100G  - it takes it all

[2021-07-28 08:03] Dynkine commented on #12812
![Screenshot at Jul 28 11-02-22](https://user-images.githubusercontent.com/47038017/127286707-fe55dee6-60bc-4c88-b92f-6a98ff9b6d0b.png)

[2021-07-28 08:06] Dynkine commented on #12812
![1](https://user-images.githubusercontent.com/47038017/127287157-cc8877e1-5d26-45f8-86f5-7c6740e43af4.png)

[2021-07-28 08:07] Dynkine commented on #12812
@harshavardhana on a screenshot you can see the master node on the left side and the replica node on the right.

[2021-07-28 08:17] Dynkine commented on #12812
At some point an error appears in the logs on a  source node

Jul 28 08:11:57 hostname[35964]: Error: Unable to replicate for object abc/logs_snapshot.tar.xz(4caa4790-f46f-4f0e-a461-4d29f19c4dc9): Put "http://192.0.2.12:10000/abc/logs_snapshot.tar.xz?partNumber=2423&uploadId=26f35f2b-cd39-4c96-8ae0-9e299774f379": readfrom tcp 192.0.2.11:58472->192.0.2.12:10000: context deadline exceeded (*errors.e

[2021-07-28 08:22] georglauterbach commented on #12793
I can confirm that this has something to do with OIDC again. I tested the root user (had to rename it, because I had a name clash with an OIDC user) and this seems to work (with Cloudflare and Traefik). However, user supplied by my OIDC provider do not seem to work with the `mc` client. What's more: When I log in to console, even though some users have the `consoleAdmin` role / policy set, they ar

[2021-07-28 08:33] georglauterbach commented on #12793
I also noticed that the logs say that server side encryption is not enabled. This is not related to this issue, isn't it? How can I turn this off? I do not want to use SSE.

[2021-07-28 09:40] vadmeste commented on #12812
@Dynkine MinIO server is supposed to retry to replicate that object later, could you stat the object in the source bucket and paste it here ?

[2021-07-28 09:50] Dynkine commented on #12812
@vadmeste Yes, you are right. It indeed continued replicating.
I tried to upload this file again now and it finally finished replicated

[code]

However, in the process of replication the used space grew up to three times of the source . 5GB per disk on the source - 13GB per disk on the target host. It reduced to expected 5GB after replication completes. But for 25GB space (considering erasure cod

[2021-07-28 12:32] Pastel001 opened #12816 "login fail (original error -> (user_login.go:50: invalid Login))"
## Steps to Reproduce (for bugs)
1.wget https://dl.min.io/server/minio/release/linux-amd64/minio
2.chmod 755 minio
3./minio server --console-address ":9001" /home/minio/data

4.login url : http://10.170.136.206:9001/login
username and password both  minioadmin
![图片](https://user-images.githubusercontent.com/10250772/127322558-e3d741ec-7db8-457e-93ac-805d19772825.png)
log output like this
![图片](htt

[2021-07-28 12:41] Pastel001 commented on #12816
request body:{"accessKey":"minioadmin","secretKey":"minioadmin"}
response:{"code":401,"message":"invalid Login"}

[2021-07-28 12:41] geilepaste opened #12817 "Server should not set X-Frame-Options"
## Expected Behavior
The MinIO server should not per default set the header `X-Frame-Options: deny` for regular S3 requests, e.g. presigned URLs as it breaks setups that display contents in iFrames

## Current Behavior
The server automatically sets `X-Frame-Options: deny` on all S3 presigned URL GET requests.

## Possible Solution
Make this particular header configurable or do not set it per defau

[2021-07-28 12:56] vadmeste commented on #12816
@Pastel001 I am not able to reproduce with the latest MinIO version, RELEASE.2021-07-27T02-40-15Z, could you try with it ?

[2021-07-28 14:08] kolevgeorgie commented on #12812
Similar issue here, but without the increased size. Uploads on smaller files replicate without any issue, anything larger than 5GB can take hours. The two servers share 10G connection which when tested with iperf shows ideal performance.

Error log:
[code]

[2021-07-28 14:29] tdewin commented on #12816
Similar issue here with the variables being set MINIO_ROOT_USER & MINIO_ROOT_PASSWORD, will try with an older version

[2021-07-28 14:36] #12777 closed

[2021-07-28 14:39] harshavardhana commented on #12812
This is not a similar issue the issue you have it 5GiB object is your network is not optimal. There is a top level context timeout that is canceling the request.

This needs to be fixed to ensure that a longer time is taken if needed to replicate when you have shoddy cross DC networks.

[2021-07-28 14:41] kolevgeorgie commented on #12812
Thanks for the reply. Do you mean fix for minio that has to be made or configuration we need to make from our end?

[2021-07-28 14:41] harshavardhana commented on #12812
Because of your network you have a shoddy setup, each parts timeout, again and again retry leading to incomplete parts build up.

On top of that you don't have sufficient drive space you are running some toy setup to test all of this.

We will check what is the actual problem with context timeout here.

[2021-07-28 14:42] harshavardhana commented on #12812
We need to see why there is a context timeout.

[2021-07-28 14:54] Dynkine commented on #12812
What do you mean by "shoddy setup"? It is the default one I guess.
How we can improve it?

I think 100 GB drive is more than enough to replicate 13 GB file, even considering the erasure code growth.

[2021-07-28 15:16] mieseprem opened #12819 "Login with SSO: Client secret not provided in request"
We try to upgrade our MinIO version from RELEASE.2021-06-17T00-10-46Z. We face two issues with ALL versions after RELEASE.2021-06-17T00-10-46Z. We are aware of the breaking change regarding the embedded console service.

Our upgrade steps included:
* added "--console-address ':9002'" to ...minio server... command line in entry point script
* added MINIO_BROWSER_REDIRECT_URL and MINIO_SERVER_URL en

[2021-07-28 15:29] mieseprem commented on #12819
I am aware of #12816 but it doesn't seem related to this issue for me. That's why I opened a new issue.

[2021-07-28 15:32] puneettrehan commented on #12798
@harshavardhana this is the script.  We are using minio client document.

[Uploading locustfile.py_read.zip…]()
[Uploading locustfile.py_read.zip…]()

[2021-07-28 15:47] harshavardhana commented on #12819
We do not support Implicit Flow anymore please provide, we only support AuthorizationFlow.

[code]

[2021-07-28 15:47] #12819 closed

[2021-07-28 15:54] harshavardhana commented on #12816
@vadmeste you can see from the screenshot they have a proxy configured on the system that is reply back as HTML instead of `<AssumeRoleResponse>`

Do verify make sure to run `mc admin trace alias/` and try logging in. If there is no request seen by MinIO that means you have something else running on port 9000 or some other proxy that is blocking it.

@tdewin can you share your server logs.

[2021-07-28 15:56] harshavardhana commented on #12798
Again your uploads are not working - I can't access the code @puneettrehan please upload it to `play/` and tell us where it.

[2021-07-28 15:57] #12817 closed

[2021-07-28 16:02] harshavardhana commented on #12812
Bring better hardware and network speeds. It's ridiculous to expect replication to work under such stressed environments and then complaining that you are running out of disk space.

If you wish to test like this there is nothing I can do to help you, this is not a serious deployment. If you claim this is just for testing - even for testing you should bring hardware that is close enough when you s

[2021-07-28 16:04] harshavardhana commented on #12793
I think you are superbly confused here - with OIDC you can't create users on MinIO all your users are external.  You can only create "Service Accounts" not users.

`mc` doesn't directly support OIDC users - I do not know how you would have used it other than generating STS credentials (with expiry) and set `MC_HOST_temporary=...`

AFAICS there is nothing wrong with your setup - you are just confus

[2021-07-28 16:25] puneettrehan commented on #12798
@harshavardhana this is the script.  We are using minio client document.

@harshavardhana uploaded to play/testbucket/read-github12798.zip

[2021-07-28 16:26] poornas commented on #12812
Did you set any bandwidth throttling while setting up the remote target? Can you share the output of ` mc admin bucket remote ls sourceAlias/bucket --json`

[2021-07-28 16:28] Dynkine commented on #12812
I wonder how did you come to the conclusion about my servers configuration? I never mentioned it here, thus I can't imagine what your assumptions are based on.

My network is 10Gbit/s , it should definitely  be enough. As well as my servers are not laptop.

@harshavardhana I don't know why are so aggressive. This is not professional saying the least. If you can't give any useful answer better pass

[2021-07-28 16:36] Dynkine commented on #12812
I did to 1 Gbit. I will post the output later, when get to laptop

[2021-07-28 16:54] poornas commented on #12812
This is the reason you see context cancellation - 1Gbit is shared by all traffic to this bucket and slowing the replication. You should increase this limit significantly to avoid the repeated attempts at replication.

[2021-07-28 18:20] prasanna3000 commented on #2737
I am facing a similar issue. When I listed all the uploads, I can see my file in the uploads list but the completeMultiPart is giving
`The specified upload does not exist. The upload ID may be invalid, or the upload may have been aborted or completed` response.

I am not listing the uploads immediately after uploading.

Here is the code I am running
`
        const bucketName = nconf.get('AWS_BUCK

[2021-07-28 18:41] Dynkine commented on #12812
There is no any additional traffic to this bucket. Moreover this is the only bucket on this minio server.
I will try to increase the bandwidth limit for testing purposes , however it sounds really weird to use all available network bandwidth in to replicate one file.

[2021-07-28 19:58] EBallou commented on #12756
is this related to Can not authorized to the GUI #871 ?

[2021-07-28 21:07] harshavardhana commented on #12798
[code]
You seem to be reading the same file again and again what is the purpose of this script? - of course, this can race because there is no locking involved from your end locally.

`fget_object()` tries to download as `.part` file and renames this part file, it can fail since the object is same and the Etag will be same concurrent operations can run over each other.

This looks like an implemen