[2022-08-15 06:15] ftx0day commented on #15535
If I  follow the new guidelines on using ellipses, will the data in it be affected? For example, if I change each IP node to a domain name node.

[2022-08-15 06:18] ftx0day commented on #15535
If I follow the new guidelines on using ellipses, will the data in it be affected? For example, if I change each IP node to a domain name node. @harshavardhana

[2022-08-15 07:01] maslow commented on #15537
OK, I replace the bitnami image with minio official image `minio/minio:RELEASE.2022-08-13T21-54-44Z`, and the new target cluster yml:

[code]

[2022-08-15 07:15] klauspost commented on #15536
Why do you want to compress only file types that cannot be compressed?

[2022-08-15 07:23] ArcherTrister commented on #15536
@klauspost
I don't think this is the cause of compression opening failure, because I started successfully with the `mc` client.

[2022-08-15 09:01] maslow commented on #15537
I have create a repo-demo could re-produce this case:
https://github.com/maslow/experiment-minio-site-replication

[2022-08-15 09:17] winyluo opened #15538 "How to use Iceberg to operate minio?"
How to use Iceberg to operate lakefs like work with hadoop?

[2022-08-15 09:27] harshavardhana commented on #15536
Compression will not be applied to objects that are already compressed @ArcherTrister

[2022-08-15 09:28] harshavardhana commented on #15535
Yes it will be affected, it is practically a new setup.

[2022-08-15 09:46] ftx0day commented on #15535
Thank you, I will upgrade after verification.

[2022-08-15 10:05] harshavardhana commented on #15537
@maslow you can't use ETCD-based bucket federation with site replication for now. That is not supported - that's why it's not working.

Because when etcd is enabled you need to use the same central etcd with bucket federation (legacy) - if not you should enable `MINIO_ETCD_PATH_PREFIX` to let MinIO know that its not federation and etcd is namespaced specifically under different prefix.

[2022-08-15 10:05] #15537 closed

[2022-08-15 11:28] ArcherTrister commented on #15536
OK, maybe I didn't make it clear. This configuration is exactly the same as the document, but the problem I encountered is that the compression status is not enabled.
![image](https://user-images.githubusercontent.com/35516482/184627398-72a8ab38-72a3-499f-b0e2-973cd48d0e80.png)

[2022-08-15 14:54] harshavardhana commented on #15536
Environment variables do not change the values on the `config` entries i.e  your env is honored as shown by the

[code]

So this is expected.

[2022-08-16 01:25] ArcherTrister commented on #15536
![image](https://user-images.githubusercontent.com/35516482/184777264-86a6cc75-f084-4f93-8ee5-a85b45c24824.png)

![image](https://user-images.githubusercontent.com/35516482/184776784-1cc42c9c-d4ba-43c2-8705-6bfcdbcfeb50.png)

OK,This is expected,but I have uploaded the file. The size of the file on the server is the same as the size of the local file. Is this normal?

[2022-08-16 09:29] thenamehasbeentake opened #15541 "Files part.x are missing but keep printing logs of content hash does not match"
## NOTE

Files part.x are missing but keep printing logs of content hash does not match

## Expected Behavior

## Current Behavior

keep printing logs for the same part.x file "content hash does not match" hash, but the part.x file doesn't exist
almost one log per second

[code]

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.
I don't know, but only one of four nodes ha

[2022-08-16 14:05] harshavardhana commented on #15541
@thenamehasbeentake you need to upgrade.

[2022-08-16 14:05] #15541 closed

[2022-08-16 14:17] harshavardhana commented on #15536
Yes it is expected, the size that is being displayed is not the size that is stored. To know that it's compressed you need to look at some internal metadata that we do not expose via S3 APIs.

For S3 compatibility we can't change the actual size of the incoming object. Compressed size can never be displayed.

[2022-08-17 12:02] xiaopengcn opened #15544 "Bad digest: Expected xxx does not match calculated xxx (hash.BadDigest)"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior
Upload success

## Current Behavior
I'm running minio on a k8s cluster with 4 nodes, and using java sdk to upload video or image, but sometimes i got this error:
[code]
and i just don't know why, because it's not failed everytime...

## Possi

[2022-08-17 15:36] harshavardhana commented on #15544
@xiaopengcn custom code compiled binaries are not supported

Do not use go1.17 use go1.18 .

Now beyond that the issue is simply your client is miscalculating the md5 here.

[2022-08-17 15:36] #15544 closed

[2022-08-18 00:36] xiaopengcn commented on #15544
thanks for the reply, but i didn't do the calculating, the minio sdk did, how is that happened? @harshavardhana

[2022-08-18 01:57] harshavardhana commented on #15544
I don't know looks like a bug in the client.

[2022-08-18 03:56] sjdrc commented on #15423
@harshavardhana I'm unable to deploy a disk caching gateway to another minio instance with the current chart - it looks like this has already been deprecated? Is there a way I can run minio in edge mode to allow for the disk caching use-case currently?

[2022-08-18 04:24] xiaopengcn commented on #15544
Could it be sdk version mismatch problem? I used v8.2.1

[2022-08-18 09:01] zakiharis opened #15547 "Error: Error(file is corrupted) reading erasure shards"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior
no file corrupted error

## Current Behavior
Got this error when minio start. even on fresh start. Basically I just Run Standalone MinIO on Docker.

[code]

## Possible Solution
not so sure on this

## Steps to Reproduce (for bugs)

1. Nuke /

[2022-08-18 11:25] djerryz opened #15548 "how to disable X-Frame-Options in header when access from local"
Is there a easy way(with command) to remove X-Frame-Options header , so i can iframe it in my website.
i don't know why quest minio console from localhost still set `X-Frame-Options: DENY`,  difficult to iframe console page.
And localhost should be a trusted domain source, not necessary force DENY.

[2022-08-18 12:22] harshavardhana commented on #15547
This looks like some drive level issue, you can simply purge the .minio.sys/

We have been running standalone on regular disks without any problems. Mostly looks like your docker volume is corrupted here.

Also please upgrade to latest.

[2022-08-18 12:22] #15547 closed

[2022-08-18 13:06] harshavardhana commented on #15548
X-Frame-Options is set to SAMEORIGIN - not sure which version you are using. Please use the latest releases.

[2022-08-18 13:06] #15548 closed

[2022-08-18 13:07] harshavardhana commented on #15423
We do not allow new gateway deployments anymore, if you were already using it will continue to work but not new deployments.

[2022-08-18 16:56] djerryz commented on #15548
thanks, my version is 2022-01-04T07:41:07Z,  latest releases is helpful!

[2022-08-18 17:34] jdheyburn opened #15550 "Support for prefixing console with reverse proxy path"
**Is your feature request related to a problem? Please describe.**

I'm looking to see if its possible to have my minio instance behind a reverse proxy, both the server and the console, at the same domain.

I'd like to have my server available at `https://minio.example.com`, and the console at `https://minio.example.com/ui/`.

I'm aware that minio supports path-style requests such that `https://mi

[2022-08-18 17:36] harshavardhana commented on #15550
You need to just says `MINIO_BROWSER_REDIRECT_URL=http://minio.domain.com/console`  @jdheyburn

[2022-08-19 03:14] Romeo84 commented on #15520
Hi. I've updated minio to the latest version
minio version RELEASE.2022-08-13T21-54-44Z (commit-id=49862ba3470335decccecb27649167025e18c406)
but the error in logs still remain

[code]

[2022-08-19 08:02] harshavardhana commented on #15520
You should purge the folders here first rm -rf `/.minio.sys/buckets/enfc/.metacache`

[2022-08-19 08:47] klauspost commented on #15520
This indicates another problem on your system and should not be hidden. Are you running out of disk space?

[2022-08-19 08:56] Romeo84 commented on #15520
I've purged minio cache - but unfortunately that don't help...

Here are current logs

[code]

[2022-08-19 08:56] Romeo84 commented on #15520
And I have 350Gb free disk space.

[2022-08-19 09:51] Romeo84 commented on #15520
And message for administrator: Could You please remove "fixed" label from this issue. Thanks

[2022-08-19 14:25] harshavardhana commented on #15520
What kind of disk filesystem is under use here ?

[2022-08-19 18:20] djerryz opened #15557 "about X-Frame-Options"
check this comment:
https://github.com/minio/minio/issues/15548#issuecomment-1219720652

[2022-08-19 19:33] #15557 closed

[2022-08-22 09:41] udf2457 opened #15563 "EOF on creating new policy in GUI"
I am getting EOF when attempting to create a new policy in the GUI.  Am logged in as  `MINIO_ROOT_USER`.

Other than the issue at hand, I might point out that simply erroring `EOF` with no context is not a helpful error !

<img width="1050" alt="Screenshot 2022-08-22 at 10 38 39" src="https://user-images.githubusercontent.com/6958684/185890954-35269a77-5b10-425b-b7af-c29ada3fbc9b.png">

## Your En

[2022-08-22 12:22] klauspost commented on #15487
Yes, upgrade.

[2022-08-23 07:13] roeelavi opened #15566 "Unable to update minio on docker container"
## Expected Behavior
Updating a minio docker container will work smoothly
## Current Behavior
After updating to a newer version Minio is not functioning (actions like downloading files or mirroring makes the container crash

## Possible Solution
steps to update Minio in an alternative way

## Steps to Reproduce (for bugs)
Trying to update a container on "minio version RELEASE.2021-06-17T00-10-46Z"

[2022-08-23 08:14] harshavardhana commented on #15566
please share more information here @roeelavi

[2022-08-23 08:35] Vince-Orcadt opened #15567 "use gdb to debug minio report Dwarf Error: wrong version in compilation unit header (is 0, should be 2, 3, or 4)"
inio]# gdb minio
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-120.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as

[2022-08-23 08:45] harshavardhana commented on #15567
This is not how you debug Go-based programs @Vince-Orcadt - not sure what you are trying to do but this is not something that will work with Go-based programs such as MinIO.

[2022-08-23 08:45] #15567 closed

[2022-08-23 11:51] Cong-Lee opened #15569 "minio operator was applyed in single kubernetes node,but one operator pod is aways pending..."
## Current Behavior
kubectl minio init \
--console-image=af.hikvision.com.cn/docker-bigdata/minio/console:v0.19.5 \
--default-kes-image=af.hikvision.com.cn/docker-bigdata/minio/kes:v0.20.0 \
--default-minio-image=af.hikvision.com.cn/docker-bigdata/minio/minio:RELEASE.2022-05-08T23-50-31Z.hotfix.5c13750dd \
--image=af.hikvision.com.cn/docker-bigdata/minio/operator:v4.4.28 \
--default-console-image=

[2022-08-23 17:18] binnie268 opened #15572 "Getting 500 Internal Server Error when trying to use s3 zip feature minio-go"
## NOTE
All GitHub issues are addressed on a best-effort basis at MinIO's sole discretion. There are no Service Level Agreements (SLA) or Objectives (SLO). Remember our [Code of Conduct](https://github.com/minio/minio/blob/master/code_of_conduct.md) when engaging with MinIO Engineers and the larger community.

For urgent issues (e.g. production down, etc.), subscribe to [SUBNET](https://min.io/pri

[2022-08-23 18:05] segator opened #15573 "runtime error: index out of range when site repication configuration"
## NOTE

Created 3 Minio single node helm installs with **MinIO VERSION  2022-08-13T21:54:44Z**

when creating site replication from the only minio with a bucket created I got this error in minio logs(the one I trigered add replication from console UI

[code]

Site replication config
![image](https://user-images.githubusercontent.com/2348131/186232034-19a7ea24-62d5-4887-8f66-c7425fe51cda.png)

[2022-08-23 18:07] harshavardhana commented on #15572
Please attach the sample zip file @binnie268

[2022-08-23 19:11] binnie268 commented on #15572
[samplefile1.zip](https://github.com/minio/minio/files/9409957/samplefile1.zip)

@harshavardhana  I just created a dummy zip with 2 csvs

[2022-08-24 00:04] #15023 closed

[2022-08-24 00:04] harshavardhana commented on #15023
FWIW we fixed this on our end @jt121dot5

[2022-08-24 07:01] madcatlove opened #15576 "Standard storage class parity 8 should be less than or equal to 6"
We are preparing to use MinIO, but we cannot set standard storage class parity to 8.
I know the parity of the erasure set is half of disks in node, but it doesn't work.

I think the number of nodes seems to be affected ... (maybe..)
please tell me how to calculate the erasure set size  given #nodes, #disks

thanks!

Our environment
minio version : RELEASE.2022-08-11T04-37-28Z
number of minio node

[2022-08-24 07:03] harshavardhana commented on #15576
You cannot set EC:8 because that is not your stripe size, your symmetric stripe size calculated that spreads across 3 nodes is 12 so your EC:6 is the maximum value.

https://min.io/product/erasure-code-calculator use this calculator to see the right values.

[2022-08-24 07:03] #15576 closed

[2022-08-24 16:18] mersl opened #15582 "HelmChart: Extend to support conditions in policies"
Today, one can ask the helm chart to create policies also.
( Values .policies )
Unfortunatelty, it only allows to set name, resource and action, but it doesn't allow to set also conditions.

**Proposed solution**
Extend the Helm Chart to inject conditions if defined in helm values like it exists with action.

**alternatives**
run a hand crafted job after minio got deployed to incl the json policy

[2022-08-24 16:21] harshavardhana commented on #15582
Feel free to send a PR @mersl

[2022-08-24 16:22] harshavardhana commented on #15572
You need to upgrade @binnie268

[2022-08-24 16:27] klauspost commented on #15572
[code]

There was a bug fix for single-drive mode a while ago. Upgrading should fix it.

[2022-08-24 16:29] #15572 closed

[2022-08-24 22:32] binnie268 commented on #15572
thank you!! I upgraded to the latest version and can confirm that it works now :)

[2022-08-25 06:02] Romeo84 commented on #15520
I use standard xfs filesystem.

[2022-08-25 07:21] dthemg opened #15588 ".NET client quickstart guide uses deprecated methods"
The documentation on https://docs.min.io/docs/dotnet-client-quickstart-guide.html is deprecated. When using the code the compiler warns that the methods used are obsolete.

## Expected Behavior
The quickstart guide should contain up-to-date information.

## Current Behavior
The quickstart guide uses deprecated code.

## Possible Solution
Update the documentation.

## Steps to Reproduce (for bugs)

[2022-08-25 17:11] ntimo opened #15592 "MinIO does not start with self signed cert after upgrade to version RELEASE.2022-08-25T07-17-05Z"
## Expected Behavior
Minio should start with KES and not trough a cert is self signed error.

## Current Behavior
Minio won't  start and give the following error:
[code]

## Possible Solution
Rollback to version "RELEASE.2022-08-13T21-54-44Z" of minio.

## Steps to Reproduce (for bugs)
1. Setup kes and generate a cert with kes identity new --ip "127.0.0.1" --dns "kes" localhost
2. Then start a min

[2022-08-25 17:37] harshavardhana commented on #15592
Your cert is actually wrong @ntimo

[2022-08-25 17:38] harshavardhana commented on #15592
You are missing `--dns localhost`

[2022-08-25 17:51] ntimo commented on #15592
Thanks @harshavardhana that indeed solved it. I still don't really get how it could work before then but thanks any ways :)

[2022-08-25 17:51] #15592 closed

[2022-08-25 18:30] #15573 closed, assigned to poornas

[2022-08-26 02:27] aosolao opened #15595 "How send a mino bucket notification to RocketMQ?"
How send a mino bucket notification to RocketMQ?
RocketMQ, not rabbitmq
How should I configure it?

[2022-08-26 03:26] dormanze commented on #15582
We can discuss it together @harshavardhana
Several optimization schemes I think of:
1. Modify the value of values.policies as follows:
[code]
2. When prefabricating policies, use the shell to read the values and splice JSON
3. Extend the ability of MC to support parsing yaml

[2022-08-26 05:00] CxistHans opened #15597 "Different files, but with similar file prefixes. more versions"
## NOTE
Different files, but with similar file prefixes. more versions

## Expected Behavior
config history only v1

## Current Behavior
![image](https://user-images.githubusercontent.com/52312956/186812361-50361c57-f3b5-4955-a5c8-860484358ec1.png)

## Possible Solution

## Steps to Reproduce (for bugs)
Prepare:
1. One file is named config
2. the other is named config2 (config starts with random n

[2022-08-26 05:03] harshavardhana commented on #15597
@CxistHans can you provide a more concrete reproducer here - it's hard to understand of what you are saying here.

[2022-08-26 05:06] CxistHans commented on #15597
What information is needed? @harshavardhana

[2022-08-26 05:08] harshavardhana commented on #15597
A reproducer "Steps to reproduce" does not have anything meaningful from what I can see. Also what is your setup? how many nodes? - single node? single drive?

[2022-08-26 05:11] CxistHans commented on #15597
@harshavardhana  yes。 single node，single drive。 file: config and config2, You can try it, it's easy to reproduce

[2022-08-26 05:24] CxistHans commented on #15597
@harshavardhana  incomplete-info ? have you tried it? what can i add

[2022-08-26 07:40] Daywalker01 opened #15598 "LDAP Password information disclosure when using minio behind a proxy"
When using minio with LDAP authentication behind a http proxy the LDAP username and password are visible in the URL parameter

## Expected Behaviour
As this is already a HTTP POST request, all sensitive Information should be put into the request body

## Current Behaviour
Currently sensitive information is put into the URL Parameter

## Possible Solution
Putting the sensitive information into the

[2022-08-26 13:45] mersl commented on #15582
I would prefer the current structure as it avoids the 'json overhead'

I would appreciate that in general, but this won't be a requirement here

Pls check [PR 15599](https://github.com/minio/minio/pull/15599) with my preferred approach ;)

[2022-08-28 10:32] x136931283 opened #15604 "为什么上传的图片源文件是文件夹啊？"
![QQ截图20220828183041](https://user-images.githubusercontent.com/64835126/187069492-35a05826-57b6-48a2-a813-1fcb8a1fce4b.png)
我有很多图片需要上传，不能直接使用文件直接复制粘贴，难道要我在web界面一张一张的上传？

还有。为什么web界面失败的不能重试啊？

[2022-08-28 10:52] x136931283 commented on #15604
怎么指定目录上传？

[2022-08-29 11:37] schoenfbe opened #15606 "mirroring to synchronise doesn't work as it should"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

mc mirror with either --overwrite or -a flag doesn´t do anything, it just "finishes" in 0s, mirroring nothing.
The goal is to get a newer version onto a remote bucket, replacing the old one, but keeping both versions (versioning and object locking are enabled).
I

[2022-08-29 12:04] harshavardhana commented on #15606
mc mirror is not designed to use versioning and it is never meant to be.

What you need is server side replication use that instead.

[2022-08-29 12:04] #15606 closed

[2022-08-29 20:19] vjvel opened #15609 "Error: Kubelet may be retrying requests that are timing out in CRI-O due to system load context deadline exceeded: error reserving ctr name"
We are getting the below error while mount the pvc volume for the minio. This pvc has 1.7TB and 900GB of data. it not mounting to the pod and container is failed to start with below error.

Only we face issue with pvc having data. Is there any bug related to CRIO or k8s for this issue?

Normal Pulled 47m (x77 over 3h35m) kubelet Container image "minio/minio:RELEASE.2021-10-06T23-36-31Z" already pr

[2022-08-29 20:31] harshavardhana commented on #15609
This is nothing to do with MinIO, please report this to your k8s vendor.

[2022-08-29 20:31] #15609 closed

[2022-08-30 01:00] liujiaxiang opened #15611 "I use docker to start Minio，There is only one directory，Minio becomes erasure mode."
I used the following command:
  docker run -d -p 9000:9000 -p 9090:9090 --name minio \
    -e "MINIO_ROOT_USER=user12345" \
    -e "MINIO_ROOT_PASSWORD=key12345" \
    -v /mnt/data:/data \
    -v /mnt/config:/root/.minio \
    minio/minio server /data --console-address ':9090'

There is only one directory，Why did Minio become the erasure mode？

[2022-08-30 01:24] harshavardhana commented on #15611
This has been changed since some time now, we deprecated gateway's and FS mode https://blog.min.io/deprecation-of-the-minio-gateway/

[2022-08-30 01:24] #15611 closed

[2022-08-30 01:52] wl4g opened #15612 "Excuse me, I have configured keycloak OIDC authentication, but for some reason keycloak cannot work temporarily, which also causes the minio console to be unable to log in. Is there an alternate or mandatory address to log in with the minio local password?"
Excuse me, I have configured keycloak OIDC authentication, but for some reason keycloak cannot work temporarily, which also causes the minio console to be unable to log in. Is there an alternate or mandatory address to log in with the minio local password?

[2022-08-30 05:39] WeisonCheng opened #15613 "How to dispose "PutObjectArgs" object in .Net SDK"
using System.Collections.Generic;
using System.IO;

namespace Minio
{
    public class PutObjectArgs : ObjectWriteArgs<PutObjectArgs>
    {
        public PutObjectArgs();

        ~PutObjectArgs();

        public PutObjectArgs WithFileName(string file);
        public PutObjectArgs WithHeaders(Dictionary<string, string> metaData);
        public PutObjectArgs WithObjectSize(long size);
        p

[2022-08-30 09:34] KaliszAd opened #15614 "IAM refresh took 19.16s probabably caused excessive load?"
I would like to clarify, what the function that contains: https://github.com/minio/minio/blob/3a1d3a7952c26fadc4dfc20831e593a0ffe175a8/cmd/iam.go#L455 does? It seems, this could've contributed to/ suffered from resource exhaustion.

I only have a `IAM refresh took 19.16s` log message and a load spike in the preceeding ~2 minutes and continuing a minute after that.

[2022-08-30 09:50] tsohst opened #15615 "Tenants Disk Ressource Limitation"
**Is your feature request related to a problem? Please describe.**
We would like to setup a "Host Multiple Tenants on Multiple Drives (Erasure Code)"
https://docs.min.io/docs/multi-tenant-minio-deployment-guide.html

As the infrastructure below minio is shared over all tennants, we would like to limit a tennent (end-customer) to a limited amount of disk ressources available in the cluster.
This wo

[2022-08-30 11:44] abbychau opened #15617 "Windows environment variables are not read as expected"
## Expected Behavior
Root User and RootPass are set to $MINIO_ROOT_USER and $MINIO_ROOT_PASSWORD when the server starts.

## Current Behavior
I can still use minioadmin to log in and cannot use abby to login.

## Possible Solution

## Steps to Reproduce (for bugs)
![image](https://user-images.githubusercontent.com/350283/187427605-903d746b-dee4-49e0-8fee-4f9efba1f1ca.png)

as shown above

## Conte

[2022-08-30 12:37] klauspost commented on #15617
Could you try running from the `cmd.exe` prompt?
[code]

[2022-08-30 16:05] ravindk89 commented on #15617
Maybe also run `dir env` or `Get-ChildItem -Path Env:` to get all environment variables and validate they were set successfully.

I believe you may also need to use a different syntax, e.g. `$Env:MINIO_ROOT_USER` and `$Env:MINIO_ROOT_PASSWORD`

[2022-08-30 16:21] harshavardhana commented on #15617
This is not very useful way to start MinIO on windows follow our documentation here https://github.com/minio/minio-service/tree/master/windows

[2022-08-30 16:21] #15617 closed

[2022-08-31 08:09] farodin91 commented on #15520
I have the same issue and happened after upgrading from 8.2.22 to 8.13.22.

[2022-08-31 09:46] caspereijkens commented on #15527
We are still observing this issue when logging in to MinIO Console.
Sometimes we are able to log in without any problems and regularly we see the following message when clicking the `Login with SSO` button.
[code]
Also the problem sthat @codemicro mentioned is still there

[2022-08-31 12:03] onurcanozavci opened #15627 "Please use AWS4-HMAC-SHA256"
## Current Behavior
[code]
  When there is a utf-8 char which is URL encoded on the requested path we are having the error above.

 * `http://minio.com/my-bucket/index.js?aa=KRED%u0130LER` this is an example query where we are having this issue. **"%u0130"** is url-encoded form of "İ" (a Turkish letter)
 * When we run the same query like  `http://minio.com/my-bucket/index.js?aa=KREDLER` there is n

[2022-08-31 12:07] kannappanr commented on #15627
@taran-p Can you PTAL?

[2022-08-31 13:11] onurcanozavci commented on #15627
In addition,

* For our other minio server which is at version "RELEASE.2019-10-02T21-19-38Z" we are not having this issue for the same application.
* Our buckets are publics and we are not logging in to minio to reach files. Therefore, we don't think this behavior caused by application side.
* We deployed minio that we are having issue via helm chart and I could not see a related configuration on

[2022-08-31 13:31] klauspost commented on #15627
@onurcanozavci What you are sending is [not a valid url](https://go.dev/play/p/8S6OEvF0iGx). Check your encoding method.

[2022-08-31 13:31] #15627 closed

[2022-08-31 14:13] vjvel opened #15628 "Minio not working with quota hard limit"
we have minio operator and in one of the tenant we faced issue with file upload.  It is throwing the error   "An error occured while uploading" for the bucket which has the quota.

quota hard limit is 10TB but the available data is 1.8TB only.  With disabling the quota helps to upload the files. I am not sure how to check those logs in the backend. I enabled the trace  in minio console  but could'

[2022-08-31 14:16] vjvel opened #15629 "minio pvc mounting taking time because of securitycontext labeling."
we tried to restart the minio pods and it was taking more time to mount the pvc, PVC size 1.8TB and data is around 800GB since it has securitycontext in the statefulset. its taking so much for relabelling the pvc to mount in minio pod.  Its around 4hour to mount. Is there any option to skip the labelling and reduce the time to mount.

 name: MINIO_OPERATOR_VERSION
      value: v4.3.0

Tenant is us

[2022-08-31 14:18] klauspost commented on #15628
@vjvel First, upgrade minio. We do not provide community support this old versions.

[2022-08-31 15:11] harshavardhana commented on #15629
You should be using latest operator please upgrade and also upgrade your MinIO version.

[2022-08-31 15:11] #15629 closed

[2022-08-31 15:12] #15628 closed

[2022-08-31 15:18] harshavardhana commented on #15527
@donatello can you check this ?

[2022-08-31 15:49] ryester19 opened #15630 "Console lets you enable bucket quotas with single-disk deployments"
According to the [readme on bucket quotas](https://github.com/minio/minio/blob/8e4a45ec41720d1669bc82a0f41ca38ce78a5c71/docs/bucket/quota/README.md?plain=1#L7), quotas are not supported in single-disk deployments. However, in the console, I am still able to enable and edit the quota size within the bucket options. I am using a single-disk deployment.

![image](https://user-images.githubusercontent

[2022-08-31 15:56] harshavardhana commented on #15630
This is enabled because it is supported.

[2022-08-31 15:56] #15630 closed

[2022-08-31 15:57] harshavardhana commented on #15630
Replication and Object Locking must be enabled as well. This is a feature request for console.

[2022-08-31 16:44] ryester19 commented on #15630
Okay, thank you. The console doesn't give any notification that you're still using the legacy Standalone mode. Emptying the storage volume now has Minio starting in SNSD mode, and the original issue has disappeared

[2022-08-31 21:06] briend opened #15632 "HelmChart ServiceMonitor cluster metrics issues"
Minio exposes two metrics, `cluster` and `node`.  As described in the docs, `cluster` only needs to be scraped once, from any server (pod).  `node` (if desired) should be scraped from all the servers (pods).

https://docs.min.io/docs/how-to-monitor-minio-using-prometheus.html

There are a couple problems with the existing helm chart.

1.  The `cluster` metrics endpoint is the only option available

[2022-08-31 21:23] harshavardhana commented on #15632
@briend you want a fully baked solution use our operator, vanilla helm charts you need to debug on your own, and get some community help.

We do not really maintain it ourselves nor neither we test it on a regular basis.

[2022-08-31 21:23] #15632 closed

[2022-08-31 21:49] briend commented on #15632
I made this issue to get (community) feedback on whether Prometheus Operator `Probe` was a good solution to this problem. Should I just submit a PR?

[2022-08-31 23:59] funkypenguin opened #15633 "Workaround to restore legacy fs mode"
This is not so much a bug as a workaround so that others like us can find a solution to restore the "old" fs behaviour..

It's clear that FS / legacy backend is deprecated and not coming back. HOWEVER, it was super-useful in a client's use-case (*allowing users to rclone / batch-transfer large files to be consumed by [hosted Plex / Jellyfin / Emby apps](https://seedpli.city), which don't necessari

[2022-09-01 00:00] funkypenguin commented on #15633
@lachesis this may solve the issue you raised in https://github.com/minio/minio/issues/15455

[2022-09-01 00:00] harshavardhana commented on #15633
There is no workaround @funkypenguin if you have an existing setup it continues to work. Fresh setups are not allowed - if you manually wish to create your own `format.json` you are free to do so.

[2022-09-01 00:00] #15633 closed

[2022-09-01 05:05] harshavardhana commented on #15632
Yes, please - submit a PR @briend

[2022-09-01 06:04] kuainaiyang opened #15637 "JavaScript Client API : listIncompleteUploads response size is NaN"
node local-file-uploader-list.js
{
  key: 'Adobe Acrobat Pro DC 2022_MacApp.dmg',
  uploadId: '7d5afe21-6889-4bff-9887-7fb76e113e0d',
  initiator: { id: '', displayName: '' },
  owner: { id: '', displayName: '' },
  storageClass: '',
  initiated: 2022-09-01T05:53:50.134Z,
  size: NaN
}
End

[2022-09-01 06:06] harshavardhana commented on #15637
You need to provide the exact object name @kuainaiyang we do not implement listing hierarchically ListMultipartUploads()

[2022-09-01 06:06] #15637 closed

[2022-09-01 06:07] harshavardhana commented on #15637
Also Size is not returned in S3 API for ListMultipartUploads()

[2022-09-01 06:12] kuainaiyang commented on #15637
Because my file is relatively large, so I want to see what percentage of the file has been uploaded, is there any way to achieve this?

[2022-09-01 14:35] hrenard opened #15639 "Failed to fetch last day tier stats"
When I use `mc admin tier info`, my cluster throws :

[code]

And I get a `504 Gateway Time-out`.
The cluster is healthy and runs version `2022-08-02T23:59:16Z`.
It also impacts the console which can't load the tiers' config.
Another annoying side effect is that some nodes are marked offline temporarily because of this call.

[2022-09-01 15:05] harshavardhana commented on #15639
Well, indeed the issue is that you have network issues on the setup, we have waited for at least 15mins to get a response here from the peer.

The entire call to the peer server response is an in-memory call so there is no reason the server will be spending 15mins, mostly your node is not responding.

[2022-09-01 15:06] harshavardhana commented on #15639
Also @hrenard please describe your setup you seem to skim the entire issue template - we cannot imagine your setup.

[2022-09-01 15:14] hrenard commented on #15639
Sorry for the template.
I use the k8s operator `v4.4.27`, I got 1 pool with 5 nodes and 5 disks.
I'm not convinced it's a network issuer because `mc admin info` is all green, the Grafana dashboard seems fine, we're using the cluster with no issue and right after the command finally fails, the nodes that are marked offline temporarily get reconnected.

[2022-09-01 15:22] harshavardhana commented on #15639
can this be reproduced all the time? @hrenard

[2022-09-01 15:25] hrenard commented on #15639
Yes at every call (round-robin balanced). It's not always the same node throwing the error nor being marked offline.

[2022-09-01 15:28] hrenard commented on #15639
I don't know if it helps but `mc admin tier ls` works.
It seems to be only the `/getlastdaytierstats"` endpoint which fails.

[2022-09-01 15:42] harshavardhana commented on #15639
okay can you do this? `mc support profile --duration 30 alias/` - at the same time run `mc admin tier info`  - please share the profile.zip once saved locally.

[2022-09-01 16:05] hrenard commented on #15639
Yes. [Here it is](https://hot-objects.liiib.re/share/profile.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=hougo%2F20220901%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220901T160502Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=43a26b9efaf6f5ee5bc3078c6046c9a80aae6d389fb00e6b1a049495b5c269ea).

[2022-09-01 17:40] harshavardhana commented on #15639
Here is the bug

[code]

[code]

[2022-09-01 19:13] donatello commented on #15527
@caspereijkens Could you share what your minio configuration for openid providers looks like? I am not able to reproduce this issue in the last release (or master branch), with a local dex server:

[code]

[2022-09-01 20:51] #15639 closed

[2022-09-02 06:29] caspereijkens commented on #15527
@donatello Thanks for testing that. We are currently working with:

[code]

[2022-09-02 14:10] thorstent opened #15645 "Expires header in PutObject ignored if days are single digit"
Full disclosure: I'm an AWS employee

One can use the Expires header in a PutObject request, which will result in GetObject returning that Expires header for the object.
However, the following value for Expires is ignored: `Fri, 1 Sep 2023 01:01:01 GMT`. With `Fri, 01 Sep 2023 01:01:01 GMT` it works though (note the two-digit day).
By ignored I mean that the expired

Now this behavior is correct a

[2022-09-04 00:35] steve-gray commented on #15239
@harshavardhana - I believe this issue can occur even in the newest versions. It *looks* like if you exhaust the inodes on a volume, but later resolve it, many files can be left in a strange state. We're getting this error on a group of files when trying to write data.

We've tried calling the S3 delete operations on the affected objects, and we're already on latest version - no dice. Any ideas? @

[2022-09-04 07:36] harshavardhana commented on #15239
If you exhaust inodes on the volume there is nothing much MinIO can do @steve-gray - if you have more data please open a GitHub issue with relevant `xl.meta` information using `mc support inspect`

[2022-09-04 07:50] steve-gray commented on #15239
The volume had tonnes of space, but for a few moments it hit its inode limit. In that scenario I'd essentially expect the write to fail temporarily, however what's actually happening is that the servers are left with a file that:

- Does not show up in the bucket listing.
- Prevents the bucket being deleted
- When attempting to rewrite the file after resolving the capacity issue, fail in a termina

[2022-09-04 08:01] harshavardhana commented on #15239
An inode limit is as much a space limit so you shouldn't really think about such eventualities are non-occurrence. You should be monitoring for these and expand as needed.

Now under these conditions i.e near full filesystems themselves can act weird and we cannot possibly do much in terms of roll back etc. We can, of course, try to return errors however if the filesystem did not return an error t

[2022-09-04 08:13] steve-gray commented on #15239
Is there a setting that prevents minio trying to write if a volumes free inode count is low as a failsafe? Whilst we are monitoring this, the cluster in question was non-critical and we had no reasonable expectation that a momentary out-of-capacity issue (due to an errant process) would leave the cluster as a whole with randomly corrupt and non-deletable files.

As explained above, attempts to ins

[2022-09-04 22:14] steve-gray commented on #15239
@harshavardhana the plot thickens. The issue has just recurred:

- Inspect produces a zero bytes file. Solves the problem of sharing the file at least.
- Plenty of inodes on the servers, including system volumes
- Calling PutObject fails with "Resource requested is unreadable, please reduce your request rate"
- Calling "delete" on the object succeeds silently, but does not resolve the issue.

What

[2022-09-04 22:44] harshavardhana commented on #15239
mc support inspect alias/bucket/object/**

This is how you need to run it.

[2022-09-04 22:54] steve-gray commented on #15239
@harshavardhana  - We've had to again purge things to get back online, however I did the inspect for `bucket/path-to-object/xl.meta` which is what is in the documentation, as well as on the UI/storage portal. This syntax works just fine for fine/normal files, but does not succeed for these broken files at all and yields a zero byte response.

It seems very much that this is the same issue @mshanmu

[2022-09-04 23:10] harshavardhana commented on #15239
I can't do anything without data @steve-gray so please share a way to reproduce this or give me the xl.meta file. It is impossible for xl.meta to be 0bytes since it is written with O_SYNC unless you are using a filesystem that is

- networked FS that doesn't support strict consistency upon writes
- some esoteric filesystem that ignores O_SYNC

So without knowing the setup it is impossible for me t

[2022-09-04 23:20] steve-gray commented on #15239
I'm not saying the file was 0 bytes, I'm saying the inspect tool appeared to choke out and yield a zero byte file when trying to get this data. In the previous examples where I'd gone through and been able to see a file on the filesystem, it had a size. It's going to be a case of be having to dive onto the servers individually to retrieve things though, which isn't great given the size of the clus

[2022-09-04 23:30] steve-gray commented on #15239
Another few minutes, and boom, the issue is back. I can't get these individual files easily, but its apparent that two of them are different to the others. It's going to be fairly painful to get hold of each individual file - do we want all 6 of these?

[code]

[2022-09-04 23:39] Trymzet commented on #14679
Yeah this pw length thing also caught me, plus another missing doc that if you specify `--set buckets[0].name`, you must also specify the `policy` and `purge` parameters, as they don't seem to have any defaults set and this breaks things down the line.

[2022-09-04 23:44] harshavardhana commented on #15239
so you should be able to just do

[code]

[2022-09-04 23:55] harshavardhana commented on #15645
@thorstent can you provide a full example?  I am not able to reproduce this with AWS CLI.

[code]

[code]

[2022-09-05 08:29] thorstent commented on #15645
@harshavardhana  I just looked at what the CLI does and the CLI is correct in that it sends the date as `Fri, 01 Sep 2023 01:01:01 GMT` However, the SDK does not send the date correctly:

You can use the following test class. You will see in the wirelog: `"Expires: Fri, 1 Sep 2023 01:01:01 GMT[\r][\n]"`

Alternative would be to use postman to construct the request with this header.

[code]

[2022-09-06 02:18] #15645 closed

[2022-09-06 02:18] harshavardhana commented on #15645
Added relaxed support to cater for AWS SDK limitations @thorstent

[2022-09-06 09:27] thorstent commented on #15645
@harshavardhana thanks for the fix. However, I fear the problem seems to exist for all headers that contain dates. Look at this example:

[code]

This should give us a 412 return code, but it results in 200, because the ifUnmodifiedSince is ignored. So I think this generalizes to all date headers. However, interesting enough the following code **works** as intended:

[code]

The difference is that

[2022-09-06 14:58] mshanmu commented on #15239
@steve-gray , I worked around by force deleting those files. See https://github.com/minio/minio/discussions/15240

[2022-09-06 15:09] harshavardhana commented on #15645
I will take a look at all time parsing for http time format and perhaps do a comprehensive change.

[2022-09-06 15:17] chibenwa opened #15658 "Can't use `_` or `-` in hostnames"
If there is a `-` or `_` in host names of nodes of a MinIO cluster, client requests are not handled properly and this leads to runtime exceptions.

I needed to re-create a cluster without those characters.

## Expected Behavior

I expect MinIO to correctly handle those valid host names.

## Current Behavior

While MinIO starts the S3 API is un-responsive.

## Steps to Reproduce (for bugs)

Use `mi

[2022-09-06 17:57] ravindk89 commented on #15658
What version of MinIO are you running, and how did you start the deployment?

[2022-09-06 19:12] harshavardhana commented on #15658
Using _ is not recommended however you can use with `-`

This is very normal in all our k8s deployments, make sure your DNS resolves - that's your local issue.

[2022-09-06 19:12] #15658 closed

[2022-09-06 23:03] steve-gray commented on #15239
Thanks @mshanmu. I really wish someone had mentioned that `'x-minio-force-delete` flag above, would have saved me a tonne of work and flapping trying to get stuff fixed. It's astonishing that theres no way to recover without undocumented voodoo (I can't find a single reference to that flag outside your thread and the code itself).

[2022-09-06 23:44] donatello commented on #15527
I'm still unable to reproduce the issue.

Some things to check:

1. If running distributed minio, check that all nodes are running the latest version
2. There is perhaps a stale cache in the browser? Try a new browser instance or clear caches.

Please share the exact error messages (e.g. screenshot) you get.

[2022-09-07 06:40] pm-nuance commented on #13710
Hi @harshavardhana, @Tagar  @steveloughran

We need to use Hadoop 3.3.4 with Spark 3.3.0.

I am facing the same FileNotFoundException as mentioned earlier while creating a database with tables into the minio bucket "spark-recover". Below are the logs which are getting printed onto the console.

**chgrp: `s3a://spark-recover/sample.db': No such file or directory
chmod: `s3a://spark-recover/sample.d

[2022-09-07 07:17] harshavardhana commented on #13710
@pm-nuance what is your MinIO version?

[2022-09-07 07:29] pm-nuance commented on #13710
Hi @harshavardhana
minio version RELEASE.2020-08-26T00-00-49Z

[2022-09-07 07:33] harshavardhana commented on #13710
It looks like you are using delta connector not s3a so you are tagging the wrong people here @pm-nuance - it looks like some other bug.

Can you provide a sample scala example and how to set this up?

[2022-09-07 07:34] harshavardhana commented on #13710
your end point is wrong - or did you purposefully removed the `hostname` or `ip` ?

[2022-09-07 07:42] pm-nuance commented on #13710
Hi @harshavardhana
Yes, have purposefully removed the hostname over here.

Regarding the sample scala example, please find it attached.

[MinioDemo.txt](https://github.com/minio/minio/files/9503831/MinioDemo.txt)
[LocalSparkSession_Minio.txt](https://github.com/minio/minio/files/9503832/LocalSparkSession_Minio.txt)

![image](https://user-images.githubusercontent.com/91668161/188818986-d7e7909f-eb6

[2022-09-07 07:47] pm-nuance commented on #13710
@harshavardhana
The issue is in the below statement which we get when we try to create database using spark.sql("create database sample")

**chgrp: s3a://spark-recover/sample.db': No such file or directory
chmod: s3a://spark-recover/sample.db': No such file or directory**

If we traverse to the said path, we can see the sample.db created in the same path, but it is still not able to detect the pat

[2022-09-07 08:37] harshavardhana commented on #13710
Looks like this is some proprietary code?

I am not sure how I can use your code.

[2022-09-07 08:39] harshavardhana commented on #13710
Yes this is a meaningless call on s3a though - since there is no change of group or chmod

[2022-09-07 12:42] pm-nuance commented on #13710
Hi @harshavardhana
The issue was with the minio version.
After upgrading to minio/minio:RELEASE.2022-09-01T23-53-36Z version, the job is working fine.
Thanks for your support.

[2022-09-07 13:17] mahi072 commented on #15328
Hi, This is Mahima Yadav.
Is this issue still open? I would like to contribute in this issue.
If yes, please guide me through this.

Waiting for your reply.

[2022-09-07 13:37] ell1e opened #15664 "With recent docker image update, memory usage went up considerably"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

With recent docker image update (in the last 3 months ish), the memory usage went up considerably. I now get constant out of memory crashes with a memory budget of 200mb when previously it ran fine with a 170mb limit with the same workload.

## Expected Behavior

[2022-09-07 14:06] harshavardhana commented on #15664
@ell1e 170 to 200 mib is hardly any memory usage. You seem to be in some esoteric use case here.

Go is a garbage collected language so it is natural that things might increase in memory at various intervals.

MinIO while works under low memory conditions it is not expected to squeezed at this level.

If you want to aggressively purge memory you should use something called as GOGC=10 from its defa

[2022-09-07 14:06] #15664 closed

[2022-09-07 14:10] ell1e commented on #15664
Well, the interesting part is the change, not the total. 15% is not hardly any change, IMHO.

[2022-09-07 14:12] caspereijkens commented on #15527
Hi donatello,

Thanks, I have checked your suggestions but unfortunately they did not help.

We get a mixture of the following screens after clicking the `Login with SSO` button:
![image (2)](https://user-images.githubusercontent.com/64551820/188900118-eb17793a-eb33-4eba-9d33-9b9e90737520.png)
![image (1)](https://user-images.githubusercontent.com/64551820/188900124-6ba88b31-53da-485b-bf21-58de25c

[2022-09-07 14:24] harshavardhana commented on #15664
If you calculate at such low level you can always say X increase. That is a useless metric at that time - 1MiB to 2MiB is 100% growth it's not meaningful however

You should let Go be aggressive with its GC by setting the value to 10 as an environment variable.

There is nothing to optimize here further.

[2022-09-07 14:36] ell1e commented on #15664
I mean for files under 50MB I wouldn't consider this a low level and I'm wondering a bit what is even using that up, but fair enough.

[2022-09-07 15:49] harshavardhana commented on #15664
Many things have changed we do not expect users to run in < 1GiB environments we never test it, our laptops are 8GiB on the lower end.

200MiB capped is not something we are going to be able to work on the support it in any meaningful way without compromising on features.

[2022-09-07 16:49] ravindk89 commented on #15664
I'll add to this - RAM constrains concurrent connections. We have a formula [here](https://docs.min.io/minio/baremetal/installation/deploy-minio-distributed.html#requests-per-node)

Since this is a single-node setup, each connection should require ~25MB. Your current container could tolerate less than 10 concurrent connections, which in and of itself artificially constrains performance of standard

[2022-09-07 19:07] mshanmu opened #15666 "Clearer error message on quorum loss"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

This is just a byproduct of https://github.com/minio/minio/issues/15239 issue.

When an object gets into a bad state either through network failure, disk failure, user error or minio bug, where it lost quorum, the error message being returned by minio server real

[2022-09-07 20:18] Rush commented on #15442
I have the same issue. I am uploading a 300MB or so file to minio via our CI based on the app version. Every few weeks we encounter an issue that we cannot overwrite the same file, say "release-2.1.15.tgz" with the error:

[code]

No requests are being done to this file other than trying to overwrite it. There is no "request rate" to reduce.

[2022-09-07 22:07] harshavardhana commented on #15442
@Rush what you are talking about here is unrelated to the issue here which is fixed. Please make sure that you are running the latest version of MinIO and open separate issues.

[2022-09-07 22:24] harshavardhana commented on #15666
@mshanmu is the reason it's not something that should happen and even if it happens then it's a bug. This is why I added based on some learnings here

- #15661
- #15649

To avoid such eventualities - there may be other cases that I shall add to cover more corner cases things you saw.

[2022-09-07 23:01] donatello commented on #15328
@mahi072 Yes this feature is not yet implemented. If you are interested, the policy evaluation logic is here https://github.com/minio/pkg/tree/main/iam/policy

[2022-09-08 08:48] zcerhub commented on #13217
You can refer to that https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/.Connection Reset appears in my environment when accessing Minio in the Argo Workflow task. Conntrack's handling of TCP window outsourcing caused NAT failure. TCP would respond to RST to Minio.You can capture the packet that communicates with the Minio server from the client

[2022-09-08 14:23] mshanmu commented on #15666
Makes sense, Thanks, @harshavardhana !!

[2022-09-08 15:43] mahi072 commented on #15328
Hi,

Sure I'll have a look on this policy logic and come back to you.

Thanks & Regards,
Mahima Yadav

On Thu, 8 Sep 2022, 04:31 Aditya Manthramurthy, ***@***.***>
wrote:

[2022-09-13 06:00] jianwang-beijing opened #15681 "ilm can not support the AbortIncompleteMultipartUpload config"
## Expected Behavior
[code]
can set lifecycle rule successfully.
## Current Behavior
get the error:

## Possible Solution
no idea, maybe it is same with https://github.com/minio/minio/issues/12281

## Steps to Reproduce (for bugs)
1. create a bucket: local/debug
2. run: mc ilm import local/debug
3. copy and paste the lifecyle config(this can be get from `Expected Behavior`)
4. change the lifecyle

[2022-09-13 09:14] vadmeste commented on #15681
@jianwang-beijing MinIO doesn't support AbortIncompleteMultipartUpload in the lifecycle, multipart uploads are automatically purged after 24 hours, you can double check by inspecting 'stale_uploads_expiry' in 'mc admin config get <alias>'

[2022-09-13 09:14] #15681 closed

[2022-09-13 14:48] kuznetsovkk opened #15683 "missing fault tolerance"
## Expected Behavior
After two years of successful use of the minio, suddenly faced with the fact that some files become unavailable with an incomplete cluster configuration: stopping 1 of 3 nodes (2 of 6 disks) makes some files in some buckets unavailable:

[code]
healing doesnt help:
[code]

Because of this issue now wecant say, we have high availability cluster.

## Your Environment
* Version u

[2022-09-13 14:54] harshavardhana commented on #15683
@kuznetsovkk

This setup is wrong you are going to loose quorum this way. You have to use ellipses syntax and but you cannot fix it retroactively anymore in this setup.

In this setup you have manually split the erasure spread.

Get bucket location API requires read quorum available however I suspect that you have more than one node that is disconnected during the call.

It is better to share with

[2022-09-13 15:00] graywolf-at-work opened #15684 "It is not possible to create a object with two consecutive slashes"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior

Since minio claims to be S3 compatible, I would expect to be able to create file
with key `https://example.org`. However it is not possible.

## Current Behavior

It is not possible.

## Possible Solution

## Steps to Reproduce (for bugs)

T

[2022-09-13 15:03] harshavardhana commented on #15684
No it is not possible @graywolf-at-work because there is no such thing on filesystem that preserves `//` .

We do not manually transcode such objects to some internal representation.

Having // is mostly a bug in the application implementation, where paths are not properly normalized.

[2022-09-13 15:03] #15684 closed

[2022-09-13 15:27] harshavardhana commented on #15684
@graywolf-at-work no there are more complications than just encoding - sorting for Listing etc takes a hit as the sorted order now needs to cater for various encoded patterns.

There are more corner-cases.

[2022-09-13 15:27] harshavardhana commented on #15683
@kuznetsovkk please share the server logs.

[2022-09-13 15:51] kuznetsovkk commented on #15683
[journalctl.log](https://github.com/minio/minio/files/9558727/journalctl.log)
[trace.log](https://github.com/minio/minio/files/9558728/trace.log)

[2022-09-13 16:49] harshavardhana commented on #15683
@kuznetsovkk we need some more information here we need logs from all servers, we also need `mc support inspect cluster/harbor-images/docker/registry/v2/blobs/sha256/00/001c52e26ad57e3b25b439ee0052f6692e5c0f2d5d982a00a8819ace5e521452/data/**`

[2022-09-13 18:17] kuznetsovkk commented on #15683
[inspect.581a9af8.zip](https://github.com/minio/minio/files/9559756/inspect.581a9af8.zip)
About logs from other servers: I dont think you need logs from the offline node. Logs from the last online node I will give you a bit later (I do not think that they will differ from those already provided)

[2022-09-13 19:19] harshavardhana commented on #15683
Looks like you have manually manged the paths in the zip file @kuznetsovkk please re-upload without modifying them manually. Otherwise I can't really help you here.

[2022-09-13 19:22] harshavardhana commented on #15683
Okay I see why you have this problem - it looks like you have some storage class set with EC:0 the parity chosen is '0' here

[code]

[code]

Did you change your storage class by any chance? @kuznetsovkk

[2022-09-13 20:13] kuznetsovkk commented on #15683
No:
[code]

[2022-09-13 22:21] harshavardhana commented on #15683
@kuznetsovkk there is nothing to fix here you need to bring that node up - you should simply set storage_class forcibly on this setup not sure why this would happen since MinIO automatically uses the default storage class.

You should re-upload the object and it will get new parity blocks. Right now it doesn't have any parity block so if you take down a node you lose quorum as expected.

I mostly

[2022-09-13 22:34] harshavardhana commented on #15683
You can set this via environment variable `MINIO_STORAGE_CLASS_STANDARD=EC:3`  and forcibly re-upload all the `container images`  @kuznetsovkk

Please also share if you have set some special environment variables in your setup.  I strongly advice against using legacy syntax for distributed setup - you can create DNS aliases locally and still come up with ellipses syntax. Not sure why that was neve

[2022-09-14 07:55] kuznetsovkk commented on #15683
About ellipses syntax: it's not obvious from the documentation. And it is not used in the ansible role.
Why shouldn't heal restore parity blocks?
Could this be due to the fact that we are using ext4?

[2022-09-14 08:26] klauspost commented on #15683
Please point to the documentation for that. As far as I can see there are plenty of "MinIO requires using expansion notation `{x...y}`", but we should of course fix where it isn't.

The objects was uploaded without parity, so there is nothing to heal from. Object parity is fixed from the time it is uploaded.

[2022-09-14 08:45] kuznetsovkk commented on #15683
This behavior seems to be non-obvious. Especially considering that the cluster configuration has not changed. Some of the objects were written without parity blocks for some unknown reason.
Now I will have to somehow identify these objects myself and fix them (via overwriting). Although the server seems to have enough to fix it automatically.

If I hadn't noticed it myself, I wouldn't have known i

[2022-09-14 08:50] klauspost commented on #15683
No, it should do what it's asked to. Either from global configuration or custom storage class provided on upload.

[2022-09-14 08:55] kuznetsovkk commented on #15683
I am making a cluster of 3 nodes with 2 disks each (6 disks in total) and I expect such a configuration to be fault-tolerant if one of the nodes is unavailable. What am I doing wrong? Is the problem only in the  {...} syntax, or have I missed something else?

[2022-09-14 09:48] kuznetsovkk commented on #15683
Application is harbor (goharbor.io), it puts docker images to a minio bucket using s3 storage backend:
https://goharbor.io/docs/2.6.0/install-config/configure-yml-file/#backend
https://github.com/docker/docker.github.io/blob/master/registry/storage-drivers/s3.md

We dont use storageclass option, so I expect is uses STANDARD storage class.
At the minio side, the parity block for the standard class

[2022-09-14 10:43] klauspost commented on #15683
If it hasn't changed, there is something strange. We will see if we can replicate.

[2022-09-14 12:25] feym78 opened #15688 "In distributed mode in kubernetes nodes lose connection with each other"
When I deploy minio in distributed mode (via helm chart from this repo) according to logs nodes sometime lose connection with different errors (setup with 4 nodes x 1 disk):

2022-09-14 11:05:27 | Error: Marking minio-2.minio-svc.apps.svc.cluster.local:9000 offline temporarily; caused by Post "http://minio-2.minio-svc.apps.svc.cluster.local:9000/minio/storage/export/v49/readxl?disk-id=c64b6123-937

[2022-09-14 12:44] vadmeste commented on #15688
This means DNS resolution is not working in your kubernetes cluster, you may find some logs in your k8s DNS pods

[2022-09-14 12:44] #15688 closed

[2022-09-14 12:46] feym78 commented on #15688
I checked cluister dns resolution and it works (wrote about it), also I can ping one minio node from anbother by dns name.

[2022-09-14 12:52] feym78 commented on #15688
@vadmeste
Can you please reopen this issue or assist with troubleshooting?
Thanx.

[2022-09-14 13:55] feym78 commented on #15688
Already done it (as wrote before), mc reported all online.
For now I deployed another distributed instance for test, enabled logging in core-dns.
Error in minio:

2022-09-14 16:47:03 | Error: Marking minio-0.minio-svc.minio-test.svc.cluster.local:9000 offline temporarily; caused by Post "http://minio-0.minio-svc.minio-test.svc.cluster.local:9000/minio/storage/export/v49/readxl?disk-id=4a01c481-3a1

[2022-09-14 14:33] harshavardhana commented on #15683
For now the fix is set the storage class and reupload the content to get the correct storage class to have the parity.

It cannot be retroactively added on objects. It would seem like you did some upgrade and that upgrade set some dummy values that caused the setup to use a storage class with incorrect values.

That is why the workaround is set the storage class either through environment or mc ad

[2022-09-14 15:14] harshavardhana commented on #15688
@feym78 different versions of k8s can be flaky in their network you need to look at your setup.

Our image RedHat UBI 8.6 - I suspect the issue is your k8s setup.

[2022-09-14 15:22] feym78 commented on #15688
may be it is setup.. but I don't know.
Noticed one other thing:
There is logs in minio:
...
2022-09-14T17:34:32.751651432+03:00 Client 'http://minio-0.minio-svc.minio-test.svc.cluster.local:9000/minio/lock/v7' re-connected in 29.609337994s
and after that there was nothing until 17:12
...
same errors as before
...
2022-09-14T18:12:03.151144330+03:00 Client 'http://minio-0.minio-svc.minio-test.svc.c

[2022-09-14 16:14] harshavardhana commented on #15688
Yeah that's why @vadmeste said there is nothing MinIO can do here @feym78

[2022-09-14 16:14] harshavardhana commented on #15688
this is point in time information - so you may not see it.

[2022-09-14 16:35] feym78 commented on #15688
so this error is definitely issue with network connection? or even exactly dns resolve issue?
any hint under the minio's hood will be appreciated
thanx

[2022-09-14 18:02] corinz commented on #8007
Any updates on this at all?

[2022-09-15 11:12] kuznetsovkk commented on #15683
I have a lot of files and a lot of buckets in the cluster. To re-upload files without parity blocks, I first need to make a list of such files. How can I search for files without a parity block without stopping one of the cluster nodes?

[2022-09-15 12:52] klauspost commented on #15683
@kuznetsovkk There is no way to separate them without custom scripts. That goes beyond what we can offer as a community service.

If you want deeper support, I suggest you look into our subscriptions offers: https://min.io/pricing

[2022-09-15 12:52] #15683 closed

[2022-09-15 15:51] NickClaywell opened #15693 "Put pre-signed URL results in `SignatureDoesNotMatch`"
The issue I'm running into is that when generating a pre-signed URL, AWS client generates a pre-signed URL that looks correctly formatted. When trying to upload a document using the generated pre-signed URL, minio returns a 403 forbidden with a `SignatureDoesNotMatch` error. This code is working with S3 in the AWS environment that it is deployed to.

docker-compose.yml settings:
[code]

S3 Client:

[2022-09-15 18:41] harshavardhana commented on #15683
Best way first is to enable the storage-class setting and then proceed to look for the objects. You can do it via `mc ls --json -r | jq .key -r` and pass this result to `mc support inspect --export=json alias/bucket/object/xl.meta | jq .` and look for ecM to be '0'

[2022-09-15 19:28] kasuboski opened #15694 "Helm Chart default additionalLabels and additionalAnnotations give warnings"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior

The chart should not produce helm warnings.

## Current Behavior
When using minio as a child chart and using the additionalLabels key you get the below warning.

[code]
## Possible Solution
The `additionalLabels` and `additionalAnnotations`

[2022-09-15 20:26] corinz opened #15695 "Helm Chart Job Ordering"
## NOTE

I use the Helm Chart to deploy minio and i specify the following keys:
- buckets:
- customCommands

A command in the customCommands key references a bucket that is created via the buckets job.

Since the customCommands job is executed first, it cannot resolve a bucket that has not been created, and fails.

Is it possible to the chart user order these jobs, or to preference the "primitives

[2022-09-15 20:37] harshavardhana commented on #15695
@corinz feel free to send a fix.

[2022-09-15 20:37] harshavardhana commented on #15694
Feel free to send a fix @kasuboski

[2022-09-17 12:40] vadmeste commented on #15693
@NickClaywell the nodejs code seems to be working to me with latest MinIO version

Can you upgrade your MinIO version if it is not latest and check again ? If it is still not working, can you provide a sample browser code which reproduces the issue ?

[2022-09-18 15:04] #15694 closed

[2022-09-18 18:51] helmut72 opened #15702 "high block output when idling"
## NOTE
I have installed Minio in a Docker container, created a bucket, uploaded a file and let Minio running without any access. After idling Minio for some hours, block output in Docker (`docker stats minio`, column `block i/o`) is growing. Even my SQL servers don't write that much when in use (private server, few users).

## Expected Behavior
When Minio idles it shouldn't write that much to dis

[2022-09-19 08:21] skyser2003 opened #15704 "Bucket notification elasticsearch - able to connect to insecure https elasticsearch"
**Is your feature request related to a problem? Please describe.**
Feature

**Describe the solution you'd like**
To be able to connect to an insecure https elasticsearch

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Hello, I'm trying to us the bucket notification system using elastics

[2022-09-19 08:55] vadmeste commented on #15704
@skyser2003 you can put the elasicsearch public key in ~/.minio/certs/CAs/  to configure MinIO to trust the elasticsearch public certificate. After tha, you will need to restart MinIO server as well.

[2022-09-19 08:55] #15704 closed

[2022-09-20 10:57] segator opened #15712 "runtime error: global deployment ID 9e2fe46f-1b26-4e2c-860a-9e40df7b2cd9 mismatch, expected one of [9893e898-7b35-4ee5-bfe0-2c9cb4514457 e96d5ad0-ad13-43b2-9daf-b31872b11f48] (cmd.SRError)"
## NOTE
Created 3 Minio single node helm installs with MinIO VERSION [RELEASE.2022-09-17T00-09-45Z](https://github.com/minio/minio/releases/tag/RELEASE.2022-09-17T00-09-45Z)

when creating site replication from the only minio with a bucket created I got this error in minio logs(the one I trigered add replication from console UI

## Expected Behavior
site replication is working

## Current Behavior

[2022-09-20 12:26] SeibertronSS opened #15713 "ERROR Unable to initialize backend: errno 524"
I installed minio by helm, but I got the error `ERROR Unable to initialize backend: errno 524`.
What is the reason for this error?

[2022-09-20 13:57] vadmeste commented on #15713
@SeibertronSS why did you remove the issue template ?

What is your MinIO version and what operating system ?

[2022-09-20 17:21] poornas commented on #15712
Looks like you setup site replication on the minio with the bucket - and just bringing in some new clusters without first doing a `mc admin replicate remove` to delink the previous deployments.

[2022-09-20 18:41] segator commented on #15712
seems to work thanks

[2022-09-20 18:41] #15712 closed

[2022-09-21 00:08] donatello commented on #15527
Thanks, we are able to reproduce this issue - it is because after the redirect from the openid server, the request lands on a different server due to a load balancer. We are looking into finding and fixing the root cause.

[2022-09-21 04:28] SeibertronSS opened #15719 "ERROR Unable to initialize backend: errno 524"
## NOTE
I installed the minio (v4.0.2) in kubernetes by helm, but I got the error `ERROR Unable to initialize backend: errno 524`.
Specifically, I used a pre-created pvc. It looks like there was an error when minio initialized on pvc's filesystem.
By the way, it is ok if I install the latest version in the same way.

## Expected Behavior

## Current Behavior
`ERROR Unable to initialize backend: er

[2022-09-21 04:28] harshavardhana commented on #15719
Where is the PVC coming from @SeibertronSS ?

[2022-09-21 04:33] SeibertronSS commented on #15719
I created it manually and it is based on NFS.

[2022-09-21 04:42] caspereijkens commented on #15527
That makes sense, thanks a lot!

[2022-09-21 05:44] lazywhite opened #15720 "Drive `/disk1/minio` is part of root drive, will not be used"
I'm trying to deploy a minio distributed cluster inside k3s,  I used 3 replicas statefulset, each pod mount a local-path pvc , then minio refuse to start because it think /disk1 mount point is part of root drive.  Also I used hostpath volume, still the same problem
Is there any way to make it work?

## Your Environment
minio image: minio/minio:RELEASE.2022-09-01T23-53-36Z
k3s:  v1.24.4+k3s1 (c3f83

[2022-09-21 05:49] harshavardhana commented on #15720
You cannot use root drives with MinIO if you want to use root drives set environment values such as

- CI=true
- MINIO_CI_CD=true

[2022-09-21 05:49] #15720 closed

[2022-09-21 05:50] harshavardhana commented on #15719
The error is returned by your NFS implementation we can't really do anything here.

[2022-09-21 05:50] #15719 closed

[2022-09-21 06:24] lazywhite commented on #15720
[code]

after add that two env, minio server failed to start because of dns resolve error, how to solve this problem

[2022-09-21 06:28] SeibertronSS commented on #15719
Thank you very much! But I still have a question, why the latest version of minio can be installed? @harshavardhana

[2022-09-21 06:29] lazywhite commented on #15720
solved, just add 'sleep 30' before start minio server, so coredns will add dns entry for them

[2022-09-21 06:30] harshavardhana commented on #15720
yeah, this is your DNS problem your headless services are not routable. Your headless service is wrong it's not a `ClusterIP`

[code]

@lazywhite no - no sleep is required you are doing it wrong

[code]

[2022-09-21 06:46] lazywhite commented on #15720
I think headless service definition is ok, main reason is podManagementPolicy: parallel,   also I added "sleep 10", It's working now

[2022-09-21 06:53] harshavardhana commented on #15719
We have deprecated FS mode https://blog.min.io/deprecation-of-the-minio-gateway/ so you can't use it in the same manner as before.

[2022-09-21 07:57] SeibertronSS commented on #15719
I can't use the latest version of minio because of a problem with our code.

[2022-09-21 08:12] harshavardhana commented on #15719
These are all NFS quirks, don't use it - provide us a regular disk with filesystem such as XFS or ext4.

[2022-09-21 08:15] SeibertronSS commented on #15719
Due to the technical selection of the project and the company's regulations, I cannot use other file systems.

[2022-09-21 08:25] harshavardhana commented on #15527
@caspereijkens as a workaround you can let your console ingress to use `ip_hash` based sticky sessions.

[2022-09-21 09:37] lnnocencezz opened #15724 "Minio init object use 'secure=True' or defualt will be Unexpected results is Max retries exceeded,"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-21 12:19] cuiyc2000 opened #15728 "Add bucket stats in SDKs"
**Is your feature request related to a problem? Please describe.**
I observed `mc admin info play` has the ability to obtain bucket stats(bucket size, objects num...) as mentioned in [https://github.com/minio/minio/issues/6577#issuecomment-566754811](https://github.com/minio/minio/issues/6577#issuecomment-566754811)
However, didn't find any API that allow developers to  do this in these SDKs such

[2022-09-21 15:26] deguzmanricardo16 commented on #14573
Can you share a new invite link?

[2022-09-21 15:38] wangglbj opened #15729 "When curl API service, output "AccessDenied""
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior
`I want to use curl command to get the correct information output of the API server, but returned "AccessDenied" error message.`

## Current Behavior
[code]
Curl webgui:
[code]
It looks like the curl webgui output is correct and the API retur

[2022-09-21 16:45] harshavardhana commented on #15729
You didn't send an authorization header, without that all API calls will return access denied.

[2022-09-21 16:45] #15729 closed

[2022-09-21 16:48] harshavardhana commented on #15728
Bucket stats are not S3 APIs they are simply MinIO extensions available via Prometheus and other admin API means.

Adding them will break things with S3 API. We cannot extend APIs in this manner without any specific commerical requirements.

For now the intent is to keep the things the way they are.

[2022-09-21 16:48] #15728 closed

[2022-09-22 00:37] vklonghml opened #15730 "minio support keycloak authorization like policy or otherwise"
currently, minio use keycloak to authenticate, but can not use keycloak role and policy to authorization, that you create policy or role in keycloak could not use in minio, you need create policy in minio independent. Want to ask, if there is a roadmap or plan, that minio support authorization like keycloak or any other third project?

[2022-09-22 00:39] harshavardhana commented on #15730
you can write your own authorization plugin if needed @vklonghml

[code]

[2022-09-22 00:39] #15730 closed

[2022-09-22 00:54] vklonghml commented on #15730
is this a standard method, like webhook method, or there are other plans

[2022-09-22 01:21] wangglbj commented on #14354
@harshavardhana  I have a similar problem when testing on the OpenShift cluster. is my command wrong? i didn't find my nginx config.  Thanks

[code]

[2022-09-22 05:31] harshavardhana commented on #15730
There are no other plans this is it, a generic endpoint you can write whatever you want to integrate with keycloak.

[2022-09-22 11:33] maleadt opened #15733 "Single-node mode does not fall back on unsupported O_DIRECT"
I'm trying to run `minio server /tmp` where `/tmp` is backed by tmpfs. According to https://github.com/minio/minio/issues/13818, that isn't supported in distributed mode (due to lack of O_DIRECT), but with a single node it should fall back to not using O_DIRECT. That doesn't seem to be working:

[code]

Adding some output to `newXLStorage`, it seems like the handling of the `Write` is incorrect: h

[2022-09-22 14:36] PelePeluche opened #15735 "Storage resources are insufficient for the write operation .minio.sys/config/config.json)"
## NOTE
I get that error every 5 seconds when I try to run docker with minio

API: SYSTEM()
Time: 14:27:38 UTC 09/22/2022
DeploymentID: 40a7634b-4213-4dcb-82cf-92d7121932c6
Error: write /data/.minio.sys/tmp/3b8688a4-4753-451f-917a-8a2c9e5f5772/xl.meta: invalid argument (*fs.PathError)
       6: internal/logger/logger.go:259:logger.LogIf()
       5: cmd/storage-errors.go:174:cmd.osErrToFileErr()

[2022-09-22 15:34] goldstar611 opened #15736 "Multiline comment for region causes error"
## Expected Behavior
Be able to save multi line region comment without error

## Current Behavior
When using a multiline comment the following error banner is displayed:

[code]

## Possible Solution
Improve the subsystem/key/value parser. I found the error message defined at https://github.com/minio/minio/blob/18dffb26e7aba09074704d169517285ac3870e86/internal/config/config.go#L682
but I don't kno

[2022-09-22 17:41] #15733 closed

[2022-09-22 17:41] #15735 closed

[2022-09-22 18:27] tgilino commented on #15693
I was experiencing the same issue on `GetObjectCommand` with pre-signed urls...turns out it was related to discussion [#14709](https://github.com/minio/minio/discussions/14709), adding the middleware client wrapper before getting the presigned url was a successful workaround. Has minio reported this issue to AWS/is there an AWS GH issue that we can upvote?

[2022-09-22 18:32] maleadt commented on #15733
Great, thanks!

[2022-09-22 18:33] #15693 closed

[2022-09-22 18:43] NickClaywell commented on #15693
Confirmed that this works if minio is running on port 80

[2022-09-22 20:10] mshanmu opened #15740 ""volume not found" error on MultipartUpload, but PutObject works"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

Has 3 server pools, on one of the server pool, with 4 nodes having 1 disk each, 2 nodes were replaced.

Healing is in progress, unfortunately, it is very slow.

In this scenario, trying a PutObject works fine, but using MultipartUpload fails with 404 "volume not

[2022-09-22 20:20] harshavardhana commented on #15740
This is because some quorum requirements for "each" pool @mshanmu multipart-uploads are required to be saved at a separate location on the disks.

You have lost the write quorum on the disks on one of your pools, NOTE: Pools are not a way to increase your SLA by any means you are still bound by the write quorum of each pool.

Luckily since PUT() is getting scheduled because it relies on GET which

[2022-09-22 20:24] harshavardhana commented on #15740
Ah actually this is already fixed in later releases.

[code]

Your release has this code.

[code]

newer releases have this - so this is fixed since

[code]

[2022-09-22 20:24] #15740 closed

[2022-09-22 20:25] mshanmu commented on #15740
Makes sense, Thanks, @harshavardhana !!

[2022-09-22 20:38] mshanmu commented on #15740
@harshavardhana , I am looking at the master branch, that check seems to be still present, see below,

https://github.com/minio/minio/blob/master/cmd/erasure-multipart.go#L262

[code]

[2022-09-22 20:42] harshavardhana commented on #15740
The check is needed to ensure we can ignore @mshanmu :-) you are reading it wrong.

[2022-09-22 20:50] mshanmu commented on #15740
Ah, getting old :) Thanks, @harshavardhana

[2022-09-23 08:19] tsohst opened #15744 "Documentation inconsistency for "Server-Side Object Encryption with Hashicorp Vault Root KMS""
## Current Behavior
https://min.io/docs/minio/linux/operations/server-side-encryption/configure-minio-kes-hashicorp.html?ref=docs-redirect#deploy-minio-and-kes-with-server-side-encryption-using-hashicorp-vault-for-production

Documentation is having multiple inconsistencies

## Expected Behavior
No inconsistencies in documentation

## Possible Solution
* /etc/systemd/system/kes.service referres to

[2022-09-23 14:08] kad-willej opened #15746 "Problems with fetching added metadata to a file"
## NOTE

When I add metadata to a file, it will correctly store the metadata but incorrectly retrieve the metadata.

## Expected Behavior
Fetching data will return something like this or a correctly formed Map:
[code]

## Current Behavior
[code]
The key value pairs in the map seem to be malformed.

## Possible Solution
\-

## Steps to Reproduce (for bugs)

1. Add user meta data to a file
2. See it

[2022-09-23 14:10] mshanmu commented on #15740
Just a FYI for people hitting this issue in future, took the following steps,

1. Increased the healing speed using "mc admin config set <alias> heal " command, by tweaking max_sleep and max_io parameters.
2. Waited for couple of hours for healing to complete.
3. Even after healing was complete, multipart uploads were still failing.
4. Recreated the multipart directory under  /export/data/.minio.s

[2022-09-23 14:18] #15582 closed

[2022-09-23 15:27] ravindk89 commented on #15744
Lets move this to the right repository, and we'll patch these issues out.

[2022-09-23 15:30] #15527 closed

[2022-09-23 15:46] harshavardhana commented on #15746
The output of XML format has changed due to the Go XML changes the library needs to be parse them with new changes.

@balamurugana

[2022-09-24 03:25] dormanze commented on #15736
In the MINIO server, since it needs to support the ability to submit multiple lines of configuration at the same time, the configuration is read by line, which requires that no \n exist in the same configuration.
![image](https://user-images.githubusercontent.com/37854724/192078081-40f14b4f-27c2-4ac2-b539-f022cef94df1.png)

[2022-09-24 17:30] alfonsrv opened #15754 "Copying files via MinIO client times out randomly"
## NOTE

Copying files manually via `mc` times out without any apparent cause. Copying via applications like Veeam works as expected and when running something like iperf from within the container, it doesn't interrupt either.

I already tried slimming it down to multiple 100GB files, but the error occurs after ~200MB already. I would expect `mc` to auto-retry the transfer after it failed. Using `

[2022-09-24 17:35] harshavardhana commented on #15754
This looks like your disks are just too slow for writes and mc is doing multipart PUT calls in parallel mostly using up the system bandwidth.

Your single disk is the bottleneck here perhaps.

[2022-09-24 22:06] alfonsrv commented on #15754
Likely – the transfer is running at `150 MB/s`, which the disks should easily sustain but wouldn't be surprised if there are some unexpected latency spikes.

So the client's throughput has to be throttled artificially in order for `mc` to copy successfully? I tried using `--disable-multipart` but got a bunch of errors and didn't find any other parameter to make the copy work.

[2022-09-24 22:23] harshavardhana commented on #15754
If you upload a single file this size in this manner with "retention" it requires to calculation md5sum which is using up the memory and your client is unable to handle this memory requirement. You need a beefier client to upload a single stream this big.

You definitely have to use multipart AFAICS this is the server giving up because there is a 10min timeout of unresponsive connections to be tim

[2022-09-24 22:26] harshavardhana commented on #15754
This almost 100g memory is being allocated. Let me check if we can fix this by relying on the Seeker side instead of loading the buffer into memory.

[2022-09-24 22:37] alfonsrv commented on #15754
Thanks for clarifying this part! The file parts each are `100GB` in size, so it seems like it tries to allocate the full file size in RAM.

When using the "regular" copy, the timeout already occurs after around 90-240 seconds of copying. How far it gets seems to be kind of random, since transfer speeds don't slow down below `130 MB/s`.

After an error occurs for a single part, the whole file fails

[2022-09-24 22:53] harshavardhana commented on #15754
The conn timeout is considered a catastrophic error that's why it's not "retriable" - I think single drive is not responding here. What is the backend type here? can you do `cat /data/.minio.sys/format.json`?

[2022-09-24 22:59] harshavardhana commented on #15754
https://github.com/minio/minio-go/pull/1699 is the fix for memory usage with `--disable-multipart` and md5 forced due to object locking.

[2022-09-24 23:08] alfonsrv commented on #15754
Using MinIO on top of TrueNAS, because I didn't yet manage to figure out a proper, manageable infrastructure architecture to provide multiple standalone disks / small separate systems as [preferred by MinIO](https://blog.min.io/erasure-coding/).

Output of `cat /data/.minio.sys/format.json`
[code]

---

When throttling the network traffic, copying seems to work fine `PS> New-NetQosPolicy -Name "Mi

[2022-09-24 23:26] raghadsalameh1 opened #15756 "Cannot start service minio: failed to initialize logging driver:error creating loki logger"
I just started to explore [MinIO](https://github.com/minio/minio/tree/master/docs/docker) and I'm trying to run the following command:
[code]

## Expected Behavior
The container will run without any issue

## Current Behavior
docker: Error response from daemon: failed to initialize logging driver: error creating logger: error creating loki logger: loki: option loki-url is invalid parse "https://<u

[2022-09-24 23:40] harshavardhana commented on #15756
This is your docker configuration issue not MinIO @raghadsalameh1 please fix it on your end.

[2022-09-24 23:40] #15756 closed

[2022-09-24 23:42] harshavardhana commented on #15754
Yeah I think this is actually your TrueNAS issue.

Yeah this means that your TrueNAS is giving up on I/O and not able to keep up.

[2022-09-25 00:14] raghadsalameh1 commented on #15756
For those who face the same issue, I think the problem is that the default logging driver for MinIO is Loki. You can overcome this issue by stating that you want to use a local logging driver. if you are using docker-compose file you can add
[code]
to the service minio

[2022-09-25 04:45] harshavardhana commented on #15756
No it is not logging driver in your setup is Loki. This has nothing to do with MinIO.

[2022-09-25 11:43] alfonsrv commented on #15754
But shouldn't a client *simply work*? If you copy something via SMB or upload it to AWS S3, you expect some resilience and for failures to recover auto-magically. Why isn't the `PUT` simply retried? I mean the blocksize is likely fixed and the segment within the file is known, so can't it just be re-read and transferred?

Even after the throttling network throughput, I returned to two files runnin

[2022-09-25 15:54] harshavardhana commented on #15754
What is happening is that socket is blocked for X amount of time, that is considered a non retriable error.

boto3 here is doing serial uploads of course there won't be any timeout. You should capture something like --debug for mc command and share it here to see average response times for uploads.

It is designed for maximum throughout, however it should use as many concurrent threads as CPU avai

[2022-09-25 16:00] harshavardhana commented on #15746
This has been fixed in minio-java and released.

[2022-09-25 16:00] #15746 closed

[2022-09-26 10:12] klauspost commented on #14354
@wangglbj Read the response above, and what the error message says:

Basic Auth is not a valid auth method for S3.

[2022-09-26 12:28] Gun9niR commented on #15681
Is there any document about the retention period of incomplete multipart uploads?

[2022-09-27 08:34] schoenfbe opened #15761 "mc mirror fails with umlaut (ä,ü,ö) and whitespace in filename"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

mc mirror fails when mirroring two deployments always on the same file, and a restart will result in the same error, reeor logs however do not make much sense to me.

Logs from "mc mirror old_ls local_ls --debug" (only for the error):

mc: <ERROR> Failed to copy

[2022-09-27 08:40] harshavardhana commented on #15761
is this source?  or target? @schoenfbe

[2022-09-27 09:53] harshavardhana commented on #15761
The error is because of stream getting closed - so the object on the source cluster has some issue, it is not an actual object. You can try

[code]

and see if it's readable.

[2022-09-27 09:55] harshavardhana commented on #15666
This is addressed in the latest releases to proactively heal objects instead of throwing errors later.

[2022-09-27 09:55] #15666 closed

[2022-09-27 09:56] harshavardhana commented on #15040
@RAlfoeldi we will close this, for now, please let us know when you have the logs - we can re-open the issue.

[2022-09-27 09:56] #15040 closed

[2022-09-27 10:58] vadmeste commented on #15761
I find it hard that this is a MinIO issue, how easy for you to try to mirror again only the subfolder that contains the problematic file ? also can you check from the uptime of 'mc admin info' if one node is restarted

[2022-09-27 11:24] vadmeste commented on #15761
@schoenfbe is the issue also reproduciable with the local server ?

[2022-09-27 11:25] vadmeste commented on #15761
@schoenfbe my guess is that you have a weird setup in the first server, any logs in server side ?

[2022-09-27 11:36] vadmeste commented on #15761
@schoenfbe can you do `mc admin top locks local_ls` ?

[2022-09-27 11:57] vadmeste commented on #15761
@schoenfbe it is better if you upload logs of the new server, I think we should see something there.

[2022-09-27 12:13] vadmeste commented on #15761
it is the standard output, `journalctl -u minio` if you are using systemd

[2022-09-27 12:29] vadmeste commented on #15761
@schoenfbe you can do `docker ps` and `docker logs <container-id>` to print minio container log

[2022-09-27 12:42] vadmeste commented on #15761
@schoenfbe it looks like volume is not able to create a directory with a name containing a space in it, you can try that manually

[2022-09-27 12:45] klauspost commented on #15761
@schoenfbe `*` cannot be part of the path. Most filesystems will refuse to create that.

[2022-09-27 13:44] vaibhavpatil123 opened #15762 "Minio disable SSL with java client not working !"
## NOTE
Minio disable SSL with java client not working !

## Expected Behavior

## Current Behavior
Minio disable SSL with java client should work with disable SSL flag

## Possible Solution

## Steps to Reproduce (for bugs)

Use maven java client

[code]

Getting socket timeout error

## Context

[2022-09-27 14:02] klauspost commented on #15762
Also, if you could post your minio server setup as well.

[2022-09-27 14:03] vadmeste commented on #15761
Yes, if the file exists in the first old deployment, most likely it will work with the second deployment

This is a total independent thing, you always need to quote arguments with special characters in your shell environment

[2022-09-27 16:13] harshavardhana commented on #15761
It's a bug in your filesystem all Linux filesystems allow it. So your new set-up is using something strange but that was not originally used.

[2022-09-27 16:28] JeanFrancoisMir commented on #13185
Hello @harshavardhana, I do encounter the same issue here with my NAS

Could you elaborate on what this means ? How can I verify that my mount support fnctl locks ? I don't find much information online on what fnctl means and how I can "enable" it to be honnest. Thanks !

[2022-09-27 19:41] alfonsrv commented on #15754
Well – take it as you will. In my opinion the client's overall usability could be improved with a few command line parameters that otherwise make its usage less flexible and a bit unintuitive. E.g. `GOMAXPROCS` is not mentioned in the docs afaik.

I would be happy to provide the `debug` logs if it helps, but feel like your mind is already made up on this topic.

[2022-09-27 19:58] harshavardhana commented on #15754
All Go compiled programs support GOMAXPROCS, however, it's not mentioned because it never comes up for any of our users.

[2022-09-28 06:20] huzhenwei7z opened #15764 "MINIO_AUDIT_KAFKA envs not work after RELEASE.2022-02-12T00-51-25Z"
We use MINIO_AUDIT_KAFKA environment variables to write the audit log to the Kafka cluster. After we upgraded the minio cluster, we find audit log configurations did not work. After I tested it locally, it works at version `RELEASE.2022-02-07T08-17-33Z` and fails at version `RELEASE.2022-02-12T00-51-25Z`.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

make `MINIO

[2022-09-28 10:43] vadmeste commented on #15764
Aren't you missing --net=host here ?

[2022-09-28 11:05] wangglbj opened #15765 "Using minio(RELEASE.2022-06-20T23-13-45Z ) and mc(RELEASE.2022-06-26T18-51-48Z) version , Can't curl to api normally, after enable tls"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

Use the following minio/mc version curl api to report an error：

[code]

## Expected Behavior
But it's normal to use the latest version with mino/mc by curl with tls

[code]

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2022-09-28 11:11] wangglbj commented on #15765
Is there a way to solve this problem? Since I don't  want to upgrade to the latest version currently. thanks

[2022-09-28 11:31] huzhenwei7z commented on #15764
it is just a dummy minio and used only for tests. I didn't deploy Kafka actually, so you don't need to care about it. The key is that the newer version of minio doesn't report similar errors as the old version. I suspect it is ignored.

[2022-09-28 12:45] Timost commented on #15527
For reference, this might also fix https://github.com/minio/console/issues/2214

[2022-09-28 12:47] klauspost commented on #15765
AFAICT Already fixed in #15415

[2022-09-28 12:47] #15765 closed

[2022-09-28 18:25] #10265 closed

[2022-09-28 19:13] vadmeste opened #15767 "Fix a race found in unit tests"
This is probably introduced after the RPC tcp stats but it is not clear
how it is related yet

[code]

[2022-09-29 00:22] kaname-png opened #15769 "Error 403 when trying to preview a object"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior

To be able to see the preview of the object, in this case, an image.

## Current Behavior

A loading screen with a corrupted image due to a 403 http error.

![image](https://user-images.githubusercontent.com/56084970/192910774-7ccc1311-00fe-

[2022-09-29 06:10] harshavardhana commented on #15767
[code]

This kind of code is racy `dialStart` is parallelly read @vadmeste

[2022-09-29 06:11] harshavardhana commented on #15767
use this https://github.com/uber-go/atomic/blob/v1.10.0/time.go#L39

[2022-09-29 13:14] vadmeste commented on #15767
My suspicion is that is a false race detection. My theory is that Golang net/http library creates a goroutine which will update dialStart and dialEnd. In parallel, we also have our internal rest lock/storage/peer calls which can be called in a goroutine and will read dialStart and dialEnd to update our statistics. However, I don't think golang net/http will mess this up and crash.

I will use atom

[2022-09-29 13:18] klauspost commented on #15767
False positives are not possible. False negatives are.

[2022-09-29 13:25] klauspost commented on #15767
I don't see the connection to the code above, though.

[2022-09-29 13:39] klauspost commented on #15767
@vadmeste I think the request is being re-used.

Storing it atomically is not going to fix the race.

[2022-09-29 13:42] vadmeste commented on #15767
I found a better race report in the PR description here, https://github.com/minio/minio/pull/15770

MinIO code clearly races with the internal golang code

[2022-09-29 13:46] klauspost commented on #15767
(or it tries to dial multiple times, something like that)

[2022-09-29 18:00] harshavardhana commented on #15767
fixed via #15770

[2022-09-29 18:01] harshavardhana commented on #15764
fixed via #15766

[2022-09-29 18:01] #15764 closed

[2022-09-30 07:25] harshavardhana commented on #15761
Invalid argument is your backend filesystem implementation bug

I can successfully upload a file with '*' in it on XFS disks locally.

[code]
~ mc ls play/testbucket/free-finance/01_raw/
[2022-09-30 00:24:44 PDT]   206B STANDARD 1023204-Microsoft Re integer-num 05*2020.png
[code]

[2022-09-30 07:26] #15761 closed

[2022-09-30 07:27] harshavardhana commented on #15736
This is fixed via minio/console#2342

[2022-09-30 07:27] #15736 closed

[2022-09-30 07:27] harshavardhana commented on #15754
Do you `--debug` logs to share?

[2022-09-30 17:19] tudorbarbu opened #15775 "Metadata marshal update was a breaking change"
## Previous Behavior

[code]

## Current Behavior

[code]

## Possible Solution

This change should be documented.

## Context

This has caused breakages in CI since it is using the latest minio version while the application was running in an environment with minio RELEASE.2022-05-08T23-50-31Z

## Regression

#15511
## Your Environment

* Version used (`minio --version`):
* Server setup and config

[2022-09-30 17:31] harshavardhana commented on #15775
@tudorbarbu this is actually a MinIO extension not part of S3 API so we don't see the need to document it. It is meant to be used internally by our SDKs and they have been updated as such to allow parsing the new XML style.

[2022-09-30 17:31] #15775 closed

[2022-10-01 10:01] alfonsrv commented on #15754
Here you go: [debug.txt](https://github.com/minio/minio/files/9690034/debug.txt)

[2022-10-01 16:18] modigithub opened #15778 "Minio deploy Multi-Node as one cluster"
Hi, at the Moment i have an chicken-and-egg problem. If i want to start server 1 i got the following error from the journal ctl:![image](https://user-images.githubusercontent.com/108171635/193418174-e4ed1561-6b2d-46b6-98e6-a319a6ec8394.png)
And if i start server 2 i got the following message:
![image](https://user-images.githubusercontent.com/108171635/193418181-4213a6a9-460d-40e2-854d-2d643d17177

[2022-10-01 16:25] harshavardhana commented on #15778
You cannot use a single drive and then expand into a cluster @modigithub - you have to use fresh drives for multi-node deployment.

The error indicates what is the issue here.

[2022-10-01 16:25] #15778 closed

[2022-10-01 17:05] harshavardhana commented on #15754
Thank you

[2022-10-01 17:07] harshavardhana commented on #15754
There are only few calls that close 1sec response time rest are < 1sec

[code]

Have you changed anything on your end?

[2022-10-01 18:59] alfonsrv commented on #15754
No; setup is still the same. `Failed to copy` occurs at the end of the debug file.

[2022-10-01 20:39] harshavardhana commented on #15754
Strange there is no timeout here that I can see that would have triggered the net.Conn() only applies timeout to idle readers and writers, can you post the error again? I don't see it in the debug.txt that was shared.

[2022-10-01 20:47] alfonsrv commented on #15754
When `Failed to copy` occurs on the client, the server logs `timed out` the same second.

I originally only had the client-side error and couldn't explain why it would occur at all, due to the message not being verbose enough but a generic Windows error. So I decided to look on the server-side, since it was the one closing the remote connection and encountering the timeout error in the logs.

[2022-10-01 22:47] harshavardhana commented on #15754
Can you share the server logs then? @alfonsrv

[2022-10-03 14:36] echoface opened #15782 "RemoveObject call freeze, nothing changed"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

step 0: upload a video file through API (after testing, common file can be delete correctly)
step 1: select it and click delete

## Expected Behavior
object be delete in a short duration

## Current Behavior
freeze and nothing change, file remain..

## Possible S

[2022-10-03 17:48] harshavardhana commented on #15782
@echoface we can't resolve your IP here and port.  Add `minioClient.TraceOn(os.Stderr)`

[2022-10-04 01:09] echoface commented on #15782
find out:
<img width="874" alt="image" src="https://user-images.githubusercontent.com/10153981/193712480-bd951eef-79fd-4306-a02b-31e4bd7a19aa.png">
RemoveObject fail and freeze caused by another connection read this file without close the connection. but this behavior still not expected, return a ErrLocked/Occupied but freeze/hang

[2022-10-04 04:48] harshavardhana commented on #15782
It is not freezing or hang the lock is retried upto 30mins @echoface and it gives up after 30mins. So if you are having conflicting locks your delete (write lock) is serializing on the read lock.

[2022-10-04 04:48] #15782 closed

[2022-10-04 11:39] kuznetsovkk opened #15788 "Errors in minio logs"
Minio cluster works, but sometimes minio prometeus exporter does not response for a 1-5 minutes. Cant find out why.
I have many errors in logs at 1st node (2nd and 3rd nodes logs are clear):
[code]

## Your Environment
* Version used (`minio --version`): 2022-07-26T00:53:03Z
* Server setup and configuration: 1 erasure set, 3 nodes, 2 disks per node (6 disks)
minio server --address :9000 --console-

[2022-10-04 14:25] jallaix opened #15791 "Prometheus credentials"
**Is your feature request related to a problem? Please describe.**
Our MinIO metrics are directly sent to Amazon Managed Prometheus (AMP) using Grafana Agent.
But the MinIO console can't access Amazon Managed Prometheus metrics. Minio metrics are thus unavailable in the console.

**Describe the solution you'd like**
Implement SigV4 authentication to allow the console to access Amazon Managed Prome

[2022-10-05 08:07] silverwind opened #15795 "Invalid Bucket creation timestamps "0001-01-01 01:05:21 LMT""
## Expected Behavior
Minio should set valid timestamps for the bucket creation date. For me, all newly created bucket receive the same invalid timestamp `0001-01-01 01:05:21 LMT` which breaks the `awscli ls` with `OverflowError: date value out of range`.

## Current Behavior

I'm sure this is something about my setup, but since a recent update, all buckets that are created on either CLI or Web Int

[2022-10-05 08:16] harshavardhana commented on #15795
@silverwind I don't see it locally

[code]

what do the server logs say?

[2022-10-05 08:48] silverwind commented on #15795
I run minio via docker and those `stdout` logs are not very verbose. Will try to get more detail logs. I assume the issue must happen during the `s3.putBucket` operation.

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/115237/194019772-03af65c8-893a-46cf-a9a1-7b3e2daa9990.png">

[2022-10-05 11:40] vadmeste commented on #15795
@silverwind can you do 'ls -ld /path/to/bucket' inside your container ?

[2022-10-05 11:54] silverwind commented on #15795
Looks normal:

[code]

The  invalid date is likely only in the metadata file, but I'm not sure how to decode that format:

[code]

[2022-10-05 17:10] harshavardhana commented on #15795
Can you attach that file ?

[2022-10-05 23:20] silverwind commented on #15795
[Here it is](https://github.com/minio/minio/files/9719508/meta.zip).

Meanwhile, I tried to decode the binary date `c70c05fffffff1886e090000000000`, but it does not make any sense. The binary encoding of these 15 bytes is done [here](https://github.com/tinylib/msgp/blob/f3635b96e4838a6c773babb65ef35297fe5fe2f9/msgp/write_bytes.go#L303).

This is on the `minio/latest` docker tag. Downgrading to  `m

[2022-10-05 23:26] harshavardhana commented on #15795
I can't seem to reproduce this with any releases we have unit and functional tests to capture this.

Unless the time obtaining itself is broken on your setup I am not sure what it might be.

[2022-10-05 23:31] silverwind commented on #15795
I can narrow it down to `RELEASE.2022-07-26T00-53-03Z` which is the first bad version that causes it. `RELEASE.2022-07-24T17-09-31Z` works fine.

Diff: https://github.com/minio/minio/compare/RELEASE.2022-07-24T17-09-31Z...RELEASE.2022-07-26T00-53-03Z
Suspected commit: https://github.com/minio/minio/commit/426c902b87d5259f766c20d616811f6d24cc26dd

[2022-10-05 23:54] silverwind commented on #15795
For all I can tell, after https://github.com/minio/minio/commit/426c902b87d5259f766c20d616811f6d24cc26dd, `newBucketMetadata` no longer sets `bucket.Created` to `UTCNow()` so it should end up at the zero value after the function returns, to be updated via `SetCreatedAt`. There are 11 call sites to `newBucketMetadata` and only two of them call `SetCreatedAt` after `newBucketMetadata`.

Maybe @poorn

[2022-10-06 00:01] harshavardhana commented on #15795
@silverwind can you cat `/backend_disk/.minio.sys/format.json`?

[2022-10-06 00:04] harshavardhana commented on #15795
Found the problem it is to do with legacy FS backend @silverwind looks like you have an existing setup on this path.

[2022-10-06 00:06] harshavardhana commented on #15795
SetCreatedAt must be called "3" times it was only called 2 times.

[2022-10-06 08:25] silverwind commented on #15795
Here's format.json:

[code]

[2022-10-06 09:46] #15795 closed

[2022-10-06 09:47] harshavardhana commented on #15795
You would have to setup two different second one will be a fresh drive and then simply `mc mirror -a old/ new/`

[2022-10-06 10:05] silverwind commented on #15795
Okay, maybe I'll try that later. Thanks for the quick fix.

[2022-10-06 13:33] mortam opened #15804 "Tag values containing non ascii characters don't pass validation"
## Current Behavior
We are sometimes using non-ascii characters in tag values (done via setObjectTagging in AmazonS3 SDK). Particular example might be tag value _ódy žluťoučkého koně_. Values like this worked fine up to the version RELEASE.2022-09-25T15-44-53Z. Since the version RELEASE.2022-10-02T19-29-29Z we are getting error, that claims this tag value is invalid. We get the same error, if we t

[2022-10-06 13:40] klauspost commented on #15804
Looks like a likely regression from #15777 or #15763 though I can't spot it.

[2022-10-06 14:36] harshavardhana commented on #15804
Tagging is not supported for non ASCII values according to AWS S3 tagging restrictions.

Let me check for AWS S3 compatibility here.

[2022-10-06 16:17] harshavardhana commented on #15804
Yep, non-ASCII are not supported with AWS S3 - we are doing this to comply with AWS S3 implementation @mortam - unfortunately, we can't change this back since the previous code was incorrect.

[code]

[2022-10-06 16:17] #15804 closed

[2022-10-06 16:20] harshavardhana commented on #15804
and works when it is ascii

[code]

[2022-10-06 21:17] ikitommi opened #15811 "Invalid urls for presigned PUT requests"
When using minio inside a gitlab ci-pipeline, the putobject url signing returns invalid urls.

## Expected Behavior

Get a signing url with host/bucket/key, e.g. `http://s3:9000/my-bucket/123`

## Current Behavior

Get a signing url with host/bucket/key, e.g. `http://my-bucket.s3:9000/123`

## Context

Can't run `minio/minio` with gitlab ci-pipeline with presigned puts.

## Your Environment

[code

[2022-10-06 21:38] harshavardhana commented on #15811
Well this is client side problem , you need to enable path style based presigned URL nothing to do with MinIO server.

Enable path style in your gitlab-ci or whichever pipeline that generates this designed URL

[2022-10-06 21:38] #15811 closed

[2022-10-07 12:15] findinpath opened #15815 "The output of `s3.ListObjectsV2` omits the key corresponding to the prefix"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

Same as in AWS S3, MinIO offers the possibility to create "directory" objects.
If we call from the `AmazonS3` client the listing functionality with a prefix corresponding to a directory object, we would expect that (same as when doing the listing against AWS S3 A

[2022-10-07 12:27] vadmeste commented on #15815
@findinpath could you double check with the latest MinIO version ?

[2022-10-07 13:07] #15815 closed

[2022-10-07 16:02] harshavardhana commented on #15815
you shouldn't be using this you need to use latest release RELEASE.2022-10-05T14-58-27Z

[2022-10-10 08:40] RunInto opened #15824 "My minio started as a single disk, but the storage was erasure block storage"
I deleted the ~/.minio/ and the.minio.sys/ under the bucket, and restarted it. It's still erasureproof block storage.

I want to single disk, not block run, how to do?

[2022-10-10 09:46] ankur-jaiswal1981 opened #15825 "Minio - Azure AKS to use Azure Blob Storage"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior

Earlier, Minio provided the Azure Gateway Functionality as "interface" to connect the Azure Blob Storage as a PV or PVC. However, after "Azure Gateway" was deprecated there has been no update as how we can now use _"Azure Blob Storage with M

[2022-10-10 10:29] vadmeste commented on #15825
@ankur-jaiswal1981 can you describe how you deployed MinIO AKS ?

[2022-10-10 10:38] vadmeste commented on #15824
@RunInto it is still single disk without data redunduncy.

The new format supports much more S3 features. The old format is deprecated for new deployments but still supports old deployments.

[2022-10-10 10:45] ankur-jaiswal1981 commented on #15825
Yep. Here you go -
1.   Azure AKS was installed natively via the Azure GUI.
2.   This Helm chart : helm.sh/chart:minio-operator-4.3.7, was used to instantiate the Minio Operator and Minio Console - both running as a pod in Azure AKS.
3.   Got the JWT using the `Kubectl get `secret``
4.   Port forwarded the console pods running in AKS.
5.   Accessed the GUI by putting the JWT obtained in Step 3.
6.

[2022-10-10 12:03] vadmeste commented on #15825
You need to manually install Azure Blob CSI, https://learn.microsoft.com/en-us/azure/aks/azure-blob-csi?tabs=NFS

[2022-10-10 14:23] RunInto commented on #15824
@vadmeste How does the new format of SNSD mode ensure high availability of data by utilizing the underlying storage volume? please.

[2022-10-10 14:47] klauspost commented on #15824
@RunInto It does not. It merely stores metadata and other file information in a similar format. But if your drive dies you lose all your data.

It will however allow you to use all features like versioning, locking, etc.

You should not use SNSD in production unless you, yourself can guarantee the storage will never fail.

[2022-10-10 14:47] #15824 closed

[2022-10-11 10:30] dxl727754275 opened #15837 "The K8S deployment cluster video cannot be played"
k8s version: 1.22.4
minio version: latest
Fault phenomenon：Video larger than 300kb cannot be played, and video smaller than 300kb can be played
![111](https://user-images.githubusercontent.com/40659245/195067153-670d6f46-b974-4a26-9e1b-d15b1105710c.jpg)

trace: 503 found
![222](https://user-images.githubusercontent.com/40659245/195066484-8b0ac87f-d120-4907-a728-25283e24a5c2.jpg)

yml:
kind: Statef

[2022-10-11 22:01] cboettig opened #15841 "MINIO Client fails to handle URL encoded paths correctly on Google Cloud Storage"
This issue matches previously reported issue https://github.com/minio/minio/issues/7277.  As documented there, this issue does not occur with the most recent version of MINIO server, or with other clients that use the S3v4 API.  But MINIO claims to support Google Cloud Storage as well, and to work across cloud providers, and does so using the S3v2 API, where paths requiring URL encoding create pro

[2022-10-11 22:02] harshavardhana commented on #15841
This has nothing to do with `mc` the issue is Google Cloud doesn't implement encoding-type URL properly as per AWS S3 standards @cboettig

You should ask GCS S3 layer to be fixed here - see here what works and what doesn't work with Google Cloud

https://gist.github.com/harshavardhana/5d4d7410afb02ec9837e2b4d82a932e7

[2022-10-11 22:02] #15841 closed

[2022-10-11 22:03] harshavardhana commented on #15841
Also please open an issue related to `mc` at https://github.com/minio/mc/issues not here.

[2022-10-11 22:05] cboettig commented on #15841
awesome, thanks for the reply and apologies for the wrong location. Do you want me to open this particular one in `minio/mc` (I'm guessing not since as you say it's really a GCS problem)

[2022-10-12 11:53] andyzheung opened #15845 "why I use the minio client sometimes error but sometimes good."
![image](https://user-images.githubusercontent.com/22912347/195335818-6018ca7f-63fe-42d1-966d-89e85d353a54.png)

![image](https://user-images.githubusercontent.com/22912347/195335902-aceda462-7405-4859-9fea-25a7ce6ed59a.png)

why can this? because network?

[2022-10-12 13:17] lcfd opened #15848 "Adding MINIO_SERVER_URL breaks the console login"
## Expected Behavior
I expect to be able to login into the Minio Console and have the sharing links working.
Minio should work behind a domain and TLS.

## Current Behavior

After entering the credentials, the loading spinner starts and ends after a long time.
The result is an error at the top of the page.

`Post "https://minio-api.example.com/": dial tcp xxx.xxx.xxx.xxx:443: i/o timeout`

## Step

[2022-10-13 08:01] acheglakov opened #15853 "LDAP server error: LDAP is not configured"
LDAP server error: LDAP is not configured
## Expected Behavior

Update to RELEASE.2022-10-08T20-11-00Z broke my AD settings.

## Current Behavior

I used mcli admin update command. After update I got a message: "LDAP server error: LDAP is not configured" .
I use minio in distributed environment with systemd scripts. AD settings are in systemd environment file.

## Possible Solution

Downgraded to

[2022-10-13 16:37] Ray-Barker opened #15856 "Flag provided but not defined: -console-address"
## Expected Behavior
Successful helm chart installation

## Current Behavior
Minio pod crashes with the error
`Incorrect Usage: flag provided but not defined: -console-address`, chart installation fails.

## Possible Solution
Remove the  --console-address flag since minio binary help doesn't show there's such a flag

## Steps to Reproduce (for bugs)
1. Add helm chart repo
2. Install helm chart wit

[2022-10-13 16:54] Ray-Barker commented on #15856
Nevermind, my mistake in image tag, sorry :)

[2022-10-13 16:54] #15856 closed

[2022-10-13 19:34] donatello commented on #15853
Could you list the ldap related config parameters in use in your setup?

[2022-10-13 20:40] siddjellali opened #15859 "Minio Console can not be served on subpath using the latest Minio version"
Hello,

Subpath seems to be not working [#14761](https://github.com/minio/minio/pull/14761)

**nginx**
[code]

**Dockerfile**
[code]
`Version: DEVELOPMENT.2022-10-08T20-11-00Z`

![image](https://user-images.githubusercontent.com/3965823/195706680-b56dd7b9-68a2-4895-9a64-57967aea69a2.png)

BASE HTML balise seems good...

![image](https://user-images.githubusercontent.com/3965823/195706833-b27968b6-

[2022-10-13 20:56] harshavardhana commented on #15859
You are compiling your own ?

This is useless to set

This is wrong https://github.com/minio/minio/pull/14761#issue-1205981691

Correct

[code]

MINIO_BROWSER_REDIRECT_URL="http://localhost:8000/s3"  for starting MinIO

[2022-10-13 20:56] #15859 closed

[2022-10-14 00:29] binnie268 opened #15863 "minio-go not all csvs are able to get minioReader.Stat() after using s3zip feature"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

When we have let's say 7 csvs, only 5 out of the 7 csvs we were able to call the .Stat() function on. The 2 other csvs are erroring out. We want to copy a file from a zip into another bucket
## Expected Behavior

All of the csvs Obin the zip should be able to suc

[2022-10-14 00:49] harshavardhana commented on #15754
Closing this as stale issue for now, please let us know the server logs we can re-open and re-investigate.

[2022-10-14 00:49] #15754 closed

[2022-10-14 00:54] binnie268 commented on #15863
Actually, I was debugging and realized my team somehow downgraded our version. I will update the version again to latest release. Closing for now.

[2022-10-14 00:54] #15863 closed

[2022-10-14 03:19] sighingnow opened #15864 "Mock slow S3 connections using minio"
**Is your feature request related to a problem? Please describe.**

Hi folks, we are searching for tools that can serve as a compatible S3 store but provides a _configurable_ and _stable_ slow (at the configured value) read / write throughput, for testing purpose.

Minio looks promising for us but I failed to find how to tuned such settings. May I know if such feature has already been supported by

[2022-10-14 04:01] harshavardhana commented on #15864
You should use `tc` to configure the appropriate client speed on the client NIC.  You can't arbitrarily slowdown the server that is not what MinIO is meant for.

[2022-10-14 04:01] #15864 closed

[2022-10-14 05:14] sighingnow commented on #15864
I see. Thanks anyway!

[2022-10-14 08:20] siddjellali commented on #15859
Excellent, thanks a lot.
Do you know if it's possible to have the same with API as well ?

[2022-10-14 08:52] spapas opened #15865 "Login to console takes too long when behind an nginx proxy"
Hello friends, I am trying to setup minio console to listen to port 9001 behind an nginx proxy .The nginx configuration for the console is the following:

[code]

What happens is that when I try to login by visiging http://console.example.com I get the login page immediately. If I enter a wrong username password I immediately get the error message. However if I try to use a *valid* username passwo

[2022-10-14 08:56] spapas commented on #15865
Hello friends, I'm closing this. After I tried with a simple DSL connection it worked fine! It seems that our corporate firewall does some funny stuff with the connection so there's no reason to researc that more.

[2022-10-14 08:56] #15865 closed

[2022-10-14 08:56] Iceforestik opened #15866 "does not allow sso"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

does not allow sso

## Expected Behavior

there should be an entry into the minio console
## Current Behavior

I type in my username and password after clicking on the Login with SSO button, I get back to the Login with SSO page and after that the login does not

[2022-10-14 09:03] harshavardhana commented on #15859
No that is not allowed in S3 API

[2022-10-14 10:43] bpedersen2 commented on #15866
Looking at the policy I think you are not granting enough rights for the console, see https://github.com/minio/minio/issues/14099

[2022-10-14 15:16] ravindk89 commented on #15866
just checking - your `policy` claim for that user has `readwriteuserjwt` as the value - but that policy does not appear to exist on MinIO. Can you change that value to `consoleAdmin` to start?

Once you confirm you can log in with the admin credentials, then it makes more sense to try restricting access based on S3 Resource and such.

[2022-10-14 21:05] titiviking opened #15872 "No HTTP tracing in latest releases"
Previous versions did proper tracing when using the command `mc admin trace -v s3minio` .
However the latest versions don't display the http traces anymore:

[code]

[2022-10-15 05:49] Iceforestik commented on #15866
I put the policy=consoleAdmin attribute in keycloak, but the error remained, I really already broke my whole head how to configure it
![изображение](https://user-images.githubusercontent.com/47591939/195971139-f0569d38-1a01-4b92-addc-252a1dd25aa4.png)
![изображение](https://user-images.githubusercontent.com/47591939/195971160-e7f289e2-b19e-43f5-a054-bd31c6d3b128.png)
![изображение](https://user-im

[2022-10-15 12:59] richardARPANET opened #15874 "PUT Bucket Cors does not work, results in MalformedXML response"
Minio `Version: RELEASE.2022-10-08T20-11-00Z (go1.18.7 linux/amd64)`

I'm running this python code, which works with AWS and works with localstack. When i switch my config to point to minio instead, it does  not work.

[code]

Exception:

[code]

The request body it makes:

[code]

Minio logs:

[code]

-----

The same error happens when using the CLI:

[code]

[code]

[2022-10-15 15:53] harshavardhana commented on #15874
We do not support PUT bucket Cors API and never have. You don't need this API with MinIO CORS is enabled by default and can be globally controlled via `mc admin config set alias/ api allow_cors_origin=..`

[2022-10-15 15:53] #15874 closed

[2022-10-15 15:54] richardARPANET commented on #15874
@harshavardhana thanks for clarifying, will do as you suggested :+1:

[2022-10-16 12:23] ikitommi commented on #15811
Thanks for the quick reply.

Is there a way to force minio to always use path-style presigned urls? Minio defaults to path-based when accesses with ip-address (e.g. from host into docker network), and to virtual-host-style when accesses with name (withing the docker network)? The latter fails with presigned urls.

[2022-10-16 14:01] KaymeKaydex opened #15876 "File sharing error with docs/orchestration/docker-compose"
iv got generated link for file share into my minio
`http://192.168.176.2:9000/test/b46xpy.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SDBI8D1VXUG0OD0YBCXA%2F20221016%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221016T140018Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJTREJJOEQxVlhVRzBPRDBZQkNYQSIsImV4cCI6MTY2NTkzMjQwNiwicGFyZW50Ijoib

[2022-10-16 14:05] KaymeKaydex commented on #15876
I found similar problem https://github.com/minio/minio/issues/8897?ysclid=l9bf4q2q7j809259524

[2022-10-16 15:59] harshavardhana commented on #15876
You cannot replace URL names `host` is part of signature calculation.

[2022-10-16 15:59] #15876 closed

[2022-10-16 16:03] harshavardhana commented on #15811
This is an issue of the client SDK that you are using @ikitommi not MinIO.

[2022-10-17 06:12] MilesWuCode opened #15877 "minio admin web with nginx proxy manager , download image not working 403"
## Expected Behavior
i use docker and nginx proxy manager on one site server
[code]

## Current Behavior
minio admin :
create public buckets and  upload a.json b.jpg
only json file can be download
b.jpg can not preview and download

## Possible Solution
disabled
[code]
## Steps to Reproduce (for bugs)
![Screenshot 2022-10-17 2 06 31 PM](https://user-images.githubusercontent.com/1192835/196101372-1

[2022-10-17 06:19] harshavardhana commented on #15877
Please share your nginx config..

[2022-10-17 08:01] klauspost commented on #15872
@titiviking Please post exact MinIO and mc versions.

[2022-10-17 08:13] titiviking commented on #15872
Minio:    Version: RELEASE.2022-10-08T20-11-00Z (go1.18.7 linux/amd64)
MC:        mc version RELEASE.2022-05-09T04-08-26Z

[2022-10-17 09:49] titiviking commented on #15872
With exact same version it works... surprised there is no warning or backward compatibility, but hey it's fixed at least for now.

[2022-10-17 09:49] #15872 closed

[2022-10-17 10:08] klauspost commented on #15872
@titiviking You should always keep the versions in sync.

[2022-10-17 11:51] cumtb-edu-loo opened #15881 "In cluster mode, files cannot be merged after fragments are uploaded"
### Problem description
I use aws-sdk-cpp to access minio and upload large file fragments. Because minio-cpp does not support Windows.

It works well in non-cluster mode, but cannot merge files after uploading in cluster mode without any error messages..

Whether the minio cluster supports sharding uploads or what configuration is required.

### Environment
Windwos 10 wsl ubuntu 18.04
docker image

[2022-10-17 12:02] klauspost commented on #15881
What error is returned?

[2022-10-17 21:29] vadmeste opened #15888 "Fix sporadic test failure under Windows"
[code]

[2022-10-17 21:31] harshavardhana commented on #15888
@vadmeste this can never be fixed properly - it is simply better to ignore this test on windows.  On Windows the net.Listen() is racy.

[2022-10-18 07:35] acheglakov commented on #15853
Hello!

Just from one node, others have similar config:
[root@node-t-as1 ~]# cat /etc/systemd/system/minio-test00.service
[Unit]
Description=Minio test00
Documentation=https://docs.minio.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/test00/minio-test00

# Avoid noisy crashloops
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
WorkingDirectory

[2022-10-18 13:37] shabbiervempalli-yti opened #15892 "Unable to Override MINIO_SERVER_URL in minio-operator deployed via helm charts"
when I tried to  override the environment variable of  minio-operator deployed via helm charts
from MINIO_URL =  [http://minio.minio-staging-tenant.svc.cluster.local:80](http://minio.minio-staging-tenant.svc.cluster.local/) to  other public URL
when I edited stateful sets its again restored to the same default minio_url instead the new one
and its terminates one pod getting back to the older varia

[2022-10-18 20:32] PeterPilley opened #15895 "403 Forbidden when downloading via MINIO Console or any other S3 tool"
## NOTE
Version: 2022-07-17T15:43:14Z
We have a Minio cluster set running on a docker swarm, we are using traefik to manage the connections.
We have a bucket that is a mix of videos and images, the issue we are seeing is we can upload to the nominated bucket fine, however if we try and download the files we are seeing a 403 Forbidden response.

If we create a shared link from the MINIO console the

[2022-10-18 20:47] harshavardhana commented on #15895
You do not have the right permissions @PeterPilley

[2022-10-18 20:47] #15895 closed

[2022-10-18 21:21] PeterPilley commented on #15895
Hi @harshavardhana

So its a policy or access rules issue? Is the default policy to allow upload but not download?

[2022-10-19 02:32] iarchean commented on #8007
Having the same issue, for me I run minio in k8s, my service access minio cluster through service-name:9000, but users use it from outside the cluster through https://external-fqdn:443, so change the /etc/hosts is not working for me because they have different port.

[2022-10-19 13:35] mdragilev opened #15901 "Helm chart - purge is a required parameter when specifying versioning"
## NOTE
The helm chart accepts buckets values to set up the initial set of buckets.  One of the parameters is versioning (enable / disable for a bucket).  However, the helm chart helper method is called as `createBucket {{ .name }} {{ .policy }} {{ .purge }} {{ .versioning }}` using positional parameters.. If purge is not provided, then versioning value will become the 3rd positional parameter.  W

[2022-10-19 14:56] poostwoud opened #15902 "Queue dir and limit set incorrectly when adding notification target via console"
When adding a webhook notification target using the console (Notifications > Add notification target > Webhook), setting the queue directory and limit creates an invalid target.

Accessing objects in a bucket it seems it causes the interface to redirect to the login screen after accessing different objects a number of times.

Checking the target using the command line shows the target variables ar

[2022-10-19 16:36] pschichtel opened #15903 "`The TagValue you have provided is invalid` breaks Console and tag deletion"
We have a minio instance with a couple of buckets that seem to have invalid tag values. I'm not sure how we managed to even write these values (has there recently been a problem with the validation in the tagging API?). These few affected buckets completely break the console login. Additionally, using mcli, I cannot remove the tags from the affected buckets.

It is always the same issue: `The TagV

[2022-10-19 16:39] harshavardhana commented on #15903
Any existing tags that were incompatible is not supported anymore.

We used to support a wider array of tag values which was wrong so we moved the tags to be more in line with S3 compatible behavior.

You can write an API call directly to wipe them.

[2022-10-19 16:39] pschichtel commented on #15903
We are using the regex `[^\p{L}\p{Z}\p{N}_.:/=+\-@]` from https://docs.aws.amazon.com/directoryservice/latest/devguide/API_Tag.html to replace invalid characters with underscores.

[2022-10-19 16:40] harshavardhana commented on #15903
This not true for all services, AWS S3 doesn't support this.

[2022-10-19 16:41] pschichtel commented on #15903
oh. is there a correct regex or list of characters that is supported?

[2022-10-19 16:43] harshavardhana commented on #15903
https://github.com/minio/minio-go/blob/master/pkg/tags/tags.go#L72 @pschichtel

[2022-10-19 16:44] harshavardhana commented on #15903
is this not allowed you say? @pschichtel can provide the full output?

[2022-10-19 16:49] pschichtel commented on #15903
[code]

[2022-10-19 16:52] pschichtel commented on #15903
this is what the server logged:

[code]

[2022-10-19 17:18] harshavardhana commented on #15903
Yeah I think during delete we can avoid parsing things, let me send a fix for this.

[2022-10-19 22:15] PeterPilley commented on #15895
I have been working on this overnight and I cannot see any permission that should resolve this, @harshavardhana are you able to assist.

I have tried with the same credentials to download the file via mc and it is fine.

If I try to download via the Minio Console or Cyberduck I get a 403 Forbidden. The account has READWRITE permissions which I understood means they have full get/putObject permissi

[2022-10-19 22:16] ir0nhide opened #15906 "S3:CopyObject on transitioned objects is not working"
## Expected Behavior
If S3:CopyObject on a transitioned object is executed, a new, non-transitioned object version with same content/tags/... is created.
The object copy is accessible.

## Current Behavior
If S3:CopyObject is executed, a non-accessible object copy is created.
Trying to download the copied object from the Web-UI results in an 500 internal server error:

[code]
All Metadata from the

[2022-10-19 22:16] harshavardhana commented on #15906
Thanks for the report we will take a look.

[2022-10-19 23:21] PeterPilley commented on #15895
Just completed a test using the python minio library and can confirm I can upload and download items as expected, the same files when attempting to download via Cyberduck or via Minio Console present Forbidden.

I have also confirmed that using Cyberduck or Minio Console I can create and upload an object but cannot download, I can delete an object or prefix in Minio Console but I cannot delete a p

[2022-10-20 00:55] #15903 closed

[2022-10-20 04:20] PeterPilley opened #15911 "403 Forbidden when downloading via MINIO Console or any other S3 tool"
## NOTE
Re Opening as this is still not resolved
**Original**
We have a Minio cluster set running on a docker swarm, we are using traefik to manage the connections.
We have a bucket that is a mix of videos and images, the issue we are seeing is we can upload to the nominated bucket fine, however if we try and download the files we are seeing a 403 Forbidden response.

If we create a shared link fr

[2022-10-20 04:31] pschichtel commented on #15903
Thanks @harshavardhana for the quick fix. Your pull request doesn't seem to do something about not being able to login. Do you consider that a non-issue since this issue can't really be reached in newer versions?

[2022-10-20 04:45] PeterPilley commented on #15911
Have just tried again with s3cmd and if I use put instead of sync I can upload

[2022-10-20 06:40] pschichtel commented on #15903
Yes sure, but the handling of the situation could be better in the console. But I guess it's not really worth the effort for such an edge case.

[2022-10-20 15:07] auxe9800 opened #15913 "minio_bucket_usage_object_total doesn't get updated."
Recently, we found that `minio_bucket_usage_object_total` dones't get updated when we keep writing objects to MinIO cluster. Not sure it's caused by one of the buckets which stores all the objects at the root level without prefix.

## Expected Behavior
`minio_bucket_usage_object_total` keeps increasing when objects are ingested into MinIO.

## Current Behavior
`minio_bucket_usage_object_total`  ge

[2022-10-20 16:34] harshavardhana commented on #15903
Console UI can't do much here.

[2022-10-20 17:09] harshavardhana commented on #15913
@auxe9800 dumping objects in that manner at the root of the bucket will cause listings to fail as the filesystems stop responding to list such paths.

We expect that you create a proper object hierarchy, this is why beyond 100m entries at the root prefix we collapse them. You should build your application properly to use object storage here.

[2022-10-20 17:09] #15913 closed

[2022-10-21 03:40] Wenenenenen opened #15916 "uploading the whole folder in java sdk"
**Is your feature request related to a problem? Please describe.**
Is there an API for uploading the whole folder in the java sdk? Or do you have to cycle all the files and upload them one by one?

[2022-10-21 03:46] harshavardhana commented on #15916
You need to write this on your own using the SDK. Application-level logic stays outside of SDKs.

[2022-10-21 03:46] #15916 closed

[2022-10-21 12:49] zajdee opened #15918 "Minio still fails with IPv6."
The issue was reported in https://github.com/minio/minio/issues/6946 but the issue was closed without proper resolution.

It's 2022 and the issue is still there. IPv6 is no longer an optional feature, as many datacenters go IPv6-only.

Please consider fixing of the issue.
Please do not autoclose bug/issue reports, as that's a really bad habit.

Thank you.

[2022-10-21 12:54] muhammedfurkan opened #15919 "I uploaded files myself using via FileZilla, I cant show my files in minio console."
I uploaded big files using via Filezilla to minio volumes directory. I can't show my uploaded files in minio console. How can I do that?

## My Environment
* Version used (`minio --version`): mc version RELEASE.2022-10-20T23-26-33Z (commit-id=ad254a8fe2c7a72c3ae8a1a0ec44b799d9f6ef9a)

* Server setup and configuration:
* Operating System and version (`uname -a`): Linux server 3.10.0-1160.59.1.el7.x

[2022-10-21 14:00] ravindk89 commented on #15918
The issue was addressed by https://github.com/minio/minio/pull/6947

The OP of that issue confirmed the issue was fixed here: https://github.com/minio/minio/issues/6946#issuecomment-446529730

We still have a test suite that runs IPv6 validation in our regular build tests here: https://github.com/minio/minio/blob/master/buildscripts/verify-build.sh#L67-L76

We have made other fixes related to IPv6

[2022-10-21 16:08] harshavardhana commented on #15918
There is nothing reported here. Closing.

[2022-10-21 16:08] #15918 closed

[2022-10-21 16:12] ravindk89 commented on #15919
https://min.io/docs/minio/linux/operations/install-deploy-manage/deploy-minio-single-node-single-drive.html

Uploading files directly to the MinIO Volume is no longer supported from the 2022-06-02 release.

You can either pin to that release, or find an S3-compatible file transfer utility to move files in and out of MinIO.

[2022-10-21 16:12] #15919 closed

[2022-10-21 23:38] harshavardhana commented on #15911
@PeterPilley can you explain what policy was applied on the user can you provide us `mc admin policy info` output?

[2022-10-22 06:52] ravipokala opened #15928 "Kubernetes MinIO Operator installation issue ""operator TLS secret not found: secrets "operator-tls" not found"""
## NOTE
All GitHub issues are addressed on a best-effort basis at MinIO's sole discretion. There are no Service Level Agreements (SLA) or Objectives (SLO). Remember our [Code of Conduct](https://github.com/minio/minio/blob/master/code_of_conduct.md) when engaging with MinIO Engineers and the larger community.

For urgent issues (e.g. production down, etc.), subscribe to [SUBNET](https://min.io/pri

[2022-10-23 19:46] EStork09 opened #15930 "Add support for using Kubernetes Service Accounts to authenticate to Minio similar to AWS IRSA"
**Is your feature request related to a problem? Please describe.**
Many clients already use the AWS SDK or MC to interact with S3/Minio resources. It would be useful to allow a IDP and trust relationship for role assumption similar to AWS does for [IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/), right now we can add keycloak or another IDP with

[2022-10-24 06:34] krisis commented on #15906
I followed the steps to reproduce with the only difference that I used another MinIO deployment as warm tier instead of Backblaze's B2. I **couldn't** recreate this issue. Could you try to recreate this issue using another MinIO deployment as your warm-tier?
I used the following docker-compose to create repeatable setup. In this setup,
- `minio` service refers to the primary MinIO object storage,

[2022-10-24 08:32] ir0nhide commented on #15906
Thank you for your investigation.

I was able to reproduce the bug with your provided test setup.
To perform a Server-Side Copy, i used rclone copyto. I extended your testscript to reproduce the actual bug directly:

test.sh:
[code]

rclone.conf:
[code]

Please change the SERVER_IP in rclone.conf to the one in your test setup.

[2022-10-24 08:37] Elektordi opened #15931 "Create share link fails with default duration if there is a time change (DST) during the period"
Minio with the default settings (7 days limit on link expiration) fails with error "Expires cannot be greater than 7 days." if there is a time change (DST) which add time during the following 7 days.
(In France, we will add an hour on this sunday, 2022-10-30)

I think the bug in on the frontend.

## Expected Behavior
Share link should be displayed on the UI, as usual.

## Current Behavior
When cli

[2022-10-24 09:27] harshavardhana commented on #15931
@Elektordi Console UI doesn't support lengthy expiration links via UI https://github.com/minio/console/issues/922

However, you are advised to use `mc share download` for automation for now instead of UI.

[2022-10-24 09:27] #15931 closed

[2022-10-24 10:12] cb-inycom commented on #15735
Hi everyone.

I got the same error using a similar docker-compose.yml file.

@PelePeluche could you please explain how did you solve the error?
Could you share your final docker-compose.yml file?

[2022-10-24 11:14] ebozduman opened #15932 "CopyObject api does not support s3-zip files"
Incomplete s3-zip file feature.
CopyObject api does not support it.

## Expected Behavior
CopyObject api is also expected to support s3-zip files just like HeadObject, GetObject and PutObject apis do.

## Current Behavior
When I added and run a functional dotnet test with CopyObject api, it failed with the following error for the source file:
`The specified key does not exist.`
I also tried it wit

[2022-10-24 11:24] klauspost commented on #15932
No. This is not supported.

https://github.com/minio/minio/tree/master/docs/extensions/s3zip#requirements-and-limits

You can copy the entire object, not extract to a copy. It is complex and rarely used.

[2022-10-24 11:24] #15932 closed

[2022-10-24 13:37] omarkohl opened #15934 "Site replication and server-side bucket replication are supposed to be mutually exclusive, yet both can be enabled"
According to the [documentation](https://min.io/docs/minio/linux/operations/install-deploy-manage/multi-site-replication.html):

Yet we found that even after enabling site-replication it's possible for a client to enable server-side bucket replication. And as far as we can tell it's also working fine. Everything gets replicated as it should. The only thing that is out of the ordinary is that "mc a

[2022-10-24 14:58] ir0nhide commented on #15906
To reproduce the second part of the bug, execute the following commands after the test script has finished:

[code]
This will result in the follwoing error:

[code]

But the object copy is still listed inside the bucket:
[code]

[2022-10-24 17:28] harshavardhana commented on #15911
I tried with relevant permissions all tools and Console UI work fine.  This mainly looks like some policy issue on your end.

[2022-10-24 17:28] #15911 closed

[2022-10-24 17:50] PeterPilley commented on #15911
Hi I only saw this come in now I have tried with full s3* and then also locked down to specifics ie s3 getobject

[2022-10-24 17:51] PeterPilley commented on #15911
Hi why was this closed again this hasn't been resolved

[2022-10-24 17:59] harshavardhana commented on #15911
Unless you can answer the questions that I asked previously https://github.com/minio/minio/issues/15911#issuecomment-1287536659 - there is nothing actionable for us.

[2022-10-24 18:05] PeterPilley commented on #15911
I will post the exact policybut I have tried s3:* as well as limiting it to specific permissions (this is also mentioned in my original post). My understanding is s3:* should mean everything is enabled.

What policies and permissions did you add that could be different to that. Can you help me understand why some files will have the ability to be downloaded or even interacted with to get Metadata

[2022-10-24 18:55] harshavardhana commented on #15911
Nothing I just used "readwrite" policy that's all everything works as expected.

[2022-10-24 18:57] PeterPilley commented on #15911
How many files did you try with as mentioned I found some files worked others didn't. Are you in the same version I was using or are you saying on the latest version this is not presenting the same issue.

[2022-10-24 19:22] harshavardhana commented on #15911
We have bazillion production deployments @PeterPilley it is impossible to have such basic issues. I am sure you are doing something funky on your end.

MinIO you must use RELEASE.2022-10-20T00-55-09Z which I tested. There are public deployments running such as https://play.min.io

[2022-10-24 19:25] PeterPilley commented on #15911
I do not doubt it, I have also a number deployed which is why it is really weird this is happening. The deployment is the same across all my stacks.

What else could I check that could cause some files to be 403 for getobject and others 200.

[2022-10-24 20:27] PeterPilley commented on #15911
I have just redeployed with RELEASE.2022-10-20T00-55-09Z and still can see the same issue

[2022-10-24 20:34] PeterPilley commented on #15911
Have tried creating a brand new user with builtin read/write policy, used cyberduck and minio console to try and download files with same result. Some files are able to be downloaded or view the associated metadata others return 403 even within the console

[2022-10-24 22:14] krisis commented on #15906
@ir0nhide Thank you for your help with recreating this issue. I have sent a fix for this issue. I tested locally that the issue is resolved with this fix. It would help if you can confirm that is the case.

[2022-10-24 23:32] #15906 closed

[2022-10-25 00:31] donateur opened #15938 "Sign RPM packages"
**Is your feature request related to a problem? Please describe.**
Thanks so much for providing packaged versions of MinIO, we have reasons not to run it in containers!

Currently we cannot be assured of the security of an RPM package provided by Minio, including the minio server itself and mcli, because the packages are unsigned.  This means packages could be tampered with between them being buil

[2022-10-25 00:36] harshavardhana commented on #15938
@donateur RPM packages packages a single binary and this binary has a minisign signature https://dl.minio.io/server/minio/release/linux-amd64/minio.RELEASE.2022-10-24T18-35-07Z.minisig

Does this not suffice for security?

[2022-10-25 03:24] #15934 closed

[2022-10-25 04:30] donateur commented on #15938
Thank you for the fast reply!

I was not familiar with this. While it does meet our needs, it will require us to come up with a custom validation method and we have to bypass an install warning about an unsigned RPM.
We're trying to automate the whole build process.

If the RPMs were signed it would make validation fully automatic using the native tools.

[2022-10-25 10:02] R-Studio opened #15940 "MinIO Helm Chart v5.0.0 cannot be downloaded (Error 404)"
## Expected Behavior
You can download/use the new v5.0.0 MinIO Helm Chart from repo `https://charts.min.io/`.

## Current Behavior
The Helm Chart cannot be found. Following error occurs if try to download (install/template) the Helm Chart:
`Error: failed to fetch https://charts.min.io/helm-releases/minio-5.0.0.tgz : 404 Not Found`

## Steps to Reproduce (for bugs)
1. Add the Helm repo: `helm repo

[2022-10-25 10:16] harshavardhana commented on #15940
its not released yet, how are you able to get it? the index only has

[code]

[2022-10-25 10:19] harshavardhana commented on #15940
Ah wait looks like the gateway removal was not pushed.

[2022-10-25 10:19] #15940 closed

[2022-10-25 10:31] masoud-msk commented on #15506
You must [disable cache](https://community.cloudflare.com/t/how-cloudflare-handle-head-request/238093) for the HEAD requests to work as expected. This is because [when caching, HEAD requests will be turned into upstream GET requests](https://community.cloudflare.com/t/when-cache-everything-head-requests-will-be-turned-into-get-requests/363090)

[2022-10-25 14:40] creeew opened #15942 "Bucket replication support exclude files to replicate by prefix"
Some files cannot be replicated. And there's only a way that "version extension prefix-exclude" to exclude prefix matched file to be replicated, but file disable versioning if using version prefix-exclude.

In bucket replication setting, we can configure prefix in object filter. Objects could be replicated if the object's name matched the prefix.
That would be great if MinIO have a feature that ob

[2022-10-25 15:03] omarkohl opened #15943 "With site-replication enabled, if replication-host is down, "make bucket" request fails but bucket is in fact created"
If we enable site replication between two sites and one of the replication hosts goes down, then "make bucket" requests in the other site will fail with 500/409 errors, but the buckets will in fact be created in the backend and will also be replicated when the replication host comes back up again.

With **replication host** I mean either the host on which the replication was enabled or the target

[2022-10-25 15:29] omarkohl opened #15944 "site-replication: Avoid making one host the single point of failure"
## Is your feature request related to a problem? Please describe.

If the host where I configure the site-replication goes down, then all hosts in the other site can no longer replicate data, despite other hosts being available in the local site. The other way around, if the replication target host in the remote site goes down, then all local hosts fail to replicate data to the remote site.

### E

[2022-10-25 17:31] ravindk89 commented on #15944
@poornas i had assumed that site replication should not rely on any single node in a given site - assuming this is a bug? e.g. even if my alias is for `site1-node1`, the resulting replication config should include all hosts in `site1`.

Otherwise we would need some guidance in our docs around setting an alias for the load balancer or something similar that is configured for multiple hosts - afaik

[2022-10-25 17:40] pjuarezd commented on #15930
hi @EStork09, I would like to compliment  @harshavardhana's here and share a little sneak peek of what he is talking about.

Below is the diagram of what we are intending to do, it's an approach more similar to IMDS IAM Credentials, but closelly integrated with [MinIO Operator](http://github.com/minio/operator) in the center of the picture.

![190481465-99746560-06b7-4ea7-bbb0-051d5bc8b5a1](https:

[2022-10-25 17:40] #15930 closed

[2022-10-25 17:43] poornas commented on #15944
@omarkohl, if you configure a node endpoint in site replication, what you are seeing is expected - for proper failover, you should be using a loadbalancer in front of each site and configuring site replication with LB urls.

Check out https://github.com/minio/sidekick - this is a lightweight loadbalancer that you can  run for each site to loadbalance requests to that site. Then edit your site repl

[2022-10-25 17:49] #15944 closed, assigned to poornas

[2022-10-25 17:51] harshavardhana commented on #15942
We are not going to further extend this to do reverse of the existing logic @creeew

[2022-10-25 17:51] #15942 closed

[2022-10-25 19:57] ravindk89 commented on #15944
I'm opening a docs ticket to make this more explicit, both in terms of expected setup and behavior.

Adding sidekick docs is out of scope at this time, so at the very least we need to make this behavior very clear. @omarkohl feel free to comment or otherwise follow that issue.

[2022-10-26 04:05] nafisrdn opened #15946 "unexpected disk ordering refusing to use the disk: expecting {host8}, found {host7}, refusing to use the disk (*fmt.wrapError)"
We're expanding our MinIO to 8 Servers with 1 drive each, but 2 drives are offline.

## Expected Behavior
Should all servers and drives are online.

## Current Behavior
All servers are online but 2 drives offline
<img width="191" alt="minioasd" src="https://user-images.githubusercontent.com/37695356/197931392-86f2ce8f-d6d0-49d7-8189-3e27aef40d38.png">

with error log:
`Error: Following error has b

[2022-10-26 04:14] harshavardhana commented on #15946
@nafisrdn as the message indicates you have incorrectly replaced the drives - please fix it.

[2022-10-26 04:14] #15946 closed

[2022-10-26 06:32] #15943 closed

[2022-10-26 08:24] omarkohl commented on #15943
Thank you for your excellent work and the blazingly fast fixes here and in #15934!

[2022-10-27 09:02] kad-willej opened #15955 "User metadata not retrieved with latest minio docker"
## NOTE

When I installed yesterday the docker container again. I couldn't fetch the usermetadata anymore (minio-java lib), it returns an empty list instead of the data.

## Expected Behavior

The usermetaData is filled with results

## Current Behavior

the usermetaData returns an empty list

## Steps to Reproduce (for bugs)

1. Use putobject with usermetadata
2. fetch listObject (includeUserMeta

[2022-10-27 09:04] harshavardhana commented on #15955
This has been changed which SDK are you using? @kad-willej

[2022-10-27 09:04] harshavardhana commented on #15955
Upgrade your Java dependency https://github.com/minio/minio-java/commit/f909b02fc86d9f455fcb82502ab820efaa6f6865

[2022-10-27 09:04] #15955 closed

[2022-10-27 09:08] kad-willej commented on #15955
I have installed 8.4.5 which seems to be the latest on maven?

[2022-10-27 09:10] harshavardhana commented on #15955
and you need to upgrade server as well.

[2022-10-27 09:12] kad-willej commented on #15955
If you look at the ticket you see I installed the lastest docker server.

[2022-10-27 09:15] kad-willej commented on #15955
I was the one who also reported the previous bug, but there seems te be a new regression.

[2022-10-27 16:08] harshavardhana commented on #15955
I don't see any regression @kad-willej I am using minio-java listObjects() works fine.

[2022-10-28 08:28] enrico2828 opened #15959 "Prometheus metric "minio_cluster_disk_offline_total" seems stuck even though all disks are online"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

We notice that some of our Minio pods in Kubernetes keep reporting wrong # of disks offline for a long time. All disks are online. It seems the metric is somehow "stuck". A restart seems to lead to reporting accurate numbers again.

## Expected Behavior
The prome

[2022-10-28 09:13] vadmeste commented on #15959
@enrico2828 do you still have the issue or it is gone away ?

[2022-10-28 09:15] enrico2828 commented on #15959
@vadmeste I experienced it today so yes it is a current issue.

[2022-10-28 09:21] vadmeste commented on #15959
@enrico2828 can you run

`curl -s -H "Authorization: Bearer $(mc admin prometheus generate <alias> --json | jq -r .bearerToken)" https://<your-minio-endpoint>/minio/v2/metrics/cluster  | grep minio_cluster_disk` and check if it is the same output ?

Please edit <alias> and <your-minio-endpoint> first.

[2022-10-28 09:38] creeew opened #15960 "[Feature request] Web Console add new setting about version exclude-prefixes"
Since we could use mc command to set specific prefix with no version ability: mc version enable --excluded-prefixes
And using mc version info --json to display configured exclude prefix.

It would be so nice if web console can support mc version enable excluded-prefixes configuration.

[2022-10-28 09:45] harshavardhana commented on #15960
MinIO Console UI is currently not going to make these changes, you are advised to use `mc` here for automation. Will move this to relevant repo.

[2022-10-28 09:47] harshavardhana commented on #15959
@enrico2828 is this cluster used for commercial purposes?

[2022-10-29 11:19] fhemberger opened #15966 "Storage resources are insufficient for the read operation .minio.sys/buckets/.background-heal.json (cmd.InsufficientReadQuorum)"
I'm running minio on my Synology NAS (DS414) in standalone mode.

Lately I decided to automatically shut down my NAS overnight and have it come back online in the morning. Unfortunately, this always causes the same error in minio, each time the system starts again:

[code]

Running `mc admin info local`, it states `Drives: 0/1 OK`.

I'm using the default [systemd unit file](https://github.com/mini

[2022-10-29 11:49] mahi072 commented on #15328
Hi @harshavardhana @donatello, I'm working on this issue.
I was actually trying to launch the server page using some default address provided in MinIO documentations, but I was getting timeOut error for that.
If you can please help me in this to resolve.
Please find the command and error attachment below:

![command](https://user-images.githubusercontent.com/89216134/198829691-d9e24975-4e04-49fb-9

[2022-10-29 15:52] harshavardhana commented on #15966
@fhemberger it seems like if you do that - your persistent data is gone.

You would have to consult Synology docs for how to persist data on it.

[2022-10-29 15:52] #15966 closed

[2022-10-29 16:54] fhemberger commented on #15966
@harshavardhana Persisted data in all my buckets are fine. I'm using minio for restic among other. When I validate my backups, everything checks out just fine.

[2022-10-29 18:01] harshavardhana commented on #15966
If everything is fine what is the problem? - we expect certain files we write to `.minio.sys/` folder to be readable if that is not readable then it won't work.

So you need to check your deployment here.

[2022-10-29 18:32] fhemberger commented on #15966
Everything works *except with this single file* above. minio runs as root (yes, I know it's not desirable, but everything else is a hassle on Synology), file acces rights are not the issue. This error only occurs when the NAS is powered down over night, not when it's running 24/7. So I guess the service is not terminated properly when the system shuts down (maybe a signal is sent despite a differe

[2022-10-29 18:41] harshavardhana commented on #15966
There is no reason for this file to be present for a single drive usage or even expected. I think we should simply ignore it for single drive mode.

[2022-10-29 19:20] fhemberger commented on #15966
@harshavardhana Thanks for the change! I'll take a look and see if it fixes my problem for good.

[2022-10-31 08:05] Jerryhax opened #15975 "It takes a lot of time to restart when building a Minio cluster across cities"
## Expected Behavior
startup minio cluster in in 1-2s

## Current Behavior
startup minio cluster in in 15-20s
(The four working nodes of K8S are distributed in four different cities)

## Possible Solution

## Steps to Reproduce (for bugs)

1. Distributed mino is running in the K8S cluster
2. kubectl     scale -n myminio  statefulset mymino   --replicas=0
3. kubectl     scale -n myminio  statefulse

[2022-10-31 08:18] harshavardhana commented on #15975
This is not supported @Jerryhax -. MinIO must not be deployed in a stretch cluster without bandwidth guarantees.

[2022-10-31 08:18] #15975 closed

[2022-10-31 08:19] harshavardhana commented on #15975
This is nothing but an incorrect k8s deployment - if you stretch your cluster in this manner. DNS requests will be very slow and you have an unstable k8s cluster.

[2022-10-31 08:31] jan-cipa opened #15976 "minio garbage in .minio.sys is not cleaned up"
## Expected Behavior
.minio.sys should be cleaned up periodically

## Current Behavior
there is a about 20% of volume space on each minio drive wasted in .minio.sys directory on most of the nodes
trash and multipart data are growing and not being cleaned up
**multipart** directory contains 15M files (59GB in total) and listing this directory takes 8minutes and disk usage calculation takes 50 minut

[2022-10-31 08:32] klauspost commented on #15975
@Jerryhax You can write `sales@min.io` and we can help you configure your cluster properly and you can get direct support.

[2022-10-31 08:45] Jerryhax commented on #15975
thinks for reply.
'kubectl scale' is used to restart the distributed mini cluster conveniently.

It only takes about 2 seconds to restart the distributed minio cluster witch nodes together.

[2022-10-31 09:26] enrico2828 commented on #15959
The metrics are reported correctly now after restarting the pods. I tried to reproduce the behavior, but for the moment cannot.
@harshavardhana we are a public service, not for profit organisation and by the way license acquisition is in progress.

[2022-10-31 14:28] harshavardhana commented on #15976
Should be addressed via #15979

[2022-10-31 14:28] #15976 closed

[2022-10-31 15:12] mshanmu commented on #15976
@harshavardhana , https://github.com/minio/minio/pull/15979 seems to only take care of tmp-old directory ? What about multipart as well?
Right now, using npd script to keep cleaning the empty directories under .minio.sys/multipart . Have been thinking to file a bug, did not have time to test a consistent repro.

[2022-10-31 16:04] klauspost commented on #15976
@mshanmu `stale_uploads_cleanup_interval=6h stale_uploads_expiry=24h` in your config above controls your upload purging.

[2022-10-31 16:19] jan-cipa commented on #15976
@klauspost multipart cleanup obviously not working as expected as there are files/dirs from January

[2022-10-31 16:28] harshavardhana commented on #15976
Multipart must work all the time.

[2022-10-31 16:29] harshavardhana commented on #15976
We will take a look I don't see anything suspicious there, you must be using an older release that created such a state.

[2022-10-31 17:03] jan-cipa commented on #15976
in case it is not deleted automatically, is it safe to run something like ?
`find  /mnt/ebs/minio[1234]/.minio.sys/multipart -mtime +7 -exec rm -f {} \;`

[2022-10-31 17:06] klauspost commented on #15976
@jan-cipa There is nothing that is 100% safe. You are welcome to try. Maybe start by moving it to another folder and observe for problems before you delete.

[2022-10-31 17:42] mshanmu commented on #15976
@harshavardhana / @klauspost  ,  am using a older minio image (6 months old), so, take it for what is worth, but, I am consistently seeing tons of older empty directories under multipart directory, even though these are supposedly to be cleaned up every day.

@jan-cipa , Since you have the latest minio image, can you please verify how old are the file & directories under .minio.sys/multipart direc

[2022-10-31 18:00] jan-cipa commented on #15976
@mshanmu
number of dirs per day since cluster creation
`ll -rt /mnt/ebs/minio2/.minio.sys/multipart | awk '{print $6 " " $7}' | uniq -c
    496 Jan 31
  52407 Feb 1
 153906 Feb 2
  45822 Feb 3
  50889 Feb 4
  47635 Feb 5
  45921 Feb 6
  47429 Feb 7
  43740 Feb 8
  43305 Feb 9
  42865 Feb 10
  40246 Feb 11
  77844 Feb 12
   6411 Feb 13
  93294 Feb 14
 128864 Feb 15
  64211 Feb 16
  87672 Feb 17
  3

[2022-10-31 18:34] mshanmu commented on #15976
@harshavardhana / @klauspost , I think what @jan-cipa posted seems to prove that multipart directory is not getting properly cleaned every day.

[2022-10-31 18:42] harshavardhana commented on #15976
Are there any files inside this or is it just empty folders?

[2022-10-31 19:47] harshavardhana commented on #15976
@mshanmu this question is for you as well..

[2022-10-31 20:13] jan-cipa commented on #15976
it seems that files cleanup works, but is leaves empty dirs behind.
I have 15 millions empty directories, only about 3.000 dirs are not empty (most recent one)

[2022-10-31 20:22] jan-cipa commented on #15976
regarding the tmp-old, do I understand it correctly that tmp-old is created during server restart like mv tmp tmp-old and then left there?
server was running for about 2 months without restart and it seems that data in tmp was not cleaned during that time.
can we remove the tmp-old completely to reclaim the lost space?

[2022-10-31 20:25] AliMirlou opened #15981 "Error from IDP: Key is of invalid type"
I have configured an IDP in a new MinIO SNSD linux instance.

## Expected Behavior
It is expected that the OAuth login would be successful and redirect me to the dashboard.

## Current Behavior
The login is unsuccessful with the following error:

![image](https://user-images.githubusercontent.com/19661419/199064339-d3005ce4-6b38-4426-bbff-8b0155b7274d.png)

## Steps to Reproduce
1. Installed the i

[2022-10-31 21:07] harshavardhana commented on #15976
Yes definitely.

[2022-10-31 21:08] harshavardhana commented on #15976
Yeah found a corner case where it can be left over, sent a fix.

[2022-10-31 21:28] mshanmu commented on #15976
Excellent, Thanks, @harshavardhana  !!

[2022-11-01 01:01] yanggangtony commented on #15901
yes, i thought you are wright.
I will make a pr for that.

[2022-11-01 01:26] yanggangtony commented on #15888
@harshavardhana @vadmeste
Hey , search for the issue , I found we can set the sysctl like linux in windows to fix that.

In windows , We can add :  " netsh int ipv4 set dynamicport tcp start=60000 num=60006 "

Is that ok ?
If this can be done , I will take a pr for fix that in windows.

[2022-11-01 06:06] harshavardhana commented on #15981
This error indicates that the JWT sent by fusionauth is malformed.

[2022-11-01 09:06] AliMirlou commented on #15981
I extracted the token from the MinIO trace logs when `AssumeRoleWithWebIdentity` request is being sent to the server and decoded and verified it.

![image](https://user-images.githubusercontent.com/19661419/199195828-aa8a050a-c11b-4965-a87f-8c3560c7d2c8.png)

![image](https://user-images.githubusercontent.com/19661419/199195605-c6d73a7a-36b6-4bb7-9547-a05c7e1357e1.png)

Everything seems to be corr

[2022-11-01 09:21] vadmeste commented on #15888
Yes, that may work. Just try to allocate a wider range of ports

[2022-11-01 11:24] yanggangtony commented on #15888
/cc @vadmeste
PTAL

[2022-11-01 15:08] harshavardhana commented on #15981
Can you provide the output of openid configuration URL?

[2022-11-01 17:12] AliMirlou commented on #15981
@harshavardhana Yeah.
[code]

[2022-11-02 04:18] hyt05 opened #15990 "Client_id claim missing from the JWT token, credentials will not be generated"
## The minio I created using minio-operator Below is my configuration
[code]
minio-console show
![image](https://user-images.githubusercontent.com/48778924/199393985-dfbb83fb-19f7-4a01-baf0-2498f9c5bb27.png)

to track  ，jwt decodes to
[code]

I create local policy，When I use CLAIM_NAME="idp" it logs in fine
[code]

I create 2089 policy，When I use CLAIM_NAME="sub" it still logs in fine
[code]

CLAI

[2022-11-02 04:36] harshavardhana commented on #15990
This is not a claim name @hyt05

[2022-11-02 06:50] hyt05 commented on #15990
Which of the jwts I returned above are valid CLAIM NAMEs?

[2022-11-02 08:16] fig0 commented on #15535
We have had the same problem for months. We have therefore updated to version "2022-08-13T21-54-44Z" last Wednesday (2022/10/26) and unfortunately the problem still occurred last Monday (2022/10/31). It is very frustrating. We have also tried to validate all components in the chain (Keycloak, VMs, network) but there are no abnormalities. The only constant is that the problem occurs every Monday be

[2022-11-02 08:57] Ploppz opened #15991 "Unable to initialize config system: migrateConfigToMinioSys: Storage resources are insufficient for the write operation"
I have a problem running minio in docker. I get this error:

[code]

I have enough storage space for sure.
This is my Dockerfile:

[code]

I run it simply with `docker run -p 9000:9000 minio`

## Your Environment

* Version used (`minio --version`):
[code]
Executed inside docker container

* Operating System and version (`uname -a`):
[code]

[2022-11-02 09:04] harshavardhana commented on #15991
We require that your backend filesystem supports O_DIRECT - it looks like its returning error when we want to write to disk. we also need support for O_DSYNC by the backend filesystem.

Looks like there is some bug in the OS you are using with kernel 6.x

[2022-11-02 09:04] #15991 closed

[2022-11-02 10:06] vadmeste commented on #15991
Maybe we were running MinIO with an older version which uses FS mode, but this was deprecated since some time.

Besides,  I tried with your dockerfile and it works just fine in my machine. I have some doubts that you are not really using the latest MinIO version

[2022-11-02 16:28] harshavardhana commented on #15535
@fig0 if you have a critical setup you should be subscribing as a customer with us so that we can help you. Other than that there is hardly any information here for me to help you..

[2022-11-02 19:41] harshavardhana commented on #15981
Reproduced this via FusionAuth local deployment, verifying what this might be.

[2022-11-02 21:54] harshavardhana commented on #15981
Okay the issue is your alg we expect that you use RS256, ES256 i.e assymetric keys for authentication - however you are using (default) to HS256 which is a hmac style.

This is a feature request for MinIO to support OpenID with HS algos.

[2022-11-02 22:12] harshavardhana commented on #15981
So if you end up enabling the JWT to use RS keys then it will work fine with MinIO. Closing this as we are not planning to support HMAC based keys at the moment please enable RS/EC keys.

[2022-11-02 22:12] #15981 closed

[2022-11-03 01:11] AliMirlou commented on #15981
@harshavardhana Well it's fine to not support it but can you mention this in the documentation, so future people with a similar problem don't get confused?

[2022-11-03 03:44] harshavardhana commented on #15981
we won't mention it, instead, we can support it #15993

[2022-11-03 06:21] JCJC01 opened #15995 "obsidian use minio s3 to sync"
![图片](https://user-images.githubusercontent.com/103412730/199657963-7a511161-4755-4c81-b54a-adce23e282d3.png)
i want use minio S3 to sync my obsidian data, but i don't know how to fill them
would some big brother kindly show me ?
thanks a lot

[2022-11-03 06:49] JCJC01 commented on #15995
if web minio need set something?

[2022-11-03 08:27] AliMirlou commented on #15981
The only reference to HMAC that I could find in the documentation was [here](https://min.io/docs/minio/linux/developers/java/API.html#common-exceptions).

[2022-11-03 11:35] aweisser opened #15998 "PUT /minio/admin/v3/site-replication/edit allows to setup an invalid replication config"
A site-replication should only be possible between two different sites. The feature is not meant to replicate data in the very same MinIO cluster (afaik).
During initialization with "mc admin replicate add site1 site2" this is beeing validated properly.
You get an error if you try to replicate between nodes with the same deployment ID.
But when using "mc admin replicate edit" you can setup exactly

[2022-11-03 15:28] gdkrmr opened #15999 "workaround for fs mode does not work"
I upgraded from an older version of minio and and launching the new version (RELEASE.2022-10-29T06-21-33Z (go1.19.2 linux/amd64)) gives me the following error:

[code]

There is a file `.minio.sys/format.json` that indicates that the fs backend should be used but I keep getting the same error. `/mnt/datafs` is a btrfs volume but minio seems to think that `/mnt/datafs/data` is a drive.

[2022-11-03 17:27] harshavardhana commented on #15999
There is no workaround @gdkrmr this has been changed - you need to migrate https://min.io/docs/minio/kubernetes/upstream/operations/install-deploy-manage/migrate-fs-gateway.html

[2022-11-03 17:27] #15999 closed

[2022-11-03 18:51] donatello commented on #15990
@hyt05 Any of the keys in the JWT payload can be used as a claim for setting access policies in MinIO. Keys with underscores should also work (I have verified this), but currently my test setup cannot generate a JWT with `client_id` as a claim. Not sure why it didn't work for you. Could you check if a claim like `family_name` is working for you?

[2022-11-03 23:23] #15998 closed

[2022-11-04 03:17] hyt05 commented on #15990
family_name  CLAIM  works for me，
find something interesting，When using a successful family_name CLAIM
```mc admin trace -v -a hub```
Parse jwt display
[code]
when using unsuccessful ```client_id``` CLAIM
```mc admin trace -v -a hub ```
Parse jwt display
[code]

I noticed that using CLAIM with success，The jwt parsed by minio is missing part of the claim

[2022-11-04 09:38] ivan-tkatchev opened #16004 "Failure to fetch object, but nothing is in logs and no errors reported"
## Expected Behavior

This object exists on disk:
[code]
Fetching it via http API works:
[code]

## Current Behavior

This object also exists on disk:
[code]

Fetching it via HTTP API gives a 'not found' error:
[code]

Minio is logging lots of errors of this type:
[code]

(This is a setup with site replication and two replicated servers.)

## Possible Solution

Minio is giving us no other logs or

[2022-11-04 09:48] ivan-tkatchev commented on #16004
Restarting minio seems to fix these problems for a short time.

P.S. In my opinion, the bug seems to be that it's impossible to debug this issue at all since minio logs nothing but a 'timed out' error.

[2022-11-04 09:58] klauspost commented on #16004
@ivan-tkatchev Please provide your setup information that you omitted from the form. Also include your replication setup.

[2022-11-04 10:10] AliMirlou commented on #15981
@harshavardhana Oh, cool 👍!

[2022-11-04 10:38] ivan-tkatchev commented on #16004
* Version used:
[code]
* Server setup and configuration:
[code]
[code]
[code]
* Operating System and version:
[code]
(Ubuntu 22.04 LTS)

Two servers are under a site replication scheme:
[code]

[2022-11-04 13:37] ivan-tkatchev commented on #16004
I'll reopen the issue when I figure out how to file a better report. There are problems with replication (something is getting stuck and requiring a restart of minio), but this report doesn't demonstrate the problem clearly.

[2022-11-04 13:37] #16004 closed

[2022-11-04 16:45] mrry opened #16008 "ListObjectVersions sometimes returns versions in the wrong order"
## Expected Behavior

ListObjectVersions should match the S3 semantics of returning objects in the reverse order of when they are created.

This behavior is [mentioned in the S3 docs for ListObjectVersions](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectVersions.html#:~:text=The%20following%20request%20returns%20objects%20in%20the%20order%20they%20were%20stored%2C%20returning%20the%

[2022-11-04 16:58] harshavardhana commented on #16008
is this a single drive setup? @mrry can you test with multi-drive i.e more than 4 disks?

[2022-11-04 17:02] mrry commented on #16008
@harshavardhana I'm seeing the problem running `minio server /data` in Docker on my (single drive) laptop and in CI.

Unfortunately I don't have a multi-disk system available to test it.

[2022-11-04 17:03] harshavardhana commented on #16008
you can simulate it via `minio server /data{1...4}`  @mrry - I think the issue is because of this - single node single drive was missing some locking semantics

[code]

[2022-11-04 17:16] mrry commented on #16008
Ah, thanks for that hint. When I run with `/data{1...4}` I still see the same issue with that repro script.

[2022-11-04 18:13] donatello commented on #15990
I think there is a difference in how your OpenID service is returning tokens. The JWT is being parsed fine by MinIO AFAICT - you can decode the JWT from the trace output on some service like https://jwt.ms to see the actual content of the token - the highlighted part below is the token:

![image](https://user-images.githubusercontent.com/200059/200045831-44a52385-7f0b-4afc-9595-74284d77c6a5.png)

[2022-11-04 18:18] harshavardhana commented on #16008
I tried this on a local disk I am unable to reproduce the problem @mrry - it looks like some persistent layer issue in your container environment.

Have you tried without running in docker containers by attaching a local disk to your container?

[2022-11-04 18:19] harshavardhana commented on #15990
It is a spec deviation here @donatello - we can perhaps close this issue since this is a non-standard behavior.

[2022-11-04 19:00] donatello commented on #15853
These are not supported any more - if you restart your service with these removed, I believe it will work. You should be seeing some error messages at startup regarding this.

[code]

[2022-11-04 19:00] donatello commented on #15853
I am closing this as I expect this will resolve the problem, if not please reopen it.

[2022-11-04 19:00] #15853 closed

[2022-11-04 21:36] mrry commented on #16008
I just tried running locally on my laptop (`Version: RELEASE.2022-10-29T06-21-33Z (go1.19.2 darwin/amd64)`), in single-disk mode, and it seemed to work reliably (at least, after many tries, I couldn't reproduce the failure).

I also tried running in a container using a mounted host directory as the storage dir, and again using a tmpfs mount as the storage dir. In both cases, I got out-of-order ver

[2022-11-04 22:24] donatello commented on #15866
Could you do a server trace in a terminal with a command like:

[code]

and then do a login attempt and show the results here?

So far I am not able to tell if the IDP is granting access and issuing a JWT.

[2022-11-05 19:13] harshavardhana commented on #16008
I will have to what is up with Docker. It must be some layering that is ignoring our O_SYNC semantics.

[2022-11-05 19:14] harshavardhana commented on #16008
Oh you are running container on macOS?

[2022-11-05 20:07] mrry commented on #16008
For my local testing, yes. But it's failing the same way in our CI, which is based on Codefresh, and I don't think that's macOS-based.

[2022-11-05 20:20] harshavardhana commented on #16008
I will check what this is. It looks like some kind of filesystem behavior that is buggy in docker layering.

Have you tried attaching a real FS like ext4 or XFS disk to your container for persistence ?

[2022-11-06 16:27] LilMonk commented on #15991
I'm using a docker-compose for using Minio. I'm on a linux machine.
[code]

For me this yaml gave me the above error:
[code]
This error may be due to non-root user permission. We are trying to mount the volume onto the host so the docker container is complaining about this.

So opting to docker managed volume solves this:
[code]

I have found some resources to implement a workaround for this issue

[2022-11-07 06:23] A-BenMao opened #16014 "add bucket comments or remakes"
**Is your feature request related to a problem? Please describe.**
Now, when you create a bucket, you cannot enter information about the bucket, such as its purpose, who is responsible, etc. I think this note function is very useful, especially for devops.

**Describe the solution you'd like**
When you create a bucket, you can have an input box to hold comments

**Additional context**
The mc shoul

[2022-11-07 06:34] harshavardhana commented on #16014
This is not part of S3 API, once its available in AWS S3 - MinIO will implement them.

[2022-11-07 06:34] #16014 closed

[2022-11-07 06:38] harshavardhana commented on #16014
You can store tags on the bucket - use the tag values as comment. Something like `notes="my engineering bucket"`

[2022-11-07 07:19] Iceforestik commented on #15866
i dont know what is it, but now it works. thx

[2022-11-07 07:19] #15866 closed

[2022-11-07 08:32] MomentQYC opened #16017 "We encountered an internal error, please try again.: cause(decryption failed: ciphertext is not authentic)"
## Expected Behavior

Console access to files in storage buckets with SSE-S3 encryption set,like this.
![image](https://user-images.githubusercontent.com/62551256/200260209-722a3511-090e-468b-b4fc-b6363138e492.png)

## Current Behavior

An error was displayed and the file could not be loaded.
![image](https://user-images.githubusercontent.com/62551256/200260497-caa9bf65-db31-41b5-a413-90e7506ae2b4

[2022-11-07 08:49] harshavardhana commented on #16017
yeah because you started a local server pointing to public KES instance. This instance can be purged anytime so your keys will be lost.

Please re-do your setup and use a local KES deployment.

[2022-11-07 08:49] #16017 closed

[2022-11-07 08:52] MomentQYC commented on #16017
So how should I decrypt the encrypted files?

[2022-11-07 08:54] harshavardhana commented on #16017
You cannot the master key from the public KES server because has been deleted - we had to re-do the setup. You should re-upload all your content.

You should never rely on a public KES instance to store content locally. You should run a local KES (KMS) server that is managed by you.

[2022-11-07 09:00] MomentQYC commented on #16017
Is there a way to test if the KES server is successfully set up? I tried to replace it and this resulted in the web console not being able to log in.
Also does it mean that the previous files cannot be decrypted?

[2022-11-07 09:11] MomentQYC commented on #16017
Given that the encrypted files are still accessible, I assume that read and write operations are still possible
If I add an unencrypted bucket, is it not affected by this config?

[2022-11-07 09:13] harshavardhana commented on #16017
That happening because the KES is active and it is using the new key. Your previous data was with a different key.  do you understand?

[2022-11-07 17:44] harshavardhana commented on #16008
I tried podman and docker both

[code]

and unable to reproduce it on a Linux system.

Can you try running this on a Linux system? @mrry

[2022-11-08 01:55] vklonghml opened #16020 "could not delete an empty folder in bucket"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

could not delete an empty folder in bucket

## Expected Behavior

delete an empty folder in bucket

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.minioCli.RemoveObject(context.Background(), bucketName, objName, opt)
objName is an

[2022-11-08 10:47] vadmeste commented on #16020
@vklonghml according to the S3 spec, deletion will always return success in all cases, this makes it harder to troubleshoot.

Can you do `mc ls --recurive --versions <alias>/bucket/dir` ?

[2022-11-08 15:55] Teekuningas opened #16025 "Service Accounts missing"
Using a container created from quay.io/minio/minio:RELEASE.2022-11-08T05-27-07Z I am missing "Service Accounts" under "Identity" in the UI. "Service Accounts" exists there with quay.io/minio/minio:RELEASE.2022-10-29T06-21-33Z.

Is this intentional?

-- Tk

[2022-11-09 07:34] JasonChen86899 opened #16031 "Helm chart - mc-xxx-job failed"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

## Expected Behavior

when **helm install minio**, this command just return message and tell us install result.

## Current Behavior

when **helm install minio**, but this installing hung and command is waiting to time out.

## Possible Solution

Reason:
Found du

[2022-11-09 07:34] JasonChen86899 commented on #16031
this is Fix PR:
https://github.com/minio/minio/pull/16030

[2022-11-09 08:27] acheglakov commented on #15959
Hello!
I have the same issue.

for i in cl1 s1 s2 s3 s4 s5 s6; do curl -k -H "Authorization: Bearer TOKEN" https://node-$i.example.com:9000/minio/v2/metrics/cluster > cluster_$i; done

grep "^minio_cluster_disk_o"  cluster_*
cluster_s1:minio_cluster_disk_offline_total{server="node-s1.example.com:9000"} 0
cluster_s1:minio_cluster_disk_online_total{server="node-s1.example.com:9000"} 6
cluster_s2:min

[2022-11-09 08:41] enrico2828 commented on #15959
The problem reappeared 2 days ago, seemingly out of nowhere, as the Minio pods have been online for about a week by now. Out of the 8 pods, 3 are reporting that there are disks offline, each with a different number also (5, 1 and 7)
I really think that it could be a problem that the disks indeed are temporarily unavail
![CleanShot 2022-11-09 at 09 35 13](https://user-images.githubusercontent.com/1

[2022-11-09 08:53] vklonghml commented on #16020
[2022-11-09 16:52:16 CST]     0B STANDARD null v1 PUT dir1/
[2022-11-09 16:52:27 CST]     0B STANDARD null v1 PUT dir2/
[2022-11-09 16:52:37 CST]     0B STANDARD null v1 PUT dir3/
[2022-11-09 16:51:52 CST]     0B STANDARD null v1 PUT dir4/

[2022-11-09 08:53] vklonghml commented on #16020
[2022-11-09 16:52:16 CST]     0B STANDARD null v1 PUT dir1/
[2022-11-09 16:52:27 CST]     0B STANDARD null v1 PUT dir2/
[2022-11-09 16:52:37 CST]     0B STANDARD null v1 PUT dir3/
[2022-11-09 16:51:52 CST]     0B STANDARD null v1 PUT dir4/

[2022-11-09 09:14] revolutionisme opened #16032 "`Prefix access is denied` error while accessing data in S3"
We have setup minio with s3 gateway and it has all the permissions necessary to access the relevant buckets. Even with that, we are getting the following error continuously. Minio is currently being used with Kubeflow and none of the metrics sent out from the pipeline are also showing up.

[code]
## Expected Behavior
The metrics are stored and registered, and the error from the minio logs go away

[2022-11-09 09:44] harshavardhana commented on #16032
MinIO Gateway is deprecated we do not support it anymore.

[2022-11-09 09:44] #16032 closed

[2022-11-09 09:50] harshavardhana commented on #16008
So I tried both podman, docker on Linux platform and also baremetal setup on Linux. Without containers macOS also works - I cannot reproduce the problem that you are describing, I do not have access to any other kind of systems.

I will perhaps close this issue for now, since this is not something that affects our primary deployment platform.

[2022-11-09 09:50] #16008 closed

[2022-11-09 09:54] harshavardhana commented on #15959
@enrico2828 the value here is cached up to 30secs - are you seeing these values not change even after 30secs?

what is the time difference between Console UI output v/s Prometheus query?

[2022-11-09 10:52] enrico2828 commented on #15959
@harshavardhana here is the results:
The prometheus query in the na-minio-pool-0-7 pod gives
[code]

The mc admin info command gives:
[code]

The prometheus data does not seem to refresh :(

[2022-11-09 14:04] klauspost commented on #16020
Your bucket is not empty. It has 4 objects.

Just because an object key ends in a `/` doesn't make it less of an object. There is no concept of "directories" in S3, only objects.

[2022-11-09 14:04] #16020 closed

[2022-11-09 23:41] mrry commented on #16008
Can you share the docker-on-Linux configuration that worked for you? It's possible we can replicate that in our CI.

Also, can you shed a little light on the versioning implementation? What filesystem behavior does it rely on, so that we might be able to find a working configuration?

Looking at https://blog.min.io/minio-versioning-metadata-deep-dive/, it sounds like the problem might come from th

[2022-11-10 05:04] harshavardhana commented on #16008
Nothing specific we want O_SYNC to be honored @mrry

It is possible if you have a time skew on your systems at times.

[2022-11-10 08:27] hanssv opened #16041 "Versioning breaks after failed DeleteBucket - SNSD setup"
## Expected Behavior
When deleting an existing object in a versioned (`Status=Enabled`) bucket, without specifying the versionId, I expect a delete marker to be created, and the object to no longer be visible when listing objects. If I list all object versions I expect to see both object version(s) and a delete marker.

## Current Behavior
No delete marker is created, and therefore the object is s

[2022-11-10 09:10] harshavardhana commented on #16041
Can you provide the entire setup? - this doesn't look correct.

[2022-11-10 09:18] hanssv commented on #16041
Yes, no problem, this is the docker-compose entry for MinIO:
[code]

[2022-11-10 15:24] harshavardhana commented on #16041
Can you try this with latest release?

[2022-11-10 15:41] hanssv commented on #16041
Yes, updating to:
[code]
seems to work much better, the previously failing test case now passes 🙌

Thanks! What was the issue with the previous version?

[2022-11-10 17:13] harshavardhana commented on #16041
Well, there were two different sets of code flying around we converged them into a single framework. So mostly it fixed bugs in the duplicate implementation for a single drive.

[code]

[2022-11-10 17:13] #16041 closed

[2022-11-10 21:05] elg0ch0 opened #16046 "Error when setting policy to bucket in helm chart"
When specifying a bucket in the values.yaml file:
[code]

the policy is not assigned to the bucket.
The bucket job's log shows:

[code]

which makes me think the creation function is missing a parameter (**anonymous** ?)

## Expected Behavior
Bucket is created with the specified policy (download in the above example)

## Current Behavior
Bucket is created without the specified policy (download in

[2022-11-11 05:31] USMortality commented on #15506
<img width="838" alt="Screenshot 2022-11-10 at 11 31 23 PM" src="https://user-images.githubusercontent.com/94856880/201270324-31167c88-ce00-4d1d-839e-7095f074d954.png">
disabling this on cloudflare made it work for me. thx!

[2022-11-11 05:53] harshavardhana commented on #16046
Feel free to send a fix @elg0ch0

[2022-11-11 07:28] harshavardhana commented on #15959
@enrico2828 I tried with the latest release I am unable to reproduce this problem even on a multiple-pool setup and taking down nodes at random.

I see after 30secs the Prometheus metrics start reporting the correct values.

[2022-11-11 19:34] enrico2828 commented on #15959
@harshavardhana I just checked and since my last report the three pods never went back to zero but stayed in their non zero reported offline disks state. I have just restarted the pods, and now they are correctly reporting 0 disks..
I will keep an eye on the instance for when it goes back to non zero and will try to relate it to something that might have happened in the cluster.
![CleanShot 2022-1

[2022-11-11 20:44] #15901 closed

[2022-11-13 17:30] harshavardhana commented on #16046
Fixed via #16055

[2022-11-13 17:30] #16046 closed

[2022-11-14 13:28] carlosjpr-collab opened #16063 "Unable to read ILM configuration. EOF"
## Expected behavior
I am trying to execute:
docker run --rm --network=host -v mc:/root/.mc minio/mc --debug ilm import minio/test< test.json
## Actual behavior
I am getting:
mc: <ERROR> Unable to read ILM configuration. EOF
 (1) ilm-import.go:106 cmd.mainILMImport(..) Tags: [minio/test]
 (0) ilm-import.go:79 cmd.readILMConfig(..)

## mc --version

 Release-Tag:RELEASE.2022-11-07T23-47-39Z | Commi

[2022-11-14 13:38] klauspost commented on #16063
You already posted an issue on mc: https://github.com/minio/mc/issues/4364

[2022-11-14 13:38] #16063 closed

[2022-11-15 02:06] chenwei0930 commented on #12981
I meet this problem too, had you resolved this problem?

[2022-11-15 13:42] rrgadeev opened #16069 "I can't log in"
Expected Behavior
change environment variables:
MINIO_ROOT_USER: minioadmin
MINIO_ROOT_PASSWORD: password

systemctl stop minio.service
systemctl start minio.service

when trying to log in:
LDAP server error: Unable to find user DN: User DN for minioadmin not found

I tried to setup ldap, but lost access to the minio as the local accounts stopped working. I can't log in under the domain account, b

[2022-11-15 15:52] #16069 closed, assigned to nobody

[2022-11-16 07:12] weiweili666 opened #16074 "mc: <ERROR>Cannot get service status: invalid character '<' looking fer beginning of value"
mc version:
RELEASE.2020-08-20T00-23-01Z

minio cluster ： 4

problem
./mc admin info xx
mc: <ERROR>Cannot get service status: invalid character '<' looking fer beginning of value

[2022-11-16 07:14] weiweili666 commented on #16074
start.out

unable to read 'format.json' from http://xx:25002/xx/data : invalid character '<' looking for beginning of value

waiting for a minimum of 2 disk to come online

[2022-11-16 08:01] Jeredriq opened #16075 "Change ETag checksum/hash algorithm from MD5 to SHA256"
I am getting some binary images with SHA256 from an external party. When it compares the checksums it gives an error because of algorithm difference. And for preference I am trying to use SHA256 instead of MD5.

I am quite confident that there is an config file where it specifies the hashing algorithm and I just need to change it. But I don't know where and couldn't find it.

If there is none, how

[2022-11-16 08:08] harshavardhana commented on #16075
That cannot be done because of AWS S3 compatibility.

[2022-11-16 08:08] #16075 closed

[2022-11-16 09:29] vadmeste commented on #16074
@weiweili666 you need to upgrade MinIO and mc to the latest first

[2022-11-16 11:03] #16074 closed

[2022-11-16 11:37] stavros-k commented on #15999
Does an image roll back will allow it to run for now? Or rolling back to a previous image will break it more?

[2022-11-16 12:46] brsolomon-deloitte opened #16078 "Error: unknown type of IAM file listed: config/tier-config.bin"
## Current Behavior

MinIO logs are flooded with the following error:

[code]

## Possible Solution

I have already tried `mc admin config history alias/ --clear` as shown in https://github.com/minio/minio/discussions/14700. This had no effect whatsoever.

## Steps to Reproduce (for bugs)

From `k exec -it -n namespace sts/minio -- bash`

[code]

## Your Environment

* Version used: `minio version

[2022-11-16 15:57] harshavardhana commented on #16078
Please upgrade your server deployment.

[2022-11-16 15:57] #16078 closed

[2022-11-16 18:35] markovendelin opened #16079 "Add comment to service accounts"
**Is your feature request related to a problem? Please describe.**

Service accounts are frequently made for some particular application/access pattern. As we can have randomized access and secret keys, I am missing a way to add comment to the account. The comment would allow me to identify usage of the account and remove when it is not needed.

**Describe the solution you'd like**

Addition of ne

[2022-11-16 20:07] atrauzzi opened #16080 "Add a way to configure buckets on container startup"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to configure an initial set of buckets upon container startup via environment variables.

I do not want to have to use `mc` just to do this as it then requires additional orchestration, which is not necessarily easy to automate in a `docker-compose` scenario.

**Describe the solution you'd like**
A convention of

[2022-11-16 20:18] harshavardhana commented on #16080
You should be able to do this with docker compose @atrauzzi

We won't be adding additional environments here, buckets are a complex concept with various features. An environment cannot satisfy this in a generic manner.

What you want is a niche requirement for such automation there is `mc` use that.

[2022-11-16 20:18] #16080 closed

[2022-11-16 20:27] atrauzzi commented on #16080
It's not a niche requirement given how often it's been asked for.  Databases often allow for the pre-creation of a DB, even though they too are potentially "complex" in nature.

[2022-11-16 22:32] mwc-fd commented on #15633
I have an “existing setup” (several hundred gigs of data that minio has been happily serving since 2018) and found out about this unfortunate decision by way of a routine software upgrade. What I’ve seen suggests that the “legacy” backend will still work, but this does not appear to be the case. What’s the newest version of Minio I can downgrade to?

[2022-11-16 22:54] harshavardhana commented on #15999
You can of course rollback @stavros-k it should work I don't see why not.

[2022-11-17 07:40] hepengju commented on #15959
we meet this too.  minio_cluster_disk_online_total  16 --> 7  --> 16 --> 7 ...
![image](https://user-images.githubusercontent.com/26279882/202385401-ca1f52b8-98b8-45b5-831a-11d024812b7e.png)

[2022-11-17 07:58] harshavardhana commented on #15959
@hepengju this issue is not about changing online/offline - in your case at regular intervals, it looks like your nodes are getting disconnected. This issue is quite different than your cluster.

Prometheus continues to say offline even after other nodes say online disks. However, we haven't been able to reproduce this locally.

[2022-11-17 08:18] stavros-k commented on #15999
Thanks.

[2022-11-17 08:19] hepengju commented on #15959
thank you for your reply, maybe it's different about this issue, but our nodes is always online.
![image](https://user-images.githubusercontent.com/26279882/202393392-cf8a1493-2dec-4f28-9f82-9e4fff2c6918.png)

[2022-11-17 08:29] XTUxiongda commented on #15959
My situation is the same as that of him. I just mentioned a discussion[https://github.com/minio/minio/discussions/16081](url)
The indicator data minio_cluster_disk_online_total collected by prometheus shows that the line has been disconnected repeatedly, but the mc admin info has been displayed normally

[2022-11-18 01:53] colinleng opened #16087 "I have a problem"
Error: Drive /mnt/data/file, path (.minio.sys/buckets/.usage-cache.bin) returned an error (decodeXLHeaders: Unknown xl meta version 2) (*fmt.wrapError)

Error: decodeXLHeaders: Unknown xl meta version 2 (*errors.errorString)

When I started minio, I encountered the above problems，Please tell me how to solve it

[2022-11-18 09:26] xiaonaiquan opened #16092 "Will cached files be generated?"
**Is your feature request related to a problem? Please describe.**

If I upload the file in segments, will the file generate cache file on the server side after failure? If so, how can I delete it? Or how long will it be automatically cleaned?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and c

[2022-11-18 10:03] acheglakov commented on #15959
You could reproduce this issue for clusters with lack of resources (CPU or RAM). For example start several instances on a different ports with limited amount of RAM in VM and give some load.

[2022-11-18 10:38] cies opened #16095 "Make Minio easier to use as an S3 stand-in for local development"
**Is your feature request related to a problem? Please describe.**
We (like many) have a `docker-compose` managed set of backend services that all devs run locally (MySQL, Redis, ElasticMQ and some stand-in for S3). I picked Minio because it is a serious project (in Go, actively developed, also usable as an S3 replacement in prod setups, no JVM/Python/etc dependency so small container size).

I've

[2022-11-18 10:44] harshavardhana commented on #16095
You need to add

[code]

ports doesn't tell anything to docker to expose the port on localhost.

[2022-11-18 10:44] #16095 closed

[2022-11-18 10:45] harshavardhana commented on #16095
Look at the full example here https://github.com/minio/minio/blob/master/docs/orchestration/docker-compose/docker-compose.yaml

[2022-11-18 21:05] gsimko opened #16097 "PutObjectPart reports A timeout occurred while trying to lock a resource, please reduce your request rate"
I'm using a single-node single drive setup for development and while using the multipart upload feature for resumable uploads sometimes I get a lock contention problem. Using mc admin trace I see the following:
[code]

AFAICT I'm making a single PutObjectPart request, so it's more about the stuck lock than the request rate.

I've tried getting the locks for debug purposes but I'm using the communi

[2022-11-18 21:10] harshavardhana commented on #16097
No that is not a good idea what you are seeing is something else here nothing related to 30mins timeout.

The client canceling the request would automatically clean up the lock since the entire lock is dependent on the client's request context.

Do you have a reproducer for this? - also can you get a Linux machine to test this? we do not really test on macOS other than just cross-compiling.

[2022-11-18 21:33] gsimko commented on #16097
Let me try to reproduce it on a Linux box, will report back how it goes there. Is there anything beside admin trace that would help you? If that doesn't work, I will try to create a small app that reproduces this issue.

For the time being this is fine but not being able to see and manually remove stuck locks is a no-go for any production environment. Is that on the roadmap for the community editi

[2022-11-18 22:51] harshavardhana commented on #16097
Single drive setups use a different locking mechanism than distributed. I wouldn't expect you would not go single node with no HA in a production environment.

There should be no stuck locks or timeout if the client canceled the request. So I want to see if there is a case where this happens..

There is no community or enterprise edition in MinIO. You get same software functionality even if you ha

[2022-11-19 00:43] gsimko commented on #16097
That makes sense, the single drive setup is not good for prod; however, if there's a similar bug in the multi-drive setup and we end up with a stuck lock in prod that we can't remove, that's a disaster for our prod.

By "community edition" I refer to not having access to SUBNET. IIUC without subnet access one cannot look at the locks because "mc admin top locks" doesn't work. Am I missing somethin

[2022-11-19 04:18] harshavardhana commented on #16097
There won't be any stuck locks in distributed due to how it handles refresh() mechanisms and looks for alive requests.  There is also some called as ForceUnlock() available in distributed setups.

You do not need to look at the locks without SUBNET as you may end up not knowing what to do is another disaster in making.

[2022-11-19 10:28] klauspost commented on #16097
`RELEASE.2022-11-08T05-27-07Z` Please upgrade. This version is a year old.

[2022-11-19 18:10] harshavardhana commented on #16097
@klauspost looks like you missed something its actually 3 releases ago :-)

[2022-11-21 06:47] gsimko commented on #16097
Long story short, I could reproduce it in a linux box too, but it's not Minio's fault. Chrome seems to keep the connections open even if a worker is terminated, and after having ~10 dangling connections Minio ran out of resources.

You are most certainly right about the disaster part but Minio is advertised as an open source project. Big warnings and automatically declining any bugs/requests relat

[2022-11-21 06:47] #16097 closed

[2022-11-21 07:13] harshavardhana commented on #16097
Everything is available via APIs @gsimko there are no restrictions imposed by server side refer here https://github.com/minio/madmin-go.

It is mainly a `mc` side restriction product wide.

[2022-11-22 04:39] Gibson-Joseph opened #16103 "minio putObject issue"
I uploaded a file to Minio Bucket and when I try to open the file it fails to open

I get the file from the user, then convert it to base64, then convert it to buffer. Next, I pass the buffer in putObject API, then the file is successfully saved, but the file cannot be opened.

Those who know the answer please tell me what I should do.

// my function
[code]

[2022-11-22 08:46] nuowei2543 opened #16107 "Error: Unable to initialize sub-systems: Unable to migrate all config at .minio.sys/config/: Decrypting config failed sio: data is not authentic, possibly credentials are incorrect (*fmt.wrapError)"
## NOTE
If this case is urgent, please subscribe to [Subnet](https://min.io/pricing) so that our 24/7 support team may help you faster.

RELEASE.2021-01-16T02-19-44Z升级RELEASE.2022-06-03T01-40-53Z，升级同时修改了密码，minio启动报错，且界面无法访问到之前创建的bucket

## Expected Behavior
minio升级同时修改密码，界面可正常访问bucket

## Current Behavior
升级版本到RELEASE.2022-06-03T01-40-53Z，且修改密码，启动后报错如下
docker logs -f minio

WARNING: Detected Linux

[2022-11-22 10:25] harshavardhana commented on #16107
@nuowei2543 running two different versions on the same export that change the backend data format is not supported

[2022-11-22 10:25] #16107 closed

[2022-11-22 10:41] nuowei2543 commented on #16107
First, start running minio21, then stop minio21 and start minio22. Can't  do that?
How do I upgrade version1 ->version2？