[2019-10-28 17:31] #7785 closed

[2019-10-28 18:17] #8188 closed

[2019-10-28 19:42] MatinF opened #8458 "S3 SELECT (javascript aws-sdk) does not work for strings/dates"
_Moving this upon request from klauspost into a new issue._

I'm attempting to use the `aws-sdk` in JavaScript to leverage the `S3 SELECT` call on my MinIO back-end server. I originally looked for a MinIO-specific `S3 SELECT` command, but it seems for now that this is not supported - which I guess is fine if the aws-sdk gets full support.

My challenge is that I'm trying to run a standard `S3 SELE

[2019-10-29 00:29] #8447 closed

[2019-10-29 01:30] #8451 closed

[2019-10-29 06:44] Jacky2 opened #8460 "Adding a minio cluster to a minio federation cluster will not expand the hard disk space of the cluster where the original bucket is located."
**Is your feature request related to a problem? Please describe.**

In the minio federation cluster mode, if the disk space of the cluster where the bucket is located is full, even joining a minio cluster to the federal cluster will not increase the capacity of the bucket, right?

[2019-10-29 06:48] #8460 closed

[2019-10-29 06:49] #8218 closed

[2019-10-29 07:55] SolarisYan opened #8461 "Muti policy in a group"
Hi there, i want to set more than one policy with a group, so minio will be more flexible to grant user, but i don't known how to set?

Does minio support this now? If yes, please tell me how to do.

Thanks a lot.

[2019-10-29 14:13] #8461 closed

[2019-10-29 17:08] #8377 closed

[2019-10-29 18:56] #8449 closed

[2019-10-30 04:57] prasus opened #8466 "Issues upgrading MinIO StatefulSet to new release"
I have got a Kubernetes deployment of Minio running on `minio/minio:RELEASE.2019-03-27T22-35-21Z` and it fails when attempting to upgrader the statefulset  to the latest release (`minio/minio:RELEASE.2019-10-12T01-39-57Z`) leaving the pods in a `CrashLoopBackOff` state, had to revert back the changes for bringing the cluster back to an operational state.

## Expected Behavior
The statefulset upgra

[2019-10-30 05:03] naughtyGitCat opened #8467 "How to deploy multi minio server instance on one node with multi disks?"
**Describe the solution you'd like**

I have machines equipped with multi disks,
I want to deploy a minio cluster with 1 machine and six minio server instance on each disk
or
a minio cluster with 2 machines and twelve minio servers instance on each disk

[2019-10-30 06:03] #8467 closed

[2019-10-30 06:04] #8422 closed

[2019-10-30 07:16] #8466 closed

[2019-10-30 07:22] #8433 closed

[2019-10-30 08:16] #8371 closed

[2019-10-30 09:20] Jacky2 opened #8468 "Why are there three nodes with high utilization of hard disk IO, and the other node is normal?"
## Current Behavior
Why are there three nodes with high utilization of hard disk IO, and the other node is normal?

My cluster consists of 4 nodes, one node and two disks, but it is actually a disk, but the directory is different.

Normal node
![2](https://user-images.githubusercontent.com/23411395/67844674-23922a00-fb39-11e9-8873-d133b108bd33.png)

Abnormal node
![1](https://user-images.githubuse

[2019-10-31 16:12] RajatVaryani opened #8473 "Health check failing for image "minio/minio:RELEASE.2019-08-14T20-37-41Z""
## Expected Behavior

Health check should pass.

## Current Behavior

Health check is failing.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Just pull the image and run it in a container.

## Context

## Regression

## Your Environment

* Version used (`minio version`): `minio/minio:RELEASE.2019-08-14T20-37-41Z`
* Environment name and version (e.g. nginx 1.9.1):
* Server type and ver

[2019-10-31 16:16] #8473 closed

[2019-10-31 16:46] #8255 closed

[2019-11-01 11:19] MSBilgin opened #8476 "File count limit per bucket on Windows"
I downloaded server app and runned it using `minio server d:\miniostorage` command. Then created a bucket named **files** and then uploaded a file to this bucket. When i checked `d:\miniostorage` path i found **files** folder was created and the uploaded file was inside this folder. it looks that Minio puts files directly to this folder. But if users uploads lot of files much more than file system

[2019-11-01 16:45] #8476 closed

[2019-11-01 22:17] TheFiZi opened #8477 "Running a gateway for B2 and trying to connect with Veeam fails with "File names must not end with '/'""
I've configured a Minio Gateway to connect to a B2 bucket which appears to be working correctly. When I then try to add a "S3 Compatible" repository in Veeam I appear to be able to connect to the bucket from Veeam -> Minio Gateway -> B2 but when I try to create a folder I get the following error:

[code]

## Expected Behavior

The directory "Veeam" to be created in the B2 Bucket.

## Current Behav

[2019-11-02 08:55] daltonthedog opened #8479 "mc admin update not working!"
After release "minio.RELEASE.2019-10-11T00-38-09Z"(inclusive), `mc admin update` is not working anymore, output is:
`mc: <ERROR> Unable to update the server. The specified method is not allowed against this resource.
`
## Steps to Reproduce
[code]
## Your Environment
Binaries tested:
minio.RELEASE.2019-10-02T21-19-38Z  -> working
minio.RELEASE.2019-10-11T00-38-09Z -> not working
minio.RELEASE.2019

[2019-11-02 17:55] #8479 closed

[2019-11-04 21:34] donatello opened #8481 "Panic in S3 Select"
## Expected Behavior

MinIO should not crash

## Current Behavior

MinIO crashes when running the same query again with mc when we interrupt it the first time.

## Steps to Reproduce (for bugs)

1. `mc sql -e 'select * from s3object s ' --json-input "Type=LINES"  minio/bucket/some.json`
2. Hit Ctrl+C on mc before mc finishes its output.
3. Run same command again.
4. minIO server crashes with:

[co

[2019-11-04 23:06] haneefkassam opened #8482 "DurationSeconds parameter not used by STS endpoint"
With a JWT client grants token retrieved from keycloak (and expiry set to 2hrs - 7200sec), passing in a DurationSeconds when generating an STS token still keeps the expiry of the STS token at 7200sec

## Expected Behavior
The `DurationSeconds` parameter should take precidence, if it is smaller than the IDPs JWT token, and still within the acceptable range for an STS token (which, I believe in docu

[2019-11-05 11:04] klauspost opened #8484 "Data race: globalObjectAPI used before initialized"
[`initDailyLifecycle`/`startDailyLifecycle`](https://github.com/minio/minio/blob/26ed9e81b173521d9c32228329ad061a9a90b60f/cmd/daily-lifecycle-ops.go#L49) uses the `globalObjectAPI` before it is ready.

Even though the object is copied this is unsafe behavior.

## Expected Behavior

No data race.

## Current Behavior

[code]

## Possible Solution

Protect use of `globalObjectAPI` or postpone starti

[2019-11-05 22:20] #8481 closed

[2019-11-06 09:25] xcdr opened #8488 "Total crash of mino instances"
Hi.

I have 3 minio nodes with 8 disks each, minio is running on FreeBSD 12, disks are JBOD with ZFS on each disk.

Minio started with following setup:
[code]

I have ~4.5TB of files which  are jpeg photos synced with `mc mirror` command at full speed ~80MB/s.

## Expected Behavior
Successfull sync or readable log entries.

## Current Behavior

When I try sync again by `mc mirror --overwrite --rem

[2019-11-06 11:48] DReigada opened #8489 "Wrong API error when lifecycle policy does not exist"
When performing the `s3:GetLifecycleConfiguration` action, on a bucket that does not have a lifecycle policy, minio returns `NoSuchBucketLifecycle`, while AWS S3 returns `NoSuchLifecycleConfiguration`.
This is behaviour is specified [here](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketLifecycleConfiguration.html)

## Expected Behavior
When a bucket has no lifecycle policy it should

[2019-11-07 01:06] jinshengli opened #8491 "Whether breakpoint continuation is supported"
I have some doubts. When I look at the JDK of python. There is Auto upload using multiple parts
once my file is > 5Mib.  But After the process of uploading a large file is interrupted, can I find the part that has already been uploaded? If so, how can I find it and how to resume it.

Python JDK There doesn't seem to be much description of this.  Can you guy give me a hint, Thank you so much.

[2019-11-07 01:51] harshavardhana commented on #8491
Resume is never allowed in AWS S3 API @jinshengli - any interrupted transfer should be re-uploaded.

[2019-11-07 08:21] jinshengli commented on #8491
I got it. But if I want to do breakpoint retransmission, Can you give me some suggestions? And I have read the source code of minio python-client,  I don't the meaning of `listIncompleteUploads`, can I use the unfinished upload parts reload file?

[2019-11-07 12:09] Numernabis opened #8493 "STS AssumeRole - MissingFields error"
I have a latest MinIO server running locally (in docker container) and would like to get temporary credentials for it (like in AWS STS).
I followed instructions from there: https://github.com/minio/minio/blob/master/docs/sts/assume-role.md and created a signed request:
[code]

## Expected Behavior

Response containing generated temporary credentials, like in the sample: https://github.com/minio/mi

[2019-11-07 23:23] nodesocket opened #8495 "ENVVAR to define CIDR ranges that can access web interface"
### Feature Request

Using an ENVVAR set CIDR ranges that are allowed to access the web interface.

I know there is the ENVVAR `MINIO_BROWSER=off`, but this disables the web interface completely. I am just looking to whitelist IP CIDR ranges.

Possible suggestion: `MINIO_BROWSER_ACCESS="10.0.0.0/16, 192.168.0.0/24"`.

[2019-11-08 09:27] Anbool opened #8496 "Using MooseFS as the storage directory, MinIO cannot run."
We use the Client provided by the MooseFS cluster as the MinIO data storage directory (/ofs), but MinIO cannot run. Run: minio server /ofs, the hard disk will be unresponsive.When I looked at a lot of information, I found that there is not much information about this issue. If the MinIO team can do this, I hope that MinIO developers can help us solve this problem together, thank you.

## Expected

[2019-11-08 14:22] leamingrad opened #8498 "Pre-signed POST policy not enforced for non-metadata extra fields"
This issue is a follow-on from #6559, as the fix for that didn't go far enough.

## Expected Behavior
When using a pre-signed POST policy to police uploads from a form, if I forget to mention a field in the policy then the request should be rejected.

From the AWS policy documentation (which is listed as the source of truth in the code)

    Each form field that you specify in a form (except x-amz

[2019-11-08 14:59] #8496 closed

[2019-11-08 15:01] #8495 closed

[2019-11-08 15:11] Anbool commented on #8496
Thank you very much for your reply. Can you recommend some backend FS similar to MooseFS? We have a lot of small files, including videos and images.

[2019-11-08 15:12] Anbool commented on #8496
Thank you very much for your reply. Can you recommend some backend FS similar to MooseFS? We have a lot of small files, including videos and images.

[2019-11-08 15:26] McPo opened #8499 "Add the ability to lockdown admin access (IP restriction etc)"
It would be useful to be able to disable admin actions occurring across the public internet (restrict to localhost etc), while still allowing access to buckets. i.e. the default credentials are not of use outside of localhost.

This could be accomplished by the addition of a policy for the default "admin account". It could also be achieved by restricting administrative actions to a specific port n

[2019-11-08 18:11] maxnilz opened #8500 "Upload a file via aws-cpp-sdk failed."
Hi, I'm using the `aws-cpp-sdk-1.7.213` to connect to the minio server(VERSION: 2019-10-12T01:39:57Z), And When I was trying to upload a file to minio, I got this error `You did not provide the number of bytes specified by the Content-Length HTTP header.`, However, I can use the same client code to upload the same file to real AWS S3 service

## Expected Behavior
If I can upload a file to `AWS s3`

[2019-11-09 16:29] #8092 closed

[2019-11-09 16:54] #8499 closed

[2019-11-09 17:10] #8458 closed

[2019-11-11 11:59] kfyhn-gf opened #8504 "Minio OSS Gateway - Error: io: read/write on closed pipe"
When deploying Minio OSS Gateway using the Helm chart at [https://github.com/helm/charts/tree/master/stable/minio]() with `image.tag = RELEASE.2019-10-12T01-39-57Z` I am using Minio OSS Gateway to configure external object storage support for Gitlab in OSS as described here: [https://docs.gitlab.com/charts/advanced/external-object-storage/](). I can use the Minio browser without any problems (also

[2019-11-11 16:36] harshavardhana opened #8505 "On FS mode, trying to update from `RELEASE.2018-05-10T00-00-42Z` to latest master, see below behaviour. Note that it does finally start after another try"
On FS mode, trying to update from `RELEASE.2018-05-10T00-00-42Z` to latest master, see below behaviour. Note that it does finally start after another try

[code]

_Originally posted by @nitisht in https://github.com/minio/minio/issues/8434#issuecomment-552311463_

[2019-11-11 19:29] ebozduman opened #8507 ""Unable to handle encrypted back-end for config" while starting"
Just re-based my minio master and ran "make install"
[code]
Then, hit the error while trying to start MinIO. As a result, MinIO went into safe mode.
[code]

## Expected Behavior
MinIO migrates my old config file and successfully starts.

## Current Behavior
It spits out the error message, "", and goes into Safe mode.

## Steps to Reproduce (for bugs)
Not sure about the reproduction steps. I did no

[2019-11-11 19:30] #8507 closed

[2019-11-12 09:23] #8484 closed

[2019-11-12 09:24] #8355 closed

[2019-11-12 09:24] #8298 closed

[2019-11-12 16:53] jschaul opened #8512 "Unable to heal objects / output differs across heal commands"
I'm running minio in distributed mode in a 6-minio-process setup where 2 minio processes are each placed on the same virtual machine (see environment section), in which there was a complicated filesystem problem during some time on one virtual machine: The hypervisor's disk filled up, causing writes in one of the VMs in which minio runs to not work for about a week. After discovery and bringing th

[2019-11-12 22:50] #8101 closed

[2019-11-13 20:18] #8505 closed

[2019-11-13 21:16] BigUstad opened #8519 "user shown as enabled after disable command"
Disable user. List users, disabled user is shown as enabled.
To replicate:
mc admin user add <TARGET> user1 badpassword
mc admin user list <TARGET>
    user1 is shown as enabled.
mc admin user disable <TARGET> user1
mc admin user list <TARGET>
    user1 is shown as enabled.

## Expected Behavior

./mc admin user list <TARGET>
disabled   user1

## Current Behavior

mc admin user add <TARGET> user1

[2019-11-14 02:43] #8519 closed

[2019-11-14 02:45] #8421 closed

[2019-11-14 02:48] #8074 closed

[2019-11-14 02:55] wynn5a opened #8520 "Can we use other KMS than vault for SSE and how?"
Hello there,
I am new to MinIO, and I want to know can I use other KMS (not Vault) for SSE?
If can, how to do configuration?

[2019-11-14 03:01] #8520 closed

[2019-11-14 03:29] DPattee opened #8521 "Generates duplicate mount points on Mac OS almost every reboot"
## Expected Behavior
Expect minio server to start up and if the volume indicated is not available to terminate.

## Current Behavior
If minio server starts up just barely too fast and the target volume passed on the command line is not yet mounted, it will generate a mount point for that volume. Then when the volume does get properly mounted, the OS will see a mount point already exists with the c

[2019-11-14 11:16] neo-feng opened #8523 "service not accessible and no logs after deployed with kubernetes"
I deployed distributed minio servers in kubernetes using yaml file option as stated here - https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/k8s-yaml.md
I followed guide above strictly, except that I added secret-volume to make ssl work
## Expected Behavior

all pods lauched and service accessible from browser

## Current Behavior

all pods lauched with no issues, however, s

[2019-11-15 15:01] nreynis opened #8527 "Is it possible to decrypt a file outside of minio server?"
I have files encrypted using minio SSE-C. I wan't to be able to decrypt them without using minio server.

As far as I understand this isn't possible using OpenSSL because minio use either AES-256-GCM or ChaCha20-Poly1305.
Is it possible to decrypt the files using ncrypt (https://github.com/minio/sio#applications) and the 32 bits key ?

[2019-11-15 15:55] #8527 closed

[2019-11-17 14:11] philipkozeny opened #8531 "Requests take > 1min as soon as one host is down"
For testing purposes I have setup 3 different clusters on 4 physical hosts with docker-compose. Everything is working well as it should. If I stop one node (`docker-compose down`) everything still works as expected and distributed mode works. As soon as I shutdown one node (`shutdown now`) requests take at least 1 min. It doesn't matter if it is `mc ls`, `mc cp`, the browser etc. Some requests lik

[2019-11-18 19:47] Kevin-A-Howard opened #8532 "Please allow for multiple MINIO_IDENTITY_LDAP_USERNAME_FORMAT entries to support AD with different hierarchies"
We have Active Directory domains that have hierarchy based on business groups, account types, etc. Variable MINIO_IDENTITY_LDAP_USERNAME_FORMAT currently supports a single entry for the username format template.

We would like to be able to specify multiple values for the username format to support many different hierarchy combinations:
CN=${username},OU=Users,OU=BUS1,OU=LOB,DC=somedomain,DC=com
C

[2019-11-18 20:27] ryjo44 opened #8533 "Access Denied to Public Bucket"
I am running minio through a docker container. There are a couple different buckets within and most are working fine, however, I'm getting errors when I try to look into one of them. I have confirmed that within the container the permissions on these files are identical to all of the others, and have made sure that the bucket's policy is "public."

## Expected Behavior

Expected behavior would be

[2019-11-18 22:40] liammdalton opened #8534 "Broken build from source with bad transitive dependency on asn1-ber?"
## Expected Behavior
I expect that when I run

[code]

on a fresh machine, that it will exit with code 0 and successfully build minio's main binary.

## Current Behavior
Instead, it returns something like

[code]
and exits with code 1.

## Steps to Reproduce (for bugs)
In order to reproduce you can use the following Dockerfile:

[code]

and then run

[code]

## Context
I am attempting to use minio

[2019-11-18 23:02] #4812 closed

[2019-11-18 23:55] #8534 closed

[2019-11-19 08:56] ivan-sukhomlyn opened #8536 "[s3-gateway] Possibility to configure S3 MinIO gateway to a single S3 bucket"
**It's not possible to create gateway to a particular S3 bucket**
[code]
**Describe the solution you'd like**
It would be nice to have an opportunity to create a gateway behind a single S3 bucket instead of all available and don't provide additional permissions to IAM policies for roles or users to get all buckets.

**Additional context**
I'm looking for using MinIO gateway because Java SDK for Mi

[2019-11-19 17:41] #8536 closed

[2019-11-19 18:04] #8477 closed

[2019-11-19 21:46] lettore opened #8538 "Can't upload more than 1 MB with Minio distribuited Docker stack"
## Expected Behavior

It should be possible to upload files bigger than 1MB to a distribuited Minio setup

## Current Behavior

When I upload a file bigger than 1MB I receive
 "We encountered an internal error, please try again." in Minio frontpage and this error in the container log
`
Status:         4 Online, 0 Offline.
Endpoint:  http://10.0.19.176:9000  http://10.0.32.160:9000  http://172.18.0

[2019-11-20 16:39] #8500 closed

[2019-11-20 22:53] emarcy opened #8546 "Minio AssumeRole using SDK"
Is there support for the AssumeRole funtion from either the Minio Java SDK or the AWS Java SDK?

I found no documentation for this in the Minio SDK

I have attempted to use the AWS Java SDK to make an assumeRole call to a Minio sever.
It consistently fails with:
com.amazonaws.services.securitytoken.model.AWSSecurityTokenServiceException: Generating temporary credentials not allowed for this reques

[2019-11-20 23:05] harshavardhana commented on #8546
We shall address this in future @emarcy moving this to minio-java

[2019-11-21 03:01] krishnasrinivas opened #8549 "Provide disk-caching metrics in prometheus"
**Is your feature request related to a problem? Please describe.**

Provide disk-caching metrics in prometheus:

* Bytes received from AWS (counter)

* Bytes served from the disk cache.

* Cache hit, Cache miss counters.

This will be useful to know the effectiveness of disk caching. The feature requested by a customer.

[2019-11-21 10:17] KevinSmile opened #8551 "listObjects has cache ?"
listObjects has cache ?

## Expected Behavior
listObjects should have stable performance

## Current Behavior
1st call listObjects => slow
2nd call listObjects => fast  (only need 10% time of 1st call)
sleep a long time then call listObjects => slow

## Possible Solution
N/A.
I found a related PR https://github.com/minio/minio/pull/1186 merged 3 years ago, but it seems that this PR's code had been

[2019-11-21 10:32] #8551 closed

[2019-11-21 17:49] McPo opened #8554 "Support sts:* actions"
It is my understanding that by default AWS users are unable to call AssumeRole unless they have been giving explicit permission to via sts:AssumeRole. Minio by default allows sts:AssumeRole to be carried out against any user.

It would be preferential to control this behaviour with the addition of `sts:AssumeRole` action in user policies.

My use case involves locking` sts:AssumeRole` down to the

[2019-11-21 22:34] ihostage opened #8558 "Log in with OIDC not work with MINIO_DOMAIN"
Can't log in to MinIO Browser with OIDC when defined `MINIO_DOMAIN` environment variable.

## Expected Behavior

Successful login.

## Current Behavior

Log in failed.

## Steps to Reproduce (for bugs)
1. Run etcd ([MinIO docs](https://github.com/minio/minio/blob/master/docs/sts/etcd.md))
2. Run MinIO with `MINIO_DOMAIN`
[code]
3. Try log in with OpenID

[2019-11-21 22:35] #8554 closed

[2019-11-22 01:45] #8558 closed

[2019-11-22 05:19] BruceWangNo1 opened #8560 "GO111MODULE=on go get github.com/minio/minio"
## Expected Behavior

minio should have been installed.

## Current Behavior

Output:

[code]

## Your Environment

[code]

Output:

[code]

[2019-11-22 05:32] #8560 closed

[2019-11-22 15:34] khumps opened #8565 "The format sent to Kafka and Elasticsearch for bucket logs is inefficient"
**Is your feature request related to a problem? Please describe.**
When you use the direct import feature for Elasticsearch logs it contains a nested `Records` field. this is extremely inefficient for parsing in both elasticsearch and kafka

**Describe the solution you'd like**
The entire structure should be flattened into a 1-dimensional json object. So instead of your demo structure which looks

[2019-11-22 21:47] ihostage opened #8567 "Environment variable as a prefix for all etcd records."
**Is your feature request related to a problem? Please describe.**

We can't configure a prefix for all keys stored on etcd. As a result, we can't use an existing etcd cluster and need to create another only for MinIO 😞

**Describe the solution you'd like**

Add environment variable `MINIO_ETCD_PREFIX` and use it as a prefix for all etcd records.
![1574458962455](https://user-images.githubusercont

[2019-11-24 20:28] brentadamson opened #8570 "Gateway mode doesn't pass mint tests"
Running the docker image under gateway mode for GCS (and probably others) doesn't pass the mint tests
## Expected Behavior

Expect the mint tests to pass

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. ```docker run -p 9000:9000 --name gcs-s3  -v /path/to/credentials.json:/credentials.json  -e "GOOGLE_APPLICATION_CREDENTIALS=/credentials.json"  -e "MINIO_AC

[2019-11-25 09:39] aead opened #8571 "crypto: Switch to secure-io/sio and prepare crypto code reorganization"
This is a tracking issue for migrating the secure channel construction to secure-io/sio-go and investigate simplification of encryption-related code.

This issue combines the following sub-tasks:
 - [ ] Encrypt and decrypt new (single-part) objects with [secure/sio-go](https://github.com/secure-io/sio-go)
 - [ ] Encrypt and decrypt new (mutli-part) objects with [secure/sio-go](https://github.com/s

[2019-11-25 11:19] klauspost opened #8573 "getValidPath responsible for 45% of CPU time on upload"
# Description

When uploading "smaller" 1MB objects [getValidPath](https://github.com/minio/minio/blob/890b493a2e32d7f607e5ee0150a9ce884c3e26ff/cmd/posix.go#L124) is responsible for close to 50% of all CPU usage. This is strictly tied to the number of upload ops.

Usage is fairly even split between `getDiskInfo`, `os.Open`, `os.Close` and `os.Remove`.

# Solution

None proposed, but obviously this

[2019-11-25 12:57] hosnas opened #8575 "dl.minio.io not accessible from Iran"
[code]
I can access this website with VPN. But cant without VPN. If Iran is intentionally restricted, its really foolish and absurd. We are living in 2020 and its not like you're creating the great wall of China to restrict our access. Its more like a Trump wall that can be broken through with an [ordinary 100$ saw](https://www.youtube.com/watch?v=VCkIva2L-B0).

[2019-11-25 18:29] aead opened #8576 "log: log output should not include full paths or domain names"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Check possible errors in posix.go a.o. to ensure we don't print unnecessary information

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and ver

[2019-11-25 19:54] #8575 closed

[2019-11-26 00:33] #8567 closed

[2019-11-27 00:28] #8493 closed

[2019-11-27 00:29] #7055 closed

[2019-11-28 08:33] Comolli commented on #6762
thanks god，i love u so much!!!

[2019-11-28 20:23] sruckh opened #8584 "Bacula / MINIO / Backblaze -- unstable"
Trying to use Bacula with MINIO with Backblaze as the backend.  Uploading 10MB files and have problems (uploads fail) even with small data sets.

## Expected Behavior

Files should upload without error.

## Current Behavior

Only some files upload without error.

## Possible Solution

## Steps to Reproduce (for bugs)

Using MinIO/RELEASE.2019-10-12T01-39-57Z, Bacula 9.4.4, on CentOS 7.7.  Run MinI

[2019-11-29 01:42] #8531 closed

[2019-11-29 01:45] #8521 closed

[2019-11-29 01:47] #8504 closed

[2019-11-29 01:48] #8097 closed

[2019-11-29 01:48] #7745 closed

[2019-11-29 01:48] #7703 closed

[2019-11-29 01:49] #5030 closed

[2019-11-29 01:49] #7042 closed

[2019-11-29 01:50] #4995 closed

[2019-11-29 01:50] #4994 closed

[2019-11-29 01:50] #4896 closed

[2019-11-29 01:51] #6993 closed

[2019-11-29 01:52] #7744 closed

[2019-11-29 01:52] #7330 closed

[2019-11-29 01:53] #6348 closed

[2019-11-29 01:55] #7242 closed

[2019-11-29 01:56] #4182 closed

[2019-11-29 08:19] bottkars opened #8585 "[GATEWAY] wrong name mapping when using custom azure endpoint"
when starting minio with a custom azure Endpoint per documentation,
[code]
then minio adds a duplicate accountkey and blob to the URL.
as mini constructs the endpoint from
This may be because the code wants to create the endpoint from a custom suffix, where minio gateway expects an resolvable fqdn

## Expected Behavior

## Current Behavior

#### Scenario 1
use blob url as custom endpoint as per do

[2019-11-29 09:45] #8573 closed

[2019-11-29 11:02] linuxserver2016 opened #8586 "/minio.sys/buckets contains my storage clone"
## Expected Behavior

Prevent My data from getting copied in to  /minio.sys/buckets directory

## Current Behavior

an exact clone of my storage objects gets mirrored under /minio.sys/buckets directory

## Possible Solution

remove them and put a cron to automate the process

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

The Disk utilization is too high because of the two clones of sa

[2019-11-29 13:27] #8482 closed

[2019-11-29 17:34] #8586 closed

[2019-11-30 06:28] 120011676 opened #8587 "Custom/additional meta header get null,urgent"
## Expected Behavior

get  custom/additional header value

## Current Behavior

get  custom/additional header null

## Possible Solution

code error

## Steps to Reproduce (for bugs)

[code]

[code]

## Context

Show source file name after download

## Regression

No

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version

[2019-11-30 06:59] harshavardhana commented on #8587
NOTE: you need to look for `x-amz-meta-filename` @120011676

[2019-12-01 04:08] shouldnotappearcalm opened #8589 "minio client how to copy filenames with spaces"
I am using minio's client for file copying, command like this
[code]
test-76 is one of my minio storageId，file name is `Empty xxx fileName`, When I execute this command I see the following error

[code]
What should I do if there are spaces in the file name

[2019-12-01 05:08] #8589 closed

[2019-12-01 12:40] serge-name opened #8590 "Feature request: use "X-Amz-Meta-Mtime""
**Is your feature request related to a problem? Please describe.**
Programs such as [rclone](https://github.com/rclone/rclone) store a file mtime in "X-Amz-Meta-Mtime" attribute. But when we retrieve that file via HTTP minio uses mtime from storage filesystem. Example:

[code]

**Describe the solution you'd like**
It would be great if minio will use "X-Amz-Meta-Mtime" as mtime of a file and send i

[2019-12-01 20:25] #8590 closed

[2019-12-02 11:55] vsfalexanderpilch opened #8592 "AssumeRoleWithJWT / Init issue"
We're running minio on docker swarm (2 containers per node, 3 nodes, 8 disks per container) in distributed mode with edge version. AssumeRoleWithJWT is used in order to upload files. The cluster doesn't start properly anymore (~since several weeks ago) due to some init issue. Communication with one of the nodes during startup seems to be failing and the node isn't registered properly:

[code]

[co

[2019-12-03 04:01] mindhash opened #8595 "Public Bucket Contents from browser in Federated setup"
We have a federated setup with 2 clusters (2 nodes each).  I am facing an issue while **accessing** contents of a **public bucket** (policy: download) using **DNS style** URL. The issue occurs only through browser. The request to download succeeds when using cURL.

We were also able to **reproduce the issue** on command line by passing user agent :
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) A

[2019-12-03 17:27] eco-minio opened #8596 "Need quorum health check"
**Is your feature request related to a problem? Please describe.**
When setting haproxy (or other load balancers I assume), need a health check end point that determines whether quorum is intact, and only do the failover when quorum is not intact to avoid failing over a single node at a time
**Describe the solution you'd like**
Quorum health check endpoint

**Describe alternatives you've considere

[2019-12-03 19:26] kaankabalak opened #8597 "When user logs in and out using Open ID login, credentials are not asked on subsequent logins"
## Expected Behavior

Once a user has already logged in and logged out via Open ID Login, it should ask for user credentials again on subsequent logins.

## Current Behavior

When a user has already logged in and logged out via Open ID Login, on subsequent logins, user credentials are not asked and users are logged in as the previously logged out user.

## Possible Solution

This might be caused b

[2019-12-03 22:16] KrasusC opened #8598 "Distributed Mode with K8S DaemonSet Deployment Error: no endpoint pointing to the local machine is found"
Distributed Mode with K8S DaemonSet Deployment Error: no endpoint pointing to the local machine is found
## Current Behavior
/ # minio server http://127.0.0.2/data/minio http://127.0.0.3/data/minio http://127.0.0.4/data/minio http://127.0.0.5/data/minio
ERROR Invalid command line arguments: no endpoint pointing to the local machine is found

      HINT:
        For more information, please refer t

[2019-12-03 22:41] #8598 closed

[2019-12-03 23:57] #8597 closed

[2019-12-04 00:41] #8596 closed

[2019-12-04 04:59] better0332 opened #8601 "change MINIO_ACCESS_KEY or MINIO_SECRET_KEY Error"
can't change MINIO_ACCESS_KEY or MINIO_SECRET_KEY, it use them to `CreateCredentials`

## Expected Behavior

change OK

## Current Behavior

Unable to initialize server: Unable to initialize config system: Invalid credentials

## Possible Solution

## Steps to Reproduce (for bugs)

1. MINIO_ACCESS_KEY=key12345 MINIO_SECRET_KEY=pwd12345 minio server /data
2. change MINIO_ACCESS_KEY to abc12345
3. M

[2019-12-04 05:08] #8601 closed

[2019-12-04 07:14] #8523 closed

[2019-12-04 09:47] Kaleidoscoper opened #8602 "How can I modify the minio-distributed-daemonset.yaml when I have two nodes and two disks per node"
I know there must be at least 4 disks in the distributed mode but I've no idea how i can modify the k8s minio-distributed-daemonset.yaml when I have two nodes and each node has two disks .I have referred to https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-distributed-daemonset.yaml and make some modifications like here
![image](https://user-images.githubusercontent.co

[2019-12-04 11:03] #8602 closed

[2019-12-04 11:26] Kaleidoscoper commented on #8602
These two ips aren't the container ip in the k8s. These are the external IP of the two nodes.So it is requested that the server list here must be in the k8s?

[2019-12-04 17:42] #8538 closed

[2019-12-04 23:44] #8434 closed

[2019-12-05 08:16] vager opened #8605 "ListObjects compatible issue"
Assume have the following keys in bucket:
[code]
MinIO ListObjects(prefix=dir/ , delimiter=/) response has no `Contents`
## Expected Behavior
S3 ListObjects(prefix=dir/ , delimiter=/)
[code]

## Current Behavior

MinIO ListObjects(prefix=dir/ , delimiter=/)
[code]
## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Version used (`minio version`):
Version: 201

[2019-12-05 08:34] #8605 closed

[2019-12-05 12:17] qinrongjun opened #8606 "Policy Condition failed"
I run the [example](https://docs.min.io/docs/java-client-api-reference.html#presignedPostPolicy) of presignedPostPolicy to upload image, but return an error.

## Expected Behavior

Upload success and response like below:
[code]

## Current Behavior

The upload fails and the result is as follows:
[code]

## Possible Solution

1. Delete this line in the example: `policy.setSuccessActionStatus(201);`

[2019-12-05 13:31] footplus opened #8607 "MinIO crash when removing disk in erasure coding mode"
## Expected Behavior

MinIO Server in erasure coding mode should keep running when one disk becomes unavailable because I/O errors.

## Current Behavior

MinIO server seems to crash badly when accessing the out-of-order drive (filesystem gives I/O errors):

[code]

Additionnally, I was unable to start the MinIO server again while the defective drive was still attached, because of an error, so the

[2019-12-06 07:16] #8549 closed

[2019-12-06 09:58] FU100 opened #8614 "Need ttl to buckets or objects"
How can I add a ttl attribute to a bucket or an object?

Or is there any way to delete expired buckets automatically?

[2019-12-06 10:04] #8614 closed

[2019-12-06 20:41] felipeek opened #8618 "Can't create objects that end with slash and have content"
## Expected Behavior
When trying to create an object whose name ends with a slash (i.e. `my/prefix/`), the operation should work even when the object have content.

## Current Behavior
The operation only works when the object has size 0 (which would be a directory)

## Context
We use minIO to mimic a S3-backend for our tests. In S3, this works, and we rely on this feature.

[2019-12-06 20:50] #8618 closed

[2019-12-09 09:50] gleeb opened #8620 "AWS SDK 2 client error on successful upload"
I am trying to work with AWS SDK 2 and Min.io locally.
Min.io runs on docker locally, it spins up and I am able to use the dashboard, upload files using AWS CLI without issues
Same client configuration works properly with local-stack and AWS S3

## Expected Behavior
The upload would be successful and no exception will be thrown by the client

## Current Behavior
Client throws an error
`[sdk-async-

[2019-12-10 09:38] Rohan-Liu opened #8624 "C# Get “The request signature we calculated does not match the signature you provided.” during Nginx reverse proxy https."
My Nginx conf like this:
   server {
        listen       443;
        server_name  **minio.mydomain.com**;
        ssl on;
        root         /usr/share/nginx/html;
	ignore_invalid_headers off;
	client_max_body_size 0;
	proxy_buffering off;
        ssl_certificate "/etc/letsencrypt/live/mydomain.com/fullchain.pem";
        ssl_certificate_key "/etc/letsencrypt/live/mydomain.com/privkey.pem";

[2019-12-10 09:51] #8624 closed

[2019-12-10 10:58] dedumboy opened #8625 "Policy exceeds the maximum allowed document"
hello guys i have a problem while setting policy for a directory on minio
here is my command
`mc policy set download minio/metube-s3/thumbnails/2019/12/09/RAID7stltju3osfh8uoZ`

i get error
`mc: <ERROR> Unable to set policy `download` for `minio/metube-s3/thumbnails/2019/12/09/RAID7stltju3osfh8uoZ`. Policy exceeds the maximum allowed document size.`
how can i remove policy document size limit for

[2019-12-10 11:00] #8625 closed

[2019-12-11 02:19] #8620 closed

[2019-12-11 04:08] #8533 closed

[2019-12-12 06:05] #8606 closed

[2019-12-12 16:44] sickyoon opened #8640 "k8s helm chart installation fails with latest version"
k8s helm chart installation fails with latest version with default configuration

## Expected Behavior
minio pod should start successfully

## Current Behavior
minio pod crashloops with error message:
[code]

## Steps to Reproduce (for bugs)
1. create persistent volume & persistent volume claim (manual type in this case)
2. run `helm install cos stable/minio --set image.tag=latest --set persistenc

[2019-12-12 17:18] #8640 closed

[2019-12-12 19:27] harshavardhana opened #8642 "notifications: Server allows for setting unconfigured ARNs"
Actually, there is a bug in server in-fact

[code]

[code]

_Originally posted by @harshavardhana in https://github.com/minio/mc/issues/3006#issuecomment-565149148_

[2019-12-13 18:22] gregnsk opened #8647 "Splunk Smartstore configuration sends wrong characters to Minio"
I'm trying to enable Splunk Smartstore with Minio backend. Splunk is running on a Windows host. I see the following errors in mc trace output:
[code]
## Expected Behavior

PUT request should be successful

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

indexes.conf content on Splunk server:

[default]
remotePath = volume:s3/$_index_name

[volume:s3]
storageType = remo

[2019-12-13 20:36] #8642 closed

[2019-12-15 10:39] Leletir opened #8651 "Keycloak How to set several policies for a user ?"
I'm trying to add several policies to an user in Keycloak, adding one works fine, but 2 not.

## Expected Behavior
The user should have access to different buckets based on several policies

## Current Behavior
With 2 policies enables on keycloak it's impossible to login in minio interface.

## Steps to Reproduce (for bugs)

1. Create 2 policies
[code]
[code]
2. Add 2 policies for an usre on keycl

[2019-12-16 06:41] AnishLushte07 opened #8653 "Minio gateway to connect linode object storage"
**Is your feature request related to a problem? Please describe.**
I want to use linode object storage with minio.
Can you suggest any possible way to achieve this?

[2019-12-16 07:11] #8570 closed

[2019-12-16 15:22] #8653 closed

[2019-12-16 20:35] McFlat opened #8655 "ERROR happens "too many levels of symbolic links""
An error happens "too many levels of symbolic links" when I serve a directory (ZFS dataset) /VideosTank/VideosDS/ accessing directories with web client and with mc throws the error on the server and doesn't list the files in the directory. Only happens with directories that have spaces in them. I noticed I have a subdirectory that has directories in it with spaces in the name and those work, so I

[2019-12-16 20:45] #8655 closed

[2019-12-17 19:21] liammdalton opened #8659 "Building minio/minio in docker fails due to ambiguous import of vault API"
## Expected Behavior
When I build minio/minio from source in a docker container, it should succeed.

## Current Behavior
Hits build issue during execution of
# GOARCH=amd64 GO111MODULE=on go get github.com/minio/minio

[code]

## Steps to Reproduce (for bugs)
1. Install docker using the get.docker.com script.
2. Run $ docker run -it --rm golang:1.13.4-alpine3.10
3. Within the container, run $ apk

[2019-12-18 08:36] #8595 closed

[2019-12-18 09:35] someorz opened #8663 "minio multi-part upload multi instances"
if i upload a larger file to a distributed MinIO cluster,the part of file will upload to different node，after the file upload complete, minio will merge to a complete file?

![image](https://user-images.githubusercontent.com/5456361/71072945-6af07a80-21ba-11ea-9f80-33aaede82a51.png)

[2019-12-18 09:37] #8663 closed

[2019-12-18 19:18] thomasf opened #8664 "minio RSS size sharp increase for latest version"
version : 2019-12-17T23:16:33Z

After updating a bunch of non clustered stand alone minio containers I noticed a steep rise in memory usage  (because I got an alarm on a couple of hosts that swap file was kicking in).

Some of these are even completely empty instances with no buckets while others have at least tens of thousands of files with around 10 get requests/s.  They all went from 20-60MB to

[2019-12-18 22:54] #8435 closed

[2019-12-18 22:55] #8324 closed

[2019-12-18 22:57] #8607 closed

[2019-12-18 22:58] #8592 closed

[2019-12-18 22:59] #8489 closed

[2019-12-18 23:00] #8488 closed

[2019-12-18 23:02] #8231 closed

[2019-12-18 23:04] #7093 closed

[2019-12-18 23:05] harshavardhana commented on #6125
Since we rely on orchestrator to do this for use in minio-operator - closing this as not an issue for MinIO.

[2019-12-18 23:06] #7286 closed

[2019-12-18 23:08] #8338 closed

[2019-12-18 23:34] #8664 closed

[2019-12-19 00:12] davemsolomon opened #8667 "Can’t apply policy to LDAP integrated user or group"
Using minio edge server from docker hub and mc edge client from docker hub.

Call that is failing is
mc admin policy set rnd everything user=ldapintegrateduser

Call is failing with
mc: <error> Cannot set the policy. The specified user does not exist.

I know that the LDAP integration is working because I called AssumeRoleWithLDAPIdentity with good and bad LDAP credentials and the call was success

[2019-12-19 02:41] hzw2312 opened #8668 "With erasure code mode, what happens to old data?We have a lot of source files, how do we convert them?"
With erasure code mode, what happens to old data?We have a lot of source files, how do we convert them?

[2019-12-19 02:43] #8668 closed

[2019-12-19 03:32] someorz opened #8669 "Support AWS SDK for C ++"
hello,i read doc for minio,found minio support AWS SDK,i want know does minio Support AWS SDK for C ++

[2019-12-19 03:34] #8669 closed

[2019-12-19 04:31] hzw2312 opened #8670 "When I use erasure code mode, how can my old data become erasure code"
When I use erasure code mode, how can my old data become erasure code?

Can you add a configuration to make the erasure code mode support source files?Or should I use a tool to convert all the source files of the old data into erasure codes?

I want to use the tool to convert old data source files into erasure codes, but it's too much!

In addition, in the absence of erasure code mode, how to achi

[2019-12-19 05:33] chrisbecke opened #8671 "un-deprecate --config-dir flag for docker/kubernetes"
**Problem Statement**
Minio server stores its config file in its configured data path. This is problematic on Kubernetes and Docker as the data path is probably a persistent volume claim or docker volume, which, at least in the case of docker, means that the Minio config cannot be supplied safely as a Docker config.

**Describe the solution you'd like**
`--config-dir` to allow configuration to be

[2019-12-19 07:04] joonhwan opened #8672 "Unable to expand existing distributed setup"
I'm trying to expand a given distributed setup following the [doc](https://github.com/minio/minio/blob/c8d82588c2208d8ee760fa8a79288ad2c9e63466/docs/distributed/README.md#expanding-existing-distributed-setup)

## Expected Behavior
After expanding distributed setup, minio server works correctly with files that uploaded before expanding.

## Current Behavior
Service hang. see the [log](https://gist.

[2019-12-19 07:49] arno01 commented on #6125
Sad... This means that people won't get SSE-C encryption working out of a box unless they deploy Minio using minio-operator in Kubernetes or unless they generate & maintain the x509 certs for the Minio server by their own means (e.g. https://github.com/minio/minio/issues/6093#issuecomment-401563381 ) in case they do not deploy Minio in Kubernetes.

[2019-12-19 07:52] harshavardhana commented on #6125
Use k8s or automate this yourself. MinIO can do certain things,  but it can't do everything under the sun.

For things that need to be orchestrator related should be outside. I am closing further discussion on this topic.

[2019-12-19 08:09] #8671 closed

[2019-12-19 08:57] #8672 closed

[2019-12-19 18:06] davemsolomon opened #8674 "Ability to pass sessionToken using Java client"
the java client doesn’t currently implement  the ability to pass a sessionToken, which means the java client can not do “assumerolewithldapidentity”.

I would like to be able to use the java client to consume minio integrated with ldap.

[2019-12-19 18:10] #8674 closed

[2019-12-19 23:57] ybaumy opened #8676 "be able to that the daemon can listen on multiple interfaces but not all"
**Is your feature request related to a problem? Please describe.**
On our nodes we have 4 network interfaces. 2 of them are wireguard interfaces on which the minio daemon should be available over. currently it is only possible to listen on all or one interface. The workaround is to use iptables rules to block external access to the minio server API.

**Describe the solution you'd like**
Be able to

[2019-12-20 11:58] lucas-dehandschutter opened #8682 "Error Please ensure MinIO binary has 'cap_net_bind_service=+ep' permissions since RELEASE.2019-12-17T23-16-33Z"
## Expected Behavior

Minio Cluster should upgrade to RELEASE.2019-12-17T23-16-33Z

## Current Behavior

We've upgraded our 4 nodes Minio Cluster to RELEASE.2019-12-17T23-16-33Z an since then, we're getting the following issues on each nodes:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

Our minio instances are running in a docker swarm cl

[2019-12-21 13:36] kaiwenli opened #8685 "error="file currently locked" 423 lockd"
**Question**
I upload file often failed.  Chrome tips :  423 locked.

These uploaded files are very large, usually between 15G and 100G.

I use nginx for load balancing and the ip address is 192.168.30.189.
Nginx distributes requests to three servers with IP addresses: 192.168.30.201:9000, 192.168.30.202:9000, 192.168.30.203:9000.

command is:
./tusd -s3-bucket = tus -s3-endpoint = http: //192.168

[2019-12-22 21:51] #8680 closed

[2019-12-22 22:53] #8679 closed

[2019-12-23 03:18] MAHDTech opened #8687 "Add --version flag"
**Is your feature request related to a problem? Please describe.**

In previous versions of minio server there was the ability to get the version number from the cli in a single command. Neither of these work in the current release.

I would like to see a new ```--version``` available in the same format as mc.

[code]

**Describe the solution you'd like**

Consistency between the MinIO Client and

[2019-12-23 03:18] RayRay10460 opened #8688 "depoly minio in k8s with helm fail"
deploy minio in k8s with
helm install --namespace default --name minio-deploy --set persistence.storageClass=nfs-storage,persistence.size=5Gi,mode=distributed,accessKey=minio,secretKey=minio123 stable/minio
will error.

## Expected Behavior

minio work normally

## Current Behavior

minio work abnormally

## Possible Solution

I depploy 4 pods in k8s, minio-deploy-0, 2,  3 seems work normally, but

[2019-12-23 21:35] #8670 closed

[2019-12-24 01:55] kaiwenli opened #8694 "How Running Minio Cluster Increases Storage?"
How Running Minio Cluster Increases Storage?

[2019-12-24 01:56] #8694 closed

[2019-12-24 05:41] #8685 closed

[2019-12-24 05:45] kaiwenli opened #8695 "How Running Minio Cluster Increases Storage?"
**Is your feature request related to a problem? Please describe.**
How Running Minio Cluster Increases Storage?

**Describe the solution you'd like**
Do not suspend services and increase storage

**Describe alternatives you've considered**
No

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-12-24 09:10] kaiwenli opened #8696 "Disk space will not decrease after deleting objects?"
**Is your feature request related to a problem? Please describe.**
Disk space will not decrease after deleting objects?

**Describe the solution you'd like**

On the web, delete an object, check disk space and check web storage tips. Disk space is still being used.

**Describe alternatives you've considered**
No

**Additional context**
Nothing.

[2019-12-24 10:36] #8696 closed

[2019-12-24 10:37] #8695 closed

[2019-12-24 19:52] #8687 closed

[2019-12-25 17:37] posix4e opened #8701 "Preliminary s3x support."
**Is your feature request related to a problem? Please describe.**
Not so much a problem as much as a new backend. IPFS as a backend would be incredibly powerful, even if limited backend.

**Describe the solution you'd like**
Begin working with the s3x community to
1. Identify how and if the two products could come together
2. Pick a preliminary merge back plan so s3x can merge its patches back in

[2019-12-26 06:03] #8042 closed

[2019-12-27 21:23] dvaldivia opened #8705 "Global Bucket support not working if MINIO_DOMAIN has only one common domain"
When `MINIO_DOMAIN` and `MINIO_ETCD_ENDPOINTS` are configured, global bucket support is enabled and each make bucket request will check wether another MinIO instance configured with the same domain on the same etc already claimed such bucket.

The feature works as expected with 1 domain, however if two domains are configured on each MinIO instance with only 1 overlapping domain, the feature no lon

[2019-12-28 00:47] jasoncox opened #8706 "fatal error: concurrent map iteration and map write"
Minio in gateway mode crashes with error: `fatal error: concurrent map iteration and map write` indicating concurrent map misuse.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. run `minio gateway s3`

## Context

## Regression

## Your Environment

* Version used (`minio version`):  Bug is introduced in RELEASE.2019-12-17T23-16-33Z and exists

[2019-12-28 05:07] mrsrvman opened #8707 "Periodic errors with empty event storage"
periodic errors are observed when trying to write to the repository.
The storage is empty or almost empty (10 event files).

## Expected Behavior

periodic errors are observed when trying to write to the repository.
The event storage ( /tmp/minio/events/minio-webhook-1) is empty or almost empty (10 event files).
Most often occurs on one of four nodes.

Log
[code]
[code]

## Current Behavior

## Po

[2019-12-28 16:54] #8385 closed

[2019-12-28 19:27] ossmentoring opened #8708 "Min.io WebIdentity fails with 403 Forbidden with Web Login"
Using [`docker-compose` to orchestrate](https://github.com/ossmentoring/plopbox/blob/keycloak/docker-compose.yml) Keycloak and Min.io, I am able to use OpenId to authenticate, but after authentication with Keycloak I get an access exception for `s3.ListBucket`.

*Note ip addresses auto rotate but are auto-configured, so that's not the issue if you see different ones*

## Expected Behavior

It shou

[2019-12-29 06:51] Meshkati opened #8710 "Migrate large number of files to minio"
## Is your feature request related to a problem? Please describe.

Migrating millions of small files to minio with Minio client is so slow, though reading each file and creating the file in minio has overhead or something.

## Describe the solution you'd like

Archiving files with tar or something and copy them with mc, then minio server extracts them itself and spread it into its cluster.

With a

[2019-12-29 17:26] harshavardhana opened #8711 "Evaluate bulk operations under large deployments"
** not using the template on purpose **

[code]

[code]

[code]

Under large deployments such as 1000+ disks and each server with 100's of drives we are not optimally using the network operations, instead, we are performing an equal number of network operations - we can avoid these by doing bulk calls. ie we can optimize the situation by making only a single network call per server.

We should be

[2019-12-30 02:26] smileinwind opened #8712 "File name garbled when i downloaded files as a zip file."
## Expected Behavior
## Current Behavior
Expected the right file  name but garbled .

## Possible Solution
	// Use utf8 to  encode file name when compressing
			header := &zip.FileHeader{
				Name:   strings.TrimPrefix(objectName, args.Prefix),
				Flags:  1 << 11,
				Method: zip.Deflate,
			}
## Steps to Reproduce (for bugs)

1.select multiple uploaded files
2.download all as zip
3.open the zip

[2019-12-30 14:45] claytonnog opened #8713 "Error when try to setup a cluster environment"
Hi, guys, I am having trouble when I am trying to setup a cluster environment.

My minio.conf:
MINIO_OPTS="http://minio{1...4}:9000/opt/minio/data{1...4}"
MINIO_ACCESS_KEY=xxx
MINIO_SECRET_KEY=xxx

The errors when I try to start minio.service:
Dec 30 11:30:36 xxx minio[1811]: ERROR Unable to initialize backend: 1st disk is already being used in another erasure deployment. (Number of disks specifie

[2019-12-30 16:29] vadmeste opened #8714 "Implement bucket encryption API"
**Is your feature request related to a problem? Please describe.**
Some users want  per bucket encryption configuration.

**Describe the solution you'd like**
https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketEncryption.html

**Describe alternatives you've considered**
No alternative

**Additional context**
No additional context

[2019-12-30 16:42] vadmeste opened #8715 "[Proposal] Accelerate upload of a bunch of small files"
**Is your feature request related to a problem? Please describe.**

Users are frustrated about the needed time to upload a bunch of small files (days). Although mc has parallel capacity of upload, it is still not enough for them.

I compared mc mirror with a written go code which uses parallel upload using minio-go PutObject, it doesn't seem mc is losing any significant time doing things other tha

[2019-12-30 20:20] #8713 closed

[2019-12-30 23:24] #8710 closed

[2019-12-30 23:25] #8688 closed

[2019-12-31 01:11] #8705 closed

[2019-12-31 04:06] #8659 closed

[2019-12-31 11:30] candlerb opened #8718 "Documentation: how files are mapped to zones"
## Issue
In distributed mode with multiple zones, I would like to understand how minio maps a particular GET request to the correct zone.

Does it maintain a per-object mapping database? Does it send the query to all zones and see which one answers? Something else?

## Current Documentation
[Documentation](https://docs.min.io/docs/distributed-minio-quickstart-guide.html) says:

Identifying the zon

[2019-12-31 11:48] candlerb opened #8719 "Documentation: selection of data drives in erasure coding zone"
## Issue
The [distributed minio quickstart guide](https://docs.min.io/docs/distributed-minio-quickstart-guide.html) gives an example of a cluster with 32 servers x 32 disks = 1024 disks.

A distributed cluster will use erasure coding.  The question is, does every single object get split into 1024 separate parts?  i.e. 512 data parts + 512 parity parts (standard redundancy), or 1022 data parts + 2

[2019-12-31 12:33] candlerb opened #8720 "Erasure coding will not start: "Insufficient number of disks online""
Running minio server with multiple directories (to simulate multiple mounted disks) fails to start.

## Expected Behavior

According to the [erasure coding quick start guide](https://docs.min.io/docs/minio-erasure-code-quickstart-guide) I expected to be able to test it simply like this:

[code]

These are just 8 separate directories in the same filesystem, but the documentation does not say these

[2019-12-31 12:42] #8720 closed

[2019-12-31 13:17] candlerb opened #8721 "Minio hangs when insufficient erasure coding parts available"
When insufficient erasure coding parts are available, minio API hangs instead of returning an error.

## Expected Behavior

[code]

to return with an error.

## Current Behavior

[code]

hangs.

## Possible Solution
?

## Steps to Reproduce (for bugs)
Start a server with 8 data disks:

[code]

Upload a file with reduced redundancy (= 6 data 2 parity)

[code]

[code]

Move two parts out of the way:

[2019-12-31 15:55] candlerb opened #8722 "Documentation: storage usage calculation"
## Issue

I could not find a description of how minio handles storage usage reporting in the minio documentation.

I believe the following is roughly true - determined by experimentation, looking at old tickets, and source code:

* The web browser interface shows total storage used
* `mc admin info` shows the total number of objects and buckets, and total size used
* Both appear to be using a JSON

[2019-12-31 16:06] candlerb opened #8723 "Federated bucket migration process"
**Is your feature request related to a problem? Please describe.**
I would like to be able to move buckets between servers in a federated environment.

Once a bucket has been created, objects continue to be created on the same node: the filesystem may become full, and it may be necessary to move (this or other) buckets to other nodes to free up space.

**Describe the solution you'd like**
The most

[2019-12-31 16:27] candlerb opened #8724 "New directories not picked up in federated server"
This is not exactly a bug, but an inconvenient situation you can get into.

## Steps to Reproduce

* Create a federated cluster (e.g. minio1 and minio2)
* After the cluster is running, manually create a new bucket directory on one of the nodes, directly in its data directory.

[code]

This newly-created directory is not visible on either node.  This is reasonable, given that there's no etcd mappin

[2019-12-31 18:32] #8721 closed

[2019-12-31 18:34] #8724 closed

[2019-12-31 18:41] #8718 closed

[2019-12-31 19:11] harshavardhana commented on #8722
Yes most definitely we shall fix it @candlerb

[2019-12-31 19:13] harshavardhana commented on #8719
You don't need to worry about that @candlerb those are internal and expected.

[2019-12-31 20:53] JonathanWilbur opened #8725 "Plugins / Modules API"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
An API for implementing modules / plugins.

[2019-12-31 20:54] JonathanWilbur commented on #8725
Specifically, I would like the ability to intercept files while they are being downloaded and modify them.

[2019-12-31 21:06] harshavardhana commented on #8725
This is out of scope for MinIO, fork MinIO and do it in your fork.

[2019-12-31 21:06] #8725 closed

[2020-01-01 01:33] ossmentoring commented on #8708
Yep! That was it. Thanks.

If there is interest, I'm willing to create PR's with error messages to catch this and add documentation. Just let me know what works best for you.

Thanks again!

[2020-01-01 01:33] #8708 closed

[2020-01-01 01:36] harshavardhana commented on #8202
Anonymous access is on purpose disabled for 's3:*' actions, so the error here is appropriate. If you need 's3:*' then you should use IAM policies to provide further restricted actions.

Adding more elaborate error would make it more apparent here, sending a PR.

[2020-01-01 01:40] harshavardhana commented on #8708
We are always happy to accept PRs which improve the functionality and user-friendly behavior. Feel free to send whenever you have time. Thanks

Happy New Year :cake:

[2020-01-01 01:45] harshavardhana commented on #8202
https://github.com/minio/minio/pull/8726 should provide more context-aware error as @kannappanr mentioned https://github.com/minio/minio/issues/8202#issuecomment-543411443 is the way to go.

[2020-01-01 01:45] #8202 closed

[2020-01-01 09:01] bonedaddy commented on #8701
I don't think this is a limitation, it's just not currently available. s3x is still pretty new, and this is a planned feature, but is pending more important things like getting an mvp up and running.

There's a decent bit of documentation via comments in the `.proto` file and the various gateway files.  If the lack of central documentation location is an issue I can certainly improve that but it i

[2020-01-01 10:19] candlerb commented on #8719
Thank you, I didn't see any documentation saying that erasure coding stripes an object over no more than 16 disks.  [erasure code quick-start](https://docs.min.io/docs/minio-erasure-code-quickstart-guide.html) gives *examples* of 8 disk and 12 disk sets.  [storage classes](https://github.com/minio/minio/tree/master/docs/erasure/storage-class) gives an *example* of a 16 disk set.

Now I know to loo

[2020-01-01 10:25] harshavardhana commented on #8719
The documentation is not part of standard reference.

https://github.com/minio/minio/blob/master/docs/distributed/DESIGN.md

Currently our docs are going through an overhaul which shall make other docs visible as well. It shall happen in coming months.

[2020-01-01 10:31] candlerb commented on #8719
Thank you, that doc is exactly what I was looking for.  (Also I just tested 18 dirs, and objects *do* get striped across 6).

Regarding line 117 of `docs/distributed/DESIGN.md`:

[code]

Are you relying on bash expansion of `/mnt{1..4}` here, or should this say `/mnt{1...4}` ?

[2020-01-01 10:51] candlerb commented on #8723
Thanks.  As stop-gap, do you think process as described above is sufficient?

[2020-01-01 10:55] harshavardhana commented on #8719
No of course not we don't rely on bash expansion, that is a typo. We rely on our own ellipses syntax.

[2020-01-01 22:11] vtolstov opened #8729 "static website support (autoindex ability)"
Please, add some option to sa that bucket is the static website with autoindex. So when i'm query aaa/b/ path and aaa/b/ contains some files, minio returns it via autoindex with urls to files.

[2020-01-01 22:33] harshavardhana commented on #8729
This is out of scope for MinIO you may use https://github.com/harshavardhana/s3www

[2020-01-01 22:33] #8729 closed

[2020-01-02 00:11] MAHDTech commented on #8687
Thanks for adding the --version flag back, if they could be made consistent between the client/server to have or not have the "RELEASE" prefix that would also be great.

**Client**
[code]

**Server**
[code]

[2020-01-02 04:57] harshavardhana commented on #8498
Needs to be reopened until #8623 is merged

[2020-01-02 08:05] harshul4274 opened #8731 "How to re balance minio data?"
Hello i create a 4 minio pod in kubernetes as a  store data in host but a one pod are delete and host data also delete. Now i up a lost pod but actually i don't know how to rebalance data and how to store a lost  host data when pod and host data delete.

[2020-01-02 08:28] nitisht commented on #8731
you can use the `mc heal` command as documented here https://docs.min.io/docs/minio-admin-complete-guide.html#heal to recreate the data lost on one of the pods. Alternatively, you can wait for MinIO to auto-heal as well.

Closing this as answered, please join us on Slack (https://slack.min.io) for more such questions

[2020-01-02 08:28] #8731 closed

[2020-01-02 09:55] enayzhu opened #8732 "When using mc client upload file, shut down one sever eth0 in four distribution minio server, the uploaded time is too long which is 15mins for 100M file."
Hi，
My testbed is distribution mode which has 4 minio servers located different 4 work nodes.
Using mc client doing upload 100M file takes time should be about 2s which is supposed to be normal.
while in our test when one server eth0 was down, it took nearly 15mins which is not reasonable.

## Expected Behavior
Expected result is deliver time should be reasonable rather than 15 mins for only 100M

[2020-01-02 10:18] harshul4274 commented on #8731
Thanks for share instruction now i can solve this issue.

[2020-01-02 11:47] harshul4274 commented on #8731
mc config host add <ALIAS> <YOUR-MINIO-ENDPOINT> <YOUR-ACCESS-KEY> <YOUR-SECRET-KEY>

[2020-01-02 11:50] harshul4274 commented on #8731
Only two command need to data rebalance.<br>mc config host add ALIAS_NAME YOUR-MINIO-ENDPOINT YOUR-ACCESS-KEY YOUR-SECRET-KEY
./mc.RELEASE.2019-12-17T23-26-28Z admin heal --recursive ALIAS_NAME

[2020-01-02 12:41] pawelbojanowski opened #8733 "Can't run minio chart in distributed mode"
I cannot make minio running successfully (without constant restart) in my k8s cluster.

## Expected Behavior
I'm trying to deploy stable/minio chart with minimal settings, just `mode: distributed`

## Current Behavior
Helm install is successful, but pods got into restart loop. I see this in logs:
[code]

## Steps to Reproduce (for bugs)
1. `helm upgrade --install minio-test stable/minio --set mode

[2020-01-02 13:22] kannappanr commented on #8733
@pawelbojanowski We will take a look and get back to you. Thanks for reporting the issue

[2020-01-02 13:47] Reza-Noei opened #8734 "Problem with URL Signed Requests in Minio"
Im using AmazonS3 .NET SDK to generate a url signed requests.

here is our sample code:

     class AmazonTest
     {
         public static string GetTextContents(string path)
         {
             HttpWebRequest request = HttpWebRequest.Create(path) as HttpWebRequest;
             HttpWebResponse response = request.GetResponse() as HttpWebResponse;
             using (Stream stream = response.

[2020-01-02 13:51] vtolstov commented on #8729
i don't want to get this in core minio server. But if minio has ability to support some metadata for bucket, this can be easy added via notification system. So you put something like static-site meta label. When somebody upload to bucket new object webhook fired with metadata. And i can easy generate index file based on this data in needed bucket.
What you think?

[2020-01-02 17:06] starinacool commented on #6806
minio should cache buckets ids for a configurable amount of time.
I have 120 000 000 files to upload to B2. With the current implementation I would spend about $500 only for b2_list_buckets calls which always return the same information.

[2020-01-02 17:07] starinacool commented on #6806
@Cyrus-d

[2020-01-03 00:46] #8719 closed

[2020-01-03 05:04] kannappanr commented on #8734
@Reza-Noei Can you please upgrade to newer versions of AWS SDK. I tried your code with version `3.3.24.1` and it worked fine.

[2020-01-03 06:10] kannappanr commented on #8714
Need to also implement https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketEncryption.html and https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketEncryption.html

[2020-01-03 06:11] softarts commented on #8385
hi
fixed in which tag?

[2020-01-03 06:28] harshavardhana commented on #8385
No tag yet @softarts shall be available in next release.

[2020-01-03 09:19] starinacool opened #8739 "Cache b2_list_buckets calls with backblaze gateway"
**Is your feature request related to a problem? Please describe.**

We have more then 120 mil. files to upload to backblaze. And then upload about 5 mil. files a month.
With the current implementation we will have to pay about $500 to backblaze for initial upload just for calling b2_list_buckets for every uploaded file. Which is absolutely unnecessary because id of the backblaze's bucket never cha

[2020-01-03 16:51] harshavardhana commented on #8739
@starinacool we are not maintaining B2 gateway ourselves - we don't have access to B2, feel free to send a PR for this feature we will be happy to accept.

[2020-01-03 17:36] starinacool commented on #8739
@harshavardhana thanks for including it to the milestone

[2020-01-03 18:48] candlerb commented on #8565
Events posted to Kafka are trivially "flattened": write a consumer which reads one JSON event and writes out one or more JSON events to another topic.  This can be extremely fast and a few lines of code (e.g. with faust, or kafka streams).

I don't know about Elasticsearch, in particular whether an [ingest pipeline](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html) can cr

[2020-01-03 18:54] harshavardhana commented on #8565
Of course, a generic webhook can be written which can write to any target of your choice in whatever format needed, I think the primary issue here is that from the get-go how does one store efficiently on these targets and if the target itself warrants a flattened format.

If we add it will be a new style of `format` field with values such as namespace, access a new one shall be `flattened`  or ju

[2020-01-03 18:59] harshavardhana commented on #8733
Just ran this on a GKE cluster works like a charm, are you sure your Kubernetes cluster is not misbehaving?

[code]

[code]

[code]

Closing this as working as intended for now.

[2020-01-03 18:59] #8733 closed

[2020-01-03 19:04] harshavardhana commented on #8734
Closing as per https://github.com/minio/minio/issues/8734#issuecomment-570463540

[2020-01-03 19:04] #8734 closed

[2020-01-03 19:05] harshavardhana commented on #8682
Fixed in master closing.

[2020-01-03 19:05] #8682 closed

[2020-01-03 19:14] knobotz commented on #8391
@harshavardhana It looks like we're running into a similar issue as well with pre-signed get requests not working with STS credentials.

[2020-01-03 19:29] harshavardhana commented on #8391
@knobotz does it work without presigned URLs?

[2020-01-03 19:53] knobotz commented on #8391
Yes, I'm able to download (via the aws ruby sdk and cli) the object with minio STS credentials. However, trying to generate and use a presigned get_object url with the same credentials for the same object always returns:

[code]
[code]

[2020-01-03 20:05] harshavardhana commented on #8391
Okay looks like we don't support this yet @knobotz

[2020-01-03 21:52] glenndekhayser opened #8742 "Create option for ignoring S3 naming rules"
Minio supports exposing existing datasets on NAS (for the NAS gateway function).  The data that's already there, especially if it was created in a Windows environment, but certainly possible in a Linux environment, likely isn't going to conform to S3 standards- meaning it will likely have capital letters, or symbols that don't adhere to the standard.

It would be MOST useful if there was a "relaxe

[2020-01-03 22:44] harshavardhana commented on #8742
@glenndekhayser existing top-level data is already supported in NAS Gateway mode. So it means that existing buckets with capital names will work.

Of course, you are not allowed to create new buckets with capital names. Can you share more details, perhaps a code snippet where you see the problem?

[2020-01-03 23:01] ainiml opened #8744 "--anonymous option shows keys in Command-line Access"
`minio server`:

[code]

`minio server --anonymous`:

[code]

## Expected Behavior

Keys should be hidden with this server option

## Current Behavior

Keys are shown

## Steps to Reproduce (for bugs)

1. minio server --anonymous /data

## Context

Keys are shown

## Regression

## Your Environment

* Version used (`minio version`): `minio version RELEASE.2020-01-03T19-12-21Z`
* Environment name a

[2020-01-03 23:02] harshavardhana commented on #8744
@ainiml feel free to send a PR

[2020-01-03 23:03] harshavardhana commented on #8744
Generally what you need is `--anonymous --json` and that is a better option for you.

[2020-01-03 23:09] glenndekhayser commented on #8742
The nas-gateway DOES work...but only in the browser. Python API will return the capital names in list_buckets(), but will NOT accept them in a query for list_objects, that function errors out as invalid when you set the bucket_name to a value with Capital letters. I’ve tested this multiple times today.

[2020-01-03 23:10] harshavardhana commented on #8742
Then this bug belongs in minio-py project @glenndekhayser not here, will transfer it.

[2020-01-04 16:18] jasoncox commented on #8706
Have you been able to reproduce the failure?

[2020-01-04 16:35] harshavardhana commented on #8706
Nope we have not @jasoncox

[2020-01-05 07:32] hossein-kshvrz opened #8746 "Get XMinioUnknownAPIRequest Unknown API Request error using MinIO Python API"
I am using **Python API** to connect to MinIO, but I get **Unknown API Request** error.

## Expected Behavior
I want to make buckets and upload selected files into a specific bucket via a Python script. The script is like the one on [Python Client API Reference page](https://docs.min.io/docs/python-client-api-reference.html), and it is included in reproduction steps section.

## Current Behavior
I

[2020-01-05 07:41] nargesmomenyan commented on #8391
I have a similar problem.
I'd like to access minio objects (in this case images) via url because they are custom map tiles should be viewed through leaflet.js. The problem is, the access has been given me is temporary credentials generated by assumeRole.
When I generate signedUrl to access the object I see this message :SignatureDoesNotMatch.

@harshavardhana Please consider this issue again. In t

[2020-01-05 08:00] harshavardhana commented on #8391
@nargesmomenyan we can definitely support this, so please provide a self contained reproducer.

[2020-01-05 08:06] harshavardhana commented on #8746
@hossein-kshvrz remove the extra `/` in the endpoint

[2020-01-05 08:10] nargesmomenyan commented on #8391
Thanks for your quick consideration.

I receive fileCredential from the assumeRole api.
Here is my typescript code to create aws client and generate signed Url:
export default class AWS_S3_Util {
    S3: AWS.S3
    constructor(fileCredential: IFileCredential) {
        let options: S3.Types.ClientConfiguration = {
            sessionToken: fileCredential.SessionToken,
            accessKeyId: file

[2020-01-05 09:02] #8746 closed

[2020-01-05 11:12] hossein-kshvrz commented on #8746
Yes. Thanks. It worked -__-

[2020-01-05 12:15] Meshkati opened #8747 "Does minio have performance limitations on object prefixes like AWS S3?"
Hi!

Does the minio have any performance limitations on object prefixes like S3? And if have, is there any difference between prefix delimiters on that?

As AWS documentation says, there is no hierarchical structure in s3, but in the minio we see `/` characters became into folders, so hierarchy appears. Also, the way that backend servers of AWS are behaving is not clear, but in minio we know how f

[2020-01-05 17:05] harshavardhana commented on #8747
MinIO uses filesystem for namespace, the heirarchy is needed to make sure to avoid overwhelming the backend filesystems. This is not a limitation an expected behavior.

For applications heirarchy provides a way to manage objects, dumping all objects flat will lead to overwhelming output for client applications.

So in MinIO if you use ext4 it will expose ext4 limits, if you use xfs it will expose

[2020-01-05 17:43] klauspost commented on #8706
ok, spent an hour chasing this down:

Seems the culprit is [filterObjectLockMetadata](https://github.com/minio/minio/blob/f931fc7bfbfee25ea3f7c95d855d41e689bc0611/cmd/object-lock.go#L597) modifying the metadata while another goroutine is reading it.

In `GetObjectHandler` the object info [is requested](https://github.com/minio/minio/blob/669c9da85d229755a33217b4834cdd3a311a6495/cmd/object-handlers

[2020-01-05 18:00] Meshkati commented on #8747
So we don't need to randomly distribute object prefixes in minio for more TPS?

[2020-01-05 18:06] harshavardhana commented on #8747
Whatever works best test for your hardware and backend filesystem.

Note: heirarchy is important for managementf objects and avoid overwhelming the client.

[2020-01-05 18:07] harshavardhana commented on #8747
I will close this issue, let's discuss on slack https://slack.min.io

[2020-01-05 18:07] #8747 closed

[2020-01-05 18:37] harshavardhana commented on #8706
@klauspost fixing `filterObjectLockMetadata` would actually fix this properly. The current behavior can cause quite a lot of map related races.

[2020-01-05 20:57] klauspost commented on #8706
I will do a PR tomorrow.

[2020-01-05 21:44] candlerb opened #8750 "Use of MINIO_ERASURE_SET_DRIVE_COUNT"
This is probably my lack of understanding of how it's intended to be used, but MINIO_ERASURE_SET_DRIVE_COUNT does not appear to have any effect in either distributed or EC mode.

## Test case

(1) Distributed mode

[code]

[code]

(2) Single server EC mode

[code]

[code]

## Expected Behavior

I expected the 8 disks to be treated as two EC sets of 4 disks.

## Current Behavior

What I see in both

[2020-01-05 21:56] candlerb opened #8751 "Intermittent behaviour under strace"
(Aside: I was trying to find out why minio could take a minute or more to start in erasure coding mode.  But I ended up with something weirder)

## Expected Behavior
minio to start successfully under strace, every time.

## Current Behavior
It's intermittent. Sometimes it works:

[code]

And sometimes it doesn't:

[code]

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
See above

##

[2020-01-06 04:02] harshavardhana commented on #8751
@candlerb have tried many times already cannot reproduce this

[code]

[2020-01-06 04:04] harshavardhana commented on #8751
This means that ENV is not visible for some reason @candlerb because backend config is encrypted with ENV creds.

[2020-01-06 04:09] harshavardhana commented on #8711
@kannappanr I will be working on this as per @abperiasamy

[2020-01-06 06:10] enayzhu commented on #8732
Hi kannappanr  and vadmeste,
I checked the code of minio server and did some test by myself, and here's my finding:
I found that in process NewClient from client.go, the httpClient part of the return struct Client didn't set Timeout.
As the document said, Timeout=0 means no timeout.

In this case, it will follow system kernel parameter'tcp_retries2', which is 15 by default.
When it is 15, the time

[2020-01-06 07:09] harshavardhana commented on #8732
We cannot set arbitrary timeouts like this @enayzhu because Go treats it like a connection timeout. Leading to situation where large data transfers get timeout prematurely.

If you wish for kernel to timeout keep alives quickly you have to set the keep alive probes number appropriately.

Also turning off eth0 is not equivalent of an interface dying or network turned off. Turning off eth0 Linux ker

[2020-01-06 12:20] klauspost commented on #8711
`DeleteMultipleObjects` is also really chatty and slow.

[2020-01-06 12:36] pransen opened #8756 "All users other than 'Admin' unable to use list_buckets() python API"
I have a user with the following canned policy:

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:ListAllMyBuckets",
        "s3:ListBucket",
        "s3:PutObject",
        "s3:GetObject",
        "s3:DeleteObject",
        "s3:GetBucketLocation",
        "s3:GetBucketPolicy"
      ],
      "Effect": "Allow",
      "Resource": [
        "arn:aws:s3:::data/*",

[2020-01-06 12:48] lucas-dehandschutter opened #8757 "MINIO_SSE_MASTER_KEY_FILE environment variable has been removed from Dockerfile."
In June, I contributed to minio with the pull request [7825](https://github.com/minio/minio/pull/7825) to add the ability to setup SSE encryption with a key hosted in a Docker secret. This feature was in part implemented in the Dockerfile of minio in wich I added a MINIO_SSE_MASTER_KEY_FILE environment variable. The presence of this variable automatically checked the presence of the docker secret

[2020-01-06 13:08] xrzhao commented on #8750
bug is in the endpoint-ellipses.go, in which customSetDriveCount  is shadowed by  local variable in if block of following function:

func GetAllSets(args ...string) ([][]string, error) {
    var customSetDriveCount uint64
    if v := env.Get("MINIO_ERASURE_SET_DRIVE_COUNT", ""); v != "" {
        customSetDriveCount, err := strconv.ParseUint(v, 10, 64)
        if err != nil {
            return ni

[2020-01-06 13:08] xrzhao commented on #8750
bug is in the endpoint-ellipses.go, in which customSetDriveCount  is shadowed by  local variable in if block of following function:

func GetAllSets(args ...string) ([][]string, error) {
    var customSetDriveCount uint64
    if v := env.Get("MINIO_ERASURE_SET_DRIVE_COUNT", ""); v != "" {
        customSetDriveCount, err := strconv.ParseUint(v, 10, 64)
        if err != nil {
            return ni

[2020-01-06 15:22] SnowfallDan opened #8758 "【Question】max disks support per minio"
Hi

The challenge I am currently facing is how to solve the storage of 4pb data.I found that minio supports me to do this job.
We use JBOD with EMC 80 disks, each disk has 12T capacity. Four JBODs can fulfill the demand of 4pb.

I am facing the problem of how to deploy it using minio.
I read the minio's documentation in detail and found that a single minio service only supports up to 16 disk mount

[2020-01-06 15:59] nitisht commented on #8757
we'll take a look @lucas-dehandschutter // cc @aead

[2020-01-06 16:02] nitisht commented on #8756
can you paste sample code as reproducer @pransen , also what is you MinIO version

[2020-01-06 16:42] #8744 closed

[2020-01-06 16:48] aead commented on #8757
This looks like a new config format regression. (/cc @harshavardhana) However, according to the docker script this env var should be honored (See: https://github.com/minio/minio/blob/master/dockerscripts/docker-entrypoint.sh#L85). What is the version you are trying to update to (See issue template)

[2020-01-06 17:17] harshavardhana commented on #8750
@xrzhao there is already a PR to fix this.

[2020-01-06 17:29] harshavardhana commented on #8757
Master key and config init has nothing in common, what is happening here is config initialization failed, we need to know the server version under use.

looks like you were using some development version and then upgraded. Because we migrated to a different sio package called secure-io which has a different AEAD id

[2020-01-06 18:15] #8706 closed

[2020-01-06 18:20] Praveenrajmani commented on #8756
@pransen The Resource defined is bound to the bucket `data`.. Can you change that to `*` for the list buckets to work

[2020-01-06 21:18] kannappanr commented on #8758
@SnowfallDan
Here are the answers to your questions
1. `16` is the max size of `Erasure Set` meaning an object cannot exist in more than 16 disks. You can have as many numbers of disks as you want.
2. MinIO never had a limit of 16 disks. Documentation in English will be the updated one.
3. If the actual storage is 4 pb, then you can use `EC:2` and the required storage can be `4.57 PB` and if you u

[2020-01-06 21:21] kannappanr commented on #8712
@smileinwind Closing this issue as #8693 has been merged

[2020-01-06 21:21] #8712 closed

[2020-01-06 22:44] ebozduman commented on #8376
@petebytes,

Could you run `mc admin trace` command in another window and go through your reproduction steps?
[code]

[2020-01-07 02:53] harshavardhana commented on #8758
https://blog.min.io/relaxing-the-32-node-restriction-on-minio/

[2020-01-07 02:59] andypeng2015 opened #8761 "backup file truncated after turning on retention policy"
Not sure if this is normal, but after I turn on the retention via the mc cmd below, the backup file got truncated to smaller size, initially it's all full backup with MegaBytes, now it's only KBytes.

And is there any configure in operator to set the default bucket policy to none? thanks.

[code]

<img width="959" alt="Screenshot 2020-01-07 at 10 57 07 AM" src="https://user-images.githubuserconten

[2020-01-07 03:02] andypeng2015 commented on #8761
@harshavardhana I only need to keep the backup for last few days, so I enable the retention policy, but now I observe the file size become smaller, not sure whether it's related to the retention policy I enabled because the last update date is all 6th Jan

[2020-01-07 03:03] harshavardhana commented on #8761
That is not called retention @andypeng2015 - you are doing it wrong. What you need is lifecycle policy, retention is to enable WORM policy and now you can't unset it until 5days before you can delete these objects.

[2020-01-07 03:04] harshavardhana commented on #8761
Filesize becoming smaller is also not MinIO issue, you need to check your backups if they are uploading the correct data to MinIO because MinIO won't automatically create small objects.

[2020-01-07 03:07] andypeng2015 commented on #8761
@harshavardhana thanks for the clarification, so the lifecycle policy is not available in mc? not able to find it in mc cmd. how do I delete the retention config via mc? thanks

[2020-01-07 03:08] harshavardhana commented on #8761
No it is not @andypeng2015 https://github.com/minio/minio/tree/master/docs/lifecycle check here - you can't delete retention config just like that you need to wait for 5days because you enabled compliance mode.

[2020-01-07 03:12] andypeng2015 commented on #8761
I see, so I need to install aws cli to configure the lifecycle policy?

fpor the retention config, what happen if I run mc cmd to set it to 1day again? I am abe to edit it after 1 day?

[2020-01-07 03:15] andypeng2015 commented on #8761
@harshavardhana but I can delete the backup files now, I just cannot rewrite the backup?

[2020-01-07 03:19] harshavardhana commented on #8761
Yes because you have set retention also on an incorrect prefix, you cannot reset retention you can only extend it.

[2020-01-07 03:21] harshavardhana commented on #8761
Come to our slack we will help you https://slack.min.io

[2020-01-07 03:21] #8761 closed

[2020-01-07 06:29] pransen commented on #8756
@nitisht @Praveenrajmani

I am using the docker image for MinIO. I guess it should be the latest stable version.

On changing the bucket from 'data' to *, it lists all the buckets present.

My objective is to have one bucket (or multiple buckets with others not having access to it) per user and when I create a python MinIO client using the user's **_access_** and **_secret_** keys and call the API

[2020-01-07 06:33] SnowfallDan commented on #8758
@harshavardhana @kannappanr @klingtnet
Thank you for your replies, so it seems that I only need to use 4 servers, each server is connected to a 84-bay JBOD, each disk is 12T. Install one minio mount 84 disks per server. This will meet my needs, right? And does minio support multipath and how
Or do you have a more recommended deployment method?

[2020-01-07 07:33] harshavardhana commented on #8758
MinIO just want mount points i.e it's a directory on the host, MinIO doesn't use the raw disks directly you format it with XFS, mount it and rest of the setup is straight forward

[2020-01-07 07:45] harshavardhana commented on #8751
I can't seem to reproduce this, as far as I can see it's env related issue.

Going to close this for now unless we find a proper reproducer.

[2020-01-07 07:45] #8751 closed

[2020-01-07 08:24] lucas-dehandschutter commented on #8757
Hello,

The last version working on our side is the RELEASE.2019-10-12T01-39-57z
Then a change was done in commit 8392 to remove my environment variable.
You can see the change history [here](https://github.com/minio/minio/commit/ee4a6a823df5195dccec20e39d85a959368298e0#diff-3254677a7917c6c01f55212f86c57fbf
)

[2020-01-07 08:42] harshavardhana commented on #8757
@lucas-dehandschutter as I repeated your issue is not related to reading master key. It is related to backend config which is encrypted with your access credentials.

Please explain in detail what you did to get to this situation and what is the current release that is under use. From which version to which version did you upgrade and how you did it.

[2020-01-07 09:02] SnowfallDan commented on #8758
@harshavardhana Thank you for your reply. I understand what you mean by mount point.
In a single tenant usage scenario, I have 320 disks, if formatted into 320 mount points respectively. Then use a minio to mount all mount points. Is this solution feasible? What are the reasons and risks of failure? Is there a recommended deployment method? I am now confused about how 320 disks are arranged and us

[2020-01-07 10:19] Praveenrajmani commented on #8756
@pransen  You should use `${aws:username}` in the resource definition for such usecases. Where an user can only access the buckets which have the same name as that of the user's name.

An example will be

[code]

[2020-01-07 10:21] Praveenrajmani commented on #8756
https://aws.amazon.com/blogs/security/writing-iam-policies-grant-access-to-user-specific-folders-in-an-amazon-s3-bucket/

[2020-01-07 10:25] zhangzewen opened #8762 "can not change dir's owner"
I use s3fs-fuse mount a  bucket， i create  a folder in the mounted folder， when i  use chown  to change the folder's owner ， it can  not be changed。But  if it's a file, that worked.

## Steps to Reproduce (for bugs)
[code]

## Your Environment
[code]

[code]

[2020-01-07 10:34] pransen commented on #8756
@Praveenrajmani thanks. Will check this out

[2020-01-07 13:55] designermonkey opened #8763 "Linked PEM certs fail to be used"
## Expected Behavior

When using a utility like certbot to generate certificates for a server, a sysadmin should be able to symlink to those certificates to allow certbot auto renewal to function correctly.

## Current Behavior

Those certbot certs must be physically copied to the minio certs directory. Symbolic links are not followed.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Cr

[2020-01-07 16:54] klauspost commented on #8758
If 80 of your disks are mounted on each server as `/export1`, `/export2`, etc, you can link up your cluster with `minio server http://host{1...4}/export{1...80}` assuming your hosts are named `host1`, `host2`, etc. This can also be IP addresses.

Assuming you have set `MINIO_STORAGE_CLASS_xxxx` to your needs this should create and link up your cluster. It should be pretty easy to experiment. If so

[2020-01-07 17:13] #8750 closed

[2020-01-07 17:15] harshavardhana commented on #8763
Just symlinking certs folder is not enough we exactly look for files named `private.key` and `public.crt` if you do this with certbot MinIO will automatically reload upon cert renewals.

[2020-01-07 17:18] harshavardhana commented on #8762
@zhangzewen we don't support directories like AWS S3 and do not allow custom metadata on them.

It's a use case we are not interested to address anytime in near future. Closing this as won't fix.

[2020-01-07 17:18] #8762 closed

[2020-01-07 19:36] flixr commented on #8664
I'm also seeing this after upgrading from RELEASE.2019-09-26T19-42-35Z to 2020-01-03T19-12-21Z.
Especially I can periodically (12h) see the sharp increase and it seems to be due to the (new?) disk usage calculation.

where the color changes the new version was deployed (and you can clearly see the spikes every 12h):
![Selection_007](https://user-images.githubusercontent.com/104257/71923370-33f4000

[2020-01-07 20:27] vadmeste commented on #8715
Adding a possible other solution here, which is adding an API in web-handlers.go to decompress on the fly a tar ball and adds this feature in MinIO Browser (I am assuming here that users will copy large data set of small files only once a while)

[2020-01-07 23:06] kannappanr commented on #8763
@designermonkey Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further questions.

[2020-01-08 01:58] SnowfallDan commented on #8758
@klauspost Thx!

[2020-01-08 01:58] #8758 closed

[2020-01-08 02:11] svasilevskiy opened #8765 "Commit c38ada1 (08/23/2019) regresses distributed MinIO read speed by 90%"
Commit https://github.com/minio/minio/commit/c38ada1a2665033f9a2a4d8365ddb256c0dc0e1a  regresses cluster read speed by 90+%. The regression is reproducible in the latest MinIO Dec 2019 releases.

Server setup: a four-node MinIO cluster with one disk/node (four disks total). Disks are mountpoints on a single SAN, which is connected to the MinIO nodes and the client (benchmark) node by 25Gbps networ

[2020-01-08 02:18] harshavardhana commented on #8765
@svasilevskiy have you tried latest master?

[2020-01-08 02:28] harshavardhana commented on #8765
https://github.com/minio/warp can you try warp instead to get the numbers? also are the numbers same with latest released binary as well? also what is your backend filesystem here?  can you provide all of that information.

[2020-01-08 07:04] svasilevskiy commented on #8765
The latest release is still slow. Here are the numbers from RELEASE.2020-01-03T19-12-21Z binary:
S3 benchmark program v3.0
Tue, 07 Jan 2020 23:36:33 GMT Loop 1: PUT time 30.2 secs, objects = 3094, speed = 1GB/sec, 102.4 operations/sec.
Tue, 07 Jan 2020 23:37:07 GMT Loop 1: GET time 34.0 secs, objects = 435, speed = **128.1MB/sec**, 12.8 operations/sec.

Filesystem type from "stat -f":
Type: xfs
Bl

[2020-01-08 07:06] harshavardhana commented on #8765
Can you test on 4.x or 5.x kernel versions? @svasilevskiy

[2020-01-08 08:58] designermonkey commented on #8763
I’m not symlinking the certs folder, I’m linking each certificate and key as I stated in the initial issue.

[2020-01-08 08:59] designermonkey commented on #8763
Also, minio does reload, but the bug is it is not following symlibks and states the certs are invalid as they are links @harshavardhana

[2020-01-08 09:42] pkwenda opened #8767 "Picture thumbnail feature"
[when i find picture download on my pc,I always try many times]

[if you can have a thumbnail option, you can locate the image directly. When debugging, you don't need to download it for confirmation]

![image](https://user-images.githubusercontent.com/14212375/71966975-7ffe7d80-323d-11ea-89f6-bf63d495c0a5.png)

[Image thumbnail if allowed, I would like to contribute this function to minio！thx！]

[2020-01-08 09:49] pkwenda commented on #8767
I know share file can also preview the image，but only one by one.

[2020-01-08 11:43] thomasf commented on #8664
Yeah, I am still getting minor problems with this on some  staging and servers with not a lot of RAM. As a temporary work around I have just disabled swap usage alerts on those machines since minio is pushing stuff out into swap when it does it's memory hog dance.  I would guess that this behavior can be annoying when minio is used with resource limits on kubernetes or similar where you might only

[2020-01-08 12:48] simontcousins opened #8768 "Specify the Kafka version"
MinIO uses the sarama library to communicate with Kafka. Currently the Kafka version is not set in the sarama config and it defaults to the sarama.MinVersion: 0.8.2.0.

Unfortunately, 0.8.2.0 does not support timestamps in Kafka (the timestamp gets set to -1). This means that I cannot make use of Kafka Streams to process MinIO bucket notifications. See: https://stackoverflow.com/a/52707313

Adding

[2020-01-08 13:00] nitisht commented on #8768
Thanks for reporting @simontcousins we'll take a look

[2020-01-08 13:42] enayzhu commented on #8732
Hi harshavardhana，
The previous test method was modified. During the process of uploading the file, a node running by the server was shut down, and the results were consistent with the previous.
I would like to ask if there are any relevant cases in the test of the minio server. During the file upload process, there is a server that cannot provide services. What is the behavior at this time? Looki

[2020-01-08 13:52] lucas-dehandschutter commented on #8757
@harshavardhana I was initially running on a minio RELEASE.2019-09-18T21-55-05Z. My minio cluster is running in a docker swarm cluster.

The minio instances are deployed with the following code in my docker-compose:

[code]
As you can see, the access_key and secret_key are passed via docker secrets as for the sse_master_key.

The minio command passed to the deployment script is:

`server http://mi

[2020-01-08 14:09] vadmeste commented on #8732
@enayzhu MinIO cluster can recover quickly when the OS says that it cannot reach the killed server.

@harshavardhana the default timeout for rest calls is 1 minute. I am not sure why we have this 15 minutes. I will investigate this.

Also we probably can check if we can shorten tcp dial timeout which is also 1 minute. Probably, the kernel accepts connections quickly even if the server has a high l

[2020-01-08 15:11] hossein-kshvrz opened #8770 "Pyspark Write API"
I want to develop a system in which ML models are trained with Python API of Spark ML. I need such models to be saved, and since I have a Spark cluster, I need a distributed file system in order to save the model in a distributed manner. Otherwise, I cannot retrieve the model because separate parts of the model are located on separate nodes. Spark ML models are saved as follows:
[code]
Thus, I nee

[2020-01-08 16:04] harshavardhana commented on #8732
@vadmeste the issue here is that eth0 going down is a keep-alive timeout

[2020-01-08 16:06] harshavardhana commented on #8757
Thanks @lucas-dehandschutter let me reproduce this.

[2020-01-08 16:11] harshavardhana commented on #8770
Spark already has s3a which needs to be used to writing @hossein-kshvrz and it provides various data sources with write capabilities

spark-select is a read optimized data source, it's not scope doesn't go into writes.

[2020-01-08 16:11] #8770 closed

[2020-01-08 16:16] harshavardhana commented on #8763
Symlink is already supported which version are you using ? Also can you update the issue description?

[2020-01-08 18:24] klauspost commented on #8765
Very strange that the write logic should affect read speeds. Could you attach the `warp-get-2020-01-07[235624]-DIlB.csv.zst` file? There shouldn't be any sensitive information in it, but you are also welcome to send it to `klaus@minio.io`.

It is rather strange that the fastest/50% median reads are so different, so I would like to dig a bit deeper.

[2020-01-08 18:26] Praveenrajmani commented on #8707
Working on this. Will send a PR soon @mrsrvman

[2020-01-08 18:28] harshavardhana commented on #8765
@klauspost I remember of XFS behaving weirdly because of O_DIRECT writes it leads to some form of an issue in XFS that's why I suspect its an XFS issue here and that's why to test with later kernels than 3.10.x. Higher performance in previous releases is because we never really wrote in O_DIRECT mode for 4MiB blocks we only wrote 32KiB in O_DIRECT

[2020-01-08 18:35] klauspost opened #8771 "Allow different concurrent profiling types"
MinIO only allows for one profiling type to run concurrently. However when identifying complex issues it is often beneficial to run several profiling types at the same time.

**Describe the solution you'd like**

When starting profiling, enable several types to be specified in `profilerType`, maybe comma separated.

Relevant handlers:

* [StartProfilingHandler](https://github.com/minio/minio/blob/

[2020-01-08 18:39] svasilevskiy commented on #8765
@harshavardhana Like I said in the bug, changing readBlockSize back to 32KiB does not fix the issue for us. It doesn't seem to be related to the block size, but rather to write/buffer alignment logic that was introduced in c38ada1.

I will check if we can test on a newer kernel.

[2020-01-08 19:03] harshavardhana commented on #8765
Correct @svasilevskiy what I am saying is we don't see this issue in our benchmarks on Ubuntu 16.04 or 18.04

[2020-01-08 19:19] svasilevskiy commented on #8765
Warp log file attached (I had to zip it, as Github didn't let me attach a .zst or a .csv). @klauspost

[warp-get-2020-01-07[235624]-DIlB.csv.zip](https://github.com/minio/minio/files/4036862/warp-get-2020-01-07.235624.-DIlB.csv.zip)

[2020-01-08 19:25] harshavardhana commented on #8765
@svasilevskiy few more questions I think I suspect a false positive

- what type of drives are on these nodes?
- can you do `dd if=/dev/zero of=<mountpoint>/bigfile bs=4M count=1024` and also `dd if=<mountpoint>/bigfile of=/dev/null bs=4M` ?
- how many drives are there in this setup? is this single erasure-coded or distributed? - if you have given this information I am not able to see please provi

[2020-01-08 21:26] vadmeste opened #8773 "Fallback to safe mode when quorum disks hosting config.json are unavailable"
## Expected Behavior
.minio.sys/config/config.json is stored in a particular erasure set. If quorum disks of that particular erasure set are not available, the cluster still needs to be online, so at least we can fix it (by healing it).

## Current Behavior
Nodes of that cluster are frozen.

## Possible Solution
Fallback to safe mode

## Steps to Reproduce (for bugs)
1.
2.
3.
4.

## Context

## Re

[2020-01-08 21:43] harshavardhana commented on #8771
@klauspost is it possible to enable multiple profiling in Go? and is the timing accurate?

[2020-01-08 21:45] designermonkey commented on #8763
Sorry, I'm lost as to what I have to update? The details are there in the description, as is the version we are using.

[2020-01-08 21:48] harshavardhana commented on #8763
@designermonkey can you use the latest version tell us if that this issue is still reproducible?

[2020-01-08 21:53] svasilevskiy commented on #8765
Here is the information you requested.

- The drives are mount points from a Dell SAN storage appliance. The appliance itself has many physical drives (100+), but presents itself as a single volume.
- There are four drives (logical drives, as they are mount points on a SAN appliance) total, one drive per MinIO host. The setup is a MinIO cluster of four hosts with the default single erasure set.
-

[2020-01-08 21:57] harshavardhana commented on #8757
Here is the thing @lucas-dehandschutter are you modifying the backend config after the fact the server is up, can you reproduce this without building custom container? because I can't seem to be able to reproduce it.

[code]

Now stop and update
[code]

[code]

[2020-01-08 22:00] harshavardhana commented on #8765
Wait it should be `oflag=direct`,  SAN or otherwise it doesn't really matter here. Can you re-do after `oflag=direct` for writes

[code]

[2020-01-08 22:04] svasilevskiy commented on #8765
With oflag=direct and drop_caches echo between each dd:
[code]

[2020-01-08 22:06] harshavardhana commented on #8765
So that's your baseline performance per disk @svasilevskiy next, how many drives are being used MinIO setup?

[2020-01-08 22:12] svasilevskiy commented on #8765
Four drives, like I said before and in the description.

[2020-01-08 22:15] harshavardhana commented on #8765
Four drives how? @svasilevskiy single node, distributed? can you share the command line? etc

[2020-01-08 22:17] svasilevskiy commented on #8765
Copy paste from my previous answer, with emphasis added:
_There are four drives (logical drives, as they are mount points on a SAN appliance) total, **one drive per MinIO host**. The setup is a **MinIO cluster of four hosts** with the default single erasure set._

[2020-01-08 22:19] harshavardhana commented on #8765
what is the network between these hosts? @svasilevskiy

[2020-01-08 22:22] svasilevskiy commented on #8765
Copy-paste from the Server Setup section in the bug description:
_25Gbps network link_

Size of each drive is 1TB+ (don't know the exact size). Yes, it is a 4-node 4-drive setup with 1 drive/node.

[2020-01-08 23:02] svasilevskiy commented on #8765
Command line to start each MinIO node:
[code]

[2020-01-09 00:11] harshavardhana commented on #8765
[code]

[code]

[code]

[code]

Here are the numbers on regular HDDs and this is on

[code]

and same XFS filesystem

[code]

I suspect we writing in O_DIRECT is creating problems for your SAN disks.

[2020-01-09 00:25] harshavardhana commented on #8765
Now two clients with distributed setup

[code]

So I am suspecting this is a problem at hardware, not sure why an I/O pattern in write affects the SAN most probably because of how blocks are managed at the hardware level, its perhaps exposing a bug here.

[2020-01-09 00:34] harshavardhana commented on #8765
anyways deleted my nodes, I have validated the situation with different types of objects. I don't see a regression.

[2020-01-09 01:06] svasilevskiy commented on #8765
@harshavardhana How do you explain that MinIO works fast on SAN disks prior to commit c38ada1, while after c38ada1 it works slow?

Also, (poorly named) commit c38ada1 doesn't affect writes only, from what I can tell. It contains new logic in CopyAlighed, which implements the copy operation i.e. first the read (pkg/ioutil/ioutil.go line 216) and then the write.
https://github.com/minio/minio/commit

[2020-01-09 02:06] harshavardhana commented on #8765
That is because you are reading from page-cache @svasilevskiy

[2020-01-09 02:07] harshavardhana commented on #8765
I don't think you understand @svasilevskiy here its showing an underlying hardware issue. As you can see from the numbers that I have posted for the same CentOS 7.x kernel and same XFS with regular HDDs.

[2020-01-09 08:55] klauspost commented on #8771
Yes and yes. `trace` is the only one that can really affect the system, but not more than a few percent.

[2020-01-09 11:47] designermonkey commented on #8763
I will work with our ops team asap to see if we can update one of the machines that showed the issue. We have machines in dev, testing and production all showing the same issue, so it's not an isolated case.

[2020-01-09 12:58] GuillaumeNachury opened #8778 "Neither the "edge" nor "latest" docker containers seem to get the latest browser UI"
I'm trying to get the OpenID login working with the docker container, but even after adding the `identity_openid` config I can't have the OpenID button on the login.

## Expected Behavior

After a `mc admin config set localminio identity_openid config_url="http://xxx.xxx.xxx.xxx:8080/auth/realms
/demo/.well-known/openid-configuration" client_id="account"` and then a `mc admin service restart local

[2020-01-09 14:15] #8707 closed

[2020-01-09 14:52] philippjenni opened #8781 "background-ops not found after Update"
After Update to the latest version of minio i become the follow error at startup

[code]

## Expected Behavior
There should no error displayed on system startup

## Current Behavior
error message in syslog on all minio servers

[code]

## Possible Solution
if the structure is missing, it should be created.

## Steps to Reproduce (for bugs)
1. Error comes after update to the build of 9. jan. The pr

[2020-01-09 15:26] klauspost opened #8782 "Test error does not fail CI test"
The way [CI tests are performed](https://github.com/minio/minio/blob/master/.travis.yml#L35) will hide any errors since the for loop only returns the status of the last call AFAICT.

## Expected Behavior

When an error occurs, return non zero exit code to indicate error.

## Current Behavior

Even if there are [failures](http://ci.min.io:30004/view/9027fd276f36977761d3adac7189d46068b1f2f7#L1363) C

[2020-01-09 15:53] Eric-Fontana-Bose opened #8783 "mc admin user list --json returns illegal json"
I'm trying to use minio within our Kubernetes cluster and I want to control the provisioning
of users and groups via REST API, but that doesn't seem possible, or at least I cannot find the documentation for the Admin API endpoints anywhere.

So my fallback (suggested by users was to just call out to the client `mc admin`)

## Current Behavior
First command I tried was
`mc admin user list k8s --jso

[2020-01-09 16:35] svasilevskiy commented on #8765
I don't know if I would trust dd numbers as the source of truth for theoretical bandwidth limit.
Can you help me understand what line in commit c38ada1 is turning off the page-cache? I would like to change it back to reading from the page cache (but don't change any other c38ada1 logic) to test this hypothesis.

[2020-01-09 16:40] vadmeste commented on #8781
Thanks @philippjenni, we will take a look!

[2020-01-09 16:46] #8778 closed

[2020-01-09 17:01] harshavardhana commented on #8765
dd numbers are real numbers that you would see in real world, if you don't trust them then we cannot proceed further. Theoretical numbers are never realistic, there are quite a few tapered performance limitations at the OS level that come into picture.

Because of the aligned writes the SAN is performing weirdly because, SAN is doing something with the blocks which I don't know what. Lets see if w

[2020-01-09 17:15] harshavardhana commented on #8783
It is not illegal json it's called jsonlines format http://jsonlines.org/

Closing this as a non issue.

[2020-01-09 17:15] #8783 closed

[2020-01-09 17:17] harshavardhana commented on #8782
Let me change it, I also observed it, will try to move `go test -v ./...`

[2020-01-09 17:19] harshavardhana commented on #8771
Then it is fairly simple for us to support, we just have to take the input profile values as comma separated in the Profile handler.

[2020-01-09 17:59] svasilevskiy commented on #8765
Wait, so are the slow read speeds because of the aligned writes or because of not reading from page cache (as you mentioned just before)?

If it's the block alignment, then the culprit could be that SAN is doing something with the blocks, or that MinIO is aligning them sub optimally for SAN (but maybe ok for directly attached disks).

Why not try changing the alignment algorithm in MinIO and seein

[2020-01-09 18:03] harshavardhana commented on #8765
Alignment is nothing special it simply buffers upto 4MiB and writes @svasilevskiy - this is standard O_DIRECT style write.

[2020-01-09 18:10] svasilevskiy commented on #8765
Can we add a switch to MinIO to not do O_DIRECT 4MiB writes, i.e. go to pre c38ada1 checkin behavior? Since this behavior doesn't work for SAN mounted disks?

[2020-01-09 18:13] harshavardhana commented on #8765
That would be wrong you are willfully asking for data loss @svasilevskiy , we shouldn't do that I will give you a tool which does something similar without MinIO this way we can track it down.

[2020-01-09 19:41] stromvirvel opened #8784 "Push to docker registry fails when using minio azure gateway"
I'm using GitLab on Kubernetes deployed with its official Helm chart. It comes shipped with docker-registry. In addition, I setup minio in gateway mode for Azure Blob Storage. When configuring docker-registry to point to the minio address, pushing docker images is stuck and it retries until eventually a 500 error appears.

## Expected Behavior
It should be able to push the image to Azure without a

[2020-01-09 21:52] kannappanr commented on #8763
@designermonkey I was unable to reproduce the issue even with the version reported by you

[code]

[2020-01-09 23:21] svasilevskiy commented on #8765
All I'm saying to be able to go back to pre-c38ada1 way of doing IO @harshavardhana , which was still with O_DIRECT as far as I know, just different alignment or block handling logic.

I'll be able to run a tool that you provide if it helps to solve this issue.

[2020-01-09 23:31] harshavardhana commented on #8765
It deceptively looks that way, but it wasn't the alignment was never 32K because we never waited for 32K enough buffer. So for the most part it wrote unaligned turning off O_DIRECT

Just looking at the code you can't know the context here @svasilevskiy

Give me a day or two I will give that tool.

[2020-01-10 01:54] enayzhu commented on #8732
@vadmeste I understand that a Minio server can restart if it's in normal state, but it won't restart when the node in the system can't meet its starting demands, and we'll meet the situations in my test before.

@harshavardhana I don't think this is a keep-alive timeout. Because the keep-alive timeout is used when the connection is free, but my current situation is a server crashed while transmitt

[2020-01-10 09:55] GuillaumeNachury opened #8787 "Policy not applied when provided by keycloak"
When using the OpenID login feature against a keycloak server, the policy is carries over but not applied

## Expected Behavior

When logging in with a user A, created thru `mc` with policy `readwrite`, on the Minio browser I can see the buckets B1, B2, B3.
When using the openID button to log in the user B, defined in keycloak with policy attribute set to `readwrite`, on the Minio browser I should

[2020-01-10 09:56] harshavardhana commented on #8787
can you provide the jwt payload @GuillaumeNachury ? also provide all the settings `mc admin config get myminio identity_openid` ?

[2020-01-10 10:07] lsde commented on #8765
I second that issue, on a erasure-coded node with 32x 8TB 7.2K SAS drives, each on it's own mount (ext4 formatted), read speed decreased mode than 50 times.. from 1GB/s to less than 20MB/s on large files (>100GB/file)
Regression is seen on minio.RELEASE.2020-01-03T19-12-21Z
Release before regression: minio.RELEASE.2019-10-12T01-39-57Z
OS is CentOS 7.6

Anyway, how do I downgrade minio to older ver

[2020-01-10 10:14] harshavardhana commented on #8765
@lsde lets not hijack the issue here please open a separate issue. Your issue is different for large files uploaded perhaps using multipart had an issue with encoding/json v/s jsoniter usage which is fixed in aa2e89bfe3043a7a39debf650583bfb9ac334041 - try `minio/minio:edge` docker master to validate it.

Also, you can downgrade by `rm -rf .minio.sys/config .minio.sys/backend-encrypted` from each d

[2020-01-10 10:35] #8773 closed

[2020-01-10 11:54] GuillaumeNachury commented on #8787
Results from `mc admin config get myminio identity_openid` :
[code]
and here is the jwt payload
[code]

[2020-01-10 13:29] tinohager opened #8789 "It is possible to get the free space of a MinIO instance?"
My disk has a size of 500GB. Can I check via api how much free space is still available?

[2020-01-10 13:34] tinohager commented on #8789
Okay i think this is the api i search. https://github.com/minio/minio/blob/master/docs/metrics/prometheus/README.md

[2020-01-10 13:47] nitisht commented on #8789
Yes, that is the API, Closing this issue. Feel free to join us on slack (https://slack.min.io) for more such questions

[2020-01-10 13:47] #8789 closed

[2020-01-10 13:55] FlowsenAusMonotown commented on #3835
@harshavardhana This feature would be very nice and helpful since I'm using minio as picture and file store for my own platform. Please set a higher priority to it.

[2020-01-10 15:21] Biond1 commented on #4852
`mc: <ERROR> Failed to remove `myminio/bucket/folder` recursively. Truncated response should have continuation token set`
I get this error when trying to remove this folder using
`mc rm -r --force myminio/bucket/folder`
anyone can help me?

[2020-01-10 15:35] Biond1 opened #8790 "mc: <ERROR> Failed to remove minio/bucket/folder recursively. Truncated response should have continuation token set"
when I try to remove recursively a folder with the command:
` mc rm -r --force minio/bucket/folder`
I get the error:
`mc: <ERROR> Failed to remove minio/bucket/folder recursively. Truncated response should have continuation token set`
Anyone can help me?

[2020-01-10 16:52] DrissiReda opened #8791 "Binary not found: "server" when using vault-secrets-webhook on kubernetes"
The [vault-secrets-webhook](https://github.com/innovia/kubernetes-mutation-webhook-vault-secrets/tree/master/helm-chart) works as expected with a barebone alpine pod.
The same setup seems to work with minio until it has to run the minio provided commands

These are the minio logs
[code]
I only added the annotations and a service account. As you can see, the vault part of my code works properly wit

[2020-01-10 18:14] harshavardhana commented on #4852
Please open a new issue @Biond1 with details about server etc.

[2020-01-10 18:15] harshavardhana commented on #3835
@FlowsenAusMonotown for near future we have no cycles to work on this.

[2020-01-10 18:31] harshavardhana commented on #8791
Can you paste kubernetes logs from MinIO container?

[2020-01-10 18:33] harshavardhana commented on #8787
Thanks checking @GuillaumeNachury

[2020-01-10 18:54] agj32mrgibbits opened #8793 "Upgrading to latest minio causes s3ql md5 mismatch"
I was previously using s3ql with a minio version before and around feb-22-2019. Since upgrading to RELEASE.2020-01-03T19-12-21Z, s3ql can no longer use the bucket due to repeated MD5 Mismatch errors.

## Expected Behavior
Normal operation

## Current Behavior
Gets stuck trying to mount bucket with the following errors:
[code]

## Possible Solution
Possibly an ETag bug? It looks like it is returnin

[2020-01-10 19:03] harshavardhana commented on #8793
It's mentioned here https://github.com/minio/minio#caveats

[2020-01-10 19:03] #8793 closed

[2020-01-10 19:10] harshavardhana commented on #8790
What is the server here @Biond1 ?please recreate a new issue following issue template. Closing this issue as non actionable.

[2020-01-10 19:10] #8790 closed

[2020-01-10 19:12] agj32mrgibbits commented on #8793
Is minio still claiming S3 compatibility? This differs from their docs:
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonRequestHeaders.html
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

[2020-01-10 19:13] harshavardhana commented on #8793
Yes it is md5sum is not cornerstone of S3 compatibility @agj32mrgibbits

[2020-01-10 19:19] harshavardhana commented on #8793
If the application is very much interested in checksum it should set content-md5 if it didn't set it, there is no point in expecting server to calculate md5sum which is expensive and not meaningful. It is easy to fake md5sum checksums even at few KBs of data. If application tells you just by using md5sum that it has safely uploaded the data then it is surely relying on incorrect techniques.

[2020-01-10 19:41] agj32mrgibbits commented on #8793
Agreed, s3ql should fix this. Though, it's a little odd to now have to pass a --compat flag for minio to be compatible with the way the S3 API still works to this day.

[2020-01-10 19:55] harshavardhana commented on #8793
S3 API is like 14yrs old, applications already moved but there are some lingering with old assumptions.

It is just that we are not supporting legacy behavior by default.

[2020-01-10 21:48] harshavardhana commented on #8782
This is fixed in #8776 we have a shell script now which will fail appropriately using bash `set -e` feature.

[2020-01-10 21:48] #8782 closed

[2020-01-11 00:57] #8787 closed

[2020-01-11 01:19] #8771 closed

[2020-01-11 02:01] harshavardhana commented on #8767
Closing as duplicate of #3835

[2020-01-11 02:01] #8767 closed

[2020-01-11 02:03] harshavardhana commented on #8757
@lucas-dehandschutter I am going to close this issue as not reproducible at the moment. Unless you can reply back to this issue on my questions.

[2020-01-11 02:07] harshavardhana commented on #8651
A preliminary work has been pushed to master @Leletir as a next step we will be adding multi-policy support.

[2020-01-11 02:24] harshavardhana commented on #8468
@Jacky2 please test the latest release and let us know.

[2020-01-12 10:33] hossein-kshvrz commented on #8770
@harshavardhana Thanks. I am using a Spark Docker image with pre-built Hadoop. Are including the JAR files you mentioned [here](https://github.com/minio/minio/issues/7020#issuecomment-449781153) and the Hadoop configuration mentioned in the comment above it enough? I tested it, and I got the following error:
`Class org.apache.hadoop.fs.s3a.S3AFileSystem not found`
I know it's not within the scope

[2020-01-12 12:15] hossein-kshvrz commented on #8770
I worked a little bit on it, and the error change to the following:
`java.lang.NoSuchMethodError: com.amazonaws.services.s3.transfer.TransferManager`
It is making me cry :((((
Could you please help me get out of this situation if you have any idea?

[2020-01-12 19:40] klauspost opened #8799 "parseJWTWithClaim allocation heavy"
On benchmarks with 2 servers and uploading/getting 1MB blocks `parseJWTWithClaims` is responsible for more than 20% of all allocations. Most of it is related to JSON decoding.

Drilldown:

![mem](https://user-images.githubusercontent.com/5663952/72224139-16e97380-3577-11ea-8c72-f0f4ba4476fc.png)

In terms of CPU, it is using ~14% (of total server CPU) of which 11% (of total server CPU) is because

[2020-01-12 20:00] harshavardhana commented on #8799
Let me verify if this a quick fix here, did you verify this using warp with profiling? @klauspost

[2020-01-12 20:11] klauspost commented on #8799
@harshavardhana Yes. I looked if there was anything in the jwt library. There is a v4 coming, but it doesn't seem to be performance oriented.

It seems to me we would be looking at changing to another package or doing something ourselves. We don't use any fancy features of JWT, so we could do a simpler format.

If you find something that would be great. Otherwise I can take a look later.

[2020-01-12 20:59] lucas-dehandschutter commented on #8757
@harshavardhana here is a way to reproduce my initial issue from scratch.

1. Create directories for minio data

[code]

2. Create a Docker Swarm (important as we are using Swarm secrets to configure KMS)

`docker swarm init`

3. Create secrets for access key, secret key and encryptkey
[code]

4. Deploy the docker-compose-old.yaml which starts 4 minio RELEASE.2019-09-18T21-55-05Z (the last one whi

[2020-01-12 21:20] harshavardhana commented on #8757
This error is different than the one you posted before @lucas-dehandschutter which showed that there was something missing in the backend config.

[2020-01-12 21:23] harshavardhana commented on #8757
I ran the exact steps and it ran perfectly fine @lucas-dehandschutter

[code]
Server starts properly but yes i do see that SSE_FILE is not honored for some reason let me look why.

[2020-01-12 21:25] harshavardhana commented on #8757
I also logged into browser after upgrade I can see the bucket and objects

![screenshot](https://user-images.githubusercontent.com/622699/72225846-f00f4b00-353e-11ea-915a-d9a6014b8888.png)

[2020-01-12 21:25] harshavardhana commented on #8757
The only issue here is that SSE_FILE is not honored that's all @lucas-dehandschutter let's take a look and fix it.

[2020-01-12 21:30] harshavardhana commented on #8757
The bug is simple @lucas-dehandschutter we have a missing entry for sse_master_key in our Dockerfile - so you can simply add that on your end or start using `kms_master_key` instead as target it will work fine.

[2020-01-12 21:41] lucas-dehandschutter commented on #8757
@harshavardhana my sse_master_key is set

[code]

I'm using a secret whose name in docker is minio_encryption_key and binding it as sse_master_key in minio container.

So, in minio container, this secret will be located in /run/secrets/sse_master_key
I've contributed that fonctionality (being able to set kms secret as docker secret) a few month ago: [#7825 ](https://github.com/minio/minio/pull/782

[2020-01-12 21:49] harshavardhana commented on #8757
@lucas-dehandschutter move to kms_master_key, for now, all SSE fields are deprecated, I sent a PR already to keep backward compatibility support.

[2020-01-13 04:12] harshavardhana commented on #8799
I found some improvements @klauspost let me push a PR and see if it improves @klauspost

[2020-01-13 04:17] renxingliang opened #8801 "policy for single file?"
Does Minio have permission control for a single file? Is there any plan to increase this capacity in the later stage?

[2020-01-13 04:32] harshavardhana commented on #8801
Please use the issue template to completely describe your issue, without issue template we do not know the details about your setup and the issue you are requesting.

Please join us on https://slack.minio.io for questions and answers in real-time.

[2020-01-13 04:32] #8801 closed

[2020-01-13 07:01] #8757 closed

[2020-01-13 08:00] DrissiReda commented on #8791
I posted them, it's in the minio logs, it says "binary not found" at the end.

[2020-01-13 08:53] hirik opened #8803 "Minio Client Server mTLS"
**Is your feature request related to a problem? Please describe.**
We need to validate the client certificate to allow connection with the server(As we can't spread the server access key and password).

**Describe the solution you'd like**
An option to enable TLS mutual authentication through the conf file or command line.

[2020-01-13 09:01] kannappanr commented on #8784
@stromvirvel Can you please run `mc admin trace -v <alias>` against your azure gateway and paste that log also here?

[2020-01-13 09:42] tinohager opened #8804 "MinIO Console error message encoding"
MinIO Version: RELEASE.2020-01-03T19-12-21Z
OS: Windows 10

The error message output on windows have some special chars in the output.

7[41m[37m[1mERROR[0m[0m[0m 8[6C[31mInvalid command line arguments: [1mInvalid total number of endpoints for erasure mode[0m[0m
7[41m     [0m 8[6C> [43m[30mPlease provide an even number of endpoints greater or equal to 4[0m[0m
7[41m     [0m

[2020-01-13 13:28] nitisht commented on #8804
Thanks for reporting @tinohager , @klauspost has a PR for this now #8805

[2020-01-13 13:43] klauspost commented on #8799
I don't think we can get rid of allocations unless we either write a new JWT parser or switches to something that isn't based on JSON.

I don't suppose there is anything preventing us from changing the tokens to something other than JWT that supports the same features?

[2020-01-13 16:41] ansuabraham opened #8806 "minio get_object failing with <class 'TypeError'>"
minioClient.get_object('local-media', 'zip_configuration_files/challenge_zip/'+artifact_name) fails with this exception:

<class 'TypeError'>
pop() takes 2 positional arguments but 3 were given

Libraries being used are: (These are installed via pip ni
django==1.11.23
django-allauth==0.40.0
django-filter==2.1.0
django-import-export==0.5.1
djangorestframework==3.9.3
djangorestframework-expiring-aut

[2020-01-13 16:56] ansuabraham commented on #8806
And the minio being used is image: minio/minio:RELEASE.2019-09-18T21-55-05Z

[2020-01-13 17:08] harshavardhana commented on #8799
No we cannot do that @klauspost jwt is what we want for claims and hmac we didn't wish to have many ways to do the same thing since we need to support STS tokes based on jwt as well.

[2020-01-13 17:12] harshavardhana commented on #8803
This is non S3 feature @hirik , there are no known clients which can support this. We shall reopen when AWS S3 implements this.

[2020-01-13 17:12] #8803 closed

[2020-01-13 17:13] harshavardhana commented on #8791
The issue is perhaps overriding wrong entry point args perhaps what needs to be passed is `minio server` instead of just server.

[2020-01-13 17:28] ansuabraham commented on #8806
def initMinIOClient():
    try:
        MINIO_STORAGE_ENDPOINT = os.environ.get("MINIO_STORAGE_ENDPOINT", "minio-service")
        MINIO_ACCESS_KEY = os.environ.get("MINIO_ACCESS_KEY", "minio")
        MINIO_SECRET_KEY = os.environ.get("MINIO_SECRET_KEY", "minio123")
        #logger.info("Please delete below information post debugging")
        print("MINIO_STORAGE_ENDPOINT"+MINIO_STORAGE_ENDPOINT

[2020-01-13 17:39] harshavardhana commented on #8806
Your init code is incorrect

access_key=MINIO_ACCESS_KEY,
secret_key=MINIO_SECRET_KEY,
secure=False,)

There is an extra `,` . Also this is a minio-py issue moving this to relevant repo.

[2020-01-13 18:05] harshavardhana commented on #8799
I can see if we can change it such that we use typed claims v/s map claims.

[2020-01-13 21:05] #8804 closed

[2020-01-13 21:36] Biond1 opened #8808 "mc: <ERROR> Failed to remove minio/bucket/folder recursively. Truncated response should have continuation token set #8790"
when I try to remove recursively a folder with the command:
`mc rm -r --force minio/bucket/folder`
I get the error:
`mc: <ERROR> Failed to remove minio/bucket/folder recursively. Truncated response should have continuation token set`
Anyone can help me?

 Version used (`minio version`):  2019-12-17T23:26:28Z
 Server type and version: AWS S3

Is there any other command that I can use or can I reset

[2020-01-13 21:44] harshavardhana commented on #8808
@Biond1 which server are you using?

[2020-01-13 21:51] Biond1 commented on #8808
what do you mean, the server is not S3 Amazon web services?

[2020-01-13 21:53] kannappanr commented on #8808
@Biond1 Please also give more information, like the command you used to start `minio`

[2020-01-13 22:03] Biond1 commented on #8808
`mc: <DEBUG> GET /bucket/folder/%2F HTTP/1.1
Host: mine
User-Agent: MinIO (darwin; amd64) minio-go/v6.0.45 mc/2019-12-17T23:26:28Z
Authorization:
X-Amz-Content-Sha256:
X-Amz-Date: 20200113T214659Z
Accept-Encoding: gzip

mc: <DEBUG> HTTP/1.1 200 OK
Transfer-Encoding: chunked
Content-Type: application/xml
Date: Mon, 13 Jan 2020 21:46:59 GMT
X-Amz-Request-Id: tx0000000000000006e2caf-005e1ce553-76318-

[2020-01-13 22:20] harshavardhana commented on #8808
are you using ceph or digital ocean here? @Biond1 ?

[2020-01-13 22:23] harshavardhana commented on #8808
From the error it can be clearly seen that the server is sending incorrect data i.e it is setting IsTruncated with NextContinuationToken not set which is AWS S3 incompatible response.  Please ask your server vendor to fix this @Biond1 we can't fix it on our end.

[2020-01-13 22:25] #8808 closed

[2020-01-14 07:12] D-T-Y opened #8809 "Invalid secret key error when using China Azure Gateway"
## Expected Behavior

Authentication succeeded

## Current Behavior

Authentication failed

## Possible Solution

Not yet
## Steps to Reproduce (for bugs)

docker run -p 9000:9000 --name azure-s3 \
 -e "MINIO_ACCESS_KEY=MyAzureStorageAccountName" \
 -e "MINIO_SECRET_KEY=MyAzurekey" \
 minio/minio gateway azure

【Controller】

## Context

## Regression

## Your Environment

I am running the minio az

[2020-01-14 08:10] DrissiReda commented on #8791
That is exactly the workaround I used.

[2020-01-14 08:13] yoe opened #8810 "kubernetes: uploading files works through a port-forward, but not through an ingress"
I'm trying to develop an app that needs to have an object store, and am using minio inside minikube to help me develop it. Uploading files to minio seems to work with port-forward, but the upload gets stuck after transferring 100% of the files when using an ingress

## Expected Behavior
After starting minikube, creating a pod for minio, and creating an ingress, logging in through a browser, creati

[2020-01-14 08:29] harshavardhana commented on #8791
That's not a workaround, afaik that is the correct behavior here.

The entry point is being overridden in the container which is why you need to manually pass the binary name as well.

[2020-01-14 08:31] nitisht commented on #8810
Thanks for reporting, we'll take a look @yoe

[2020-01-14 08:32] Leletir commented on #8651
Hello @harshavardhana, it's a good news ! I will be more than happy to test it.

Thank you very much to keep me posted

[2020-01-14 08:37] harshavardhana commented on #8810
Have you tried using kind instead of minikube, minikube has known networking issues.

[2020-01-14 08:40] yoe commented on #8810
@harshavardhana I'm not saying you're wrong, but since everything else seems to be working just fine for me (I *can* access the minio webinterface through the ingress and it looks exactly the same as through a portforward, for instance), this seems unlikely to me.

However, if you want me to try running some things to see if it's networking related, let me know.

[2020-01-14 08:45] DrissiReda commented on #8791
Alright, thank you for letting me know.

[2020-01-14 08:45] #8791 closed

[2020-01-14 08:48] harshavardhana commented on #8765
@svasilevskiy can you join our https://slack.min.io so that we can work on this in real time?

I am generally available during PST (US) timezone..

[2020-01-14 13:06] vadmeste commented on #8809
@D-T-Y Azure China seems to have a different endpoint, could you try adding the argument to MinIO gateway command ?

Something like, `minio gateway azure https://MyAzureStorageAccountName.blob.core.chinacloudapi.cn`

[2020-01-14 13:22] D-T-Y commented on #8809
@vadmeste How do I set up different endpoint? Is there documentation?

[2020-01-14 13:26] D-T-Y commented on #8809
Thanks, is OK！

Run command：

docker run -p 9000:9000 --name azure-s3
-e "MINIO_ACCESS_KEY=MyAzureStorageAccountName"
-e "MINIO_SECRET_KEY=MyAzurekey"
minio/minio gateway azure https://MyAzureStorageAccountName.blob.core.chinacloudapi.cn

[2020-01-14 17:11] klauspost opened #8811 "Race in RPC client error storage"
[code]

## Expected Behavior

There should not be a data race.

## Current Behavior

Data race here: https://github.com/minio/minio/blob/37b32199e3ee76f43b0c71e2046fb0ef58cfebc6/cmd/storage-rest-client.go#L133

## Possible Solution

Add a simple mutex. This is done extremely fast so it shouldn't affect anything.

## Steps to Reproduce (for bugs)

1. Build minio with `-race`
2. Run minio in distrib

[2020-01-14 17:26] klauspost opened #8813 "setsStorageAPI.Close() data race"
[code]
## Expected Behavior

No data race.

## Current Behavior

Data race.

Points here: https://github.com/minio/minio/blob/5aa5dcdc6dd94f186addcb5afd9c443ff09e3be5/cmd/xl-sets.go#L53

And here: https://github.com/minio/minio/blob/5aa5dcdc6dd94f186addcb5afd9c443ff09e3be5/cmd/xl-sets.go#L251

It seems the former operation needs access to the mutex protecting the slice.

## Possible Solution

## S

[2020-01-14 19:51] GuillaumeNachury opened #8816 "Canned policy not applied when using AssumeRoleWithClientGrants and JS SDK"
## Expected Behavior

When using the JS SDK to sign in a client with temp. credentials - token and policy provided by keycloak- the policy should be applied no matter if it is a  **default** or a **custom** one.

## Current Behavior

When using default policy e.g. `readwrite` everything is ok (I can list the buckets) but when I set the policy to `restricted` (a custom policy I created) I have a `S

[2020-01-14 19:57] harshavardhana commented on #8816
JS SDK doesn't support STS yet @GuillaumeNachury moving this to relevant repo

[2020-01-14 23:43] forestlovewood commented on #8739
I've taken a look at this for myself and have published changes to [my own fork](https://github.com/forestlovewood/minio/tree/improve-b2-gateway). I've not yet opened a PR as I'm not satisfied with the code quality (repetition), but it massively reduces the number of `b2_list_buckets` requests, and improves performance as a side effect (Disclaimer: I have not benchmarked that).

[2020-01-14 23:45] harshavardhana commented on #8739
@forestlovewood feel free to send the PR.

[2020-01-15 01:13] #8813 closed

[2020-01-15 02:45] #8811 closed

[2020-01-15 07:13] treksler commented on #7368
AWS has many ARM based instances available for pennies an hour, FYI.

[2020-01-15 07:17] harshavardhana commented on #7368
@treksler the point is our time is more expensive here not just the hardware. Feel free to build them yourself we do support them as source compiled targets.

[2020-01-15 13:17] tromika opened #8822 "[HDFS gateway] getting error with subdirectories in any bucket"
Using the HDFS gateway if there is a subdirectory on HDFS I get `Object not found: ` error.

![image](https://user-images.githubusercontent.com/540472/72436793-9fe3f300-37a1-11ea-81b6-05f751d95fd3.png)

## Expected Behavior

Should list subdirectories.

## Current Behavior

See ^.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a subdirectory with the add new path button
2. Uplo

[2020-01-15 15:11] nargesmomenyan commented on #8391
@harshavardhana
This part of my project is suspended. I'll appreciate if you give me an estimation for providing this feature.

[2020-01-15 15:31] VahidShir commented on #8391
I ran into this problem too. I hope you you fix it.
Thanks

[2020-01-15 16:53] Shriyut opened #8823 "Minio installation error"
I'm trying to setup spinnaker in GKE

For this purpose when I run the command

helm install minio --namespace spinnaker --set accessKey="myaccesskey" --set secretKey="mysecretkey" --set persistence.enabled=false stable/minio

It throws the following error on my screen

Error: This command needs 1 argument: chart name

I'm not sure why since the command seems to be correct

[2020-01-15 17:05] harshavardhana commented on #8823
This is helm version issue @Shriyut

[code]

Next time ask these questions on https://slack.min.io more realtime than opening issues.

[2020-01-15 17:05] #8823 closed

[2020-01-15 20:36] #8781 closed

[2020-01-15 22:43] kannappanr commented on #8809
@D-T-Y Closing the issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions further

[2020-01-15 22:43] #8809 closed

[2020-01-16 02:50] kannappanr commented on #8822
@tromika Is there any log on the console? Can you please paste that here

[2020-01-16 07:50] AmirShahid commented on #8391
@harshavardhana
Please solve this issue as soon as possible. we are eagerly waiting for you.

[2020-01-16 08:11] mrsrvman commented on #8707
The patch helped.  The problem is fixed.
Thanks.

[2020-01-16 09:48] stromvirvel commented on #8784
@kannappanr
I started the `trace` command around 11 hours ago, and apparently it just made 4 requests on the very same file, and it's still running:

https://gist.github.com/stromvirvel/d74406ec62768d5133a617dc29a6b41e

Is this expected? Also kee in mind I'm speaking about bucket "docker-registry", the other's aren't affected. Also, ATM the bucket is empty since I've redeployed my app from scratch

[2020-01-16 10:25] srajmane opened #8828 "Provide binaries for s390x"
I can see cross compilation support is available in the code and also there are binaries available for ppc64 . Is it possible to provide binaries for s390x as well?

[2020-01-16 10:26] harshavardhana commented on #8828
We do not have way to test them, so we cannot provide released binaries unfortunately sorry.  Please compile them yourself.

[2020-01-16 10:26] #8828 closed

[2020-01-16 10:28] jinnzy opened #8829 "Node data is lost after mounting a new disk"
I replaced the original disk with 4 new disks on a minio node. When restarting, I used `mc admin heal -r --scan deep minio` to repair, but the node data was not recovered.
## Expected Behavior
![image](https://user-images.githubusercontent.com/33449123/72516786-380ad680-388d-11ea-81ab-17b3e27c3f87.png)

## Current Behavior
![image](https://user-images.githubusercontent.com/33449123/72516693-174281

[2020-01-16 11:14] vadmeste commented on #8829
@jinnzy this is expected. You need to understand the special meaning of ellipsis {...} (three dots, not two dots)

https://docs.min.io/docs/distributed-minio-quickstart-guide.html

Disks belonging to a three dots ellipses `http://172.31.101.139/data{01...04}` will work together to protect data stored in them. If you remove them all you lose all data stored in these disks.

[2020-01-16 11:25] jinnzy commented on #8829
thank you very much,

[2020-01-16 11:25] #8829 closed

[2020-01-16 12:57] Lukas012 opened #8831 "Minio in distributed mode in OpenShift"
## Expected Behavior
When I use following YAMLs in our OpenShift cluster, I would expect that I get a working minio cluster:
https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-distributed-headless-service.yaml?raw=true
https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-distributed-statefulset.yaml?raw=true
https://github.com/minio/minio/blob/

[2020-01-16 13:00] nitisht commented on #8831
can you explain a bit about your openshift cluster? How many nodes, what is the type of PVC and PV you're using?

[2020-01-16 13:02] nitisht commented on #8810
Can you try the exact same deployment approach on `[kind](https://github.com/kubernetes-sigs/kind)` instead of `minikube`

[2020-01-16 13:39] nawa opened #8832 "Put Object to minio in s3 gateway mode always requires kms key for encrypted storage"
## Expected Behavior
[code]
is enough
## Current Behavior
I have to add `--sse-kms-key-id` flag

[code]

## Possible Solution
Possible some required header is omitted in the request to S3 or some intermediate action

## Steps to Reproduce (for bugs)
EC2 instance has a role with access to encrypted S3 bucket. To store to this bucket the flag `--sse=aws:kms` is used:

[code]

Without this flag, S3 c

[2020-01-16 14:15] Lukas012 commented on #8831
Type of PVC / PV doesn't matter. I start Minio with a local driver like this, the same error occurs.
server http://minio-{0...3}.minio.doesntmatter.svc.cluster.local/notAPVC
I try to deploy the Minio Cluster with 4 replicas.

After looking in the source code in https://github.com/minio/minio/blob/37b32199e3ee76f43b0c71e2046fb0ef58cfebc6/cmd/endpoint.go line 574:
The problem seems to be that the Op

[2020-01-16 18:15] shineygreen opened #8833 "kernel-tuning/sysctl.sh has typo"
The script sysctl.sh in the kernel-tuning directory has a bash 'hear' statement that looks like,

  cat > sysctl.conf <EOF

The correct syntax to introduce a 'hear' keyword is

  cat > sysctl.conf <<EOF

The incorrect syntax will cause the the script to fail.

[2020-01-16 19:27] harshavardhana commented on #8833
@shineygreen send a PR to fix this.

[2020-01-16 19:32] harshavardhana commented on #8831
Because you don't want same different ports on same server - we need to exclusively lock the drives. I am suspecting an issue with the command line here, we have users running in openshift already.

[2020-01-17 01:45] onedr0p opened #8835 "Homepage does not load when being proxied with nginx-ingress"
## Expected Behavior
Minio homepage should load when I hit it thru `nginx-ingress`

## Current Behavior
When I use kubectl and proxy it to my local machine I can access it via `localhost:9000`. However when I try to access it via my web URL the background loads and the spinner is stuck spinning. After awhile the assets (js and pngs etc…) return a 504. Other services using this nginx-ingress are lo

[2020-01-17 02:16] harshavardhana commented on #8835
Duplicate of #8810

[2020-01-17 02:16] #8835 closed

[2020-01-17 02:22] onedr0p commented on #8835
@harshavardhana Are you sure that is the same? He can get to the homepage and log in... where-as I cannot even get it to load thru nginx-ingress...

[2020-01-17 02:51] harshavardhana commented on #8835
yes @onedr0p

[2020-01-17 02:55] onedr0p commented on #8835
May I ask for some insight? Because these don't sound like the same issue to me.

[2020-01-17 03:09] harshavardhana commented on #8835
The issue is same both are ingress issues, different situations but the same. The browser is visible if you port-forward but not through ingress.

[2020-01-17 03:11] onedr0p commented on #8835
Thank you for clearing that up.

[2020-01-17 07:17] hl-a-k opened #8838 "Any way to manipulate file directly?"
Usage scenario:
My company need to manage a lot of files of epub. After user upload file, my company need extract some information from those file.

Current solution:
First, we upload the file to minio.
Then, we download the file from minio to disk, and parse it.

Ideal solution:
First, we upload the file to minio.
Then, we create a application in the same server which run the minio. The server ac

[2020-01-17 07:20] harshavardhana commented on #8838
@hl-a-k MinIO is S3 API compatible implementation. If there are any AWS S3 APIs that allow this we can support them too.

But unfortunately, there are none, closing this issue.

[2020-01-17 07:20] #8838 closed

[2020-01-17 08:19] moayi opened #8839 "springmvc整合minio"
<dependency>
          <groupId>io.minio</groupId>
          <artifactId>minio</artifactId>
          <version>6.0.11</version>
      </dependency>

      <dependency>
          <groupId>com.squareup.okhttp3</groupId>
          <artifactId>okhttp</artifactId>
          <version>3.9.1</version>
      </dependency>

[WARNING] The requested profile "dev" could not be activated because it does not exi

[2020-01-17 09:40] tromika commented on #8822
@kannappanr there was no error in the console just that UI pop-up ^.

@harshavardhana thanks so much for the quick fix!

[2020-01-17 09:53] kislik opened #8840 "A lot of disks I/O operations after deleting a directory with millions of files."
For the building my Minio cluster (Minio version RELEASE.2020-01-03T19-12-21Z) I used 2 servers - **server1** and **server2** (Debian stretch)
On each server, I have 2 instances of Mino (in the docker containers. Docker version 5:19.03) every instance has one HDD disk (7200RPM) (`/dev/sdc` and `/dev/sdd` && `xfs fielsystem`)
i.e.
**server1:**
_instance1_ (mounted to /home/data1) && _instance2_ (mo

[2020-01-17 11:15] vadmeste commented on #8840
@kislik how many CPU cores do you have in each server ?

[2020-01-17 13:39] philippjenni opened #8841 "Remove of groups does not work properly"
If i remove a user from a group, the user is not removed at all nodes in the cluster.
i remove the user with the command "mc admin group remove" from a windows 10 client. the server runs under ubuntu 18.04

command to remove
mc admin group remove minio mygroup myuser

command to check
mc admin user info minio myuser

Here an example out put:

[code]
The commands were carried out one after the othe

[2020-01-17 15:44] flixr opened #8842 "mino gateway nas doesn't read credentials created by minio server"
Just changing `minio server /mountpoint` to `minio gateway nas /mountpoint` leads to the minio credentials not working anymore.
It seems gateway doesn't read them or expects them in a different location.

Changing it back to server and credentials are read again correctly.

## Expected Behavior
Running minio as `gateway nas` should work exactly the same as running as `server` (except for the disk

[2020-01-17 17:27] harshavardhana commented on #8842
This is working as expected you need to set environment variables for credentials as NAS gateway.

[code]

And

[code]

Are different in behavior so they cannot be considered same.

[2020-01-17 17:41] flixr commented on #8842
I have the env vars `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` set... always have.
Is there anything else I need to do?

What I expected is that the credentials for further users, bucket polices, etc. still work when switching to `gateway nas`.
This is clearly not the case, but why? To me this looks like a bug.

[2020-01-17 18:08] flixr commented on #8842
Ok, I misunderstood the docs.
I was using multi-user mode when I created/used other users... and that requires etcd.
It would be nice if this could be clarified/stated on the https://docs.min.io/docs/minio-gateway-for-nas.html page.

Closing this as it indeed works as expected then.

[2020-01-17 18:08] #8842 closed

[2020-01-17 18:13] kannappanr commented on #8841
@philippjenni Thanks for reporting we will take a look.

[2020-01-17 18:23] flixr opened #8844 "high CPU/memory usage when crawling disk usage"
I'm running minio (in server mode) on an edge server for local object storage.
Every 12h when disk usage is crawled this results in a peak of CPU/memory usage.
Since there are quite a few other things running on this edge node, this breaks my use case.

It was working fine with version RELEASE.2019-09-26T19-42-35Z

Related:
* documentation about this: #8722
* rss increase: #8664

## Expected Behav

[2020-01-17 21:31] #8833 closed

[2020-01-17 23:14] kannappanr commented on #8844
@flixr We will take a look at this issue and get back to you.

[2020-01-18 12:05] #8832 closed

[2020-01-18 18:07] flixr commented on #8844
Profiling info run with latest mc build from source via `mc admin profile stop --type cpu,mem,block`:
[profile.zip](https://github.com/minio/minio/files/4081323/profile.zip)

[2020-01-18 18:21] harshavardhana commented on #8844
Thanks we will take a look @flixr

[2020-01-18 20:18] acs-ferreira opened #8853 "MinIO gateway from ~/.aws/config"
[Docs states](https://github.com/minio/minio/blob/master/docs/gateway/s3.md#using-binary-in-ec2) that:

    MinIO gateway will automatically look for list of credential styles in following order, if your backend URL is AWS S3.

    AWS env vars (i.e. AWS_ACCESS_KEY_ID)
    AWS creds file (i.e. AWS_SHARED_CREDENTIALS_FILE or ~/.aws/credentials)

I was expecting that it also reads `~/.aws/config`

[2020-01-18 20:35] harshavardhana commented on #8853
It is expected to be not implemented @acs-ferreira we are not planning to increase the scope here for gateway.

Its feature complete and stable not taking any more changes for near future, unless there are bugs.

[2020-01-18 20:37] acs-ferreira commented on #8853
So `~/.aws/credentials` is read but not `~/.aws/config`, right?

[2020-01-18 20:38] harshavardhana commented on #8853
Correct it's never meant to be read.

[2020-01-18 20:38] acs-ferreira commented on #8853
Ok, closing, thanks @harshavardhana

[2020-01-18 20:38] #8853 closed

[2020-01-18 20:43] acs-ferreira commented on #8853
Sorry to ask @harshavardhana but having  `~/.aws/credentials` set why `minio gateway s3 https://s3.fr-par.scw.cloud` outputs the same error? Am i missing something here?
[code]

[2020-01-18 22:16] bakaut opened #8854 "Wrong monitoring stats of disk usage"
## Expected Behavior

Prometeus  monitoring stats of disk usage stats show ```/opt/data/51``` disk usage, not ```/```
```disk_storage_used{disk="/opt/data/51"} 1.755652096e+09```
[code]
## Current Behavior

Wrong monitoring stats of disk usage. Prometeus monitoring stats show ```/``` disk usage
```disk_storage_used{disk="/opt/data/51"} 1.755652096e+09```
[code]
## Possible Solution

Change code to

[2020-01-18 22:18] harshavardhana commented on #8854
what you are using is wrong the disk-usage is showing the usage of the drive where the path comes from you are interested in `mc admin info` value which is the real usage on the backend which is not yet exposed on prometheus metrics.

We will be doing that in future.

[2020-01-18 22:40] bakaut commented on #8854
```mc admin info``` show wrong info too

[code]

[2020-01-18 22:44] harshavardhana commented on #8854
Its not wrong its showing the drive number not your actual usage @bakaut

[2020-01-18 22:48] harshavardhana commented on #8854
This is working as intended, please join us on https://slack.min.io for further clarification.

[2020-01-19 01:04] #8391 closed

[2020-01-19 01:46] harshavardhana commented on #8844
Looks like here are few locations where things are bad

[code]

[code]

[code]

The offending part is largely os.statNoLog()

[code]

[code]

[2020-01-19 07:24] harshavardhana commented on #8844
@flixr would it be possible for you to give a test binary a spin to calculate more memory profiling?

[2020-01-19 07:35] harshavardhana commented on #8844
[minio.zip](https://github.com/minio/minio/files/4082364/minio.zip) can you test this? @flixr and grab `mem` profile again - thanks.

[2020-01-19 18:41] ronh123 opened #8857 "Failed to upload object"
Please Help!

Failed to put object in Minio from python client
**Error in Minio backend**:
/storage/.minio.sys/buckets/mybucket/file.zip: file too large

**Environment**:
Running docker image version 2019-6 in kuberentes, storage on NetApp

Try to delete old files with mc.exe cli, but is not help

Someone know about this issue?

[2020-01-19 19:04] harshavardhana commented on #8857
This looks like backend is returning an error @ronh123 how are you deleting files ?

[2020-01-20 01:47] hahahaL opened #8859 "The commadn bug"
Distribute-cluster question:
ENV: RELEASE.2020-01-03T20-33-14Z
When I use these command to run in echo node and upload data named 4.png
minio server
	http://192.168.1.85/home/ljw/minio/da1
	http://192.168.1.85/home/ljw/minio/da2
	http://192.168.1.85/home/ljw/minio/da3
	http://192.168.1.85/home/ljw/minio/da4
	http://192.168.1.86/home/ljw/minio/da1
	http://192.168.1.86/home/ljw/minio/da2
	http://192

[2020-01-20 01:51] hahahaL opened #8860 "how to mount the S3 data on local"
------
------
If I use the minio like a data-center,the scenes is that windonw’platflot use the data to do some computes,my way is to use s3fs let the server mount on one node,and use samba or nfs to share the data,do you have the better way to do these let the data can invent and used

[2020-01-20 01:53] hahahaL opened #8861 "The mc retention doesn't work"
ENV: RELEASE.2020-01-03T20-33-14Z
------
I do that like documention,which step I do the wrong,why I still can rm the data?
[@localhost minio]# mc retention haha/one/prefix compliance 30d
Object retention successfully set for prefix `haha/one/prefix`.

[@localhost minio]# mc cp ./nginxdir haha/one/prefix/
./nginxdir:            8 B / 8 B ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 112 B/s 0

[root@localhost

[2020-01-20 02:44] harshavardhana commented on #8861
Retention is applied on existing objects what you want is `mc lock`

It's working as intended.

[2020-01-20 02:44] #8861 closed

[2020-01-20 02:46] harshavardhana commented on #8860
There are no plans to support mountable filesystem for MinIO, you need to use the S3 API directly to make rest calls.

Closing this as out of scope.

[2020-01-20 02:46] #8860 closed

[2020-01-20 07:22] ewagkun commented on #8732
Hi All,
Thanks for the support and discussion.
I think this is exactly the node shutdown case. In case the setup is by physical nodes, and one node is shutdown while a file is under transmission.  Or for VM setup, one VM is shutdown during the file transmission.  Is there any observation that the uploading file transfer time is quite long(~ 15 mins) in above cases ?

[2020-01-20 07:53] kislik commented on #8840
CPU: 8
model name      : Intel(R) Xeon(R) CPU           E5450  @ 3.00GHz

[2020-01-20 08:19] Lukas012 commented on #8831
Could you maybe get more in detail in what you mean with "issues with the command line"? I don't come to an idea what you could mean.

[2020-01-20 11:36] klauspost commented on #8840
Probably related to #8711

[2020-01-20 16:19] amitga-rnd opened #8863 "Why isn't environment variable MINIO_NOTIFY_KAFKA_ENABLE documented?"
I am trying to enable Minio notifications to Kafka using the `MINIO_NOTIFY_KAFKA_BROKERS` and `MINIO_NOTIFY_KAFKA_TOPIC` environment variables, as documented (in docs, and in `mc` command line).

## Expected Behavior

Minio should configure notifications to Kafka accordingly.

## Current Behavior

Minio ignores these env vars, and notification to Kafka is not set (looking at the logs, no mention o

[2020-01-20 16:38] nitisht commented on #8863
Thanks for reporting @amitga-rnd we'll take a look

[2020-01-20 16:42] nitisht commented on #8854
closing this based on previous comments

[2020-01-20 16:42] #8854 closed

[2020-01-20 16:43] #8739 closed

[2020-01-20 16:46] nitisht commented on #8446
Fixed by #8754

[2020-01-20 16:51] ronh123 commented on #8857
Run on Ubuntu Linux:
mc rm myminio/mybucket -r --force --older-than 1

[2020-01-20 17:01] nitisht commented on #8446
Reopening till LifeCycle subsystem is hooked to support tags

[2020-01-20 17:32] harshavardhana commented on #8446
Let's reopen as a new issue which details about lifecycle support.

[2020-01-20 17:32] #8446 closed

[2020-01-20 22:04] aead commented on #8799
The performance issue here is caused by the JWT parsing in `storageServerRequestValidate`. However, the actual cause root cause here is not JWT but the usage of JWT as authentication mechanism between the storage nodes.

Instead of trying to (further) optimize the JWT implementation (with all its potential downsides - e.g. maintaining a fork a.s.o) I propose to use a more suited authentication mec

[2020-01-20 23:10] elliott-wen opened #8865 "Assume-role inline policy does not work properly"
The inline policy in Asume-role seems not working properly.
An example code as follows, where the inline policy denies all actions. However, the temporary credential is still able to carry out putObject operations.
The parent accesskey/secret has Get/Put/Del Object permissions.

[code]
## Your Environment
* Version used (`minio version`): Minio Docker latest image.
* Environment name and version (

[2020-01-21 00:08] harshavardhana commented on #8865
This behavior is the same as AWS IAM @elliott-wen inline policies cannot override their parent policies. Because in this manner you can gain write access where your parents might have denied.

It is different than having two implicit deny with two statements, both are not the same.

[2020-01-21 00:13] elliott-wen commented on #8865
Thanks. Kindly let me make myself understood again.

My parent policy has put/get/del permissions. I want my inline policy to
deny put/del operations.

In other words I just want get permission in temp credentials obtained.

I didn't ask for extra permissions but just want part of parents
permissions.

Cheers
Elliott

On Tue, 21 Jan 2020, 1:08 pm Harshavardhana, <notifications@github.com>
wrote:

[2020-01-21 00:17] harshavardhana commented on #8865
You policy is not doing that @elliott-wen

[2020-01-21 00:20] elliott-wen commented on #8865
Could you kindly point out a direction?

I have tried Policy: '{"Version":"2012-10-17","Statement":[{"Sid":"Stmt1","
Effect":"Allow","Action":"s3:GetObject", "Principal": "*",
"Resource":"arn:aws:s3:::*"}]}',

But it still doesnt work.

Cheers
Elliott

On Tue, 21 Jan 2020, 1:17 pm Harshavardhana, <notifications@github.com>
wrote:

[2020-01-21 00:48] kannappanr commented on #8857
@ronh123 If I understand your issue correctly, looks like `PutObject` is failing and you are trying to get more space by issuing `mc rm` command. I do not have the version of `mc` that you are running

`mc rm myminio/mybucket -r --force --older-than 1d`
if you want to delete files that are older than a fay, seems correct.

What is the size of the file that you are trying to upload ? Can you try th

[2020-01-21 00:48] #8863 closed

[2020-01-21 01:17] harshavardhana commented on #8799
I like the idea @aead - let me give this a quick spin.

[2020-01-21 01:25] invent-lwj opened #8866 "wrong calculate used capacity of uploaded file"
I uploaded a file, but display twice of the actually size of file in UI. I am deployed with distributed mode. 4 nodes on openshift. image is latest of Jan 17 2020.
<img width="1081" alt="Screen Shot 2020-01-21 at 09 24 46" src="https://user-images.githubusercontent.com/20390953/72767724-f46af080-3c2f-11ea-9e4a-1fc00ed08ac8.png">

## Expected Behavior
Display file size actually

## Current Behavior

[2020-01-21 01:37] harshavardhana commented on #8866
The usage is showing disk usage which is twice the object size.

[2020-01-21 01:37] #8866 closed

[2020-01-21 02:21] donatello commented on #8841
I can confirm this bug exists. I am also working on a fix.

[2020-01-21 02:32] harshavardhana commented on #8799
The challenge with mTLS is @aead that we need to open a separate port for API calls and internal calls.  This would cause a lot of hindrance to make it work with our existing style.

If there is a possibility of just using this for internal API operations using net/http we should do it. But I am not able to see how it is possible. This is why we needed a bearer token style (JWT) authentication sch

[2020-01-21 02:41] harshavardhana commented on #8844
[minio.zip](https://github.com/minio/minio/files/4088939/minio.zip) - updated with the latest master and rebased - PTAL @flixr

[2020-01-21 05:33] markush81 commented on #8446
is there already one someone can follow?

[2020-01-21 05:49] harshavardhana commented on #8446
About which issue @markush81 ?

[2020-01-21 05:56] tanvstan opened #8869 "I can't find an official page to list all policy actions which are supported by MiniO"
**Is your feature request related to a problem? Please describe.**
I can't find an official page to list all policy actions which are supported by MiniO. And describe their resource targets, related operations, etc.

**Describe the solution you'd like**
Could you provide an online page to list them?
Like AWS has done: https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html

**De

[2020-01-21 05:57] markush81 commented on #8446
@harshavardhana for using object tags in lifecycle system, e.g.

[code]

[2020-01-21 05:58] nitisht commented on #8446
@markush81 there is no issue yet, but we're already working on this and will send a fix very soon.

[2020-01-21 06:05] harshavardhana commented on #8446
Feel free to open an issue this issue was about implementing object tagging.

[2020-01-21 06:26] markush81 opened #8870 "Use object tags in filter rules in lifecycle policy"
**Is your feature request related to a problem? Please describe.**
Sonatype Nexus can not use minio as S3 backend at the moment.

**Describe the solution you'd like**
Since minio is now supporting Object Tagging, it would be nice to use these Tags also for Lifecycle filters.

**Additional context**
Possible lifecycle configuration using a simple object tag (Use case is e.g. Sonatype Nexus)

[code]

[2020-01-21 06:26] markush81 commented on #8446
https://github.com/minio/minio/issues/8870 and thanks very much for the work.

[2020-01-21 06:28] harshavardhana commented on #8869
Other that Torrent, Acl, Versioning we implement all other APIs

[2020-01-21 06:28] harshavardhana commented on #8869
Check here https://docs.min.io/docs/minio-server-limits-per-tenant.html

[2020-01-21 06:30] harshavardhana commented on #8869
https://github.com/minio/minio/blob/master/pkg/iam/policy/action.go#L31 here is another list.

[2020-01-21 07:50] tanvstan commented on #8869
Thanks for your reply, Harshavardhana.

[2020-01-21 08:24] philippjenni commented on #8841
It's possible that the same problem exists if a file is deleted on a node?

[2020-01-21 09:31] ypsliu opened #8871 "about Bucket Notification upload file"
I found that when I upload files over 5M in java and python clients, the notification is not received, but I can receive it using the upload page provided by the official website. I do n’t know why this is the case. It is also possible to try to upload using MC.

[2020-01-21 10:17] philippjenni opened #8873 "cannot delete object with minio client"
I try to delete an object with minio client with the follow command

[code]

The result is:
Removing `exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/AGKB/BEN404357/OBJ3248251/MD68787625.jpg`.

But the file is always listed in directory:

[code]

When i try download view the file i become an error:

[code]

When i try to download the file with the webui i it returns the erro

[2020-01-21 10:36] vadmeste commented on #8873
@philippjenni could you paste the output of `mc --debug cp exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/AGKB/BEN404357/OBJ3248251/MD68787625.jpg /tmp/` ?

[2020-01-21 10:44] philippjenni commented on #8873
[code]

[2020-01-21 10:47] vadmeste commented on #8873
@philippjenni could you describe how you deployed your cluster ? what arguments did you pass to MinIO server ?

[2020-01-21 10:50] aead commented on #8799
Hm, yeah I missed the limitation of a single port. In case of plain HTTP we would need to handle S3 API requests over plain HTTP while inter-node communication over TLS using the same port for both - which does not work / would be really messy.
That's unfortunate.

Okay, then let me propose much simpler fix.
At the moment we have a expiry for inter-node JWT tokens of [~100 years](https://github.co

[2020-01-21 10:53] harshavardhana commented on #8799
https://github.com/minio/minio/pull/8802 the PR already does this, but yes with a good amount of changes especially it adds more security for the token themselves per API call like S3 API 15minute validity.

[2020-01-21 10:54] harshavardhana commented on #8799
The problem has been security authenticity of these changes so your input on the PR would be helpful

[2020-01-21 10:57] philippjenni commented on #8873
Minio started with this command on each node

[code]

Installation with this steps on each node. Directories /srv/minio-data-1 to /srv/minio-data-10 are sperate mounted disks.

[code]

[2020-01-21 10:58] aead commented on #8799
I'm not able to see that we cache the token. My point being that if we do that all the other changes won't be necessary since JWT token parsing / verification won't be a hot path anymore?!

In particular: https://github.com/minio/minio/pull/8802/files#diff-9c5604c6beb0f12c48e5615563d70c97R59

[2020-01-21 11:10] vadmeste commented on #8873
Could you check permissions and owner of the concerned object in all your disks ?

[2020-01-21 11:13] aead commented on #8799
[code]

[2020-01-21 12:41] philippjenni commented on #8873
The permissions looks correkt.

Owner of all Files and Folders is minio-user
Group of all Files and Folders is minio
Persmissions of all folders is drwxr-xr-x
Permissions of all files is -rw-r--r--

[2020-01-21 14:20] philippjenni commented on #8873
I have do some tests ... I think the filesystem is in an inconsistent state ... Not all Commands on an Object gives an error, an new uploaded files works also.

I can run  "mc stat exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/AGKB/BEN404357/OBJ3248251/MD68787625.jpg". The result is:

Name      : MD68787625.jpg
Date      : 2020-01-17 13:43:36 CET
Size      : 13 KiB
ETag

[2020-01-21 14:24] vadmeste commented on #8873
@philippjenni do you see any logs in any MinIO server output when you issue mc head command ?

also does `mc stat` does never return an error ? does it always work ?

[2020-01-21 14:36] philippjenni commented on #8873
`mc stat` never returns an error.

No i can't see any errors in syslog on minio server. but `mc admin trace -v -e` returns the follow error:

[code]

mc head returns this stacktrace

[code]

[2020-01-21 14:45] creslinux commented on #7114
is there a working solution for this?
Oauth2 with OpenID Connect session headers are busting the header limit for our minio service.
Had no issues upping max header size in flask, nginx, apache, graphql in our estate - minio looks to be more tricky

[2020-01-21 14:47] vadmeste commented on #8873
@philippjenni could you join us here, https://slack.min.io ? We can have faster discussion there

[2020-01-21 16:25] vadmeste commented on #8873
@philippjenni will provide the trace of `mc head` & `mc stat` as soon as he can.

[2020-01-21 16:34] ddevault opened #8874 "Slack is not a suitable platform for open source software collaboration"
Please ditch Slack or bridge with a better platform, such as IRC or Matrix.

Slack is proprietary, eschews open source integrations, and holds your data hostage. Participation in the Slack channel requires users and contributors to utilize closed source clients which require obscene amounts of resources (RAM, CPU, disk space, etc) to run. It's not appropriate to host open source projects on Slack.

[2020-01-21 16:51] philippjenni commented on #8873
trace with follow command: `sudo mc admin trace -a -e --debug exanic/newhome-dev`

Test Command `mc stat exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/AGKB/BEN404357/OBJ3248251/MD68787625.jpg`

Command Output
[code]

Trace Output

[code]

Test Command: `mc head exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/AGKB/BEN404357/OBJ3248251/MD68787625.jpg`

[2020-01-21 16:59] kannappanr commented on #8874
@ddevault Thanks for the suggestion. We will review the request internally and see what can be done. Closing this issue for now.

[2020-01-21 16:59] #8874 closed

[2020-01-21 17:11] vadmeste commented on #8873
oh, I forgot that `mc stat` can compute the input from listing and not only from a HEAD call.

@philippjenni can you check in which disks that object is present ?

[2020-01-21 17:26] harshavardhana commented on #7114
Unfortunately no @creslinux this is S3 API limit

[2020-01-21 18:33] flixr commented on #8844
@harshavardhana thanks for the quick iteration here.
Sorry, I'm super busy right now.. I will probably have time to test on Thursday...
Although I will need to go through the trouble to build this into a docker image first... or is there a nightly build of this available?

[2020-01-21 18:37] harshavardhana commented on #8844
@flixr if docker is all you need here you go `y4m4/minio:dev` :cake:

[2020-01-21 18:44] flixr commented on #8844
:+1: perfect, that makes it easy... profiling started...

[2020-01-21 20:04] philippjenni commented on #8873
OK, i think i have found the bug ...

i try to get the state of this file "mc stat exanic/newhome-dev/public/exanic/data/resources/newhome.ch/release.4.0/ZGKB/BEN306004/OBJ3250981/SM68863163.jpg"

In the trace i saw, that server call's the follow urls:

[403 Forbidden] internal.ReadAll vstorage02.exanic.local:9000/minio/storage/srv/minio-data-9/v13/readall?disk-id=14c0d371-2c9b-4882-9c8f-ef5e3d329

[2020-01-21 21:52] feld opened #8875 "Missing test suite"
Where is the test suite that validates all of Minio's functions and API calls are returning expected results?

[2020-01-21 21:54] harshavardhana commented on #8875
@feld https://github.com/minio/minio/tree/master/mint

[2020-01-21 21:54] #8875 closed

[2020-01-21 21:56] feld commented on #8875
OK, so where's the test that proves deleting files works as expected? i.e., #8873

[2020-01-21 21:57] harshavardhana commented on #8875
It's there in all SDKs @feld and mint runs each SDKs against each PR

[2020-01-21 21:59] feld commented on #8875
Is the test buggy then? Because deleting doesn't work. This is an obvious bug to catch, so something is wrong with the test environment. Should I file a PR for someone to fix the test?

[2020-01-21 22:01] harshavardhana commented on #8875
You should open a separate issue with reproducible steps if the steps are already in #8873 we should continue our discussion there, we will try to see what is the environment and give you an analysis.

There is nothing wrong in our test environment, deletes are working fine AFAICS. Let's continue our discussion on a relevant issue with reproducible steps.

[2020-01-21 22:04] feld commented on #8873
Can also confirm that deleting objects does not work via Elixir https://github.com/ex-aws/ex_aws_s3 library. The problem only exists with Minio. It works as expected with Amazon S3 and Vultr S3 object storage (https://www.vultr.com/docs/vultr-object-storage)

[2020-01-21 22:07] #8844 closed

[2020-01-21 22:10] harshavardhana commented on #8873
is there a sample program? list of file hierarchy?

[2020-01-22 03:00] #8841 closed

[2020-01-22 09:39] #8865 closed

[2020-01-22 10:24] philippjenni commented on #8873
I did another test. If I copy the files from the current disc to the disc that is in the URL of the trace, the requests work. The question is why is the disc in the url wrong

[2020-01-22 10:31] julienp opened #8881 "Requests timeout when a node fails in Kubernetes"
## Expected Behavior

Requests should work as normal, provided enough nodes are still up.

## Current Behavior

When a Kubernetes node fails requests hang for 1 minute (tested with `mc cp`).

To get DNS for the pods in the stateful set there is a headless service`minio-svc` with `publishNotReadyAddresses: true`, making the pods accessible via their endpoint: `minio-X.minio-svc.minio.svc.cluster.de

[2020-01-22 10:35] nitisht commented on #8881
Thank you for the detailed report @julienp we'll investigate this

[2020-01-22 12:52] flixr commented on #8844
Did the schedule change? I now only saw this peak once...:
[profile.zip](https://github.com/minio/minio/files/4097338/profile.zip)

[2020-01-22 13:21] vadmeste commented on #8844
@flixr crawling is scheduled each 12 hours, restarting the cluster won't automatically start crawling until the 12 hours will elapse

[2020-01-22 13:23] ronh123 commented on #8857
My files is size Between 100KB - 10MB.
Is there a limit on the amount of files in bucket or in Minio server?

[2020-01-22 13:28] vadmeste commented on #8873
@philippjenni sent me format.json and the object representation in all disks.

There is only one zone, 5 sets, each set has 10 disks.

XL set object name hashing gives the wrong set index and I am not sure how this could happen without manually playing with the backend.

@philippjenni did you try to fix something in the backend manually before ?

Otherwise can you show the modtime of format.json a

[2020-01-22 13:31] feld commented on #8873
I can't provide a simple test program because it's part of a larger software suite, but the test setup is a simple one disk / one storage location Mino server setup and a flat file hierarchy. Deletes don't even work with minio client or s3cmd with minio version `2019.10.12.01.39.57`, so this is not a problem with the library being used.

[2020-01-22 13:35] vadmeste commented on #8873
@feld Could you open a new issue ? you are probably having a typo somewhere or having a special corner case that we didn't see before.

[2020-01-22 14:11] vadmeste commented on #8873
@feld I just noticed this issue is also about deletion, is it easy for you to reproduce it ?

[2020-01-22 15:02] philippjenni commented on #8873
@vadmeste No i doesn't have try to fix it. The format.json has modifcation Date from 2019-09-18 16:06 on all disks and nodes

[2020-01-22 15:05] vadmeste commented on #8873
What about the object that you have an issue with it ? could you check its modtime in one of your disk ?

[2020-01-22 15:22] philippjenni commented on #8873
Modidifcation Date is 2020-01-17 13:43 (Folder and both Files)

[2020-01-22 16:37] kannappanr commented on #8869
@tanvstan Closing this issue as answered Please feel free to reach out to us https://slack.min.io for further questions

[2020-01-22 16:37] #8869 closed

[2020-01-22 16:40] kannappanr commented on #8857
@ronh123 There is no limitation from Minio Server, it depends on the backend. Can you give us the exact version of Minio that you are using, the actual error that you are seeing in the backend and the command that you used to start MinIO

[2020-01-22 18:06] harshavardhana commented on #8881
@julienp have you tried without `publishNotReadyAddress` tag ?

[2020-01-22 19:28] #7446 closed

[2020-01-22 19:28] #7456 closed

[2020-01-22 19:29] #7457 closed

[2020-01-22 19:29] #7460 closed

[2020-01-22 19:29] #7461 closed

[2020-01-22 19:29] #7462 closed

[2020-01-22 19:29] #7512 closed

[2020-01-22 19:30] #7513 closed

[2020-01-22 19:30] #7533 closed

[2020-01-22 19:30] #7531 closed

[2020-01-22 19:30] #7532 closed

[2020-01-22 19:30] #7528 closed

[2020-01-22 19:30] #7526 closed

[2020-01-22 19:31] #7534 closed

[2020-01-22 19:31] #7524 closed

[2020-01-22 19:31] #7536 closed

[2020-01-22 19:31] #7535 closed

[2020-01-22 19:31] #7547 closed

[2020-01-22 19:31] #7546 closed

[2020-01-22 19:32] #7543 closed

[2020-01-22 19:32] #7529 closed

[2020-01-22 19:32] #7525 closed

[2020-01-22 19:32] #7545 closed

[2020-01-22 19:32] #7548 closed

[2020-01-22 19:32] #7544 closed

[2020-01-22 20:30] harshavardhana commented on #8844
Okay looks like now all parts are optimized the one which we cannot optimize is os.Stat() call itself

[code]

The in_use memory is in around 200MiB's - allocation seems to be higher only in os.Stat() - I think we have reached the potential of optimizing here

How does your graph look like @flixr ?

[2020-01-22 21:44] #3602 closed

[2020-01-22 21:45] #3702 closed

[2020-01-22 21:45] #3835 closed

[2020-01-22 21:45] #3933 closed

[2020-01-22 21:45] #4037 closed

[2020-01-22 21:45] #4305 closed

[2020-01-22 21:45] #4755 closed

[2020-01-22 21:45] #4772 closed

[2020-01-22 21:47] harshavardhana commented on #8711
Lowering priority as priority has moved Versioning support first.

[2020-01-22 21:49] harshavardhana commented on #7902
Testing has been enabled for caching with azure gateway on mint-auto - all other cases related to `caching` should be added now into `mint` @poornas

[2020-01-22 21:50] harshavardhana commented on #7231
Access-Control-Max-Age is unlimited there is no requirement for MinIO to have this header.

[2020-01-22 21:55] harshavardhana commented on #5722
Closing this as a future item and not doing this in near future

[2020-01-22 21:55] #5722 closed

[2020-01-22 21:56] harshavardhana commented on #5318
Moving this to the future requirements if needed to be addressed, for now, we will stay with the current behavior.

[2020-01-22 21:56] #5318 closed

[2020-01-22 21:57] harshavardhana commented on #4963
Closing this issue #7683 is merged, fixed, released.

[2020-01-22 21:57] #4963 closed

[2020-01-22 22:00] harshavardhana commented on #2111
We will be implementing versioning.

[2020-01-22 22:06] harshavardhana commented on #8765
This issue is under investigation, removing "working as intended"

[2020-01-22 22:07] harshavardhana commented on #8763
Seems to be working as intended @designermonkey - please verify if the symlinks are allowed to be followed and have read access.

[2020-01-23 00:18] krishnasrinivas commented on #8873
@philippjenni this looks like a tricky bug, can you upload format.json from all the drives? You can follow the naming convention:
vstorage01-minio-data-1.json
vstorage01-minio-data-2.json
....

[2020-01-23 01:29] harshavardhana commented on #8873
@vadmeste that is never possible, what is happening is the ordering of the disks has changed. Set index, in this case, will always be '4' for the said object name `public/exanic/data/resources/newhome.ch/release.4.0/ZGKB/BEN306004/OBJ3250981/SM68863163.jpg`.

Since the total sets are 5 - its actually 12 drives per set with each server participating 2 drives.  EC:6 parameter is set which is not nee

[2020-01-23 07:27] philippjenni commented on #8873
@harshavardhana : I have tried to reaching the result form each other server. always the same error. I have also reboot the server with no effect.

[2020-01-23 07:35] harshavardhana commented on #8873
@philippjenni have you ever tried to expand the cluster ? Change the ordering in arguments Or had replaced drives or healed replaced drives ?

[2020-01-23 08:27] vadmeste opened #8884 "Sporadic simple CI failure"
## Expected Behavior
No error during Simple CI test

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)
No steps to reproduce, the issue happens sometimes

## Context
Fix a rare error in Simple Test

## Regression
No

## Your Environment
All

[2020-01-23 08:51] harshavardhana commented on #8884
This is because of the timing issue, the amount of time taken during startup @vadmeste . Hard to know the exact time and it varies on which node the test gets scheduled. Locally it has been harder to reproduce.

[2020-01-23 09:10] philippjenni commented on #8873
No ... The only thing that i have do is update the cluster ... But the files are uploaded after the update.

[2020-01-23 09:42] harshavardhana commented on #8873
@philippjenni how many files are in this state? also please upload the data as requested by @krishnasrinivas https://github.com/minio/minio/issues/8873#issuecomment-577448081

[2020-01-23 09:52] designermonkey commented on #8763
They have read access, but **still don't work** on our affected servers. I am struggling to get our ops team to update them to the newest release. I will chase again today.

[2020-01-23 10:35] harshavardhana commented on #8763
can you try like what was posted by @kannappanr ? and see if its reproducible?

[2020-01-23 11:30] philippjenni commented on #8873
Here the files ... DebugFiles are the format.xl and Objects are one object that is not working. there are 50 files in this state.

[Objects.zip](https://github.com/minio/minio/files/4102836/Objects.zip)
[DebugFiles.zip](https://github.com/minio/minio/files/4102837/DebugFiles.zip)

[2020-01-23 13:10] cbluth opened #8885 "Automatically provision user account keys on init"
**Is your feature request related to a problem?**: Yes
Problem:
- i have a development environment with a running instance of minio-distributed in kubernetes, i deploy via docker image `minio/minio:latest`
- i have a nightly process that deletes all components of minio from kubernetes, even volumes, and then re-creates everything from scratch with a clean-slate, meaning everything is a fresh insta

[2020-01-23 18:57] harshavardhana commented on #8873
Thanks @philippjenni

[2020-01-23 22:53] harshavardhana commented on #8765
The issue was investigated and found to be SAN's behavior with O_DIRECT durability. We tested with various block sizes all of them result in some degradation in performance.

Using local HDD's however, this degradation is not seen. Closing this issue on our end for now - shall re-open later but for now this is not MinIO issue.

[2020-01-23 22:53] #8765 closed

[2020-01-24 00:39] krishnasrinivas commented on #8873
@philippjenni the format.json looks correct and as expected.

One suspicion is that the object name might have trailing space characters. Can you paste the output  of:
[code]

[2020-01-24 07:02] philippjenni commented on #8873
@krishnasrinivas
Here the output
[code]

[2020-01-24 14:17] RCheese opened #8887 "AWS_AUTO_CREATE_BUCKET not work"
botocore.errorfactory.NoSuchBucket: An error occurred (NoSuchBucket) when calling the CreateBucket operation: The specified bucket does not exist

[2020-01-24 14:24] #8887 closed

[2020-01-24 15:42] harshavardhana commented on #8887
Please please use issue templates to describe your issue, it is very expensive and time consuming for us to understand what is the issue that you are facing and to provide a valid response.

[2020-01-24 15:52] kislik commented on #8840
@vadmeste Is it possible to down a Minio cluster and remove a directory from a bucket (I wanna do it from my OS with simple command `rm -rf`)? I want to prevent any disks operation for the fast deleting the directory that has a lot of files for preventing future indexing in the Minio cluster (when I will turn up my cluster)

[2020-01-24 16:02] krishnasrinivas commented on #8873
It does not look like the file has any trailing space characters. We will get back.

[2020-01-24 16:54] flixr commented on #8844
I don't see any noticeable difference in memory usage:

![Selection_010](https://user-images.githubusercontent.com/104257/73086986-f9e76580-3ed1-11ea-8758-aba9b4b31418.png)

Profiling data:
[profile.zip](https://github.com/minio/minio/files/4109586/profile.zip)

But base CPU load seems to be lower now... not really sure why.
But the problematic CPU peaks are also still there.

Would you consider a

[2020-01-24 17:11] harshavardhana commented on #8844
@flixr that won't be possible, we can't turn it off. You just have to provide more memory. The CPU spike has gone down because of reduced allocations in certain hot paths.

There are two more portions to optimize i.e

- Go's os.Stat() is using unusually large amount of memory.
- Go's argon2 uses 64MiB per IAM user (I am assuming you have some amount of users in this setup)

[2020-01-24 17:33] flixr commented on #8844
It's not only about the memory...
CPU peaks didn't go down, rather slightly more... "just" the CPU usage when disk usage is not crawled went down a bit (the new dev version was deployed at 19:45 in this graph where the "ripples" get less):
![Selection_012](https://user-images.githubusercontent.com/104257/73089983-b132ab00-3ed7-11ea-8cb1-8cebb6822c78.png)

[2020-01-24 18:27] krishnasrinivas commented on #8873
@philippjenni will you be available for a remote debugging session? Can you message me on slack? https://slack.min.io

[2020-01-24 18:41] kannappanr commented on #8885
@cbluth Thanks for filing the issue, will check if our helm chart supports this

[2020-01-25 02:34] harshavardhana commented on #8873
[code]

Tried reproducing this but it doesn't seem to be possible in-fact it is strangely not even possible to get wrong sets in any manner

[code]

Uploading the same object name doesn't cause any conflicts either,
we need to perhaps be able to do a remote session to look at the server itself.
There is some form of in-memory inconsistency.

[2020-01-25 07:03] harshavardhana commented on #8647
@gregnsk we can definitely trim this but I think this is a Splunk issue because there is no reason for Splunk Smart store to escape `_` or `.` characters from the key name as these are not specialized names on Windows.

It would be worth to get their inputs on this issue as well.

[2020-01-26 01:16] harshavardhana opened #8893 "Implement service accounts for regular users"
**Is your feature request related to a problem? Please describe.**
Allow credentials to be generated for regular users created using `mc admin user`.
This allows external SSO such as LDAP users, OpenID users to create more
credentials with inherited permissions on MinIO.

**Describe the solution you'd like**
These credentials will inherit the same permissions as its parent `user` or can
be further

[2020-01-27 03:29] qiuwei commented on #3687
https://github.com/s3git/s3git can provide deduplication when integrated with minio.

[2020-01-27 03:43] harshavardhana commented on #8799
The point was actually not to cache but instead provide token per API call such that the query params can be validated properly and securely.

Current approach is actually a remnant of Go's net/rpc code which we used to have where we had a single token for the single transport, it doesn't make sense for HTTP API.

So the PR itself is making such changes to ensure that jwt also validates the query

[2020-01-27 12:04] snieguu opened #8897 "SignatureDoesNotMatch error when download file from pre signed url that contains attachment;filename"
I have a problem with incompatibility between minio(RELEASE.2020-01-16T22-40-29Z) and AWS S3.

1. I request the generation of pre-signed URL for download file from minio.
2. I got a pre-signed URL that contains parameter `response-content-disposition=attachment%3Bfilename%3D%22test.txt%22`
3. For retrieving file I use `Google-HTTP-Java-Client/1.25.0` that change `%3B` to `;` before request.
4. Aft

[2020-01-27 13:55] aead commented on #8799
That is a nice improvement :+1:

The PR itself looks good to me. It's just that benchmarks have to proof that it actually resolves the performance issues described above. If it turns out that it reduces the JWT verification cost sufficiently, then I'm more than okay with dropping the caching idea.

[2020-01-27 15:07] kannappanr commented on #8897
@snieguu Thanks for filing the issue, we will take a look at it. Is it also possible for you to reproduce the issue with the latest version of `MinIO`?

[2020-01-27 21:16] labnewbie opened #8899 "Can't get MC to work on Windows"
When I start the minio service from the command line it starts fine.

PS C:\Users\administrator.HOMELAB> minio server c:\minio\data
Endpoint:  http://192.168.86.133:9000  http://127.0.0.1:9000

Browser Access:
   http://192.168.86.133:9000  http://127.0.0.1:9000

Object API (Amazon S3 compatible):
   Go:         https://docs.min.io/docs/golang-client-quickstart-guide
   Java:       https://docs.mi

[2020-01-27 23:33] kannappanr commented on #8899
The command should be `mc config host add minio http://192.168.86.133:9000 admin admin1234 --api S3v4` You are hitting `minio` at port `80` while it is running at port `9000`

[2020-01-27 23:33] kannappanr commented on #8899
@labnewbie closing this issue as answered. please feel free to reach out to us at https://slack.min.io for further questions

[2020-01-27 23:33] #8899 closed

[2020-01-28 06:14] snieguu commented on #8897
Yes, I have checked RELEASE.2020-01-16T22-40-29Z and the problem still exists, already updated version bug description.

[2020-01-28 09:28] harshavardhana commented on #8897
@snieguu can you use `mc admin trace -v` to generate the trace for this API request - this will allow us to see what client sent to server?

[2020-01-28 11:02] snieguu commented on #8897
[code]

[2020-01-28 11:09] harshavardhana commented on #8897
@snieguu looks like the bug is in the client its not properly encoding the `;` element after attachment.

Here is how your URL should look like

[code]

[code]

[2020-01-28 11:50] snieguu commented on #8897
But it is not necessary to encode ';' character.

[2020-01-28 12:16] harshavardhana commented on #8897
I don't know if that is true it's a URL encoding so `;` has no special meaning, so it shall be encoded correctly just like it's encoded when it's a value.

What AWS S3 is doing is relaxing this requirement perhaps based on a corner case in url encoding behaviors across languages. I still this think this is a bug in the client which should encode it correctly like how Golang net/http does.

[2020-01-28 13:31] snieguu commented on #8897
According to https://tools.ietf.org/html/rfc3986#section-2.2
`;` is reserved characters.
In the same section we have the sentence:

   correspond to characters in the reserved set unless these characters
   are specifically allowed by the URI scheme to represent data in that
   component.

On the other side, in the same RFC we can find the definition of what is a query(In our case `;` appeared in

[2020-01-28 14:16] harshavardhana commented on #8897
That is an incorrect interpretation @snieguu https://golang.org/src/net/url/url.go?h=shouldEscape#L98 - see the implementation in detail position of `;` matters on when its escaped and when it's not.

The client here is buggy and not written in accordance with the RFC. Server handling this automatically, in this case, i.e AWS S3 is also wrong but we cannot do much to change that.

Because they are

[2020-01-28 14:21] vadmeste commented on #8897
@snieguu the query supporting ';' character is a thing. Your http client converting %3B to ; is another thing. We escape characters that the remote HTTP request parser will be able to parse properly.

For example here, if I want to pass a filename which contains this character ';', I think your http client will mess it up.

[2020-01-28 16:36] blottn opened #8902 "400s requests for objects beginning with "%2F""
When performing a `GetObject` request for a key beginning with a `%2F` in the URL the response is always 400 as it interprets this to be referring to an api endpoint (full error attached). Apparently this should be an acceptable start to an object as s3 handles this just fine.

## Expected Behavior
A 404 if the object doesn't exist or a 200 and the `s3Object` if the object does exist.
Example expe

[2020-01-28 16:46] harshavardhana commented on #8902
We don't support `/` in the same manner as AWS S3. So you can never create a key with `/` at the beginning.

Fix your client application to do not prepend an unnecessary `/`

[2020-01-28 17:08] #8902 closed

[2020-01-28 17:10] blottn commented on #8902
Thanks for the quick reply

[2020-01-29 03:02] harshavardhana commented on #8884
[code]

Reproduced the issue @vadmeste looks like it is due to some disk format inconsistency.

[2020-01-29 06:01] snieguu commented on #8897
@vadmeste @harshavardhana here You have a similar explanation to mine on stackoverflow:
https://stackoverflow.com/a/31300627/6584021.

And look at the comment in the client that You have pointed as a reference:

   reserved characters correctly. See golang.org/issue/5684.

[2020-01-29 06:18] harshavardhana commented on #8897
Then it is not our issue @snieguu we rely on net/url - please open an issue upstream

It is not safe for us to make those type of changes ourselves, we won't take that burden.

[2020-01-29 07:04] Praveenrajmani opened #8904 "Need to have a design document for Healing"
This is to specifically ease the reviewing of healing related PRs. As we know, healing has more asynchronous decoupled tasks which we need to keep track to join our thoughts (specially during the review)

A design documentation, maybe with a design diagram would help to understand the process and differences between self-healing and admin-healing

Ideally we can keep track of the fore coming chang

[2020-01-29 07:04] Praveenrajmani commented on #8904
cc @vadmeste

[2020-01-29 17:38] wgerlach commented on #5947
I ran into the same issue and used this work-around for nginx location `/minio`. It uses the UserAgent field to detect minio traffic. This example works only for the official Minio client. (For curl you would have to add a custom header like this `-H "User-Agent: MinIO"`.) In the server section add this rewrite:

In the location section remove the `/minio`-prefix

I think this is pretty ugly but a

[2020-01-29 18:15] labnewbie opened #8906 "Alternative method to create certs other than GnuTLS for Windows?"
I am having issues with the GnuTLS utility to create my private/public keys.  Do you recommend any other tools?  I tried OpenSSL, but your instructions don't have the configurations for Windows listed.  I tried using the linux example for OpenSSL, but with no success.
## Expected Behavior

No errors when creating the keys via GnuTLS

## Current Behavior

This is what I see:
c:\GnuTLS>certtool.exe

[2020-01-29 19:21] laymonk opened #8907 "TLS issues: mc client works from windows, but fails on linux (needs --insecure)"
Server has a valid SSL certificate, with necessary chains in place and has generally been working.

Running mc commands from windows works, and I have not had to 'trust' the certs on windows (mc\certs and mc\certs\CAs are both empty).

However, running mc commands on linux to the same Minio server using identical config.json (ubuntu ... tried 2 different systems), I get:

The only way commands wor

[2020-01-29 19:30] laymonk commented on #8907
Just adding that:
* I added linux packages with CA certificates: ca-certificates and ca-cacert
* I also ran `sudo update-ca-certificates` for good measure
* I have no other ssl client or TLS issues on these 2 systems where I tested it

[2020-01-29 20:10] laymonk commented on #8907
More info ... turns out the linux client is even more recent than the windows client:

* linux client: `RELEASE.2019-10-09T22-54-57Z`
* windows client: `RELEASE.2019-01-10T00-38-22Z`

I have just updated both (windows and linux) to `RELEASE.2020-01-25T03-02-19Z`

Now on windows, ls works fine but user management commands don't work:

On linux, the command doesn't even return.  Running it under str

[2020-01-29 20:23] laymonk commented on #8907
Updated server to `RELEASE.2020-01-25T02-50-51Z`, and now windows user and group commands, along with all other sub-commands are working as expected again.

Linux client is not even running OK, talk-less of demanding '--insecure' ... will resolve this first and update this ticket.

[2020-01-30 13:29] hholst80 opened #8912 "MinIO UI produces strange Zip archives"
Regarding the latest docker release of minIO (https://hub.docker.com/layers/minio/minio/latest/images/sha256-faa11f8923edf470b27d0a9368fd6e24659a0babcbc27b0df682b5784c36d2ab)

I uploaded a couple of files and then tried to download them as a zip archive. The access date on the files in the zip are really strange. It might be due to Windows native zip extraction, but also in Linux the stats are way

[2020-01-30 17:34] klauspost commented on #8912
Sounds like a regression from https://github.com/minio/minio/pull/8693/files#diff-a332614ad2487d48ea82260329c81b9aR1407

[2020-01-30 18:47] klauspost commented on #8912
I am not immediately able to reproduce this. A file uploaded to MinIO at 10:36, downloaded as ZIP and extracted at 10:42 (using Windows Explorer) looks like this to me:

![image](https://user-images.githubusercontent.com/5663952/73479716-540e7d80-434d-11ea-8ba0-e0ca1fe99d4e.png)

It seems like the time of extraction is used to populate "modified" and the ZIP date is used for "Created". What method

[2020-01-30 21:58] ebozduman opened #8914 ""mc admin heal -r <alias>/" causes "integer divide by zero" panic"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2020-01-30 21:58] #8914 closed

[2020-01-30 22:27] ebozduman opened #8916 ""mc admin heal -r <alias>" cause panic (integer divide by zero)"
Running `"mc admin heal -r dist/"` caused the following crash on my 4 node/4 disk MinIO server where `"dist"` is my alias.

[code]

## Expected Behavior
No panic.

## Current Behavior
Crash (integer divide by zero)

## Steps to Reproduce (for bugs)
1. Start MinIO server with 4 nodes/4  disks
2. Create a bucket
3. Remove one of the `".minio.sys"` directories of a node in the local filesystem using

[2020-01-31 01:52] klauspost commented on #8916
This seems like an `mc` issue. Even if it is a server issue we should also fix it on the mc side.

[2020-01-31 03:00] jared-hess opened #8918 "GCS Gateway - CopyObject: io: read/write on closed pipe"
With minio running as GCS gateway in docker, When trying to copy a file from one bucket to another using the "copy_object" method, the minio server throws an io error:
[code]

The file does appear to be copied successfully, however.
I've also tried this on a couple different versions including :latest with same behavior.

## Current Behavior
Object is copied successfully, but throws an IO error.

[2020-02-01 01:52] harshavardhana commented on #8918
Please upgrade to latest and let us know.

[2020-02-01 12:38] hholst80 commented on #8912
[asus-henrik.zip](https://github.com/minio/minio/files/4142549/asus-henrik.zip)

[2020-02-03 11:55] kannappanr commented on #8906
You can also try https://github.com/FiloSottile/mkcert for Windows. Please reach out to us at https://slack.min.io for further questions. closing this issue as answered.

[2020-02-03 11:55] #8906 closed

[2020-02-03 12:28] kannappanr commented on #8907
@laymonk You need to update your Linux `mc` client. please download the latest from https://dl.minio.io/client/mc/release/linux-amd64/mc

Please look at https://tarunlalwani.com/post/self-signed-certificates-trusting-them/ to get the self signed certificate trusted by your mc client machine.

Please feel free to reach out to us at https://slack.min.io for further questions

[2020-02-03 12:47] philippjenni commented on #8873
I have test code that can reproduce the problem.

If you use an double slash in the path you can't delete item.

Here is an c# example with AWSSDK.S3 3.3.5.7 Client.

[code]

[2020-02-03 13:30] harshavardhana commented on #8873
@philippjenni `//` is never stored on MinIO so yes you cannot delete them. Because the upload should fail.

[2020-02-03 13:35] philippjenni commented on #8873
@harshavardhana  : The Upload with this path works fine. In MinIO the File stored in the structure "test/test2/testFile1.jpg"

[2020-02-03 13:43] harshavardhana commented on #8873
Yes because `//` is trimmed by AWS SDK here @philippjenni we reject any extra `//` if the request is sent as is.

[code]

So MinIO is not wrongly calculating the hash @philippjenni it is correctly calculating without `//`  if you send a DELETE with `//` it will fail as well as expected. AWS SDK is incorrectly sanitizing the object path here which leads to unexpected situations for your client code