[2021-03-09 20:53] harshavardhana commented on #11742
Although we can fix this, this is not security issue. mc admin trace is like tcpdump and it is mainly meant for debugging purposes.

[2021-03-09 20:59] teward opened #11751 "Allow rebranding of MinIO on the server side (logo, etc. for web interface for accessing/uploading to buckets)"
**Is your feature request related to a problem? Please describe.**
Not related to a problem, would just be a Like To Have

**Describe the solution you'd like**
Environment variable that can be configured to display an alternative logo or branding instead of the MinIO branding.

**Describe alternatives you've considered**
None available, as we were looking to rebrand the UI component to be a compan

[2021-03-09 21:00] harshavardhana commented on #11751
@teward this is not in our interest - if you really want to have a formal relationship write to us at sales@min.io or visit us a https://min.io/pricing

[2021-03-09 21:00] #11751 closed

[2021-03-09 21:23] harshavardhana commented on #11704
Currently working on other high-priority issues, will get back here - feel free to share the logs from the server where the delete fails - will circle back based on that.

[2021-03-09 21:33] harshavardhana commented on #11743
this is because of the wrong implementation in aws-sdk-v2 - they willfully are rejecting their own spec

Older implementation used x-amz-signed-headers appropriately where as the new one adds some junk information now such as adding `x-amz-user-agent` instead.

This means that when you are making such a request you should make sure that x-amz-user-agent is also provided as part of the HTTP header

[2021-03-09 22:39] harshavardhana commented on #11743
Okay so found out the original problem  the canonical request generated by aws-sdk-js-v3 is wrong

[code]

NOTE: the host header has a port missing i.e `:9000` - the canonical request needs to have port in-tact when it's generating the presigned request. Looks like they have introduced regressions in their SDKs

[code]

Fixes the issue, please open this issue on aws-sdk-js-v3

[2021-03-09 22:39] #11743 closed

[2021-03-09 22:43] #11742 closed

[2021-03-10 05:43] #11605 closed

[2021-03-10 07:04] MartinP7r commented on #8265
@Ploppz could you share how you fixed your issue exactly? I think I might experience something similar, but am not quite sure how to keep it from trying to resolve the hostname via our proxy...

[2021-03-10 08:54] egorFiNE commented on #11743
@harshavardhana  thank you. Reported https://github.com/aws/aws-sdk-js-v3/issues/2121.

[2021-03-10 11:11] Ploppz commented on #8265
Hey @MartinP7r , it's been a while so I'm not exactly sure what it was,
but candidates are:
These lines, in our Dockerfile which is based on ubuntu (from which we sent requests to minio running in dockercompose I think)

[code]

Or in the docker-compose:
[code]
The `rust` image being the one from where requests are made. We are not using any of this anymore though.

[2021-03-10 14:44] lmentary opened #11756 "[Proposal] Add Cluster Configuration File Option"
**Is your feature request related to a problem? Please describe.**
It is difficult to deploy Minio in environments where you are not root and have no control over hostnames due to the elipsis string.

**Describe the solution you'd like**
It would be great if you could simply define each disk explicitely rather than by using the elipsis formula which force's you to use a specific hostname pattern.

[2021-03-10 15:34] pauloinho opened #11757 "Objects expire 7days"
Hi,

I have a freenas server and I enabled the S3 service and I got Minio.

My question is: How do I change the sharing of my videos, because it is limited to 7 days.

It's the first time that I'm using this service and I don't know how to do it

Thanks in advance

[2021-03-10 16:20] kannappanr commented on #11757
@pauloinho Pre-signed url is limited to 7 days. If you want to allow access for longer, the better way is to allow anonymous download access to that object/prefix. Please reach out to us https://slack.min.io for further such questions

[2021-03-10 16:20] #11757 closed

[2021-03-10 16:23] pauloinho commented on #11757
Hi kannappanr

Thans for quick responding

The goal is to upload some videos to the bucket and then watch them streaming during the year

How do i allow anonymous download access to that object/prefix?

[2021-03-10 17:23] lyndon160 opened #11761 "Using Minio with Auth0 behind an auth proxy. Policy claim missing from the JWT"
I am attempting to login to Minio behind a reverse proxy which already authenticates the user. This proxy forwards the token in the Authorisation header. This appears to be picked up by minio as it ends up as a request parameter after attempting to login. Currently, I'm only interested in using the basic policies that are default in minio's deployment. The example I'll be working with is `readonly

[2021-03-10 17:37] harshavardhana commented on #11756
You can construct your own distribution order using `MINIO_ENDPOINTS`  environment value.

If you use that environment you are on your own and you need to make sure to order disks properly on command line to provide better HA.

[2021-03-10 17:37] #11756 closed

[2021-03-10 17:40] harshavardhana commented on #11761
Can you paste your JWT? Obtained from auth0 ?

[2021-03-10 17:43] lyndon160 commented on #11761
JWT payload

[code]

[2021-03-10 17:46] harshavardhana commented on #11761
Try with CLAIM_NAME=https://min.io/policy ?

[2021-03-10 19:06] lyndon160 commented on #11761
I've just tried all of the following (not all at once)

[code]
Unfortunately, this still shows the same error.

[2021-03-10 20:06] harshavardhana commented on #11761
I Will check and get back @lyndon160 - Can you perform `curl -X POST endpoint -d "Action=AssumeRoleWithWebIdentity&DurationSeconds=3600&WebIdentityToken={auth0JWTToken}&Version=2011-06-15" ` does it return anyhting?

[2021-03-10 23:53] TheEdgeOfRage opened #11764 "Unable to set new lifecycle rules: `SetLifecycle` is not supported for `filesystem`."
## Expected Behavior
I want to set a lifecycle configuration to delete old versions of objects in a bucket.

## Current Behavior
I'm try to apply the following configuration:

[code]
But I get this error:

[code]

I'm running Minio in a Docker container using ZFS as the storage driver and root fs on the host. I assume that the error means that the host filesystem is not compatible with the lifecyc

[2021-03-10 23:56] harshavardhana commented on #11764
You need first create an alias using `mc alias set ...` and then apply the lifecycle ..

[2021-03-11 00:07] TheEdgeOfRage commented on #11764
Oh god, I have the alias named on thing on one PC and another on a second computer, so I mixed them up. It never occurred to me that the error means that it's trying to do it on the local filesystem instead of a Minio bucket. Thought it would be nice if the error were a bit clearer on that.

Thank you

[2021-03-11 00:07] #11764 closed

[2021-03-11 01:53] harshavardhana commented on #11761
Looks like your ENV is wrong @lyndon160

It should be

Also, you shouldn't set `MINIO_IDENTITY_OPENID_CLAIM_PREFIX` if you have `MINIO_IDENTITY_OPENID_CLAIM_NAME` set.

I just tried with auth0 works perfectly fine

[code]

With a custom rule

[code]

User metadata
[code]

Try it with

[code]

[2021-03-11 01:53] #11761 closed

[2021-03-11 10:08] lyndon160 commented on #11761
Hi @harshavardhana thanks for spotting that. I appreciate you testing this with Auth0.

Looks like it's now correctly picked up by minio. However, I still get a similar error (but with the correct claim):

[code]
My implementation in auth0 is identical to yours. And the payload of my token as shown above looks correct, effectively requiring a top level claim that looks like:
[code]

I've tried you

[2021-03-11 10:32] lyndon160 commented on #11761
Update:

Ok, I've tested this setup in a different environment (not protected by a reverse proxy that adds an authorization header) and it works as expected.

I'll post back if and when I come up with a full solution for my use case. Thanks for your help @harshavardhana!

[2021-03-11 11:52] lyndon160 commented on #11761
After further testing, I've found that the issue is not related to the reverse proxy setup I am using, but a configuration difference between the two test configurations I have been using. One was using a local store, which worked, and the other was connecting to an Azure blob.

I seem to be able to get this working this:

[code]

I can login with OIDC and the policy I have applied to the user is

[2021-03-11 13:24] trenta3 opened #11768 "Build fails for 32bit linux/mips and linux/mipsle"
**Is your feature request related to a problem? Please describe.**
Minio fails to compile for 32bit linux/mips and linux/mipsle architectures.
[code]

**Describe the solution you'd like**
I know these architectures are not supported out of the box but it would be great if the code compiles effortless also for these 32bit architectures, especially since other 32bit arch already work.
A couple of su

[2021-03-11 13:37] klauspost commented on #11768
@trenta3 Please send in a PR and we can quickly add it if it checks out.

[2021-03-11 16:18] lyndon160 commented on #11761
I now see that running it in Gateway mode you need to use ETD. Works now as expected now. RTFM!

[2021-03-11 16:38] jyn514 opened #11769 "min.io no longer allows listing files with a percent sign"
## Expected Behavior

Listing a file with `%25` in the URL should work correctly (note that %25 decodes to `%`). As of a few releases ago (docker iamge 5f9dddcc548c), this was the case.

## Current Behavior

Since the latest minio docker image (23d8594aefa1) was released, it gives an error when trying to delete the file:
[code]

## Possible Solution

Allow listing files containing `%`.

## Steps t

[2021-03-11 17:44] harshavardhana commented on #11761
If you use gateway @lyndon160 you need to enable etcd

[2021-03-11 21:57] #11769 closed

[2021-03-12 00:28] harshavardhana commented on #11768
NOTE: using 32bit architectures is going way too backpedalling - you can't run anything serious for today's workloads. We would be happy to fix the build here.  But clearly, you are better off spending time and resources on a 64bit architecture.

[2021-03-12 08:15] sjn939394630 opened #11771 "please make sure all servers are running the same MinIO version"
## Current Behavior

I have three server make up one minio-cluster, each server have two mount disk. Startup reported the following error

minio start.sh

## Your Environment

* Version used (`minio --version`): RELEASE.2021-03-12T00-00-47Z
* Server setup and configuration:
* Operating System and version (`uname -a`): Linux ecs-31bc-0002 4.4.0-197-generic #229-Ubuntu SMP Wed Nov 25 11:05:42 UTC 20

[2021-03-12 08:20] trenta3 commented on #11768
@harshavardhana I know, I'm just using it to provide a better view of the internal storage of some embedded hardware.
Not doing anything serious with that.

[2021-03-12 08:41] trenta3 commented on #11768
@klauspost Should I add the two new architectures to the crosscompile script?

[2021-03-12 09:28] vadmeste commented on #11771
@sjn939394630 are you sure that you are running the same exact version in all your nodes ?

[2021-03-12 09:33] sjn939394630 commented on #11771
@vadmeste yep.I am sure that the three server are running the same exact version RELEASE.2021-03-12T00-00-47Z

[2021-03-12 09:34] vadmeste commented on #11771
Is this your first time running MinIO server ?

[2021-03-12 10:22] sjn939394630 commented on #11771
It's the first time on the three server.

[2021-03-12 10:38] csbarry commented on #11704
We have managed to expunge the offending files from the back end, by stopping minio and then deleting the files off the disks and starting Minio up again.
This has allowed us to unblock the problems that were preventing us moving forward with Minio POC.

[2021-03-12 11:19] mostafa8026 commented on #11205
I'm having same problem. how can I enable this extra debug? when I pull this image, it fails.

[2021-03-12 11:20] klauspost commented on #11768
@trenta3 `s390x` is 64 bits, right?

We don't expect to support 32 bit systems and you are likely to run out of memory if you do. You are welcome to send the fixes to make it compile, but we are not going to go out of our way to keep it like that.

Send the fixes to make it build, and we will take a look at it.

[2021-03-12 14:20] ToLToL opened #11774 "Add more labels for S3 metrics"
Hi,

Today `s3_requests_current` metrics have these labels:

[code]

We should add other labels to have something like `mc admin trace`

[code]

[code]

Thanks.

[2021-03-12 15:10] harshavardhana commented on #11771
This happens because your IP is not local to the node and most probably that's why its not able to register itself. Are you running inside AWS instances here?  - If you are running in cloud instances you need to use private IPs to talk to MinIO instances, not public IPs.

[2021-03-12 15:10] #11771 closed

[2021-03-12 15:11] harshavardhana commented on #11774
This is already re-implemented https://github.com/minio/minio/blob/master/docs/metrics/prometheus/list.md

[2021-03-12 15:11] #11774 closed

[2021-03-12 15:20] harshavardhana commented on #11768
the cross-compile test script already tests linux/arm and linux/386

[code]

[2021-03-12 15:53] ToLToL commented on #11774
Ok thanks.

I used the old endpoint to get metrics: `/minio/prometheus/metrics/cluster`

[2021-03-12 16:11] ToLToL commented on #11774
Even with the new version I don't have all the information that I have with `mc admin trace`:

[code]

Especially the request parameter to know which object / bucket was created or deleted by `PutObject`, `DeleteObject`, `DeleteBucket` etc...

ex:

[code]

I know that the `mario` bucket was deleted.

[2021-03-12 16:12] harshavardhana commented on #11774
We cannot provide such low level details with prometheus metrics, that will be bit too much, You need to enable audit logging to splunk or kibana for such monitoring.

[2021-03-12 21:27] nadilas commented on #11111
@frjonsen Do you know what `existingSecret` translates to after having the helm chart rendered? We are not using helm charts, but I would like to try your workaround. As this issue not only comes up during updates, but even if the whole cluster goes down at once.

[2021-03-13 02:48] harshavardhana commented on #11111
This issue has been sufficiently resolved, if there are repeated problems please open a separate GitHub issue for a newer set of discussions.

[2021-03-13 05:25] harshavardhana commented on #11506
[code]

[code]

[code]

[code]

[code]

and it seems to be up and running with the right set of credentials

[code]

This seems to be working fine.  Looks like you have some issue in your environment.

[2021-03-13 05:25] #11506 closed

[2021-03-13 05:58] YutaHiguchi-bsn commented on #11686
@harshavardhana Suppose client kept failing multi-part uploads, using timestamp based name, etc. which the name cannot be enumerated or guessed, only way to reclaim storage space will be to wait for 24 hours?

If so is there a way to trigger minio's cleaning task with shorter expiration e.g., older than 1 hour

[2021-03-13 06:01] WANGJUEYA opened #11778 "How to Copy, Move and Delete File Folder"
i wanna know how to copy, move and delete file folder.
there are some solution as follow
1. delete folder
use 'listObjects({recursive: true})' and 'removeObjects()'
2. copy folder
use 'listObjects({recursive: true})' and send multiple requests  'copyObject()'
3. move folder
copy and delete folder

could you support doing such operating
thank you very much

[2021-03-13 09:40] #11778 closed

[2021-03-13 15:30] 15laterals opened #11780 "minio client killed due to out-of-memory when using `mc copy`"
Running `mc cp -r my_data/ data/test/` starts out consuming 27 GB of memory, then increases to ~80 GB of memory for a period of time before finally taking off and consuming ~128 GB of memory resulting in the client being killed by `oom_reaper`.

## Expected Behavior
The `mc cp` operation should complete while using less than 128 GB of memory.

## Current Behavior
The `mc cp` operation consumes inc

[2021-03-13 17:39] harshavardhana commented on #11780
Set GOMAXPROCS=4 or something to avoid high memory usage when system doesn't have enough memory.

[2021-03-13 17:39] #11780 closed

[2021-03-13 17:40] harshavardhana commented on #11780
Also a duplicate of https://github.com/minio/mc/issues/3376

[2021-03-13 18:25] ifokeev commented on #11355
update helped me too, big thank

[2021-03-13 18:52] #11561 closed

[2021-03-14 00:09] godsey commented on #11119
@alisalmaji given you have 4 8TB drives, you should purchase an additional 2 servers and run 1 minio physical host with 1 physical 8TB drive as a single 8TB partition.

[2021-03-14 02:19] 15laterals commented on #11780
Thanks @harshavardhana , sure enough that works to prevent memory running away to the point that the `oom_reaper` has to come along and take care of things. That said, it seems surprising that even w/ `GOMAXPROCS=1` the `mc` client ends up using 50-60 GB of RAM, and that in the default condition (without setting `GOMAXPROCS`) it ended up exhausting 128 GB of RAM?

[2021-03-14 02:37] harshavardhana commented on #11780
Unfortunately we need memory for mc - we plan to fix it in time.. just set GOMAXPROCS for now.

[2021-03-14 10:22] ashishdocforce opened #11781 "InvalidArgumentError: Invalid port : 9000"
I am bit confused about minio s3 gateway. Do we required aws sdk when we are running the minio server with s3 gateway? My server started running and browsers is showing me the s3 buckets but I can't connect to the server through my node app. It is stating that port 9000 is invalid. Is that anything relevent to aws sdk or something else needs to be done here?

I have gone through the document of mi

[2021-03-14 21:07] ifokeev commented on #11355
nope, still hangs up

[2021-03-15 03:24] sjn939394630 opened #11784 "Storage backend has reached its minimum free disk threshold. Please delete a few objects to proceed."
## Current Behavior

I'm batching data to Minio-cluster, An error was reported when transferring to more than 80,000 files. Show Storage backend has reached its minimum free disk threshold, But my disk space is enough. /mnt/data1 and /mnt/data2 is the storage disk.

df -h

mc admin info cluster --json.

ls -l |grep "^d"|wc -l  on /mnt/data1/dwbcbucket/data is my object storage path

Why does mc sh

[2021-03-15 03:25] harshavardhana commented on #11784
You have ran our inodes @sjn939394630 `df -i`

[2021-03-15 03:25] #11784 closed

[2021-03-15 06:12] mailsmail opened #11785 "date_diff return different result than on AWS S3"
When calculating the difference of two date in month in select object content, date_diff return a different result compared to AWS S3.

For example, this query:

[code]

In MinIO (server mode) it will return **15**. But, in AWS S3 it will return **3**.

## Steps to Reproduce

Using AWS CLI, run:

[code]

## Your Environment
* Version used (`minio --version`): minio version DEVELOPMENT.2021-03-15T0

[2021-03-15 12:31] lmentary commented on #11756
To elaborate for those of you who came here on an archeological dig:

You must set MINIO_ERASURE_SET_DRIVE_COUNT and MINIO_ENDPOINTS to achieve this.

You must then declare a number of endpoints divisible by the drive count as this will represent each "cluster". so if you have 4 boxes (a, b, c, d) with 2 drives (/data-1, /data-2) and want to split EC evenly across the 4 boxes (one being all data1

[2021-03-15 13:02] #11768 closed

[2021-03-15 16:25] VoidAndAny opened #11789 "Permission denied when assign custom policy to user"
I used to create bucket with specific user and policy applied to this user and it doesn't work anymore, I can't apply policy to my user.
I recently upgrade from 2019-07-17 to 2021-03-12

I saw that syntax to apply policy has change, from one step in 2019-07-17 :
[code]
To 2 steps with 2021-03-12:
[code]

To be sure, I try with the exact example given in documentation

## Expected Behavior

Policy

[2021-03-15 16:27] harshavardhana commented on #11789
This looks like you have some backend permissions that have changed.

[2021-03-15 16:27] #11789 closed

[2021-03-15 16:31] VoidAndAny commented on #11789
Please can you guide me, where to search ?

[2021-03-15 16:34] VoidAndAny commented on #11789
Ok found it, `/var/lib/minio/.minio.sys/config/iam/policydb`belong to root instead of minio
Sorry for your time

[2021-03-15 19:34] sidsanders opened #11791 "minio gateway hdfs, doc update?"
while trying to get minio gateway for hdfs running, i used hdfs cli to get the proper namenode partial url to pass to minio as an override.
## Expected Behavior

## Current Behavior

## Possible Solution

doc perhaps could include running:
'hdfs getconf -nnRpcAddresses'
which should return namenode:port, which you can then use for an override (prepend hdfs:// to result)
## Steps to Reproduce (for

[2021-03-15 21:15] #11785 closed

[2021-03-15 23:38] AdeloreSimiloluwa opened #11794 "Failed to establish a new connection: [Errno 111] Connection refused"
Having issues connecting to my minio from jupyter notebook

# How to access MinIO
minio_address = "0.0.0.0:80"
minio_access_key = "--------"
minio_secret_key = "------"

minio_client = Minio(minio_address,
                    access_key=minio_access_key,
                    secret_key=minio_secret_key,
                    secure=True)

with open("text.txt" ,"w")as f:
  f.write("text run")

minio_c

[2021-03-15 23:41] harshavardhana commented on #11794
Make sure MinIO is running on port 80 or alternatively specify the port MinIO is running on "default is 9000"

[2021-03-15 23:41] #11794 closed

[2021-03-15 23:59] AdeloreSimiloluwa commented on #11794
I also used the default and got the same error

[2021-03-16 00:00] AdeloreSimiloluwa commented on #11794
i also used the default and got the same error @harshavardhana

[2021-03-16 02:13] sokui opened #11795 "MinIO cannot start server mode with scaleio PVCs: no such file or directory"
Since release RELEASE.2021-02-23T20-05-01Z, minIO cannot start the server mode (either standalone or distributed) with scaleio PVCs. The gateway mode is fine. The error message is as below:

[code]

## Expected Behavior
MinIO should support scaleio PVCs for server mode.

## Current Behavior
scaleio release: any release >= RELEASE.2021-02-23T20-05-01Z
pvc configuration:

[code]

start command and e

[2021-03-16 02:26] harshavardhana commented on #11795
We need O_DIRECT support on the drives, this looks like ScaleIO doesn't support what we want from a backend filesystem.

We recommend you use direct-csi instead https://github.com/minio/direct-csi provide us direct access to your drives.

[2021-03-16 02:26] #11795 closed

[2021-03-16 02:27] harshavardhana commented on #11794
You need to specify the IP of the server where your MinIO is running.

[2021-03-16 03:24] sjn939394630 opened #11796 "Why does Minio take up disk space much larger than the actual object size"
## Current Behavior

I use 6 50gb disks for Minio storage, Use the ext4 disk formatting method, specify a block size of 4kb corresponding to an iNode.During use, it is found that the disk space takes up a lot, which is much larger than the actual size of the objects in the cluster.What caused this problem?

/dev/vdb1 and /dev/vdb2 is the object storge disk.

## Your Environment

* Version used (`m

[2021-03-16 03:31] sjn939394630 commented on #11796
object size is 25mb, but the disk used 33gb

![image](https://user-images.githubusercontent.com/35216211/111251888-0e913a80-864b-11eb-9eaa-1b7194690830.png)

[2021-03-16 03:33] harshavardhana commented on #11796
MinIO uses inodes for xl.meta and part.1 files for its backend format - it's a design choice here @sjn939394630 - you should provide bigger disks

This is a really tiny disk and you also have a lot of junk data perhaps deleted objects at `/mnt/data1/.tmp/.trash`

[2021-03-16 03:33] #11796 closed

[2021-03-16 03:57] sjn939394630 commented on #11796
@harshavardhana Why is the number of files in the storage directory far greater than the number of cluster objects?

![image](https://user-images.githubusercontent.com/35216211/111253789-b825fb00-864e-11eb-903f-0fb5ef83c5bf.png)

![image](https://user-images.githubusercontent.com/35216211/111253853-d4c23300-864e-11eb-8382-c2c278359405.png)

[2021-03-16 04:07] harshavardhana commented on #11796
I don't know just do a `find` on your backend `/mnt/data1` and see the structure.  whatever it's doing - it's doing correctly. NOTE `mc admin info` output is not current output - it takes time for the disk scanner to update itself.

The correct value you should look at `df -i` and see your actual inode usage.

[2021-03-16 09:34] zapto2600 opened #11797 "Add a variable to limit the healing CPU usage."
When a heal operation due to a disk failure or node failure runs the CPU ramps to 100% across the nodes that are involved in the healing. This causes monitoring alarms to trigger and also stops commands like mc admin info, trace and console from running. Also Prometheus exports are not fully exported due to lower CPU time.  A small cluster of 5 million objects takes around 30 hours to heal and not

[2021-03-16 10:18] andreas-eberle opened #11798 "Document: Suggested / best file system to be used with local storage volumes on k8s"
We have set up a minio cluster on a k8s with 4 nodes with local storage volumes pointing to disks on the nodes. In our use case, we have to store a large number of small files (multiple millions of ~ 1kB in size).

Unfortunately, we weren't able to find documentation on what file system we should use for the disks the local storage volumes run on. It would be great to provide some information on w

[2021-03-16 10:34] klauspost commented on #11797
Controlling full disk healing speed is on the current roadmap.

It seems . You are welcome to send a 1 minute cpu profile while the healing is running and I can take a look.

[2021-03-16 10:38] zapto2600 commented on #11797
As per my original comment. The problem is that MC wont respond to get a profile.

[2021-03-16 15:29] harshavardhana commented on #11798
Our recommendation is always to use XFS on Linux @andreas-eberle - we don't specifically document it because that is a choice left to the user - MinIO is deployed in various environments with various degrees of requirements.

No we need a filesystem, we can't use raw block devices.

[2021-03-16 15:31] harshavardhana commented on #11791
I don't know what this issue is,  closing we automatically use Addresses available from Hadoop conf - if you don't have that you need to specify in the command args.

Closing this issue.

[2021-03-16 15:31] #11791 closed

[2021-03-16 16:33] klauspost commented on #11797
@zapto2600 As per my previous comment on your earlier issue you may have something on your system that eats CPU cycles, like a bad device driver, bad FS code or something similar. Having so much IO available that it can saturate an 8 core EPYC CPU is extremely improbable.

[2021-03-16 16:37] zapto2600 commented on #11797
We only see this behaviour when healing.

[2021-03-16 17:59] sidsanders commented on #11791
there wasnt an issue.  it was an item for doc on setting the params for the gateway.

[2021-03-16 18:14] eco-minio opened #11802 "ldap configuration shows multiple fields for lookup_bind_password="
Checking config for identity_ldap shows repeated valued
## Expected Behavior

Config returned should not have duplicate values
## Current Behavior

[code]
## Possible Solution

Unknown but `mc admin config reset identity_ldap` gets rid of duplicate values
## Steps to Reproduce (for bugs)

Unsure how it gets to this state initially, but when it gets to that state it can be seen with `mc admin confi

[2021-03-16 23:55] sokui opened #11803 "MinIO cannot start if Kubernetes ignores image defined volume"
The previous [issue](https://github.com/minio/minio/issues/11795) was closed saying that the "no such file or directory" error was caused because of the scaleio storage class not supporting O_DIRECT, which is not true.

By looking into the code, we found this [line](https://github.com/minio/minio/pull/11593/files#diff-cb4cee4695258370409a556cdfe6ff136327f5d8e60edf2cdcb3b19d02ebfd31R237) of the PR

[2021-03-16 23:58] harshavardhana commented on #11803
Why are you turning this off @sokui ? and we need this information to look for root disks inside kubernetes, turning this off leads to situations where we might be writing to container root disk instead of your actual drive.

We need this additional information to detect this.

[2021-03-16 23:58] #11803 closed

[2021-03-17 01:31] efritz opened #11804 "expected element type <LifecycleConfiguration> but have <BucketLifecycleConfiguration>"
## Expected Behavior

`PutBucketLifecycle` requests accepted by S3 are also accepted by MinIO.

## Current Behavior

MinIO rejects PutBucketLifecycle requests constructed via the [Go SDK v2](https://github.com/aws/aws-sdk-go-v2/). These requests work without error targeting S3.

The following payload is not accepted by MinIO to `PUT /{bucket}?lifecycle=`:

[code]

## Possible Solution

I'm too unf

[2021-03-17 01:36] harshavardhana commented on #11804
If all the engineers had one job never break APIs.

[2021-03-17 01:42] eseliger commented on #11804
The AWS documentation is also not really helpful here, there's [this page about BucketLifecycleConfiguration](https://docs.aws.amazon.com/AmazonS3/latest/API/API_BucketLifecycleConfiguration.html) which links to [a page about managing storage lifecycle](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lifecycle-mgmt.html), which then links to the [PUT request](https://docs.aws.amazon.c

[2021-03-17 01:59] harshavardhana commented on #11804
Try this on your end? @eseliger

[code]

You need to compile master branch.

[2021-03-17 07:04] #11798 closed

[2021-03-17 07:05] harshavardhana commented on #11798
@ravindk89 can this be covered in our new docs?

[2021-03-17 09:33] sytolk opened #11806 "STS Service LDAP.go example cannot run - undefinded minio module"
The problem is in this line:
https://github.com/minio/minio/blob/master/docs/sts/ldap.go#L27

My GO version: 1.16.2

It works like this:
[code]

This is the ldap.go output:
[code]
I see that there is a temp secure key && secret keys but Calling list objects with temp creds is not ok. Maybe the problem is in ListObjects() impl ?

[2021-03-17 10:05] andreas-eberle commented on #11798
Thanks @harshavardhana. I think this would be a good thing to be added to the docs. You might add it with a "we allow everything but XFS is often used"-disclaimer.

[2021-03-17 10:09] sytolk commented on #11806
I have try to login with received access and secret keys in web minio but without success.. what is the problem?
![image](https://user-images.githubusercontent.com/1415463/111450785-6b5b2680-8719-11eb-8d70-c3c857d387a8.png)

[2021-03-17 10:19] harshavardhana commented on #11806
you can't use LDAP creds with browser it won't work

You need to change this code to point to something meaningful such as an actual bucket. Running the code as is copy pasting is meaningless.

[2021-03-17 10:19] #11806 closed

[2021-03-17 10:49] sytolk commented on #11806
@harshavardhana you proposed very interesting fix for this issue :) to close it.. but its not clear now who will make a PR with changes here:
https://github.com/minio/minio/blob/master/docs/sts/ldap.go#L27

and here:
https://github.com/minio/minio/blob/master/docs/sts/ldap.go#L78
yes I see now from docs that the parameter two of the ListObjects() is the bucketName.. but have not to see the reason

[2021-03-17 10:54] harshavardhana commented on #11806
That's just an example not meant for you to copy-paste - write relevant code to understand how it works - https://github.com/minio/minio/blob/master/docs/sts/ldap.md

[2021-03-17 12:28] mkpavilion opened #11810 "minio server heals data into root disk mountpoint dir when the external drive go down"
I am using minio distributed object store with below setup info.
minio version RELEASE.2021-01-16T02-19-44Z
EC set 1 of size 16 with parity N-2; Minio nodes are 4 and total 16 NVMe SSDs;
So each node is hosting 4 Minio logical drives (mountpoints). Node is in docker container form running minio instance.

In this scenario, after putting some buckets/objects into the object store, if 1 or 2 drives

[2021-03-17 12:35] sytolk opened #11811 "STS API always return XML"
I have make POST request to STS API with header `Accept: application/json` but XML is returned from the API
https://github.com/minio/minio/blob/master/docs/sts/ldap.md#sample-post-request

[code]

[2021-03-17 12:57] zapto2600 opened #11815 "http: TLS handshake error"
We are seeing a high volume of errors in the logs that are masking other issues.

http: TLS handshake error from 10.*.*.*:41212: write tcp 10.*.*.*:443->10.*.*.*:41212: write: broken pipe

This is repeated for all IP's within the cluster.

## Expected Behavior
More verbose error pointing to where the issue is.

## Current Behavior
Log spew.

## Context

We followed the MinIO Docs to implement the

[2021-03-17 13:07] klauspost commented on #11815
Upstream closes the connection, we don't know more than that. If you need more detailed assistance look into our [subscription options](https://min.io/pricing).

[2021-03-17 13:07] #11815 closed

[2021-03-17 13:17] zapto2600 commented on #11815
The "upstream" is being closed by the other MinIO nodes as per thread. Not an upstream application.

[2021-03-17 13:28] klauspost commented on #11797
@zapto2600 Could you post the CPU features `cat /proc/cpuinfo` should be fine for now in the environment that runs the server.

I am wondering if CPU features could be disabled. As mentioned there is no way healing should be taking this much CPU.

[2021-03-17 13:53] klauspost commented on #11815
@zapto2600 If it is inter-server connections that are producing this error something is definitely fishy in the setup. These should rarely, if ever, happen.

You should check your network setup and investigate for packet loss or other problems. Maybe do TCP captures and see if you can identify the problems.

[2021-03-17 13:56] efritz commented on #11804
@harshavardhana The Go script no longer crashes when running `main` with this diff. I'm not sure how to check the lifecycle of the bucket from the UI to see if it was applied properly, though.

[2021-03-17 13:57] zapto2600 commented on #11797
So it looks like when the cluster is stopped and started for the first time (ie after a upgrade or a problem) its doing its checks this is when we mainly see the behaviour and causes the cluster to be unstable and unresponsive for hours. This isnt a problem on clusters with a lower object count. (with the same configuration).

R_await is < 0.12 w_await is 0.51.

`flags: fpu vme de pse tsc msr pae

[2021-03-17 14:02] efritz commented on #11804
Using mc doesn't yield much help, either.

[code]

[2021-03-17 14:25] csbarry commented on #11815
@klauspost It seems that these errors only ramp up during a healing process where the nodes communicate to each other, is there a way of putting minio into debug mode so that we can look at more information?.
Networking looks fine, we've done some tcpdump and there are no packet drops, all minio servers are on the same vlan so theres no firewall issues.

[2021-03-17 14:27] ravindk89 commented on #11798
@harshavardhana yeah, I've been trying to curate something like this [Production Recommendations](https://docs.min.io/minio/k8s/reference/production-recommendations.html) page, and that seems like a good spot as any for noting XFS.

@andreas-eberle I'll also add a note to [this section of our primary K8s deployment tutorial](https://docs.min.io/minio/k8s/tutorials/deploy-minio-tenant.html#b-create

[2021-03-17 14:54] klauspost commented on #11797
Yeah, with `avx2` it should be fine. My guess is that your NIC or something in your network setup is eating system resources.

There is no way healing alone can cause this CPU load, and it ties in with your other problems. Maybe try without TLS and see if that makes a difference.

[2021-03-17 17:39] harshavardhana commented on #11810
This is fixed in recent releases @mkpavillion

[2021-03-17 17:39] #11810 closed

[2021-03-17 17:41] harshavardhana commented on #11811
@sytolk STS API is an AWS STS API so it is always XML  -> "application/json" is not meaningful  here.

[2021-03-17 17:41] #11811 closed

[2021-03-17 18:54] sytolk commented on #11811
@harshavardhana is this means that STS API is closed source and cannot be changed?

[2021-03-17 19:03] harshavardhana commented on #11811
STS API is based on this https://docs.aws.amazon.com/STS/latest/APIReference/welcome.html and it will always be XML - I don't know what is closed source here.

All the code is available at https://github.com/minio/minio

[2021-03-18 07:17] sytolk commented on #11811
@harshavardhana  maybe AWS use 15 years old SOAP web service that always return XML.. but if minio use REST API for STS you can easy convert XML output to JSON based on client `Accept:` header:

https://docs.oracle.com/cd/E50245_01/E50253/html/vmapi-rest-mediatype.html

And this will not break AWS specification

[2021-03-18 07:35] harshavardhana commented on #11811
Sorry @sytolk this is beyond our scope.

[2021-03-18 07:39] sytolk commented on #11811
Ok but can you accept PR for this? I see that minio use this lib for STS API https://github.com/gorilla/mux and I think its easy to create writeSuccessResponseJSON function on Endpoints like this: https://github.com/minio/minio/blob/master/cmd/sts-handlers.go#L258
and switch based on client Accept: header

[2021-03-18 07:41] harshavardhana commented on #11811
@sytolk no as I said it is out of scope - we don't wish to deviate away from AWS APIs especially at the protocol level.

[2021-03-18 07:44] sytolk commented on #11811
Ok i will write this issue to AWS :)

[2021-03-18 09:17] marnec opened #11823 "fGetObject returns undefined but downloads file"
I'm writing an API that should let users download files. I'm using the `fGetObject()` functions. its return value is `undefined` but the file is downloaded
## Expected Behavior
`fGetObject()` should return a promise of file

## Current Behavior
`fGetObject()` returns undefined but downloads file

## Context
NestJS backend with MinIO for file managing

## Your Environment

* minio version 7.0.18
*

[2021-03-18 11:58] Druckles opened #11824 "Multipart download fails on some content"
## Expected Behavior

I have a ZIP file in a folder:

[code]

Downloading the entire folder using the AWS SDK for Java has worked flawlessly till now, i.e.

[code]

The folder is downloaded with the contained file and no exception is thrown.

## Current Behavior

However, since RELEASE.2021-01-30T00-20-58Z, MinIO appears to stop sending the entire file:

[code]

The MinIO trace logs (using `mc adm

[2021-03-18 12:37] klauspost commented on #11824
@Druckles

* Are there any errors printed in any of the server logs?
* Your setup, commandline used, etc.
* Is all AV checking/HTTP snooping "cloud protection" software disabled?  << This is my primary suspect.
* Does it fail when client is downloading from another machine?
* Do you use encryption and/or compression on the server?

[2021-03-18 13:33] marcown opened #11826 "Access PresignedUrl generated in docker-compose network"
Hi there,

I want to use a docker-compose setup locally using multiple services and minio.  The docker-compose file looks like this

[code]
 the nginx conf file is the one provided by minio for running minio in docker-compose

Now the problem is the following:

We have a GraphQL Server as one of the services in the docker-compose, when a frontend wants to get the images it will get a GraphQL resul

[2021-03-18 14:04] Druckles commented on #11824
Sorry, I forgot to add the logs and have updated the above post. There was nothing untoward in any of them.

If you mean MinIO setup, mine is run using Docker Compose in a Linux VM:

[code]

But as mentioned above, it's also run standalone and as a service in Windows.

* Just disabled all antivirus and protection software and reran the above example. It still failed.
* It fails when downloading fr

[2021-03-18 14:26] dysonfrost opened #11827 "Unable to start a dockerized Minio Gateway in SSE-C mode"
## Expected Behavior

I'd like to use Minio Gateway with single encryption (SSE-C) at the gateway. The gateway should encrypt the data then pass it to a S3 compatible bucket (Backblaze), using the following environment variables:

[code]
Minio should start and I expect to see this output:
[code]

I don’t have KES or KMS configured, just the gateway and my s3 backend. I understand that SSE-C doesn’

[2021-03-18 15:10] butsjoh commented on #11827
There seems to be no clear documentation about it so it is actually also not clear if it should be still used this way or not ...

[2021-03-18 16:24] oiar commented on #11325
Hello，I've a question about minio tenant expand. I learned that we can extends the total capacity of a MinIO Tenant by adding a new Pool, but this is just an expansion on the basis of a cluster. What should I do if I need to increase node more than 32 ? Should we add a new cluster or ignore the number of nodes in a cluster? I will be very grateful if I can receive your reply.

[2021-03-18 16:27] harshavardhana commented on #11824
@Druckles please upgrade and let us know.

[2021-03-18 16:29] harshavardhana commented on #11826
You need to generate URL where the client is going to access the content from for presigned URL.

[2021-03-18 16:29] #11826 closed

[2021-03-18 17:37] harshavardhana commented on #11827
You can't enable these features without enabling KMS - this feature is meant for encrypting content at gateway layer

For docs
https://github.com/minio/minio/blob/master/docs/gateway/s3.md#run-minio-gateway-for-aws-s3-compatible-services

[2021-03-18 17:37] #11827 closed

[2021-03-18 17:44] marcown commented on #11826
Thanks for the kind and detailed answer. Also very kind of you showing me alternatives and giving tips what to do instead of.

[2021-03-18 17:51] floodico opened #11829 "Minio starts in terminal fine but not in systemd service"
Actually server started too, but seems that `ExecStart` has't received no exit status. So, in my monitoring system this service shown as failed
<img width="835" alt="Screenshot 2021-03-18 at 19 36 05" src="https://user-images.githubusercontent.com/12949777/111672472-abf29700-8822-11eb-9cec-dfb7d582d3de.png">

[2021-03-18 17:54] harshavardhana commented on #11829
There is nothing in the issue that you reported for us to help

- You removed the entire issue template
- You are pasting a screenshot and there is nothing specific that you are asking here
- There is no version information shared.

Closing this issue as incomplete

[2021-03-18 17:54] #11829 closed

[2021-03-18 17:56] Druckles commented on #11824
Just pulled the latest image I could find (17.3.21 2:33) and ran my test again. The same error is thrown:

![image](https://user-images.githubusercontent.com/9626712/111673702-88781e00-881b-11eb-8dd8-8e2acdd5f64b.png)

[code]

[2021-03-18 18:03] harshavardhana commented on #11824
how do you know the part numbers here? @Druckles

[2021-03-18 18:21] Druckles commented on #11824
I'm sorry, I'm not sure I entirely understand the question. This is the error from the AWS SDK. I don't know which part exactly it's referring to. It is strange that it expects 36 MB (the full size of the document) but only receives 5 MB (the size of the part).

[2021-03-18 18:22] harshavardhana commented on #11824
Because its trying to download part by part.

[2021-03-18 18:58] AaronFriel opened #11830 "Kudos"
Hey, just want to say that in a few years of running minio OSS in production, we haven't had to think about it beyond occasionally bumping the version number on the image.

Software that just does one thing really simply, really well. Who knew it was possible!

Please give my thanks to the founders and maintainers.

[2021-03-18 21:42] butsjoh commented on #11827
@harshavardhana The point we are trying to make is that we dont't get the "ERROR Unable to start gateway with SSE: MINIO_GATEWAY_SSE set but KMS is not configured" if we specify a MINIO_SSE_MASTER_KEY. So that means something is working without enabling KMS. And that is nowhere to be found in the documentation. The only reference we found was in the code here https://github.com/minio/minio/blob/20

[2021-03-18 21:42] harshavardhana commented on #11827
MINIO_SSE_MASTER_KEY is your KMS its a test KMS with the single master key @butsjoh

[2021-03-18 21:44] butsjoh commented on #11827
So it should only be used for test purpose then i guess and in production you should have a KMS setup through KES?

[2021-03-19 00:54] armsby opened #11833 "mc admin trace missing client info in ipv6"
## Expected behavior
that I would see the full IPv6 address of the client not only the first segment

## Actual behavior
I only see the first segment, witch makes it useless

## Steps to reproduce the behavior
simple trace mc admin trace --json
## mc --version
mc version RELEASE.2020-11-17T00-39-14Z

{
 "status": "success",
 "host": "minio",
 "time": "2020-11-24T17:10:06.901280106Z",
 "client": "2

[2021-03-19 01:03] harshavardhana commented on #11830
Thanks for your kind words @AaronFriel

[2021-03-19 01:03] #11830 closed

[2021-03-19 01:10] amyspark commented on #9847
Ran into this while trying to download minio to a GitLab CI pipeline on France (OVH). I had to use Alpine edge and download their release.

[2021-03-19 05:18] #11804 closed

[2021-03-19 07:26] ToLToL commented on #10426
Hi @harshavardhana,

I have exactly the same error on `2021-02-19T04:38:02Z`:

[code]

It should be fixed in  #11620 on `RELEASE.2021-02-24T18-44-45Z` right?

[2021-03-19 07:27] ToLToL commented on #10426
Cache is disabled btw.

[2021-03-19 09:38] floodico commented on #11829
it worked after I removed `Type=forking` from the systemd script. @harshavardhana Thanks for your quick response ;)

[2021-03-19 09:40] ebozduman opened #11836 "Vulnerability warning for unmaintained module "github.com/dgrijalva/jwt-go v3.2.0+incompatible""
I noticed there is a vulnerability warning for `github.com/dgrijalva/jwt-go v3.2.0+incompatible` module.

![Selection_038](https://user-images.githubusercontent.com/24552332/111760842-68b51a00-885c-11eb-919e-247fec52e09f.jpg)

It needs to be upgraded or replaced.

There is a communication about this subject and what can be done at `https://github.com/datawire/ambassador/issues/3122` with some advi

[2021-03-19 10:59] klauspost commented on #11833
Transfer (to `minio/mc` I suppose) stuck?

[2021-03-19 13:06] eseliger commented on #11804
Thank you @harshavardhana for the quick turnaround time for getting this fixed!

[2021-03-19 16:09] harshavardhana commented on #11833
No I moved it back this needs a server fix I think.

[2021-03-19 16:13] harshavardhana commented on #10426
This is fixed @ToLToL

[2021-03-19 16:14] ToLToL commented on #10426
Ok thanks

[2021-03-19 17:37] apiszcz opened #11837 "Windows server startup: Error: could not read /proc: CreateFile /proc: The system cannot find the file specified. (*errors.errorString)"
Is there a method to debug my problem?

--
[code]

[2021-03-19 18:09] harshavardhana commented on #11837
@apiszcz which version of MinIO is this ?

[2021-03-19 18:14] apiszcz commented on #11837
minio.exe version RELEASE.2021-03-17T02-33-02Z

[2021-03-19 18:27] apiszcz commented on #11837
When I restart minio as administrator there is no error message.

[2021-03-19 20:39] apiszcz commented on #11837
Update the error is caused by using promotheus and the end point /minio/v2/metrics/cluster
The /minio/v2/metrics/node end point does not produce the error message.

[2021-03-19 20:46] harshavardhana commented on #11837
this looks like there is some /proc access that is failing can you paste the error once more with 03-17 release? @apiszcz

[2021-03-20 00:20] tongpu opened #11839 "All parts reported as corrupt after an update, but no issues reported by heal"
## Expected Behavior
MinIO should not report existing files as corrupt after an upgrade.

## Current Behavior
After an update to RELEASE.2021-03-17T02-33-02Z the logs show a lot of entries like the following. According to the log all parts of the file are corrupted, but the data is being returned by e.g. `mc cp` without error and `mc admin heal --scan deep --recursive --dry-run example01` doesn't

[2021-03-20 00:23] harshavardhana commented on #11839
@tongpu is it listing these all the time?

[2021-03-20 00:28] tongpu commented on #11839
It's been showing files as corrupted since the upgrade this morning. According to a quick grep over the log files it seems like it's at least not reporting it multiple times per file, so auto-heal might kick in after the file is being reported as corrupted once.

[2021-03-20 00:33] harshavardhana commented on #11839
So it is basically healing them @tongpu automatically - the error message is just printed and should be avoided since it was able to successfully heal them.

They were indeed corrupted - i.e some blocks not all the object.

[2021-03-20 00:43] tongpu commented on #11839
I just found an example in the logs of a file that was reported multiple times:
[code]
The different PIDs are because we had to restart the daemons, because we're also facing issues with an unkown process (probably the healing) filling our disk, because `.minio.sys/tmp` is growing very quickly.

[2021-03-20 00:49] harshavardhana commented on #11839
It will get cleaned up every 10minutes @tongpu - we have delayed deletes so that are being put into `.minio.sys/tmp/.trash`

[2021-03-20 03:42] tongpu commented on #11839
It's not `.minio.sys/tmp/.trash` that's filling the disk, it's files like `.minio.sys/tmp/$UUID1/$UUID2/part.1` that are using most of the disk space.

Additionally I just realized that the way that data is persisted on disk is different for new uploads and older data. New data uses the file name `bucket/object/$UUID/part.1` for the part, but old data doesn't have the additional UUID directory and

[2021-03-20 03:45] harshavardhana commented on #11839
Of course that is MinIO writes are you saying that your uploads are not finishing?

This is the actual objects that are getting uploaded.

[2021-03-20 03:45] harshavardhana commented on #11839
We cannot do that you need to overwrite it.

[2021-03-20 03:54] tongpu commented on #11839
No, the uploads are working fine. We haven't encountered any problems with uploads yet. I don't think that we have enough uploads on this system use 20GB in 2 hours, but that's not important right now.

Ok, I already tried that with one of the buckets using the following command and it fixed the on-disk format.
[code]

[2021-03-20 09:52] tongpu commented on #11839
Overwriting all the data seems to have fixed the issue with corrupted parts being reported. I'm going to monitor the logs for the next days and going to close the issue if this fixed the issue in the end.

[2021-03-20 09:54] harshavardhana commented on #11839
Thanks for the report, going to close anyways - let's reopen if you see it again.

[2021-03-20 09:54] #11839 closed

[2021-03-21 05:18] harshavardhana commented on #11836
Okay so I looked at it, it's not a vulnerability that we are worried about.

Since we handle the validation part of audience manually as a custom code that circumvents the bugs in jwt-go library - so we have no reason to move to another dependency.

So we are good - this is a harmless warning we can ignore.

[2021-03-21 05:18] #11836 closed

[2021-03-21 05:20] harshavardhana commented on #11704
We couldn't reproduce it and we haven't seen any reports elsewhere.

Closing this as a non issue at the moment.

[2021-03-21 05:20] #11704 closed

[2021-03-21 05:21] #11502 closed

[2021-03-21 05:24] harshavardhana commented on #11447
@aead @klauspost are you still planning to send PRs for the remaining failures in mint ?

[2021-03-21 05:26] harshavardhana commented on #10178
This issue has been long stale and there is no easier way to add deadlines.

We have for now done enough optimization at the storage layer and we do not need to do this - as there are cleaner ways to do this.

[2021-03-21 05:26] #10178 closed

[2021-03-21 12:46] eocron commented on #9865
How about m3u8 hls video files?
They are served by using this relative structure:
http://foobar/master.m3u8
http://foobar/master.m3u8/p360/index.m3u8
http://foobar/master.m3u8/p360/index.m3u8/seg_0.ts
http://foobar/master.m3u8/p360/index.m3u8/seg_1.ts
http://foobar/master.m3u8/p360/index.m3u8/seg_2.ts
...

and there is no way to override this behavior.

[2021-03-21 14:06] eocron opened #11846 "Bucket is not downloadable"
## Expected Behavior
I should get object by it's unique uri, i.e: http://localhost:3345/foobucket/myobject.txt

## Current Behavior
no access to object by simple GET uri in Postman
Instead, it return browser html:

[code]

## Steps to Reproduce (for bugs)

Use AWSSDK.S3 from nuget in C# and try to create bucket with public read:

            if (!await _client.DoesS3BucketExistAsync(_configuration

[2021-03-21 16:44] harshavardhana commented on #11846
You need to make your bucket public using bucket policy.

ACLs are legacy and we do not support them.

[2021-03-21 16:44] #11846 closed

[2021-03-21 16:49] harshavardhana commented on #9865
There is no way, we may support in future but not right now.

[2021-03-22 08:25] dayiguizhen opened #11850 "minio or s3fs not parallel upload small file"
I'm deploy minio(4 node, 2 compute with 4 disk) using docker swarm.
the docker-compose file is below.

[code]

Then, I use s3fs mount minio to local.

`s3fs -o passwd_file=/etc/.passwd-s3fs -o url=http://10.42.0.115:9001 -o allow_other -o sigv2 -o nonempty -o no_check_certificate -o use_path_request_style -o umask=000 -o parallel_count=100 -o multipart_size=100 -o max_write=131072 -o big_writes -o

[2021-03-22 08:28] harshavardhana commented on #11850
This is not a MinIO problem @dayiguizhen 512K objects are written in single Put-call from s3fs - you can't expect local or NFS like performance with s3fs.

You should use MinIO REST APIs directly instead of s3fs.

[2021-03-22 08:28] #11850 closed

[2021-03-22 09:06] dayiguizhen commented on #11850
Thx.I want use mino like local fs, so I have to use s3fs instead of MinIO REST APIs directly.

Another question, I use mc test minio cluster speed.
This is result.
![企业微信截图_20210322165255](https://user-images.githubusercontent.com/9543865/111964177-4a3a7180-8b2f-11eb-9f08-76859065120f.png)

I already change my sysctl.conf follow [sysctl.sh](https://github.com/minio/minio/blob/master/docs/deploymen

[2021-03-22 15:13] AH012 commented on #9256
Same issue. Any news on how to fix it ?

[2021-03-22 18:11] teward opened #11853 "[CONTRIB/META] Debian/Ubuntu APT Packaging of MinIO"
This is not a standard feature request as there is no 'meta' category for things, more that I would like to assist MinIO in getting the programs into distribution repositories for Ubuntu or Debian, or at least help smooth the process over and provide the framework and necessary support to help keep it updated in a repository.

Firstly, some relevant background here on *me* so you know this isn't j

[2021-03-22 21:05] ravindk89 commented on #11853
Hi @teward

Thank you for this feature request, and for the offer to help in its implementation. We do provide deb/rpm packages for `minio` and `mc` for download, with download and installation instructions on our [Downloads](https://min.io/download#/linux) page. We also have planned updates to our documentation for highlighting the deb/rpm installation route. We believe this meets the needs of us

[2021-03-23 06:51] marchdaisy opened #11857 "s3 client out of memory when uploading small files with high concurrency when deploying minio with a network-file backed mounts"
## Expected Behavior

I use aws-sdk-go s3 client to upload 50000 small files (about 300 bytes) with concurrency 80, deploying the minio server with distributed mode. When the storageclass for pvc is network-file (with Provisioner:fuseim.pri/ifs), the client pod (configured with memory limit 2Gi, and cpu limit 3000m) will be killed due to out of memory. But when the storageclass for pvc is network-

[2021-03-23 07:47] klauspost commented on #11857
The server does not affect client memory usage. You need to file a bug on the `aws-sdk-go` package.

[2021-03-23 07:47] #11857 closed

[2021-03-23 08:31] marchdaisy commented on #11857
@klauspost Just wondering, is there some benchmark test for minio with backed network-file and network-block? Is there a possibility that the request messages are pending in client due to the slow response of minio server with network-file.

[2021-03-23 09:47] klauspost commented on #11857
@marchdaisy See https://github.com/minio/warp for benchmarks.

[2021-03-23 13:18] dwagelaar commented on #11353
@harshavardhana Thank you for your reply! Your suggestion of restricting the Authorization header in our reverse proxy works well, and also fixes the limitation in signed URLs: it is now possible to publish signed URLs to external clients, while keeping the main S3 REST API restricted to internal IP addresses. We're indeed not using the root account, except for creating new application user and ph

[2021-03-23 13:46] sgandon opened #11862 "Readiness should take IAM initialization into account"
## Expected Behavior

1/ When starting Minio with many user/policies, all of those are loaded at startup and some API like listing users or policies are not usable during that phase.
So the readiness endpoint should not report OK in that case and report an error.
2/ The readiness api does not return an error code but a special header (x-minio-server-status: unavailable). In Kuberentes it is not po

[2021-03-23 14:11] ToLToL opened #11864 "ElasticSearch audit log - mapper_parsing_exception [.usage.json]"
I have a distributed setup with 3 nodes with audit logs enabled. MinIO version: `2021-03-10T05:11:33Z`
Filebeat send these logs to ElasticSearch with `http_endpoint` input.

However metricbeat cannot send some logs because there's a `.` in front of `usage.json`:

[code]

[code]

[2021-03-23 14:15] klauspost commented on #11862
What do you mean "some API like listing users or policies are not usable during that phase."?

 Aren't they simply blocking until the data is available?

[2021-03-23 14:26] klauspost commented on #11864
@ToLToL There is nothing invalid about a JSON key starting with a `.` - I suggest you consult the metricbeat authors on why this limitation is in place.

[2021-03-23 14:26] #11864 closed

[2021-03-23 14:55] sgandon commented on #11862
indeed it is blocking until data is available (although I don't know the timeout).
Do you consider those API still usable even in a blocking mode ?

[2021-03-23 15:04] klauspost commented on #11862
@sgandon There are no timeouts unless you configured them or set them on the client.

Yes, APIs are usable as long as they return a reply.  You never have any guarantees about how fast.

[2021-03-23 15:12] gacopl opened #11865 "S3 Gateway Passthrough SSE-KMS stopped working"
## Expected Behavior
aws s3 cli upload to SSE-KMS encrypted bucket should work in recent versions

## Current Behavior
aws s3 cli upload to SSE-KMS encrypted bucket in latest and any higher version than > RELEASE.2020-08-27T05-16-20Z throws this error

 An error occurred (NotImplemented) when calling the PutObject operation: A header you provided implies functionality that is not implemented

## S

[2021-03-23 16:11] ranophoenix opened #11869 "Inconsistent behavior between mc/aws client and python/java client"
Get an object stat should behave in the same way among different clients.

## Expected Behavior

There are almost two millions of files inside the 2021 directory. Despite this fact, the following code shows that a python client can get the stat of the object normally.

[code]

## Current Behavior

However, mc and aws requests hangs. I've captured the requests of the python code above and the `mc s

[2021-03-23 16:13] marcown opened #11870 "Disable Hostname / IP in signature for presigned url"
Hi,

is there any way to disable hostname / ip check in get/put presigned url (exclude these from calculating the signature)? As noted in another issue #11826 I am using nginx in a docker container and the backend (also part of the same docker network) generates the url (because the data does not always come from minio).

In my use case this would be super helpful. Again: It's not possible to call

[2021-03-23 16:26] sgandon commented on #11862
@klauspost you are right and my first point is not legitimate for updating the readiness probe.
What do you think about the second point ?

[2021-03-23 16:44] harshavardhana commented on #11870
@marcown sorry thats not possible.

[2021-03-23 16:44] #11870 closed

[2021-03-23 16:49] marcown commented on #11870
You are not being helpful. Maybe you could elaborate a bit more about that and why it is not possible?

[2021-03-23 16:54] harshavardhana commented on #11870
It is a security issue @marcown - Host header is a signed header in signature v4.

[2021-03-23 18:17] acsfer opened #11871 "Unable to write all the data to client"
With latest release `minio version RELEASE.2021-03-17T02-33-02Z` Gateway to AWS S3 has started to output this error very frequently (and it causes objects not displaying):

[code]

Can't reproduce it when downgrading (.deb package) to `minio version RELEASE.2021-02-07T01-31-02Z`

[2021-03-23 18:24] harshavardhana commented on #11871
This error message can be ignored this is a log that is printed when the client closes the connection @acsfer

[2021-03-23 19:35] acsfer commented on #11871
Ok for the log, but objects aren't displaying on the frontend when using this latest release. And the page stuks on loading (using Nextcloud) while these logs appear; it doesn't occur with `RELEASE.2021-02-07T01-31-02Z`

This (bad) behaviour only occurs with `minio version RELEASE.2021-03-17T02-33-02Z`

[2021-03-23 20:16] harshavardhana commented on #11871
All our tests seem to be running fine with the AWS S3 gateway... will have to check. can you explain your setup in detail?

[2021-03-23 20:35] rajeshamdev opened #11872 "minio start in server or gateway mode fails without config dir"
Trying to start minio in server and gateway mode with chroot using golang os/exec pkg cmd.Run().
I am on minio version RELEASE.2021-02-07T01-31-02Z. Also tried with the latest RELEASE.2021-03-17T02-33-02Z.
Server or gateway start fails.

Cmd: /usr/sbin/chroot /mnt/minio/299 /bin/minio gateway nas --json --certs-dir /ssl/certs --address localhost:9001 /mnt299

The same will succeed with -C:
Cmd: /u

[2021-03-23 20:41] harshavardhana commented on #11872
Seems to run perfectly fine locally

[code]

[2021-03-23 20:41] #11872 closed

[2021-03-23 20:48] rajeshamdev commented on #11872
@harshavardhana: As I described, running with chroot with cmd.Run() fails. The error comes from:

https://github.com/minio/minio/blob/RELEASE.2021-03-17T02-33-02Z/cmd/common-main.go#L218
globalConfigDir, configSet = newConfigDirFromCtx(ctx, "config-dir", defaultConfigDir.Get)

[2021-03-23 20:51] harshavardhana commented on #11872
@rajeshamdev we do not test chroot - you can try setting HOME=/chroot

[2021-03-23 21:27] harshavardhana commented on #11872
Just tested locally works properly

[code]

[2021-03-23 22:32] acsfer commented on #11871
@harshavardhana using a bare metal box under Ubuntu 20.04. Kernel `5.4.0-67-generic`

## Service file
[code]
## Environment File
[code]
Then, try to deploy a Nextcloud with it. https://docs.nextcloud.com/server/20/admin_manual/configuration_files/primary_storage.html

## config.php
[code]
At the first launch, Nextcloud will miss many interface icons (stored at S3), and `syslog` logs dozens of:
[co

[2021-03-24 00:41] harshavardhana commented on #11871
Can you reproduce this without cache? @acsfer

[2021-03-24 08:36] acsfer commented on #11871
Yes, i've tried that too. Same behaviour @harshavardhana

[2021-03-24 09:13] harshavardhana commented on #11871
Is there a predefined object size where you see this ? does it happen randomly across all objects?

[2021-03-24 09:14] acsfer commented on #11871
Well, as this happens essentially at install times, all files are <2Mb, some just a few bytes (mainly these are interface  - assets - files).

[2021-03-24 09:15] harshavardhana commented on #11871
what is an install time?

[2021-03-24 09:18] acsfer commented on #11871
As i've reported at https://github.com/minio/minio/issues/11871#issuecomment-805310599 this mainly happens when trying to install/deploy the software.

[2021-03-24 10:05] sgandon opened #11879 "Same port is used for infra and users API"
**Is your feature request related to a problem? Please describe.**
The health check, the metrics and the user/admin API are served on the same port.
This makes it cumbersome to setup restrcition access to infra APIs because we need to configure our ingress controller for specific routings and non routing to prevent the use of those infra APIs publically.
More over if we want to prevent access to t

[2021-03-24 10:50] #11833 closed

[2021-03-24 11:03] ToLToL commented on #11871
Hi,

I don't know if it's related but with `2021-03-10T05:11:33Z`, distributed setup I sometimes have:

[code]

Didn't have this problem with `minio/minio:RELEASE.2021-03-04T00-53-13Z`.

[2021-03-24 11:10] harshavardhana commented on #11871
This is not related @ToLToL - this is when client disconnected before reading all content "connection reset by peer" - happens with browsers.

[2021-03-24 12:44] vasilievs opened #11882 "Unable to initialize OpenID: Get "url_keycloak" connect: connection refused (*fmt.wrapError)"
I use minio in docker with STS (keycloak)
When using sts configuration if url keycloak is not available Minio starts without open-id and does not try to re-check the connection to it until the container is restarted.

Also if the connection to the keycloak server is disconnected at the time of operation, the ability to use the open-id will also be disabled until the restart.

workaround:
 I added

[2021-03-24 13:13] zapto2600 commented on #11879
This is something I have been considering raising also. Its bad practice to have all of your management and user API endpoints on the same port.

Splitting these out would make alot of security sense.

[2021-03-24 13:16] zapto2600 opened #11883 "MC Admin Info to return Cluster available space"
As an administrator I would like to see the cluster free space as well as the usage space when you run mc admin info myminio. This would allow easier reconciliation or troubleshooting without having to look at other systems or metrics.

**Describe alternatives you've considered**
Using other metric endpoints is ok. But having it in mc admin info would help alot. Currently used space, bucket and ob

[2021-03-24 14:29] rajeshamdev commented on #11872
@harshavardhana: Even though `"certs-dir (-S)" `option selected, minio server code still looks for `homedir` and creates empty `.minio ` dir which is I think is unnecessary.

[2021-03-24 16:05] harshavardhana commented on #11872
We need that unfortunately for now @rajeshamdev

[2021-03-24 16:09] harshavardhana commented on #11883
mc admin info --json provides the necessary information.

[2021-03-24 16:09] Lumiond opened #11885 "LDAP login in notifications instead sts token"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to view who add or change files in storage. Also we need to use LDAP for authentication in minio. And after this it's hard to say who is who.

**Describe the solution you'd like**
Print LDAP login in notifications instead temporary sts token.

**Describe alternatives you've considered**
Some sort of db. This db ma

[2021-03-24 16:15] harshavardhana commented on #11882
When using sts configuration if url keycloak is not available Minio starts without open-id and does not try to re-check the connection to it until the container is restarted.

We cannot reconnect, we have many subsystems that we may wish to connect to. We are not adding such reconnect logic on purpose. You need to make sure the openid is reachable when it starts.

Once it has been enabled even if

[2021-03-24 16:15] #11882 closed

[2021-03-24 16:19] #11883 closed

[2021-03-24 17:04] candlerb opened #11886 "Please clarify licensing on website"
**Is your feature request related to a problem? Please describe.**
It's unclear from reading the website what license(s) MinIO may be used under.

* The [pricing](https://min.io/pricing) page mentions only AGPLv3 for the Community edition in the comparison table:
    ![image](https://user-images.githubusercontent.com/44789/112348534-d4194480-8cbf-11eb-9a98-7ed66bea3838.png)
* Lower in the page it

[2021-03-24 20:56] lukasertl opened #11888 "Memory exhausted for releases newer than RELEASE.2021-03-04T00-53-13Z"
I'm running a cluster with 6 nodes, holding approx. 1TB of data in 200.000 objects.  Up until RELEASE.2021-03-04T00-53-13Z the memory usage was quite constant (~1GB), but newer releases cause the minio process to grow larger and larger until it uses up all RAM, at a rate of ~8GB/hour.

This is a memory profile I gathered from one of the hosts:

[code]

## Regression
Is this issue a regression? Yes

[2021-03-24 22:06] poornas commented on #11865
This was turned off in https://github.com/minio/minio/pull/10484 for predictable behavior across gateways

[2021-03-24 23:05] maarsaks opened #11890 "Kubernetes - the "search-api" pod can't create"
I have an error when operator is trying to create a search-api pod:
[code]
In minio console the state is:

I can see storage and data usage. Pod pools created successfully.

I installed minio with helm. Kubernetes is running on Rancher and storage is based on Rook by Ceph. PVCs are working properly.
[code]

**Environment**:
* OS `Debian GNU/Linux 10` 3 nodes
* Kernel `4.19.0-14-amd64 #1 SMP Debian

[2021-03-24 23:06] maarsaks commented on #11890
sorry, i mistook the repo.

[2021-03-24 23:06] #11890 closed

[2021-03-24 23:29] harshavardhana commented on #11865
Closing

[2021-03-24 23:29] #11865 closed

[2021-03-24 23:55] harshavardhana commented on #11888
Provide more details about your deployment - are you using compression for your objects?

[2021-03-25 02:14] 4714407 opened #11893 "Add bucket lifecycle rules error"
When adding bucket lifecycle rules, if the prefix is empty, an error will occur.
According to S3 standard, empty prefix means all files. Is this a bug or a special part of Minio? How to set it to represent all files.
![image](https://user-images.githubusercontent.com/71766981/112408416-b3e69580-8d52-11eb-863c-776dc978fba1.png)

![image](https://user-images.githubusercontent.com/71766981/112408514-

[2021-03-25 09:51] klauspost commented on #11888
@lukasertl Could you capture a memory+goroutine profile after the server has used more memory and attach them here.

It is possible to see which system is actually holding on to the memory and can just as easily be `argon2.NewIDKey`.

[2021-03-25 10:51] vadmeste commented on #11893
@4714407 do you know if this application works fine with Amazon S3 ? if yes, can you run `mc admin trace -v your-alias` to see what request your app sends to the server ?

[2021-03-25 11:26] ranophoenix commented on #11869
trace_on() enable on python client:

[code]

Code:

[code]

[2021-03-25 11:28] ranophoenix commented on #11869
Debug enabled on mc: `mc --debug stat myalias/mycompanybin/2021/ad4ccb71-a283-3149-9b68-3f16bb0fb889` #hangs

[code]

[2021-03-25 11:35] balamurugana opened #11894 "Minio server should reject presigned post policy with duplicate keys"
I took a closer look at the changes in https://github.com/minio/minio/pull/11843, and I'm not convinced that the additional round-trip via the `github.com/bcicen/jstream` library actually adresses this security issue.

See this Go playground example: https://play.golang.org/p/h50SFkPZsps

Using the equivalent `sanitizePolicy` and `parsePostPolicyForm` functions, the resulting decoded `rawPolicy` o

[2021-03-25 12:50] ranophoenix commented on #11869
mc result after almost 20 minutes:

[code]

[2021-03-25 13:17] ranophoenix commented on #11869
I think I've just found the problem: https://github.com/minio/mc/blob/master/cmd/stat.go#L189

`mc` (and probably the aws client) tries list folder instead of only get the object stat. There is 1403528 objects inside this folder.

[2021-03-25 13:21] ranophoenix commented on #11869
Our objects are already distributed by subfolder (year). We don't have any other natural field to make more subfolders.

[2021-03-25 13:31] feruzm opened #11895 "Logs about no space left but plenty of space"
I am running docker instance of minio, today I noticed these logs.

[code]

Disk space is more than enough. Any ideas to fix this?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio --version`):
* Server setup and configuration:
* Operating System and version (`uname

[2021-03-25 13:34] Weilbyte opened #11896 "Show XML instead of redirecting to login when encountering error"
**Is your feature request related to a problem? Please describe.**
When the UI is enabled, Minio redirects to login screen when encountering an error such as missing permissions or unavailable file.

**Describe the solution you'd like**
There should be an option to have Minio show the XML output in these situations and redirect to login only when provided with `/`/no path.

[2021-03-25 13:55] ranophoenix commented on #11869
As a workaround, we'll use our object names to create subfolders. For instance, an object `2021/ad4ccb71-a283-3149-9b68-3f16bb0fb889' would be in a folder named `2021/a/d/4/c/c/b/7/1/ad4ccb71-a283-3149-9b68-3f16bb0fb889`.

[2021-03-25 14:16] lukasertl commented on #11888
Compression settings are default:

[code]

I've attached the profile.  This is with version 2021-03-10T05:11:33Z - 30 minutes after startup the process has ~5GB RAM.

[profile.tar.gz](https://github.com/minio/minio/files/6205290/profile.tar.gz)

[2021-03-25 15:24] harshavardhana commented on #11896
This is a UI feature for browser requests, turn off MINIO_BROWSER=off you will get what you want.

[2021-03-25 15:24] #11896 closed

[2021-03-25 15:25] harshavardhana commented on #11895
You ran out of inodes @feruzm df -ih

[2021-03-25 15:25] #11895 closed

[2021-03-25 16:02] klauspost commented on #11888
@lukasertl Thanks! I will take a look ASAP.

[2021-03-25 18:29] Weilbyte commented on #11896
@harshavardhana Setting `MINIO_BROWSER` to `off` from what I can see disables the login feature as well though. Is there a way to have both the panel and XML responses on at the same time depending on the path?

[2021-03-25 18:36] harshavardhana commented on #11896
@Weilbyte unfortunately no, you are better off turning the in-built browser instead point your users to https://github.com/minio/console - a better revamped UI.

[2021-03-25 18:44] Weilbyte commented on #11896
That's just what I needed. Thank you!

[2021-03-25 19:06] harshavardhana commented on #11894
Updating the title is misleading to think that it is a vulnerability, instead of its a situation where duplicate keys are not rejected.

[2021-03-25 19:07] feruzm commented on #11895
Hi @harshavardhana

How is this run out?

![image](https://user-images.githubusercontent.com/3015990/112529534-0a34f200-8dae-11eb-9674-faa0935d0183.png)
![image](https://user-images.githubusercontent.com/3015990/112529614-259ffd00-8dae-11eb-9fce-9155a0668884.png)

[2021-03-25 19:09] harshavardhana commented on #11895
You ran out here @feruzm - you should check where you `/data` is coming from.

[2021-03-25 19:11] feruzm commented on #11895
docker `/data` is in `/home`

[2021-03-25 19:24] harshavardhana commented on #11895
you should check where `/data` is coming from `df -ih` from inside the container.

[2021-03-25 19:27] feruzm commented on #11895
inside container looks ok too, could it be bug somewhere in minio?
![image](https://user-images.githubusercontent.com/3015990/112531900-d3141000-8db0-11eb-8952-054dca2901b5.png)

[2021-03-25 19:38] harshavardhana commented on #11895
the error is returned by filesystem @feruzm not us - so it is something in the filesystem that is buggy.

Check this 'no space left on device' is returned by 'ENOSPC' - you should check your filesystem underneath if it has any corruptions.

[2021-03-25 19:58] #11837 closed

[2021-03-25 20:01] harshavardhana commented on #11869
You also have other issues such as you have NTP not configured properly @ranophoenix

[2021-03-25 20:04] harshavardhana commented on #11869
Also the latest `mc` should only do `mc stat` with list-objects with key=1 - unless your drives are really slow here it is taking time to generate the listing output here.

[2021-03-25 20:04] harshavardhana commented on #11869
Will close this issue.

[2021-03-25 20:04] #11869 closed

[2021-03-25 20:57] #11894 closed

[2021-03-25 22:41] ranophoenix commented on #11869
No, this message appears after 20 minutes waiting for an answer. The wireshark shows that the client send many requests similar to a keep alive. I'm sure the NTP is perfectly fine.  Folders with few files the command works as expected without any NTP problem.

[2021-03-25 22:46] ranophoenix commented on #11869
[code]

[2021-03-25 22:47] harshavardhana commented on #11869
The NTP is definitely the problem here because the time is definitely skewing - the issue with the client to server @ranophoenix client is not synchronized to NTP.

[2021-03-25 22:52] ranophoenix commented on #11869
$ parallel-ssh --inline-stdout -h minio.hosts date
[1] 19:50:34 [SUCCESS] root@ip1
Thu Mar 25 19:50:43 -03 2021
[2] 19:50:34 [SUCCESS] root@ip2
Thu Mar 25 19:50:43 -03 2021
[3] 19:50:35 [SUCCESS] root@ip3
Thu Mar 25 19:50:43 -03 2021
[4] 19:50:35 [SUCCESS] root@ip4
Thu Mar 25 19:50:43 -03 2021
[5] 19:50:35 [SUCCESS] root@ip5
Thu Mar 25 19:50:43 -03 2021
[6] 19:50:37 [SUCCESS] root@ip6
Thu Mar 25 1

[2021-03-25 22:53] ranophoenix commented on #11869
I cannot see any NTP problem here. Client and servers look synchronized.

[2021-03-26 01:22] 4714407 commented on #11893
[code]
There is no problem with S3

[2021-03-26 07:47] ashishdocforce opened #11904 "S3 error"
I get this error while connecting throught the node app. It doesn't stating any messages so I am not able to understand what is going wrong. minio server is working properly with S3. just can't able to handle it through my app.

[code]

Is there any other environment variables I will needed to add for minio? My current configuration is as below:

[code]

And my environment variables:

export STORA

[2021-03-26 07:55] harshavardhana commented on #11904
@ashishdocforce can you provide `mc admin trace -v` output?

[2021-03-26 08:04] ashishdocforce commented on #11904
[code]

[2021-03-26 08:35] ashishdocforce commented on #11904
Above is the output of your command. and if I'm providing alias at the end like `mc admin trace -v minio-server`  It does nothing just process on hold and no output.

[2021-03-26 08:53] nitisht commented on #11904
If it does nothing, it means there are no requests reaching the server @ashishdocforce . This is something on client side, we can’t able to help you much here.

[2021-03-26 08:55] seqizz commented on #11218
Just adding a small note: I got caught in the same thing. Since it was an official documentation on minio's website, I thought my setup was wrong or I was doing something incorrect. Original plan was to use bandwidth-limiting features of nginx (and no [trickle does not work](https://github.com/minio/mc/issues/1749)). But even sidekick does not provide such feature, an obviously deprecated document

[2021-03-26 08:59] ashishdocforce commented on #11904
But if that is the case, It should throw minio error instead of s3 error right?

[2021-03-26 09:03] klauspost commented on #11888
@lukasertl It seems there are a lot of canceled listings going on. IOPS must be through the roof, the memory usage is just a side effect. Making sure they are properly canceled in the linked PR.

[2021-03-26 09:30] harshavardhana commented on #11904
MinIO is an S3 compatible API implementation, there is no connection between your app and server - so an error on client side.

[2021-03-26 09:30] #11904 closed

[2021-03-26 10:01] lukasertl commented on #11888
Interestingly, IOPS are very moderate, with any version I'm seeing an average of 200 IOPS on the system.  I wouldn't consider that as extreme. :-)

[2021-03-26 10:32] klauspost commented on #11888
@lukasertl ok, the listings are probably blocked then.

[2021-03-26 18:18] #11888 closed

[2021-03-27 00:15] #8715 closed

[2021-03-27 10:48] Padarn commented on #9795
@harshavardhana do you mind elaborating on

[2021-03-29 09:17] dkhachyan opened #11915 "Minio crashes when reading a large number of small objects"
## Current Behavior

When reading a large number of small objects minio crashes with error:
[code]

## Environment
* Minio Version: RELEASE.2021-03-17T02-33-02Z
* MinIO Operator Version: 4.0.3
* Server setup and configuration: OpenShift 4.7
* Operating System and version: FCOS 33
* Kernel version: 5.10.12-200.fc33.x86_64

[2021-03-29 09:35] klauspost commented on #11915
@dkhachyan Have you tried following the suggestion, ie. increase ulimit?

[2021-03-29 10:51] dkhachyan commented on #11915
Current  limits:
[code]
I think max user processes is enough.

[2021-03-29 11:11] klauspost commented on #11915
Something on  your system is restricting the number of [clone](https://man7.org/linux/man-pages/man2/clone.2.html) calls.

Maybe check `cat /proc/PID of minio/limits | egrep "(processes|files)"`

Either way your system is overloaded and this is the first limit you hit. You can limit the number of concurrent requests to avoid crashes. See "api" section here: https://docs.min.io/docs/minio-server-co

[2021-03-29 11:11] #11915 closed

[2021-03-29 16:24] mykola-levkuts-exa opened #11919 "Error: Get "https://storage.googleapis.com/<source_file_path>/b2ba1819-6563-488f-a11f-fafd5be84c8a": context canceled"
minio prints error in the when source file is deleted just after copying it:
[code]
But after manual checking few files, it seems that they are ok

## Expected Behavior
File content is not corrupted, no error is printed

## Current Behavior
Error is printed in the log

## Possible Solution

## Steps to Reproduce (for bugs)

1. copy file from source to the target io.minio.MinioClient#copyObject
`mi

[2021-03-29 21:53] champds opened #11920 "PutObjectLegalHold using the s3 API fails"
## Current Behavior
Request like this:
[code]

indicates that the MD5 was not calculated, so we go this route:
[code]

But then we see this error:
[code]

## Your Environment
* Version: minio/minio:RELEASE.2021-03-26T00-00-41Z (although we've tried other previous releases; same issue)
* Server setup and configuration:  Docker on CentOS 7 (4 nodes)

[2021-03-29 21:55] harshavardhana commented on #11920
This looks like XML element that is sent is incorrect which SDK are you using here? @champds

[2021-03-29 21:55] harshavardhana commented on #11920
S3 API documents this as `<LegalHold>` https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObjectLegalHold.html

[2021-03-29 21:58] champds commented on #11920
@harshavardhana - thanks - we've tried using several versions, but latest was 3.10.0

[2021-03-29 23:55] champds commented on #11920
Looks like this is a compat issue w/ S3, as they must allow it.  From all tested versions of the s3-client, we see it requesting (via packet capture):
### Not Working (PUT)
[code]

### Working (GET)
[code]

[2021-03-30 00:01] harshavardhana commented on #11920
We only support what they documented @champds - the naming convention changing is beyond our control.

[2021-03-30 00:03] champds commented on #11920
@harshavardhana - thanks so much.   Absolutely understand.  Clearly an AMZ issue; we'll track it from that end and post any updates here.  Hopefully this thread helps someone else.

Thanks Again!

[2021-03-30 00:32] harshavardhana commented on #11920
FWIW sending a fix anyways to have fallbacks in our code

[2021-03-30 06:52] #11920 closed

[2021-03-30 08:03] WolfspiritM opened #11924 "Bucket Lifecycle to slow with many many small files"
## Expected Behavior
Old files should be deleted regularly.

## Current Behavior
I noticed that there are still files from January which didn't get deleted yet. I restarted minio and updated from an earlier version (RELEASE.2021-02-01T22-56-52Z) to a new version and it did deleted a few files (I think the newest ones in the folder it starts with) but then it seems to be stuck in one folder scannin

[2021-03-30 08:12] DAGorchakov opened #11925 "Minio quota limit popup in web ui"
**Is your feature request related to a problem? Please describe.**
If quota is setup in minio `mc admin bucket quota TARGET/BUCKET --hard LIMIT` user does not know about it and when user reaches this limit he has no information about it and doesn`t know why file is stuck

**Describe the solution you'd like**
Is it possible to do popup for user about quota\limit? Something like `limit 50MB for this

[2021-03-30 09:20] klauspost commented on #11924
The scanner operates at the fastest possible speed without disturbing operations. If you want to make it run faster tweak the delay down further. It is a float value, so you can even set it to `0.5` to make it 10x faster than now.

The scanner runs concurrently on multiple buckets, so maybe some separation will help you.

Rules are read when a cycle starts on a bucket. If not it would end up being

[2021-03-30 09:21] #11924 closed

[2021-03-30 09:31] klauspost commented on #11919
@mykola-levkuts-exa Try upgrading to a recent version.

However, it is most likely that the client requesting the files are closing the connection before GCS returns it.

[2021-03-30 09:31] #11919 closed

[2021-03-30 09:48] mailsmail opened #11926 "Field with date type is in integer when selecting a parquet file"
When selecting object with parquet format, I've found that if the field is a `date` type it will gives you an integer instead of a date.

I found that the integer is a number of day since epoch (Jan 1st, 1970). So, from the example below  (in expected behavior and current behavior) 9568 is the number of days since 1970-01-01 to 1996-03-13.

After reading the documentation of github.com/xitongsys/p

[2021-03-30 10:42] mkpavilion commented on #11810
@harshavardhana, thanks for your reply
We found that with 17 Mar minio server build it wasn't functional so tested rebuild functionality with the latest one RELEASE.2021-03-26T00-00-41Z.

Our observation is the issue gets still reproduced *sometimes* but not always like before.

Setup: Minio 3 endpoints (pds3-node13/pds3-node14/pds3-node15) over docker containers having total 16 drives forming 1 E

[2021-03-30 11:13] DaniilNikolaevich commented on #11543
Hello guys, how it's going on?)

[2021-03-30 12:28] klauspost commented on #11810
There is nothing related to a crash in these logs. These are just timeouts from listings running on a server that died. Post the logs from the crash of the server running or look for the work "panic" or similar error message.

If there is indeed nothing in the logs check if the process was killed by the operating system.

[2021-03-30 12:29] klauspost commented on #11926
@mailsmail Added some basic date support in #11928

[2021-03-30 12:59] mkpavilion commented on #11810
There is no "panic" or like error message, but minio process was not listed in "ps -aef" output.
After this line, minio @ pds3-node13 just exited.

This process was running in a docker container which was pretty healthy and no other external process/watcher killed it either.

As well while doing rebuild of one drive@pds3-node13 node, the object store rebuild has recovered files of other powered of

[2021-03-30 15:32] champds commented on #11920
Confirmed operation on this end.  Amazing, Minio!  Thanks so much for the addition to handle the Amazon problems.

[2021-03-30 15:49] mykola-levkuts-exa commented on #11919
Thanks for suggestion

After upgrade to 'RELEASE.2021-02-14T04-01-33Z' now there's slightly modified version of error

[code]

@klauspost could you please clarify whether this error can indicate file corruption or it can be safely ignored?
Sorry that maybe bothering, but data is crucial for us

[2021-03-30 17:28] mykola-levkuts-exa commented on #11919
@klauspost thanks, it looks that you're right and the problem with java lib we're using for communication with minio, there's the same error even without deletion

[2021-03-30 17:39] eco-minio opened #11930 "Logs are flooded when audit webhook is not reachable"
When an endpoint is not accessible, minio logs are flooded with messages similar to:
[code]
## Expected Behavior
Logs should be printed but not as aggressively

## Current Behavior
Logs are repeated several times per second as seen via stdout or `mc admin console`

## Possible Solution
Not sure if we want to check if the endpoint is back up less often (maybe) or do step off of printing logs

## St

[2021-03-30 21:22] tjanson commented on #10604
I had exactly the same question. It might be a good idea to add this to the docs, or perhaps even better: change the error message to suggest that using `--force` is standard procedure in this case (which is the unexpected and "scary" part that might confuse users).

[2021-03-31 01:05] poornas commented on #11871
Tested with RELEASE.2021-03-17T02-33-02Z for both stand alone gateway and in conjunction with nextcloud - could not repro any issue. Is it possible that you are being rate limited by AWS or have poor network - MinIO gateway just does a pass through and was expecting to read more when the pipe was closed

[2021-03-31 05:35] harshavardhana commented on #11930
Fixed in master @eco-minio PTAL - closing this issue.

[2021-03-31 05:35] #11930 closed

[2021-03-31 13:52] wdbasson opened #11936 "Federated Minio in gateway mode breaks with OpenID login for cross-account bucket access"
## Expected Behavior

With a federated Minio deployment consisting of two Minio instances in gateway mode (each of which have IAM credentials for a separate AWS account), I expected that Minio Browser with OpenID login would work similar to logging in with the access key and secret key.

## Current Behavior

When logging in to `Account A` Minio Browser with access/secret keys I am able to interact

[2021-03-31 14:00] to-ny opened #11937 "Healthcheck endpoints redirect to frontend homepage"
Whenever I try to reach `http://localhost:9000/minio/health/live`, I get redirected to  `http://localhost:9000/minio/login`

## Expected Behavior
Get a blank page with HTTP status 200

## Current Behavior
Redirect to `http://localhost:9000/minio/login`

## Possible Solution
Didn't look at the code, sorry

## Steps to Reproduce (for bugs)
1. Execute the sample CLI command to launch MinIO

[code]
2.

[2021-03-31 16:05] harshavardhana commented on #11810
Oh so you are using docker @mkpavilion - how about using baremetal?

We have one pending issue in docker that needs to be addressed, are you using /var pointing to a different partition than / ?

[2021-03-31 16:07] harshavardhana commented on #11937
You can't use browser visit these endpoints.  You should use them appropriately using curl or some other healthcheck tool.

[2021-03-31 16:10] harshavardhana commented on #11936
If you don't have etcd configured there is no federation. Can you show me if you are using etcd?

[2021-03-31 16:28] mkpavilion commented on #11810
@harshavardhana,
Hi, Thanks for the info. Yes we are using docker containers to run each minio node. Sorry I could not verify this same with baremetal so far. If I get time I will certainly confirm the behavior with baremetal.
No /var and / are over the same partition.
Here is df -h o/p for your reference taken within a container. This /mnt/pds3/dXY are external nvme drives mountpoints which host

[2021-03-31 20:21] #11885 closed

[2021-04-01 04:03] mohantnr opened #11941 "log stateful set is not starting failed with erro changing ownership of '/var/lib/postgresql/data': Operation not permitted minio v4.0.2"
When I tried to create first tenant in operator UI. it will create tenants successfully and tenant1-log STS and tenant1-log-search-api deployment are not starting and rest all working fine.

log stateful set is not starting failed with
# kubectl logs pod/tenant1-log-0 -n minio-dev-ns
chown: changing ownership of '/var/lib/postgresql/data': Operation not permitted
## Expected Behavior

## Current B

[2021-04-01 05:25] mohantnr opened #11943 "minio v4.0.4 - operator UI don't have option to choose storageclass .PVC are getting created in default storage class"
minio v4.0.4 - operator UI don't have option to choose storageclass .PVC are getting created in default storage class
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. login to JWT minio operator console
2. select tenant
3. click on expand
4. you don't see option to select storage class

## Context

## Regression

## Your Environment

* Version u

[2021-04-01 07:17] wdbasson commented on #11936
etcd is configured and federation works when logging in with access and secret key via Minio browser. Both Minio instances use the same root credentials in order to share etcd access (as far as I understand). `Account A` Minio uses `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` both as the root credentials and AWS IAM credentials.

OIDC login also works when using SDK. I can interact with buckets owned

[2021-04-01 07:37] DAGorchakov opened #11944 "Ability to disable share objects for Minio"
## Expected Behavior

I just want to know if it is possible to disable the ability for some or all users to use share button (create presigned URLs)? According to this [article](https://docs.aws.amazon.com/AmazonS3/latest/API/bucket-policy-s3-sigv4-conditions.html) AWS has this ability, but minio has not keys 's3:authType' and 's3:signatureAge':

## Context

According to policy of our company we h

[2021-04-01 11:51] gedOHub opened #11946 "Minio server cras with invalid memory address or nil pointer dereference"
Server crashes from time to time

## Expected Behavior

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)
Run warp mixed test

## Context

## Regression

## Your Environment

* Version used `minio version RELEASE.2021-03-26T00-00-41Z`
* Server setup and configuration:
[code]
* Operating System and version `Linux minio-server-3 4.19.0-14-cloud-amd64 #1 SMP Debian 4.

[2021-04-01 12:40] vadmeste commented on #11946
@gedOHub this should be fixed with this PR, https://github.com/minio/minio/pull/11939

You need to test with master for now.

[2021-04-01 12:40] #11946 closed

[2021-04-01 12:51] mohitt01 commented on #11824
I have been facing a similar issue with the aws-sdk. On drilling down, I believe I have identified where exactly things start failing
https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/internal/ServiceUtils.java#L540

Background:
The aws-sdk for java has a component called `TransferManager`, which automatically parallelises uploads larger than a

[2021-04-01 12:56] mohitt01 commented on #11824
I have been facing a similar issue with the aws-sdk. On drilling down, I believe I have identified where exactly things start failing

Background:
The aws-sdk for java has a component called `TransferManager`, which automatically parallelises uploads larger than a configured size (default: 16MB). I've been able to replicate the issue with a random 32MB file and using the sdk to upload it and downl

[2021-04-01 16:17] harshavardhana commented on #11944
We should be able to support it @DAGorchakov

[2021-04-01 16:33] harshavardhana commented on #11824
are you using single drive mode here? @mohitt01

[2021-04-01 20:22] vcabbage opened #11948 ""Unable to write all the data to client" errors on client disconnect"
After upgrading to the latest release version (`2021-03-26T00:00:41Z`) we started encountering errors like:

[code]

This logic was introduced in https://github.com/minio/minio/pull/11659.

## Expected Behavior

I don't believe an error should be logged in this situation. The "do not need to log disconnected clients " comment leads me to believe it's not the desired behavior.

https://github.com/m

[2021-04-01 20:27] harshavardhana commented on #11948
this means that your client closed before it read the whole content - we are logging specifically for this reason alone when customers complain that their client is not receiving data.

you need to configure your load balancer appropriately to ensure that it doesn't close active connections.

[2021-04-01 20:31] vcabbage commented on #11948
Thanks for the quick reply!

I understand that. This is expected behavior in our environment since we race requests to multiple servers.

Is the "do not need to log disconnected clients" comment out of date then?

This doesn't apply to us.

[2021-04-01 23:50] abulka opened #11950 "uploading file via boto3 resource api locks up minio for 60 seconds"
## Expected Behavior

Using the python boto3 api, uploading a tiny file to minio should be very fast, and not freeze minio (or boto3?) for 60 seconds.

This same code, hitting Amazon, works ok - minio should work the same as Amazon s3.

## Current Behavior

When there are two calls using boto3 resource api, one for creating a simple file via `put`, the second for an `upload_file`, the upload call

[2021-04-01 23:52] harshavardhana commented on #11950
This is a known boto3 issue and they have ignored our requests to fix it @abulka https://github.com/boto/boto/issues/840

[2021-04-01 23:53] harshavardhana commented on #11950
Its not MinIO its boto3 that is not implementing 100-continue correctly.

[2021-04-01 23:53] #11950 closed

[2021-04-02 01:06] abulka commented on #11950
@harshavardhana Interesting, thanks. This of course makes using `boto3` + `minio` s3 unreliable. I just ran into an even simpler repro case of the 60 sec freeze - creating an empty file followed by file with some content:

[code]

- Note that creating two empty files with content e.g. body '' works OK
-  Note that creating two files with content e.g. body 'x' works OK

A workaround seems to be to

[2021-04-02 01:46] harshavardhana commented on #11950
There is nothing we can do @abulka you can use our minio-py SDK which does not suffer from this problem and it works with AWS S3 without any problems https://github.com/minio/minio-py

[2021-04-02 02:01] abulka commented on #11950
I hadn't considered this option - not a bad idea.

You could add a flag to minio called `--dodgy-s3-100-boto-compatibility-mode` which would allow developers to switch reliably between minio and amazon endpoints using boto3. 😉

[2021-04-02 08:56] ashishdocforce commented on #11904
@harshavardhana But these configurations from client is enough to connect through s3?

[code]
Or any additional key needs to be passed?

[2021-04-02 15:53] champds opened #11954 "Verify Distributed Erasure Coding Setup"
**Is your feature request related to a problem? Please describe.**
When setting up a new instance, we were playing around with different syntax for various nodes (eg, they were non-incrementing hostnames, etc).  So we did not use the ellipses notation.  There were three hosts with two disks each.

Of course this was due to incorrect syntax on our part, but we had no indication that the erasure cod

[2021-04-02 16:01] harshavardhana commented on #11954
Architecture advise is kept for paying customers, software by itself tries to warn you on the console if the setup is suboptimal to an extent but it's not possible beyond certain limits to automatically guide users and we have no way of knowing.

In such a scenario if this a production setup or planning to go production you are advised to get a subscription from us where we provide reviews on a re

[2021-04-02 16:01] #11954 closed

[2021-04-02 16:06] champds commented on #11954
@harshavardhana thanks again for the help.

Makes sense - thanks for the clarification.

[2021-04-02 16:34] #11944 closed

[2021-04-03 07:56] liuaiyuan opened #11958 "Closing the page during the upload process causes the program to terminate"
## Current Behavior
[code]

1. Upload a larger file 200-500M;
2. Refresh the page when he uploads to about 30%;

![image](https://user-images.githubusercontent.com/68437472/113472279-be143c80-9494-11eb-931e-bb962a2cb0a8.png)
3. minio has ceased operation
![image](https://user-images.githubusercontent.com/68437472/113472294-dc7a3800-9494-11eb-8bda-b472cb9ed364.png)

## Your Environment
* mnio versi

[2021-04-03 09:10] fzumstein opened #11959 "Can't upload to public bucket anonymously since RELEASE.2021-03-17T02-33-02Z"
## Expected Behavior
1. Create a bucket `mybucket` and allow anonymous uploads via the following policy:

[code]
2. Upload the file via PUT request (I am using Python's requests lib for this sample):

[code]
3. Expected: Minio accepts the file and returns 200.

## Current Behavior
Minio accepts the file but returns an error (see at the end of this issue).

## Possible Solution
* It works with `REL

[2021-04-03 15:22] harshavardhana commented on #11958
This is fixed in #11939

[2021-04-03 15:22] #11958 closed

[2021-04-03 15:25] #11926 closed

[2021-04-03 22:27] collimarco commented on #11886
Yes, the writing on their website is misleading... Why AGPL?

This Github repo is clearly under the more permissive Apache license.

[2021-04-04 02:16] xaviermerino opened #11961 "Error: "Storage resources are insufficient for the write operation" when refreshing MinIO Browser."
I setup a 4 node (4 disks each) cluster of Minio servers. The servers are named:
-  `minio-server-1`
-  `minio-server-2`
-  `minio-server-3`
-  `minio-server-4`

I uploaded some data and then turned off the servers in 2 nodes. As far as I know, only 2 nodes (or half the disks) are required to read the data. And 3 nodes would be required to write more data.

I can't download the files (through MinI

[2021-04-04 02:19] harshavardhana commented on #11961
We cannot list the content since we need to write to the disks @xaviermerino - we require quorum writes to succeed since listing actually creates caches for the content - at the minimum, it has the same requirement as your write quorum for objects.

You can read the data still if you know the entire path of the object - navigation I am afraid will not work. Bring more disks and more servers - usin

[2021-04-04 02:19] #11961 closed

[2021-04-04 03:30] harshavardhana commented on #11886
## Not a legal advice

MinIO is 100% open-source and released under the FOSS licenses.  MinIO for multi-tenancy which is based on K8s operator is available under AGPL along with other services like sidekick (sidecar load-balancer), Key management store to manage your encrypted objects (kes), etc.

MinIO server for bare-metal or single-tenant is released under Apache v2.0.

AGPLv3 is used by all ou

[2021-04-04 03:30] #11886 closed

[2021-04-04 18:26] Butzlabben commented on #9795
Would it be possible (and make sense) to create a RamFS and use it as a cache drive?

[2021-04-05 12:58] hkirov opened #11965 "Minio won't start due to "invalid memory address or nil pointer dereference""
We have test setup with two clusters. Cluster 1 is configured with bucket replication to Cluster 2. Cluster 2 was broght down for 48 hours. After that nodes in cluster 2 won't start due to "invalid memory address or nil pointer dereference". Whithoult replication cluster 2 works fine.

## Expected Behavior
Normal start of nodes in cluster and resume of replication.

## Current Behavior
Nodes in cl

[2021-04-05 14:03] mkpavilion commented on #11810
@harshavardhana,
Is it possible for you to comment when this issue will be addressed?
Accordingly I can plan picking up that upcoming release.

Thanks.
Mandar

[2021-04-05 15:50] harshavardhana commented on #11965
Fixed by #11939

[2021-04-05 15:50] #11965 closed

[2021-04-05 20:50] champds opened #11969 "Content hash does not match"
We're getting errors like such:
[code]

We have three minio instances on three separate physical devices.  Each has /data1 and /data2.  When we restart the entire cluster, this error pops up on various different hosts (but it seems always on the same host per stop/start).  That is, it's always one host complaining about itself and one other host.

The question is how to determine the issue here an

[2021-04-05 21:06] harshavardhana commented on #11969
You can simply remove the usage-cache.bin path on all drives. This should never happen unless you have some drive issue or the drives are going to bad that they are bit-rotted

[2021-04-05 21:17] champds commented on #11969
Thanks @harshavardhana - we have some more detail that may help - here's the excerpt from the compose file:

This works just fine w/ no issues:
[code]

However, when we add drives to a new pool (new drives /data3 and /data4 on existing machines):
[code]
...this is when the errors start creeping up (but on /data1 and /data2, curiously)

Is this the correct way to expand or should we have been addin

[2021-04-05 23:16] harshavardhana commented on #11969
This is correct way to expand, I will try to reproduce this.

[2021-04-06 02:46] harshavardhana commented on #11969
@champds so I used latest master `minio/minio:edge` - and do not see any error - would you mind trying minio/minio:edge - NOTE: once upgraded you cannot downgrade from master anymore.  So if you have data then please be mindful of such updates.

Here are my compose.yml files

[code]

[2021-04-06 07:36] dzp-kulichova opened #11971 "Minio process falls on SIGSEGV error"
Hi,
We run Minio cluster with 3 nodes and 12 drives each.
Sometimes Minio process fail on error and we need to start it again.
It happens randomly on any node. We are not able to say what initiated that error.

Minio is started with setsid command on shell scipt which contains this:

[code]

Version used: minio version RELEASE.2021-03-26T00-00-41Z
Operating System and version: Linux bdw02 3.10.0-1

[2021-04-06 07:37] harshavardhana commented on #11971
This is fixed in #11939

[2021-04-06 07:37] #11971 closed

[2021-04-06 09:35] liuaiyuan opened #11974 "MINIO_DOMAIN invalid"
## Expected Behavior
Show image in browser

## Current Behavior
Opening http://app1.xxx.cc/1.jpg will still be redirected to http://app1.xxx.cc/minio/login

But I can open the image through http://app1.xxx.cc/app1/1.jpg

## Steps to Reproduce (for bugs)
[code]

## Your Environment
minio version RELEASE.2021-03-26T00-00-41Z

[2021-04-06 12:23] blobsquer opened #11980 "Lifecycle does not delete all objects in time"
I am operating a MinIO cluster with 4 servers and 4 disks. Approximately 1 million files are uploaded to the bucket daily with average size of +- 70kb. Lifecycle policy is set but files are not (all) deleted.

## Expected Behavior
When bucket lifecycle policy is set for 3 days files older than 3 days should be deleted the next midnight after the object expiration time comes.

## Current Behavior
O

[2021-04-06 13:00] sgandon opened #11981 "s3 Gateway is not accepting SSE headers anymore"
in the S3 Gateway versionned _2019-10-02T21-19-38Z_ we used to have not error when specifying `server-side-encryption=AES256` but on recent version the server refuses the call.
Looking at the documentation [here](https://docs.min.io/docs/minio-gateway-for-s3.html) it says that the server is in passthrough mode when neither _ MINIO_GATEWAY_SSE_ nor _KMS_ are set.
Is this a regression ?

## Expected

[2021-04-06 21:56] champds commented on #11969
@harshavardhana - thank you so much for the help here.  We did as you suggested above, but still had the same errors, even after re-formatting and starting fresh, so we dug deeper on this end.

We had two different errors on our end that we believe led to this issue.  Once we resolved them, **everything was perfect**.

Here are the issues, just in case anyone else may run into this in the future:

[2021-04-06 23:18] harshavardhana commented on #11969
Thank you for following back @champds - glad it works for you well.  If this is a production deployment you are advised to look our support subscription https://min.io/pricing

Subscription provides many advantages where we actively help out in guided architecture of your deployment, backported patches and SLA

[2021-04-06 23:18] #11969 closed

[2021-04-06 23:21] harshavardhana commented on #11948
Hmm that doesn't make sense that if you issue a GET request and do not read the content - why bother sending a request?

Disconnected clients do not report as "broken pipe" @vcabbage - broken pipe means a client actively closed the connection in the middle of a read() - that is an error condition that is logged appropriately to indicate what is the issue with the client logic.

[2021-04-07 00:59] jt121dot5 opened #11989 "HEAD requests for a partNumber no longer return a ranged reply"
A regression between RELEASE.2020-11-13T20-10-18Z and RELEASE.2021-03-26T00-00-41Z has changed the Content information returned by part-specific HEAD requests.

This might be the same issue as #11824

## Expected Behavior

An HTTP request for part number 1:

should return a ranged response covering the range of bytes for the requested part:

## Current Behavior

Reply now covers the whole file, ra

[2021-04-07 02:59] jgspratt opened #11990 "Add ability to drain a pool"
A minio cluster consists of one or more pools.  Over time, it is typical to expand a minio cluster by adding additional pools.

Consider the following example:

Initial startup command:

[code]

Startup command after adding larger hosts 5...8:

[code]

When it is time to retire hardware, it is important to be able to migrate the data in parallel while keeping the cluster online.

Currently, in the

[2021-04-07 03:04] harshavardhana commented on #11990
This is currently a work in progress and will be available in future releases.

[2021-04-07 03:37] DzianisMarkhotka opened #11991 "Multipart uploading mode with SSE does not compatible with Amazon S3 API"
According [AWS S3 documentation](https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html#API_UploadPart_Example_4) - in case using SSE-C API function "**UploadPart**"  need to return next headers: "**x-amz-server-side-encryption-customer-algorithm**" and "**x-amz-server-side-encryption-customer-key-MD5**". But in reality response does not contain the headers. That affect on at least AW

[2021-04-07 04:00] harshavardhana commented on #11991
@DzianisMarkhotka please provide an entire self-contained reproducer for us to verify.

[2021-04-07 05:53] harshavardhana commented on #11989
This is present in erasure-coded setup

[code]

[2021-04-07 05:55] harshavardhana commented on #11989
and in the FS mode as well works fine

[code]

Correct content-rage is returned for a multipart object with 115 parts

[2021-04-07 05:56] harshavardhana commented on #11989
You are right the returned content-range is wrong

[2021-04-07 07:29] #11948 closed

[2021-04-07 07:49] #11980 closed, assigned to nobody

[2021-04-07 08:52] subhankarc opened #11994 "Configuring MinIO Gateway for Azure blob storage"
We would like to configure MinIO gateway to connect to Azure blobstore. The example in https://docs.min.io/docs/minio-gateway-for-azure.html for configuring Azure blob storage in minio gateway expects `azureaccountname` and `azureaccountkey`. In our case, we get access to a container only via blob `sas_token`. so we have a `container_uri` and a blob `sas_token`. Can we configure minio gateway with

[2021-04-07 09:21] nitisht commented on #11994
Please use Slack (https://slack.min.io) for such questions @subhankarc . Closing this issue.

[2021-04-07 09:21] #11994 closed

[2021-04-07 11:20] iternity-dotcom opened #11996 "Mint - Run subsequent system tests even if a test fails"
**Is your feature request related to a problem? Please describe.**
Whenever the Mint test suite is executed, a single failing test in minio-java or minio-go causes all the remaining tests from the same "test package" to be skipped. The disadvantage is, that you don't see all failing tests but only the first failing test (at least in minio-java and minio-go tests). Ok the advantage is, that you don

[2021-04-07 11:28] iternity-dotcom commented on #11996
Also refering to a discussion in slack: https://minio.slack.com/archives/C3NDUB8UA/p1615891367010200
@kannappanr @GarimaKapoor

[2021-04-07 12:40] tahirh opened #12000 "Lifecycle does not delete all objects in time"
I am operating a MinIO cluster with 4 servers and 4 disks. Approximately 1 million files are uploaded to the bucket daily with average size of +- 70kb. Lifecycle policy is set but files are not (all) deleted.

## Expected Behavior
When bucket lifecycle policy is set for 3 days files older than 3 days should be deleted the next midnight after the object expiration time comes.

## Current Behavior
O

[2021-04-07 13:25] vcabbage commented on #11948
I take it you're not interested in changing this behavior. Fair enough :slightly_smiling_face: Thanks for taking the time to consider the issue.

---

To add more detail about what specifically we're doing (which I should have done from the beginning):

* We run multiple independent servers.
* Clients make requests to both servers simultaneously and use the first response, closing the other.
* We

[2021-04-07 13:50] m-pavel opened #12003 "Support for Authorization Code flow in Minio browser"
Currently minio browser uses implicit flow to integrate with openid authorization server. Which is not recommended and going to be  excluded from Oauth 2.1 spec (https://tools.ietf.org/html/draft-ietf-oauth-v2-1-02).
I would like to have support of Authorization Code flow in minio browser.

[2021-04-07 15:05] harshavardhana commented on #12003
MinIO browser is deprecated and not taking any more features - start using https://github.com/minio/console

[2021-04-07 15:05] #12003 closed

[2021-04-07 16:17] Weissger commented on #9256
Same issue.

[2021-04-07 16:36] sgandon commented on #11981
after doing some investigation
the method that checks if the encryption is enabled on the server used to return true in the case of the S3 gateway (Server RELEASE.2019-10-02T21-19-38Z)
https://github.com/minio/minio/blob/8b80eca184ca43f3538d562bbe6f04cd8cbfa8f6/cmd/gateway-main.go#L184
[code]
and today it returns false.
https://github.com/minio/minio/blob/fa9cf1251bc7d8b86f88f8a76a552d36da9c5c71/c

[2021-04-07 16:50] DzianisMarkhotka commented on #11991
It looks like no needed entire self-contained reproducer any more, is not it?
I also found a workaround: for each upload part set **UploadPartRequest.DisableMD5Stream = true**, which helps avoid checking the hash for each part when response has been received.

[2021-04-07 17:37] harshavardhana commented on #11991
Yes done @DzianisMarkhotka we have a fix anyways.

[2021-04-07 19:42] harshavardhana commented on #11981
@sgandon you need to configure KMS such as https://github.com/minio/kes - this is implemented to keep things predictable.

Also, gateway is moving to https://github.com/minio/ming - moving this issue there.

[2021-04-07 19:52] harshavardhana commented on #11862
There is no way for us to do this - readiness in k8s parlance is poorly thought out and can lead to catch-22 like scenarios where networking is turned off while the server is booting up etc.

We specifically didn't want k8s to see failure and turn-off networking for readiness probes. The current design is what is expected as we cannot easily co-existing with k8s readiness requirements.

You are on

[2021-04-07 19:52] #11862 closed

[2021-04-07 19:55] harshavardhana commented on #11879
MinIO is designed to require minimal ports on the system, i.e one listening port. You can isolate the traffic based on policies - security is policy-driven not port-driven.

You apply relevant policies to restrict access for incoming IPs to User-Agents or whatever.

I don't think we have an interest in making this change in design for now.

[2021-04-07 19:55] #11879 closed

[2021-04-07 20:08] harshavardhana commented on #12000
The way to speed up is `mc admin config set alias/ scanner delay=1.0 max_wait=10ms`

[2021-04-07 21:32] sokui opened #12011 "The upload speed is much slower than download speed"
## Expected Behavior

The upload speed should be faster, or the parallel degree should be configurable for upload/download
## Current Behavior

I am testing the performance for uploading and downloading a big file (50+ GB). The download speed is around 280 MBps, but the upload speed is only 30-50 MBps.

My testing is done within Kube. The MinIO is in server mode, with 16 nodes, 2 PVCs for each, so

[2021-04-07 21:37] #11824 closed

[2021-04-07 21:37] #11989 closed

[2021-04-07 21:41] harshavardhana commented on #12011
@sokui there is nothing you are sharing here about your environment or testing that you did with the code that reproduced this.

Our published benchmarks tell you that this not going to be an issue to meet performance requirements for MinIO. So it is always environment-specific and incorrect deployment leads to suboptimal deployment.

Closing this issue please share more information.

[2021-04-07 21:41] #12011 closed

[2021-04-07 21:49] sokui commented on #12011
Hi @harshavardhana ,

Here is the Java code I used to upload the file. For the environment setting, I posted all the infos about the deployment setup and the software versions. What kind of other information you need? Please let me know. Thanks

[code]

[2021-04-07 21:53] harshavardhana commented on #12011
This is not a realistic benchmarking you should do a distributed upload test using https://github.com/minio/warp to see the real throughput possible.

Of course uploads will be slower than downloads since uploads use server bandwidth than downloads the way erasure coding works, you need to optimize your parity ratio to get upload and download to have similar throughput profiles.

Everything depend

[2021-04-07 22:05] #11991 closed

[2021-04-07 22:21] harshavardhana commented on #11974
This needs to be a DOMAIN i.e `xxx.cc` is enough you don't need add your bucket names as part of domain.

You need to make sure your bucket is publicly readable for objects

[2021-04-07 22:21] #11974 closed

[2021-04-07 22:26] klauskades commented on #9256
So I am not 100% sure if this fixes the error or not, but we are able to use Keycloak with Minio by overwriting the auth endpoint manually in the jwt.go file (https://github.com/minio/minio/blob/master/cmd/config/identity/openid/jwt.go). We overwrite the AuthEndpoint before the return statement in line 277 manually with `d.AuthEndpoint = env.Get(<your-auth-endpoint>, d.AuthEndpoint)`  with `<your-

[2021-04-07 23:41] sokui commented on #12011
Thanks for replying. Yeah, my purpose was not to benchmarks he throughput of the server, instead, I want to tune a single client to see what the maximum upload speed it can get. Currently it seems the number of internet connection is not adaptable or configurable. Not sure how to increase the performance by tuning the client side.

For server side, thanks for pointing out the parity ratio. Will ad

[2021-04-08 05:30] niteshagrawalgmail commented on #11994
@nitisht the question is asked here : https://minio.slack.com/archives/C3NDUB8UA/p1617789770277100
can someone reply on that thread.

[2021-04-08 07:39] #12000 closed

[2021-04-08 09:11] sgandon commented on #11862
Indeed readyness probe can be challenging to setup and may not be appropriate if you cannot know the responsivness status of your pod at runtime.
But for doing rolling upgrade you need to have you pod not taking any calls if they are not "ready" and for this the *startup probe* would be more appropriate and was build for this purpose.
I believe that Minio should offer such a probe to make sure the

[2021-04-09 02:19] qufa opened #12025 "Active-Active Bucket Replication, when the replication target goes down, the time delay to reach full sync is very long and uncertain"
I am using active-active bucket replication fowllowing the guide [https://docs.min.io/docs/minio-bucket-replication-guide.html](minio-bucket-replication-guide) and [https://blog.min.io/active-active-replication](active-active-replication blog).
I made two cluster of minio, and both have the same configurations. Each cluster has 3 nodes and 2 drivers per node(thus 6 drivers total). Assume the sourc

[2021-04-09 02:24] harshavardhana commented on #12025
You need to configure `mc admin config set alias/ scanner max_delay=100ms`

[2021-04-09 05:42] artm opened #12026 "Implement ForAllValues and ForAnyValue set operators in Condition"
**Is your feature request related to a problem? Please describe.**

We would like to base policy conditions on presence of groups in `jwt:groups` array (same or similar to #11303).

**Describe the solution you'd like**

 The way to do that in AWS is using set operators `ForAnyValue` and `ForAllValues` (see [reference](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_multi-value-

[2021-04-09 05:44] artm commented on #12026
I have removed my incorrect assumption that the set operators only combine with `StringLike`, later in the same document they use `"ForAllValues:StringEquals"`

[2021-04-09 05:57] artm commented on #12026
Having said that, implementing just `ForAnyValue:StringLike` as a single function would already solve a lot of cases while the generic implementation of the operators would take longer to design.

[2021-04-09 06:15] qufa commented on #12025
Hi, thanks for reply! I followed your suggestion and test again , it seems to have a little improvement,
but still some files can not be sync . The test result can been seen below, the red rectangle  show where
there should be a file sync here.

![image](https://user-images.githubusercontent.com/68358882/114136418-3c615a80-993d-11eb-966e-395a38f8340d.png)

BTW, the command `mc admin config set ali

[2021-04-09 07:35] harshavardhana commented on #12025
Its actually

[code]

[2021-04-09 08:02] tahirh commented on #12000
Thanks for your reply. We set the scanner/crawler now to following settings:
[code]
After waiting a night we see disk usage is still going up unfortunately.
In the MinIO logging we see that bucket-lifecycle enforcement timed out:

`API: SYSTEM()
Time: 06:29:55 UTC 04/09/2021
DeploymentID: 72f62556-f7ef-4320-a939-6a4d83d4fa6a
Error: Operation timed out (cmd.OperationTimedOut)
       3: cmd/data-cra

[2021-04-09 08:03] tahirh commented on #12000
Thanks for your reply. We set the scanner/crawler now to following settings:
[code]
After waiting a night we see disk usage is still going up unfortunately.
In the MinIO logging we see that bucket-lifecycle enforcement timed out:

`API: SYSTEM()
Time: 06:29:55 UTC 04/09/2021
DeploymentID: 72f62556-f7ef-4320-a939-6a4d83d4fa6a
Error: Operation timed out (cmd.OperationTimedOut)
       3: cmd/data-cra

[2021-04-09 08:26] kokes opened #12027 "AWS SDK for Go v2: cannot list/get objects"
## Expected Behavior

I wanted to try the new SDK that went GA [quite recently](https://aws.amazon.com/blogs/developer/aws-sdk-for-go-version-2-general-availability/). I wanted to list and get objects in my Minio server.

(As a side note - it might be handy to include the v2 SDK example code in minio's docs.)

## Current Behavior
All I got was `api error NoSuchBucket: The specified bucket does not

[2021-04-09 09:06] klauspost commented on #12027
Likely `Host: storage.localhost:9000` is the problem. In the old SDK, this is handled by `S3ForcePathStyle: aws.Bool(true),` which changes to use the `localhost:9000/storage/object.txt` style.

Check if there is a way to do that, or see [domain section here](https://docs.min.io/docs/minio-server-configuration-guide.html) on how to configure virtual-host-style requests.

[2021-04-09 09:16] mkpavilion opened #12028 "Distributed minio node process goes down if its logical drive is 100% written with objects data."
After successful distributed minio setup, keep uploading objects to it in order to fill up any end logical drive storage space 100%. After that the minio node process which owns that logical drive starts existing. It keep exiting even after re-started multiple times.
In my case, DMinio cluster is running over docker containers.

## Expected Behavior

If a logical drive within a Erasure Set has sto

[2021-04-09 09:24] kokes commented on #12027
@klauspost you are correct.

The config is quite clunky, it's now set up like this:

[code]

Fixing that, I get the output as expected:

[code]

Full code for reference:

<details>

[code]
</details>

---

This could form a basis for a documentation update as I expect more and more people will start using the new SDK and guidance online is quite sparse. For the time being, I guess people can at le

[2021-04-09 09:24] #12027 closed

[2021-04-09 09:46] klauspost commented on #12028
What do you mean by "Minio node process [...] start existing"? That is not a term I know.

Your issue is rather dense to understand. Is it possible to rephrase it in simpler terms and maybe add the exact error messages that are logged/returned?

[2021-04-09 09:46] qufa commented on #12025
I adjust the configuration， and the problem remain.
This time I have only 1/20 file sync failed, and I use `mc admin trace -v -a alias` command to observing the source cluster status,  found amounts of logs below in the picture, and it continuous refreshing

![image](https://user-images.githubusercontent.com/68358882/114161753-029f4c80-995b-11eb-9629-92dd4c3a9e01.png)

Is that mignt be a bug ? or

[2021-04-09 09:49] mkpavilion commented on #12028
By "minio node process" i meant "minio server endpoint within that cluster".
That process given below error and exits.

[pvld_controller_15   ] 2021-04-04 02:42:12,858 pds3-node15 root[54]: API: SYSTEM()
[pvld_controller_15   ] 2021-04-04 02:42:12,858 pds3-node15 root[54]: Time: 09:42:12 UTC 04/04/2021
[pvld_controller_15   ] 2021-04-04 02:42:12,858 pds3-node15 root[54]: DeploymentID: 94cc2a75-cf1

[2021-04-09 10:01] klauspost commented on #12025
@qufa No, that is perfectly normal. Only one scanner is permitted per cluster and locks are used to ensure that.

[2021-04-09 10:09] klauspost commented on #12028
@mkpavilion These are just errors and the server doesn't quit.

MinIO will stop accepting writes a while before the disks are filled, but temporary data to satisfy requests are still written.

You should have active monitoring of your disk space/inodes and take appropriate actions before they fill up. Once your disks are full, there is little we can do.

[2021-04-09 10:10] klauspost commented on #12028
Running this close to the limit will always cause problems.

[2021-04-09 10:21] mkpavilion commented on #12028
@klauspost On docker container based MinIO we found that the server quit when disk/s goes 100%. It is reproducible always.
Yes, we are certainly monitoring the disk space & inodes as well. And we raise appropriate alerts to user when consumption goes beyond high water mark level.

I see. Then probably this could be a problem with docker based run (not sure0 as the server process is quitting defini

[2021-04-09 13:17] klauspost commented on #12028
@mkpavilion Maybe you should lower the threshold for notifications.

This is expected behavior. Since you are using our product commercially you might be interested in our subscription service where we can go into more details about your issue: https://min.io/pricing

[2021-04-09 13:17] #12028 closed

[2021-04-09 14:14] qufa commented on #12025
After adjust the configuration, I test it some more times, it still takes a long time (more than 1 hour),  is that normal ?
just 20 minutes and 20 small files?

[2021-04-09 14:39] klauspost commented on #12025
It depends mostly on the total number of objects in your cluster.

[2021-04-09 15:57] harshavardhana commented on #12025
And the bandwidth you have between nodes. And the throughput you have on the destination.

[2021-04-10 10:46] #11613 closed

[2021-04-11 23:55] #11628 closed

[2021-04-12 01:07] qufa commented on #12025
My two clusters are in a same LAN, the same CIDR, no firewalls,  so the transmission can be considered very fast enough, also the files I test is just small files, about 1~100kb.
The total number of objects in my cluster is just less than 300, so I dont believe in this  minimize  active-active replication system it  works so bad, there mignt be something wrong with logic or mechanism.

BTW, 20 fil

[2021-04-12 08:18] ToLToL opened #12038 "Federation - Forward S3 request to the right cluster"
### Setup
Federation (etcd + coredns), 2 clusters
mc S3 endpoint: `s3.example.com`, load balancer for all MinIO nodes.
Let's say I have a `mario` bucket in the 1st cluster.

What's the expected behaviour if I upload a file to `mario` bucket and `s3.example.com` redirects to a node of the 2nd cluster. Is the request then forwarded to the right cluster ?

ex:
`mc cp my-photo.png s3-example-com/mario

[2021-04-12 08:23] Ragnaruk commented on #11893
@vadmeste
Minio accepted empty Prefix fields ~4 months ago.

What's the status of this issue?

[2021-04-12 10:36] vadmeste commented on #11893
I sent a PR to fix this.

[2021-04-12 13:55] philpep opened #12042 "Metadata on pre-existing directory (aka fs-mode) ?"
When running minio on pre-existing directory (as documented in https://docs.min.io/docs/minio-quickstart-guide.html "Pre existing data"), the server doesn't expose `etag` metadata (`00000000000000000000000000000000-1`) of files.

Exposing correct etag (which is IIUC the md5 of the file content) here would be an awesome feature !

Thanks!

Related to #5050

[2021-04-12 14:07] klauspost commented on #12042
That would require indexing potentially terabytes of data. Not really a feasible feature.

[2021-04-12 14:34] philpep commented on #12042
Maybe this can be optionable ? Or adding a command that add metadata on files that's doesn't have yet ? Maybe this is already possible via API (add only metadata) ?

I'm looking for some project that provide s3 like API on existing posix directory which is handled by external process, and minio seems a perfect choice here, except I need etag on client side (since I need to check for modified files

[2021-04-12 14:51] harshavardhana commented on #12042
This is not an expected use case, existing data is access is provided as a convenience - extending that to do other kind of background operations is unexpected and beyond the scope of FS mode.

[2021-04-12 14:51] #12042 closed

[2021-04-12 14:57] harshavardhana commented on #12038
Redirections cannot be supported for signature v4 - just make sure that each federated instances trust each other TLS certs and they all have DNS and IP..

[2021-04-12 14:57] #12038 closed

[2021-04-12 16:17] kevinlul opened #12043 "Multipart upload regression from RELEASE.2021-02-24T18-44-45Z to RELEASE.2021-04-06T23-11-00Z (latest)"
## Expected Behavior
`mc cp LARGE_FILE minioserver/BUCKET_NAME` should just work.

## Current Behavior
For sufficiently large files (tested with a 35 MB file and reproduced with even larger ones), `mc` uses multipart uploads, and they fail with the following message:

mc: <ERROR> Failed to copy `LARGE_FILE`. We encountered an internal error, please try again.: cause(open /data/.minio.sys/multipart

[2021-04-12 16:20] harshavardhana commented on #12043
what is the backend filesystem here? @kevinlul

[2021-04-12 16:21] kevinlul commented on #12043
NFS4 mount bind-mounted into the Docker container.

[2021-04-12 16:22] harshavardhana commented on #12043
This is the behavior of Go stdlib not sure if we can change it @kevinlul

[2021-04-12 16:24] kevinlul commented on #12043
What was the change between February 23 and 24? I am seeing an IO library change b517c791e9f164e7b2c27d7bb0c31de4ae23c3c9

[2021-04-12 16:27] harshavardhana commented on #12043
@kevinlul    `readMode = os.O_RDONLY | 0x40000 // O_NOATIME`  most probably O_NOATIME is not supported.

[2021-04-12 16:36] #11893 closed

[2021-04-12 16:43] kevinlul commented on #12043
I see, none of my tests in the shell would use [`NOATIME`](https://man7.org/linux/man-pages/man2/open.2.html) then. I'm not seeing a flag for this with `cat` and `less`.
[code]
The kernel might actually be checking the UIDs for this then. I altered the downgraded UID to match that of the NFS mount and it worked.

[2021-04-12 16:46] harshavardhana commented on #12043
Yes that is the permission needed for perhaps this os.Open flag to succeed since it needs to CAP_FOWNER or UID matches.

[2021-04-12 16:58] chrisharward commented on #11370
Is this fix included in the latest release? (RELEASE.2021-04-06T23-11-00Z)

[2021-04-12 17:31] yauh commented on #1291
Sorry to see this unsupported still but I understand the technical reasoning behind it. This makes it behave considerably different to S3. Would love to see it fixed sometime in the future.
For what it's worth, maybe I was lured in by the marketing claims on the min.io website where it says

[2021-04-12 17:35] harshavardhana commented on #11370
This has been included since 02-07 here is how you check it

[code]

[2021-04-13 03:51] JJwangbilin opened #12046 "Wrong Error：Object name Does not contain unsupported characters"
## Expected Behavior

i want upload file , object name :༡༢།བསྟན་བཅོས་བཻཌཱུར་དཀར་པོ་ལས་བརྩམས་པའི་དྲིས་ལན་འཁྲུལ་སྣང་གཡའ་སེལ་དོན་གྱི་རང་བཞིན་སྟོན་བྱེད།.docx

command:mc cp ༡༢།བསྟན་བཅོས་བཻཌཱུར་དཀར་པོ་ལས་བརྩམས་པའི་དྲིས་ལན་འཁྲུལ་སྣང་གཡའ་སེལ་དོན་གྱི་རང་བཞིན་སྟོན་བྱེད།.docx /

Object name Does not contain unsupported characters， But mac mc client 、python sdk return message:Object name contains unsupported

[2021-04-13 04:08] harshavardhana commented on #12046
The main issue here is the `open ༡༢།བསྟན་བཅོས་བཻཌཱུར་དཀར་པོ་ལས་བརྩམས་པའི་དྲིས་ལན་འཁྲུལ་སྣང་གཡའ་སེལ་དོན་གྱི་རང་བཞིན་སྟོན་བྱེད།.docx.part.minio: file name too long` is too long @JJwangbilin for filesystems to store.

This exceed 1024 bytes in UTF-8

[2021-04-13 04:08] #12046 closed

[2021-04-13 14:40] jissi opened #12047 "can not create minio docker container"
## Expected Behavior

## Current Behavior

run  "docker run -p 9000:9000 minio/minio server /data "

ERROR Invalid command line arguments: wrong number of fields (expected 6, got 7): rootfs overlay / overlay rw,relatime,lowerdir=/var/lib/docker/overlay2/l/LF4BS6BYTR7FUG6GTFZLT6MR5T:/var/lib/docker/overlay2/l/QJEPI6XM5MEJYPRSKWDZPTRY3B:/var/lib/docker/overlay2/l/3MGGCFZUPRNH774Q3GZD75P2ML:/var/lib/

[2021-04-13 14:58] martyanov opened #12048 "Invalid command line arguments: path '/mnt/disk1/data' cannot be served by different address on same server"
Hi everyone! What I am doing wrong? I've just copied the command from the official documentation [here](https://docs.min.io/minio/baremetal/tutorials/minio-installation.html) and added host entries with distinct IP addresses to `/etc/hosts`.

## Expected Behavior

Properly initialized distributed MinIO.

## Current Behavior

[code]

## Your Environment

* Version used (`minio --version`): `minio v

[2021-04-13 15:35] harshavardhana commented on #12048
Make sure your host can resolve the IP to a local interfaces and also make sure they they all resolve to their own unique IPs.

This is the most basic setup issue.

[2021-04-13 15:35] #12048 closed

[2021-04-13 15:36] harshavardhana commented on #12047
No idea what this is looks like a setup issue.

[2021-04-13 21:56] alanjcastonguay opened #12049 "Configurable retries for Kafka notifications event sink"
**Is your feature request related to a problem? Please describe.**

I am deploying MinIO using the environment variables described in https://docs.min.io/docs/minio-bucket-notification-guide.html, setting `MINIO_NOTIFY_KAFKA_BROKERS` and related to stream events to a Kafka topic. The Kafka cluster and MinIO cluster are both deployed via operators, on the same Kubernetes cluster. They may both be _

[2021-04-14 02:56] weiklr commented on #9052
I have the same issue with a 4 nodes, 1 disk per node setup, using docker swarm and rhel 8.3 .

[2021-04-14 05:45] harshavardhana commented on #12043
Yes, they would not it's our feature to avoid doing **atime** updates on objects @kevinlul

[2021-04-14 13:02] ToLToL commented on #12038
I run the first cluster:

[code]

second cluster:

[code]

And in each server I have /etc/hosts:

[code]

I still have the same errors logs:

[code]

[2021-04-14 17:24] tkg61 commented on #11543
I was able to modify the existing json file to work (mostly) with the new metrics. More or less just a find and replace for the prometheus metric names and 2 variables in the dashboard. Hope that helps someone who needs this quickly

[2021-04-14 19:53] flixr opened #12052 "search and download as zip don't work with anonymous policy"
On buckets set with an policy to allow anonymous read only access, the objects can be viewed and downloaded via web interface individually, but the search objects field is missing and when selecting multiple objects and clicking "download as zip" nothing happens.

policy:
[code]

## Expected Behavior
As downloading invidual objects works, I expected that download multiple as zip also works (also s

[2021-04-14 19:59] flixr commented on #12052
Actually when this was reported to me, we still had `2021-03-26T00:00:41Z` running, seems to be already fixed with `2021-04-06T23-11-00Z`

[2021-04-14 19:59] #12052 closed

[2021-04-15 00:56] Alevsk opened #12055 "MinIO crashes after AssumeRole if user is using a policy that doesn't exists"
## Expected Behavior
MinIO should not crash

## Current Behavior

MinIO is crashing

## Possible Solution

Validate array size when length is 0

## Steps to Reproduce (for bugs)

1. create a user
2. assign policy to that user
3. delete the policy
4. Try to generate STS credentials via AssumeRole, ie:

[code]

You will see:

[code]

## Context

## Regression

## Your Environment

* Version used (`m

[2021-04-15 05:35] #12055 closed

[2021-04-15 09:44] TimLand opened #12059 "Slow putObject requests"
**Describe the bug**
I'm put objects to local Minio object storage connected via 127.0.0.1，Object size is 32KB and only one thread upload cyclically. The same conditions with minio-warp(S3 benchmarking tool)  I can got ~14MB/Sec throughput. However, if I use aws-sdk-cpp's PutObject I get only about 0.5MB/Sec. How can I improve it?

**SDK version number**
aws-sdk-cpp 1.8.183

**Minio version number

[2021-04-15 11:31] #12059 closed

[2021-04-15 11:47] zaborin opened #12061 "MinIO-gateway multi-user support with Consul"
**Is your feature request related to a problem? Please describe.**
We would like to use MinIO-gateway with Multi-User support, but it requires etcd for storing encrypted IAM data.
We understand the need for storage backend, but in public clouds we usually do not have access to etcd.
On the other hand, we usually deliver in-cluster Consul service.

**Describe the solution you'd like**
We would like

[2021-04-15 13:34] zaborin commented on #12061
As I can see, MinIO-gateway is being moved to Ming: https://github.com/minio/ming

Will Ming even provide multi-user support?

[2021-04-15 15:46] harshavardhana commented on #12061
MinIO gateway is not taking any feature requests and neither will ming project for the time being.

Feel free to send PR to support consul if you must.

[2021-04-15 15:46] #12061 closed

[2021-04-15 16:01] chrisharward commented on #11370
Thanks!

[2021-04-16 03:49] invent-lwj opened #12070 "Is't expand the number of disks must same as original cluster?"
I setup old cluster of 8nodes, 1disk per node, then, i expand it with 4nodes, 1disk per node. I got error `ERROR Unable to initialize backend: All current serverPools should have same parity ratio`. When i expand 8nodes, 1disk per node, it's work fine.
So i want to know it's restrict to expand same number of disks with old cluster?
Thanks!
Another question:
When expand old cluster, does the comman

[2021-04-16 05:03] harshavardhana commented on #12070
@invent-lwj you cannot expand with positional args - only ellipses expansion allows expansion.

[2021-04-16 05:03] #12070 closed

[2021-04-16 07:16] invent-lwj opened #12071 "3 dots or 2 dots in shell"
I start cluster on shell with `./minio server http://IP1/data{1...2}(three dots) http://IP2/data{1...2}(three dots)`, encounter error `ERROR Invalid command line arguments: Incorrect number of endpoints provided [http://IP1/data{1...2}]`
But, i run commond with three dots on docker-compose is fine, only can run command with two dots in shell?
[code]
I have read document, 2 dots{1..n} is low perfor

[2021-04-16 07:46] alexis-m opened #12072 "Sometimes bucket created with S3 client has an empty region"
If a bucket is created with an S3 client right after starting a new minio instance with a configured region, sometimes it is created with an empty region.
Present in` RELEASE.2021-04-06T23-11-00Z`.
Bisected to `RELEASE.2020-10-03T02-19-42Z` (last good) to `RELEASE.2020-10-09T22-55-05Z` (first bad).

## Expected Behavior
CreateBucket and then GetBucketLocation should return the configured region.

[2021-04-16 09:28] klauspost commented on #12071
Do not use 2 dots, as stated in the docs. A server pool cannot have only 2 disks.

[2021-04-16 09:28] #12071 closed

[2021-04-16 10:27] TestMsr opened #12073 "lifecycle works unexpected in server or gateway nas mode"
## Expected Behavior

server mode:success get object info without err.
gateway nas mode:can get/set lifecycle like server mode.

## Current Behavior

server mode:minio server panic with nil pointer
gateway nas mode: 1.set bucket lifecle successful 2.get bucket lifecycle it returns not implement

## Possible Solution

server mode:it seems that initBackgroundExpiry function only called on erasure mo

[2021-04-16 14:12] ToLToL commented on #12038
@harshavardhana

I use Let's Encrypt for tls certificate so I cannot add public IPs as SANs.
Do you see a solution to this ? It's a very annoying problem 😒.

[2021-04-16 14:28] tkg61 opened #12074 "LDAP permission lingers until minio reboot"
Please let me know if this is in the wrong repo

## Expected Behavior
When a permission/policy is removed from an LDAP user, that user should no longer be able to access the Console webpage.

## Current Behavior
Currently, if a policy is used to grant access to the Console app it will remain attached/valid to the user even if it is unset from that user. The policy correctly blocks users from their

[2021-04-16 14:32] gfalcone opened #12075 "GCS minio gateway returns `Error: googleapi: Error 400: Invalid bucket name: '.minio.sys/buckets', invalid (*googleapi.Error)` when listing buckets"
## Expected Behavior

I should be able to list all my GCS buckets through minio gateway gcs

## Current Behavior

When I launch my minio gateway, here is what I get :

[code]

## Steps to Reproduce (for bugs)

[code]

## Context

I was trying to setup Minio as a Gateway to my GCS buckets, I wanted to test the caching methods but was unable to just setup the gateway

## Your Environment
Docker imag

[2021-04-16 14:45] fabiopedrosa opened #12076 "Minio crashes after a few minutes, concurrency issues"
I have a fresh server, single-node minio server.

I've yet to write any data, but started by creating the 50k buckets I need.

After a few creations, it exits unexpectedly.

There's a single client creating buckets, one by one, in serial fashion.

[code]

## Your Environment

* Version used (`minio --version`): minio version RELEASE.2021-04-06T23-11-00Z
* Server setup and configuration: intel 24 c

[2021-04-16 15:58] harshavardhana commented on #12073
This is not a NAS gateway mode

You need to use

[2021-04-16 16:02] harshavardhana commented on #12072
Region is always empty by default and also region is set only when config is fully loaded otherwise you can't expect it to set the region right away until it loads the config.

So slow down your client.. and let the server be up fully.

[2021-04-16 16:02] #12072 closed

[2021-04-16 16:03] harshavardhana commented on #12043
Closing this as not our bug and expected behavior.

[2021-04-16 16:03] #12043 closed

[2021-04-16 16:17] TestMsr commented on #12073
This is my description fault.I use this two command separately.
There are two different problems here .one in server mode and another is gateway nas.
In server mode minio give panic err while getobject with file expried but yet deleted.
In gateway nas mode there appears no error while set bucket lifecycle,but when i get it ,it confused me returning not implement.

[2021-04-16 16:46] harshavardhana commented on #12073
NAS gateway doesn't support lifecycle @TestMsr - just that for some reason it saves the lifecycle rules but never applies them.

[2021-04-16 16:59] cverges-medallia opened #12078 "Gracefully shutdown Min.IO instance to prevent upload truncation during cluster restart"
**Is your feature request related to a problem? Please describe.**

When performing maintenance to the Min.IO cluster in Kubernetes, K8S will restart one node at a time; however, each node dies suddenly and truncates any existing connections.

When this does occur, the Min.IO connection returns a 403 (Forbidden), which is semantically unexpected, too.  Something like a 429 would be better to indic

[2021-04-16 17:02] harshavardhana commented on #12078
That is currently set to 5secs and no new connections are established.

[2021-04-16 17:03] harshavardhana commented on #12078
This happens when the server is coming up and redirects the requests to neighboring nodes or IAM system is not yet initialized so unexpected users are returned with 403.

[2021-04-16 17:07] cverges-medallia commented on #12078
Thank you for the fast replies!

Can the max timeout be tweaked as part of the cluster definition?  (Apologies if I missed that setting in the docs.)

And is there a way to prevent the 403 from occurring?  The rest of the cluster is up (IAM, etc.)

[2021-04-16 17:09] fabiopedrosa commented on #12076
Happens over and over again,

Here's another log capture:

<details>
    <summary>Log</summary>
    <p>

fatal error: concurrent map iteration and map write

goroutine 2546415 [running]:
runtime.throw(0x1f7fdd9, 0x26)
	runtime/panic.go:1117 +0x72 fp=0xc007645708 sp=0xc0076456d8 pc=0x438312
runtime.mapiternext(0xc007645870)
	runtime/map.go:858 +0x54c fp=0xc007645788 sp=0xc007645708 pc=0x410d2c
gith

[2021-04-16 17:14] Alevsk commented on #12074
@tkg61 We were able to replicate the issue, will work on a fix soon

[2021-04-16 17:22] RomainPhil opened #12079 "authentication for minio gateways failed with openid provider [keycloak][eks]"
The authentication with a openId like Keycloak works only with Minio server and failed with gateway.

## Expected Behavior

The authentication with a third party should work with Minio Gateway and Minio Server.

## Current Behavior

The attribute defined during the deployment of minio by the env variable  `MINIO_IDENTITY_OPENID_CLAIM_NAME` is not found when Minio is deployed as gateways but works

[2021-04-16 17:25] harshavardhana commented on #12079
This claim should come from keycloack as part of the user who is trying to login

You need to create the policy on MinIO `mc admin policy add`

[2021-04-16 17:25] #12079 closed

[2021-04-16 17:26] harshavardhana commented on #12079
Also for Gateway you need to enable `etcd`

[2021-04-16 17:28] harshavardhana commented on #12076
@fabiopedrosa what is your command line arguments here? how is MinIO setup?

[2021-04-16 17:28] harshavardhana commented on #12078
Will check what is going on here.. @cverges-medallia

[2021-04-16 17:40] fabiopedrosa commented on #12076
sorry, didnt mention it because its plain:

`/usr/local/bin/minio server http://pf-us1-miniosm1:9000/mnt/drive{1...8}`

[2021-04-16 18:21] RomainPhil commented on #12079
thanks but any link ?
the documentation is splited in so many part that i can't found the right one

[2021-04-16 18:23] RomainPhil commented on #12079
that works completely with minio server, is the policy required only for mino gateway ?

[2021-04-16 18:36] harshavardhana commented on #12079
gateway requires etcd @RomainPhil

[2021-04-16 18:41] harshavardhana commented on #12076
@fabiopedrosa why are you doing that? - this doesn't make sense actually all your drives are local right?  - It should be just

[code]

[2021-04-16 18:43] RomainPhil commented on #12079
i get that minio gateway require etcd, but it's installed as standard on eks. so the issue is not here

[2021-04-16 20:47] dboc commented on #8129
Hi,

I am facing the same problem wit MinIO NAS, recently we were out of storage then we list all files and discovery that there is very old files in ```.minio.sys/tmp```
We've been using MinIO(mode NAS) since 2018, we always update MinIO - using now RELEASE.2021-01-30T00-20-58Z. In that particular MinIO it has files old than 2 yeas in ```.minio-sys/tmp```.

Also, we recently make a new MinIO NAS

[2021-04-16 20:55] harshavardhana commented on #8129
@dboc you can manually delete them since they are really old - we always cleanup if there is a failure - this looks like you have seen bugs that existed in the past and have been fixed.

[2021-04-16 21:09] #12073 closed

[2021-04-16 21:16] dboc commented on #8129
@harshavardhana Thanks for the quick answer.

It is happing with new MinIO(mode NAS) RELEASE, i know that this issue is old but maybe this it was solved only on MinIO in mode Server.

I did a test with new RELEASE and it happened, for now i will delete theses files and monitoring if it will happen again.

[2021-04-16 22:41] harshavardhana commented on #12076
Closing this as an incorrect setup, tried 50,000 buckets with

[code]

Do not see any crashes for last 4hrs

[2021-04-16 22:41] #12076 closed

[2021-04-16 23:25] Alevsk commented on #12074
@tkg61 I'm able to reproduce all the steps except 4 and 5

[code]

[2021-04-16 23:26] harshavardhana commented on #12074
This issue was actually fully addressed in #11808

[2021-04-16 23:49] fabiopedrosa commented on #12076
@harshavardhana I don't see how that's different, since that hostname was actually 127.0.0.1.

Either way, I just tried using the format you mentioned and still get the same kind of failure:

[minio.log](https://github.com/minio/minio/files/6328296/minio.log)

Going to try to delete everything and start from scratch again.

[2021-04-16 23:52] harshavardhana commented on #12076
It is different @fabiopedrosa

- First its incorrect way to setup, even though it works
- It was implemented as a way to do local testing - not for active use.

I have it still running with 50,000 buckets no crash yet.

[2021-04-16 23:59] fabiopedrosa commented on #12076
@harshavardhana Sure, thanks for that. I'm creating the buckets again, even added a small 100ms interval between bucket creation, although I'd prefer to avoid doing that. I'll report back later. thanks again for helping.

[2021-04-18 06:07] kannappanr commented on #12075
@gfalcone You can ignore the `.minio.sys/buckets` error printed on the console. Will send a PR to remove that. The GCS credentials that you are using might not have permissions to do a listbucket call. You might have to make sure that it has that permission.

[2021-04-18 10:54] ToLToL opened #12082 "WebDownloadZip() - fatal error: concurrent map iteration and map write"
#### Context:

Federation with 3 clusters.
Version: `2021-04-06T23:11:00Z`
An user wanted to download a folder with 1000+ pngs causing a crash due to `fatal error: concurrent map iteration and map write` for `WebDownloadZip()`

#### Error:

[code]

[2021-04-18 13:35] aldelsa commented on #11543
I tried to fix it, but there are missing metrics like bucket_objects_histogram. I waiting a official dashboard too.

[2021-04-18 14:39] dprbook opened #12083 "Allow AssumeRole-API to assume specific user/role"
In my setup, I have an external Identity Provider (IdP), which returns JWTs after authentication to a frontend. This JWT is then forwarded to MinIO and verified using an OIDC-endpoint. This federated user wants to be part of groups. (As far as I understand, MinIO has no roles per se, so users can be used instead.) The goal behind this is to have MinIO be the access manager but use an external IdP/

[2021-04-18 16:09] harshavardhana commented on #12083
The roles are policies on MinIO there is no reason to have additional roles that also attach to policies.

The AWS implementation is pointlessly complicated and not needed. It was designed for their infrastructure and we don't really want to repeat their mistakes.

We may bring roles if you cannot solve it by using canned policies but we haven't seen any such requirement in the field.

Closing thi

[2021-04-18 16:09] #12083 closed

[2021-04-18 22:17] #11685 closed

[2021-04-19 07:41] ToLToL commented on #12082
I think that the user tried to download multiple times while the last `WebDownloadZip()` was still running.

[2021-04-19 07:46] gfalcone commented on #12075
It was indeed a permission issue, thank you for looking into it  @kannappanr

[2021-04-19 09:44] invent-lwj opened #12087 "Question about EC number and parity"
Question 1:
In distributed mode, with default setting, DATA DRIVES and PARITY DRIVES is 1:1, if i create cluster with 16 nodes, 1 disk per node, according to following explaination, the parity drivers is 4, but according to parity drivers is N/2(N is total drivers), the parity drivers is 8. Cloud you explain that?
By default:
Erasure Set Size	Default Parity (EC:N)
5 or fewer	                 EC:2

[2021-04-19 09:45] #12087 closed

[2021-04-19 10:47] weiklr opened #12089 "minio returns GMT time when server time is configured to a different timezone"
When I use minio client via java sdk, I encountered the error "RequestTimeTooSkewed", even though I already set the server time to be the same time zone as the client (GMT +8). the client's time is 15 mins slower than the server.

When I did a curl http://minio1:9000 to troubleshoot, i noticed that the response time zone is in GMT -8. How can I set the time to follow the server's timezone instead?

[2021-04-19 11:11] klauspost commented on #12089
`RequestTimeTooSkewed` sounds more like a server error when `x-amz-date` in requests are more than 15 minutes off from the server time. This is a requirement of signed requests.

Sounds like you are already aware of this:

Timezone is sent, so whichever timezone you send/receive doesn't matter. Synchronize your clocks.

[2021-04-19 11:11] #12089 closed

[2021-04-19 14:36] harshavardhana commented on #12075
Closing this issue as we will send a fix to ignore .minio.sys subsequently..

[2021-04-19 14:36] #12075 closed

[2021-04-19 15:44] #12082 closed

[2021-04-19 16:40] bttger commented on #5279
If you want to set a policy via SDK, you can pass a stringified JSON instead of the minio policy name. Also, a good resource is the S3 policy generator: https://awspolicygen.s3.amazonaws.com/policygen.html

[2021-04-19 20:22] fvahid opened #12092 "create user in old minio server"
I want create new user on old minio server I got this error

---------START-HTTP---------
PUT /minio/admin/v3/add-user?accessKey=vahid HTTP/1.1
Host: minio.apps.private.teh-1.snappcloud.io
User-Agent: MinIO (linux; amd64) madmin-go/0.0.1
Content-Length: 102
Authorization: AWS4-HMAC-SHA256 Credential=Admin/20210419//s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=**RE

[2021-04-19 20:26] harshavardhana commented on #12092
Upgrade your MinIO or stick your client to the version you want...

[2021-04-19 20:26] #12092 closed

[2021-04-19 20:27] fvahid commented on #12092
how to stick client version on code ?

[2021-04-19 20:28] harshavardhana commented on #12092
Read go mod documentation on how to do it..

[2021-04-19 20:30] fvahid commented on #12092
I know with changing go mode I can stick version to desire but this need to recompile application , I want do it by coding
something like change config in minio client api

[2021-04-19 20:35] fvahid commented on #12092
@harshavardhana I need to connect to tow minio server in single application in same time with different version any solution do you have to do that?

[2021-04-19 21:26] harshavardhana commented on #12092
There is no solution @fvahid you need to manage it locally ..

[2021-04-20 04:13] pilare commented on #11870
@harshavardhana so how to provide alternative in the call external public path, so presigned urls can be used in docker-compose or kubernetes environments? All the minio documentation is mentioning how to do nginx proxy, and that is working just fine, except it won't work for the presigned signatures. I can see some code for dotnet client (withProxy - not sure if it would do what we are asking her

[2021-04-20 10:09] greg0ire commented on #12047
I'm experiencing the same issue with Manjaro too, and a version of minio that is not the latest, so this is probably not a minio issue indeed.

[2021-04-20 10:33] artm commented on #12026
In the meantime would you have any workaround suggestions? How would I test for a particular value in groups array?

[2021-04-20 13:35] thomas-jakemeyn opened #12094 "How to skip OIDC authentication if already authenticated with Keycloak"
**Is your feature request related to a problem? Please describe.**
I am working on a project that embeds MinIO. Authentication is done with Keycloak + gatekeeper. If an incoming HTTP request is not authenticated, then the gatekeeper triggers a redirection to the login page. The problem is that, despite the fact that the active user is authenticated and has a JWT token, (s)he needs to click on the

[2021-04-20 15:51] harshavardhana commented on #12094
You cannot externalize authentication in MinIO, because your gatekeeper needs to implement S3 signature validation.

Otherwise MinIO is the authority for signature v4, if you are only looking at our browser then don't be that is the common way to access MinIO.

[2021-04-20 15:51] #12094 closed

[2021-04-20 16:47] FlogFr opened #12099 "Allow different domain endpoint for PreSigned object from the domain requester"
Similar to https://github.com/minio/minio/issues/10222

## Problem

In context when the requester of the PreSigned object is different from the final client using the PreSigned URL (i.e. they are not using the same domain to reach the MinIO Server), the PreSigned URL is not valid because the domain differs.

## Possible Solution

Add an optional HTTP header in the request of a PreSigned object in

[2021-04-20 16:56] harshavardhana commented on #12099
This is a client requirement @FlogFr you provide the right endpoint in the client constructor

[code]

[code]

We can't give multiple URLs from the server-side, Presigned is purely a client-side behavior on what hosts they really want to talk to.  As long as the Host header is preserved through the entire network connection and credentials are valid presigned URLs will work.

So it is an applicati

[2021-04-20 16:56] #12099 closed

[2021-04-20 17:33] harshavardhana commented on #12026
There are no workarounds right now unfortunately. @artm

[2021-04-20 17:34] tkg61 commented on #12074
Still having this issue after updating to latest version

[2021-04-20 18:53] alanjcastonguay commented on #12049
I think the retry backoff is currently left at the default of 100ms, which isn't exponential but probably ok. But if Kafka is still starting and the retry limit is 10, we're going to get through all 10x100ms retries in 1s.

[2021-04-20 19:02] greg0ire commented on #12047
Thanks! I have yet to find out if that `root overlay / overlay` is something that can really happen in a normal situation or if it is a bug. `man 5 proc` says the following about `/proc/mounts:

[code]

`man 5 fstab` is of no help in finding what this second field is about.

`cat /etc/mtab` shows the same output

`mount` seems happy with this and displays `overlay on 1653 type overlay (rw,blah bla

[2021-04-20 20:08] hobyte opened #12101 "systemd service not working on raspberry pi"
## Expected Behavior
minio running after starting the systemd servicce

## Current Behavior
starting minio through systemd fails
[code]

## Possible Solution
It has to be something with ExecPreStart command in the minio.service file, but don't know how to solve this

## Steps to Reproduce (for bugs)
1. Install [RaspberryPi OS (64 bit)](https://downloads.raspberrypi.org/raspios_arm64/images/raspios

[2021-04-20 20:15] harshavardhana commented on #12101
Does this user have write access to `/mnt`?

[2021-04-20 20:15] #12101 closed

[2021-04-20 21:26] harshavardhana commented on #12047
Not sure this looks unusual, and can have issue with parsing can you paste your entire `/etc/mtab` or `/proc/self/mounts` ?

[2021-04-20 21:46] greg0ire commented on #12047
Sure, meanwhile, I asked the question here and got an interesting comment: https://unix.stackexchange.com/questions/645994/why-does-proc-mounts-show-a-line-with-7-columns-type-overlay

[2021-04-21 00:14] alanjcastonguay commented on #12049
[code]

[2021-04-21 06:34] uhfath opened #12108 "No errors and no actions when deleting an object using double escaped key"
I've spent a whole day trying to figure out why nothing is happening after a request is sent to minio using incorrect escaping.

## Expected Behavior
When an incorrectly formed URL is used for a request, minio should return an error. Any error with a description.

## Current Behavior
Currently 204 is returned without any signs of incorrect request being made in the first place (tested with DELETE

[2021-04-21 06:54] harshavardhana commented on #12108
Delete calls always return even if the fail or success as 204 as per AWS S3 behavior we are just complying.

Also client encoding bugs we can't fix and auto correct clients - we do not know if this was legitimate request or not without context. So that is out of our scope.

Closing this as not our issue. This is just an expected S3 API behavior.

[2021-04-21 06:54] #12108 closed

[2021-04-21 08:04] FlogFr commented on #12099
@harshavardhana sorry I am not sure to fully understand.

The signed URL is built on the server side, right? And it's the server side logic that build the signed URL with the host inside and answer the signature to the client, right?

That's exactly the problem. The "Client 1" that will request a new signed URL is for instance a micro service inside a private network, it will reach the MinIO serve

[2021-04-21 09:37] ToLToL opened #12110 "RELEASE.2021-04-18T19-26-29Z - CRC check failed"
#### Context

Federation (etcd + coredns), 3 clusters (1 with 2 pools)
Logger and audit enabled
Scrape Prometheus metrics through `/minio/prometheus/metrics`.
Upgrade `RELEASE.2021-04-06T23-11-00Z` to the latest `RELEASE.2021-04-18T19-26-29Z`

I get:

[code]

#### Problem

I don't get all prometheus metrics.

[2021-04-21 09:48] klauspost commented on #12110
Logs aren't related to prometheus, but looks like some sort of data corruption with the scanner data. This shouldn't really happen.

I would treat the updated server carefully.

[2021-04-21 09:57] ToLToL commented on #12110
I have these logs as well:

[2021-04-21 09:58] ToLToL commented on #12110
I also have these logs, it maybe help you:

[2021-04-21 10:02] klauspost commented on #12110
Is it possible for you to collect all files from this `{BUCKET}/.usage-cache.bin/` from all disks and zip them up? That would help a lot with debugging.

[2021-04-21 10:11] klauspost commented on #12110
(they may have been overwritten in the meantime though)

[2021-04-21 12:07] bryanyip94 opened #12112 "Cannot set-up webhook in config"
Tried to set-up a webhook to an Openfaas function to get notification for every PUT event, but keep receiving the error: mc.exe: <ERROR> Unable to set 'notify_webhook:1 queue_limit=0 endpoint=http://127.0.0.1:57860/function/hello-python queue_dir=' to server: not connected to target server/service. Problem only occurs when Minio is deployed on Kubernetes.

Expected Behavior
Config file should be u

[2021-04-21 12:20] greg0ire commented on #12047
FYI I asked my colleagues for which this works, they don't have the `rootfs ` part.

[2021-04-21 12:30] ToLToL commented on #12110
Indeed, they have been overwritten. Do you want them anyway?

[2021-04-21 13:33] bollerdominik opened #12113 "Move existing erasure code server to distributed mode"
I have an existing server started in erasure code mode like this

`minio server data{1...10}`

The 10 disks are almost full and I would like to switch to an distributed mode.

I tried to stop the server and restart it like this

`minio server http://host{1...2}.domain.com:9000/data{1...10}`

but I keep getting an error such as

How can I move to a distributed mode without reformatting the disks? I

[2021-04-21 15:39] #12113 closed

[2021-04-21 15:40] #12047 closed

[2021-04-21 15:44] harshavardhana commented on #12112
In k8s you need to make sure your webhook is running locally as a side car or make sure to use the service name for your openfaas endpoint.

You can't just reuse the same settings from local setup on k8s.

[2021-04-21 15:44] #12112 closed

[2021-04-21 15:45] harshavardhana commented on #12110
This should be addressed by #12111

[2021-04-21 15:48] harshavardhana commented on #12099
No it is purely client side functionality you can build signed URLs without talking to server all you need is endpoint and credentials.

This is upto client to decide where it's reaching the server from - if it wishes to be on same network use a different DNS to talk to MinIO - if you are coming externally use external DNS - MinIO server has nothing do with this how presign URLs are generated.

[2021-04-21 19:54] bryanyip94 commented on #12112
But I think the error is that I cannot make any changes to the config file? As it continuously provide the error: 'not connected to target server/service'. What does this error mean? I cannot find much about it online.

In the documentation I also cannot find how I can deploy Minio with an already configured config file, is this possible?

Sorry I am using Minio for the first time. I hope you can

[2021-04-22 04:05] harshavardhana commented on #12110
And also #12116

[2021-04-22 04:05] #12110 closed

[2021-04-22 08:49] olanseerla commented on #1207
How do you stop the server?

[2021-04-22 15:04] uhfath opened #12118 "Why is Content-Md5 required when using Content-SHA256?"
When issuing a "PutObjectLegalHold" API request without setting "Content-Md5" header minio reports
"Missing required header for this request: Content-Md5."

But what is the purpose of it since we have SHA256?
I see that [AWS S3 docs](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObjectLegalHold.html) mentions this header, but not as a required or anything like that.
Other requests, like g

[2021-04-22 15:09] harshavardhana commented on #12118
It's AWS S3 API requirement, not us :-) - we are simply complying.

They require content-md5 to be mandatory for these APIs, don't read their docs they don't tell the full story.

You have to really make those API calls on AWS S3 and figure these details out which we did for compliance purposes.

So we can't really change it..

[2021-04-22 15:09] #12118 closed

[2021-04-22 15:10] uhfath commented on #12108
I understand. Thanks.
Perhaps it even makes sense to always return 204 since the resource is not there in any case.

[2021-04-22 15:11] uhfath commented on #12118
Got it. Thanks.
I guess some legacy stuff in AWS S3.
But it's a pity they don't mention things like this.

[2021-04-22 18:52] tkg61 commented on #12074
Still an issue in 4-22 release @harshavardhana @Alevsk

[2021-04-22 20:01] harshavardhana commented on #12074
That is not possible @tkg61 we have already tested this locally.

If you already have a session active then that session also will stop working as per our testing. Not sure what might be different in your environment.

[2021-04-22 20:02] harshavardhana commented on #12074
Also make sure you are using the lookup bind mode in LDAP, we are going to deprecate non lookup bind approach soon.

[2021-04-22 20:12] tkg61 commented on #12074
I am using the lookup bind and the strange part is that this only effects auth'ing into console, policy updates immediately apply to buckets.

i will go back a couple versions and see if it stops happening with a specific version

[2021-04-22 20:22] vadmeste commented on #12074
@tkg61 can you paste your ldap config that you set for MinIO server ?

[2021-04-22 20:50] tkg61 commented on #12074
[code]

[2021-04-22 20:54] tkg61 commented on #12074
i am trying to investigate to see if this is some sort of permission creep on my end after doing so much testing and "loosing" which were applied where (as related to https://github.com/minio/mc/issues/3690 and https://github.com/minio/mc/issues/3691)

[2021-04-22 21:57] tkg61 commented on #12074
console version - console-68 version 0.6.8 - c07b7b47
mc version - mc version RELEASE.2021-04-22T17-40-00Z
minio version - 2021-04-22T15:44:28Z

I believe i see that things are "working" but i want to confirm this is expected...

First off, i do think on one of my users has permission creep since they are apart of several groups i have tested with and there is some random policy applied that still

[2021-04-23 03:15] Leif160519 opened #12123 "minio not preserving ownership"
## Expected Behavior

Minio should save the file attributes when uploading files through the web

## Current Behavior
The actual test found that it cannot

## Steps to Reproduce (for bugs)

1.
[code]
2.web upload to minio
3.
[code]

## Your Environment

* Version used (`minio --version`): minio version RELEASE.2020-12-23T02-24-12Z
* Server setup and configuration:
* Operating System and version (`

[2021-04-23 03:48] harshavardhana commented on #12123
You are running MinIO as a root user @Leif160519

[2021-04-23 03:48] #12123 closed

[2021-04-23 05:19] uhfath commented on #12118
On a side note, is there any place that defines a list of APIs that require this header in minio?

[2021-04-23 05:39] Leif160519 commented on #12123
Thank you for your reply,
I just re-run minio with a normal account, and found that the file attributes are still not preserved, and the docker runs minio as root. Can this be similar to mc, and the file attributes are preserved through startup parameters?

[2021-04-23 05:39] Leif160519 commented on #12123
thank you for your reply,
I just re-run minio with a normal account, and found that the file attributes are still not preserved, and the docker runs minio as root. Can this be similar to mc, and the file attributes are preserved through startup parameters?

[2021-04-23 06:38] harshavardhana commented on #12123
You should run docker as your `docker run  --user`

[2021-04-23 06:39] harshavardhana commented on #12118
Unfortunately No. All legal hold and compliance related requires this..

[2021-04-23 06:46] harshavardhana commented on #12074
Thanks for the explanation it makes sense

When switching the console app to use node1 all policy changes happen immediately and things work as expected. In rebooting Minio I assume some policy sync happens and that forces everything to normalize.

The unset of the policy seems to be not propagated to remote nodes, which is causing the other peers to remember state they loaded from disk.

I will s

[2021-04-23 06:48] uhfath commented on #12118
Thanks!

[2021-04-23 08:59] HaoLiuHust opened #12126 "web can open but can not connect with py sdk"
I have set up minio and nginx to proxy to it with postfix "minio" , such as http://hostname/minio to http://minio_ip:9000. After set it to nginx, I can open http://hostname/minio, but can not connect it with minio python sdk, it seems "path in endpoint is not allowed"

[2021-04-23 10:31] TestMsr commented on #12126
'/minio' will be treated as bucket name in path-style.
you will have to modify the sdk

[2021-04-23 11:25] vadmeste commented on #12126
@HaoLiuHust nginx is not allowed to modify the request path, this will break the S3 protocol, so you cannot add a 'minio' prefix here.

What you can do is add a subdomain to your hostname, so the endpoint will be http://minio.hostname/

[2021-04-23 11:25] #12126 closed

[2021-04-23 13:16] pavel-z1 opened #12130 "Minio Cluster Healthcheck status without Authorization"
The endpoints (/minio/health/live & /minio/health/ready) from https://github.com/minio/minio/blob/master/docs/metrics/healthcheck/README.md without authentication return a 403 forbidden
[code]
[code]

With HTTP Basic authentication also impossible to get cluster health:
[code]
[code]

It is possible to provide healthckeck for cluster write and read quorum without authentication?
It would be much e

[2021-04-23 13:45] zkryakgul opened #12131 "MinIO with network based storage"
Hi all, i have a network based storage (3par) which have 320TB of total disk space and a Kubernetes cluster environment which is have dedicated 2 node for minio deployment. All of my nodes and 3par connected to each other trough 1G switch.  I can split storage from 10 TB up to 128 TB. For example i can split my storage 10TBx32 volume and i can mount all of them to my nodes.

In our first approach

[2021-04-23 14:04] #12131 closed

[2021-04-23 15:41] harshavardhana commented on #12130
I don't know where you are going with this these endpoints are always unauthenticated @pavel-z1

[code]

Unless you have some restrictions on your load balancer.

[2021-04-23 19:02] pavel-z1 commented on #12130
I am try to connect to the minio without any proxy.

Direct request to the minio:
[code]

At the same time live endpoint return status code 200
[code]

Minio version: minio/minio:RELEASE.2021-04-06T23-11-00Z
Minio docker:
[code]

[2021-04-23 19:30] harshavardhana commented on #12130
is it like a single drive setup? @pavel-z1

[2021-04-23 19:35] pavel-z1 commented on #12130
Minio info
[code]

[2021-04-23 19:39] harshavardhana commented on #12130
That seriously looks weird

[code]

[code]

[2021-04-23 19:41] harshavardhana commented on #12130
There is no code

[code]

there is no code that can return 403 at that endpoint.

[2021-04-23 19:48] pavel-z1 commented on #12130
Agree with you, this is strange.
How can I help with debug of this case?
As I see minio trace don't see requests to healthcheck

[2021-04-23 19:54] pavel-z1 commented on #12130
I guess that Minio cluster health check don't allow HEAD requests:
[code]

Get request seems work:
[code]

[2021-04-23 22:11] #12074 closed

[2021-04-23 22:48] harshavardhana commented on #12130
Yes, it should be a GET request always @pavel-z1 we don't allow any other HTTP method on cluster endpoint yet.

[2021-04-23 22:59] theduke opened #12142 "Relicensing Clarification"
Hi there.

In general I'm supportive of copyleft licenses and the AGPL for projects that are likely used in a context where the affero clauses become relevant.

However there is a question regarding the legality of this concrete change.

I'm sure you had legal counsel on this, but in my understanding, you can relicense contributions owned by the company as AGPL and subsume past external contributi

[2021-04-23 23:11] harshavardhana commented on #12142
@theduke all copyright headers in the code from external parties have been maintained that we have forked, whoever contributed were asked to add copyright headers for their contribution as part of the source header.

We have always carried the NOTICE header in the project and there are no external contributions with external copyright by external organizations. Wherever applicable the headers are

[2021-04-23 23:11] #12142 closed

[2021-04-23 23:31] rjc commented on #12142
@harshavardhana I don't think that's what @theduke meant. Every single non-trivial contribution up to the time you have changed the license, is covered by the old license. You can re-license other people's contributions without them agreeing to it. Otherwise, you might be violating their copyright - https://opensource.stackexchange.com/questions/33/how-can-a-project-be-relicensed

[2021-04-23 23:47] dsignr opened #12143 "Sudden, Silent License change?"
It's perfectly fine to change the license, but when tons of people are using your product, this may cause legal woes for many especially if the new license isn't compatible. Normally license change are announced in some form of PR or announcement or discussion and none of that has taken place. Hence, creating this issue for others to notice.

I personally don't have an issue with the license, but

[2021-04-23 23:50] harshavardhana commented on #12143
Almost all our other projects are already in AGPLv3 since 2019 - not sure why this should be surprising @dsignr - our website also has always talked about AGPLv3 for some time now https://min.io - this is just a natural progression for us.

The change is done here in the source first, we will be making an announcement shortly.

[2021-04-23 23:50] #12143 closed

[2021-04-23 23:53] pdf commented on #12143
Unless your contributors have signed a CLA allowing you to change the license you their contributions, you may have legal problems here (IANAL).

[2021-04-24 00:05] ddevault commented on #12143
You can sublicense Apache 2.0 projects and the Apache license is GPL-compatible - so they should be legally in the clear. Though IANAL, either. It doesn't work backwards, though - MinIO is hereby forever committed to ship this codebase as AGPL.

It's pretty frustrating to have it sprung on everyone without notice or community input, though. MinIO has a problem with not giving its community adequat

[2021-04-24 00:08] theduke commented on #12142
Exactly, @rjc. I was not talking about vendored projects.

There are currently 295 contributors for this repository.

That means you would have had to either get written permission from each of those that are/were not employed by Minio, or completely remove their contributions.

It's certainly possible that you have done this, but seems somewhat unlikely.

[2021-04-24 00:09] erir910 commented on #12143
I love how people who almost never contribute to open source are the most outraged when it comes to re-licensing and are the ones who lead the crusade smearing open source authors and startups. MinIO was always AGPL. Almost all contributions are done by MiniIO employees. Stop this arrogant sef-entitlement.

[2021-04-24 00:12] ddevault commented on #12143
The AGPL is a great license, I use it on many of my own projects (I work full time on open source, by the way). That has nothing to do with whether or not this is a nice way to treat your community.

It was Apache 2.0 before.

Tamper down on the flame war, okay?

[2021-04-24 00:27] erir910 commented on #12143
MinIO has always been AGPLv3 and their business model was based on dual commercial licensing and support. Also they literally just added the relicinsing commits a couple of hours ago. It's not like they did it 3 months ago and you found out by chance. It's not like they relicensed it to a proprietary license either. Not to mention that almost all users don't have to care whether minio is apache or

[2021-04-24 00:31] ddevault commented on #12143
I'm not sure what your crusade is for, but there's a lot of factual errors in your claims. I can't tell you what their business model is or was, but I can tell you that Minio-the-software was licensed Apache 2.0 before. That's a fact. Their other software might have been, but this was not their other software. I'm not sure what the timing has to do with anything, of course we're talking about it w

[2021-04-24 00:39] jchv commented on #12143
I concur that announcement-first would’ve been better. I realize this thread is about to become a lot of “me too”s but that’s the most important takeaway for me.

[2021-04-24 00:41] dsignr commented on #12143
First off, the validity of my point is not affected by my contribution towards Open Source. Also, for the record, I maintain [open source repositories](https://github.com/dsignr/disallowed-usernames) too, but I would never silently change the license hoping that no one would notice.

Next, the original license was different than what it is now, so please go back and kindly check as to why this iss

[2021-04-24 00:44] dsignr commented on #12143
No offence..but

![image](https://user-images.githubusercontent.com/5097028/115941724-40a48080-a4c4-11eb-9ef5-3fd98cee09b1.png)

[2021-04-24 00:44] ddevault commented on #12143
It's also worth noting that software licenses *do* entitle you to certain rights, so entitlement is often entirely appropriate in discussions like these. Contributors to this project are *legally* entitled to the conditions of the Apache 2.0 license which their changes were provided under.

[2021-04-24 00:48] erir910 commented on #12143
Have you ever wondered that this might be some sort of a throwaway account?

[2021-04-24 00:50] ddevault commented on #12143
Have you wondered if the people who you believe "almost never contribute to open source" could be using a throwaway account? If you want to have people check in their FOSS creed at the door to these discussions, start with yourself.

[2021-04-24 01:02] erir910 commented on #12143
@ddevault I am not sure why you want to pick up a fight with me and I don't think I have to list my popular foss projects just to justify my opinions. I know that writing inflammatory blog posts and picking up fights with people online is your main talent but I am not falling for that.

[2021-04-24 01:05] ddevault commented on #12143
"Rules for thee, but not for me"?

You picked the fight. Everyone here was pretty cordial until you showed up. Knock it off, dude.

[2021-04-24 01:15] pdf commented on #12143
Contributions made under Apache 2.0 will remain under that license though, right? So they can't just relicense without at least acknowledging that.

Regardless, that's for lawyers to work out. Handling of license changes must involve significant care, and as mentioned elsewhere, this silent change will have an impact for those working in companies that have defective policies related to deployment

[2021-04-24 01:18] ddevault commented on #12143
Well, kind of. I can see some interpretation here with respect to the specific relationship between the two licenses, the codebase, and the copyright owners. This one is for the lawyers to argue about. If I were considering such a change I would have taken more pains to an ambiguous situation here.

The MinIO team clearly thinks of the project as *theirs* and the contributions of others as, at bes

[2021-04-24 01:19] erir910 commented on #12143
I didn't pick a fight with anybody. I am just tired of this sense of self-entitlement whenever a popular foss project is relicensed (even to SSPL or BSL like it happened many times lately). The smearing campaign always starts on HN a couple of minutes later after the relicensing and people talk about how this is illegal, CLAs about mostly very trivial commits, backstabbing as if they are entitled

[2021-04-24 01:20] thayolee commented on #12143
@erir910 At this point your identity is obvious dude. @harshavardhana could you please at this point continue conversations from your real account instead of trolling from the other account? No need to get passive aggressive over this hiding behind a fake ID dude.

No one else has the incentive to get passive aggressive over this, plus your commits in the troll account tie back to your real accoun

[2021-04-24 01:28] dsignr commented on #12143
@harshavardhana I understand maintaining open source is tough, and mistakes like these are bound to happen every now and then. I do not wish to criticize nor diminish your contributions to open source and this project in general. I hope you take my issue as constructive criticism. I apologize for the direction in which this thread is going, I will refrain from replying if it helps. I am unsubscrib

[2021-04-24 05:47] #12130 closed

[2021-04-24 18:35] harshavardhana commented on #12143
People are referring to this thread and wrongly judging us without doing any research. I previously closed the thread upon author's request.

![linkedin](https://user-images.githubusercontent.com/622699/115969176-86773e00-a4f0-11eb-86c5-0271681072ad.png)

My account handle is @harshavardhana and I have no idea who @erir910 is.

This change is not silent. We will certainly make a release in the nex

[2021-04-25 09:12] Andy6Loda opened #12148 "download file not support more than 256KiB"
**Is your feature request related to a problem? Please describe.**
MinIO Helm Chart install on k8s, the pv/pvc use glusterfs. The file size is 128KiB is ok ,but not work on large than 256KiB

**Additional context**
LOG ERROR:

Error: Unable to write all the data to client /has incomplete body (*fmt.wrapError)
: cmd/object-handlers.go:516:cmd.objectAPIHandlers.GetObjectHandler()
1: net/http/server.

[2021-04-25 11:04] TestMsr opened #12150 "Trace log can't distinguish %3A and : in path"
## Expected Behavior

trace log shows 2 different style .

## Current Behavior

all printed as `:`

## Possible Solution

use rawPath instead

## Steps to Reproduce (for bugs)

1.put object with key 'asd%3Aasd'
2.trace log prints 'asd:asd'

## Context

some gateway will escape the request while doing reverse proxy.Cause the signature does not match err.
it's hard to find this kind error using trac

[2021-04-25 12:27] invent-lwj opened #12151 "[faq] How to know which shard is data shard or parity shard of a object"
When i upload a object, minio will generate some shards uniform distribute all disks, each disk has a shard(data shard or parity shard) is't right? now, how to know a shard is data shard or parity shard? i decode xl.meta file, it's don't show that.
Thanks!
[code]

[2021-04-25 16:24] harshavardhana commented on #12151
It is not easy to know, they are shuffled in order as per the distribution.

The distribution index talks about the place of each shard.

[2021-04-25 16:24] #12151 closed

[2021-04-25 16:28] harshavardhana commented on #12148
Can you more details, I can't see how this is possible?

[2021-04-25 18:40] harshavardhana commented on #12148
Just tried, it looks like its able to download properly - looks like some GlusterFS configuration issue.  Do not use backend PVCs from GlusterFS if you are to using NAS gateway.

If you are trying to run distributed setup on top of GlusterFS its not supported.

[2021-04-25 18:40] #12148 closed

[2021-04-26 01:50] marcan opened #12155 "AGPL compliance issue"
Hi MinIO folks,

I learned that MinIO switched to the AGPL, and I was curious to see how the project achieves AGPL compliance, which is notoriously difficult and underdocumented for projects which do not have a sole copyright owner (only common for commercial software with open source dumps and with some oddball free projects that require copyright assignment, like the FSF's own). Unfortunately, g

[2021-04-26 01:59] harshavardhana commented on #12155
Please email us at legal@minio.io or hello@minio.io for specific discussions such as these @marcan.  Closing this issue as the interpretation here is not legally vetted requires a more offline analysis.

The source code is directly available here at https://github.com/minio/minio

[2021-04-26 01:59] #12155 closed

[2021-04-26 09:21] ToLToL commented on #12110
@harshavardhana @klauspost

Thanks, it's fixed for clusters with 1 pool in `2021-04-22T15:44:28Z`, but still have the same error for a cluster with 2 pools:

[code]

I don't know whether it's related or not but I have inconsistent prometheus metrics from this cluster:

![Screenshot 2021-04-26 at 11 18 06](https://user-images.githubusercontent.com/39993930/116059396-151ac500-a681-11eb-9c9d-0dba33b3

[2021-04-26 10:25] vadmeste commented on #11748
I didn't not find time to do it since this is a big change, but I should fix it soon.

[2021-04-26 12:00] solyard opened #12159 "Enable metrics but disable service monitor"
**Is your feature request related to a problem? Please describe.**
I want to be able to enable metrics endpoint and creating a `bearer` for accessing it but not create ServiceMonitor for Prometheus cause I have a custom monitoring system and automation task always crashing while trying to deploy CRD (ServiceMonitor) into a cluster

**Describe the solution you'd like**
Additional option
[code]

**D

[2021-04-26 15:51] klauspost opened #12160 "lockBlocking: lockLossCallback not always called"
[(*distLockInstance).GetLock()`](https://github.com/minio/minio/blob/069432566fcfac1f1053677cc925ddafd750730a/cmd/namespace-lock.go#L146) creates a new context, but the provided cancelation function is not always called.

This leaks memory:

![leak](https://user-images.githubusercontent.com/5663952/116111932-6180f780-a6b7-11eb-854b-0f90c03c5538.png)

## Expected Behavior

The [returned cancel func

[2021-04-26 15:54] vadmeste commented on #12160
oups, good catch @klauspost.

I will review the code, it should not be hard to fix.

[2021-04-26 16:01] harshavardhana commented on #12160
Wouldn't it be just this?

[code]

[2021-04-26 16:23] harshavardhana commented on #11748
why is this a big change @vadmeste ?

[2021-04-27 04:14] MoonJustry opened #12165 "grafana dashboard no data"
grafrana import from docs/metrics/prometheus/grafana/minio-overview.json, but the default metrics not matched, like Uptime panel, default metric is `process_start_time_seconds`, but not exist, query process_start* results is : `minio_node_process_starttime_seconds`
There is the same problem with minio-console dashbord
## Expected Behavior

maybe ![image](https://user-images.githubusercontent.com/1

[2021-04-27 04:50] harshavardhana commented on #12165
Yeah if you use

the current dashboard won't show the metrics @MoonJustry you need to use `/minio/prometheus/metrics`

[2021-04-27 05:53] MoonJustry commented on #12165
`/minio/prometheus/metrics`, it works, thanks!
Maybe can add some hints to the current document.

[2021-04-27 06:10] harshavardhana commented on #12165
Sure we will @MoonJustry

[2021-04-27 06:10] #12165 closed

[2021-04-27 06:13] jiajinhui opened #12167 "minio ranger"
May I ask, does Minio support Ranger now? If not, do you have a plan when you can support it

[2021-04-27 06:23] jiajinhui opened #12168 "minio kerberos"
https://github.com/minio/minio/pull/7581

I added Kerberos authentication according to your method, but it didn't work. This is my startup script  run.sh

#!/bin/bash
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=adminadmin
export MINIO_KERBEROS_KEYTAB=/data/opt/keytab/minio.service.keytab
/data/opt/minio/run/minio server --address "192.XXX.XXX.119:9000"
http://192.XXX.XXX.119/data/opt/min

[2021-04-27 06:53] harshavardhana commented on #12168
We do not support Kerberos in MinIO @jiajinhui

[2021-04-27 06:53] #12168 closed

[2021-04-27 06:56] harshavardhana commented on #12167
MinIO doesn't support Apache Ranger @jiajinhui - do not have any current plans.

[2021-04-27 06:56] #12167 closed

[2021-04-27 08:08] jiajinhui commented on #12168
![image](https://user-images.githubusercontent.com/33280933/116205641-884f3480-a770-11eb-849c-f09163addc23.png)
However, Minio does support  Kerberos with HDFS

I have tried this, and if HDFS enabled Kerberos, Minio is deployed based on HDFS and can be configured successfully

Here is my startup script:
#!/bin/bash
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=adminadmin
export HADOOP_CONF

[2021-04-27 09:01] fvahid opened #12169 "export and import all config from minio"
I know in minio all config including user password , bucket ILM and other staff palced in .minio.sys directory
would we have any solution to backup all config and import onto another minio server ?

[2021-04-27 09:22] jiajinhui opened #12170 "Minio does support Kerberos with HDFS？"
![image](https://user-images.githubusercontent.com/33280933/116205641-884f3480-a770-11eb-849c-f09163addc23.png)
However, Minio does support  Kerberos with HDFS

I have tried this, and if HDFS enabled Kerberos, Minio is deployed based on HDFS and can be configured successfully

Here is my startup script:
#!/bin/bash
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=adminadmin
export HADOOP_CONF

[2021-04-27 15:26] harshavardhana commented on #12170
Yes hdfs gateway supports kerberos but only for backend communication.

Kerberos support is not present for S3 calls.

[2021-04-27 15:27] harshavardhana commented on #12169
Right now no such solution exists, we can provide a command in future for full migration.

Closing this issue for now as we don't have any immediate plans to work on this.

[2021-04-27 15:27] #12169 closed

[2021-04-27 20:15] #12170 closed

[2021-04-27 23:12] #12160 closed

[2021-04-28 08:47] lynch2git opened #12176 "Unable to initialize gateway backend: mkdir /.minio.sys/tmp: no available namenodes: write tcp x.x.x.165:x->x.x.x.115:8020: write: broken pipe"
Hello everyone, I encountered a issue.
## Expected Behavior

I am trying to start a minio using gateway hdfs with kerberos.
## Current Behavior

When i starting minio, it report an error.
## Steps to Reproduce (for bugs)

1. init a shell with all the needed:
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=minio123
export KRB5_CONFIG=/opt/apps/minio/krb5.conf
export KRB5KEYTAB=/opt/apps/minio

[2021-04-28 12:24] ianzhang1988 commented on #11756
@ harshavardhana

Cloud you elaborate this.
* What do you mean by "on your own"?
* What is proper disk order?
* Can I add new pool to cluster using MINIO_ENDPOINTS?

I have some servers which are in use, so I can't change ip or mount point or basicly anything on those servers.
So, can I make server pools for a cluster with non consecutive ip and path(like this: /data1 /data3 /data6) using MINIO_EN

[2021-04-28 14:10] uhinze opened #12177 "SSE-C not working in gateway mode"
SSE-C does not seem to be working in gateway mode if the gateway backend does not support SSE-C.

If I read the docs at https://docs.min.io/docs/minio-gateway-for-s3.html correctly, SSE-C is never in pass-through mode, but will always be processed in the gateway.

## Expected Behavior
PutObject operations with an SSE-C key should successful.

## Current Behavior
[code]

## Steps to Reproduce (for

[2021-04-28 15:37] harshavardhana commented on #12176
This error is the key here @lynch2git looks like namenode is returning an error for our requests.

[2021-04-28 16:44] ianzhang1988 commented on #11756
@harshavardhana

Is there some complex logic behind ellipses syntax, or is it just expand to an array?

I need a walkaroud for non continuous IP and path to work. Is it possible for me add few code to achieve this without breaking something important?

[2021-04-28 16:46] harshavardhana commented on #11756
Unfortunately that's not possible - non continuous IP is not necessary - just setup a helper DNS entries in /etc/hosts to provide the ellipses syntax.

[2021-04-28 17:26] ianzhang1988 commented on #11756
Thanks for the reply.

Have no doubt ellipses syntax would working fine on dedicated servers,  though it's difficult to reuse some exsiting servers with ellipses syntax.

[2021-04-28 19:17] CosmicToast opened #12179 "#12172 introduces regression when accessing html files in public buckets"
## Expected Behavior
Assume I have a bucket `foo`.
It is set up for anonymous access.
If I have `myminio/foo/bar.html`, I would expect to be able to access it via `minio.link/foo/bar.htm`l

## Current Behavior

As of #12172 this is redirecting me to the console project instead of showing the html output of `foo/bar.html`.

## Possible Solution

Only redirect to the minio/console exclusively on `/`

[2021-04-28 19:20] harshavardhana commented on #12179
The browser code is removed from master so this is a change that we wanted to have, let me check if there is a way to avoid this for anonymous requests.

[2021-04-28 19:22] CosmicToast commented on #12179
Yes, I understand that the browser code is removed, and I have the console running under /console now.
However, the issue is that this interferes with minio's ability to do its actual job (i.e serve files) - something that did not depend on the browser code.
In other words, the regression is not that the old console ui is gone, but that the files that would normally be accessible (and are in no wa

[2021-04-28 19:22] #12179 closed

[2021-04-28 20:07] chpaulin opened #12180 "Files uploaded using presignedPostPolicy does not emit bucket notifications"
We have experienced that MinIO is not fireing the ObjectCreated notifications when a file is uploaded using presignedPostPolicy. It works fine using the presignedPutObject.

## Expected Behavior
When POSTING a file using presignedPostPolicy we expect the ObjectCreatedPost or ObjectCreatedCompleteMultipartUpload to fire.

## Current Behavior
When POSTING a file using presignedPostPolicy no notifica

[2021-04-28 20:12] harshavardhana commented on #12180
have you enabled `mc event add` to enable notifications? for the bucket?

[2021-04-28 20:15] harshavardhana commented on #12180
Here is how I tested

[code]

[code]

[code]

Looks like notifications are working fine.

[2021-04-28 20:15] chpaulin commented on #12180
Specificly for adding files using POST? It works great using any other means of uploading files; dropping a file directly into the Web UI, using presignedPutObject and using the s3Client PutObjectCommand in JS

[2021-04-28 20:16] harshavardhana commented on #12180
Can you elaborate more on how the webhook is setup? I can't see how its possible.

[2021-04-28 20:22] chpaulin commented on #12180
@harshavardhana thanks for looking into this with such short notice.

So what I am saying is that using POST to upload a file seems to be the only time we don't get a notification

[code]

The FormData parameters where generated using the Minio client as seen in the issue definition

Using PUT works great but as stated it's not under our control to choose that approach as Uppy has choosen the POST

[2021-04-28 20:27] harshavardhana commented on #12180
Still, it rather looks strange since notification should happen regardless @chpaulin unless you set your notification to be specifically s3:Put - as I can see with `mc watch`

[2021-04-28 20:31] chpaulin commented on #12180
Ah I see, yes that could ofc have been the issue.

This is my Webhook setup
[code]

[2021-04-28 20:42] chpaulin commented on #12180
@harshavardhana: I tested with `mc watch` and I got the put event when I posted it seems
[code]
But this is not being sent to my webhook for some reason

Dropping the same file in the WebUI i get a similar notification and this is also received by ny webhook
[code]

[2021-04-28 20:49] harshavardhana commented on #12180
@chpaulin can you share your `GetBucketNotification` XML ? - this would show us your configuration..

[2021-04-28 20:52] chpaulin commented on #12180
Where can I find that?

[2021-04-28 21:13] harshavardhana commented on #12180
when you said you have setup notifications - how is that done? can you describe?

[2021-04-28 21:22] chpaulin commented on #12180
Maybe not the best phrasing on my part. I have done nothing on the server side what so ever except for adding two Enviroment variables:
[code]
If i run the following after setting up my notifications in the webhook service
[code]
i get this
[code]