[2020-04-29 19:59] harshavardhana commented on #9489
This will not work with

[2020-04-29 20:12] kannappanr commented on #9482
@beifangxiuwhx I have tried both single part and multipart, with TLS and without TLS. I tried two versions 1.26.3 and 1.30.17 both of them did not show this error. Please provide as much as possible for us to reproduce this issue, like the exact with the exact filename etc to reproduce the issue

[2020-04-29 20:14] caryfitzhugh commented on #9489
agreed. I also have "mc.old" which is my older version of mc.

When I tried it with mc.old I got this
[code]

Since mc.old is a compatible version with my current cluster, and it does not have the desired commands, I attempted to instead, update the version running on the cluster to ``` RELEASE.2020-04-23T00-58-49Z ``` and running again.

The error I get in that case is:
[code]

The servers are em

[2020-04-29 20:19] harshavardhana commented on #9489
Here is what you should do

[code]

And then restart the server and then `mc admin config export alpha`

[2020-04-29 20:23] harshavardhana commented on #9489
Also please use `RELEASE.2020-04-28T23-56-56Z` server release.

[2020-04-29 20:42] #9416 closed

[2020-04-29 20:43] caryfitzhugh commented on #9489
ok. attempted this.  In a few servers I saw this:

[code]

the rest just had
[code]

Then I ran:
[code]
### That was encouraging!
Seeing these errors:
[code]

I'm guessing I should also delete the IAM directory in ```.../.minio.sys/config/iam```  and try these steps again?

[2020-04-29 20:46] harshavardhana commented on #9489
yes @caryfitzhugh

[2020-04-29 20:53] caryfitzhugh commented on #9489
All I am seeing now are these errors, which i think make 100% sense since the kafka configs were deleted (and easily fixed).

[code]

## Thank You! :)

[2020-04-29 20:53] #9489 closed

[2020-04-29 21:06] kannappanr commented on #9488
a bucket policy like the following

[code]
would do this. closing this issue as answered, please feel free to reach out to us at https://slack.min.io for such questions.

[2020-04-29 21:06] #9488 closed

[2020-04-29 21:50] Skywrath-Mage commented on #2111
it would be very nice if we could easily set up versioning rules. like how long a version of a file should be kept.

[2020-04-29 22:03] harshavardhana commented on #2111
As explained it is as per AWS S3 specs, if those specs have it it shall be implemented. Such as lifecycle deletes following versionid or object tags

[2020-04-29 23:05] kannappanr commented on #9484
@babytut Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further such questions

[2020-04-29 23:05] #9484 closed

[2020-04-30 01:21] babytut commented on #9484
Thanks @vadmeste . I changed to nfs4 and it worked

[2020-04-30 04:49] adpopescu-ibm opened #9492 "make test: TestNDJSON fails with 'unsupported platform' on s390x architecture."
While building minio on s390x arch and then running the unit tests. The 'TestNDJSON/parking-citations-10' test at 'reader_test.go:74' fails with an 'Unsupported platform' message.
The test was introduced when the simdjson-go package was added into minio.

## Expected Behavior
Test passes or warns gracefully.

## Current Behavior
[code]

## Steps to Reproduce
1. ```make```
2. ```make install```
3.

[2020-04-30 05:39] Eshwin opened #9493 "multipart upload error with minio.error.InvalidPart: InvalidPart"
## Expected Behavior
 I should be able to push the files with folder structure in minio storage

## Current Behavior
 I am trying to push  some folders with files in it using client.fput_object(). but while pushing i got the below error.

minio.error.InvalidPart: InvalidPart: message: One or more of the specified parts could not be found. The part might not have been uploaded, or the specified ent

[2020-04-30 08:52] beifangxiuwhx commented on #9482
Hi，@harshavardhana  @kannappanr , it's not a minio bugs. I just found that s3-go-sdk will get a wrong content-sha256 while use io.readcloser in func uploadpart , it's all ok when I use io.readseeker.
Please close the issue, Thanks!

[2020-04-30 09:00] vishallanke opened #9494 "[faq] Error as server/data is not a valid command when deployed over AWS FARGATE ECS"
I am deploying report portal on AWS FARGATE ECS containers. I want to use below settings.
[code]

Login to AWS. Select ECS. Create Cluster. Create Task Definition. Add container inside Task Definition. Provide Image Name, Health Check, Commands as specified above inside ECS Task Definition. SAve Task Definition. Start the Task.

Getting error as 'server /data' is a not valid command, existing cont

[2020-04-30 09:01] kannappanr commented on #9493
@Eshwin Can you file an issue following thee template we have?

[2020-04-30 09:03] kannappanr commented on #9482
@beifangxiuwhx Thanks for letting us know.

[2020-04-30 09:03] #9482 closed

[2020-04-30 09:55] Oliver-Mitchell-CIC-UK opened #9495 "[resolved] Cannot configure MQTT notifications through environment variables"
The [Bucket Notification Guide](https://docs.min.io/docs/minio-bucket-notification-guide.html#MQTT) states that MQTT notifications can be configured through environment variables but in practice this is not the case.

## Expected Behavior
Setting the `notify_mqtt` variables should create the destination ARN.

## Current Behavior
The destination ARN is not created.

## Possible Solution
Using `mc`

[2020-04-30 10:51] timhughes commented on #9435
I think the changes in the new revision have caused a regression. Now the access key generated is immediately invalid.

[code]

[2020-04-30 11:15] claytonnog commented on #9372
Hi Guys, could someone please help with this?

[2020-04-30 11:47] rnz commented on #7662
That was wrong.
In many cases upgrade of driver of filesystem is not possible or not reasonable.
It’s advisable to add relaxed mode based on buffers OS or buffers of fs driver, as is the case with ZFS. Such as did in ScyllaDB (relaxed-dma).

[2020-04-30 12:14] vishallanke commented on #9494
It might be becuase in ECS, ./data/storage:/data is not working. I tried with /home.shared..still no luck

[2020-04-30 14:49] kannappanr commented on #9495
@Oliver-Mitchell-CIC-UK thanks for reporting this issue. We will take a look and get back to you.

[2020-04-30 15:28] Praveenrajmani commented on #9495
Can you update your MinIO version to the latest and test @Oliver-Mitchell-CIC-UK

 https://github.com/minio/minio/pull/9085 may have the fix

[2020-04-30 15:36] babytut opened #9499 "Set quota of disk on MinIO"
I want to config the quota of disk that MinIO use to store data objects.
But I read the MinIO documentation, nowhere tell me about it.

[2020-04-30 16:10] harshavardhana commented on #9482
They document specifically for you to use io.Seeker please report this upstream as this can be avoided on their end.

[2020-04-30 17:04] harshavardhana commented on #9499
Available for testing in #9379

[2020-04-30 17:04] #9499 closed

[2020-04-30 17:06] harshavardhana commented on #9494
This is what you want? @vishallanke

[2020-04-30 17:33] vishallanke commented on #9494
Thanks for prompt reply.
I will try `server, /data` on ECS Containers tomorrow. ECS accepts comma seperated commands. So, it seems there are two commands. Previously, I was trying server /data.

However, `command : server /data` works well if I deploy them through docker-compose on EC2 Instance. So, I thought to use same inside ECS.

[2020-05-01 00:11] timhughes commented on #9435
I have been running through this with a debugger and I think I know what is going on.
At this point here https://github.com/minio/minio/blob/master/cmd/config/identity/ldap/config.go#L156-L160 the username is being inserted into the `MINIO_IDENTITY_LDAP_USERNAME_FORMAT` string and `bindDN` looks like `cn=fry,ou=people,dc=planetexpress,dc=com` when it should look like `cn=Philip J. Fry,ou=people,dc

[2020-05-01 09:34] anthu commented on #9406
FYI: Fixed by #9445 and #9496

Looking forward to the next release as proper Audit logging is critical!
Thanks @vadmeste for this!

[2020-05-01 14:25] #9406 closed

[2020-05-01 15:19] Eshwin commented on #9493
@kannappanr I have updated my post
Thank you

Contributor
kannappanr

[2020-05-01 15:21] bkielczewski opened #9506 "Sends empty Content-Encoding header for image/svg+xml mimetype"
## Expected Behavior
No empty Content-Encoding sent, if there's no content encoding of course.

## Current Behavior
Sends empty Content-Encoding for object with mime type `image/svg+xml`. I'm guessing this is for other mime types as well.

## Steps to Reproduce (for bugs)
[code]
For other types it seems ok:
[code]

## Context
That wouldn't be much of a problem as browsers ignore this header when e

[2020-05-01 15:36] harshavardhana commented on #9506
You need to set the correct content-type during PUT object, don't expect server to automatically fetch this information for you.

[2020-05-01 15:57] bkielczewski commented on #9506
@harshavardhana this issue is ***not*** about content-type header, which is sent correctly.

[2020-05-01 15:58] harshavardhana commented on #9506
You need to set the content-encoding as well during PUT to be sent back during Head or Get operations

[2020-05-01 16:42] bkielczewski commented on #9506
I don't want `Content-Type` to be sent back. Since minio won't serve it gzipped this would be plain wrong. I don't want it to be sent at all when it's not set.

Maybe here's the problem. I'm using java client 7.0.1 to put the object, test case below:

[code]

Which results in:

[code]

So as you see if I don't set it, it has empty value, but should have no value at all.

[2020-05-01 16:45] harshavardhana commented on #9506
That is a bug in the client @bkielczewski, not server https://github.com/minio/minio-java/commit/62f58a1603e9cb009e4ae475e51dea22a58140b6 so upgrade to 7.0.2

[2020-05-01 16:49] bkielczewski commented on #9506
I can confirm it all behaves correctly after update to 7.0.2. Thanks for your help.

[2020-05-01 16:49] #9506 closed

[2020-05-01 16:53] #9459 closed

[2020-05-02 08:02] hebe9585 opened #9508 "minio server failover"
minio server distributed to four work node. when files upload, shut down one work node which is the exectly the client real connected to. in this case, the left three minio server upload file will not success and also will not return fail until restart the node which was shutdown before. At this moment, the minio server recover four and the file upload will success.
## Expected Behavior

upload fi

[2020-05-02 15:26] balamurugana opened #9509 "GetBucketTagging and GetObjectTagging APIs return invalid Tagging XML response"
`GetBucketTagging` call returns invalid tagging XML response `<Tagging><TagSet><Tag></Tag></TagSet></Tagging>` on freshly created bucket whereas AWS S3 returns `NoSuchTagSet` error.

Similarly `GetObjectTagging` call returns same invalid response on freshly created object (without tags) whereas AWS S3 returns `<Tagging><TagSet/></Tagging>`

Also note that returning `<Tag></Tag>` is quite incorrect

[2020-05-02 18:27] harshavardhana commented on #9508
Please use the latest release and let us know @hebe9585

[2020-05-02 19:02] hassanbabaie opened #9510 "Suggestion - Remove accessKeyMinLen & secretKeyMinLen for MC and Minio Gateway"
This isn't a bug per say as I know it's deliberate however I think it should be removed

This relates to:
Minio Gateway
MC

## Expected Behavior

Today on both products you have the following validation

MC
cmd/config-utils.go
[code]

Minio GW:
[code]

I think the Minimum Length should only be enforced on the **Minio Server application** and not on the Gateway or MC client.
I understand the ration

[2020-05-03 14:29] anthu opened #9512 "Missing Prometheus metrics when restarting server with different Endpoint order"
Starting with the first April release my team realised that some disk-related metrics are missing or wrong for Prometheus. Affected metrics were minio_storage_* (missing) minio_disks_* (always 0).

After a while I could finally reproduce the behaviour in a different environment by permutating the endpoints when restarting the server.

## Expected Behavior
All metrics should be present after the re

[2020-05-03 18:16] harshavardhana commented on #9512
@anthu you should upgrade to the latest and let us know.

[2020-05-04 06:06] anthu commented on #9512
Sorry, I might have been unclear on that point - we are running the latest release and still seeing this issue. I was just referring to the regression Release.

[2020-05-04 13:34] NMD49 opened #9515 "#9469 do not fix long file name on Windows"
Despite merged pull request [#9469](https://github.com/minio/minio/pull/9469) long file name on Windows is not fixed.
## Expected Behavior
Same issue as [#9393](https://github.com/minio/minio/issues/9393)
## Current Behavior
`minio --version`
`minio version RELEASE.2020-05-01T22-19-14Z`

`API: PutObject(bucket=securisauve, object=data/G_792/srv-tse/c/users/denis/documents/gestion!20locative/heriti

[2020-05-04 15:48] dwsteele opened #9517 "ETag is not quoted in CompleteMultipartUploadResult XML response."
## Expected Behavior

On AWS S3 the ETag is quoted in the CompleteMultipartUploadResult XML response:
[code]

## Current Behavior

But the Minio response is:
[code]

## Possible Solution

Add quotes to the `ETag` field in the `CompleteMultipartUploadResult` XML.

## Steps to Reproduce (for bugs)

1. Upload parts using PUT
2. Complete the multipart upload with POST
3. The `ETag` field in the `Compl

[2020-05-04 15:55] harshavardhana commented on #9515
Are you using MinIO on windows or Linux?

[2020-05-04 19:14] harshavardhana commented on #9515
I see found the issue, looks like a random error we introduced.

[2020-05-04 19:18] harshavardhana commented on #9510
// cc @aead

[2020-05-04 19:49] igomura opened #9521 "Heal scheduled countdown remains constant"
[code]

This 29 days countdown value remains constant forever.

## Expected Behavior
It is expected for this countdown to change over time as it gets closer to the time when heal is scheduled for. For some reason this is not happening. Please correct me if my expectation is wrong.

## Current Behavior
The countdown shows constant value.

## Steps to Reproduce (for bugs)
1. mc admin heal <alias>

#

[2020-05-04 20:11] #9515 closed

[2020-05-04 23:06] eco-minio opened #9522 "FR: Log admin events under audit logging"
**Is your feature request related to a problem? Please describe.**
Currently we do not log events such as adding / changing policy for a user or creating a new group

**Describe the solution you'd like**
Add admin events to audit logging

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-05 02:03] sruckh commented on #8584
I see backblaze just announced Beta AWS APIs.  I was curious if any additional work will be done using minio as a gateway to backblaze, or if I should start re-configuring and plan on testing the new beta APIs from backblaze.

Thank You.

[2020-05-05 02:35] harshavardhana commented on #8584
It is generally in your interest to start using S3 gateway if needed with B2, to provide for edge caching.  We may remove B2 gateway in the future as this is not going to be a community requirement anymore.

[2020-05-05 04:25] kannappanr commented on #9521
@igomura Thanks for reporting this issue. We will take a look and get back to you.

[2020-05-05 07:25] NMD49 commented on #9515
@harshavardhana Thank you !

[2020-05-05 11:38] kannappanr commented on #9493
@Eshwin There is no minio version named `3.0.4`.  Can you provide the exact version of `minio`? Are you using `minio-py`? Please give as much info as possible for us to look at the issue. We need the actual version, sample code to reproduce with which you are reproducing this issue.

Also, can you provide the command you used to start `minio`?

[2020-05-05 11:44] kannappanr commented on #9306
@seedarren Can you please try the example given in this link

https://docs.min.io/docs/how-to-use-aws-sdk-for-java-with-minio-server.html
The only difference that I can see is that the example uses `Regions.US_EAST_1.name()` for the region instead of `null`

[2020-05-05 15:23] Eshwin commented on #9493
well to be more specific
I am calling minio api using python code.
First i have created virtual environment(.sh file), there I am giving minio version to install

$PYTHON_VENV_PATH $PIP_VENV_PATH install minio==3.0.4 requests urllib3==1.23 \

I am not using command to start the minio, I am using  minio APIs to connect using python

client = Minio(endpoint,
                  access_key=access_key,

[2020-05-05 15:34] harshavardhana commented on #9493
First minio-py 3.0.4 is like 2yrs old you should use the latest release and let us know.

[2020-05-05 18:23] sruckh commented on #8584
Thank you.  I will work on transitioning to the Beta S3 APIs.

[2020-05-05 19:50] i0x71 opened #9524 "mc admin info inconsistent Bucket and space"
## Actual behavior
i0x71@debian:~$ mc ls dot3 | wc -l
9

(I have 9 buckets and atleast 55GB of data)

Running mc admin info command within seconds of each other shows different bizzare results

mc admin info dot3 | grep Bucket
**11 GiB Used, 1 Bucket, 300,577 Objects**

mc admin info dot3 | grep Bucket
**72 GiB Used, 9 Buckets, 309,425 Objects**

mc admin info dot3 | grep Bucket
**61 GiB Used, 8 B

[2020-05-05 19:58] i0x71 commented on #9524
fyi, all nodes show same incorrect behavior

[2020-05-05 19:59] harshavardhana commented on #9524
`minio server <what>`  - the `<what>` is needed..

[2020-05-05 19:59] i0x71 commented on #9524
minio server http://10.0.0.{3...9}/export/{0...1}/alpha

[2020-05-05 20:17] i0x71 commented on #9524
Now it seems to be changing exactly every 5 minutes

[2020-05-05 20:19] harshavardhana commented on #9524
Enable this `MINIO_DISK_USAGE_CRAWL_DEBUG=on` and share the logs on the server.. which occur every 5 minutes.

[2020-05-05 20:58] i0x71 commented on #9524
How do i enable it ?
Is it an environment variable i need to set before restarting server ?
do i enable with mc admin set ?

[2020-05-05 20:59] harshavardhana commented on #9524
`MINIO_DISK_USAGE_CRAWL_DEBUG=on` - yes

[2020-05-05 21:01] i0x71 commented on #9524
Ok, is mc admin console host enough for log or is there another log that you need ?

[2020-05-05 21:08] i0x71 commented on #9524
Fyi, minio version
minio version RELEASE.2020-04-28T23-56-56Z

[2020-05-05 21:17] kannappanr commented on #9476
Fixed by #9513

[2020-05-05 21:17] #9476 closed

[2020-05-05 21:18] #9374 closed

[2020-05-05 21:18] #9509 closed

[2020-05-05 22:41] frittentheke commented on #8912
not stale

[2020-05-05 22:52] harshavardhana commented on #8711
Most of the bulk operations are fixed already with large changes in faster reloads, reusing all the formatted disks etc.

Closing this issue as sufficiently addressed for now.

[2020-05-05 22:52] #8711 closed

[2020-05-06 00:47] #9517 closed

[2020-05-06 07:26] anthu opened #9529 "Audit Log should include Access Token created for AssumeRoleWith* requests"
**Is your feature request related to a problem? Please describe.**
We are using the STS feature where programmatic clients are connecting by assuming a role using WebIdentity (AWS S3 v2 Client). From that point we can track this client using the logged Access Key.

Unfortunately we cannot correlate the Auditlog for the AssumeRoleWith* with the requests using this AccessToken.

**Describe the solut

[2020-05-06 09:08] cywattebled opened #9530 "Support for User access control through Principal in Bucket policies"
## Expected Behavior
When setting a Bucket Policy through the AWS S3 SDK against the actual AWS S3, the policy allows to set Principals for which the policy would apply.

It would be great to allow managing Bucket access control through the principal field when Minio Users would be assigned to.

With the policy below, myUser1 and myUser2 would get read access to my-bucketname/*

[code]

## Current

[2020-05-06 12:29] dwsteele commented on #9517
Thank you!

[2020-05-06 15:11] klauspost commented on #9524
This could be a side effect of an un-synchronized cluster.

Could you try running `mc admin heal -r --scan=deep dot3/` assuming `dot3` is your cluster.

[2020-05-06 15:20] jdheyburn opened #9531 "Add a search/filter box for the minio browser"
**Is your feature request related to a problem? Please describe.**
It is frustrating having to scroll through a bucket containing a large number of items in order to find a file.

**Describe the solution you'd like**
It would be helpful for the minio browser to include a text box used for filtering the currently selected bucket - in a way that is similar to how AWS S3 currently works (we use minio

[2020-05-06 15:20] i0x71 commented on #9524
Ok, will post when its done

[2020-05-06 16:38] Gandalf-the-Grey opened #9532 "minio-client: <ERROR> Unable to validate source s3 (while trying to move dir with that name)"
`minio-client mv -r s3 hive/images/`

( same for `./s3` )

## Expected Behavior
move recursively `s3` directory to destination

## Current Behavior
[code]

## Steps to Reproduce (for bugs)

1. create a directory `s3`
2. put some files in there
3. attempt to move it to bucket
4. be surprised with a failure

## Context
I have a dir structure `[a-Z0-9][a-Z0-9]`

## Your Environment
Client and server

[2020-05-06 16:41] harshavardhana commented on #9532
@Gandalf-the-Greyng are you trying to deliberately create a directory named `s3` ?

[2020-05-06 16:50] harshavardhana commented on #9532
NOTE: the aliases on `mc` which come as default do share the same namespace as your local directories.

Adversarial ways of creating directories in this manner are unnecessary, as the directory can be easily renamed to something else `\mv s3 s3-new`

[2020-05-07 02:13] hebe9585 commented on #9508
Hi ,
I tested on the latest version RELEASE.2020-05-01T22-19-14Z and found that after shut down node 25 mins, minio server return "A timeout occurred while trying to lock a resource" and also file upload failed.
is it a correct reaction for minio?
Thanks so much. look forward for your reply.

[2020-05-07 02:31] TreeKat71 commented on #9228
Hi @nitisht
I also face the same problem. And I am not sure the document is clear.
Currently, I run minio cluster on k8s and deploy with helm chart.
As I read from the document, there are two ways to expand existing cluster:
1. the [link](https://github.com/minio/minio/tree/master/docs/distributed#expanding-existing-distributed-setup) you mention
2. Federation
If there is anything wrong, please le

[2020-05-07 02:37] harshavardhana commented on #9228
Correcting @nitisht MinIO doesn't support dynamically adding servers, but instead, you simply add a new command-line zone and do a rolling restart.

[2020-05-07 02:52] TreeKat71 commented on #9228
Hi harshavardhana
Thanks your reply.
So the truth is we can't scale minio nodes like scaling pods on k8s. But we can scale out cluster by adding zones and achieve zero-downtime by rolling update?
Do I understand it correctly?
Thanks!

[2020-05-07 02:54] harshavardhana commented on #9228
k8s scaling pods has nothing to do with MinIO scaling, MinIO scales in its own way its documented on how it can be done

https://github.com/minio/minio-operator/blob/master/docs/operator-fields.md look at what we currently support in minio-operator

spec.zones | Set the number of servers per MinIO Zone. Add a new Zone field to expand the MinIO cluster. Read more on MinIO zones here.
-- | --

[2020-05-07 03:06] TreeKat71 commented on #9228
Hi harshavardhana,
I know Minio offer minio-operator to manage and scale cluster in a easier way.
Due to our production k8s version, I am not able to use this feature. Instead, I use helm chart to deploy minio cluster.
The issue I am facing is, I increase the "zones" values in helm chart, and use "helm upgrade" to scale out my minio cluster. Is it the way you expect? If it is, I am not able to do

[2020-05-07 04:14] tkadarla commented on #9370
Any update on this issue?

[2020-05-07 04:31] #9485 closed

[2020-05-07 04:40] harshavardhana commented on #9370
Lower priority for us right now, will get to this in future. Feel free to send a PR if you must to get it fixed quickly.

[2020-05-07 06:50] coolljoe87 opened #9533 "Disaggregated HDP Spark and Hive with MinIO"
Disaggregated HDP Spark and Hive with MinIO
refer : https://docs.min.io/docs/disaggregated-spark-and-hadoop-hive-with-minio.html
## Expected Behavior

scala> val file = sc.textFile("s3a://testbucket/testdata")
file: org.apache.spark.rdd.RDD[String] = s3a://testbucket/testdata MapPartitionsRDD[1] at textFile at <console>:24

scala> val counts = file.flatMap(line => line.split(" ")).map(word => (wor

[2020-05-07 07:08] harshavardhana commented on #9533
This looks like your spark is configured incorrectly.. if HDP is your vendor you need to ask HDP for missing jars here.

Doesn't look like a MinIO issue.

[2020-05-07 07:11] kannappanr commented on #9530
We support bucket policies only for anonymous users. You can create the same functionality using IAM policies for the user.

[2020-05-07 07:17] coolljoe87 commented on #9533
OK,Thank you.I will ask the same question to cloudera.

[2020-05-07 08:16] pengyiwen139 opened #9534 "如何使用断点续传功能"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-07 08:17] pengyiwen139 opened #9535 "how to start resume from break-point by Java client"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-07 08:56] kannappanr commented on #9533
@coolljoe87 Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2020-05-07 08:56] #9533 closed

[2020-05-07 08:58] kannappanr commented on #9534
closing this issue as duplicate of #9535

[2020-05-07 08:58] #9534 closed

[2020-05-07 09:21] klauspost commented on #9535
Without more information there isn't much we can do. Guessing by your topic:

If it is related to the java SDK there is documentation here: https://docs.min.io/docs/java-client-api-reference.html

If it is a problem specific to the java sdk open a more descriptive issue here: https://github.com/minio/minio-java

If it is a general Java problem, consult the appropriate documentation or you can ask

[2020-05-07 09:21] #9535 closed

[2020-05-07 10:15] coolljoe87 commented on #9533
I understood the issue.
  Your document show : spark-defaults.xml
  spark.hadoop.fs.s3a.impl=org.apache.hadoop.spark.hadoop.fs.s3a.S3AFileSystem
I change it.
  spark.hadoop.fs.s3a.impl=org.apache.hadoop.hadoop.fs.s3a.S3AFileSystem
It is OK.
scala> val counts = file.flatMap(line => line.split(" ")).map(word => (word, 1)).reduceByKey(_ + _)
counts: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledR

[2020-05-07 10:20] astorath commented on #8452
I have the same issue with about 800k objects in a bucket. `mc ls` also times out (with 504 code).   Server version: 2020-01-25T02:50:51Z

[2020-05-07 11:08] zoltan-mihalyi opened #9536 "Incorrect input stream reading when retrying request"
When okhttp retries a failed request, minio keeps reading from the half-consumed InputStream, which causes the second request to be different (or EOFException is thrown).

## Expected Behavior
The second request should be the same as the first

## Current Behavior
The second request body contains incorrect data/fails with EOFException

## Possible Solution

- HttpRequestBody should reset the strea

[2020-05-07 11:20] klauspost commented on #8935
Removing stale @nitisht

[2020-05-07 11:27] LukasFritzeDev opened #9537 "Write permission error using docker image"
The latest image produces a file permission error if used in a docker-compose file.

## Expected Behavior

Should have write permission to the data directory like the images before.

## Current Behavior

Given this `docker-compose.yaml`:
[code]

produces the following error:

[code]

Using
[code]
works fine. The issue was introduced with `RELEASE.2020-05-06T23-23-25Z`.

Is there any update of the

[2020-05-07 11:30] gpulido commented on #9537
I'm also having this problem.
I even tried with a new empty folder on the host and providing a 777 permissions without luck

[2020-05-07 11:52] screencomuser commented on #9537
Appears to have been caused by https://github.com/minio/minio/blob/fea4a1e68e9bf81b2997ca40b2c785d15b4a0748/cmd/posix.go#L181

[2020-05-07 12:20] kobaltz commented on #9537
Thank you for finding the last working version @LukasFritzeDev. That was going to be on my todo list today for one of my projects. 💌

[2020-05-07 12:41] LukasFritzeDev commented on #9537
I can confirm the behavior with macOS. A colleague just tried the docker-compose file with `latest` on his Linux machine and it works.

@kobaltz You’re welcome. It wasn’t that complicated since it was the second last version 😉

[2020-05-07 12:49] ftong2020 opened #9538 "Document typo in performance tuning"
In performance tuning [guide](https://github.com/minio/minio/tree/master/docs/deployment/kernel-tuning),  the swappiness recommandation is 1, while the text stated 10

Recommended virtual memory settings are as follows.

`swappiness : This parameter controls the relative weight given to swapping out runtime memory, as opposed to dropping pages from the system page cache. It takes values from 0 to

[2020-05-07 13:47] gpulido commented on #9537
I've just tried with latest on a Ubuntu server, running one node swarm and it doesn't work.

[2020-05-07 14:07] harshavardhana commented on #9537
We need direct IO supported backend.

[2020-05-07 14:08] harshavardhana commented on #9538
Those settings will be removed, as most of them don't make sense anymore on latest Linux kernels.

[2020-05-07 14:08] NMD49 opened #9539 "Long file name support on Windows (relative to fix #9515)"
See issue [#9393](https://github.com/minio/minio/issues/9393).

@harshavardhana has done an excellent job with fix [#9515](https://github.com/minio/minio/pull/9520) which allows a long file path on Windows.

So I checked that PutObject mentioned in issue [#9393](https://github.com/minio/minio/issues/9393) worked.

I was very surprised when I got an error on `mkdir`.

After digging, I learned that

[2020-05-07 14:19] harshavardhana commented on #9539
So what is this application which tries to create such long filenames on windows?

How does it even work when copying the data out of some centralized storage?

[2020-05-07 14:37] NMD49 commented on #9539
@harshavardhana It is a backup software. Most of our customers use Windows and sometimes give very weird names...

In order to be compliant with S3 Object Key Naming Guidelines, we have our own encoding for the key name. All characters except `'()-.`, `0..9`, `A..Z`, `_` and `a..z` are encoded with `!xx` ie `!20` is a space.

On GetObjet, such a key name is decoded before creating file on disk.

T

[2020-05-07 14:44] harshavardhana commented on #9539
That is not even necessary even on AWS S3, AWS supports all UTF-8 characters all you need to do is simply path encode them during upload and it shall be translated automatically by client SDK during download.

Adding unnecessary custom encoding has led to an expansion of the original pathname, in-fact you have reduced the overall character length in this process.

I think this is bug in the backup

[2020-05-07 14:59] NMD49 commented on #9539
I see your point.
In Object Key Naming Guidelines there is some characters to avoid and our customers use these characters.
So we did our own encoding to be sure that if one day we use another object storage we wouldn't have a problem.
I shall fix my software to ensure envery segment of an encoded path does not exceed 255 characters.
In that case, I shall refuse to backup the file.

[2020-05-07 18:08] #9538 closed

[2020-05-07 18:53] EricGregMiller commented on #9537
This failed for us on our build slave. It fails when we use a shared memory ramdisk. It's OK when we use a regular disk.

[2020-05-07 19:21] harshavardhana commented on #9537
We will be reporting

[code]

v/s

[code]

[2020-05-07 19:24] carlosedp opened #9546 "Multiarch container images for AMD64, ARM64, ARM and PPC64le"
Currently, Minio container images published on `minio/minio` only supports AMD64.

I've changed the Minio and Minio-mc Dockerfiles to be able to build multiarch images using Docker buildx on Travis-CI using Minio published binaries from https://dl.min.io.

My repo on https://github.com/carlosedp/minio-multiarch provides the Dockerfiles and script. I could send a PR with these improvements if there

[2020-05-07 19:27] harshavardhana commented on #9546
Let us know if this can be built automatically on hub.docker.com if they cannot be then its not that useful

we already have the relevant Dockerfiles

[code]

[2020-05-07 19:44] carlosedp commented on #9546
There is a sample repo that implements multiarch builds using DockerHub overriding the build phases:

https://github.com/rmoriz/multiarch-test

Requires some changes but might work. Any reason to not migrate image build to Travis?

[2020-05-07 19:47] harshavardhana commented on #9546
Our credentials cannot be shared with travis, we cannot trust CI/CD third parties for having push access to our repos - this is tightly controlled and internal requirement.

If https://hub.docker.com is where its hosted so the hosting provider has to be implicitly trusted anyways here, it is always either better to build in a local closed environment and push the containers or let hub build it sec

[2020-05-07 22:28] dwsteele commented on #9546
Yes, please! I'd love to add S3 support to the pgBackRest ppc64le tests on Travis.

[2020-05-07 23:12] #9537 closed

[2020-05-08 02:00] #8584 closed

[2020-05-08 02:03] mamoroom opened #9549 "Unable to mount a volume with docker from ver `RELEASE.2020-05-06T23-23-25Z`"
I got a volume mouting error from ver `RELEASE.2020-05-06T23-23-25Z` on docker hub.
the ver of `RELEASE.2020-05-01T22-19-14Z` worked.

- docker-compose.yml
[code]
- error
[code]

[2020-05-08 02:04] harshavardhana commented on #9549
Your volume doesn't support O_DIRECT

[2020-05-08 02:04] harshavardhana commented on #9549
Refer #9537

[2020-05-08 02:04] #9549 closed

[2020-05-08 03:27] Eshwin commented on #9493
I tried with the version 5.0.10, but still it same for me.
The error is below

File "<stdin>", line 74, in <module>
  File "/data/jenkins/workspace/ci-benchmark-training-job_master/c9224bd6-cc92-475b-a59b-25c4d254bbbd/lib/python3.6/site-packages/minio/api.py", line 575, in fput_object
    content_type, metadata)
  File "/data/jenkins/workspace/ci-benchmark-training-job_master/c9224bd6-cc92-475b-a5

[2020-05-08 08:11] Logan80s opened #9552 "after custom the policy and apply to a new user, but I can't see any bucket when I login the website"
after  custom the policy and apply to a new user, and I can't see any bucket when I login the website

## Expected Behavior

when i login as newuser,then i should see bucket test1,and can only download files in the bucket
## Current Behavior

I can't see any bucket when I login the website
## Possible Solution

## Steps to Reproduce (for bugs)

steps like:
1. [root@host4 opt]# ./mc admin policy ad

[2020-05-08 08:32] anthu commented on #9552
This policy is not enough.
Refer to the S3 Policy documentation and try the following:

[code]

[2020-05-08 09:23] AtzeDeVries opened #9553 "Minio with docker volume does not start, O_DIRECT error, Mac OS"
Minio does not start anymore on mac os.

## Expected Behavior
it should start

## Current Behavior
[code]

[2020-05-08 09:28] AtzeDeVries opened #9554 "Minio with docker volume does not start on Mac OS, O_DIRECT"
Minio does not start anymore on mac os.

## Expected Behavior

Run on linux
[code]

## Current Behavior

Run on mac os

[code]

## Regression
related commit seems to be https://github.com/minio/minio/commit/2dc46cb153c81fc928a1990cb64df01ee71c74d8

[2020-05-08 10:07] rmsj opened #9555 "Latest broke volume running on docker"
I had this working until yesterday when I had to rebuild my services and I've noticed there was a new version - running on dev environment, with the latest version.

## Expected Behavior
minio should start as usual with mounted volumes.

## Current Behavior
Whenever I try to use volumes, which I was before the update I got an error:

**_minio_1          | ERROR Unable to initialize backend: Unable

[2020-05-08 10:11] anthu commented on #9554
It's obviously introduced in #9497 by intention.
But tbh this is a pretty harsh fix without that much context given in the PR.

To @vadmeste, @harshavardhana & @krisis
Docker on Mac was obviously working prior to this fix (there might have been some limitations like performance and such).
Wouldn't a handling of an issue with stated "351.2M+ Docker pulls" could have been solved better than breaking

[2020-05-08 10:13] anthu commented on #9555
reported in #9549

[2020-05-08 10:14] anthu commented on #9553
Duplicate of #9554 and discussed in #9549

[2020-05-08 10:18] screencomuser commented on #9555
A fix is not forthcoming, since the released fix appears to be "Improved message when O_DIRECT is not supported"

How can we enable O_DIRECT on Docker for Mac so we can use Minio again? Apparently macOS doesn’t support a file mode called O_DIRECT, which leaves a lot of developers stuck at the 2020-05-01 version :-)

[2020-05-08 10:21] anthu commented on #9555
I'm afraid to say you can't for the moment.
https://github.com/docker/for-mac/issues/1619

The only what I can suggest you right now is to use the MacOS binary directly

[2020-05-08 10:22] anthu commented on #9555
or don't mount the host volume
or run a sidecar with rsync

I don't really know, if this will be reverted, see my comment in #9554 .

[2020-05-08 10:23] screencomuser commented on #9555
😿

I'll just pin the latest version that does work on development. Luckily we don't have our cloud running on macOS.

[2020-05-08 10:26] anthu commented on #9555
What mounts are you using? we haven't upgraded the servers yet

[2020-05-08 10:36] TreeKat71 commented on #9228
Hi All,
I have updated the helm chart, and it seems that I use an older version.
The issue has completely solved, I can use "helm upgrade" to scale out the minio cluster by increasing the number of "zones". And the k8s cluster will do the rolling update, the service will be still available.

[2020-05-08 10:41] screencomuser commented on #9555
The latest version is working on Ubuntu 18.04 with a regular bind mount. It's only the development side on macOS that's giving us trouble.

We've decided to use the minio/minio:RELEASE.2020-05-01T22-19-14Z in our docker-compose.override.yml for development.

[2020-05-08 10:54] AtzeDeVries commented on #9553
i think i messed up this issue, it is exactly the same as #9554. Closing

[2020-05-08 10:54] #9553 closed

[2020-05-08 11:05] AtzeDeVries commented on #9554
It seems like #9497 had a bit to much fixing it it. If you run the latest tag your software might break.

I don't think it is the intention to require `O_DIRECT` if you run in standalone mode. Also check below:

Minio standalone is made to work on NAS like backends on purpose without the requirement of O_DIRECT @mrceresa

You deploy multiple NAS gateway instances pointing to same shared NAS - each

[2020-05-08 12:16] atrauzzi opened #9556 "API Compatibility with Azure Storage"
**Is your feature request related to a problem? Please describe.**
I have some scenarios where applications are built to run both on Azure and standalone. When running standalone, we use minio and S3-related drivers. When running on Azure, our implementation is abstracted such that we simply swap drivers/SDKs to best leverage the platform we're running on.

While this works, it doesn't account for

[2020-05-08 14:28] vadmeste commented on #9554
O_DIRECT will avoid having any corrupted object after a server shutdown incident, but yes, maybe the check should be relaxed in some cases. We will discuss this.

[2020-05-08 15:16] rdxmb opened #9557 "Rolling Update in Kubernetes occur in errors while deployment"
##  Expected Behavior
When updating my distributed minIO-Cluster in kubernetes, I was expecting that this will run in zero-Downtime.

## Current Behavior
While updating in RollingUpdate, errors occur. This means, clients are not able to connect the minIO-instance while one after the other pod is updating. Also, the minIO-instances log something about unsufficient space (see below)
However, when al

[2020-05-08 15:36] harshavardhana commented on #9556
MinIO is S3 only, for near future it will never speak any other API.

[2020-05-08 15:36] #9556 closed

[2020-05-08 15:37] i0x71 commented on #9524
Ran heal a few times, however the issue remains, should i try updating minio or do you need any other info ?

[2020-05-08 15:38] harshavardhana commented on #9554
The relaxation in case of FS mode might be fine for now, we need O_DIRECT only for erasure coding anyways.

[2020-05-08 15:45] harshavardhana commented on #9555
Closing this as duplicate of #9554

[2020-05-08 15:45] #9555 closed

[2020-05-08 15:46] harshavardhana commented on #9552
As per @anthu thanks for posting, you need List permissions to see the buckets not just Get

Closing this issue as working as intended.

[2020-05-08 15:46] #9552 closed

[2020-05-08 15:49] rdxmb commented on #9557
this is similar to https://github.com/minio/minio/issues/9508

[2020-05-08 15:50] harshavardhana commented on #9557
Not all releases support rolling update due to fundamental API changes in internode communication.

We mention this explicitly in our release notes if rolling updates are supported or not. In your case from 1yr old release we do not support rolling updates.

Although we try to keep rolling updates, in some releases it is not usually possible due to necessary implementation changes.

So what you ar

[2020-05-08 15:51] harshavardhana commented on #9554
@vadmeste can you send a fix to relax the check for FS mode alone? We still need to keep the permissions check.

[2020-05-08 15:54] harshavardhana commented on #9557
Not similar a different issue.

[2020-05-08 15:55] harshavardhana commented on #9530
This is as per design, there is no intention to support cross user policies for now.

Bucket policies are only meant for anonymous users

[2020-05-08 15:55] #9530 closed

[2020-05-08 15:55] rdxmb commented on #9557
Thank you, @harshavardhana !

What does that mean in kubernetes? Is the result I have after updating a supported and stable? Or do I have to stop all pods (scale to 0) and start them again with the new image?

[2020-05-08 15:57] harshavardhana commented on #9557
In certain releases which do not support rolling update yes, which do support rolling update you can do rolling update.

It's upto you, you don't need to update all the time. So whenever you do make sure to follow the release notes to see if rolling update is broken or not

[2020-05-08 15:59] rdxmb commented on #9557
Thanks again. Closing issue.

[2020-05-08 15:59] #9557 closed

[2020-05-08 16:08] vadmeste commented on #9554
Yes, I will do now

[2020-05-08 18:30] #9428 closed

[2020-05-08 19:07] #9554 closed

[2020-05-09 07:45] Logan80s commented on #9552
thanks , It works

[2020-05-09 07:50] Logan80s commented on #9552
@anthu @harshavardhana  thanks man, it works
by the way , I have some problems in using the minio, but some features I can't found  in the minio document , for example, how can I resume breakpoint while uploading or downloanding large file  by using the SDK

[2020-05-09 17:59] WhyNotHugo opened #9564 "SignatureDoesNotMatch when uploading file with a pre signed request"
I'm generating pre-signed URLs to upload files into a bucket, but I always get `SignatureDoesNotMatch`.

I've managed to make a self-contained proof-of-concept:

[code]

Output for this script is:
[code]

## Expected Behavior
File should upload fine.

## Current Behavior
I get an invalid signature error.

## Possible Solution
I've no idea what causes the bug, sorry. :(

## Steps to Reproduce (for

[2020-05-09 17:59] CHTJonas opened #9565 "Cannot write to ZFS backend"
A recent regression appears to be causing minio to fail at startup, complaining that a ZFS backend does not support O_DIRECT.

## Expected Behavior

Minio should startup as normal.

## Current Behavior

Minio fails to start due to an error:

[code]

## Steps to Reproduce (for bugs)

1. Create a new ZFS dataset.
2. Start minio with said dataset as its backend.
3. 😭

## Regression

This appears to b

[2020-05-09 19:06] harshavardhana commented on #9565
Erasure coding needs O_DIRECT still,  if you are only using FS we have relaxed this already in PR #9558

zfs latest versions also support O_DIRECT already.

[2020-05-09 19:06] #9565 closed

[2020-05-09 19:07] harshavardhana commented on #9564
This is because your requests.put is missing x-amz-acl header which you used for generating the presigned signature.

[2020-05-09 19:08] harshavardhana commented on #9564
Also use signature v4, v2 is old and deprecated/insecure

[2020-05-09 22:48] WhyNotHugo commented on #9564
`x-amz-acl` is added as a get parameter. Does it **also** need to be a header?

I'm using boto3 with no overrides (just the keys in the env). Shouldn't that be picked up by default?

[2020-05-10 02:57] pauldraper opened #9567 "Special behavior around slashes"
## Expected Behavior

I can use any non-empty Unicode string of a few hundred characters for a key.

## Current Behavior

Creating an object beginning with / yields the error "Object name contains a leading slash."

Creating an object ending in / has the error "The specified key does not exists."

Creating an object with adjacent repeated / in the middle creates an object whose key has the slashes

[2020-05-10 03:08] pauldraper commented on #9567
Alternatively, if minio decides not to support arbitrary keys, this difference should be documented, at it otherwise it is surprising to users migrating from S3.

[2020-05-10 03:09] harshavardhana commented on #9567
MinIO uses the backend filesystem for its namespace, it is trying to reserve keys such as `//`, unlike AWS S3 which we think is rather meaningless. They did not by design it just exists because of the nature of its implementation, i.e using some form of a KV store for storing the flat keys which MinIO does not with its own design reasons.

Now, this was misused by client applications is another qu

[2020-05-10 03:20] harshavardhana commented on #9567
All other keys are supported, its naturally not possible because of using filesystem as the namespace.

We shall not be compromising our design principles here for niche usecases, if support for `//` is a hard requirement then you should look for alternatives to MinIO.

[2020-05-10 03:20] #9567 closed

[2020-05-10 03:24] pauldraper commented on #9567
Apologies for the overstatement.

On the contrary, I am seeing special handling of the "/" characters in my key-value object store.

If I desired portable file system semantics, I would likely use a file system interface.

The AWS GUI and [s3fs](https://github.com/s3fs-fuse/s3fs-fuse) are two "poorly written"(?) applications that create objects ending in "/".

With some effort I can avoid copying

[2020-05-10 03:56] harshavardhana commented on #9567
Yes most definitely, if they are relying on these semantics. Personally I don't wish to argue about such naunces as our standing is already explained on why we don't need to do it.

If there is a big enough usecase in future we may entertain it but right now we shall rest this case for now.

I don't think this needs such special attention, as these are not really at scale applications which requir

[2020-05-10 09:45] xoraingroup commented on #9358
I am also getting same issue with distributed cluster.

![image](https://user-images.githubusercontent.com/17129052/81495802-a8fe5000-92bb-11ea-951c-c42fc3b367be.png)

Even though mc commands show all disks as online. Also They are linked on same rack via 10G link.

minio version RELEASE.2020-03-19T21-49-00Z

[2020-05-10 14:56] easyterm-devel commented on #9435
Hello!

Please try this:

minio.export:
[code]

[code]

[2020-05-10 15:43] harshavardhana commented on #9358
Upgrade to latest and then run `mc admin obd` tests to see baseline performance of your network and see if things are slow.

[2020-05-10 18:29] easyterm-devel commented on #9435
I figured out pattern in documentation and after regenerate temporary triad appear error:

[code]

[2020-05-10 23:20] harshavardhana commented on #9495
Closing this based on latest release has this fixed.

[2020-05-10 23:20] #9495 closed

[2020-05-10 23:21] harshavardhana commented on #9494
Nothing actionable from our end not a MinIO issue simply a setup problem on user end, closing.

[2020-05-10 23:21] #9494 closed

[2020-05-10 23:23] harshavardhana commented on #9493
We can't seem to reproduce this at all not sure what this might have caused please explain your setup again like are you using

- erasure coded? fs mode?
- size of the object? - how frequently this error happens?
- what is the backend being used here?

[2020-05-10 23:23] harshavardhana commented on #9439
Fixed in #9442 to allow for the server to work properly when incompatible changes happen.

[2020-05-10 23:23] #9439 closed

[2020-05-10 23:25] harshavardhana commented on #9399
closing as a duplicate of #9508

[2020-05-10 23:25] #9399 closed

[2020-05-10 23:28] harshavardhana commented on #9337
This is reported now as part of server startup.

[2020-05-10 23:28] #9337 closed

[2020-05-10 23:29] harshavardhana commented on #9306
There is no activity and has been waiting for the info for close to 30 days, closing.

[2020-05-10 23:29] #9306 closed

[2020-05-10 23:32] harshavardhana commented on #9266
Webhook already uses the rootCAs properly loaded from either `--certs-dir` or legacy option `--config-dir` or default location `~/.minio/certs/CAs` - validated this locally.

Please use the latest release and let us know.

[2020-05-10 23:32] #9266 closed

[2020-05-10 23:33] harshavardhana commented on #9157
Fixed by #9162

[2020-05-10 23:33] #9157 closed

[2020-05-10 23:35] harshavardhana commented on #8651
To be fixed by #9550

[2020-05-10 23:37] harshavardhana commented on #8468
Closing this issue as stale - crawling has been sufficiently optimized using bloom filters etc.

[2020-05-10 23:37] #8468 closed

[2020-05-10 23:38] harshavardhana commented on #8161
This issue is stale with no response and considered purely a setup issue. Please reach out to us at https://slack.min.io for further questions on a proper TLS setup.

[2020-05-10 23:38] #8161 closed

[2020-05-10 23:42] harshavardhana commented on #7088
Closing this as stale @krishnasrinivas please reply if this issue needs to be kept open or if its fixed.

[2020-05-10 23:42] #7088 closed

[2020-05-10 23:43] harshavardhana commented on #7087
Closing this as stale @krishnasrinivas please reply if this issue needs to be kept open or if its fixed.

[2020-05-10 23:43] #7087 closed

[2020-05-11 03:50] Logan80s commented on #9439
@vadmeste @harshavardhana sorry to reply so late
It not happen again, I don't know why

[2020-05-11 06:27] cywattebled commented on #9530
Would you mind providing more information about how to create those IAM policies for the MinIO User? Did you mean to say through the group as described here?

https://docs.min.io/docs/minio-multi-user-quickstart-guide.html

[2020-05-11 06:33] harshavardhana commented on #9530
Yes

[2020-05-11 08:54] xoraingroup commented on #9358
Sorry @harshavardhana , it was my mistake. It seemed the disks were not mounted and minio used local file system. You can disregard my comment. :)

[2020-05-11 14:16] cywattebled commented on #9530
We are currently using minio to make our products work interchangeably when hosted on AWS or on-premise.
Our hope was to solely rely on AWS S3 SDK to manage bucket creation and subsequent access control policies.

The problem with this approach is that we can't and we had to integrate the internal API that mc admin tool uses to assign the policies to a group/user.

Using Principals in the Bucket p

[2020-05-11 15:55] harshavardhana commented on #9530
@cywattebled mc is built using pkg/madmin API available in this repo.

[2020-05-11 17:30] harshavardhana commented on #9399
It is duplicate because the underlying problem is same. I closed this issue because I know where the problem is and why they are related.

[2020-05-11 17:34] #9522 closed

[2020-05-11 17:59] rdev101 opened #9571 "Minio distributed mode deployment and scaling guide for kubernetes"
Does someone have a good guide/documentation on deploying high performance minio in distributed mode on an aws eks cluster and on how to scale the cluster, I have been using the official minio helm charts for this and find that I am struggling to get more than ~1300 puts/sec.. I am not sure how i would go about scaling the cluster to break this put request throttle. I have tried deploying a 4 node

[2020-05-11 20:04] #8651 closed

[2020-05-11 20:29] gbbenson68 commented on #8601
Is there a way to reset the credentials if the old credentials are forgotten or lost?

[2020-05-11 20:46] harshavardhana commented on #8601
https://github.com/minio/minio/tree/master/docs/config#rotating-encryption-with-new-credentials and please don't post on old/closed issues.

- Open a new issue
- Or ask a question on slack https://slack.min.io

[2020-05-12 03:58] xiaosong135 opened #9574 "Bucket contains more than 100 million items, listobject is not available"
hi，
In our application scenario, a single bucket might contain a lot of objects, but our tests found that when the number is large, such as 100 million pieces of data, the listobject is completely unavailable.
Is there any way to avoid or alleviate this problem？
Is there a recommended maximum number for a single bucket？
When the single-layer directory reaches 100 million, the listobject is not ava

[2020-05-12 04:11] harshavardhana commented on #9574
Please fill out all the details as requested in the issue template as requested here

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`

[2020-05-12 07:49] dev5790 opened #9576 "MinIO Scaling"
I am working on a project which uses MinIO as a file server. The project is running on a VSphere Kubernetes cluster with three nodes.

The initial deployment is using MinIO in a distributed mode having 3 Minio instances with 2 disks each. The below docker-compose was used to bring up the initial deployment.

[code]
This question is regarding the scaling of these instances. We ran the below file to

[2020-05-12 08:00] xiaosong135 commented on #9574
### Expected Behavior
I hope that when a bucket can have more than 100 million objects, it can still have a normal listobject
### Current Behavior
When I used MC for ls, the listobject failed after a long time
### Possible Solution
When the single-layer directory reaches 100 million, the listobject is not available. If we become 10,000 directories, under each directory, 10,000 objects, is it bette

[2020-05-12 11:00] klauspost commented on #9574
Yes.

[2020-05-12 16:21] #9435 closed

[2020-05-12 20:59] easyterm-devel commented on #9435
Thanks!

No more problem with mc:
[code]

[2020-05-12 23:13] korshakov opened #9583 "Cant disable bin tracker."
Bin tracker is waking my disks every five minutes. I need to be able to disable this to avoid pointless disk wake ups. Any idea how to disable this?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Ser

[2020-05-12 23:19] harshavardhana commented on #9583
Upgrade to latest it won't walk unless there is write activity @korshakov no need to disable it.

[2020-05-12 23:49] korshakov commented on #9583
Hello and thank you for coming back to me. I forgot to mention that minio is running in docker and it is indeed on the latest version. I have currently this variable in place
MINIO_DISK_USAGE_CRAWL_ENABLE=off
would that be somehow connected to that?

[2020-05-13 00:06] zzzuzik opened #9585 "Nas gateway: InvalidBucketState: Object Lock configuration cannot be enabled on existing buckets"
Hello,

Minio with the most latest version. I'm getting:

`InvalidBucketState: Object Lock configuration cannot be enabled on existing buckets`

while trying to create a new bucket through terraform.
This is `nasgateway`. I see #9548 commit were made for lock/gateway.
Will it take care of this issue? If yes, could you please cut a new release.
Thank you for the Minio

[2020-05-13 00:38] kannappanr commented on #9585
@zzzuzik I tested the latest master and did not see this issue. So, you will not see this issue with the next release. We will be making a release in a couple of days. We will send out a message on https://slack.min.io when we make a release. Closing this issue as answered, please feel free to reach out to us at https://slack.min.io if you have further questions

[2020-05-13 00:38] #9585 closed

[2020-05-13 00:41] kannappanr commented on #9576
@dev5790 On a quick glance, it looks good. We will take a look at and get back to you

[2020-05-13 01:26] xiaosong135 commented on #9574
Is there any way to avoid or alleviate this problem？In addition to reducing the number of directories

[2020-05-13 07:19] ebozduman opened #9589 "No policy check when previewing images at browser"
When anonymous user tries to preview an image object and if the involved bucket's policy doesn't have the GetObject action permission, it errors out with `"Image broken"` message.

## Expected Behavior
When it is a permission problem, the preview process should error out with the existing, more meaningful message, `"Do not have enough permissions to access this resource"`.

## Current Behavior
No

[2020-05-13 09:32] ebozduman opened #9590 "Browser "shareObject": missing policy check for auth/anon user"
While reviewing the code, I noticed there are no policy checks for authorized users.

## Expected Behavior
#### For authorized user:
We should only allow the authorized (logged in with valid credentials) user to share an object in a bucket, if his/her **user policy** (not bucket policy) has `"GetObject"` action. Otherwise, sharing should be rejected.
#### For anonymous user:
We should allow anonym

[2020-05-13 12:17] nitisht commented on #9571
@rdev101 a quick look at AWS EC Docs shows that c5.4xlarge is EBS only, with EBS throughput limited bandwidth to 4750 Mbps. This will limit the through put that MinIO can offer.

[2020-05-13 13:45] CVarisco commented on #9554
Hi everyone!
Is it possible that with `latest` image tag I have the same error?

Thanks for your support guys 👍

[2020-05-13 16:09] timhughes opened #9593 "STS LDAP should allow an AD user to login with their username"
## Expected Behavior
When using Active Directory or another LDAP server which does not allow anonymous binds and does not have a DN that contains the users **username**, I would expect to be able to setup minio to allow users to login with their `username` and not have to use something along the lines of their **Firstname Surname**

Authentication against Active Directory should use `sAMAccountNam

[2020-05-13 18:08] eco-minio commented on #9576
When doing zone expansion, you need to restart the original servers with the new command, so it makes more sense to concatenate these two files, and make sure to change the server command on the first three nodes, so instead of `command: server http://minio{1...3}/data{1...2}` on the first three servers, it would be the same `command: server http://minio{1...3}/data{1...2} http://minio{4...6}/data

[2020-05-13 18:26] i0x71 commented on #9524
Any news on this ?

[2020-05-13 20:26] #9411 closed

[2020-05-13 21:03] kannappanr commented on #9564
@WhyNotHugo  This code fails with AWS S3 also with the same Signature Mismatch error. Maybe you should simply use it without the `acl` paramter

[2020-05-13 21:53] hassanbabaie commented on #9510
@harshavardhana @aead thanks for taking this ticket, let me know if I can help with any of it, I would do the PR but I had a problem when trying to test this using my fork due to module paths.

Thanks in advance

[2020-05-13 22:12] kannappanr commented on #9576
@dev5790 Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2020-05-13 22:12] #9576 closed

[2020-05-13 22:16] kannappanr commented on #9574
adding a directory hierarchy instead of flat files will help you avoid these problems. With 100 million files in one directory, even regular `ls` on the file system will take a very long time. Closing this issue as answered, please feel free to reach out to us if you have further questions

[2020-05-13 22:16] #9574 closed

[2020-05-13 22:39] WhyNotHugo commented on #9564
Yup, error was in my side, thanks for pointing it out!

[2020-05-13 22:39] #9564 closed

[2020-05-13 22:40] WhyNotHugo commented on #9564
Still wondering what you meant by this. I'm using both both and minio pretty much out of the box.

[2020-05-13 23:34] dpgarrick opened #9597 "Minio cache not working on single file chunked multithreaded downloads via rclone"
I set up a Minio s3 gateway with disk cache. Everything functioned as expected except when trying to download files via rclone >250MB. Searching further, rclone by default downloads files > 250 MB in a multithreaded manner with each thread downloading some chunk of the file.

For such downloads the cache was being populated with multiple chunks which presumably matched up to those that rclone had

[2020-05-14 03:13] poornas commented on #9597
disk cache implementation does not concatenate chunks back into the original object if that is what you are looking for. The cache implementation either stores range GET chunks or the entire object (in which case the chunks are deleted) as it avoids overhead of managing overlapping ranges and provides a consistent and simple approach.

[2020-05-14 03:17] dpgarrick commented on #9597
I see that the range GET chunks are cached, the issue is that if I do subsequent downloads using an identical rclone copy command which as far as I can tell uses identical range GET chunks as the one that was cached, the cache is not serving those chunks but clearing them out and repeatedly redownloading them on each download

[2020-05-14 03:24] harshavardhana commented on #9597
@dpgarrick how do you confirm that it's using the same range? how much disk space do you have locally? do you have any cache-control headers set for these objects?

[2020-05-14 03:33] dpgarrick commented on #9597
@harshavardhana rclone -vv (verbose) output for subsequent downloads lists the ranges as being the same.

[code]

The drive the cache is on is only 7% full, well below the minio cache settings for clearing out. No cache control headers set that I am aware of.

[2020-05-14 03:44] dpgarrick commented on #9597
What I am looking for is consistency - currently if my download which triggers the caching is done as a whole object the cache saves the whole object.

Subsequent downloads, even if chunked, are served from that cached whole object without issue and that cached whole object never disappears no matter how many different ways I download that file, chunked or unchunked.

But if the initial download w

[2020-05-14 03:55] dpgarrick commented on #9597
The cache.json files on the two caches if it helps...

[code]

[code]

[2020-05-14 04:16] dpgarrick commented on #9597
Started playing around with a bigger file (500MB) as follows
1. Download file using rclone default copy settings (ranged GET). Verified ranged chunks exist in cache.
2. Redownload with identical command (identical ranged GET). Cached chunks disappear as soon as I start the download and cache is now empty
3. Redownload with identical command again (ranged GET). Verified new ranged chunks exist in c

[2020-05-14 06:15] annkam commented on #9512
Hello, I confirm this problem. Yesterday I upgraded my 12-node cluster from RELEASE.2020-03-25T07-03-04Z to RELEASE.2020-05-01T22-19-14Z and now 11 nodes are exporting wrong disk related metrics to Prometheus. It's minio_disks_total 0 and minio_disks_offline 0 while disk_storage_* is not exported at all. This is critical as we can't monitor our cluster properly without these metrics.

However, the

[2020-05-14 06:23] harshavardhana commented on #9512
No there is no such order requirement, we will look at it soon @annkam

[2020-05-14 06:54] poornas commented on #9597
@dpgarrick , thanks for the detailed info - I was able to repro this issue, will update this thread after I find a fix.

[2020-05-14 06:56] harshavardhana commented on #9539
Fixed in #9594

[2020-05-14 06:56] #9539 closed

[2020-05-14 08:57] ebozduman opened #9599 "--address flag is ignored for "minio gateway s3""
`"minio gateway s3"` command with `"--address :9001"` flag and endpoint pointing to the local minio server, `"http://localhost:9000"` fails with the following incorrect error message:

[code]

The same/similar command successfully starts minio gateway on MacOS.

## Expected Behavior
Minio gateway starts successfully since the port numbers are different.

## Current Behavior
[code]
## Possible Solu

[2020-05-14 08:59] korshakov opened #9600 "Minio Tracker Still Active even after advise to update."
May 14   03:17:54 OPEN => /mnt/disk1/.minio.sys/buckets/.tracker.bin
May 14 03:22:54 OPEN =>   /mnt/disk1/.minio.sys/buckets/.tracker.bin
May 14 03:27:54 OPEN   =>/mnt/disk1/.minio.sys/buckets/.tracker.bin

This is happening every 5 minutes all the time.

I did already open this issue and i was told to update minio, but minio is on latest version.

Minio is running in docker with disabled crawler.

[2020-05-14 09:13] tarikhagustia commented on #9554
same here with latest tag

[2020-05-14 10:34] annkam commented on #9524
I have the same problem with minio version **RELEASE.2020-05-01T22-19-14Z** which appeared right after the upgrade.

mc admin info results with 5 min interval:

777 GiB Used, 26 Buckets, 560,680 Objects
12 drives online, 0 drives offline

and then

19 GiB Used, 6 Buckets, 23,700 Objects
12 drives online, 0 drives offline

[2020-05-14 10:47] klauspost commented on #9524
@i0x71 @annkam

If you can set the environment variable `MINIO_DISK_USAGE_CRAWL_DEBUG=on` on all you servers, restart and capture the logs I can help you.

You can send them to klaus (at) minio (dot) io and I will treat them confidentially.

[2020-05-14 11:00] klauspost commented on #9600
Please fill out the form and describe what the actual problem you are experiencing is.

Update tracking is always running and will commit its data every 5 minutes.

[2020-05-14 11:38] klauspost commented on #9600
Seems to be a followup to #9583

[2020-05-14 11:38] #9583 closed

[2020-05-14 12:13] korshakov commented on #9600
Thank you

[2020-05-14 12:13] #9600 closed

[2020-05-14 13:23] klauspost commented on #9524
This *could* have fixed it: https://github.com/minio/minio/pull/9569 - maybe check your logs.

[2020-05-14 13:57] i0x71 commented on #9524
By logs are you referring to the mc admin console ? Is there another parameter to have minio log somewhere ?

[2020-05-14 17:49] narrington opened #9605 "minio[2126]: Waiting for a minimum of 6 disks to come online"
I'm trying to build a distributed cluster of minio servers. 3 servers, 4 drives each, using a service to run minio. when I clear the config (# rm -R /volume/{1...4}/* && rm -R /etc/minio/*) and start minio using the following command:
`# MINIO_ACCESS_KEY=[REMOVED] MINIO_SECRET_KEY=[REMOVED] /usr/local/bin/minio server -C /etc/minio http://192.168.1.{1...3}:8000/volume/{1...4}/`
things seem to work

[2020-05-14 17:56] narrington commented on #9605
UPDATE* I removed the port# from the command and it works now... however this is not helpful. I will be adding TLS in the near future and I need to specify port 443 (don't I?)... adding that port back to the command breaks things.

[2020-05-14 18:02] harshavardhana commented on #9605
If you specified port here you need to match that with `--address ":8000"`

[2020-05-14 18:02] #9605 closed

[2020-05-14 23:26] ebozduman commented on #9599
It looks like the problem was the placement of the `--address` flag in the command. AWS credentials were also missing, but that is irrelevant at this point.

The flag is supposed to be placed exactly in between `minio gateway` and `s3` in the command line, otherwise the port information is ignored and hence gateway uses the same default port, `9000`, which causes the error message.

By the way, `m

[2020-05-14 23:31] harshavardhana commented on #9599
This must be a recent mistake it is expected that `--address` to work for all sub-commands @ebozduman

[2020-05-15 05:04] dpgarrick opened #9608 "Minio gateway s3 multipartupload failing with rclone copy"
Follow on from #9597 -  unsure if this issue is related but additional context is provided there.

I set up a Minio s3 gateway with disk cache. I'm using rclone to transfer files to and from the s3 via the gateway endpoint.

By default, latest rclone does a multipart upload for files >200MB. I am trying to upload a 2GB file which is failing to upload via the gateway but uploads fine if the same co

[2020-05-15 05:13] dpgarrick commented on #9608
On a possibly related note, uploaded files are not being added to the minio cache as I expected from here https://github.com/minio/minio/pull/5182

The cache quick start guide does not say anything about uploads....so has cache on PUT been disabled?  The gateway endpoint is https but I otherwise do not have any encryption enabled in the minio gateway or on the s3 bucket, so I don't think it is tha

[2020-05-15 10:01] annkam opened #9609 "Server startup failed with 'Unable to initialize sub-systems: Unable to initialize lifecycle system: The TagKey you have provided is invalid' after upgrade to RELEASE.2020-05-06T23-23-25Z"
I've upgraded my cluster from RELEASE.2020-03-25T07-03-04Z to RELEASE.2020-05-06T23-23-25Z and got this error:

[code]

I could finally start it by changing the image tag to previous RELEASE.2020-05-01T22-19-14Z. I assume the bucket tagging API which was introduced in RELEASE.2020-05-06T23-23-25Z to cause this problem.

## Expected Behavior

I expect the cluster to start correctly after the upgrad

[2020-05-15 10:32] klauspost commented on #9524
@i0x71 The logs the servers output to stdout while running.

[2020-05-15 11:02] vadmeste commented on #9609
@annkam thanks for reporting, I am going to take a look at it. Do you have a handy copy of your bucket lifecycle document ?

[2020-05-15 14:13] sapiens-sapide commented on #9508
Hi,
I'm considering Minio as a backend for an email service. I began an experimental platform few days ago on FreeBSD (12.1 RELEASE).
I've installed four minio (v2020.04.15.00.39.01) within four freebsd's jails, with 4 disks each. I played with minio via the web interface.

The fact is that,
if a switch off a jail, so a minio node is down, the service becomes UN-USABLE. It takes minutes to do anyt

[2020-05-15 21:18] vadmeste commented on #9609
@annkam never mind, I was able to reproduce it.

[2020-05-15 22:01] kannappanr commented on #9608
Cache on PUT is disabled for multi-parts

[2020-05-15 22:53] dpgarrick commented on #9608
Ahh, great I see that it is indeed being cached when I disable multipart - original issue above is unrelated to that then. Thanks

[2020-05-16 04:10] nitisht commented on #9571
@rdev101 closing this issue for now, please proceed with warp testing and we can review the capacity of the cluster.

[2020-05-16 04:10] #9571 closed

[2020-05-16 18:10] zzzuzik commented on #9585
Just upgraded to the latest release. It starts failing with:
`DEBUG: Validate Response s3/GetObjectLockConfiguration failed, attempt 0/25, error NotImplemented: A header you provided implies functionality that is not implemented`

looks like the terraform-aws waits for different error `MethodNotAllowed`
https://github.com/terraform-providers/terraform-provider-aws/blob/14c139d67eb1129c790d2bcd516e

[2020-05-16 18:11] harshavardhana commented on #9585
That doesn't look correct @zzzuzik NotImplemented is a proper error and it shall not be implemented with NAS gateway/FS mode in MinIO - it should be properly ignored on the terraform side.

[2020-05-16 18:15] harshavardhana commented on #9585
https://github.com/terraform-providers/terraform-provider-aws/pull/13366 sent the fix here @zzzuzik

[2020-05-16 18:23] zzzuzik commented on #9585
@harshavardhana thank you for the light speed feedback. Will track it in the terraform provider. Cheers!

[2020-05-17 09:07] darkdragon-001 opened #9617 "Web UI: Add folder "..." menu > Download as zip"
**Is your feature request related to a problem? Please describe.**
It took me a while to find out that I can download a folder as zip when selecting it.

**Describe the solution you'd like**
It would be more intuitive to offer this option via "..." menu similar as the one for single files.

**Describe alternatives you've considered**
Selecting it previously is not as intuitive as visually suggesti

[2020-05-17 09:10] darkdragon-001 opened #9618 "Web UI: Selection improvements"
**Is your feature request related to a problem? Please describe.**
Selecting 100 items takes a long time...

**Describe the solution you'd like**
It would be awesome to improve selection behavior in the web ui by adding intuitive options as _Select all_ (button, Ctrl+A), _Remove selection_ (button, Esc), _Shift+click_ for selection range.

_Remove selection_ could be implemented `onClick()` for th

[2020-05-17 09:11] darkdragon-001 opened #9619 "Web UI: Upload whole folder via drag&drop"
Folder upload via drag&drop would be really nice.

[2020-05-17 15:46] #9599 closed

[2020-05-17 16:32] harshavardhana commented on #9619
Thanks for the issue we will not be supporting this, next time please use proper issue template.

[2020-05-17 16:32] #9619 closed

[2020-05-17 16:32] harshavardhana commented on #9618
Please use the feature request template properly. Closing this issue as non actionable..

[2020-05-17 16:33] harshavardhana commented on #9617
Please report the issue as a proper issue, with screenshots, your version name etc.

Incomplete issues shall be closed as non actionable.

[2020-05-17 16:41] harshavardhana commented on #9590
Sharing an object doesn't need further validation of policies, sharing an object inherits the permission of the bucket from which the content is being shared.

If it fails, so be it we don't need to disallow creating share object. Because there is no clear way to tell what is the current state of policies on a server by making disconnected calls from the browser as proposed here.

It may be possib

[2020-05-17 18:40] darkdragon-001 commented on #9619
Is there any reason, why you won't be supporting this? It should only be a few lines of frontend code, no backend changes necessary: https://stackoverflow.com/a/11410455/3779655

[2020-05-17 18:43] harshavardhana commented on #9619
Feel free to send a PR if you must, we do not have cycles to address this for now.

[2020-05-17 18:54] darkdragon-001 commented on #9617
Updated issue to use _Feature request_ template. Please reopen.

[2020-05-17 18:58] darkdragon-001 commented on #9618
Using the template now. Please reopen.

[2020-05-17 23:37] darkdragon-001 commented on #9619
I created an [example](https://codesandbox.io/embed/elastic-haslett-xzk2g), but it requires newer versions of `react-dropzone` to have the `file.path` property available. I have seen that your React dependencies are quite outdated and have many security vulnerabilities. Do you plan on updating the dependencies?

[2020-05-17 23:45] harshavardhana commented on #9619
These examples are perfectly fine, whatever is needed you can update and show us your proposal and we shall take look.  If it makes sense we will take and make a release given no other functionality gets broken.

[2020-05-18 03:18] pramodShehan5 opened #9622 "Config SSL on Docker"
Hello,

I am using minio docker. I want to configure SSL on minio.
**docker run -p 9000:9000 -e "MINIO_ACCESS_KEY=minio" -e "MINIO_SECRET_KEY=minio123" -v /tmp/.minio/:/root/.minio**

I have created cert using below command.
**sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /tmp/.minio/certs/private.key -out /tmp/.minio/certs/public.crt**

I can access this one using "https://127.

[2020-05-18 03:21] nitisht commented on #9622
You're using self signed certificates, hence the error. To add this as a trusted certificate, add the `public.crt` in `certs/CAs/` directory also. Closing this as answered.

[2020-05-18 03:21] #9622 closed

[2020-05-18 04:40] tirelibirefe opened #9623 "[faq] Kafka Connect S3 Connector for Minio - cannot access to Minio."
Hello;
My system is entirely on-prem and all on Kubernetes. My purpose is to integrate Minio with Kafka through Kafka S3 Connector plugin. I use Strimzi to deploy and manage Kafka stuff.

my minio-vars are:

[code]

my KafkaConnect config is:

[code]
I see all these variables are passed into the pod successfully.

this is my S3 / Minio connector config:

[code]
but my KafkaConnect cannot login to

[2020-05-18 04:47] nitisht commented on #9623
Can you try creating a `credentials` file with MinIO credentials in `~/.aws` directory. Contents would be

[code]

Of course change the values to MinIO credentials

[2020-05-18 04:52] tirelibirefe commented on #9623
@nitisht thanks for your attention.
I can/will do but I think Minio says different. Or maybe I misunderstand.
https://docs.min.io/docs/minio-server-configuration-guide.html

[2020-05-18 05:16] inieves opened #9624 "Enable user to specify private key file path and public cert file path (for Docker)"
Enable user to specify private key file path and public cert file path (for Docker)

This would be consistent with many other Docker images that allow this.

[2020-05-18 05:18] harshavardhana commented on #9624
Please use the issue template to better describe your issue and what issue you are facing. Without using templates the issue is not actionable for us.

[2020-05-18 05:18] #9624 closed

[2020-05-18 05:20] harshavardhana commented on #9624
In the NOTE of certs, you can configure the directory wherever you want all we ask is it s `public.crt` and private.key

The reason we ask the only directory and a consistent name for the `public.crt` and `privatey.key` -  is that we support auto-reloads of your certs once they are renewed without restarting the system, unlike other systems

[2020-05-18 05:34] inieves commented on #9624
Thanks for this information.  I am aware of --certs-dir.

Is it not possible to support auto-reload and configurable file paths?  When using Docker secrets, the secrets must exist in /run/secrets.  --certs-dir can be used to ask minio to look for files there.  No problem.  But secrets themselves often have more descriptive names than just private.key or public.crt because there are often many secr

[2020-05-18 05:49] harshavardhana commented on #9624
Of course, it's possible but it is not simple @inieves  handling watches for individual files becomes a complicated ordeal, it would be worth to have watchers for just directories works on all platforms.

We have been at this for 6yrs now, and it has never come up,  we provide a richer functionality here so I guess the tradeoff is meaningful.

[2020-05-18 06:38] #9590 closed

[2020-05-18 10:28] patsevanton opened #9625 "Feature request: Increase number of disk on distributed minio cluster"
Hello!
Thanks for Minio.
Possible to increase number of disk on distributed minio cluster at Future?

https://github.com/minio/minio/issues/5205
https://github.com/minio/minio/issues/6672
https://github.com/minio/minio/issues/4364

[2020-05-18 10:33] nitisht commented on #9625
It is already available, pls refer the docs https://github.com/minio/minio/tree/master/docs/distributed#expanding-existing-distributed-setup

[2020-05-18 10:33] #9625 closed

[2020-05-18 10:54] pramodShehan5 opened #9626 "unable to find valid certification path to requested target"
Hello,
I am using minio docker and java amazon sdk client. I have enabled SSL in minio docker.
Here I am using self signed certificate to configure SSL on minio.
After that I am getting  error called **"com.amazonaws.SdkClientException: Unable to execute HTTP request: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: u

[2020-05-18 10:57] augnustin commented on #9195
:+1: Same issue here, using docker image and

[code]

[2020-05-18 11:06] augnustin commented on #9195
My bad, it was my health check that was not correctly plugged and `curl`ed `localhost:9000`. I changed it to:

[code]

[2020-05-18 11:33] nitisht commented on #9626
Please try something like https://www.artificialworlds.net/blog/2015/12/07/java-https-to-a-server-with-a-self-signed-certificate/

Closing this as answered, pls join our slack channel for more such questions at https://slack.min.io

[2020-05-18 11:33] #9626 closed

[2020-05-18 13:27] sPhinX-LHJ opened #9630 "Distributed MinIO under Windows"
I write a windows client application (by amazon s3 client, .net 4.0) to upload files to a minio server (run on the my notebook, windows 10), everything looks fine when I run the command:
`set MINIO_ACCESS_KEY=Test
set MINIO_SECRET_KEY=Test
minio server http://localhost:9000/D:\TestData{1...4}`
but when I edit command like this then run minio server again:
`minio server http://localhost:9000/D:\Tes

[2020-05-18 13:47] klauspost commented on #9630
You are specifying 2 zones on the same server.

What you probably want is a single zone with 1 set of 8 drives. You can specify that like this:

`minio server http://localhost:9000/D:\TestData1 http://localhost:9000/D:\TestData2 http://localhost:9000/D:\TestData3 http://localhost:9000/D:\TestData4 http://localhost:9000/E:\TestData1 http://localhost:9000/E:\TestData2 http://localhost:9000/E:\TestDa

[2020-05-18 13:50] klauspost commented on #9630
@harshavardhana

Using this setup makes memory usage explode and OOM for me. My estimate is that something is off with different zones on the same host.

We can either disallow it explicitly or look deeper. Thoughts?

[2020-05-18 14:14] sPhinX-LHJ commented on #9630
thank you for reply.
Actually what I am doing is  try to find a way to expand minio server storage, so I specify one zone on each phsycal drive. If I add 2 new storage drive(F:, G:), then I can run following command:
`minio server http://localhost:9000/D:\TestData{1...4}  http://localhost:9000/E:\TestData{1...4} http://localhost:9000/F:\TestData{1...4} http://localhost:9000/G:\TestData{1...4}`
Eve

[2020-05-18 14:19] darkdragon-001 opened #9632 "Web UI: Improve download behavior"
**Is your feature request related to a problem? Please describe.**
Make downloading items easier.

**Describe the solution you'd like**
- ~~Click on item should preview (e.g. images), open in new tab (if browser can open this file type) or download (if browser can't open directly)~~ _(conflicts with #9649)_
- `href` attribute should link to download location --> For example to make use of browsers

[2020-05-18 14:30] darkdragon-001 opened #9633 "Web UI: update dependencies"
Please update npm dependencies (Web UI: `browser/`) where possible to fix vulnerabilities and make contributions easier.

## Expected Behavior
Dependencies should be at the latest major version.

## Current Behavior
`npm install`:
[code]

`npm outdated`:
[code]

## Possible Solution
Have a look at the errors and warnings displayed while running the tests, they inform you about deprecations in futu

[2020-05-18 15:03] kaloyan-raev opened #9634 "Data race on starting gateway"
We observed this data race on our Jenkins server after integrating the latest MinIO release to our product.

<details>
<summary>Click to expand!</summary>

[code]

</details>

## Regression
Is this issue a regression? Yes

## Your Environment

* Version used (`minio version`): RELEASE.2020-05-16T01-33-21Z
* Link to your project: https://github.com/storj/gateway

[2020-05-18 15:14] harshavardhana commented on #9630
Do you have a memory profile @klauspost it looks incorrect to me..

[2020-05-18 15:15] klauspost commented on #9634
Thanks for the information. Added a PR that should fix the issue.

[2020-05-18 15:33] #9609 closed

[2020-05-18 16:07] klauspost commented on #9630
@sPhinX-LHJ ok - then you will likely have to wait for a fix. Good thing is it is rather easy to reproduce. We don't usually recommend expanding the setup on the same server.

@harshavardhana No, it crashes within a few seconds running warp. I suspect some recursive calling going on. I can investigate more tomorrow.

[2020-05-18 17:00] timhughes commented on #9529
Same issue in the AdminUI where it has switched to a `Bearer` token.

[code]

[2020-05-18 18:19] inieves commented on #9624
Thank you for your explanation

[2020-05-18 18:35] #9634 closed

[2020-05-18 21:35] timhughes commented on #9529
For the WebUI case If we add to getSessionToken the ability to get the "token" from the url parameters https://github.com/minio/minio/blob/a3f41c70498c0b8b18d036ff789e3249042bdff8/cmd/auth-handler.go#L175-L182

[code]
We then have the token when we get to `getClaimsFromToken` but `globalPolicyOPA` is `nil` and so are both `pokOpenID` and `pokSA` so we return the error `errAuthentication` on line 2

[2020-05-18 21:45] timhughes commented on #9529
I have just realised that this does work with AssumeRoleWithLDAPIdentity and i see something like
[code]

[2020-05-19 01:33] #9597 closed

[2020-05-19 02:58] #8810 closed

[2020-05-19 05:59] #8722 closed

[2020-05-19 06:59] #8498 closed

[2020-05-19 07:18] anthu commented on #9529
Hey @timhughes
I think we're messing up different topics here.
I was talking about Audit logs regrading the API "AssumeRoleWith*". So something like

[code]

From this Audit Log I can not figure out what STS user has been created but looking at time and remotehost.

Decoded Bearer Token would be another **Feature Request** IMHO.

[2020-05-19 07:20] anthu commented on #9529
But an interesting thing in your shared Audit logs is the `timeToFirstByte` field in the first one. It shouldn't be at 0s 🤔

[2020-05-19 07:58] tirelibirefe commented on #9623
@nitisht I changed my connector config; the new connector is here:

[code]

old issues gone, my Minio doesn't crash any more but there is still nothing in my Minio bucket.
Also there is no any error messages.
Could you please advise what I must check to get more information about the issue?

Regards

[2020-05-19 07:58] #8701 closed

[2020-05-19 08:59] #8723 closed

[2020-05-19 09:33] vadmeste commented on #9529
Yes, I am aware with this. I will need to talk with the team about this. I am not sure how to define time to first byte when the body does not contain any data, like a 204 HTTP response code.

[2020-05-19 10:57] anthu commented on #9529
Haha - true 🤔
I'm not that familiar with Golang, but shouldn't the time to first byte be calculated on the first response byte of the header as provided here:
https://golang.org/pkg/net/http/httptrace/#ClientTrace

Thank you for looking into this and PR #9641 by your team removing the humanising - this will make profiling way easier

[2020-05-19 11:02] juanjoDiaz opened #9643 "Output logs to console in Docker container"
**Is your feature request related to a problem? Please describe.**
I'm running Minio using the oficial docker container.
I'm having some issues around presigned URL and there are no logs that I could find.
Without response or logs. It's impossible to know what's happening.

**Describe the solution you'd like**
Access log are output to console.
Maybe configurable to also output to a file.

[2020-05-19 11:05] timhughes opened #9644 "Auditlog events don't contain accessKey when using the Web UI"
The audit logs generated when using the web UI dont contain the user

## Expected Behavior
When downloading/uploading/deleting from the web UI minio should create audit log webhook events
## Current Behavior
Deleting a file doesnt appear to create any audit event
Downloading and uploading a file creates an event but doesn't contain information regarding the user.

This is the content of an audit m

[2020-05-19 11:06] timhughes commented on #9644
If we add to getSessionToken the ability to get the "token" from the url parameters https://github.com/minio/minio/blob/a3f41c70498c0b8b18d036ff789e3249042bdff8/cmd/auth-handler.go#L175-L182

[code]
We then have the token when we get to `getClaimsFromToken` but `globalPolicyOPA` is `nil` and so are both `pokOpenID` and `pokSA` so we return the error `errAuthentication` on line 226   https://github

[2020-05-19 11:07] timhughes commented on #9529
@anthu Yeah i see what you mean. Similar but slightly different issue. I will raise another issue and remove some of my comments on this one so as not to confuse the two.

[2020-05-19 12:59] #7508 closed

[2020-05-19 13:59] #8571 closed

[2020-05-19 14:59] #8576 closed

[2020-05-19 16:30] jlebrijo commented on #7201
I am having the same error:
* 5 MB chunks: googleapi: Error 400: The number of source components provided (37) exceeds the maximum (32), invalid
* 100 MB chunks: googleapi: Error 400: The number of source components provided (36) exceeds the maximum (32), invalid

Total file is 6 GB so first case we have 1200 chunks, and second 60 chuncks. So there is no relation with this 36-37. Seems like with t

[2020-05-19 16:45] jlebrijo opened #9646 "Multipart error: googleapi: Error 400: The number of source components provided (37) exceeds the maximum (32), invalid"
Trying to upload 6GB file to a minio server as GCS gateway.
I am having the same error:
* 5 MB chunks: `googleapi: Error 400: The number of source components provided (37) exceeds the maximum (32), invalid`
* 100 MB chunks: `googleapi: Error 400: The number of source components provided (36) exceeds the maximum (32), invalid`

Total file is 6 GB so first case we have 1200 chunks, and second 60 chu

[2020-05-19 16:59] #8168 closed

[2020-05-19 18:59] #8423 closed

[2020-05-19 20:53] #9396 closed

[2020-05-19 20:59] #6821 closed

[2020-05-19 21:27] #9512 closed

[2020-05-19 22:06] kannappanr opened #9647 "Browser: Object should be selected if clicked anywhere on the name"
**Is your feature request related to a problem? Please describe.**
Currently, an object is selected only if the icon next to the object name is clicked. We need to select the object, if the user clicks anywhere on the object name also.

**Describe the solution you'd like**
Select the object, if the user clicks anywhere on the object name.

[2020-05-19 22:32] jjtolton commented on #8161
I encountered this issue while following the quick start guide for the server with docker and the Python client SDK guide.  I solved the issue by setting `secure=False` in my `Minio` invocation.

[2020-05-19 22:58] #8111 closed

[2020-05-20 00:05] hassanbabaie opened #9648 "Feedback on MinIO and TensorFlow Blog Post"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This is a quick bit of feedback on the on the recent MinIO and TensorFlow Blog Post by @dvaldivia

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Hi @dvaldivia I've not used TensorFlow mys

[2020-05-20 00:59] #8079 closed

[2020-05-20 01:25] harshavardhana commented on #9648
This doesn't look like a MinIO issue, please comment on the blog directly where it can be addressed. I shall close this issue for now.

[2020-05-20 01:25] #9648 closed

[2020-05-20 01:27] hassanbabaie commented on #9648
thanks @harshavardhana agreed, I wasn't sure where to put it, I will do that

[2020-05-20 01:59] #8002 closed

[2020-05-20 02:59] #7904 closed

[2020-05-20 03:59] #7903 closed

[2020-05-20 04:59] #7900 closed

[2020-05-20 05:18] anthu opened #9651 "STS User can become invalid before credentials expire"
Sometimes we see unexpected 403 responses for an STS user with still valid credentials. After further research we found that this only appears on single nodes in a distributed cluster but also in single-instance setups.
In the distributed setup it didn't matter whether the credentials initially has been retrieved from the affected node. Also the affected nodes randomly changed, we even saw multipl

[2020-05-20 05:59] #7899 closed

[2020-05-20 06:59] #7898 closed

[2020-05-20 07:59] #7722 closed

[2020-05-20 08:21] cander0815 opened #9652 "The service modification password under docker deployment prompts this: Credentials of this user cannot be updated through MinIO Browser."
The service modification password under docker deployment prompts this: Credentials of this user cannot be updated through MinIO Browser.

[2020-05-20 08:59] #8280 closed

[2020-05-20 09:59] #7729 closed

[2020-05-20 10:46] xiaosong135 opened #9653 "When using a listobject, the first time can take a long time"
### Expected Behavior
The listobject can be returned relatively quickly
### Current Behavior
When I have 2 million objects in my directory, the first return takes 18 minutes
### Possible Solution
Our tests found that this line of code took more than 17 minutes to execute
https://github.com/minio/minio/blob/0cc2ed04f59ccbf364b30c845139f839155eae22/cmd/posix.go#L917
We found out that this should jus

[2020-05-20 10:55] jdheyburn opened #9654 "Ability to copy/move files in the web GUI"
**Is your feature request related to a problem? Please describe.**
Minio web GUI does not provide a means of copying or moving a file from one location to another

**Describe the solution you'd like**
Additional buttons near to where Delete Object and Download Object currently are when an object is selected

**Describe alternatives you've considered**
Our workaround is to use the AWS CLI pointed t

[2020-05-20 10:59] #7585 closed

[2020-05-20 11:05] darkdragon-001 commented on #7550
This issue also affects me!

[2020-05-20 11:07] darkdragon-001 commented on #1601
Have there been any further insights on this topic?

[2020-05-20 11:40] klauspost commented on #1601
@darkdragon-001 Almost everything has changed since this. If you have specific problems open an issue or go to slack for general questions.

[2020-05-20 11:44] klauspost commented on #9652
Please use the provided template and fill in the information we ask. You can edit your top comment or close+reopen.

[2020-05-20 11:50] klauspost commented on #9653
@xiaosong135 Sounds reasonable. I will take a look.

Thanks for the great report and your research!

[2020-05-20 11:59] #7952 closed

[2020-05-20 12:59] #8676 closed

[2020-05-20 13:52] jdheyburn opened #9655 "Cannot move/copy SSE-KMS encrypted object via AWS CLI"
When trying to copy or move an SSE-KMS encrypted object via the AWS CLI, there is an error thrown.

## Expected Behavior

It should move/copy the file.

## Current Behavior

The error below is output:

[code]

## Possible Solution

It looks as if the PUT for moving the file needs additional headers that are returned from the HEAD.

## Steps to Reproduce (for bugs)

1. Create S3 bucket with SSE-KMS

[2020-05-20 14:43] harshavardhana commented on #9653
Delay in leaf check is possible, it is the way we used to Walk in an older piece of the code before the leaf check was moved closer to the disk.

The primary reason for ListDir taking longer is you have pretty much dumped keys in a flat manner without heirarchy..

[2020-05-20 14:44] harshavardhana commented on #9652
Let's close incomplete issues.

[2020-05-20 14:44] #9652 closed

[2020-05-20 16:39] darkdragon-001 opened #9657 "Explore alternatives to file concatenation on fs backend"
**Is your feature request related to a problem? Please describe.**
Chunks are concatenated after all of them are received. Since disk speed is often the bottleneck, this doubles transfer times.

**Describe the solution you'd like**
Explore solutions which require the data to be written to disk only once.

**Describe alternatives you've considered**
Use distributed storage which stores the chunks a

[2020-05-20 17:59] #6322 closed

[2020-05-20 19:04] blairdrummond commented on #5956
Still, it would be nice if this worked without need for an external client :-/ It complicates things for us too. I'd be very happy to see this reopened.

[2020-05-20 20:06] kannappanr commented on #8928
Closing this issue as fixed. I do not see the log in the current master.

[2020-05-20 20:06] #8928 closed

[2020-05-20 21:33] kannappanr commented on #8918
@jared-hess I tried with the latest docker image and did not see any issue with the copy object. Closing this issue right now. Please feel free to reach out to us if you still see the issue

[2020-05-20 21:33] #8918 closed

[2020-05-21 02:23] sPhinX-LHJ commented on #9630
@klauspost Is there something new? Please let me know, thx.

[2020-05-21 03:25] xiaosong135 commented on #9653
Yes, but we have a lot of same-level objects in our business, so it's a big deal for us

[2020-05-21 03:52] harshavardhana commented on #9653
That is unexpected for any filesystem, so it won't really scale beyond this value. It is better to create heirarchy for your future needs.

Also if you still want to stick to this model, you should keep the reference for each of these objects in an external database. Avoid doing unnecessary listing.

Any application can be changed to have heirarchy, and you control the application here - almost al

[2020-05-21 06:14] xiaosong135 commented on #9653
OK,thx

[2020-05-21 06:14] #9653 closed

[2020-05-21 07:58] darkdragon-001 commented on #5956
- Drag&Drop folder uploads are added in #9627 for supporting browsers
- "+" menu to upload folders with file chooser is postponed until a HTML5 `<input>` element (property) exists which allows both file and folder upload at the same time.
- "..." menu is added for folders in #9631 to allow downloading a folder as zip directly. Feel free to send a PR for more options.

The UI code is not too comple

[2020-05-21 09:28] ebozduman commented on #9646
Hi @jlebrijo ,
Could you give more details about the reproduction steps, like the commands you've used or simply copy your script to the issue?
Thanks..

[2020-05-21 14:16] timhughes opened #9668 "Waiting for all MinIO sub-systems to be initialized.. possible cause (Unable to migrate all config at .minio.sys/config/: config file not found)"
When upgrading from  `2019-10-12T01:39:57` to `2020-05-16T01:33:21` I get the following repeatedly in the logs and minio doesn't fully start
[code]

## Expected Behavior
It should do it's migration and start

## Current Behavior

Here are the logs from the upgrade. The part before `Exiting on signal: TERMINATED` of the old version and the part after is what i get on starting the new version.
[code

[2020-05-21 15:26] jlebrijo commented on #9646
Hi @ebozduman

thanks for your response!

As I reported, I am using tus-ruby-server gem.

Created the file with this command: `head -c 6GB /dev/urandom > ostechnix.txt`

My script is this:

[code]

If you run this script the output is:

[code]

Minio server is running with this command: `minio gateway gcs project-name`

Minio server error in log is:

[code]

[2020-05-21 16:03] harshavardhana commented on #9633
Dependencies have been updated to latest possible without breakage, but we won't be updating them to latest releases yet.

So will close this issue for now as there are not cycles to address this at the moment.

[2020-05-21 16:03] #9633 closed

[2020-05-21 16:05] timhughes commented on #9668
Looks like this change https://github.com/minio/minio/pull/8474

[2020-05-21 16:09] #9290 closed

[2020-05-21 16:22] harshavardhana commented on #5956
Thanks @darkdragon-001 we really appreciate the work here.

[2020-05-21 16:23] ebozduman commented on #9410
Fixed. Closing...

[2020-05-21 16:23] #9410 closed

[2020-05-21 16:33] ebozduman commented on #9646
@jlebrijo ,
This is perfect.
Thank you very much.

[2020-05-21 18:07] #9655 closed

[2020-05-21 19:05] darkdragon-001 commented on #9633
@harshavardhana Thanks a lot for your work so far. This looks a lot better now!

Hopefully you will find some time to fix the remaining 4 moderate and 1 high issues soon...

[2020-05-21 19:38] jlebrijo commented on #9646
Just finished also a test with different file sizes:
* Worked: 1500MB 2000MB 2500MB 3000MB 3500MB 4000MB 4500MB 5000MB
* Broken: 5500MB 6000MB

Seems like a limit at 5GB

[2020-05-21 22:29] shanebarnes opened #9671 "CompleteMultipartUpload: Reduce Time Between File Rename and Stat"
When Minio is running as an object storage server there can be a significant time delay during the CompleteMultipartUpload operation between the file rename and file stat if the server is writing/deleting to a bucket on a NAS and the file uploaded consists of hundred or thousands of parts. This scenario presents a window of opportunity for the CompleteMultipartUpload to fail. For example, if the r

[2020-05-22 02:36] jeff7181 opened #9674 "CrashLoopBackOff after node reboot"
Any time I reboot a node in the cluster, the pod goes into CrashLoopBackOff with an event indicating the container cannot be created because a container with the name already exists.

## Expected Behavior
The pod should recovery from either a planned or unplanned node unavailable condition.

## Current Behavior
The pod goes into CrashLoopBackOff indefinitely when a node becomes unavailable and I m

[2020-05-22 07:30] ebozduman commented on #9646
Hi @jlebrijo ,

I've tried your ruby script after installing `'tus-server'` and `'aws-sdk-s3'` gems in my environment with May 5th (minio.RELEASE.2020-05-08T02-40-49Z) and the latest May16th (minio.RELEASE.2020-05-16T01-33-21Z) builds.

I used chunk size 5MiB for a 180MiB file, created with `truncate` command, which turned out as 36 chunk `Put` transactions, and everything worked fine with no erro

[2020-05-22 08:22] jdheyburn commented on #9655
Thanks for the prompt fix on this - when can we expect a new version to be released?

[2020-05-22 09:13] sinhaashish opened #9676 "Unable to set new lock with empty parameters."
As per S3 [docs](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lock-managing.html#object-lock-managing-retention-limits. )
[code]
You can set a lock on object with empty parameters.

## Expected Behavior

Object lock should be disabled if set with empty parameters. It works against S3.
[code]

## Current Behavior

Error
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.  S

[2020-05-22 09:30] PSHREYASHOLLA opened #9678 "Unable to locate import io.minio.ListObjectsArgs; in minio-7.0.2-all.jar"
Unable to locate import io.minio.ListObjectsArgs; in minio-7.0.2-all.jar

[2020-05-22 09:37] buhl opened #9679 "notify_mysql doesn't reconnect on timeouts (tested with mariadb)"
## Expected Behavior
When the mysql server drops the client connection minio should reestablish a new one.

## Current Behavior
When using notify_mysql an not notifications has been send for a while. The mysql server will drop the connection and next time minio wants to send a notification an error is raised.
I have tried different dsn settings timeout settings without luck.
Also the setting [chec

[2020-05-22 09:47] jlebrijo commented on #9646
I have the same gem versions, and credentials are passed the same way through environment variables.

Problem is not the number of chunks, or its size, you got the same error with 12 (as you can see in my example) or whatever. Problem are **always with files bigger than 5.5GB**.

Can you try with 5.5GB file, please? it should reproduce the error

[2020-05-22 10:36] timhughes commented on #9668
I have a workaround, I passed all the JSON files and recreated the users. Will post my workaround here later.

[2020-05-22 12:59] timhughes commented on #9668
I created a script that generated the commands necessary to import all the users/groups/policies from the old style `.minio.sys/config/iam`

To get it to execute the commands replace the value of `ECHO_VAL` with an empty string

You need to backup `.minio.sys` before you do the upgrade both so you can revert if something goes and so you have the data to generate the commands using this script.

Th

[2020-05-22 12:59] #9668 closed

[2020-05-22 15:26] #9630 closed

[2020-05-22 15:40] harshavardhana commented on #9646
This is actually a known limitation of GCS gateway , is worth just uploading without multipart which can upload easily upload upto 5TiB

We avoided this because without staging data ourselves (that would make gateway stateful) or we cannot circumvent the limits of GCS or we have to write a custom backend format to stage the data in chunks on GCS and then coalesce them later.

Currently what you se

[2020-05-22 16:38] #9676 closed

[2020-05-22 17:21] #7231 closed

[2020-05-22 19:21] #7902 closed

[2020-05-22 23:04] darkdragon-001 commented on #7206
@frittentheke Without extensive testing, it still appears to be an issue in my setup... I would really appreciate if someone could look into this.

[2020-05-23 13:15] Danbuth opened #9686 "about minio server sync"
Hello！
Can minio server data  synchronized with other servers？ or minio server data sync to other servers？

[2020-05-23 13:29] gwnet opened #9687 "ask for debug log and perf counter on the backend IO path"
## Expected Behavior
after research I only see the HTTP trace. can we add the debug log for IO path? and performance counter for IO path?
^Cwayne@ubuntu:~/go/miniobin$ ./mc admin trace  -v -a  minio
192.168.147.148 [REQUEST (*webui).Upload] 13:25:35.042
192.168.147.148 PUT /minio/upload/test/LICENSE
192.168.147.148 Host: 192.168.147.148:9000
192.168.147.148 Accept-Language: en-US,en;q=0.5
192.168.

[2020-05-23 13:38] nitisht commented on #9686
Please use the issue template properly for us to be able to help you or join us on Slack for questions. Closing as incomplete

[2020-05-23 13:38] #9686 closed

[2020-05-23 13:41] nitisht commented on #9687
Please use issue template properly for us to be able to help you. Check minio prometheus metrics for detailed metrics.

Join us on Slack for more questions. Closing this as answered.

[2020-05-23 13:41] #9687 closed

[2020-05-23 14:08] klauspost commented on #9671
I would argue the metadata shouldn't be written until files are in place and the file has been stat'ed.

Order: rename, stat, write metadata, clean up.

[2020-05-23 14:10] darkdragon-001 commented on #7206
I think I identified the problem:

`PutObjectPartHandler()` calls `ListObjectParts(.., 0, 1)` to get meta data from first part (`li.UserDefined`):
https://github.com/minio/minio/blob/master/cmd/object-handlers.go#L2080-L2085

Even though parameters `partNumberMarker=0` and `maxParts=1`, `ListObjectParts()` processes the whole directory:

https://github.com/minio/minio/blob/master/cmd/fs-v1-multipa

[2020-05-23 16:12] jlebrijo commented on #9646
Ok, thanks for your quick response.

We have to work now with a 5GB limitation.

[2020-05-23 16:12] #9646 closed

[2020-05-23 16:54] harshavardhana commented on #7206
That is not the problem @darkdragon-001 the problem is the coalesce that needs to be done at the end of multipart on FS mode.

Although ListObjectParts can be a bit optimized is not where the issue is.

[2020-05-23 17:13] nicholasbishop opened #9688 "Documentation for enabling atime when using minio in a Docker container"
In the [Disk Caching Design](https://github.com/minio/minio/blob/master/docs/disk-caching/DESIGN.md) document it is mentioned that "the cache drives are required to be a filesystem mount point with atime support". But in the [Docker Quickstart Guide](https://docs.min.io/docs/minio-docker-quickstart-guide.html) there is no mention of enabling atime.

Some googling for how to do this did not turn up

[2020-05-23 17:23] darkdragon-001 commented on #7206
@harshavardhana Please read again through the thread. I think agreement was reached that the coalesce at the end is **not** the problem we are looking at here!

[2020-05-23 19:00] harshavardhana commented on #7206
You can't ever have 100000 chunks those are never possible maximum is 10,000 in multipart. Even 100,000 lookups are minor for a filesystem.

Coalesce is the original problem and that is the real problem, I don't know who makes that agreement. We never made any such claim.

[2020-05-23 19:07] darkdragon-001 commented on #7206
The problem is not to do the lookup after the _upload_ finishes but to do it after every _chunk_!

10,000 chunks still result in 1+2+...10,000 = 50,005,000 lookups. For an SATA HDD this is still 500,050 seconds = 140 hours = 6 days. This is just for listing the files, no transfer, checksum or anything else.

[2020-05-24 05:07] erkki opened #9689 "Disk-cache broken with range requests; proposed fix"
## Symptoms
As of latest master / 7dbfea1353fc292d20cd399305edf00e4b91f105.

Disk cache with range requests fails to store the cached file and results in an unexpected EOF through minio-client.

## Reproduction

Server (S3/MinIO credentials exported in environment)

[code]

Test files uploaded to S3

[code]

minio-client, downloading ranged 1 byte from file in S3

1) Empty cache, first invocation

[2020-05-24 20:18] ynnt opened #9693 "Object Tagging is not working in distributed mode after expansion"
Hello,
it looks like object tagging doesn't work in a distributed mode.
Trace:
[code]

## Expected Behavior

Object receives tags.

## Current Behavior
Minio returns a wrong error.

## Possible Solution
I have no idea yet...

## Steps to Reproduce (for bugs)
1. Setup Minio in distributed mode
2. Expand a cluster
3. Try to upload an object and add some tags to it.

## Context
Cluster is unusable af

[2020-05-24 20:20] harshavardhana commented on #9693
Can you explain further about your setup?

[2020-05-24 20:40] ynnt commented on #9693
Yes.
Initially I had 4 nodes x 1 disk. Then I added 1 more disk and expanded a cluster.

[2020-05-24 20:40] ynnt commented on #9693
Anyway, looks like it works when on master, do you have any ideas why?

[2020-05-24 21:02] poornas commented on #9689
@erkki , that's the correct fix - please send in a PR and we can take it in. Thanks for the contribution!

[2020-05-24 21:27] harshavardhana commented on #9693
Because we fixed quite a few bugs in this area already @ynnt - thanks for confirming, we will make a release coming week. Closing this issue as fixed for now.

[2020-05-24 21:27] #9693 closed

[2020-05-24 22:20] Danbuth opened #9694 "minio server sync"
**Is your feature request related to a problem? Please describe.**
I want sync  minio server data to another minio server at really time.
That is to say. when data update to minio server, the minio server will sync the date to another minio server.

**Describe the solution you'd like**
Can minio server data synchronized with other servers？ or minio server data sync to other servers？

[2020-05-24 22:21] harshavardhana commented on #9694
We are working on a project called RADIO you would want to look at that @Danbuth this is not part of MinIO https://github.com/minio/radio

[2020-05-24 22:21] #9694 closed

[2020-05-24 23:28] laimutisign opened #9696 "Cannot create bucket with object lock feature enabled"
Starting with release RELEASE.2020-05-16T01-33-21Z new bucket with object lock feature enabled cannot be created.
Tested with MinIO server installed locally in Windows 10 computer as a service (with <a href="https://github.com/minio/minio-service/tree/master/windows">install-service.ps1</a>).

This prevents using the <a href="https://github.com/minio/minio/tree/master/docs/retention">Object Lock</

[2020-05-24 23:34] harshavardhana commented on #9696
We do not support object locking with FS mode @laimutisign it will only work with erasure coded, it never really worked so don't use it and needs fundamentally different backend to support object locking.

So it is working as expected.

[2020-05-24 23:34] #9696 closed

[2020-05-25 07:19] harshavardhana commented on #9689
Fixed by #9698

[2020-05-25 07:19] #9689 closed

[2020-05-25 08:43] qwfy opened #9699 "Get an object by its MD5"
**Is your feature request related to a problem? Please describe.**
Yes. Here are my use cases:
1) At work, a lot large binary files are required/produced, that needs to be versioned, ideally they could be version controlled with git, but git doesn't handle large files very well (even with git-lfs).
2) Putting large files in a docker build context cause docker to send it to the daemon, if the file

[2020-05-25 08:46] harshavardhana commented on #9699
Not part of S3 API spec @qwfy we only implement S3 API and limit extensions.

If you want to build CAS like functionality you need to build this outside in your application.

[2020-05-25 08:46] #9699 closed

[2020-05-25 13:03] darkdragon-001 commented on #9618
What would be the preferred of implementing _Select all_? An additional button in the blue selection menu?

[2020-05-25 13:12] qwfy commented on #9699
For anyone who wants a simple solution: https://github.com/qwfy/with-b3#use-case

[2020-05-25 14:00] gwnet opened #9700 "directIO support question"
## Expected Behavior
I run S3 benchmark on minio, I see the linux page cache grow very quickly. do minio support directIO mode to file system?

direct IO is more safe. other enterprise product use directIO to persist data.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* En

[2020-05-25 14:12] Dauliac opened #9701 "Ldap tokenId/Security Tokens are invalid"
Hi,

## Expected Behavior
### Step 1
My AD ldap is correctly plugged to minio with correct parameters:
[code]

### Step 2
When I'm requesting Id's and Tokens, minio give it to me:
[code]

With this policy:
[code]
And I set policy to my user:
[code]

### Step 3

Then after I can use my new IDs to logon with mc for exemple:
[code]

## Current Behavior
Thunderclap when I'm at the step 3 minio give it

[2020-05-25 16:27] harshavardhana commented on #9701
You need to use specify the missing session token

https://github.com/minio/mc/blob/master/docs/minio-client-complete-guide.md#rotating-credentials

[2020-05-25 16:27] #9701 closed

[2020-05-25 16:28] harshavardhana commented on #9700
We support direct IO mode in erasure coded setups, please explain your setup properly the issue is fully empty here.

[2020-05-25 17:08] #9617 closed

[2020-05-26 02:43] gwnet opened #9704 "minio 4K object performance issue with QLC NVMe disk"
## Expected Behavior

Hello here is my test result. only one drive. the performance IOPS of small write and reads are not so good. what is the bottleneck?
[root@localhost s3-benchmark]# ./s3-benchmark.ubuntu -a minioadmin -b jeff-s3-benchmark -s minioadmin -u http://127.0.0.1:9000 -t 40 -d 120 -z 4k
Wasabi benchmark program v2.0
Parameters: url=http://127.0.0.1:9000, bucket=jeff-s3-benchmark, regi

[2020-05-26 03:38] harshavardhana commented on #9704
@gwnet the issue is super incomplete, while you have used the template the entire issue is left empty with no setup details no minio version being used?  How are we supposed to help you?

[2020-05-26 03:58] gwnet commented on #9704
@harshavardhana let me know if this updated version make sense? maybe you can try run the 4K load from your side quickly too. you will see my suffer.

[2020-05-26 04:06] harshavardhana commented on #9704
what is the setup are you using FS mode, Erasure code, distributed ? how many clients?

[2020-05-26 05:33] gwnet commented on #9704
@harshavardhana I use xfs file system, no EC, one machine one nvme QLC disk. one test client, I just see s3 benchmarks tool. use 40 threads.

==below is perf output of bad performance, for large object 10M, I did not see all minio threads block on something together.
I will share my perf log later

[2020-05-26 05:37] gwnet commented on #9704
Samples: 1M of event 'cycles:ppp', Event count (approx.): 135167104096681977
  Children      Self  Command  Shared Object      Symbol                                                                                                                                  ◆
-   74.45%     0.00%  minio    minio              [.] 0xffffffffffc5f9e1

[2020-05-26 05:39] harshavardhana commented on #9704
can you run `fio` on the same drive 4K files with 40 threads? with randomIO profile?

[2020-05-26 05:48] gwnet commented on #9704
hello here is my fio 4K test result, it can be very high, more than 10 times than minio BW. and HW CPU is a lot of idle.
===fio result
[root@localhost mongoose]# fio -filename=/dev/nvme3n1 -direct=1 -iodepth 256 -thread -rw=write -ioengine=libaio -bs=4k -size=7000G -numjobs=20 -runtime=60 -group_reporting -name=mytest
mytest: (g=0): rw=write, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, i

[2020-05-26 05:55] gwnet commented on #9704
===here is 4K minio test perf result, any thought? looks like not one system issue, just minio code issue?

+   19.56%     0.00%  minio    [kernel.kallsyms]  [k] __mutex_lock_slowpath                                                                                                               ▒
+   19.09%     0.00%  minio    minio              [.] 0xffffffffffc5db06

[2020-05-26 05:57] harshavardhana commented on #9704
This is not correct @gwnet this is writing to same file you need to write to many files simultaneously.

Also you should use randwrite not sequential write,  performance seems terrible for NVMe even with sequential write.

[2020-05-26 06:59] inCre commented on #7722
@nitisht is there any way this issue can be prioritized?
It's a pretty big deal for larger customers.

[2020-05-26 07:31] harshavardhana commented on #7722
Feel free to send a PR, happy to accept any contribution..

[2020-05-26 07:42] gwnet commented on #9704
@harshavardhana I am writting the nvme device as block device. I know what you meaning. I will test the random write at block level. it is the same write many files. wait me

[2020-05-26 07:45] gwnet commented on #9704
for randwrite, the BW is even higher, this is strange to me too, maybe it is QLC.
so minio S3 benchmark tool will create random IO? for each file, you will be seq IO, right?
[root@localhost bin]# fio -filename=/dev/nvme3n1 -direct=1 -iodepth 256 -thread -rw=randwrite -ioengine=libaio -bs=4k -size=7000G -numjobs=20 -runtime=60 -group_reporting -name=mytest
mytest: (g=0): rw=randwrite, bs=(R) 4096B-

[2020-05-26 09:48] aledeganopix4d commented on #9072
Hello, I am part of @muzaffar-omer team.
@nitisht did you have a chance to discuss this issue with your team? Do you have any update?

Thank you!

[2020-05-26 09:56] gueste commented on #9696
@harshavardhana can you please clarify under which circumstances minio is able to create buckets with object locking enabled?

[2020-05-26 12:57] gwnet commented on #9700
thank you so much. @harshavardhana I will test erasure code setup. currently I just run one drive. the most simple setup.

[2020-05-26 13:37] klauspost commented on #9700
Feel free to follow up on slack.

[2020-05-26 13:37] #9700 closed

[2020-05-26 13:39] klauspost commented on #9696
You must have a setup with more than one disk for this feature to be available: https://docs.min.io/docs/minio-erasure-code-quickstart-guide.html

[2020-05-26 13:48] klauspost commented on #9704
Hi! I am closing this as there is no issue as such, but just a matter of performance optimization.

Feel free to drop by slack https://slack.min.io/ - maybe people from the community can share experiences with you.

If you need assistance for a detailed system review we offer a subscription service: https://min.io/pricing or write `hello@minio.io`.

[2020-05-26 13:48] #9704 closed

[2020-05-26 14:58] timhughes opened #9707 "AssumeRoleWithLDAPIdentity should not log LDAPPassword"
After enabling LDAP STS and audit logging webhook I have noticed that the users LDAP password is logged.

## Current Behaviour
On the API call `AssumeRoleWithLDAPIdentity` you get thisin the information that is posted to the webhook.

[code]

## Expected Behaviour
Not to log `LDAPPassword`

## Your Environment

MinIO/RELEASE.2020-05-16T01-33-21Z

[2020-05-26 15:49] rajeshamdev opened #9708 "minio gateway --json nas stdout not in json format on some occasions"
/px/bin/minio gateway --json nas --address IPA:PORT /mnt/test | python3 -m json.out
Extra data: line 2 column 1 - line 3 column 1 (char 161 - 370)

This indicates that the output not in json format. Here is the complete output.

{
    "level":"INFO",
    "errKind":"",
    "time":"2020-05-26T14:24:07.036560639Z",
    "message":"Attempting encryption of all config, IAM users and policies on MinIO ba

[2020-05-26 15:50] rajeshamdev commented on #9708
I am on RELEASE.2020-02-27T00-23-05Z

[2020-05-26 15:54] harshavardhana commented on #9708
It is in the format called jsonlines which is JSON standard - http://jsonlines.org/ you need to use tools like jq or use a python parser which support jsonlines document format.

This is working as intended.

[2020-05-26 15:54] #9708 closed

[2020-05-26 21:40] harshavardhana commented on #9072
What is the requirement here? what decision is done based on watching this in prometheus?

[2020-05-27 02:14] rajeshamdev commented on #9708
Thanks @harshavardhana for looking at this.

For the single goal - to convey service start success/failI - what is the rationale of having two json results ? If there is a reason for two jsons, which one should we most rely on?

[2020-05-27 05:56] aledeganopix4d commented on #9072
My team uses Minio as an on-premise pull through cache for AWS S3 (and by the way it works great!!!).
Because of the way it works, though, it's hard to judge if our local storage dedicated to the cache is sufficiently sized for our customers.
Given enough time the cache always fills up to 100%, which is desired, however we would like to monitor if the cache is pruned too frequently (which would me

[2020-05-27 09:17] felipeneuwald opened #9714 "Bucket lifecycle policy is not removing files exactly after --expiry-days"
When setting a bucket lifecycle policy with mc, minio is not removing files exactly after --expiry-days. The files are being removed from the bucket, but it is taking more time than expected.

## Expected Behavior
The file file1.txt should be removed from the ttltest-1day bucket after 24 hours, in this case 2020-05-22 11:52:10 UTC.

## Current Behavior
Bucket lifecycle policy is not removing the f

[2020-05-27 09:58] vadmeste commented on #9714
@felipeneuwald this is expected, if the object modification time is `2020-05-21 11:52:10 UTC`, the object will not be removed before `2020-05-23 00:00:00 UTC` and you still need to wait for other hours, until 24 hours to see that executed.

You should not expect a precise time of expiration to be executed.

[2020-05-27 10:01] klauspost commented on #9714
We are working on continuous lifecycle scanning. When it is working satisfactory it will be merged. You can follow here: https://github.com/minio/minio/pull/9579

[2020-05-27 10:01] #9714 closed

[2020-05-27 11:57] gwnet commented on #9704
great, I already logon the slack. and send message, can anyone help me? for small object performance on minio?

[2020-05-27 12:04] nitisht commented on #9674
How have you deployed MinIO on the cluster? Can you share the yaml you're using?

[2020-05-27 13:20] jeff7181 commented on #9674
Yes, I have. I am using this yaml file: https://raw.githubusercontent.com/kubernetes/examples/master/staging/storage/minio/minio-distributed-statefulset.yaml

`apiVersion: apps/v1 #  for k8s versions before 1.9.0 use apps/v1beta2  and before 1.8.0 use extensions/v1beta1
kind: StatefulSet
metadata:
  name: minio
  labels:
     app: minio
spec:
  selector:
    matchLabels:
      app: minio
  service

[2020-05-27 13:48] jumpapex opened #9716 "Use SPDK BlobFS as minio backend storage"
As we know SPDK BlobFS can bypass kernel and direct write to NVMe device.
I wonder whether Using SPDK BlobFS as minio backend storage could improve the performance.
If it is, are we going to work on it. Thanks!

[2020-05-27 13:56] jieteki opened #9717 "Object healing will wait at least 10min when server is serving bucket notification requests"
## Expected Behavior
object healing runs immediatelly, regardless of how many notification requests running.

## Current Behavior
object healing will wait 10 minutes before actually heal a object.

## Possible Solution

When using minio-go client to listen bucket notification (`client.ListenBucketNotification`), this http request sent to minio server.

It's a `pub/sub` mechanism for server to 'str

[2020-05-27 14:06] harshavardhana commented on #9717
Is there an issue to report or are you just doing code reviews ?

[2020-05-27 14:07] harshavardhana commented on #9716
Gateway part is feature complete, not taking anymore requests in the near future which are not already blessed.

If you want to write one keep a fork and maintain it yourself, there are already dozen others maintained in this manner.

[2020-05-27 14:07] #9716 closed

[2020-05-27 15:30] jieteki commented on #9717
hi  @harshavardhana  This is a issue report, I have updated issue body.

[2020-05-27 16:49] #9688 closed

[2020-05-27 17:07] nicholasbishop commented on #9688
Thanks for the quick fix :)

[2020-05-27 19:38] #9644 closed

[2020-05-27 19:38] #9651 closed

[2020-05-27 19:38] #9707 closed

[2020-05-28 01:05] harshavardhana commented on #6983
This issue is fixed on windows with latest releases

[2020-05-28 01:05] #6983 closed

[2020-05-28 01:06] harshavardhana commented on #9394
This is fixed in PR #9586

[2020-05-28 01:06] #9394 closed

[2020-05-28 08:34] dionorgua opened #9723 "Immutable blobs for FS backend"
**Is your feature request related to a problem? Please describe.**

It looks like currently there are two backends with different behavior. FS allows blob overwriting (replacing one blob content with another without delete) and XL is immutable. It would be cool to have a way for immutable objects with FS backend too.

#150 was related issue. I was actually confused by first comment 'every object u

[2020-05-28 08:42] lorinliu commented on #7379
I think it is a very useful feature for minio users. With this feature, many applications running in k8s can use minio as file-system backend without code modification. For now, minio users have to 1) modify codes by using minio API or 2) use sidecar container in k8s.

[2020-05-28 09:40] nitisht commented on #9723
This is more than five years old. A better way to understand current behaviour is to take a look at our documents.

Immutability is handled by server using object retention APIs as explained here https://github.com/minio/minio/tree/master/docs/retention . This is applicable to FS / XL backends. Closing this issue as answered

[2020-05-28 09:40] #9723 closed

[2020-05-28 09:46] nitisht commented on #9674
We have no control on the Pod itself, think of MinIO as an application running within the Pod allocated by Kubernetes. I think what is happening is the pod is getting scheduled on another node (after you reboot the node). What is the underlying PV here? Is it local path based or something else?

[2020-05-28 09:53] dionorgua commented on #9723
Hi,
I've looked to docs before creating this.

As I said there is no way to use retention API with FS backend with latest version:
[code]
It was already reported in #9696

Surely it's still possible to use it with already-created bucket (or create bucket with old version of minio) but it sounds wrong.

[2020-05-28 10:10] jieteki opened #9724 "mc admin heal object, deep scan not working"
## Expected Behavior
When a part file corrupted, using `mc admin heal --scan deep -r myminio/mybucket/myfile ` to heal the object, the corrupted part file get fixed successfully.

## Current Behavior
The corrupted part file not fixed, remains corrupted.

But download the file from web console, the corrupted part file get fixed *correctly*. which means manually heal not work, but automatic heal did

[2020-05-28 14:33] harshavardhana commented on #7379
@lorinliu https://github.com/kubernetes/enhancements/pull/1383 please follow the discussion here

[2020-05-28 14:50] harshavardhana commented on #9723
Not for FS only erasure coded @dionorgua

[2020-05-28 15:00] dionorgua commented on #9723
Yes. Now I know this.. That's actually why I created this ticket. Currently there is no way to make bucket immutable with FS. I can disable 'GetObject' and 'DeleteObject' via bucket policy. But it doesn't makes sense if 'PutObject' can overwrite existing data.

[2020-05-28 15:19] harshavardhana commented on #9723
It will never be implemented @dionorgua the issue will remain closed. Object locking requires versioning and versioning will be never implemented in FS.

Look here https://github.com/minio/minio/pull/9377

[2020-05-28 16:54] partizza opened #9726 "Server startup failed with 'Unable to initialize sub-systems: Unable to migrate all config at .minio.sys/config/"
Can't start minio container with volumes

## Expected Behavior
Run minio container with mounted directory

docker-compose.yml consist with:

[code]

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. docker-compose up --build

[2020-05-28 18:20] WMP opened #9728 ""Do not have enough permissions to access this resource" when i try delete file"
## Expected Behavior
I have policy:
[code]
When i trying to delete file from Web minio or from API i have error:

[code]

From default admin user i can delete this file without problem.

## Your Environment

* Version used (`minio version`): RELEASE.2020-04-25T00-43-23Z

[2020-05-28 18:23] harshavardhana commented on #9726
Looks like we couldn't write to the disk @partizza do you have write access to the drives?

[2020-05-28 19:32] kannappanr commented on #9728
@WMP I just tried the policy you gave locally against the local master and did not see this issue. Maybe the user is part of a group that denies deletion.

[2020-05-28 19:36] #7206 closed

[2020-05-28 19:46] WMP commented on #9728
No, he havent any group:
[code]

[2020-05-28 20:53] darkdragon-001 commented on #7206
@harshavardhana Awesome :heart_eyes:

I just checked it and upload rate stays almost constant while it dropped by 93% before (5x speed increase)!

[2020-05-29 01:46] jeff7181 commented on #9674
I just rebooted my node k8w02 to check a few things... confirmed the pod is scheduled on the same node:

[code]
The PV is an NFS file system:
[code]

For example, one of the other pods:

[code]

Deleting the pod gets it working instantly:

[code]

But it just occurred to me in looking at the PV, the type of NFS has a note saying it lasts the lifetime of the pod... I guess if the node reboots, the

[2020-05-29 06:32] basroovers commented on #9726
We encountered the same issue since the latest Docker for Windows 19.03.8.

[2020-05-29 06:41] partizza commented on #9726
after minio container has started in safe mode I can join it and there are some files which were created before startup has failed

[code]
[code]

I also can create/remove files/dirs in the /data path manually
If to remove volumes from docker-compose - it works...

p.s. I encountered this after last Docker update on Windows 10 yesterday. Before that the same docker-compose worked

[2020-05-29 07:28] avanveelen commented on #9726
Reproducible with this command:
`docker run -p 9000:9000 --name minio1 -e "MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE" -e "MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY" -v C:\data\minio:/data minio/minio server /data`

The error occurred after upgrading to Docker Version 19.03.8.

[2020-05-29 07:53] mohandass-pat commented on #2111
Hi. I'm trying versioning in Minio. Is it finished?

[2020-05-29 08:30] jeremetsa commented on #9726
Same issue on Windows 10 for Docker Engine 19.03.8 with Docker Compose similar to one on the original post.

[2020-05-29 08:35] anthu opened #9730 ""panic: assignment to entry in nil map" When assigning Policy to group"
I can reproduce the issue posted on slack with the new Version RELEASE.2020-05-28T23-29-21Z which refuses to start when you have a policy attached to a group.

[code]
## Expected Behavior
Do not panic
## Current Behavior
panic with stack trace above

## Possible Solution
Haven't researched yet

## Steps to Reproduce (for bugs)

1. mc admin user add localhost newuser userpass123

2. mc admin group

[2020-05-29 08:42] jeanfabrice opened #9731 "mc raises TLS handshake:EOF error on minio side"
## Expected Behavior
`mc` to respond at a reasonable speed without first raising TLS error **on minio side**.

## Current Behavior
`mc` takes seconds to respond and always raises an `Error: http: TLS handshake error from 172.17.0.1:56712: EOF` on minio output

`curl` and browser access work perfectly

## Possible Solution

Using `--insecure` flag everywhere, no matter my Minio certificates are per

[2020-05-29 09:52] devopg opened #9732 "docker Azure Gateway throw exception"
hi i try run "MinIO Azure Gateway" from manual
https://docs.min.io/docs/minio-gateway-for-azure.html

[code]
result:
`ERROR Unable to initialize gateway backend: illegal base64 data at input byte 20`

[2020-05-29 10:54] klauspost commented on #9726
@vadmeste It seems like [syscall.Fallocate](https://github.com/minio/minio/blob/5ecac91a551c043160fbe17dd615280939b83892/cmd/fallocate_linux.go#L34) is failing under this docker version (I can reproduce it here)

It seems to me it would be fine to ignore errors since this is only pre-allocating. Calling code is [here](https://github.com/minio/minio/blob/94f1a1dea37e07eae8fbfa69d8bb6743ae8569b2/cmd

[2020-05-29 11:05] vadmeste commented on #9726
yes, I agree. I also think we can safely ignore it.

[2020-05-29 11:10] vadmeste commented on #9732
@devopg kindly use the issue template next time.

You need to use your Azure blob storage credentials. The error message is just cryptic that we need to enhance it.

[2020-05-29 11:35] vadmeste commented on #9731
@jeanfabrice I am not really able to reproduce this, what mc version do you use ?

[2020-05-29 12:37] jeanfabrice commented on #9731
[code]

As noted, I did not investigate at first on the client side because:
*  the errors are raised server side and I do not implement TLS client auth.
* velero + restic raised the very same errors server side (but maybe restic/mc shared the same Go library ?) when ran from a k8s cluster

I really don't understand where this error comes from. My setup couldn't be more simple and proof of concept

[2020-05-29 13:13] #9730 closed

[2020-05-29 13:27] #9732 closed

[2020-05-29 14:05] #9726 closed

[2020-05-29 17:29] daviddavis opened #9736 "Invalid xml received when creating a bucket"
We use ansible to create a bucket in minio. It started failing yesterday. Using minio/minio container `RELEASE.2020-05-16T01-33-21Z` seems to work but `RELEASE.2020-05-28T23-29-21Z` fails. The xml it returns is invalid:

[code]

I believe this commit is the issue:

https://github.com/minio/minio/commit/bd032d13ffe014b0a6f072ce87693a0df9037b86

## Expected Behavior
No invalid xml.

## Current Behav

[2020-05-29 18:40] #9736 closed

[2020-05-29 22:32] dmayle commented on #9052
@harshavardhana  I can reproduce this without any problems.  I have a workaround, and I have a guess as to what I think the problem is.

I'm running minio on kubernetes, so I've got a statefulset with 4 servers.  If I take down the entire statefulset, then when they come back up, they get back into this state, never starting.

Previously, I had tried deleting pods so that they would be recreated,

[2020-05-29 22:33] harshavardhana commented on #9052
@dmayle if you use statefulsets you will never see this problem .if you are using daemon sets or replica sets then we do not support it unfortunately.

[2020-05-29 22:35] harshavardhana commented on #9052
Also adding to this rolling upgrade is not supported in latest release https://github.com/minio/minio/releases/tag/RELEASE.2020-05-28T23-29-21Z

Supported right after in this https://github.com/minio/minio/releases/tag/RELEASE.2020-05-28T23-29-21Z

[2020-05-29 23:43] wwm-git-self commented on #8206
Hi @harshavardhana ,
Has this problem been solved? I still facing the error with latest minio: ERROR Unable to initialize gateway backend: mkdir /.minio.sys/tmp: unexpected sequence number

[2020-05-29 23:45] harshavardhana commented on #8206
Its an issue upstream https://github.com/colinmarc/hdfs/issues/144#issuecomment-443937512 @wwm-git-self

[2020-05-30 01:38] #8206 closed

[2020-05-30 04:50] gregnsk opened #9739 "Unable to add policy in NAS gateway mode"
Can't define a policy when running Minio in NAS gateway mode

## Expected Behavior
It should be possible to define a policy in the NAS gateway mode - similar to the example at https://docs.min.io/docs/minio-multi-user-quickstart-guide.html. Apparently, it's possible to create multiple users using etcd. We'd like an option to set different policies for different buckets in the NAS GW mode

## Curre

[2020-05-30 04:51] harshavardhana commented on #9739
@gregnsk you need to use etcd

[2020-05-30 04:53] gregnsk commented on #9739
Will it allow to create several policies?

[2020-05-30 04:54] harshavardhana commented on #9739
It will all functionality that is available in server mode https://docs.minio.io/docs/minio-multi-user-quickstart-guide.html

It's even mentioned in the docs in Prerequisites

[2020-05-30 04:54] #9739 closed

[2020-05-30 04:55] harshavardhana commented on #9728
Please upgrade to latest release and let us know @WMP

[2020-05-30 05:36] harshavardhana commented on #9671
The external process shouldn't be modifying the backend, we need exclusive access - if exclusive access is not present then you can't use NAS gateway safely for uploads.

We can't provide consistency when the backend is modified outside of MinIO. I don't think we can support cases where the backend is being modified and not waiting for CompleteMultipartUpload to return a successful response.

It i

[2020-05-30 06:02] devopg commented on #9732
oh i think i can work with minio from C# azure.sdk (azure.storage.blobs)
sorry .....

[2020-05-30 07:43] fcomte opened #9742 "prometheus metrics : disks count"
Hello,

I have a setup of 3 servers with 2 disks each.
With the new releases, prometheus report a strange count of disks on each server
#### TYPE minio_disks_offline gauge
minio_disks_offline 4
#### HELP minio_disks_total Total number of disks for current MinIO server instance
#### TYPE minio_disks_total gauge
minio_disks_total 6

while mc admin status report
/ # mc admin info minio
●  192.168.253

[2020-05-30 07:53] fcomte opened #9743 "Prometheus metrics : new metrics about bucket usage"
I observe a strange behaviour on my bucket usage :

![image](https://user-images.githubusercontent.com/48868412/83322786-d6a33d00-a25a-11ea-8eac-56f99e1c457f.png)

All my bucket usage count lack some information regurlarly.
except for one bucket

![image](https://user-images.githubusercontent.com/48868412/83322824-05211800-a25b-11ea-9a08-605dad168d42.png)

Of course my minio job is always up

![im

[2020-05-30 14:47] harshavardhana commented on #9743
This is not a Prometheus info problem but a problem of underlying information capture, most probably the fixes are in crawler routine

How many files do you have @fcomte ?

[2020-05-30 17:57] harshavardhana commented on #9742
Yes was able to reproduce this, looks like a reporting issue @fcomte

[2020-05-30 18:23] fcomte commented on #9743
It s a new cluster. Something like 100000 files and 40 buckets

[2020-05-30 18:24] fcomte commented on #9743
Something like 100000 and 30 buckets

[2020-05-30 18:24] harshavardhana commented on #9743
Most probably the fix is in #9718

[2020-05-30 18:25] fcomte commented on #9743
I will check that in the next release

[2020-05-30 20:56] #9671 closed

[2020-05-30 21:35] harshavardhana commented on #9717
Healing is going to become continuous and will not be scheduled in the same way as it is currently written. This is a rewrite which is in progress.

[2020-05-30 22:34] i0x71 opened #9745 "batch operations"
Are there any plans to add batch operations like s3 ?

https://aws.amazon.com/blogs/aws/new-amazon-s3-batch-operations/

[2020-05-31 02:26] harshavardhana commented on #9745
Please open the GitHub issue with more details, if it's feature request use the template.

I shall close this issue as FAQ which can be asked on our slack channel.

[2020-05-31 02:26] #9745 closed

[2020-06-01 00:46] theriverman opened #9746 "Unable to initialize backend: Insufficient permissions to access path"
## Expected Behavior
minIO should start normally using provided folder as its backend

## Current Behavior
minIO fails to start when provided backend is `/media/pi/Toshiba/minIO.data/` which is a mounted USB HDD. See error message in Title.

## Possible Solution
Literally no idea what's happening. minIO should have the same rights as the user executing the binary but it feels like minIO is ran by

[2020-06-01 11:20] timhughes commented on #9707
Tested this with MinIO/RELEASE.2020-05-29T14-08-49Z which I believe should have this patch in it but I am still seeing the ldap password logged in the audit webhook post data. I have replaced my actual password with `THIS_IS_MY_REAL_PASSWORD` in the following

[code]

[2020-06-01 14:35] #9742 closed

[2020-06-01 19:20] harshavardhana commented on #9493
This should be fixed in the latest release @Eshwin PTAL

[2020-06-01 19:20] #9493 closed

[2020-06-02 07:58] progtologist opened #9752 "Backup of a MinIO Server"
**Is your feature request related to a problem? Please describe.**
As an administrator I don't and will not always have control of what data my users will store in their buckets. This means that users can use SSE-C to encrypt their data and protect them.

However, as an administrator I still wish to be able to backup the contents of my server and be able to replicate them in another instance if fo

[2020-06-02 10:48] vadmeste commented on #9521
@igomura sorry for the delay. I already tried to reproduce the issue before with no luck. Is the issue still there for you ?

`mc --json admin heal <alias>` will show the exact time of the next heal cycle instead of the generic one (29 days), could you try it ?

[2020-06-02 12:24] win32nipuh opened #9754 "MinIO Bucket Notification to Service Broker queue"
I am sure it will be useful: to send notifications to SQL Server Service Broker queue.

[2020-06-02 12:29] nitisht commented on #9754
We have no plans to this for now. Closing this as answered

[2020-06-02 12:29] #9754 closed

[2020-06-02 12:36] win32nipuh commented on #9754
Ok, but SQL Server can be install on Windows. Linux machines and IMO it can be useful feature.

[2020-06-02 12:58] karimtemsah opened #9755 "Excel files are damaged when uploaded using presigned_put_object"
I am using MinIO (local bucket) with python SDK (version 5.0.5). I am using `presigned_put_object` to upload documents to my bucket and `presigned_get_object` to download them.

For large PDFs `presigned_put_object` has much better performance than normal `put_object`. However, when I have tried to upload an Excel file(.xlsx extension) and download it again, the file did not open properly.

Some c

[2020-06-02 13:43] csymvoul commented on #8651
My question is off topic but is there an example that could showcase how a minio policy can be applied to a keycloak user?

[2020-06-02 15:18] gwnet opened #9758 "minio 4K small object performance is much worse than 4M object"
4K small object benchmark performance is very bad.
## Expected Behavior

hope to find correct performance bottleneck together

## Current Behavior

===as you can see below, 4K read is much worse than 4M read.=====
wayne@ubuntu:~/go/benchmark/s3-benchmark$ ./s3-benchmark.ubuntu -a minioadmin -b jeff-s3-benchmark -s minioadmin -u http://192.168.147.149:9000 -t 10 -d 10 -z 4k
Wasabi benchmark program

[2020-06-02 15:19] vadmeste commented on #9755
[code]

If you are using presigned_put_object, you just need to put the content of your Excel file in the body without using request.files API.

[2020-06-02 15:21] AlexNk opened #9759 "Minio closes the connection instead of returning a valid error"
When using wrong (non-existent or finalized) multipart ID, with relatively large part sizes (8 MiB or more) minio closes the connection.

## Expected Behavior
NoSuchUpload must be returned.

## Current Behavior
The connection is closed with no response.

## Steps to Reproduce (for bugs)
1. Create multipart upload
2. Upload Part 1 and Part 2 - both of 16 MiB or larger
3. Finalize multipart upload
4

[2020-06-02 15:39] harshavardhana commented on #9755
Yeah an incorrect client implementation here @karimtemsah not a bug.

[2020-06-02 15:39] #9755 closed

[2020-06-02 15:42] harshavardhana commented on #9759
@AlexNk please share your test program

[2020-06-02 15:42] karimtemsah commented on #9755
@vadmeste thank you for your reply.

Can you provide an example?

[2020-06-02 15:50] klauspost commented on #9755
@karimtemsah

You can ask on the community slack, maybe someone there can assist: https://slack.min.io/

[2020-06-02 15:50] harshavardhana commented on #8651
Once you have created the keycloack user you need to use it with one of the STS APIs.

[2020-06-02 15:52] beyfound opened #9760 ""mc cp" will append part of source path to destination path under Windows."
## Expected Behavior
C:\Users\dqiao\source>mc cp --recursive bin\Release\ cats/test-branch
 0 B / ? [                                                                                                           =]
C:\Users\dqiao\source>mc cp --recursive -q bin\Release\ cats/test-branch/master
`bin/Release/test1.txt` -> `cats/test-branch/master/test1.txt`
`bin/Release/test.txt` -> `cats/test-branch/ma

[2020-06-02 15:54] karimtemsah commented on #9755
Hmm actually I am not sure why the issue is closed here. Probably you haven't understood the question well.
In the code snippet that I have provided, the `upload` function receives a file. That's why I used `request.files` in order to get the file content.

[2020-06-02 15:55] harshavardhana commented on #9755
Uploading multiple files as single stream will corrupt the content, upload them individually this is what @vadmeste explained.

[2020-06-02 15:56] AlexNk commented on #9759
`import boto3
import botocore

bucket_name = "test3"
obj_name = "mp_file"

client = boto3.client("s3", aws_access_key_id="minio", aws_secret_access_key="minio", endpoint_url="https://minio:9199", verify=False)
client.create_bucket(Bucket=bucket_name)

body_1 = (b'1' * 16*1024*1024)
body_2 = (b'2' * 16*1024*1024)

mp_ret = client.create_multipart_upload(Bucket=bucket_name, Key=obj_name)
p1 = client

[2020-06-02 16:01] karimtemsah commented on #9755
@harshavardhana thanks for your reply!
I also tried `requests.put(url=upload_url, files={"file": request.file['file']})` but also generates a corrupted excel file when being downloaded.
I have tried PDF files and they work well. The problem is just with the excel files.
I supposed that you have a working solution since you closed the ticket!

[2020-06-02 16:07] #9724 closed

[2020-06-02 18:10] vadmeste commented on #9759
I was able to reproduce the issue.

Surprisingly this change would fix the issue:

[code]

[2020-06-02 18:31] harshavardhana commented on #9759
Looks like some interaction issue between net/http and boto3 HTTP client @vadmeste r.Body shouldn't be drained like a client style it is meant to be consumed automatically by ServeHTTP.

We should report this upstream and get their feedback. It almost certainly looks like a client bug to me, we can have the workaround though unless without any side-effects.

Also, limit the io.Copy() drain to let'

[2020-06-02 19:05] AlexNk commented on #9759
As I mentioned in the issue, this also reproduces with our internal S3 API client library.
Also, for some reason, this only happens with large part sizes. Maybe the problem is related to some unfinished receive? This would explain why draining the request helps.

That's what boto3 logs:
[code]

[2020-06-02 19:17] harshavardhana commented on #9759
what this simply means is that client is hung @AlexNk, the server simply terminates the client since its idle for too long.

Draining request is a hack it simply shows that the server is simply arbitrarily reading the request, it is potentially possible that client for some reason wants the server to consume all of the r.Body() which is not necessary. Without reading the body server can respond ba

[2020-06-03 02:22] sPhinX-LHJ opened #9761 "Error in distributed mode"
There is a 404 error appeared every 5 minutes when I run a distributed minio server, the command is very simple:
`minio server http://127.0.0.1/TestData{1...4}`
Error detail(run on the simple chinese language):
`API: SYSTEM()
Time: 10:06:47 CST 06/03/2020
DeploymentID: f5ce7843-6e8a-47d7-a2b3-cd421e887a29
Error: <!DOCT YPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.o
rg/TR/xhtml

[2020-06-03 02:39] harshavardhana commented on #9761
This is not the correct way to setup distributed cluster @sPhinX-LHJ follow our docs

[2020-06-03 04:03] gwnet commented on #9758
@harshavardhana can minio expert work with me to find the bottleneck together? we want to use the intel open-cas cache to accelerate small IO

[2020-06-03 04:13] harshavardhana commented on #9758
For commercial engagements please reach out to us at https://minio.io/pricing or https://subnet.min.io/subscribe

[2020-06-03 06:14] sPhinX-LHJ commented on #9761
Is there a recommended setup to expand disk or partition on single server?
for example, I have a partition (20TB) at first, after servral months, I get another added partition (20TB), so I want to expand to the  added partition. So I try to use Distributed MinIO, Its maybe not good, but I have to do this, please give some advice, Thanks!@harshavardhana

[2020-06-03 07:16] csymvoul commented on #8651
@harshavardhana I can login to MinIO through KeyCloak. Isn't this login using STS API?
My issue is that the policy is not applied.

[2020-06-03 08:58] klauspost commented on #9761
There is nothing related to IIS in Minio. Maybe something else is picking it up.

Maybe run on port 9000 or something similar. Feel free to ask for help on community slack: https://slack.min.io/

[2020-06-03 08:58] #9761 closed

[2020-06-03 09:26] gwnet commented on #9758
intel@intel:~/wayne/s3-benchmark$ sudo ./s3-benchmark -a minioadmin -b jeff-s3-benchmark -s minioadmin -u http://127.0.0.1:9000 -t 1 -d 20 -z 4k
[sudo] password for intel:
S3 benchmark program v3.0
Parameters: url=http://127.0.0.1:9000, bucket=jeff-s3-benchmark, duration=20, threads=1, loops=1, size=4k
Wed, 03 Jun 2020 09:54:18 GMT Loop 1: PUT time 20.0 secs, objects = 15127, speed = 3MB/sec, 756.

[2020-06-03 09:28] piwi82 commented on #4210
You should try [spksrc](https://github.com/SynoCommunity/spksrc) to compile MinIO for Synology NASes.
Go has already been used by spksrc to compile [SyncThing for all architectures](https://synocommunity.com/package/syncthing).

[2020-06-03 09:28] gwnet commented on #9758
from the perf result, it looks like it is minio software bottleneck. it did not use high speed optane SSD fully for small IO.

    66.27%     0.00%  minio    minio              [.] 0x000000000045f9e1
            |
            ---0x45f9e1
               |
               |--55.86%--0x7087a5
               |          |
               |           --55.86%--0x70cf04
               |

[2020-06-03 09:40] klauspost commented on #9758
@gwnet You are welcome to ask on the community forum or look into the options listed by harsha above. Unless you have a specific issue this is not the place for it.

You can join slack here: https://slack.min.io/ - the options for direct support is listed above.

[2020-06-03 09:40] #9758 closed

[2020-06-03 10:40] klauspost commented on #9752
I agree it would be nice if there was a way to copy encrypted data. Unfortunately that is not how the spec is written.

Even if we decided to not to follow S3 specifications, it cannot be retrofitted since it would break security expectations.

Directly interacting with the backend data is also not generally recommended as it is easy to make mistakes as you found out. You are probably missing the

[2020-06-03 10:40] #9752 closed

[2020-06-03 11:24] progtologist commented on #9752
True, it appears that in terms of the S3 protocol this is not (and most likely should not) be possible.
However, what I would like to explore is option A, some internal data transfer-API that does a blob copy that can then be imported in another minIO instance.
I must admit that I have rather limited background in minIO and S3 in general, but I would guess that wanting to take backups of users dat

[2020-06-03 11:29] klauspost commented on #9752
There are no concrete plans for it currently, so I would not design my system on it becoming available.

[2020-06-03 11:30] aead commented on #9752
@progtologist This is a valid use case and it will work - for example `mc wirror` can do a replication of one S3 cluster to another one. However, due to the S3 API has the "limitation" that this does not work for SSE-C. So as for now, I would recommend to use SSE-S3 for server-side encryption or client side encryption (as better replacement for SSE-C)

[2020-06-03 12:32] rwb99 opened #9762 "cant make public read only ):"
tried this ![image](https://user-images.githubusercontent.com/63825594/83635995-2d6a8880-a573-11ea-98ca-aad9413ed50b.png)

also tried "x-amz-acl"

"mc policy set public minio/media"
 "mc policy set public /usr/local/share/minio/media"
"mc policy set public /usr/local/share/minio/media"

i just installed like 10 hours ago

also all mc commands bring up this blue thingy instead of passing the comman

[2020-06-03 12:44] sylus commented on #8935
Would anyone be able to provide additional context as to how this works in Minio and maybe point at the code that needs looking at? Was hoping could maybe help though this might be beyond me.

[2020-06-03 12:46] klauspost commented on #9762
You are running "midnight commander" which is a whole different program.

See here how to install `mc` (MinIO client) https://docs.min.io/docs/minio-client-quickstart-guide.html

[2020-06-03 12:46] #9762 closed

[2020-06-03 12:53] klauspost commented on #9762
You can ask usage questions on Community Slack, which is more appropriate than here. https://slack.min.io/

[2020-06-03 13:07] fcomte commented on #9743
I have the same bug in the last release (1 june ) but I think #9718 is still not merged.

[2020-06-03 13:13] fcomte commented on #9742
I confirmed that the new release (1 june) solve this regression.

[2020-06-03 17:18] DerMitch opened #9764 "Bucket policies are broken in gateway nas mode"
## Expected Behavior
When running MinIO in "gateway nas" mode, it should be able to deliver files when it's allowed by the bucket policy.

## Current Behavior
MinIO is just logging "Not implemented" in it's console output and preventing access to files.

## Steps to Reproduce (for bugs)
1. Start a fresh instance of MinIO using `minio gateway nas <somewhere>`
2. Observe an error already (macOS only

[2020-06-03 17:23] harshavardhana commented on #9764
@DerMitch I don't see how to reproduce this - are you sure you are using the released version?

[code]

[2020-06-03 17:24] harshavardhana commented on #9764
This we need to ignore on macOS

[2020-06-03 17:55] DerMitch commented on #9764
@harshavardhana Thank you for your quick response.

On macOS, I used the latest version available from brew (updated today).
[code]

---

I also tested the issue with the official docker image, pulled just a few minutes ago:

![Bildschirmfoto 2020-06-03 um 19 50 16](https://user-images.githubusercontent.com/178672/83670456-7eaa6480-a5d3-11ea-979f-eb4ca47727e0.png)

The "Not implemented" appears wh

[2020-06-03 20:18] #9764 closed

[2020-06-04 07:02] DerMitch commented on #9764
Just tested the new release on our servers, and it works perfectly now.

Thank you very much for the quick fix ❤️

[2020-06-04 08:26] Praveenrajmani commented on #9679
@buhl I did not see this happening locally, This PR might fix the issue, as it brings `checkConnLiveness` support.

[2020-06-04 11:51] timhughes opened #9767 "Followup to "AssumeRoleWithLDAPIdentity should not log LDAPPassword #9707 ""
Raising as a separate issue because the last one is closed but not fixed and I cannot reopen it.

Tested #9707 with MinIO/RELEASE.2020-05-29T14-08-49Z which I believe should have this patch in it but I am still seeing the ldap password logged in the audit webhook post data. I have replaced my actual password with `THIS_IS_MY_REAL_PASSWORD` in the following

[code]

[2020-06-04 12:02] mbannert opened #9768 "[RFC] minio’s web GUI can’t be nginxed to another place than root"
I open up an issue as discussed with @anthu on Slack.

I am chasing an issue that was originally brought up @krishnasrinivas . He also made a PR which is why I don’t fork/PR here as his solution tackles the problem. My understanding was that his PR was merged, but still the behavior of minio / issue remains and also the code on master does not seem to contain the changes. So what am I talking abou

[2020-06-04 13:00] DKoff opened #9769 "Lifecycle object policy not deleting tagged objects"
## Context
I'm trying to configure lifecycle policy, to delete objects with specific tags from bucket, no matter their path/location.

Example of lifecycle policy configuration
[code]

## Current Behavior
Lifecycle object policy not deleting properly tagged objects.

For example, this file must be deleted, because it's properly tagged, and it's older than 7 days.
[code]
Lifecycle configurations us

[2020-06-04 13:41] SnehashishGiri opened #9770 "LocationConstraint of Bucket is remaining null for different region while creating bucket using Minio Python Client."
LocationConstraint of Bucket is remaining null for different region while creating bucket using Minio Python Client.

I am trying to create bucket using boto3 client for minioserver
s3_client = boto3.client('s3',
                                      endpoint_url='http://localhost:9000,
                                      aws_access_key_id=self.access_key,
                                      a

[2020-06-04 14:24] harshavardhana commented on #9768
It is not in our interest to do this @mbannert it makes our code complicated.

Feel free to create a fork of MinIO and use it the way you want with additional code changes.

We cannot possibly carry this baggage on our end.

[2020-06-04 14:37] harshavardhana commented on #9770
By default server has no location set @SnehashishGiri you need to set a region for your server using

[code]

What you are seeing is expected in a default setting, MinIO will accept all regions since server is not deployed with a specific region

[2020-06-04 15:07] niratsthapit opened #9771 "mc admin policy issues : invalid character '<' looking for beginning of value."
running minio in docker. trying to use the minio/mc docker image to create policies and add users but gettting an error while adding policies
seems to only happen if the minio is a arm image. running the command against amd64 image works fine.

[code]

Nirat  8:38 AM
`mc admin policy info ko users`
[code]
`image: (minio/minio:edge-armhf)`

## Expected Behavior

`mc admin policy list minio`
`writeo

[2020-06-04 15:09] harshavardhana commented on #9771
This MinIO version is like 3yrs old and you are using latest `mc` @niratsthapit did you expect it to work?

[2020-06-04 15:23] harshavardhana commented on #9771
For now you need to build your own or download one from here https://dl.minio.io/server/minio/release/linux-arm/

[2020-06-04 15:23] #9771 closed

[2020-06-04 15:24] anthu commented on #9768
This is a somehow disappointing answer.
Could you make clear who is "you" in the context of interest? And how do we know, what is in your interest for the future?

I like the proposal as this is something happening and not an unusual setting in cloud native applications containing frontend redirects.

Regarding the complicated code: hard-coded values make code complicated. We should definitely loo

[2020-06-04 15:25] #9770 closed

[2020-06-04 15:34] harshavardhana commented on #9768
I don't think so. You are missing the point of documentation and being able to communicate what this feature entails.

The purpose should be carefully understood, the bagge we need to carry for future should be well understood. Everyone has a niche use-case we are not trying to solve all the world's problems in a single software.

MinIO is working as presented and it works as expected under the co

[2020-06-04 15:53] harshavardhana commented on #9770
on windows its `set MINIO_REGION=`

[2020-06-04 16:07] harshavardhana commented on #9768
Understood @anthu - we will discuss this internally and see if we can come up with something of a label on issues which the community can contribute.

Thank you for your support.

[2020-06-04 17:31] mbannert commented on #9768
Me too, never meant to fuel the flame or go to war with this. I was very reluctant to resurrect an old issue here. That's why I timidly brought it to Slack where @anthu suggested to discuss it over here. I was encouraged that our hack might be a workaround others especially from the K8 community might appreciate.

I don't think I should go for a fork. We love `minio` the way it is and our hack is

[2020-06-04 23:11] #9679 closed

[2020-06-05 01:26] SnehashishGiri commented on #9770
thank you

[2020-06-05 05:07] #9767 closed

[2020-06-05 05:50] frittentheke commented on #8912
@klauspost why was this just closed as stale if I may ask?

[2020-06-05 05:53] harshavardhana commented on #8912
With no activity after the issue has been marked stale for 30days it shall be closed, just saying `notstale` doesn't mean anything.

Please keep providing more debug info to keep the issue active.

[2020-06-05 10:07] darkdragon-001 opened #9774 "UI create empty folder/prefix"
In order to complete #5956, for a follow-up to #9631 I need clarification for the following points
- ~~"..." menu: share folder/prefix
  -> Is there an RPC method to get something like [Javascript SDK presignedUrl()](https://docs.minio.io/docs/javascript-client-api-reference.html#presignedUrl)~~ No, see https://github.com/minio/minio/issues/9774#issuecomment-657187809.
- "+" menu: create empty fol

[2020-06-05 14:00] kalinon opened #9776 "After disk replacement contents of bucket differ between requests"
Edit: Related issue https://github.com/minio/minio-operator/issues/136

It seems depending on which server the requests goes to the data results are different.
[code]

More debug output:
https://pastebin.com/7TT3rTYB

A request with `--debug` that gave bucket contents back:
[code]
A response that gave empty bucket back:
[code]

Here is the physical contents of the drives for each server:

minio/mi

[2020-06-05 14:54] harshavardhana commented on #9776
Listing can be inconsistent until full heal is complete, did you manually run the heal or did you just let the auto heal to take care of the situation?

[2020-06-05 16:07] harshavardhana commented on #9776
mc admin heal -r is what you need to trigger the heal of entire setup @kalinon  - just running `mc admin heal` give you the heal of the drive format.

The drives replaced you need to wait for 10minutes before the entire heal kicks in - did you wait for 10minutes? @kalinon

[2020-06-05 16:09] kalinon commented on #9776
@harshavardhana i tried to trigger multiple heals. I am unsure how long i waited before triggering a heal. I used the command:

[code]

As well as each bucket underneath it. Perhaps i did not wait the 10 minutes before? If so, would that prevent the drive replacement from happening correctly?

[2020-06-05 16:12] harshavardhana commented on #9776
10 minutes is until it needs to wait until the drive starts healing automatically, the idea is you replace the drives and continue your operation - check after 10minutes if the healing has started.

There is no good reason to unnecessarily hurry things by doing a subsequent `mc admin heal` you can perform this procedure once again on your end to observe what is happening.

Multiple heal trigger is

[2020-06-05 16:17] kalinon commented on #9776
Ok, so if it was triggered and completed successfully, then this should not happen? Shouldn't the background heal also have taken care of it overnight?

[2020-06-05 16:27] harshavardhana commented on #9776
Background heal only runs once in 30days @kalinon we don't have active heal which we are currently working on which would avoid all the manual healing altogether.

But disk heal should have triggered if it didn't trigger then either you were doing something with the setup and you didn't allow it to do its job.  Or we have a bug we need to fix we will investigate this and let you know.

[2020-06-05 16:40] kalinon commented on #9776
For reference i always found it weird that it comes back with `Never executed` when i try to trigger it or look at the status:

<img width="322" alt="Screen Shot 2020-06-05 at 12 31 59 PM" src="https://user-images.githubusercontent.com/5629164/83901318-90515080-a728-11ea-9042-4ffe74446ddb.png">

Also this is the usual response when i try to heal the top level with `-r` as you suggest:
<img width="

[2020-06-05 16:43] kalinon commented on #9776
Appreciate the help. I will try to replace a drive again and let the 10 min timer trigger.

[2020-06-05 16:44] harshavardhana commented on #9776
This is correct because you simply have 1 drive per server and just 7 servers, this is the most uncommon setup for MinIO so it is rightfully showing that you have 5 networks online out of 7 i.e 2 offline.

This is our bug - because we clearly know that node is offline we can show that disk is offline. We need to fix this and this is a client-side issue i.e in `mc`

[2020-06-05 17:30] #9769 closed

[2020-06-06 04:12] mistryharshil opened #9778 "Allow specific bucket to list"
I am using minio as a gateway for listing AWS s3 buckets and contents. What I am trying is to list only specific bucket(s) to be listed on minio browser that way I can have more control on exposing my all buckets.

When I am trying to restrict it using IAM policy shown below, I am unable to list any of the buckets
`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Vis

[2020-06-06 04:15] kannappanr commented on #9778
Unfortunately, there isn't any way to do that in AWS S3.

[2020-06-06 04:15] #9778 closed

[2020-06-06 04:22] mistryharshil commented on #9778
Well, I have configured minio gateway in ec2 of the same region where bucket(s) exist. Anyways to establish it using policy from minio admin policy or ec2 IAM policy end?

[2020-06-06 04:51] harshavardhana commented on #9778
AWS doesn't allow this @mistryharshil , you should ask AWS support for this feature

[2020-06-06 04:52] harshavardhana commented on #9774
// cc @kaankabalak @kanagarajkm

[2020-06-06 04:56] mistryharshil commented on #9778
Sure, I may find an alternative solution for this.
Thanks @harshavardhana

[2020-06-06 12:54] HelderFSFerreira opened #9779 "NAS Gateway can't start over NFS"
I'm trying to mount an NFSv3 share as data volume using MinIO NAS Gateway

## Expected Behavior

Start without any issues

## Current Behavior
When I started the container it stops with this issue:
`minio    | ERROR Unable to initialize gateway backend: Unable to write to the backend
minio    |       > Please ensure MinIO binary has write permissions for the backend
minio    |       HINT:
minio

[2020-06-06 13:45] harshavardhana commented on #9779
You need to either fix squash_root correctly or run this as a user using using `--user` parameters.

NFS disallows writes by root without root squash.

[2020-06-06 13:45] #9779 closed

[2020-06-07 01:42] #8784 closed

[2020-06-08 07:53] yuyuanshifu opened #9782 "upload a zip file by presigned url"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.Get a presigned put url
2.upload a zip file by the url
3.download the zip file
4.unzip the file
5. the file size is changed, and cannot unzip it in windows env, I can unzip it in linux env,but an error would occur: exit status 1

## Context

## Regression

## Your Environment

* Version used (`mini

[2020-06-08 07:57] nitisht commented on #9782
This is pretty old release. Please try with the latest release, the issue should be fixed.

[2020-06-08 14:37] kannappanr commented on #9782
@yuyuanshifu I tried with the latest release and used `minio-js` to generate a pre-signed PUT object. I verified with both Windows and Linux that the object uploaded matches the original object size. I was also able to download it, extract it properly.

[2020-06-08 22:59] igomura commented on #9521
It has been fixed in 2020-05-01T22:19:14Z or earlier. This issue can be closed.

[2020-06-08 22:59] #9521 closed

[2020-06-09 01:15] yuyuanshifu commented on #9782
Thx. Finally I found the problem: I uploaded the file with content-type:form. I have solved the problem.

[2020-06-09 01:15] #9782 closed

[2020-06-09 01:21] yuyuanshifu commented on #9782
[https://github.com/rowanwins/vue-dropzone/issues/411#issuecomment-459255756](url)

[2020-06-09 01:22] yuyuanshifu commented on #9782
https://github.com/rowanwins/vue-dropzone/issues/411#issuecomment-459255756

[2020-06-09 09:52] DKoff opened #9786 "Lifecycle object policy count expire days not from object creation date"
## Context
I'm trying to configure lifecycle policy, to delete objects after number of days, after object creation.

But when Lifecycle object policy applied to bucket, where previously created objects already exists, expire date counts not from object creation date, but from date, when policy was applied to bucket.

Server name - s3-main
Bucket name - murdenis
Current date - 09 Jun 2020
Lifecycle

[2020-06-09 10:14] shenqicheng100 opened #9787 "Excuse me, how should cross-domain configuration be set up? Thank you"
Excuse me, how should cross-domain configuration be set up? Thank you

[2020-06-09 10:15] nitisht commented on #9787
Please use issue template for issues, or join community Slack for such questions at https://slack.min.io

[2020-06-09 10:15] #9787 closed

[2020-06-09 10:49] markmarijnissen opened #9788 "etcd unavailable during startup disables admin apis, but etcd unavailable later does not"
## Current Behavior

**Use case 1**
Run minio in gateway mode with an unavailable etcd endpoint.

Minio shows an error, but keeps running:
[code]

Subsequent commands that rely on etcd fail:

- `mc admin policy list xxx` returns `mc: <ERROR> Cannot list policy. This 'admin' API is not supported by server in 'mode-gateway-gcs'.`

**Use Case 2**
Run minio in gateway mode with an available etcd endpo

[2020-06-09 10:50] markmarijnissen commented on #9788
Related PR: https://github.com/minio/minio/pull/7097

[2020-06-09 10:50] nitisht commented on #9788
This is way old. Can you try with latest release?

[2020-06-09 10:51] markmarijnissen commented on #9788
Will do. What is the best way to check changelog/commits for any changes on this?

[2020-06-09 11:55] FreeG opened #9789 "Precondition failed when sending head request on objects with multiple parts"
when sending head-object requests i get precondition errors on objects that have multiple parts. Additionally i recognized that the behaviour is not 100% consitent with AWS S3. AWS S3 is returning the PartsCount only when specifying a part-number.

## Expected Behavior
when sending head-object requests via aws-cli AWS S3 returns the following for objects with multiple parts

**without part-number*

[2020-06-09 12:09] markmarijnissen commented on #9788
@nitisht upgraded to latest minio, behavior is similar.

[2020-06-09 13:12] nitisht commented on #9788
Thanks @markmarijnissen we'll take a look

[2020-06-09 14:03] vadmeste commented on #9786
Thanks @DKoff.

I sent a PR to fix the issue.

[2020-06-09 15:04] vadmeste commented on #9759
It looks like we don't have to take any action for this issue @harshavardhana, could you confirm ?

[2020-06-09 15:25] chilicat commented on #7810
Hallo. I Just wanted to ask if it is still planned to use the MinIO backend as etcd replacement?

I see when I start minion:

[code]
but I cannot create a user:
`
./mc admin user add minio myuser mypasswor123
mc: <ERROR> Cannot add new user. This 'admin' API is not supported by server in 'mode-gateway-nas'.
`

[2020-06-09 15:51] harshavardhana commented on #7810
NAS gateway requires etcd for multi-user support @chilicat

[2020-06-09 16:31] chilicat commented on #7810
@hackintoshrao I was hoping there is also another backend option. For our deployments would also be Mongo the best option since we have already a couple of deployments for it.

Of course, it would be possible to use the Etcd from Kubernetes but that, in my opinion, mixes the infrastructure with application/deployment to much.

From what I see it is also not possible to define the "root key" for Et

[2020-06-09 16:40] #9786 closed

[2020-06-09 21:16] popey456963 opened #9795 "Memory Cache"
It would be useful to get a cache in memory for frequently accessed files, instead of the currently purely disk-based cache.

For instance, we use Minio as a file store.  Sometimes thousands of users can access a file within a few minutes.  At the moment we use an in-memory cache in front of Minio, but this heavily limits the API calls and things we can do, and I feel an in-built solution would be

[2020-06-09 21:23] harshavardhana commented on #9795
Thanks but this is out of scope for us @popey456963 , we already implement a better persistent cache.

You are better off using our edge caching abilities by pointing them to optane NVMe drives which will be persistent and as fast as your network could be.

https://github.com/minio/minio/tree/master/docs/disk-caching

In-memory caching is seldom useful.

[2020-06-09 21:23] #9795 closed

[2020-06-09 21:34] popey456963 commented on #9795
We purely have slow hard drives, which are significantly slower than our network (1gbps versus ~200mbps).  We're a not-for-profit so unfortunately have no money to purchase such expensive drives.

I feel there are still instances where memory caching can be useful.  Especially for last generation technology.

[2020-06-09 21:53] harshavardhana commented on #9795
I understand but there are cheap NVMe drives available in the market, memory is orders of magnitude still more expensive than NVMe drives - an entry class NVMe is easily < 100$ and gives more than required performance/capacity for the network you are planning to run.

Alternatively, you can mount the memory as a drive using Linux tmpfs/ramdisk approach and point MinIO caching to use this drive @po

[2020-06-09 22:05] #9346 closed

[2020-06-10 01:40] zj8487 commented on #8999
Same problem
@xJoeyv do you have any progress on it. thank you very much

[2020-06-11 07:52] markush81 opened #9804 "Bucket Lifecycle Configuration does not deleted objects on disks in cluster mode (RELEASE.2020-02-27)"
Using a Bucket Lifecycle Configuration does not deleted objects on disks in cluster mode

## Expected Behavior
Objects should get deleted on disks.

## Current Behavior
Objects stay on disks.

## Steps to Reproduce (for bugs)
1. Create Minio Cluster

[code]
2. Add Bucket Lifecycle Policy
[code]
3. Add an object to the bucket and check tags
[code]
4. Set Tag deleted=true
[code]

5. Forward System C

[2020-06-11 07:57] markush81 opened #9805 "Bucket Lifecycle Policy does not deleted objects on disk in single mode (RELEASE.2020-06-03)"
Bucket Lifecycle Policy does not deleted objects

While in https://github.com/minio/minio/issues/9804 with old version RELEASE.2020-02-27T00-23-05Z i had this wrong behaviour only in **cluster** mode, with new version RELEASE.2020-06-03T22-13-49Z it does not even work in **single** mode.

## Expected Behavior
Objects get deleted.

## Current Behavior
Objects are not getting deleted

## Steps to Re

[2020-06-11 09:03] harshavardhana commented on #9805
Closing this as duplicate of #9804

[2020-06-11 09:04] harshavardhana commented on #9804
Keeping this issue for both situations @markush81

// cc @vadmeste

[2020-06-11 09:16] markush81 commented on #9805
@harshavardhana actually i do not think it is a duplicate, one is about single node and one about cluster, there is different behaviour in different versions.

[2020-06-11 09:18] markush81 commented on #9804
ah ok ... now i got it, ok so this will include #9805. fine. thx.

[2020-06-11 09:52] vadmeste commented on #9804
@markush81 did you test with the latest release ?

[2020-06-11 09:54] klauspost commented on #9804
Yeah, this is quite old.  @vadmeste if you have the time to test #9579 - can you test these two cases too?

[2020-06-11 10:17] markush81 commented on #9804
yes, with latest it doesn't work at all (single & cluster) it seems #9805

[2020-06-11 10:27] vadmeste commented on #9804
oh okay, I think @harshavardhana mistakenly closed the wrong the issue where it talks about the latest version

[2020-06-11 10:31] vadmeste commented on #9805
@markush81 forwarding the system clock is not enough, you still need to wait for 24 hours (or less) until you see the lifecycle triggered.

[2020-06-11 10:41] markush81 commented on #9805
did this change in some version? did same test with RELEASE.2020-02-27T00-23-05Z and it took not even 5min. and the file got deleted.

[2020-06-11 10:41] markush81 commented on #9805
Btw. is there any logging which i can activate to see the lifecycle events? So far i only know how to see http trace.

[2020-06-11 10:43] markush81 commented on #9804
Btw. we have cluster running since month with RELEASE.2020-02-27T00-23-05Z and no file at all got deleted, so waiting more than 24h has been done :-)

[2020-06-11 10:44] vadmeste commented on #9805
yes, before lifecycle is triggered when you start MinIO server, but then we decided to report it for 24 hours.

What you can do is issue this call: `aws s3api head-object --endpoint http://localhost:9000 --bucket your-bucket --key your-object`, it should show `expiry=time` which predicts when the object will be removed.

[2020-06-11 10:45] vadmeste commented on #9804
I already answered here https://github.com/minio/minio/issues/9805

Could we close this issue ?

[2020-06-11 10:46] markush81 commented on #9805
i am not sure if i get the "when you start MinIO server", lifecycle should executed always right? not just at startup.

ok i'll give it another try with latest version.

[2020-06-11 10:47] markush81 commented on #9804
not sure i get the this right ... so we have to do restarts to get lifecycle executed?

[2020-06-11 10:50] vadmeste commented on #9805
Yes, lifecycle is always executed but once each 24 hours. But, it is not executed immediately after you start your server. You will have to wait 24 hours first.

[2020-06-11 10:54] markush81 commented on #9805
So this is expected behaviour with latest version.

But so far to me it seems old version RELEASE.2020-02-27 behave different in single and cluster mode. But ok maybe we forget old version if new one works.

[2020-06-11 11:04] markush81 commented on #9804
Ok so i did now suggested call in #9804 and wait until expire-time has gone by

[code]

in case it get's deleted by then we can close this ticket.

[2020-06-11 11:04] markush81 commented on #9805
Ok so i did now suggested call in #9804 and wait until expire-time has gone by

[code]

in case it get's deleted by then we can close this ticket.

[2020-06-11 12:06] ebozduman commented on #9746
@theriverman,

I tried a similar scenario with and without a usb stick, but could not succeed to reproduce the issue you've experienced.

On the other side, one thing I've noticed is the ownership of the directory in your failing example:
[code]
So, `minIO.data` directory belongs to user `pi` instead of your user `minio`.
I understand that `touch` command is successful, but could you please just g

[2020-06-11 14:13] phucduong86 opened #9806 "[Question] How to back up and restore access policies"
Hi,

I am currently running ```mc mirror``` to back up my files on the Min.IO storage.
I am just wondering if there is a procedure to backup/restore (custom) access policies that I've set up on the bucket?

Thank you

[2020-06-11 14:21] klauspost commented on #9806
Hi!

You can ask questions on the community slack: https://slack.min.io/

[2020-06-11 14:21] #9806 closed

[2020-06-11 14:48] widdix123 opened #9807 "Minio not working with OIDC"
I get this error when  trying to login via OIDC

[code]

storage/auto/kube360.minio.kustomization/minio-statefulset.yaml
## Expected Behavior

The browser should show buckets and allow adding of buckets etc

## Current Behavior

Blank page with above error

## Possible Solution

Unknown
## Steps to Reproduce (for bugs)

Configure MINIO with OIDC

## Context

## Regression

## Your Environment

* V

[2020-06-11 14:48] widdix123 commented on #9807
![image](https://user-images.githubusercontent.com/38529736/84401305-be4efd00-ac20-11ea-8ceb-7b6eabd14d75.png)

I get this error

[2020-06-11 15:03] phucduong86 commented on #4135
I agree that they are lacking in example.
When you reverse the order of your arguments it would copy the files from the bucket to local.
Here's an example of the command I use:
[code]
Where:
- **$MINIO_ENV** is your Min.IO remote host (eg. 'myminio')
- **$BACKUPS_DIR/$BACKUP_NAME** is the absolute path to your local folder

[2020-06-11 15:11] harshavardhana commented on #9807
These entire questions are left empty can you fill them appropriately?

[2020-06-11 15:19] #9759 closed

[2020-06-11 17:48] ktarplee commented on #9788
I can confirm that I just saw this with RELEASE.2020-06-03T22-13-49Z.  I have seen both case 1 and case 2.  This is pretty important to fix for this mode (nas gateway with etcd) to work properly.  The failure mode is kind of a "brown out" problem where you loose some functionality but not all.

[2020-06-11 17:55] harshavardhana commented on #9788
There is a chicken and egg problem for us, if etcd is not available when the server startups we cannot really enable these handlers because we need an instance of etcd.Client initialized.

etcd.Client library expects the server to be up when we do etcd.Client.New() - handling this would horrible hacks. It is worthwhile to wait for etcd to startup before NAS gateway and you should order them approp

[2020-06-11 18:03] ktarplee commented on #9788
All we are asking is that if the etcd connection fails (during startup or after startup), then minio immediately exits with non-zero exit code.  Minio will be restarted by the supervisor (in k8s this is the replicaset or statefulset).  I'm not seeing why that is difficult.  A re-try would be a pain, but that is not necessary.

[2020-06-11 18:05] harshavardhana commented on #9788
@ktarplee not all deployments use k8s, not all our deployments are container. the design to bring the server up was for availability point of view i.e server is always up.

MinIO cannot expect every user to have k8s or containers deployed. We will explore and see other options are possible..

[2020-06-11 18:10] ktarplee commented on #9788
Any decent service supervisor does this for you.  For example supervisord, initd, and systemd will all try to restart failed services and they use raw processes (no containers).  This does not depend on k8s or containers.

Is there some way to detect this "brown out" failure so we can manually restart minio?

Can we have an environment variable MINIO_ETCD_REQUIRED that when true will kill minio if

[2020-06-11 18:13] ktarplee commented on #9788
I have a question.  When ETCD is not available, what else will fail within Minio?  Does Minio use ETCD for any synchronization that might cause it to not be able to serve users?  I think the secret keys and access keys for users are stored in etcd, right?  Are they cached by Minio so Minio is still functional without etcd but you can't add or remove users?

[2020-06-11 18:31] harshavardhana commented on #9788
etcd is only meant to store credentials and policies etcd is not used for anything else.

[2020-06-11 19:12] ktarplee commented on #9788
Thanks for the response.

So when etcd goes down and Minio stays up, can buckets still be accessed that require credentials.  Does Minio keep a copy of the credentials and policies or does it hit etcd upon every request?  I'm trying to understand how crippled Minio is after it looses a connection to etcd.

Obviously if ETCD is not up before Minio comes up and credentials are stored in etcd, then n

[2020-06-11 20:04] harshavardhana commented on #9788
yes

yes

[2020-06-12 02:33] wangtaowei opened #9812 "Can minio support aliyun oss go sdk which using MIT license file？"
**Is your feature request related to a problem? Please describe.**
minio have removed support for aliyun OSS go sdk because of license file

**Describe the solution you'd like**
Can minio support aliyun  oss go sdk which using MIT license now？
Do aliyun  oss go sdk must have to use the apache license file to be supported ?

**Additional context**
aliyun oss go sdk license file url is below
https:/

[2020-06-12 02:35] harshavardhana commented on #9812
@wangtaowei no we cannot anymore - that ship has sailed, you can use older releases. There are no real interests internally for us anymore.

[2020-06-12 02:35] #9812 closed

[2020-06-12 02:37] harshavardhana commented on #9812
Unless our internal priorities change in the future, until that time we have no interest in officially support It.

[2020-06-12 03:19] harshavardhana commented on #9804
Closing this please re-open if it doesn't delete.

[2020-06-12 03:19] #9804 closed

[2020-06-12 03:20] harshavardhana commented on #9805
Closing this please re-open if it doesn't delete.

[2020-06-12 03:20] #9805 closed

[2020-06-12 03:27] harshavardhana commented on #9657
FS model is kept as is to support importantly two important fundamental requirements

- files/folders are kept as is i.e any future day MinIO can be removed files are still accessible in the backend without any custom migration
- support existing files

This is not possible because multipart sizes can vary i.e each part can be of different sizes according to AWS S3 spec. To keep a generalized appr

[2020-06-12 03:32] harshavardhana commented on #9608
@dpgarrick please upgrade to the latest and let us know if you can still reproduce it.

[2020-06-12 03:35] harshavardhana commented on #9510
We have best practices, these best practices are reflected in the software and do not see why this needs to be changed anywhere for that matter.

This is a design decision, I don't think we would change this behavior.

[2020-06-12 03:35] #9510 closed

[2020-06-12 03:36] harshavardhana commented on #9452
Please test with latest release @acsfer and let us know

[2020-06-12 03:39] harshavardhana commented on #9372
@claytonnog please upgrade to latest and let us know

[2020-06-12 05:33] Srikanthshetty opened #9814 "Minio access key and secret key passing through vault and setting them as environment variable is not working."
## Expected Behavior
I am implementing minio distributed statefulset installation using vault secrets. As per vault documentation to use vault secrets as application environment variable,  secrets file should be sourced during container startup. Sourcing secrets using in statefulset commands not working along with minio startup commands.

my statefulset.yaml
[code]

using above configmap option to

[2020-06-12 05:49] harshavardhana commented on #9814
There is no such thing as MINIO_ACCES_KEY1 its just MINIO_ACCESS_KEY @Srikanthshetty

[2020-06-12 07:39] darkdragon-001 commented on #9657
@harshavardhana Thanks for your detailed explanation!

---

If anyone finds such an option in any file system or the kernel in general, please ping me!

[2020-06-12 07:39] #9657 closed

[2020-06-12 07:52] darkdragon-001 commented on #2111
@harshavardhana `xl` format is the distributed backend (in contrast to `fs` backend)? So this is a requirement for versioning support? (Makes sense IMHO, but I just want to verify).

How are different versions stored? Is the complete file replicated for each version or is some sort of diff format used? If so which one?

[2020-06-12 07:56] darkdragon-001 commented on #8094
Fixed in #9627

This needs to be implemented in your file explorer if I know correctly. Thus I have not seen any website implementing this.

3. Dragging files into prefixes (both Web UI)

This should be tracked in a separate issue.

[2020-06-12 07:57] markmarijnissen commented on #9788
I proposed two solutions for this:

1. retry initialization until it succeeds
2. add a `MINIO_ETCD_REQUIRED` flag

I understand that 1 is not possible due to the fact you need a etcd client instance. I also understand your concerns in making the server crash default behavior. Therefore, the second solution seems easy and viable to implement.

I find operating kubernetes much easier if I avoid orde

[2020-06-12 09:02] vlcinsky commented on #2111
@darkdragon-001 If Minio is supposed to reflect S3 functionality, then the content of stored version shall be functional on its own without adding any extra burden with diffing or so. The S3 API allows to delete particular version and this would make the implementation too complex.

We are using versioning in AWS S3 buckets for years in huge scales (10 years of feeds storing 1440 versions of the s

[2020-06-12 09:21] darkdragon-001 commented on #9654
In addition, Drag&Drop could be used to move files or folders.

[2020-06-12 09:24] klauspost commented on #2111
@vlcinsky Correct. And this is also how it is implemented.

We looked at block based de-duplication (large scale diffs) but decided not to go for it mainly from a complexity standpoint.

[2020-06-12 09:50] Mattacks opened #9817 "WSO2 Quickstart guide inadequate. Not quick."
The WSO2 Quickstart guide inadequate has a paragraph 'Configure an OAuth service provider.'.

The link does not provide enough information to be abke to do this.

If it calls itself a 'Quick start' guide I expect to be able to start quickly, and not spend more than a day (so far) trying to get it to work.

[2020-06-12 10:04] klauspost commented on #9817
@Mattacks Could you elaborate on what you would like to see, or alternatively contribute the information you spent more than a day trying to work out.

This is an Open Source project. You are being given the software for free, so instead of opening un-constructive tickets like this may I suggest you take a more active approach in trying to improve it?

[2020-06-12 10:24] Mattacks commented on #9817
@klauspost Sure. Thanks for picking it up.

I have not got it working yet. If and when I do I will gladly recommend some changes.

As it is, I'm sure the people who wrote the document in the first place must have some more information they can provide. Of course, I have no input into the relative priority of this with other issues.

So, it would be very useful to have some examples of what to fill

[2020-06-12 10:56] klauspost commented on #9817
Thanks for the feedback. I don't have experience with WSO2 setup, but I assume you mean the values in https://github.com/minio/minio/blob/master/docs/sts/wso2.md#4-jwt-claims

As for configuring the WSO2 server you should probably look into the WSO2 documentation itself. We will not duplicate their documentation.

With regard to evaluating/commercial support you can always contact us at `hello@min

[2020-06-12 12:16] Srikanthshetty commented on #9814
Sorry i didnt updated original post. Since it is not loading i just used kubernetes secret with vault secrets to see if vault secrets moved to minio container. I used MINIO_ACCESS_KEY and MINO_SECRET_KEY only and it still not working. I updated the original comment.

[2020-06-12 12:29] alexklu2 opened #9818 "SSL certificate on QNAP MinIO Server"
MinIO Server on QNAP is starting via http so I want to add ssl certificates and start it with https.

A Folder (.minio/certs/) like on the Windows/ Linux Version is not available.
Can this be done with the config.json?

What should the code look like?

[2020-06-12 14:43] harshavardhana commented on #9817
As mentioned by @klauspost setting up WSO2 is out of scope for us.

Alternatively you can also use keycloack as well https://github.com/minio/minio/blob/master/docs/sts/keycloak.md

[2020-06-12 14:43] #9817 closed

[2020-06-12 14:48] mtiller opened #9820 "Helm chart with specified access and secret keys"
## Expected Behavior

If I run:

```helm install test-minio stable/minio -n minio-test --set "persistence.storageClass=local-storage,accessKey=verylongaccesskey,secretKey=verylongsecretkey"```

...I would expect `minio` to be able to use my specified access key and secret key.  But this fails.  I say I would expect it to work because if I just do this:

```helm install test-minio stable/minio -n m

[2020-06-12 15:38] Ebalaitung opened #9821 "Aws-sdk TransferManager produce 412 Error on uploaded multipart files"
We have upgraded Minio from 'RELEASE.2019-02-26T19-51-46Z' to 'RELEASE.2020-05-16T01-33-21Z'

In our application we have a piece of code which uploads folder with jar files to minio via aws-sdk Transfer manager like this:
`transferManager.uploadDirectory(bucket, path, file, true)`

Then we download same folder via:
`MultipleFileDownload download = transferManager.downloadDirectory(bucket, path, fi

[2020-06-12 16:06] harshavardhana commented on #9821
This is fixed in latest release PTAL

[2020-06-12 16:08] harshavardhana commented on #9820
Rotating credentials is not allowed in our helm chart yet, you may need to manually do it for now by writing a full statefulset yaml @mtiller

[2020-06-12 16:30] harshavardhana commented on #9818
on windows, it's at the user home directory @alexklu2 `C:\Users\Myname\.minio\certs`

[2020-06-12 16:31] harshavardhana commented on #9818
Also please use the issue template to correctly describe your issue and list the MinIO version etc. We painfully churn out code for this project the least we ask from the community is to open proper issues that follow our template.

Please keep this in mind next time.

[2020-06-12 16:31] #9818 closed

[2020-06-12 17:15] mtiller commented on #9820
Keep in mind, I'm not rotating it...I'm just setting it from the start.  Also, I discovered that if since I wasn't setting the `mode` parameter, I was running in `standalone` mode (which is pretty much what I want).  But I found that if I switched `mode` to `distributed`, then it actually works.

But I don't fully understand the implications of changing to `distributed` mode.  So I will investigat

[2020-06-12 17:16] harshavardhana commented on #9820
You are not rotating but you already have a claim which has data which was already encrypted with a different credentials.

[2020-06-12 17:17] harshavardhana commented on #9820
This works because the backend already is encrypted with default credentials `minioadmin:minioadmin`

[2020-06-12 17:19] mtiller commented on #9820
I'm really puzzled.  How can you use the Helm chart and use non-default credentials.  I feel like I'm missing something here.

[2020-06-12 17:22] harshavardhana commented on #9820
As I said rotation is not provided yet, you are not aware of that which is fully understandable - choose a different storageClass

Create a new `PV`

[2020-06-12 17:38] Ebalaitung commented on #9821
Could you provide corresponding ticket number?

[2020-06-12 17:50] harshavardhana commented on #9821
[code]

[2020-06-12 18:50] andemi opened #9822 "ETag computes differently each MultipartUpload"
When upload the same file by REQUEST s3.NewMultipartUpload minio computes every time different ETag.

## Expected Behavior

ETag should be identical as it works when works with aws cli.

## Current Behavior

Response of the "REQUEST s3.PutObjectPart" computes different ETags

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create MultipartUpload request
2. Upload 1 or more parts
3. Make

[2020-06-12 18:53] harshavardhana commented on #9822
Use the latest version we moved away from this model @andemi already fixed

[code]

[2020-06-12 18:53] #9822 closed

[2020-06-12 18:58] harshavardhana commented on #9821
Closing this as already fixed. please let us know if you see the issue again.

[2020-06-12 18:58] #9821 closed

[2020-06-12 22:46] harshavardhana commented on #9342
Looks like a stale issue and there has been no conclusive evidence of any regression across other deployments.

[2020-06-12 22:46] #9342 closed

[2020-06-13 00:53] Nilegfx commented on #9820
I just faced the similar problem and this issue helped me indirectly with the hint of (data already encrypted, and create new PV) however, this is not straight forward and even not documented.

it took me a couple of hours to reach this issue and those hours were an absolute waste of time.

I would suggest adding more details about secrets and how the data is being encrypted in the helm readme

**

[2020-06-13 00:53] Nilegfx commented on #9820
I just faced a similar problem and this issue helped me indirectly with the hint of (data already encrypted, and create new PV) however, this is not straight forward and even not documented.

it took me a couple of hours to reach this issue and those hours were an absolute waste of time.

I would suggest adding more details about secrets and how the data is being encrypted in the helm readme

**an

[2020-06-13 00:57] harshavardhana commented on #9820
@Nilegfx it is already documented here https://github.com/minio/minio/tree/master/docs/config#rotating-encryption-with-new-credentials

It is not present in helm and in helm we do not support rotating the credentials yet.

[2020-06-13 00:58] harshavardhana commented on #9820
This is used for launching https://github.com/minio/mc

[2020-06-13 01:13] mtiller commented on #9820
@Nilegfx Glad it helped. I also eventually figured out my issue. The minio flies being stored in the PVC are all hidden. So it was not obvious what was getting left behind Between installs (it looked like nothing was).

I do agree with you on documentation, BTW. While it is true that several links were provided here with information, they were mere dots and more documentation is really needed to c

[2020-06-13 01:13] #9820 closed

[2020-06-13 02:00] harshavardhana commented on #9820
@nitisht ^^ about rotating keys

[2020-06-13 03:02] Nilegfx commented on #9820
@harshavardhana thanks for your answer, however, it still didn't clarify the confusion nor acknowledging it.

[2020-06-13 03:04] #2111 closed

[2020-06-13 05:55] andemi commented on #9822
Hello @harshavardhana!
I've updated minio to this version 2020-06-12T00:06:19Z
and ETag for 1 part file is the same, but for big file like 18 parts its not!